    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

<!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Wynta Player Management Console</span>
            </div>
          </div>
        </footer>
		
		
		<!-- Bootstrap core JavaScript-->
    <script src="/static_files/pmc-styles/js/jquery.min.js"></script>
	
	<script src="/static_files/pmc-styles/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static_files/pmc-styles/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static_files/pmc-styles/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="/static_files/pmc-styles/js/demo/datatables-demo.js"></script>
    
	
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
 
 
 	<script type="text/javascript" src="/static_files/pmc-styles/js/jquery.validate.js"></script>
 
 <!-- Page level plugin JavaScript-->
    <script src="/static_files/pmc-styles/vendor/chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> 
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.32/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script> 
    <script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
  

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>


<!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-default cancelBg" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-orange text-white" onclick="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
	
	<div id="cover" style="display:none;"></div>
	
	<script>
	
$('.dropdown').on('show.bs.dropdown', function(e){
  $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
});

$('.dropdown').on('hide.bs.dropdown', function(e){
  $(this).find('.dropdown-menu').first().stop(true, true).slideUp(200);
});

$(".sidebar .nav-item a").each(function() {
    if ((window.location.pathname.indexOf($(this).attr('href'))) > -1) {
        $(this).addClass('activeMenuItem');
    }
});
	
	$(".dropdown-menu a").each(function() {
    if ((window.location.pathname.indexOf($(this).attr('href'))) > -1) {
        //$(this).addClass('activeMenuItem');
		$(this).closest('li').addClass("active").addClass('show');
		$(this).closest('li').find('.dropdown-menu').addClass('show');
    }

     
});

</script>
	
	<script>
	
$(document).ready(function(){
	$("#sidebarToggle").click(function(){

 if ($('.sidebar-toggled').is(':visible') ) {
 $("#cover").show();
 }

 else {
 $("#cover").hide();
 }
  
});

$(".sidebar .nav-item").on('click',  function(ele){
	$(".sidebar .nav-item").removeClass('active');
	$(".sidebar .nav-item").find('.dropdown-menu').removeClass('show').removeClass('active');
});



});
</script>


</div>
	
<script>

function logout(){
	window.localStorage.clear();
	window.location.href="/pmc/logout";
}

$(document).ready(function(){

});


</script>

		
		<script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
		"alwaysShowCalendars": true,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

});
</script>



<script LANGUAGE="JavaScript">
function validation()
{
if(document.login.type.selectedIndex== "")
{ 
$('.show-hide').show();
return false;
}
return true;	
}
</script>


<script type="text/javascript">

$(document).ready(function(){

 $(function() {
  $('.body-hidden').click(function() {
   if( $(".show-sidebar").is(":visible") ) {
    $("body").css('position' , 'fixed');
   }
   else
   {
    $("body").css('position' , 'relative');
   }
   });
  });

		$("#remove-overlay").removeClass("overlay");
		
});


</script>

<script type="text/javascript">


		$( document ).ready( function () {
		
			
   $('#selectsite').change(function() {
		$('.show-hide').hide();
 });
					
		} );
	</script>
	
	<script>
// Code goes here
//'use strict'
//window.onload = function(){
 // var tableCont = document.querySelector('#player_data')
  /**
   * scroll handle
   * @param {event} e -- scroll event
   */
 // function scrollHandle (e){
 //   var scrollTop = this.scrollTop;
 //   this.querySelector('thead').style.transform = 'translateY(' + scrollTop + 'px)';
 // }
  
 // tableCont.addEventListener('scroll',scrollHandle)
//}
</script>
