
<div class="overlay" id="remove-overlay"></div>

<nav class="navbar navbar-expand navbar-dark bg-orange static-top">

      <a class="navbar-brand mr-1 logo-web" href="/pmc/index">
	  <img src="/static_files/pmc-styles/images/pmc_logo.svg" Alt="logo" class="logo_width"/>
	  </a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0 menu_icon d-lg-none d-md-none" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>
	  

      
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item dropdown no-arrow mx-1"> -->
          <!-- <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
            <!-- <img src="/static_files/pmc-styles/images/pmc_support.svg" class="image-width" /> -->
            
          <!-- </a> -->
          <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"> -->
            <!-- <a class="dropdown-item" href="#">Contact Us</a> -->
          <!-- </div> -->
        <!-- </li> -->
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/static_files/pmc-styles/images/pmc_user.svg" class="image-width" />
            
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
        <!-- <li class="nav-item dropdown no-arrow d-none d-sm-block"> -->
          <!-- <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
            <!-- <img src="/static_files/pmc-styles/images/pmc_notify.svg" class="image-width" /> -->
          <!-- </a> -->
          <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown"> -->
            <!-- <a class="dropdown-item" href="#">Settings</a> -->
            <!-- <a class="dropdown-item" href="#">Activity Log</a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a class="dropdown-item" href="/pmc/logout" data-toggle="modal" data-target="#logoutModal">Logout</a> -->
          <!-- </div> -->
        <!-- </li> -->
		 <!-- <li class="nav-item dropdown no-arrow d-none d-sm-block"> -->
          <!-- <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
            <!-- <img src="/static_files/pmc-styles/images/pmc_sidebar_open.svg" class="image-width" /> -->
          <!-- </a> -->
          <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown"> -->
            <!-- <a class="dropdown-item" href="#">Settings</a> -->
            <!-- <a class="dropdown-item" href="#">Activity Log</a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a> -->
          <!-- </div> -->
        <!-- </li> -->
      </ul>

    </nav>
	
	