<!-- Sidebar -->   
<nav class="sidebarnav">

<div class="sideScroll">

	 <ul class="sidebar navbar-nav" id="sticky-sidebar">
        <li class="nav-item">
          <a class="nav-link itemd" href="/pmc/index">
            <img src="/static_files/pmc-styles/images/home_menu.svg" class="menu-image-width" />
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/static_files/pmc-styles/images/player_management_menu.svg" class="menu-image-width" />
            <span>Player Management</span>
          </a>
          <div class="dropdown-menu sidebar-dropdown" aria-labelledby="pagesDropdown">
            <a class="dropdown-item itemd" href="/pmc/search">Search Players</a>
            <!--<a class="dropdown-item itemd" href="/pmc/bsearch">Bulk Search</a>-->
			<!-- <a class="dropdown-item itemd" href="/pmc/profile">Player Profile</a> -->
            <a class="dropdown-item itemd" href="/pmc/player-registration">Player Registrations</a>
            <a class="dropdown-item itemd" href="/pmc/player-financials">Player Financials</a>
            <a class="dropdown-item itemd" href="/pmc/player-games">Player Games</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/static_files/pmc-styles/images/player_report_menu.svg" class="menu-image-width" />
            <span>Player Reports </span>
          </a>
          <div class="dropdown-menu sidebar-dropdown" aria-labelledby="pagesDropdown">
            <!-- <a class="dropdown-item itemd" href="/pmc/blocked-logs">Blocked Logs</a> -->
            <a class="dropdown-item itemd" href="/pmc/device-report-h">Device Report</a>
			<a class="dropdown-item itemd" href="/pmc/player-report-h">Player Report</a>
			<a class="dropdown-item itemd" href="/pmc/player-daily-report-h">Player Daily Report</a>
            <!-- <a class="dropdown-item itemd" href="/pmc/reactivation-report">Reactivation Report</a> -->
            <!-- <a class="dropdown-item itemd" href="/pmc/player-birthday-report">Player Birthday Report</a>  -->
            <!-- <a class="dropdown-item itemd" href="/pmc/player-attrition-report">Player Attrition Report</a>  -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/static_files/pmc-styles/images/financial_menu.svg" class="menu-image-width" />
            <span>Financials</span>
          </a>
          <div class="dropdown-menu sidebar-dropdown" aria-labelledby="pagesDropdown">
            <a class="dropdown-item itemd" href="/pmc/daily-summary">Daily Summary</a>
            <a class="dropdown-item itemd" href="/pmc/daily-depositors">Daily Depositors</a>
            <a class="dropdown-item itemd" href="/pmc/financial-report">Financial Report</a>
            <a class="dropdown-item itemd" href="/pmc/country-summary">Country Summary</a>
            <a class="dropdown-item itemd" href="/pmc/liability-report">Liability Report</a>
          </div>
        </li>
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/static_files/pmc-styles/images/reports_menu.svg" class="menu-image-width" />
            <span>Reports</span>
          </a>
          <div class="dropdown-menu sidebar-dropdown" aria-labelledby="pagesDropdown">
            <a class="dropdown-item itemd" href="/pmc/last-logins">Last Logins</a>
            <a class="dropdown-item itemd" href="/pmc/revenue">Revenue</a>
            <!-- <a class="dropdown-item itemd" href="/pmc/email-reports">Email Reports</a> -->
            <!-- <a class="dropdown-item itemd" href="/pmc/sms-reports">SMS Reports</a>  -->
            <a class="dropdown-item itemd" href="/pmc/games-stats">Games Stats</a> 
			<a class="dropdown-item itemd" href="/pmc/bonus-stats">Bonus Stats</a>
          </div>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/static_files/pmc-styles/images/crm_menu.svg" class="menu-image-width" />
            <span>CRM (New)</span>
          </a>
          <div class="dropdown-menu sidebar-dropdown" aria-labelledby="pagesDropdown">
            <!-- <a class="dropdown-item itemd" href="/pmc/email-lists">Email Lists</a> -->
            <a class="dropdown-item itemd" href="/pmc/reports-summary">Reports Summary</a>
          </div>
        </li>
		
		<li class="nav-item dropdown avoid-clicks">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/static_files/pmc-styles/images/operator_console_menu.svg" class="menu-image-width" />
            <span>Operator Console </span>
          </a>
          <div class="dropdown-menu sidebar-dropdown" aria-labelledby="pagesDropdown">
            <a class="dropdown-item itemd" href="/pmc/role-management">Role Management</a>
            <a class="dropdown-item itemd" href="/pmc/notification-alerts">Notifications & Alerts</a>
          </div>
        </li>
		
		<li class="nav-item dropdown avoid-clicks">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/static_files/pmc-styles/images/aff_manag_menu.svg" class="menu-image-width" />
            <span>Affiliate Mgmt</span>
          </a>
          <div class="dropdown-menu sidebar-dropdown" aria-labelledby="pagesDropdown">
            <!-- <a class="dropdown-item itemd" href="/pmc/affiliate-search">Affiliate Search</a> -->
            <a class="dropdown-item itemd" href="/pmc/create-affiliate">Create Affiliate</a>
            <a class="dropdown-item itemd" href="/pmc/affiliate-report">Affiliate Reports</a>
          </div>
        </li>
		
		<li class="nav-item dropdown avoid-clicks">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/static_files/pmc-styles/images/complaince_menu.svg" class="menu-image-width" />
            <span>Compliance (New)</span>
          </a>
          <div class="dropdown-menu sidebar-dropdown" aria-labelledby="pagesDropdown">
            <a class="dropdown-item itemd" href="/pmc/settlement-reports">Settlement Reports</a>
            <a class="dropdown-item itemd" href="/pmc/contracts">Contracts</a>
          </div>
        </li>
		
		<li class="nav-item dropdown avoid-clicks">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/static_files/pmc-styles/images/acc_manag_menu.svg" class="menu-image-width" />
            <span>Account Mgmt (New)</span>
          </a>
          <div class="dropdown-menu sidebar-dropdown" aria-labelledby="pagesDropdown">
            <a class="dropdown-item itemd" href="/pmc/overview">Overview</a>
            <a class="dropdown-item itemd" href="/pmc/active-users">Active Users</a>
			<a class="dropdown-item itemd" href="/pmc/account-managers">Account Managers</a>
            <a class="dropdown-item itemd" href="/pmc/account-activities">Account Activities</a>
          </div>
        </li>
      </ul>
	  
	  </div> <!-- End of Side Scroll -->
	  
	  </nav>
	  