<style>
select {-webkit-appearance: none; -moz-appearance: none;}
	select::-ms-expand {
    display: none;
}
.select-box-one {background:none !important; border:none !important; color:#fff;}
.fa-angle-down {color:#fff; font-size:16px !important;}
.user-info-menu>li>a i {font-size:16px !important;}
	
.user-info-navbar .user-info-menu>li>a {
    top: -37px !important;
    left: -30px;
}
.contact-white {color:#fff;}
.user-info-navbar {height:50px !important;}
.user-info-navbar .user-info-menu.right-links {margin-top:-9px;}
.user-info-navbar .user-info-menu>li .dropdown-menu.user-profile-menu { margin-top: -1px !important;
    width: 65%;
    margin-right: 60px;}
	.user-profile {height:10px !important; min-height:30px !important;}
.left-adjust-drops {margin-right:-28px !important;}
.user-info-navbar .user-info-menu>li>a:hover {color:#19b8f8 !important;}
.user-profile-menu {background:#3f4a56 !important;}
.user-info-navbar .user-info-menu>li .dropdown-menu.user-profile-menu li a {color:#fff !important;}
.user-info-navbar .user-info-menu>li .dropdown-menu.user-profile-menu li:hover {background:#4e5c6b !important;}
.header-top-logo-mobile {width:174px !important;}
</style>

<div class="navbar-fixed-top">

<div class="page-logo my-logo">
			 
			 <span class="white-color" id="siteselect">{{platform}}</span>
			<!-- <div class="logo" style="">
						<a class="logo-expanded">
							<img src="/static_files/images/fozilp-full-logo.svg"  alt="" class="" />
						</a>
		
						<a class="logo-collapsed click-show-sites">
							<img src="/static_files/images/fozilp-logo.png" width="38" alt="" />
							<i class="fa fa-caret-down drop-menu-icon" aria-hidden="true"></i>
						</a>
					</div> -->
		
		</div>
		
		

<nav class="navbar user-info-navbar"  role="navigation"><!-- User Info, Notifications and Menu Bar -->
			
		<!-- <div class="all-sites-select">
		
		<div class="mobile-show-sites">
		
			<i class="fa fa-caret-down drop-menu-icon" aria-hidden="true"></i>
		
		</div> 
		
		<a class="click-show-sites">
		<span class="white-color" id="siteselect"></span>
							<i class="fa fa-angle-down drop-menu-icon" aria-hidden="true"></i>	</a>	
		</div>  -->
			
			
				<!-- Right links for user info navbar -->
				<ul class="user-info-menu right-links list-inline list-unstyled">
							<li class="search-form">

					<li class="dropdown user-profile">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa-user width-adjust-right" style="width:13px; font-size:13px"></i><!-- <img src="/static_files/assets/images/user-2.jpg" alt="user-image" class="img-circle img-inline userpic-32" width="28" /> -->
							<span>
								<br> {{request.user.email}}
								
								<i class="fa-angle-down" style="position:relative; top:2px;"></i>
							</span>
						</a>
			
						<ul class="user-profile-menu list-unstyled dropdown-menu">
							<!-- <li>
								<a href="/affiliate/edit-profile/">
									<i class="fa-user width-adjust-right"></i>
									Profile
								</a>
							</li> -->
							<!-- <li>
								<a href=".">
									<i class="fa-info width-adjust-right"></i>
									Help
								</a>
							</li> -->
							<li class="last">
								<a href="/admin/logout/">
									<i class="fa-sign-out width-adjust-right"></i>
									Logout
								</a>
							</li>
						</ul>
					</li> 
			
				</ul>
			
			</nav>
			
			<div class="web-menu" style="display:none;">
					<ul class="user-info-menu left-links list-inline list-unstyled">
			
					<li class="hidden-sm hidden-xs">
						<a href="#" data-toggle="sidebar" style="">
							<i class="fa-bars fa-icon-bars" style=" position: relative;
    left: -1px;
    top: 7px;
    color: #fff;
    background: gray;
    padding: 6px;
    border-radius: 3px;"></i>
						</a>
					</li>
			
					<!-- Added in v1.2 -->
					
					
			
				</ul>
				
				
				</div> <!-- Web Menu -->
				
				
				
				
				
		
					<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
					<div class="mobile-menu-toggle visible-xs">
						<!-- <a href="" data-toggle="user-info-menu">
							<i class="fa-bell-o"></i>
							<span class="badge badge-success">7</span>
						</a> -->
		
						<a href="" data-toggle="mobile-menu">
							<i class="fa-bars fa-mobile-menu"></i>
						</a>
					</div>
			
			
	</div>