<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Tajrummy</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

<link href="/static_files/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/static_files/css/style.css" rel="stylesheet" type="text/css" />
   <link href="/static_files/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>
<script src="/static_files/js/jquery-ui.min.js"></script> 

<script type='text/javascript' src="/static_files/js/export_table_to_csv.js"></script>

</head>

<body class="aff_body">

<!--HEADER STARTS HERE-->
<div align="center">

{% include "affiliates/header_affiliates.html" %}

</div>


</div>
<!--HEADER ENDS HERE-->


<div align="center">

<div id="Top_inner_page_body">
<div class="affiliates_block">

<div class="main">

{%if obj%}

<p align="left" class="Body_header aff_title">AFFILIATE CAMPAIGN LINKS</p><br/><br/>
<!-- DATEFILTER -->
<p>
<form action="/affiliates/affiliate_campaign_links/" method="POST" name="test" id="touneyTxnForm" style="float:left;">
{% csrf_token %}
{%if error_message%}
<p style="color:red !important;">{{error_message}}</p>
{%endif%}
<p>New Campaign Name :&ensp;&ensp;<input type="text" name="linkname" value=""><br/>
<input type="submit" class="sub_bu11" style="float:left; margin-top:9px;" value="Create Link"/>
<input type="reset" class="sub_bu11" style="float:left; margin:9px;" value="Clear" id="transaction_form_reset_btn"/>
</form>
</p></p>
<!-- DATEFILTER -->

<!--<img width="980" height="24" src="/static_files/images/Taj_rummy_line_2.png" style="float:left;">-->
<div class="clear"></div>

<div style="width: 100%;" id="export_linksDIV"">
<br/><br/>
{%if links%}
<a href="#" class="sub_bu11" style="float:left; font-family:monospace; padding-top:10px; text-decoration:none; width:100px; font-size:17px;">ExportCSV</a><br/>
{%endif%}
<br/>
<table cellspacing="0" cellpadding="0" class="aff_financial">

<tr>
	<th>Affiliate ID</th>
    <th>Affilaite Name</th>
    <th>Campaign ID</th>
    <th>Campaign Name</th>
    <th>Campaign Link</th>
</tr>
{%for i in links%}
<tr>
    <td>{{i.fk_affiliateinfo.id}}</td>
    <td>{{i.fk_affiliateinfo.username}}</td>
    <td>{{i.id}}</td>
    <td>{{i.name}}</td>
    <td>{{i.link}}</td>
</tr>
{%endfor%}

</table>
</div>

{%endif%}

<!-- DEPOSIT PLAYERS -->
<script type='text/javascript'>
        $(document).ready(function () {
 
            // This must be a hyperlink
            $("#export_links").click(function (event) {
                // var outputFile = 'export'
               // CSV
        		exportTableToCSV.apply(this, [$('#export_linksDIV>table'), 'affiliate_campaign_links']);
        		// IF CSV, don't do event.preventDefault() or return false
        		// We actually need this to be a typical hyperlink
            });
        });
</script>
</div>
</div>

</div>

</div>


<!--FOOTER STARTS HERE-->
<div align="center" id="Footer">
<div class="Footer_inner">
{% include "affiliates/footer_affiliates.html" %}
</div>
</div>
<!--FOOTER ENDS HERE-->


</body>
</html>
