<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Tajrummy</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

<link href="/static_files/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/static_files/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static_files/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>
<script src="/static_files/js/jquery-ui.min.js"></script>
<script type='text/javascript' src="/static_files/js/export_table_to_csv.js"></script>
<style>
input, select{
	width:148px;
	height:15px;
}
.ui-datepicker { height:210px;width:250px;font-size:14px; }
.details-box{width:960px;}
.details { width:100%; height:auto; padding:5px !important; float:left;
 border:1px solid #ccc; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;
 font-family:"franklin_gothic_mediumregular";font-size:14px;}
.details th { width:140px;font-size:16px;}
.row-wise { padding:5px; display:block;}


.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
	width: 49% !important;
    height: 22px !important;
    font-size: 13px !important;
}
</style>
</head>

<body class="aff_body">

<!--HEADER STARTS HERE-->
<div align="center">

{% include "affiliates/header_affiliates.html" %}

</div>


</div>
<!--HEADER ENDS HERE-->


<div align="center">



{%if not obj%}
<div id="Top_inner_page_body1" style="padding:40px 0px 0px !important; height:340px !important; border-left:none !important;">
</p>{%endif%}




<div id="Top_inner_page_body">
<script>
function display_players(input){
	var divEleID = "";
	if (input == "register"){
		$("#PlayerDepositsDiv").hide();
		divEleID = "PlayerDiv";
	}
	else{
		$("#PlayerDiv").hide();
		divEleID = "PlayerDepositsDiv";
		
	}
	if (!$("#"+divEleID).is(":visible")){
		document.getElementById(divEleID).style.display = "";
		var height = $("#Tb_"+divEleID).height()+900;
		height = height+"px";
		$("#Top_inner_page_body").css({"height": height});
	}
}
</script>
<script type="text/javascript">
$(document).ready(function() {
	if($("#id_date").val() == "Custom"){
		$('#id_datepicker1').show();
        $('#id_datepicker2').show();
	}
	$("#id_date").change(function() {
		if($(this).val() == "Custom"){
			$('#id_datepicker1').show();
			$('#id_datepicker2').show();
		}
		else{
			$('#id_datepicker1').hide();
			$('#id_datepicker2').hide();
		}
	});
});
</script>
<script>
$(function() {
	$( "#id_datepicker1" ).datepicker({changeYear: true,changeMonth:true, dateFormat:'dd/mm/yy'});
	$( "#id_datepicker2" ).datepicker({changeYear: true,changeMonth:true, dateFormat:'dd/mm/yy'});
});
</script>
<div class="main_Menu aff_menu">

{%if not obj%}
<p style=" line-height: 48px; margin-left: 20px;">Affiliate Login
</p>{%endif%}



</div>

<div class="affiliates_block">

<div class="main">



{% if not obj %}
Please Login <br/>
{%endif%}



{%if obj%}

<p align="left" class="Body_header aff_title">Financials</p><br/><br/>
<!-- DATEFILTER -->
<p><form action="/affiliate_campaign_financial/" method="POST" name="test" id="touneyTxnForm" style="float:left;">
{% csrf_token %}
   <p>Date Filter&nbsp;&nbsp;<select id="id_date" name="date" style="height:25px;">
<option value="Today" {%if custom == "Today"%} selected="selected"{%endif%}>Today</option>
<option value="Yesterday"{%if custom == "Yesterday"%} selected="selected"{%endif%}>Yesterday</option>
<option value="WeekTildate"{%if custom == "WeekTildate"%} selected="selected"{%endif%}>WeekTildate</option>
<option value="Last 15 Days"{%if custom == "Last 15 Days"%} selected="selected"{%endif%}>Last 15 Days</option>
<option value="Last 30 Days"{%if custom == "Last 30 Days"%} selected="selected"{%endif%}>Last 30 Days</option>
<option value="Last 45 Days"{%if custom == "Last 45 Days"%} selected="selected"{%endif%}>Last 45 Days</option>
<option value="MonthTilldate"{%if custom == "MonthTilldate"%} selected="selected"{%endif%}>MonthTilldate</option>
<option value="Custom" {%if custom == "Custom"%} selected="selected"{%endif%}>Custom</option>
</select>
<input placeholder='Fromdate' type="text"  id='id_datepicker1' name="datepicker1" style="display:none;margin-top:10px;">
<input placeholder='Todate' type="text"  id='id_datepicker2' name="datepicker2" style="display:none;">
</p>
<input type="submit" class="sub_bu11" style="float:left; margin-top:9px;" value="Search"/>
<input type="reset" class="sub_bu11" style="float:left; margin:9px;" value="Clear" id="transaction_form_reset_btn"/>
</form></p>
<!-- DATEFILTER -->

<!--<img width="980" height="24" src="/static_files/images/Taj_rummy_line_2.png" style="float:left;">-->
<div class="clear"></div>

<br/>
<div class="details-box">
 <table class="details"/>
  <tr class="row-wise"> 
   <th>Period :</th>
   <td>{{from_date}}  To  {{to_date}}</td>
  </tr>
  
  <tr class="row-wise"> 
   <th>Affiliate Details :</th>
   <td>{{obj.id}} - {{obj.username}}</td>
  </tr>
  <tr class="row-wise"> 
   <th>Revenue Share (%) :</th>
   <td>{{revsharepercent}}</td>
  </tr>
 </table>
</div>
 
<div class="aff_table2" id="AffiliateFinancials">

<p align="left" class="Body_header aff_title" style="font-size: 15px;">AFFILIATE FINANCIALS</p><br/>
{%if affiliate_info%}
<a href="#" id="export_affiliate" class="sub_bu11" style="float:left; font-family:monospace; padding-top:10px; text-decoration:none; width:142px; font-size:17px;">Export To CSV</a>
{%endif%}<br/> <br/>
<table cellspacing="0" cellpadding="0" class="aff_financial">
<tbody>

<tr> <th style="border-left: 1px solid #000000;width:100px;">Affiliate Name</th>
<!--   <th style="width:100px;">Clicks</th> -->
<th style="width:100px;">Registrations</th>
 <th style="width:100px;">Logins</th>
 <th style="width:100px;">UniqueLogins</th>
<th style="width:100px;">Acquisitions</th>
<th style="width:100px;">Deposits</th>
<th style="width:100px;">Withdrawals</th>
<!--  <th style="width:100px;">Revenue Share Percent(%)</th> -->
<th style="width:100px;">CPA</th>
<th style="width:100px;">CPR</th>
<!--  <th style="width:100px;">Adjustments</th> -->
<th style="width:80px;">Revenue</th><th>Accurals</th></tr>

{%for aff in affiliate_info%}
    <tr>
        <td>{{aff.username}}</td>
        <!-- <td>{{aff.hitcount}}</td> -->
        <td><a href="#registeredplayers" onclick="display_players('register');">{{aff.registration}}</a></td>
        <td>{{aff.affiliate_logins}}</td>
    	<td>{{aff.affiliate_uniquelogins}}</td>
    	<td><a href="#depositplayers" onclick="display_players('deposits');">{{aff.firsttimeobj}}</a></td>
    	<td>{{aff.sumdeposit}}</td>
    	<td>{{aff.sumwithdrawl}}</td>
    	<!--  <td>{{aff.revsharepercent}}</td> -->
    	<td>{{aff.cpa}}</td>
    	<td>{{aff.cpr}}</td>
    	<!-- <td>{{aff.adjustments}}</td> -->
    	<td>{{aff.total}}</td>
    	<td>{{aff.net}}</td>
    </tr>
 {%endfor%}
</tbody>
</table>

</div>


<div class="clear"></div>

<div class="aff_table2" id="CampaignFinancials">

<p align="left" class="Body_header aff_title" style="font-size: 15px;">CAMPAIGNS FINANCIALS</p><br/>
{%if affiliate_info%}
<a href="#" id="export_campaign" class="sub_bu11" style="float:left; font-family:monospace; padding-top:10px; text-decoration:none; width:142px; font-size:17px;">Export To CSV</a>
{%endif%}<br/><br/>
<table cellspacing="0" cellpadding="0" class="aff_financial">
<tbody>

<tr> 
	<th style="border-left: 1px solid #000000; width:100px;">Campaign ID</th>
	 <th style="width:100px;">Clicks</th> 
	<th style="width:100px;">Registrations</th>
	<th style="width:100px;">Logins</th>
 	<th style="width:100px;">UniqueLogins</th>
	<th style="width:100px;">Acquisitions</th>
	<th style="width:100px;">Deposits</th><th>Withdrawals</th><!--  <th>Revenue Share %</th> -->
	<th style="width:100px;">CPA</th>
	<th style="width:100px;">CPR</th>
	<!--  <th style="width:100px;">Adjustments</th> -->
	<th style="width:100px;">Revenue</th>
	<th style="width:80px;">Accruals</th>
</tr>
{%for i in campaign_info%}
<tr>
    <td>{{i.id}}</td>
     <td>{{i.campaignhitcount}}</td> 
    <td>{{i.campaignregistration}}</td>
    <td>{{i.campaign_logins}}</td>
    <td>{{i.campaign_uniquelogins}}</td>
    <td>{{i.campaignsingletime}}</td>
    <td>{{i.campaignsumdeposit}}</td>
    <td>{{i.campaignsumwithdrawl}}</td>
    <!--<td>{{i.revsharepercent}}</td> -->
    <td>{{i.campaigncpalist}}</td>
    <td>{{i.campaigncprlist}}</td>
    <!--   <td>{{i.campaignrealadjustment}}</td> -->
    <td>{{i.campaigntotal}}</td>
    <td>{{i.campaignnet}}</td>
</tr>
{%endfor%}
</tbody>
</table>

</div>

<div class="clear"></div>


</div>


{%if player_objs_list%}
<!--  PLAYERS -->
<div id="PlayerDiv" style="display:none;">
<p align="left" class="Body_header aff_title" style="font-size: 15px;"><a id="registeredplayers">Registered Players :</a></p><br/>

<a href="#" id="export" class="sub_bu11" style="float:left; font-family:monospace; padding-top:10px; text-decoration:none; width:142px; font-size:17px;">Export To CSV</a><br/><br/>
<!--<img width="980" height="24" src="/static_files/images/Taj_rummy_line_2.png" style="float:left;">-->
<div class="clear"></div>
<div class="aff_table2" id="Tb_PlayerDiv">

<table cellspacing="0" cellpadding="0" class="aff_financial">
<tbody>

<tr> <th style="border-left: 1px solid #000000;width:100px;">PlayerID</th>
<th style="width:100px;">Username</th>
<th style="width:100px;">RegisteredDate</th>
<th style="width:100px;">Verified</th>
<th style="width:100px;">IPAddress</th>
<th style="width:100px;">State</th>
<th style="width:100px;">Validity</th></tr>
{%for player in player_objs_list %}
<tr>
<td>{{player.id}}</td>
<td>{{player.username}}</td>
<td>{{player.registeredon}}</td>
<td>{{player.verified}}</td>
<td>{{player.creationip}}</td>
<td>{{player.state__statename}}</td>
<td>{{player.validity}}</td>

</tr>

{%endfor%}
{%endif%}
</tbody>
</table>

</div>

</div>

<!-- PLAYERS -->
{%if firsttime_depositors_list%}
<!--  DEPOSIT PLAYERS -->
<div id="PlayerDepositsDiv" style="display:none;">
<p align="left" class="Body_header aff_title" style="font-size: 15px;"><a id="depositplayers">Deposited Players :</a></p><br/>
<a href="#" id="deposits_export" class="sub_bu11" style="float:left; font-family:monospace; padding-top:10px; text-decoration:none; width:142px; font-size:17px;">Export To CSV</a><br/><br/>
<!--<img width="980" height="24" src="/static_files/images/Taj_rummy_line_2.png" style="float:left;">-->
<div class="clear"></div>
<div class="aff_table2" id="Tb_PlayerDepositsDiv">

<table cellspacing="0" cellpadding="0" class="aff_financial">
<tbody>

<tr> <th style="border-left: 1px solid #000000;width:100px;">PlayerID</th>
<th style="width:100px;">Username</th>
<th style="width:100px;">RegisteredDate</th>
<th style="width:100px;">State</th>
<th style="width:100px;">Deposits Count</th>
<th style="width:100px;">Validity</th></tr>

{%for dep_player in firsttime_depositors_list %}
<tr>
<td>{{dep_player.playerid_id}}</td>
<td>{{dep_player.playerid__username}}</td>
<td>{{dep_player.playerid__registeredon}}</td>
<td>{{dep_player.playerid__state__statename}}</td>
<td>{{dep_player.playerid__deposits}}</td>
<td>{{dep_player.validity}}</td>

</tr>

{%endfor%}
{%endif%}
</tbody>
</table>

</div>
{%endif%}
</div>
<!-- DEPOSIT PLAYERS -->
<script type='text/javascript'>
        $(document).ready(function () {
        	id="CampaignFinancials"
 
            // This must be a hyperlink
            $("#export_affiliate").click(function (event) {
                // var outputFile = 'export'
               // CSV
        		exportTableToCSV.apply(this, [$('#AffiliateFinancials>table'), 'Affiliate_Financials']);
        		// IF CSV, don't do event.preventDefault() or return false
        		// We actually need this to be a typical hyperlink
            });
            
            $("#export_campaign").click(function (event) {
                // var outputFile = 'export'
               // CSV
        		exportTableToCSV.apply(this, [$('#CampaignFinancials>table'), 'Campaign_Financials']);
        		// IF CSV, don't do event.preventDefault() or return false
        		// We actually need this to be a typical hyperlink
            });
            
            $("#export").click(function (event) {
                // var outputFile = 'export'
               // CSV
        		exportTableToCSV.apply(this, [$('#Tb_PlayerDiv>table'), 'Affiliate_Players']);
        		// IF CSV, don't do event.preventDefault() or return false
        		// We actually need this to be a typical hyperlink
            });
            
            $("#deposits_export").click(function (event) {
                // var outputFile = 'export'
               // CSV
        		exportTableToCSV.apply(this, [$('#Tb_PlayerDepositsDiv>table'), 'Deposited_Players']);
        		// IF CSV, don't do event.preventDefault() or return false
        		// We actually need this to be a typical hyperlink
            });
        });
</script>
</div>
</div>

</div>

</div>


<!--FOOTER STARTS HERE-->
<div align="center" id="Footer">
<div class="Footer_inner">
{% include "affiliates/footer_affiliates.html" %}
</div>
</div>
<!--FOOTER ENDS HERE-->


</body>
</html>
