<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}- Payment Details</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 
    <style type="text/css">
    
    
.col-md-12 {
    padding-right: 15px !important;
}

.btn-single {left:0px !important; width:100% !important; top:-15px;}
.full-width-submit {}

.form-actions {padding-left:15px;}
.btn-success {width:80%;}

.user-info-navbar .user-info-menu>li.user-profile>a {border:none !important;}

.panel .panel-body {padding-top:0px;}

.form-control {}

.panel {margin-top:8px !important;}

.fa-copy {    font-size: 16px !important;
    position: relative;
    cursor: pointer;
    left: -43px;
    color: #ffffff;
    background: #36a9e1;
    padding: 12px;
  }
  
 .table>tbody>tr>td, .table>tfoot>tr>td, .table>tbody>tr>th, .table>tfoot>tr>th{border-bottom:none !important;}
  
  #messageiddiv{
  margin-top: -23px;
    width: 100%;
    margin-left: 38px;
  }
  .btn-popup-display {margin-left:23px; width:140px;}
  
    @media only screen and (max-width: 765px) { 
    
    .btn-popup-display {margin-left:0px !important; width:140px;}
    
    }
    
    .table_header_background tr td { border-bottom:none !important;
    vertical-align: middle !important;}
    
    .hr-line-big {width:100%; display:block; background:#ccc; height:2px;}
    
    .bootstrap-select dropup { border: 1px solid #e4e4e4;}
    
    .dropdown-toggle {}
    
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 160px;
}


@media only screen and (max-width: 1299px) and (min-width: 900px) {

.table_header_background {

    overflow-x:scroll; display:block;
}
    
}

@media only screen and (max-width: 767px) {

select {background:#fff !important; height:40px !important;}

.col-md-12 {
    padding-right: 15px !important;
}

.table_header_background {

    overflow-x:scroll; display:block;
}
    
}
  
        
    </style>

	
	<script type="text/javascript">


        $(document).on("focus" , ".input-lg" , function () {

            $(this).removeAttr('placeholder');

        });

        $(document).on("focusout" , ".input-lg" , function () {

            if($(this).val() == ''){
                $(this).attr('placeholder' , "");
            }

        });

    </script>
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            
        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Payment Details</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">My Account</a></li>
                        <li class="breadcrumb-item active">Payment Details</li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
                            <div class="table-toolbar" style="margin-top: -17px;position:relative; left:-8px;top:30px;">
                                
                                {%if message %}
                                <div class="row" style="margin-top: 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    
									<div class="alert alert-success alert-success-msg">
                                            <center> <span>{{message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {% elif error_message %}
                                <div class="row" style="margin-top: 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    
                                    <div class="alert alert-error-msg">
                                            <center> <span>{{error_message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row">
                                    <div class="profile-details" style="margin-top: 0px;position:relative; left:8px;top:-5px;">
                      
                                        <div>
                                        <form action= "." class=""  id="affForm" method="POST" name='affForm' role="form">
                                        {%csrf_token%}
                                        <input type="hidden" name="affid" value="{{aff_obj.id}}">
                                        <input type="hidden" name="format" value="json" />
                                       
									   <div class="profile-edit-details">
										
										
											 <fieldset>
											 
												<legend class="heading-all-page">Payment Information</legend>
												
												 <div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Affiliate ID</label>
													<input type="text" class="form-control" name="" value="{{data.fk_affiliateinfo.id}}" readonly id="" placeholder="">
												</div>

												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Account Number</label>
													<input type="tel" class="form-control" name="accountnumber" value="{{data.accountnumber}}" id="" placeholder="" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 float-left">
													<label>Beneficiary Name</label>
													<input type="text" class="form-control" required="required" name="accountname" value="{{data.accountname}}" id="" placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 float-right">
													<label>Beneficiary Address</label>
													<input type="text" class="form-control" name="beneficiaryaddress" value="{{data.beneficiaryaddress}}" id="" placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 float-left">
													<label>Bank Name</label>
													<input type="text" class="form-control" required="required" name="bankname" value="{{data.bankname}}" id="" placeholder="" />
												</div>
												
												<div class="form-group col-md-4 col-sm-12 float-left">
													<label>Bank Address</label>
													<input type="text" class="form-control" required="required" required="required" name="bankaddress" value="{{data.bankaddress}}" id="" placeholder="" />
												</div>
												
												<div class="form-group col-md-4 col-sm-12 float-right">
													<label>Sort Code</label>
													<input type="text" class="form-control" required="required" name="sortcode" value="{{data.sortcode}}" id="" placeholder="" />
												</div>
												
												
												<div class="form-group col-md-4 col-sm-12 float-left">
													<label>IBAN</label>
													<input type="text" class="form-control" required="required" name="iban" value="{{data.iban}}" id="" placeholder="" />
												</div>
												
												<div class="form-group col-md-4 col-sm-12 float-left">
													<label>SWIFT</label>
													<input type="text" class="form-control" required="required" name="swift" value="{{data.swift}}" id="" placeholder="" />
												</div>
												
												<div class="form-group col-md-4 col-sm-12 float-right">
													<label>Currency</label>
													<select class="form-control" name="currency" datat="{{data.currency.id}}" style="height:35px !important;">
													
														{%for i in currency_list %}
                                            {% if i.0 == data.currency.id %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
													
													</select>
												</div>
												
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                                <button class="btn btn-purple button-large button-web-get" type="submit" value="" style="">Submit</button>
                                            </span>
                                        </div>
												
												
											</fieldset>
											
											
										
										
										</div>
                                        
           
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                            
                        </div>
            
            
            </div>
			
			</div>
			
			</div>
			
			</div>
            
            
        
            {% include "affiliates/new_design/footer-1.html" %}
        
    
            <div class="row" id="onsavepop" style="display:none;width: 30%;
                                    background: rgb(255, 255, 255);
                                    height: 125px;
                                    position: fixed;
                                    top: 50%;
                                    z-index: 999;
                                    left: 40%;">
                <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
            
                    <div class="panel panel-default" style="width: 100%; padding:0px;">
                        <div class="panel-heading" style="background:#36a9e1;">
                            <h3 class="panel-title" style="width: 100%;
                                                        text-align: center;
                                                        display: inline-block;
                                                        height: 28px;
                                                        line-height: 42px;
                                                        color: #fff;">Notification</h3>
                                                        <div class="panel-options" style="margin-top: -20px;
                                margin-right: 19px;">
                                Please save your changes by clicking on the Submit button.
                                
                            </div>
                        </div>
                        <div class="panel-body">
            
                                <div class="form-group">
            
                                    <div class="col-sm-12">
                            
    
    <input type="button" value="Submit" onclick="submitform(this)" class="btn-success btn btn-secondary btn-single" />
                                <input type="button" value="No thanks" onclick="dontsubmit(this)" class="btn-success btn btn-secondary btn-single" />
    
                                    </div>
                                    
                                    
                                    
                                </div>
            
                                <!-- <div class="form-group-separator"></div>
                                <div class="input-group">
                                            <input type="text" class="form-control no-right-border form-focus-purple">
            
                                            <span class="input-group-btn">
                                                <button class="btn btn-purple" type="submit">Submit</button>
                                            </span>
                                        </div> -->
            
                                
                        </div>
                    </div>
                </div>
            </div>

    
    </div>
    
    
    



    <!-- Bottom Scripts -->
   

<script type="text/javascript">
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
});
                            </script>


							<script>

// Validation and Ajax action
        $('#affForm').validate({
             rules: {

				  accountnumber: {
                      required: true,
                  },
				  
				  accountname: {
                      required: true,
                  },
				  
				  beneficiaryaddress: {
                      required: true,
                  },
				  
				  bankname: {
                      required: true,
                  },
				  
				  bankaddress: {
                      required: true,
                  },
				  
				  sortcode: {
                      required: true,
                  },
				  
				  iban: {
                      required: true,
                  },
				  
				  swift: {
                      required: true,
                  },
	
              },

            messages: {
               
				
				accountnumber: {
                      required: 'Please enter your account number.'
                  },
				  
				  accountname: {
                      required: 'Please enter your beneficiary name.'
                  },
				  
				  beneficiaryaddress: {
                      required: 'Please enter your beneficiary address.'
                  },
				  
				  bankname: {
                      required: 'Please enter your bank name.'
                  },
				  
				  bankaddress: {
                      required: 'Please enter your bank address.'
                  },
				  
				  sortcode: {
                      required: 'Please enter your sort code.'
                  },
				  
				  iban: {
                      required: 'Please enter your IBAN.'
                  },
				  
				  swift: {
                      required: 'Please enter your SWIFT.'
                  },
		
            },
			
			submitHandler: function (form) {
                if($('#nodata').is(":visible")==false){
                      form[0].submit();
                    }
                }

        
              });
			  
			  </script>
			  
<div id="cover" style="display:none;"> </div>
</body>
</html>