<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}- Messages</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<style>
	.buttons-sample {font-size: 12px !important;
    color: #000;
    background: #e6e6e6;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;}
	.table-bordered {
    border: 1px solid #dee2e6 !important;
}
	@media (max-width: 767px) { table {display:block !important;} }
	</style>

</head>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            
        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Messages</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Messages</li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
			<div class="row">
				<div class="col-md-12">
					
					<div class="table-responsive">
					
					<table class="table table-striped table-bordered table-creatives table-msgs mobile-bottom-table table-messages" style="display:inline-table;">

    <!--Table head-->
    <thead class="mdb-color darken-3">
        <tr class="text-white">
        	<th><input type="checkbox" id="selectd"></th>
            <th>Date</th>
            <th>From Email</th>
            <th>Subject</th>
			<th>Content</th>
			<th class="header-msg">Status</th>
			<th class="header-msg">Action</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
    	{% for i in messages_list %}
        <tr>
        	<td><input type="checkbox" id="selectc"></td>
            <td><span class="dates-display">{{i.date}}</span></td>
            <td>{{i.from}}</td>
            <td>{{i.subject}}</td>
			<td class="slots-content-msg">{{i.content|slice:":50"}}</td>
			<td><button type="button" readonly class="buttons-sample">{{i.status}}</button></td>
			<td><a href=" /affiliate/delmessages?id={{i.id}}"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        {% endfor %}
     
		 
    </tbody>
    <!--Table body-->
</table>

</div>
					
					
				</div>
			</div>
			
		
		</div>
		
		</div>
		
		</div>
		
		</div>
		
		</div>
		
		
			{% include "affiliates/new_design/footer-1.html" %}
	
			
		<div id="chat" class="fixed"><!-- start: Chat Section -->
			
			<div class="chat-inner">
			
				
				<h2 class="chat-header">
					<a  href="#" class="chat-close" data-toggle="chat">
						<i class="fa-plus-circle rotate-45deg"></i>
					</a>
					
					Chat
					<span class="badge badge-success is-hidden">0</span>
				</h2>
				
				<script type="text/javascript">
				// Here is just a sample how to open chat conversation box
				jQuery(document).ready(function($)
				{
					var $chat_conversation = $(".chat-conversation");
					
					$(".chat-group a").on('click', function(ev)
					{
						ev.preventDefault();
						
						$chat_conversation.toggleClass('is-open');
						
						$(".chat-conversation textarea").trigger('autosize.resize').focus();
					});
					
					$(".conversation-close").on('click', function(ev)
					{
						ev.preventDefault();
						$chat_conversation.removeClass('is-open');
					});
				});
				</script>
				
				
			
			</div>
			
			<!-- conversation template -->
			
		<!-- end: Chat Section -->
		</div>
	
	
	
	<div class="footer-sticked-chat"><!-- Start: Footer Sticked Chat -->

	
		<a href="#" class="mobile-chat-toggle">
			<i class="linecons-comment"></i>
			<span class="num">6</span>
			<span class="badge badge-purple">4</span>
		</a>
	
	<!-- End: Footer Sticked Chat -->
	</div>
	
	



	<!-- Bottom Scripts -->
	

<script type="text/javascript">
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });

});
                   </script>
				   
				   <script>
				   
				   $('#selectd').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;                        
        });
    } else {
        $(':checkbox').each(function() {
            this.checked = false;                       
        });
    }
})

</script>


<div id="cover" style="display:none;"> </div>
</body>
</html>