<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}- Edit Profile</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 
    <style type="text/css">
	.im-field {height:40px; vertical-align:middle;}
    input.error {border:1px solid #ff0000 !important;}
    @media only screen and (max-width: 765px)
{.col-md-12 {
    padding-right: 15px !important;
}

select.form-control:not([size]):not([multiple]) {
    height: 38px !important;
}

select {
    -webkit-appearance: menulist-button !important;
}

.btn-single {left:0px !important; width:100% !important; top:-15px;}
.full-width-submit {width:100% !important;}
.main-table-edit>tbody>tr>td {margin-top:-10px;}

}

    
        .aff-edit{
                padding: 10px 50px 13px 5px;
    width: 100%;
    border: none;
    background: #f9f9f9;
    border: 1px solid #ccc;
    text-indent: 5px;
        }
        .main-table-edit {background:#fff;}
        .table>tbody>tr>td {border-bottom:none !important;}
        input:focus{
            outline: none;
        }
        
        .panel-heading {
    /* background: #f5f5f5; */
}

.panel-heading1 {
    line-height: 50px;
    padding: 0 15px;
    min-height: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
    -webkit-box-shadow: inset 0 0 1px 1px #fff;
    -moz-box-shadow: inset 0 0 1px 1px #fff;
    box-shadow: inset 0 0 1px 1px #fff;
}

.panel-heading1 {
    color: #333;
    background-color: #f5f5f5;
    
}

.panel-heading1 h2 {
    display: inline-block;
    margin: 0;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

.dots-right {float:right;}

.affinfo_col_data {width:32%;}

@media (max-width: 767px)

{
	.im-left {width: 30% !important;}
  .skype-right {width: 70% !important;}
  .block-group {width:100% !important; display:inline-block;}

}

.closeMark {color: #fff;
    position: absolute;
    margin-top: 9px;
    background: #ff0000;
    padding: 3px;
    border-radius: 30px;
    line-height: 15px !important;
    text-align: center;
    font-size: 15px;
    z-index: 9;
    right: 24px;
    top: 0;
    font-size: 12px !important;
    width: 20px;
    height: 20px; cursor:pointer;}
	
	
	.add-circle { background: #0091e0;
    cursor: pointer;
    position: relative;
    top: 2px;
    color: #fff;
    padding: 3px;
    border-radius: 30px;
    line-height: 15px !important;
    text-align: center;
    font-size: 15px;
    z-index: 9;
    margin-left: 7px;
    top: -2px;
    font-size: 10px !important;
    width: 20px;
    height: 20px;
    cursor: pointer; }
	.block-group { width: 33.1% !important; display:inline-block;}	
	.spaceP {padding-right:30px !important;}
	
	.optionBox {display:inline-table;}
	
	@media (max-width: 767px)

{.block-group {width:100% !important; display:inline-block;}}
      
    </style>

	
	<script type="text/javascript">


        $(document).on("focus" , ".input-lg" , function () {

            $(this).removeAttr('placeholder');

        });

        $(document).on("focusout" , ".input-lg" , function () {

            if($(this).val() == ''){
                $(this).attr('placeholder' , "");
            }

        });

    </script>
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            
        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Edit Profile</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">My Account</a></li>
                        <li class="breadcrumb-item active">Edit Profile</li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
                            <div class="table-toolbar" style="margin-top: 0px;position:relative; left:-8px;top:2px;">
                                
										<div class="alert alert-danger alert-success-msg" id="withform" style="display:none;">
                                            <center class="message-div"> <span class="" style="color: #a94442;">Please edit any one field. </span></center>
                                        </div>
										
								
                                {%if message %}
                                <div class="row" style="margin-top: 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success alert-success-msg">
                                            <center class="message-div"> <span>{{message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row">
                                    <div class="profile-details" style="margin-top: 0px;position:relative; left:8px;top:-5px;">
                              
                                        <div>
                                        <form action= "." id="affForm" method="POST" name='affForm' role="form">
                                        {%csrf_token%}
                                        <input type="hidden" name="affid" value="{{aff_obj.id}}">
                                        <input type="hidden" name="format" value="json" />
                                        
										
										<div class="profile-edit-details">
										
										
											 <fieldset>
											 
											 <div class="container">
											 
											 <div class="row">
											 
												<legend class="heading-all-page">Account Details</legend>
												
											
												
												 <div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Affiliate ID</label>
													<input type="text" class="form-control" name="" value="{{aff_obj.id}}" readonly id="" placeholder="">
												</div>
												
												

												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Email</label>
													<input type="text" class="form-control" name="email" value="{{aff_obj.email}}" readonly id="" placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Password</label>
													<input type="text" class="form-control" name="password" value="" id="" placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Company Name</label>
													<input type="text" class="form-control" name="companyname" value="{{aff_obj.companyname}}" id="" placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Phone Number</label>
													<input type="text" class="form-control" name="telephone" value="{{aff_obj.telephone}}" id="" placeholder="" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Address</label>
													<input type="text" class="form-control" name="address" value="{{aff_obj.address}}" id="" placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>City</label>
													<input type="text" class="form-control" name="city" value="{{aff_obj.city}}" id="" placeholder="">
												</div>
												
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>State</label>
													<input type="text" class="form-control" name="state" value="{{aff_obj.state}}" id="" placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Postcode</label>
													<input type="text" class="form-control" name="pincode" value="{{aff_obj.postcode}}" id="" placeholder="">
												</div>
												
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Country</label>
													 <select class="form-control country-field" v="{{aff_obj.country}}" name="countryname" id="">
														{%for i in country_list%}
														{% if i.id|stringformat:"i" == aff_obj.country %}
														<option value="{{i.id}}" selected="selected">{{i.countryname}}</option>
														{%else%}
														<option value="{{i.id}}">{{i.countryname}}</option>
														{% endif %}
														
														{%endfor%}
													</select>
												</div>
				
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													
													<div class="row">
													
														<div class="col-lg-3 col-sm-3 im-left">
															
															<label style="display:block;">IM</label>
													{% if aff_obj.im %} 
													<input type="checkbox" class="im-field" name="im" id="" value='on' placeholder="" checked>
													{% else %}
													<input type="checkbox" class="im-field" name="im" id="" value='on' placeholder="">
													{% endif %}
														
														</div>
														
														<div class="col-lg-9 col-sm-9 skype-right">
														
														<label>Skype</label>
													<input type="text" class="form-control" name="skype" id="skype" value="{{aff_obj.skype}}" autocomplete="off" />
												
														
														</div>
													
													</div>
													
												
												</div>
							
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Account Manager</label>
													{% if aff_obj.account_manager %}
													<input type="text" readonly class="form-control" value="{{aff_obj.account_manager.user.username}}" id="" placeholder="">
													{% endif %}
												</div>
												
												<div class="container">
											
											<div class="row">
											
											<legend class="heading-all-page">URLs<span class="add"><i class="fa fa-plus add-circle"></i></span></legend>
											 
											 <div class="optionBox" style="width:100%;">

												
												{% if site_urls_list %}
												{%for i in site_urls_list%}
                                                    <div class="block block-group form-group col-md-4 col-sm-12">
                                                        
                                                        <input type="text" class="form-control spaceP" name="site_url" value="{{i.1}}" id="" placeholder="">
                                                    <i class="fa fa-close closeMark"></i>
                                                    </div>
                                                {%endfor%}
												{%else%}
														<div class="block block-group form-group col-md-4 col-sm-12">
																
																<input type="text" class="form-control spaceP" name="site_url" value="" id="" placeholder="">
															<!--<i class="fa fa-close closeMark"></i>-->
															</div>
												{%endif%}

											 </div>
												
												
												
											
											
													
													
													</div>
													
												</div>
												
												
												</div>
												
												</div>
												
												<div class="clear"></div>
										
										<!-- <legend class="heading-all-page">Payment Details</legend>
										
										
										<div class="form-group col-md-6 col-sm-12 pull-left">
               <label>Account Number</label>
                <input type="tel" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" placeholder="" name="accountnumber" id="accountnumber" required=True value="{{aff_obj.accountnumber}}" autocomplete="off" />
                
              
            </div>
          
        
                    <div class="form-group col-md-6 col-sm-12 pull-right">
               <label>Beneficiary Name</label>
                <input type="text" id="accountname" placeholder="" class="form-control" required=True name="accountname" value="{{aff_obj.accountname}}" maxlength="10" />
               
              
            </div>
                   
                   
         
                    <div class="form-group col-md-6 col-sm-12 pull-left">
               <label>Beneficiary Address</label>
                <input type="text" class="form-control" placeholder="" name="beneficiaryaddress" id="beneficiaryaddress" value="{{aff_obj.beneficiaryaddress}}" required=True autocomplete="off" />
                
              
            </div>
                    
                    <div class="form-group col-md-6 col-sm-12 pull-right">
                <label>Bank Name</label>
                <input type="text" class="form-control" placeholder="" name="bankname" id="bankname"  required=True autocomplete="off" />
                
             
            </div>
                  
                   
                    <div class="form-group col-md-6 col-sm-12 pull-left">
                <label>Bank Address</label>
                 <input type="text" class="form-control " placeholder="" name="bankaddress" id="bankaddress" value="{{aff_obj.bankaddress}}" required=True autocomplete="off" />
                
              
            </div>
                    
                    <div class="form-group col-md-6 col-sm-12 pull-right">
                <label>Sortcode</label>
                <input type="text" class="form-control" placeholder="" name="sortcode" id="sortcode" value="{{aff_obj.sortcode}}" autocomplete="off" />
                
             
            </div>
                  
                   
                    <div class="form-group col-md-6 col-sm-12 pull-left">
               <label>IBAN</label>
                <input type="text" class="form-control" placeholder="" name="iban" id="iban" value="{{aff_obj.iban}}" maxlength="6" autocomplete="off" />
                
              
            </div>
                    
                    <div class="form-group col-md-6 col-sm-12 pull-right">
                
                                      
              <label>SWIFT</label>
                <input type="text" class="form-control" placeholder="" name="swift" id="swift" value="{{aff_obj.swift}}" maxlength="6" autocomplete="off" />
                
              
            </div>
			
			
			<div class="form-group col-md-6 col-sm-12 pull-right" style="clear:both;">
                <div class="input-group col-sm-12">
                <span class="input-group-addon icons-before-input"><i class="fa fa-calendar"></i></span><select name="currency" class="form-control country-name input-lg mobile-iphone">
                                                {%for i in currency_list %}
                                            {% if i.0 == data.currency.id %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                          
                                            </select>
                      
                      <label id="" class="error" for="state1" style="display:none; visibility:hidden;">Please enter your Currency.</label>
                
              </div>
            </div>
                    -->
                  
                   
												
												
												
												<!-- <div class="form-group col-md-6 col-sm-12 pull-left"> -->
													<!-- <label>Skype</label> -->
													<!-- <input type="text" class="form-control" name="skype" id="skype" value="{{aff_obj.skype}}" autocomplete="off" /> -->
												<!-- </div> -->
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                                <button class="btn btn-purple button-large button-web-get" type="submit" value="" style="">Submit</button>
                                            </span>
                                        </div>
												
												
											</fieldset>
											
											
										
										
										</div>
                                        
           
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                            
                        </div>
            
            
            

        </div>
    
            <div class="row" id="onsavepop" style="display:none;width: 30%;
                                    background: rgb(255, 255, 255);
                                    height: 125px;
                                    position: fixed;
                                    top: 50%;
                                    z-index: 999;
                                    left: 40%;">
                <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
            
                    <div class="panel panel-default" style="width: 100%; padding:0px;">
                        <div class="panel-heading" style="background:#36a9e1;">
                            <h3 class="panel-title" style="width: 100%;
                                                        text-align: center;
                                                        display: inline-block;
                                                        height: 28px;
                                                        line-height: 42px;
                                                        color: #fff;">Notification</h3>
                                                        <div class="panel-options" style="margin-top: -20px;
                                margin-right: 19px;">
                                Please save your changes by clicking on the Submit button.
                                
                            </div>
                        </div>
                        <div class="panel-body">
            
                                <div class="form-group">
            
                                    <div class="col-sm-12">
                            
    
    <input type="button" value="Submit" onclick="submitform(this)" class="btn-success btn btn-secondary btn-single egcs_submit_button" />
                                <input type="button" value="No thanks" onclick="dontsubmit(this)" class="btn-success btn btn-secondary btn-single egcs_submit_button" />
    
                                    </div>
                                    
                                    
                                    
                                </div>
            
                                
                        </div>
                    </div>
                </div>
            </div>

    
    </div>
    
	
	</div>
	
	</div>
	
	
            {% include "affiliates/new_design/footer-1.html" %}
    
    




  <!-- JavaScripts initializations and stuff -->

    <script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="/static_files/assets/js/toastr/toastr.min.js"></script>
<script type="text/javascript">
    var companyname = "{{aff_obj.companyname}}"
    var address = "{{aff_obj.address}}"
    var email = "{{aff_obj.email}}"
    var city = "{{aff_obj.city}}"

    var telephone = "{{aff_obj.telephone}}"
    var countryname = "{{aff_obj.country}}"
    var state = "{{aff_obj.state}}"
    var pincode = "{{aff_obj.postcode}}"
    var elements_list = ['companyname', 'address', 'email', 'city', 'telephone', 'countryname', 'state', 'postcode']
    var form2 = $('#affForm');
    jQuery(document).ready(function() {

    {%if error_message %}
        var err_msg = "{{error_message}}";
        var opts = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr.error(err_msg, "Invalid Registration!", opts);         
    {%endif%}
                        // Reveal Login form
    setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
    var form2 = $('#affForm');
	
	var $form = $('#affForm');
    var origForm = $form.serialize();
	//var isChanged = false;
	
	function checkFormEdit(){
		return $('#affForm').serialize() !== origForm;
	}

    
        // Validation and Ajax action
        $('#affForm').validate({
             rules: {
                  
                  email: {
                      required: true,
                      email: true,
                      
                  },
                  contactname: {
                      required: true,
                  },
				  //companyname: {
                     // required: true,
                  //},
				  pincode: {
                      required: true,
                  },
				  telephone : {
					 required: true,
                      number:true
				  },
                  address:{
                      required:true,
                  },
				  
				  site_url:{
					  minlength: 2,
                      required:true,
                  },

              },

            messages: {
                
                email: {
                  required: 'Please enter a valid email address.'
                },
				
				telephone:{
                      required: 'Please enter your phone number.'
                  },
                  //companyname:{
                  //    required: 'Please enter company name.'
                  //},
				  
				  pincode:{
                     required: 'Please enter your postcode.'
                  },
				  
                  address:{
                      required: 'Please enter your address.'
                  },
				  
				  site_url:{ 
                      required: 'Please enter site url.'
                  },
            },

            submitHandler: function (form) { 
                  if(checkFormEdit()){
				  $('.button-web-get').prop('disabled', true);
					form2.submit();
					
				  }
				  else{
					$('.button-web-get').prop('disabled', false);
					}
				   // submit the form
                  
              }
        });

        // Set Form focus

          
   
   
   
  /*
   $("#search_table").dataTable({paging: false,
           searching: false,
           ordering:false,
           info: false,"dom": 'flit'
   });*/
});

// $(window).bind('beforeunload', function(index, ele){
//         var check = true;
//         $("form :input").each(function(index, elm){
//             if (elements_list.indexOf($(elm).attr('name')) !== -1){
//                 if ( $(elm).val() != window[$(elm).attr('name')]){
//                     $('#onsavepop').show();
//                     check = false;
//                     return false;
//                 }
//             }
//         });
//         if (check==false){
//             return false;
//         }
//         else{
//             return true;
//         }
        
//     });

$('a').on('click', function(){
  window.last_clicked_time = new Date().getTime();
  window.last_clicked = $(this);
});

function submitform(ele){
    form2.submit();
    return true;
}

function dontsubmit(ele){
    $('#onsavepop').hide();
    window.last_clicked.click();

}
</script>

<script type="text/javascript">
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
	
});
                            </script>
							
							<script>
							
							$('.add').click(function() {
	if ($('.block:last').length == 0 || $('.block:last').length == -1){
		$('.optionBox').html('<div class="block block-group form-group col-md-4 col-sm-12"><input type="text" class="spaceP form-control" name="site_url" /><span class="closeMark"><i class="fa fa-close"></i></span></div>');
	}
	else{
    $('.block:last').after('<div class="block block-group form-group col-md-4 col-sm-12"><input type="text" class="spaceP form-control" name="site_url" /><span class="closeMark"><i class="fa fa-close"></i></span></div>');
	}
	});

$('.optionBox').on('click','.closeMark',function() {
	if ($('.block').length > 1) {
		$(this).parent().remove();	
	}
});

							</script>


<div id="cover" style="display:none;"> </div>
</body>
</html>