<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Tajrummy</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

<link href="/static_files/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/static_files/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static_files/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>
<script src="/static_files/js/jquery-ui.min.js"></script>
<script type='text/javascript' src="/static_files/js/export_table_to_csv.js"></script>
<style>
input, select{
	width:138px;
	height:15px;
}
form p input[type=checkbox], form p textarea {
	display: inline;
    margin: 0;
    padding: 4px;
    width:auto !important;
}
#touneyTxnForm {
    line-height: 40px;
    text-align: left;
}
.ui-datepicker { height:210px;width:250px;font-size:14px; }
.details-box{width:960px;}
.details { width:100%; height:auto; padding:5px !important; float:left;
 border:1px solid #ccc; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;
 font-family:"franklin_gothic_mediumregular";font-size:14px;}
.details th { width:140px;font-size:16px;}
.row-wise { padding:5px; display:block;}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
	width: 49% !important;
    height: 22px !important;
    font-size: 13px !important;
}
.export_csv {
  font-family: monospace;
  float: left;
  margin-bottom: 13px;
  font-size: 17px;
  color: rgb(236, 231, 218);
  border: 1px solid rgb(152, 13, 13);
  background-color: rgb(118, 13, 13);
  text-decoration: none;
  padding: 4px;
  border-radius: 4px;
}
</style>
</head>

<body class="aff_body">

<!--HEADER STARTS HERE-->
<div align="center">

{% include "affiliates/header_affiliates.html" %}

</div>
<!--HEADER ENDS HERE-->


<div align="center">

{%if not obj%}
<div id="Top_inner_page_body1" style="padding:40px 0px 0px !important; height:340px !important; border-left:none !important;">
</p>{%endif%}



<script type="text/javascript">
$(document).ready(function() {
	if($("#id_date").val() == "Custom"){
		$('#id_datepicker1').show();
        $('#id_datepicker2').show();
	}
	$("#id_date").change(function() {
		if($(this).val() == "Custom"){
			$('#id_datepicker1').show();
			$('#id_datepicker2').show();
		}
		else{
			$('#id_datepicker1').hide();
			$('#id_datepicker2').hide();
		}
	});
});
</script>
<script>
$(function() {
	$( "#id_datepicker1" ).datepicker({changeYear: true,changeMonth:true, dateFormat:'dd/mm/yy'});
	$( "#id_datepicker2" ).datepicker({changeYear: true,changeMonth:true, dateFormat:'dd/mm/yy'});
});
</script>
<div id="Top_inner_page_body">
<!--  -->


<div class="main_Menu aff_menu">

{%if not obj%}
<p style=" line-height: 48px; margin-left: 20px;">Affiliate Login
</p>{%endif%}
</div>

<div class="affiliates_block">

<div class="main" style="margin-right:520px;">

{% if not obj %}
Please Login <br/>
{%else%}
<p align="left" class="Body_header aff_title"> USER REPORTS</p><br/><br/>
<form action="/affiliate_user_reports/" method="POST" name="test" id="touneyTxnForm" style="width: 620px;">
	{% csrf_token %}
	<p>Select Campaign: &nbsp;&nbsp;&nbsp;&nbsp;<select name="campaign_id" style="height: 26px; margin-left:17px;">
		{%for cam in campaign_list%}
			<option value="{{cam.id}}">{{cam.name}} - {{cam.id}}</option>
		{%endfor%}
		</select>
	</br>
	Select Register Type: &ensp;&ensp;<input type="checkbox" name="newusers" class="newusers" {%if registertype == "NEW USERS" or registertype == "ALL USERS" %} checked="checked"{%endif%}/>New Users &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="oldusers" {%if registertype == "OLD USERS" or registertype == "ALL USERS" %} checked="checked"{%endif%}/>Old Users
		<!--  <select name="registertype">
			<option value="new users">NEW USERS</option>
			<option value="old users">OLD USERS</option>
			<option value="all users">ANY</option>
		</select> -->
	</br>
	Select Bet Type: &ensp;&ensp;&ensp;&ensp;<select name="bet_type" style="height: 26px; margin-left:17px;">
			<option value="CASH">Cash</option>
			<option value="FUNCHIPS">Funchips</option>
		</select>
		<p>
   Date Filter&nbsp;&nbsp;&nbsp;&nbsp;
   		<select id="id_date" name="date" style="height: 26px; margin-left:66px;">
<option value="Today" {%if custom == "Today"%} selected="selected"{%endif%}>Today</option>
<option value="Yesterday"{%if custom == "Yesterday"%} selected="selected"{%endif%}>Yesterday</option>
<option value="WeekTildate"{%if custom == "WeekTildate"%} selected="selected"{%endif%}>WeekTildate</option>
<option value="Last 15 Days"{%if custom == "Last 15 Days"%} selected="selected"{%endif%}>Last 15 Days</option>
<option value="Last 30 Days"{%if custom == "Last 30 Days"%} selected="selected"{%endif%}>Last 30 Days</option>
<option value="Last 45 Days"{%if custom == "Last 45 Days"%} selected="selected"{%endif%}>Last 45 Days</option>
<option value="MonthTilldate"{%if custom == "MonthTilldate"%} selected="selected"{%endif%}>MonthTilldate</option>
<option value="Custom" {%if custom == "Custom"%} selected="selected"{%endif%}>Custom</option>
</select>
	<input placeholder='Fromdate' type="text"  id='id_datepicker1' name="datepicker1" style="display:none;margin-top:10px;">
	<input placeholder='Todate' type="text"  id='id_datepicker2' name="datepicker2" style="display:none;">
	</p>
	<input type="submit" class="sub_bu11" style="float:left; margin-top:9px;" value="Search"/>
	<input type="reset" class="sub_bu11" style="float:left; margin:9px;" value="Clear" id="transaction_form_reset_btn"/>
</form><br/>

<!--  -->

<div class="details-box">
 <table class="details"/>
  <tr class="row-wise"> 
   <th>Period :</th>
   <td>{{from_date}}  To  {{to_date}}</td>
  </tr>
  
  <tr class="row-wise"> 
   <th>Campaign Details :</th>
   <td>{{campaignID}}</td>
  </tr>
  <tr class="row-wise"> 
   <th>Revenue Share (%) :</th>
   <td>{{revsharepercent}}</td>
  </tr>
  <tr class="row-wise"> 
   <th>Bet Type   :</th>
   <td>{{bet_type}}</td>
  </tr>
  
  <tr class="row-wise"> 
   <th>Register Type   :</th>
   <td>{{registertype}}</td>
  </tr>

 </table>
</div> 

<div class="aff_table2" id="affiliateDiv">


<h3 style="font-family:franklin_gothic_mediumregular;float:left;font-size:14px;">Note: NC = New Cash user NF = New Free user OC = Old Cash user OF = Old Free user</h3><br/>
<br/>
{%if users_data_list%}
<a href="#" id="export_affiliate" class="sub_bu11" style="float:left; font-family:monospace; padding-top:10px; text-decoration:none; width:142px; font-size:17px;">Export To CSV</a><br/>
{%endif%}<br/>
<table cellspacing="0" cellpadding="0" class="aff_financial" style="width: 944px;">
    <tr>
    	<th>SNO</th>
        <th>Username</th>
        <th>User ID</th>
        <th>Type</th>
        <th>Deposits</th>
        <th>Withdrawals</th>
    	<!--  <th>Total Rake</th>
    	<th>Total Invested</th> -->
    	<th>Revenue </th>
    	<th>Accurals</th>
    	<th>Validity</th>
    </tr>
    {%for aff in users_data_list%}
    <tr>
    	<td>{{forloop.counter}}</td>
        <td>{% if not forloop.last %}
        <a href="/affiliates/affiliate_user_activities/?username={{aff.0}}&custom={{custom}}{%if custom == 'Custom'%}&from_ui_date={{from_ui_date}}&to_ui_date={{to_ui_date}}{%endif%}" target="_blank">{%endif%}{{aff.0}}</a></td>
        <td>{{aff.1}}</td>
    	<td>{{aff.2}}</td>
    	<td>{{aff.3}}</td>
    	<td>{{aff.4}}</td>
    	<td>{{aff.5}}</td>
    	<td>{{aff.6}}</td>
    	<td>{{aff.7}}</td>
    </tr>
    {%endfor%}

</table>
</div>
</div>
<br/><br/>
<script type='text/javascript'>
        $(document).ready(function () {
 
            // This must be a hyperlink
            $("#export_affiliate").click(function (event) {
                // var outputFile = 'export'
               // CSV
        		exportTableToCSV.apply(this, [$('#affiliateDiv>table'), 'affilaite_financial']);
        		// IF CSV, don't do event.preventDefault() or return false
        		// We actually need this to be a typical hyperlink
            });
        });
</script>
</div>
</div>
{%endif%}
</div>
</body>