

</div>
         
         
         
         
            {% if banners %}
        {% for i in banners %}
        <div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 300px;">

        <!--<tr>-->
            <!--<td>-->
               
               {{i.link|safe}}
 
            <!--</td>-->
            <!--<td>-->
            <a href='/rummy-deletebanner/{{linkid}}/{{i.id}}'>Remove</a>
        </div>
            <!--</td>-->
            
        <!--</tr>-->
        
        
{%endfor%}
{%else%}
    NO Banners Are Available Currently.
    {%endif%}
    
    
    
    
    
