<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}- Campaign Setup</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>

.egcs_submit_button {float: right;
    margin-top: -53px !important;}
	.date-range-class-affiliate {    margin-right: 100px;
    float: right !important; border-top:none !important; border-right:none !important; border-left:none !important;
    margin-top: -53px !important;
    float: right !important;}
	.media-left {padding-left:15px;}
	.media-heading {padding-left: 35px;
    padding-top: 21px;}
	.media {padding-top:30px;}

</style>

</head>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Campaign Setup</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Campaign</a></li>
                        <li class="breadcrumb-item active">Campaign Setup</li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
            
                            <form action="." method="POST" role="form" id="createtrackerForm" class="form-horizontal" role="form">
                            <input type="hidden" name="format" value="json" />
                            {%if error_message %}
                            <div class="row" style="height:">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!--  <h4><span class="fa fa-times" style="margin-top: 12px;font-size: 27px;color:red;"> </span>
                                    <span class="error_form" style="font-weight: bold;"> {{error_message}}</span> </h4>-->
                                    <div class="alert alert-error-msg" style="padding:1px;background: url(/static_files/images/delete-button1.png) no-repeat scroll 8px 7px #fadcd9;padding: 5px;">
                                            <center> <span style="padding: 10px;color: #db1802;font-size: 15px;    font-weight: bold;">{{error_message}} </span></center>
                                    </div>
                                </div>
                            </div>
                            {%else%}
                            <br/>
                            {%endif%}
                            {%csrf_token%}
            
                                <div class="form-group">
                                    <label class="col-sm-6 field12" for="field-1">Campaign Name <span class="dots-right">:</span> </label>
            
                                    <div class="col-sm-6">
                            <input type="text" class="aff-edit form-control" id="field-1" name="linkname" placeholder="Campaign Name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-6 field12" for="field-1">Describe Campaign <span class="dots-right">:</span> </label>
            
                                    <div class="col-sm-6">
                            <input type="text" class="aff-edit form-control" id="field-1" name="description" placeholder="Describe Campaign">
                                    </div>
                                </div>
                                
                                            
                                <div class="form-group">
                                    <label class="col-sm-6 field12" for="field-1">Select Site <span class="dots-right">:</span> </label>
            
                                    <div class="col-sm-6">
                                    <select id="sitename" class="selectpicker show-tick" name="sitename" sitename="{{sitename}}" required aria-required="true"  style="height:40px;width:100%" class="required">
                                        <option value=""> Select </option>
                                        {% for i in sites_obj_list %}
                                            {% if i.name == sitename %} 
                                                <option value="{{i.domain}}">{{i.name}}</option>
                                            {% else %}
                                                <option value="{{i.domain}}" >{{i.name}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
                                    </div>
                                </div>
                                
                                <!-- <div class="form-group">
                                    <label class="col-sm-2 field12" for="field-1">Select Marketing </label>
            
                                    <div class="col-sm-5">
                                    <select id="category" name="category" class="selectpicker" required aria-required="true"  style="height:40px;width:100%">
                                        <option value=""> Select </option>
                                    </select>
                                    </div>
                                </div> -->

                                <div class="form-group">
                                    <label class="col-sm-6 field12" for="field-1">Media Type <span class="dots-right">:</span> </label>
            
                                    <div class="col-sm-6">
                                    <select id="media_type" class="selectpicker show-tick" required aria-required="true"  name="media_type" class="required" style="height:40px;width:100%">
                                        <option value=""> Select </option>
                                        {%for key, value in media_types.items %}
                                            {% if key == media_type %} 
                                                <option value="{{key}}" selected>{{value}}</option>
                                            {% else %}
                                                <option value="{{key}}">{{value}}</option>
                                                {% endif %}
                                        {%endfor%}
                                    </select>
                                    </div>
                                </div>
                                <!-- <div class="form-group" style="display: none;">
                                    <label class="col-sm-2 field12" for="field-1">Banner <span class="dots-right">:</span></label>
            
                                    <div class="col-sm-5">
                                    <select id="banners" name="bannerid" class="required" style="height:40px;width:100%">
                                        
                                    </select>
                                    </div>
                                </div> -->

                                <div class="form-group" id="bannerdiv" links="{{links}}">
                                    
                                    <ul class="banner-images-show" id="bannerul">
                                        {%for link in links %}
                                            {% if media_type == 'V' %}
                                            <li onclick="clickcheck(this)">
                                            <input type="radio" name="bannerid" style="display: none;" value="{{link.2}}">{{link.1}}<video width="150" height="90%" controls >\
                                                    <source src="{{link.0}}" type="video/mp4">\
                                                  </video></li>
                                            {% else %}
                                            <li onclick="clickcheck(this)">
                                            <input type="radio" name="bannerid" style="display: none;" value="{{link.2}}">{{link.1}}<img src="{{link.0}}" target="_blank"/></li>
                                            {% endif %}
                                        {%endfor%}
                                        
                                    </ul>
                                    
                                    
                                </div>
                                
                                
                                <!-- <div class="form-group all-groups-one-by-one">
                                
                                    <ul class="all-banners-list" id="navigation">
                                    
                                        <li class="first-image">
                                        
                                            <p class="head-apply-all">Sticky Screenshot</p>
                                            
                                            <span class=""></span>
                                        
                                        </li>
                                        
                                        <li class="second-image">
                                        
                                            <p class="head-apply-all">Slots Screenshot</p>
                                            
                                            <span class=""></span>
                                        
                                        </li>
                                    
                                    </ul>  End of Form Normal -->
                                
                                
                                <!-- <div class="form-group">
                                    <label class="col-sm-2 field12" for="field-1">Language <span class="dots-right">:</span></label>
            
                                    <div class="col-sm-5">
                                    <select id="language" name="language" class="required" style="height:40px;width:100%">
                                        <option value=""> Select </option>
                                        {%for key, value in languages.items %}
                                            <option value="{{key}}">{{value}}</option>
                                        {%endfor%}
                                    </select>
                                    </div>
                                </div>
             -->
                                <!-- <div class="form-group-separator"></div> -->
                                <div class="input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center; width:15%;">
                                                <button class="btn-success egcs_submit_button btn btn-secondary btn-single" type="submit" style="width: 120px;
    padding: 10px;
    /* margin-left: 30px; */
    position: relative;
     background:#36a9e1;">Get Tracker</button>
                                            </span>
                                        </div>
            
                                
            </div>
                    </div>
                </div>
                <div id="dialog-message" title="Banners"><p id="modal-message"><span></span></p></div>
            <!-- <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a> -->
            </div><br/><br/><br/><br/>
            
            {% include "affiliates/new_design/footer-1.html" %}
            </div>
            
        
    
    



    <!-- Bottom Scripts -->
    <script src="/static_files/new_wynta/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="/static_files/new_wynta/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static_files/new_wynta/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="/static_files/new_wynta/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/static_files/new_wynta/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <!--Custom JavaScript -->
    <script src="/static_files/new_wynta/js/scripts.js"></script>
    

   


<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>


   <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->

<!-- END PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="/static_files/js/utils.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script> -->

<script>
    function clickcheck(ele){
        if ($(ele).find('input').prop('checked') == true){
            $(ele).removeClass('selected');
            $(ele).find('input').prop('checked', false);
        }
        else{
            $('#bannerul li').removeClass('selected');
            $(ele).addClass('selected');
            $(ele).find('input').prop('checked', true);
            //$('a', this).addClass('selected');
        }
        
    }

</script>


<script type="text/javascript">
    jQuery(document).ready(function() {   
    $('.panel-options').hide();  
                        // Reveal Login form
    setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
    var form2 = $('#createtrackerForm');
    
        // Validation and Ajax action
        $('#createtrackerForm').validate({
             rules: {
                  
                  linkname: {
                      required: true,
                  },
                 media_type: {
                      required: true,
                  },
                  category: {
                      required: true,
                  },
                  sitename: {
                      required: true,
                  },

              },

            messages: {
                
                linkname: {
                  required: 'Please enter Campaign name.'
                },
                media_type: {
                  required: 'Please select Media Type.'
                },
                category: {
                  required: 'Please select category.'
                },
                sitename: {
                  required: 'Please select Site.'
                },
            },

            submitHandler: function (form) {
                  form[0].submit(); // submit the form
              }
        });

        // Set Form focus

          
   
   
   
  /*
   $("#search_table").dataTable({paging: false,
           searching: false,
           ordering:false,
           info: false,"dom": 'flit'
   });*/
});

$('#media_type').on('change', function() {
    getcategory();
})



$('#media_type').on('change', function() {
    if ($('#media_type').val()!=='T'){
        $('#bannerdiv').show();
    }
    else{
        $('#bannerdiv').hide();
    }


})

function getcategory(){
    var sitename = $('#sitename').val();
    var media_type = $('#media_type').val();
    $.ajax({
          url: '/affiliate/getcategory/',
          dataType: 'json',
          method: 'POST',
          async: false,
          data: {csrfmiddlewaretoken: "{{ csrf_token }}",sitename: sitename, media_type: media_type},
          success: function(data) {
                categorys = data.categorys
                banners = data.links
                media_type = data.media_type
                if (data.status == 'Error'){
                    //$("#error_spanID").html("Username already registered with Us.");
                    //$("#error_divID").show();
                    //$('#signupsubmit').attr('disabled','disabled');
                    $('#errorspan').html('Error in retrieving Media cateogorys.')
                    // var element = $("#username");
                    // $(element).closest( ".form-group" ).removeClass("has-success").addClass("has-error");
                    // var icon = $(element).parent().parent('.input-icon').children('i');
                    // icon.removeClass('fa-check').addClass("fa-warning");  
                    // icon.attr("data-original-title", "Username already registered with us.").tooltip({'container': 'body'});
                }
                else{
                    $('#bannerul').html('');
                    $.each(categorys, function (i, item) {
                        $('#category').append($('<option>', { 
                            value: item,
                            text : item 
                        }));
                    });
                    $('#category').selectpicker('refresh');

                    $.each(banners, function (i, item) {
                        title = item[1];
                        if (media_type == 'V'){
                            option = '<li onclick="clickcheck(this)"><input type="radio" name="bannerid" style="display: none;"  value="'+item[2]+'"><video width="150" height="150" controls >\
                                <source src="'+item[0]+'" type="video/mp4">\
                              </video></li>';
                            $('#bannerul').append(option);
                        }
                        else if(media_type == 'M'){
                            option = '<li onclick="clickcheck(this)"><input type="radio" style="display: none;" name="bannerid" value="'+item[2]+'"><div id="'+item[2]+'" ></div><div id="'+item[2]+'div">'+item[1]+'</div></li>';
                            $('#bannerul').append(option);
                            element = $('#' + item[2]);
                            // html2canvas(element, {
                            //      onrendered: function (canvas) {
                            //             $('#' + item[2]+ 'div').append(canvas);
                            //             getCanvas = canvas;
                            //          }
                            //      });
                        }
                        else{
                            option = '<li onclick="clickcheck(this)"><input type="radio" style="display: none;" name="bannerid" value="'+item[2]+'"><img src="'+item[0]+'" target="_blank"/></li>';
                            $('#bannerul').append(option);
                        }
                        
                        
                    });
                    $('#bannerul').show();
                    $('#bannerdiv').show();
                        
                }
          }
    });
    return true;
    
}

// function onTemplateImageClick(title){
//  var html_str = '<div class="modal-custom">';
//  var im = "";
//  im += '<br/><h3>Bnner title - ' + title + '</h3><br/><img width="700" height="500" src="' + url + '"/><hr>'
//  html_str += im + '</div><hr/>';

//  html_str += im + '</div><hr/>';
//    $(html_str).appendTo($("#modal-message"));
//    //$( "#dialog-message" ).dialog("open");
//    $('#dialog-message').modal();
// }

</script>



<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<!-- Date Picker Ends -->


<script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
});
                            </script>


<div id="cover" style="display:none;"> </div>
</body>
</html>