<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{partner}} - Dashboard </title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
    <meta name="author" content="" />
<link rel="stylesheet" type="text/css" href="/static_files/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/static_files/assets/css/slick-theme.css">

  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!-- <link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/> -->
    
    <script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>



<!-- Include Date Range Picker -->

    
   <style>
   
   .egcs_submit_button {float: right;background: #1976d2;
    padding: 0px;
    font-size: 14px;
    width: 90px;
    color: #fff;
    padding: 5px !important; height:auto !important;
    margin-top: -4px;
    float: none;
    border: none;
    box-shadow: none;
    margin-left: 10px;
    border-radius: 0;
 }
 
 .egcs_submit_button:hover {
 width: 90px;
    color: #fff;
    padding: 5px !important; height:auto !important;
    margin-top: -4px;
    float: none;
    border: none;
    box-shadow: none;
    margin-left: 10px;
    border-radius: 0;
 }
   
   .slick-prev, .slick-next {z-index:999;}
   
.egcs_submit_button {float: right;
   }

	.media-left {padding-left:15px;}
	.media-heading {padding-left: 35px;
    padding-top: 30px;}
	.media {padding-top:0px;}
	
	
.btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
      }
	  
	  .date-range-class-affiliate {
       margin-right: 100px;
    float: right !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    margin-top: -53px !important;
    float: right !important;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
	  
      .btn-circle.btn-lg {
           width: 22px !important;
    height: 22px !important;
    padding: 2px 6px;
    font-size: 13px !important;
    line-height: 1.5;
    border-radius: 30px;
    margin-left: 0px; 
    line-height: 1.5 !important;
      }
	  
	  .btn-circle.btn-lg.active {color:#fff; background-color:#2585c7; border:none;}
	  
	  .symbol-buttons {    position: relative;
    margin-left: 100px;
    margin-top: -49px;}
	
	input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}


@media (max-width: 767px) {
.media-left {width:100%; padding-left:0; text-align:center;}
.slick-initialized .slick-slide {padding-left:0px;}
.slick-slide img {display:inline-block;}
	.media-heading {display:none;}
}

@media only screen and (max-width: 550px) and (min-width: 320px)  {
	.mobile-bottom-table {display:block !important;}
}

.egcs_submit_button {
    float: right !important;
    margin-top: -53px !important;
}

	
</style>


</head>
<body class="page-body">

   <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper" class="">
	
        <!-- header header  -->
        {% include "affiliates/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "affiliates/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil affiliatess</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->

               <div class="card">
			<form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form">
			
			<div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <!-- <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <span> Filter Sites: </span>
                    </div>
                </div> -->
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>

                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                                
								
								
								<h4>Quick Stats</h4>
								
								<div data-toggle="buttons" class="symbol-buttons float-left">
          <label class="btn btn-default btn-circle btn-lg "><input type="radio" class="currency" name="currency" value="£"><i class="fa fa-gbp"></i></label>
          <label class="btn btn-default btn-circle btn-lg active"><input type="radio" class="currency" name="currency" value="€" checked="checked"><i class="fa fa-euro"></i></label>
		  <label class="btn btn-default btn-circle btn-lg"><input type="radio" class="currency" name="currency" value="$"><i class="fa fa-dollar"></i></label>
        </div>
		
		
								
								
								<div class="pull-right date-range-class-affiliate" id="daterange" style="">
							&nbsp; 
							<span>{{from_date}} - {{to_date}}</span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> 
						 </div> 
						  <input type="submit" value="Submit" class="btn  btn-success egcs_submit_button">
						
                            </div>
					</div>

					</div>
				
               <div class="row tile_count">
			   
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<div class="count">0</div>
              <span class="count_top">Impressions</span> 
			  
			 

            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<div class="count">{{lt_clicks}}</div>
              <span class="count_top">Total Clicks</span> 
			  
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<div class="count" id="revenued">{{revenue}}</div>
              <span class="count_top">Revenue</span> 
			  
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<div class="count" id="earningsd">{{lt_earnings}}</div>
              <span class="count_top">Earnings</span> 
			  
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<div class="count">0</div>
              <span class="count_top">Payout</span> 
			  
			 
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<div class="count">0</div>
              <span class="count_top">Lifetime Earnings</span> 
			  
            </div>
			
			
          </div> <!-- First Row -->
		  
		  </form>
		  
		  </div> <!-- First div card -->
		  
		  
		  
		  
		  
		  <div class="row">
			   
			   <div class="col-lg-6 ">
			   
			   <div class="card">
			   
					<div class="card-title">
                               
							   <h4>Registrations</h4>
							   
					</div>
					
					 <div id="devicetest" style="width:100%; height:350px;margin: 0 auto;" data-highcharts-chart="0"></div>
			   
			   </div>
			   
			   </div> 
			   
			   <div class="col-lg-6 padding-left-none">
			   
			   <div class="card">
			   
					<div class="card-title">
                               
							   <h4>Recent Activity</h4>
							   
					</div>
					
					 <div id="registertest" style="width:100%; height:350px;margin: 0 auto;" data-highcharts-chart="0">
                    </div>
			   
			   </div>
			   
			   </div> 
			   
			
				
			
          </div> <!-- Fifth Row -->
		  
		  
		  
		  
		  
		  
		   <div class="card">
			
			<div class="card-title">
                                <h4>User Acquisition Trend</h4>
                            </div>
				
               <div class="row tile_count">
			   
			<div id="barcontainer" class="main-charts-fozil" style="height: 350px; width:100%;"></div>
			
          </div> <!-- Third Row -->
		  
		  </div> <!-- Third div card -->
		  
		  
		  
		  
		   <div class="row">
			   
			   <div class="col-lg-6 ">
			   
			   <div class="card">
			   
					<div class="card-title">
                               
							   <h4>Device Statistics</h4>
							   
					</div>
					
					 <div id="devicecircle" class="main-charts-fozil" style=" height: 350px; width:100%;"></div>
			   
			   </div>
			   
			   </div> 
			   
			   <div class="col-lg-6 padding-left-none">
			   
			   <div class="card">
			   
					<div class="card-title">
                               
							   <h4>Earnings Breakdown</h4>
							   
					</div>
					
					<div id="container" class="main-charts-fozil" style=" height: 350px; width:100%;"></div>
			   
			   </div>
			   
			   </div> 
			   
			
				
			
          </div> <!-- Fifth Row -->
		  
		  
		  
				 
				 
				 <div class="row">
			   
			   <div class="col-lg-6">
			   
			   <div class="card">
			   
					<div class="card-title">
                                
								<h4>Top Creatives</h4>
								
					</div>
					
	
	<div id="player_data_wrapper" class="dataTables_wrapper no-footer" style="    padding: 11px; padding-left:0px; padding-right:0px;">

	<div class="table-responsive">
	
	<table class="table table-creatives mobile-bottom-table" style="">

    <!--Table head-->
    <thead class="mdb-color">
        <tr class="text-white">
            <th>Brand</th>
            <th>Type</th>
            <th>Size</th>
            <th>Campaign</th>
            <th>View</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        {%for j in top_creatives %}   
                                                <tr>
            <td>{{j.0}}</td>
            <td>{{j.1}}</td>
            <td>{{j.2}}</td>
            <td>{{j.3}}</td>
            <td><a href="/affiliate/marketing-material/?bid={{j.4}}"><span class="btn btn-success">View</span></a>
            </td>
        </tr>
    {%endfor%}
  
    </tbody>
    <!--Table body-->
</table>
<!--Table-->

</div>

</div>
  
  </div>
			   
			   </div> 
			   
			   <div class="col-lg-6 padding-left-none">
			   
			   <div class="card">
			   
					<div class="card-title">
                               
							   <h4>Featured Offers</h4>
							   
					</div>
					
					<section class="center">
                            {%for j in sites_net_list %}   
                                                <div class="fo">
      <div class="media">
        {% if j.logo %}
       <div class="media-left"><a><img id="3" title="Banner Image" class="media-object" src="{{j.logo.url}}"></a></div>
       {% endif %}
        <div class="media-body">
         <h4 class="media-heading"><a>{{j.siteid.name}}</a></h4>
       
        </div>
       </div>
       </div>
    {%endfor%}
   
     </section>
			   
			   </div>
			   
			   </div> 
			   
			
				
			
          </div> <!-- Fifth Row -->

               
			

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "affiliates/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>    
    

    
    </div>
  
    
</div>




	
<script>

var euro_revenue = "{{revenue}}";
var gbp_revenue = "{{ut_revenue}}";
var gbp_earn = "{{ut_earnings}}";
var euro_earn = "{{lt_earnings}}";

$('.currency').on('change', function() {
    var aff = $(this).val();
    if (aff == '£'){
        if (gbp_revenue == '0'){
            $('#revenued').html('0.00');
        }
        else{
            $('#revenued').html(gbp_revenue);
        }
        $('#earningsd').html(gbp_earn);
    }
    else if(aff == '€'){
        $('#revenued').html(euro_revenue);
        $('#earningsd').html(euro_earn);
    }
    else{
        $('#revenued').html('0.00');
        $('#earningsd').html('0.00');
    }
    // if( $('#revenued').html().indexOf('-') >=0 ){
    //     $('#revenued').css('cssText', 'color:red !important')
    // }
    // else{
    //     $('#revenued').css('cssText', 'color:#93c83d !important')
    // }

});




function addPlayerslistDataTable(headersList, dataList){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    $("#player_data").dataTable( {"iDisplayLength": 30,
       "data": dataList,
       "columns":headersList,
       //"scrollX": true,
       "ordering": false,
       paging: false,
       searching: false,
       info: false,
       "pageLength": 10,
       "autoWidth": false,
       "language": {
            "emptyTable":     "<h3>NOTHING TO SEE HERE … YET!</h3>"
        }
          });
   
    
}


function activitypie(){
     $('#activitycontainer').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        colorByPoint: true,
        data: [{
            name: '',
            color: '#0b99d7',
            y: 50,
            sliced: true,
            selected: true
        }, {
            name: 'FTD',
            y: 50
            
        }]
    }]
});
}

function devicepie(){
     $('#devicecontainer').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Devive',
        colorByPoint: true,
        data: [{
            name: 'Mobile',
            color: '#0b99d7',
            y: 25,
            sliced: true,
            selected: true
        }, {
            name: 'Web',
            
            y: 75
            
        }, {
            name: 'Tablet',
            color: '#93c83d',
            y: 0
        },
        {
            name: 'Telivision',
            color: '#93c83d',
            y: 0
        }]
    }]
});
}

function piechartdiv(){

    $('#container').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
		
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            size: '100%',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Earnings',
        colorByPoint: true,
        data: [{
            name: 'CPA',
            color: '#0b99d7',
            y: {{cpa}}/{{lt_earnings}},
            sliced: true,
            selected: true
        }, {
            name: 'CPR',
            color: '#7cb5ec',
            y: {{cpr}}/{{lt_earnings}}
            
        }, {
            name: 'RS',
            color: '#93c83d',
            y: {{rs}}/{{lt_earnings}}
        }]
    }]
}, function(chart) { // on complete
                if({{cpr}}<=0 && {{rs}} <= 0 && {{cpa}} <=0){
                        chart.renderer.text('No Data Available', 180, 160)
						
                            .css({
                                color: '#4572A7',
								fontFamily: 'roboto',
                                fontSize: '16px',
								
                            })
                            .add();
                }
				
			
            });
}


function stackedbarchart(){
    
    $('#stackedcontainer').highcharts({
    chart: {
        type: 'bar',
        spacingLeft: 20,
        spacingRight: 30
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Web', 'Mobile', 'Tablet', 'TV']
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total Clicks, Registrations, FTD'
        }
       
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
 
    // plotOptions: {
    //     column: {
    //         stacking: 'normal',
    //         dataLabels: {
    //             enabled: true,
    //             color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
    //         }
    //     }
    // },
    series: {{device_report|safe}}
    });

}

function areachart(){
    var dates_list = {{bar_dates_list|safe}} ;
    var barchart_data = {{barchart|safe}} ;
    $('#areacontainer').highcharts({
    chart: {
        type: 'line'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: {{bar_dates_list|safe}},
    },
    yAxis: {
        title: {
            text: 'Revenue in EURO'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: {{area_chart|safe}}
    });

}

function barchartdiv(){
    var dates_list = {{bar_dates_list|safe}} ;
    var barchart_data = {{barchart|safe}} ;
    $('#barcontainer').highcharts({
    chart: {
        type: 'column',
        spacingTop: 10,
        spacingBottom: 15,
        spacingLeft: 10,
        spacingRight: 30
    },
    title: {
        text: ''
    },
 xAxis: {
        categories: {{bar_dates_list|safe}},
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Clicks, FTD, Registrations'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: {{barchart|safe}}
});
}

function circlecharts(){
    var deviedata = {{device_report|safe}};
    var device_data = {{device_data|safe}};
    $('#devicetest').highcharts({
            chart: {
                renderTo: 'container',
                type: 'pie'
                
            },
            title: {
                text: ''
            },
            yAxis: {
                title: {
                    text: 'Device Share'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    size: '100%'
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.y +' ';
                }
            },
            series: [{
                name: 'Browsers',
                data: [{name:"Mobile",y:deviedata[0]['data'][1], color: '#0b99d7'},{name:"Web",y:deviedata[0]['data'][0], color: '#93c83d'}],
                size: '100%',
                innerSize: '80%',
                showInLegend:true,
                dataLabels: {
                    enabled: false
                }
            }]
        }, function(chart) { // on complete
                if(deviedata[0]['data'][1]<=0 && deviedata[0]['data'][0] <= 0){
                        chart.renderer.text('No Data Available', 180, 160)
                            .css({
                                color: '#4572A7',
                                fontSize: '16px'
                            })
                            .add();
                }
            } );

    $('#devicecircle').highcharts({
            chart: {
                renderTo: 'container',
                type: 'pie'
            },

            title: {
                text: ''
            },
            yAxis: {
                title: {
                    text: 'Revenue between Devices.'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    size: '100%'
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.y +'';
                }
            },
            series: [{
                name: 'Browsers',
                data: [
                        {name:"Mobile",y:device_data[0], color: '#0b99d7'},
                        {name:"Web",y:device_data[1], color: '#93c83d'},
                    ],
                size: '100%',
                innerSize: '70%',
                showInLegend:true,
                dataLabels: {
                    enabled: false
                }
            }]
 


}, function(chart) { // on complete
                if(device_data[0]<=0 && device_data[1] <= 0){
                        chart.renderer.text('No Data Available', 180, 160)
                            .css({
                                color: '#4572A7',
								align:"center",
								fontFamily: 'roboto',
                                fontSize: '16px'
                            })
                            .add();
                }
            });
    
    $('#registertest').highcharts({
            chart: {
                renderTo: 'container',
                type: 'pie'
            },
            title: {
                text: ''
            },
            yAxis: {
                title: {
                    text: 'Registration to FTD Share'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    size: '100%'
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.y +'';
                }
            },
            series: [{
                name: 'Browsers',
                data: [
                        {name:"Reg",y:{{lt_registrations|safe}}, color: '#7cb5ec'},
                        {name:"FTD",y:{{lt_ftd|safe}}, color: '#0b99d7'}
                    ],
                size: '100%',
                innerSize: '80%',
                showInLegend:true,
                dataLabels: {
                    enabled: false
                }
            }]
        }, 
		
function(chart) { // on complete
                if({{lt_registrations|safe}}<=0 && {{lt_ftd|safe}} <= 0){
                        chart.renderer.text('No Data Available', 180, 160)
                            .css({
                                color: '#4572A7',
                                fontSize: '16px'
                            })
                            .add();
                }
            } );
}

function highlightDays(date) {
                for (var i = 0; i < reminders.length; i++) {
                   if( (new Date(reminders[i].start).getTime()) 
                           <= date.getTime() 
                          &&  (date.getTime()) 
                           <= (new Date(reminders[i].end).getTime()))
                    {              
                       return [true, 'ui-state-highlight',reminders[i].unit];
                    }else{
                       return [true, ''];  
                    }
               }          
          }
	
//function showdaterange(){
  //  if ($('#daterange-picker-container').css('display')=='none'){
  //      $('#daterange-picker-container').show();
  //  }
  //  else{
  //      $('#daterange-picker-container').hide();
  //  }
  //  };

jQuery(document).ready(function() {
    $(".preloader").show();
    circlecharts();
    barchartdiv();
   piechartdiv();
   stackedbarchart();
   areachart();
   circlecharts();
   devicepie();

   // $('#daterange1').daterangepicker({
   //  numberOfMonths : 3,
   //  initialText : 'Select period...',
   //  onSelect: function (date, obj) {
   //                  alert("You selected: " + date);
   //              },
   //  }
   //  );
 //   $('#daterange').dateRangePicker({
 //      container: '#daterange-picker-container',
 //    numberOfMonths: 3,
	// duration: 200,
 //    datepickerShowing: true,
 //    defaultDate: '-1D',
 //    format: 'MM/D/YYYY',
 //    beforeShowDay: highlightDays,
 //    defaultDateRange: 'Custom',
 //    maxDate: '-1D',
 //    minDate: new Date(2012, 12, 29),
 //    test: false,
 //    today: null
 //    }
 //    );
   Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   Index.init();
   // Index.initDashboardDaterange();
   egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}');
   Index.initJQVMAP(); // init index page's custom scripts
   //Index.initCalendar(); // init index page's custom scripts
   //Index.initCharts(); // init index page's custom scripts
   //Index.initChat();
   Index.initMiniCharts();
   //Tasks.initDashboardWidget();
   //FormiCheck.init(); // init page demo  
   //egcsTools.initDashboardDaterange("left");
   egcsTools.initNavigation();
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var domain = '{{domain|safe}}'
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
       $('.digg_pagination').html(decoded);
    if (domain != 'None'){
       $('#siteselect').html(domain);
    }

   addPlayerslistDataTable(header_list, data_list);
   
   // fromdate = $.datepicker.formatDate('M dd, yy', new Date('{{from_date}}'))
   // todate = $.datepicker.formatDate('M dd, yy', new Date('{{to_date}}'))
   // $('#daterange').val(fromdate + ' - ' + todate);
   // $('#drp-input-startdate').val(fromdate);
   // $('#drp-input-enddate').val(todate);
   // $(".network_devices a").click(function(event){
   //      var channel = $(this).attr("channel");
   //      $("#ChannelID").val(channel);
   //      event.preventDefault();
   //      dashbord_submit_form();
        
   //  });
   // $("#drp-btn-apply").click(function(event){
   //      startdate = $.datepicker.formatDate('mm/dd/yy', new Date($('#drp-input-startdate').val()));
   //      enddate = $.datepicker.formatDate('mm/dd/yy', new Date($('#drp-input-enddate').val()));
   //      $('#daterange').html(startdate + ' - ' + enddate);
   //      $('#DashBoardFromDate').val(startdate);
   //      $('#DashBoardToDate').val(enddate);
        
   //  });

   $('#dashboard-report-range').find('span').attr('style', "display:'';" );
   $('#dashboard-report-range').find('span').removeClass('visible-lg-inline-block');
   $('rect').attr('rx',0);
   $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
});



$(window).resize(function(){
	if ($(window).width() <= 500){	
		
		
	}	
});

// $(function() {

//     var start = moment().subtract(29, 'days');
//     var end = moment();

//     function cb(start, end) {
//         $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
//     }

//     $('#daterange').daterangepicker({
//         startDate: start,
//         endDate: end,
//         "linkedCalendars": false,
//         alwaysShowCalendars: true,
//         ranges: {
//            'Today': [moment(), moment()],
//            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
//            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
//            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
//            'Last 90 Days': [moment().subtract(89, 'days'), moment()],
//            'This Month': [moment().startOf('month'), moment().endOf('month')],
//            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
//         }
//     }, cb);

//     cb(start, end);
    
// });

function show_sites(){
    //$("#siteFilter").toggle(850)
    if ($("#siteFilter").is(':visible')) {
        $("#siteFilter").slideUp('slow');
    }
    else{
        $("#siteFilter").slideDown('slow');
    }
}

function siteselectAll(){
    //var a = $("#SiteListDiv").find('input:checkbox');
    //$(a).attr('checked','checked');
    
    $("#SiteListDiv .icheckbox_minimal-grey").addClass('checked')
    $("input[name='siteids'").attr("checked", "checked");
}

function siteclearAll(){    
    //var a = $("#SiteListDiv").find('input:checkbox');
    //$(a).removeAttr('checked');
    
    $("#SiteListDiv .icheckbox_minimal-grey").removeClass('checked')
    $("input[name='siteids'").removeAttr("checked");
}
function dashbord_submit_form(){
    $("form[name=DashBoardForm]").submit();
}


function drawCanvas(text, context, textx, texty){
    context.fillStyle = "#A7A6AB";
    context.beginPath();
    var radius = 30; // for example
    context.arc(40, 35, radius, 0, Math.PI * 2);
    context.closePath();
    context.fill();
    context.fillStyle = "#fff"; // font color to write the text with
    var font = "bold 15px 'Open Sans', sans-serif";
    context.font = font;
    context.textBaseline = "top";
    context.fillText(text, textx-radius/4 ,texty-radius/2);
}


</script>
<!-- END JAVASCRIPTS -->
<script>

//paste this code under head tag or in a seperate js file.
// Wait for window load
$(window).load(function() {
    // Animate loader off screen
    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
});

function show_intel(){
if ($(".left-side-section-fixed").css('display') == "none"){
    $(".hidden-sm").find('a').click();
    $(".full-div-main").addClass("col-md-9").css({"margin-left": "-16px"});
	$(".page-container .main-content .page-title").css({"margin" : "0px" , "margin-bottom" : "19px"});
    $(".full-four-section").addClass("col-lg-3")
    $(".full-four-section").css({"width": "100%"});
    $(".left-side-section-fixed").addClass("col-md-3").show();
}
else{
    $(".full-div-main").removeClass("col-md-9").css({"margin-left": "0px"});
    $(".full-four-section").addClass("col-md-12")
	$(".page-container .main-content .page-title").css({"margin" : "-30px" , "margin-bottom" : "19px"});
    $(".full-four-section").css({"width": "50%"});
    $(".left-side-section-fixed").removeClass("col-md-3").hide();
    $(".hidden-sm").find('a').click();
}
}
</script>

<script src="/static_files/assets/js/slick.js" type="text/javascript" charset="utf-8"></script>

       <script type="text/javascript">
    $(document).ready(function(){
      $(".center").slick({
        autoplay:true,
  autoplaySpeed:1500,
         slidesToShow: 1,
  slidesToScroll: 1,
  
      });
	  
	  $('#daterange').on('show.daterangepicker', function(ev, picker) {
  //do something, like clearing an input
  //$("body").css({"position":"fixed", "overflow":"hidden"});
});
$('#daterange').on('hide.daterangepicker', function(ev, picker) {
  //do something, like clearing an input
  //$("body").css({"position":"", "overflow":""});
});
	  
	 
    });
  </script>
  <!-- Include Required Prerequisites -->



<!-- Date Pickers -->

<!-- Include Required Prerequisites -->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<!-- Date Picker Ends -->


<script type="text/javascript">
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
		
		
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
		isCustomDate: function(){
		},
		
		alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
	
	$(".daterangepicker .ranges li:last").click(function() {
		$(".daterangepicker .ranges li").removeClass('active');$(this).addClass("active");
	});
    
});
</script>

<script type="text/javascript">
							$(document).ready(function(){
							$(".sidebar-nav > ul > li").addClass("active"); 
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
	
	
});
							</script>
							
							
<div class="overlay" id="remove-overlay" style="/* display: none; */"></div>

</body>
</html>
