<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="author" content="" />

    <title>{{partner}} - Campaigns Admin</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">


     <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
     <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> 
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.32/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script> 
    <script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<style type="text/css">

#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: none;
}

#daterange {
    margin-left: 0 !important;
    margin-top: -3px !important;
}
	
	
</style>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            
        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Campaigns Admin</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Campaign</a></li>
                        <li class="breadcrumb-item active">Campaigns Admin</li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row p-l-r-10">
			<div class="col-lg-12 p-l-0 p-r-0">
			<div class="card-title">
                              
                              <form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();">  
                    
                                               
                      <input type="hidden" name="format" value="json" />
                                
                              <div class="col-lg-6 col-md-8 pull-left p-l-0">
                                
                         <div class="pull-left date-range-class" id="daterange" style="">
                            &nbsp; 
                            <span>{{from_date}} - {{to_date}}</span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> 
                         </div> 
                         
                         <input type="submit" value="Submit" class="submit_button-small">
                        
                    </div>  

                    <div class="col-lg-6 col-md-4 pull-right export-buttons export-aff p-r-0">	
                    
                        <ul>
                           
                            <li><button type="button" class="buttons-gray btn-export-all btn btn-default btn-sm">
                            <i class="fa fa-external-link"></i>&nbsp; Export</button></li>
                        </ul>

                    </div>                  
                                
                            </div>
                    </div>

                    </div>
                    
                    
                    
                    <div class="row">
                                    <div class="col-md-12" style="display:none;">
                                        
                                       
                                               
                                                
                                                <input type="hidden" id="sitename" name="sitename" value="All" required="True"/>
                                                  <input type="hidden" name="format" value="json" />
                                                
                                                
                                                <div class="row date-right-mobile-none mobile-left-date" style="margin-bottom: -15px;float:right;">
                                                <div class="col-md-12 form-group adjust-top-bottom-dash adjust-top-bottom-dash1">
                                                
                                                   
                                                    
                                                </div> 
                                                

                                            </div>
                                                
                                      
                                                <!-- SITE SELECTION -->
   
            <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <div class="portlet-title">
                    
                </div>
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
                                
                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
           <br/>
                        </form>
            <!-- END SAMPLE FORM PORTLET-->
                                                
                                              
                                            
                                    </div>
                                </div>
                    
                    
                
               <div class="row p-l-r-10">
  
<div class="table-responsive">  
<table class="table table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" ></table>
</div>
<br/>
               <nav class="mobile-pagination-display" style="float: right;
    display: block;
    position: relative;
    top: -25px;">
                  <ul class="pagination" style="margin: 5px 0 10px 0">
  
</ul>

                </nav>
            
          </div> <!-- First Row -->
          
          </div> <!-- First div card -->
          
          

                <!-- End PAge Content -->
            </div>
                
                
                {% include "affiliates/new_design/footer-1.html" %}
                
            </div>
        <!-- End Page wrapper  -->
    </div>
		<div class="row" id="get-code" style="display:none;width: 30%;
    background: rgb(255, 255, 255);
    height: 125px;
    position: fixed;
    top: 25%;
    z-index: 999999;
    left: 40%;">
                <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
            
                    <div class="panel panel-default bottom-padding" style="width: 100%;background:#fafafa; margin-top:0px; height:310px; padding:0px;">
                        <div class="panel-heading" style="background:#36a9e1;">
                            <h3 class="panel-title" style="    width: 100%;
    text-align: center;
    display: inline-block;
    height: 35px;
    line-height: 42px;
    color: #fff;
    font-size: 17px;">Get your code:</h3>
                            <div class="panel-options" style="">
                                
                                    <img src="/static_files/assets/images/delete-button.png" onclick="checknothanks(this)" style="position: relative;
    top: -30px;
    right: 7px;
    float: right;
    cursor: pointer;">
                                
                                
                            </div>
                        </div>
                        <div class="panel-body">
            
                                <div class="form-group">
                                
                                <div class="col-md-12">
                                
                                    <div class="form-group">
                                      <label for="comment" class="popup-display">Javascript</label>
                                      <div class="copy" title="Copy" data-toggle="tooltip" title="Copy" onclick="copyToClipboard('#js-code')">Copy</div>
                                      <textarea class="form-control" rows="3" id="js-code" style="height:auto;"></textarea>
                                    </div>
                                
                                </div>
                                
                                <div class="col-md-12">
                                
                                    <div class="form-group">
                                      <label for="comment" class="popup-display">HTML / HTML5 Code </label>
                                      <div class="copy" title="Copy" data-toggle="tooltip" title="Copy" onclick="copyToClipboard('#image-code')">Copy</div>
                                      <textarea class="form-control" rows="4" id="image-code" style="height:auto;"></textarea>
                                    </div>
                                    
                                
                                </div>
        </div>
        
    
    </div>
	
	</div>
	
	</div>
	
	</div>
		</div>
	
<!-- HIGHCHARTS END-->


<script type="text/javascript">

function addPlayerslistDataTable(headersList, dataList){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    var header_s = ""
    $("#player_data").dataTable({
        "data": dataList,
       "columns":headersList,
       dom: 'Bfrtip',
        buttons: [
            'csv'
        ],
        fixedHeader: true,
        "iDisplayLength": 30,
       "createdRow": function( row, data, dataIndex ) {
               $(row).attr('id', 'order_'+data[0]);
           },
       //"scrollX": true,
       paging: true,
       searching: false,
       info: false,
       fixedHeader: {
            header: true,
            footer: true
        },
        dom: 'Bfrtip',
        buttons: [
            'csv',
            'excelHtml5',
            'pdfHtml5'
        ],
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
          });
   
   	
}

function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
	  $("body").css('position' , 'relative');
  };


function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).val()).select();
  document.execCommand("copy");
  $temp.remove();
  $(element).select();
}

function getcode(ele){
	url = $(ele).attr('hrefs');
	imagelink = $(ele).attr('bannerlink');
	banner_link = '<a href="https://ads.maxiaffiliates.com/redirect.aspx?mid=1005&sid=3243&cid=" target="_blank" > <img alt="" src="https://ads.maxiaffiliates.com/renderimage.aspx?mid=1005&sid=3243&cid=" border="0" style="display:none;" > </img><img alt="" src="https://brand.maxiaffiliates.com/Banners/20171116100223043.gif" border="0"></img></a>'
	$.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                	$('#link-code').val(data.linkurl);
                	$('#image-code').val('');
                	if (imagelink != ''){
                		banner_link = '<a href="'+data.linkurl+'" target="_blank"> <img alt="" src="'+data.linkurl+'" border="0" style="display:none;" > </img><img alt="" src="'+ window.location.hostname + imagelink+'"  border="0"></img></a>';
                		$('#image-code').val(banner_link);
                	}
                	var script = document.createElement( 'script' );
					script.type = 'text/javascript';
					script.src = data.linkurl;
					$("#js-code").val(script.outerHTML);
                	// $('#js-code').val(js_link+);
                    $('#get-code').show();
					 
                    $("#cover").show();
					$("body").css('position' , 'fixed');
	
                    $('.panel-body').show();
                }
                else{
                	$('#alert-error-msg').html(data.error_message);
                	$('#error_msg').show();
					 
                }
          }
    });
    return false;

}

function ajaxsubmitFormData(){
    var search_form = $("#DashBoardFormID");
    // if(!siteselected){
    //     alert("Please select at least one site.");
    //     return false;
    // }
    if(window.siteload == true){
        return true;
    }
    data_set = search_form.serialize()
    data_set = data_set.replace('sitename','');
    // ajaxBlockUI($(".page-content"))
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: data_set,
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    $('.digg_pagination').html("");
                    //var decoded = $('<div />').html(data.pagination_div).text();
                    $('.digg_pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list);
                    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
                }
          }
    });
    return false;
}


jQuery(document).ready(function() { 
	// $('#daterange').dateRangePicker({
 //      container: '#daterange-picker-container',
 //    numberOfMonths: 3,
	// duration: 200,
 //    datepickerShowing: true,
 //    defaultDate: '-1D',
 //    format: 'MM/D/YYYY',

 //     MONTH_TO_DATE
 //       YEAR_TO_DATE
 //       LAST_WEEK
 //       LAST_MONTH
 //       LAST_7_DAYS
 //       LAST_30_DAYS 
 //    defaultDateRange: 'Custom',
 //    maxDate: '-1D',
 //    minDate: new Date(2012, 12, 29),
 //    test: false,
 //    today: null
 //    }
 //    );

	Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
	egcsTools.initNavigation();
   egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}'); 
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
   $('.digg_pagination').html(decoded);

   addPlayerslistDataTable(header_list, data_list);
   // $('select[name="player_data_length"] option:eq(0)').prop('selected', true);
 
   // $("#player_data2").dataTable();
   // fromdate = $.datepicker.formatDate('M dd, yy', new Date('{{from_date}}'))
   // todate = $.datepicker.formatDate('M dd, yy', new Date('{{to_date}}'))
   // $('#daterange').val(fromdate + ' - ' + todate);
   // $('#drp-input-startdate').val(fromdate);
   // $('#drp-input-enddate').val(todate);
   // $(".network_devices a").click(function(event){
   //      var channel = $(this).attr("channel");
   //      $("#ChannelID").val(channel);
   //      event.preventDefault();
   //      dashbord_submit_form();
        
   //  });
   // $("#drp-btn-apply").click(function(event){
   //      startdate = $.datepicker.formatDate('mm/dd/yy', new Date($('#drp-input-startdate').val()));
   //      enddate = $.datepicker.formatDate('mm/dd/yy', new Date($('#drp-input-enddate').val()));
   //      $('#daterange').html(startdate + ' - ' + enddate);
   //      $('#DashBoardFromDate').val(startdate);
   //      $('#DashBoardToDate').val(enddate);
        
   //  });
   $('rect').attr('rx',0);
   
   $('#dashboard-report-range').find('span').attr('style', "display:'';" );
   $('#dashboard-report-range').find('span').removeClass('visible-lg-inline-block');
});

		function toggleSampleChatWindow()
		{
			var $chat_win = jQuery("#sample-chat-window");
	
			$chat_win.toggleClass('open');
	
			if($chat_win.hasClass('open'))
			{
				var $messages = $chat_win.find('.ps-scrollbar');
	
				if($.isFunction($.fn.perfectScrollbar))
				{
					$messages.perfectScrollbar('destroy');
	
					setTimeout(function(){
						$messages.perfectScrollbar();
						$chat_win.find('.form-control').focus();
					}, 300);
				}
			}
	
			jQuery("#sample-chat-window form").on('submit', function(ev)
			{
				ev.preventDefault();
			});
		}
	
		jQuery(document).ready(function($)
		{
			$(".footer-sticked-chat .chat-user, .other-conversations-list a").on('click', function(ev)
			{
				ev.preventDefault();
				toggleSampleChatWindow();
			});
	
			$(".mobile-chat-toggle").on('click', function(ev)
			{
				ev.preventDefault();
	
				$(".footer-sticked-chat").toggleClass('mobile-is-visible');
			});
		});
		</script>



<script type="text/javascript">
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
	
	
});
                            </script>


<div id="cover" style="display:none;"> </div>
</body>
</html>