<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Tajrummy</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

<link href="/static_files/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/static_files/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body class="aff_body">

<!--HEADER STARTS HERE-->


<div align="center">

{% include "affiliates/header_affiliates.html" with obj=obj %}

</div>


</div>
<!--HEADER ENDS HERE-->

 <div align="center">
 


{%if not obj%}
<div id="Top_inner_page_body1" style="padding:90px 0px 0px !important; height:340px !important; ">
</p>{%endif%}

<script type="text/javascript">
$(document).ready(function(){
	
	var affiliate_login = "{{response}}";

if(affiliate_login == "Your UserName or Password is not corrrect.")
{
	//alert(response);
  $('.affiliate_form h5').addClass('aff_errmsg');
}

});
</script>


<div id="Top_inner_page_body" >

<div class="main_Menu aff_menu">

{%if not obj%}
<p style="font-size: 24px; line-height: 48px;  margin-left: 20px;  padding-top: 10px;">Affiliate Login
</p>{%endif%}
<span>
</div>

<div class="affiliates_block">

<div class="main">

{% if not obj %}
<div class="affiliate_form">

<h5>{{response}}</h5>
<form action='/affiliate-signin/' method='POST' name='signin'>
 {% csrf_token %}
 
 <table cellpadding="0" cellspacing="0" border="0">
 
 <tr><td align="right"><label>Username :</label></td><td align="left"><input type='text' name='username' value=''/></td></tr>
 <tr><td align="right"><label>Password :</label></td><td align="left"><input type='password' name='password' value=''/></td></tr>
 <tr><td></td><td align="right"><input type="submit" value="login" class="login" name="login"/></td></tr>
 
 </table> 
    
</form>

</div>
{%endif%}



{%if obj%}

<p align="left" class="Body_header aff_title">Account Information</p>
<!--<img width="980" height="24" src="/static_files/images/Taj_rummy_line_2.png" style="float:left;">-->
<div class="clear"></div>

<div>

<div class="affiliate_form aff_ind">


<form action='/affiliate-account/' method='POST'>
{% csrf_token %}

<table cellpadding="0" cellspacing="0" border="0">
  
<tr><td align="right"><label>User Name:</label></td><td align="left"><input type='text' value='{{obj.username}}' name='username' readonly=True/></td></tr>

<tr><td align="right"><label>Contact Name:</label></td><td align="left"><input type='text' value='{{obj.contactname}}' name='contactname'/></td><tr/>

<tr><td align="right"><label>Company Name:</label></td><td align="left"><input type='text' value='{{obj.companyname}}' name='companyname'/></td><tr/>

<tr><td align="right"><label>Email:</label></td><td align="left"><input type='text' value='{{obj.email}}' name='email'/></td><tr/>

<tr><td align="right"><label>Address:</label></td><td align="left"><input type='text' value='{{obj.address}}' name='address'/></td><tr/>

<tr><td align="right"><label>City:</label></td><td align="left"><input type='text' value='{{obj.city}}' name='city'/></td><tr/>


<tr><td align="right"><label>Country:</label></td><td align="left"><input type='text' value='{{obj.country}}' name='country'/>
</option></select></td><tr/>

<tr><td align="right"><label>State:</label></td><td align="left"><input type='text' value='{{obj.state}}' name='state'/></td><tr/>

<tr><td align="right"><label>Postcode:</label></td><td align="left"><input type='text' value='{{obj.postcode}}' name='postcode'/></td><tr/>

<tr><td align="right"><label>Telephone:</label></td><td align="left"><input type='text' value='{{obj.telephone}}' name='telephone'/></td><tr/>

<!--<tr><td align="right"><label>Creation IP:</label></td><td align="left"><input type='text' value='{{obj.ipaddress}}' name='ipaddress'/></td><tr/>

<tr><td align="right"><label>Registered on:</label></td><td align="left"><input type='text' value='{{obj.registeredon}}' name='registeredon' readonly=True/></td><tr/>

<tr><td align="right"><label>Status:</label></td><td align="left"><input type='text' value='{{obj.active}}' name='active' readonly=True/></td><tr/>-->

<tr><td colspan="2" align="center"><input type="submit" value="save" class="sub_bu11" /></td></tr>

</table>

</form>

</div>

<div class="details">


<div class="payment_info">

<table cellpadding="0" cellspacing="0" border="0" width="100%" class="info">
<tr style="background:#6D0019;"><td style="width:35%"><h6>Payment Information</h6></td><td style="width:65%"></td></tr>

<tr style="background:#cccccc;"><td style="width:35%"><h6 class="inf">Cheque Details</h6></td><td style="width:65%"></td></tr>

<tr><td colspan="2" >

<table width="100%">

<tr><td width="32%">Cheque Payable to:</td>
<td style="padding:0px !important;">
<table cellpadding="0" cellspacing="0" border="0">
{%for i in cheque %}
<tr>
<td style="width:68%">{{i.chequepayableto}}

</td>

</tr>
{%endfor%}

</table>


</td></tr>

</table>

</td></tr>

<tr style="background:#cccccc;"><td style="width:35%"><h6 class="inf">Bank Details</h6></td><td style="width:65%"></td></tr>

<tr>

<td width="35%">
<table cellpadding="0" cellspacing="0" border="0" width="100%">

<tr><td>Account No: </td></tr>
<tr><td>IFSC Code: </td></tr>
<tr><td>Account Type: </td></tr>
<tr><td>Account Name: </td></tr>
<tr><td>Bank Name: </td></tr>
<tr><td>Bank Address:</td></tr>
</table>
</td>

<td width="65%">
<table cellpadding="0" cellspacing="0" border="0" >
{%for i in wire %}

<tr><td>{{i.accountnumber}}</td></tr>
<tr><td>{{i.ifsccode}} </td></tr>
<tr><td>{{i.accounttype}} </td></tr>
<tr><td>{{i.accountname}} </td></tr>
<tr><td>{{i.bankname}} </td></tr>
<tr><td>{{i.bankaddress}}</td></tr>

{%endfor%}
</table>
</td>

</tr>

</table>





</div>

<div class="clear"></div>





</div>

<div class="clear"></div>
</div>
</div>

</div>

</div>


{%endif%}

<div class="clear"></div>   

</div></div></div></div></div></div>
<!--FOOTER STARTS HERE-->
<div align="center" id="Footer">
<div class="Footer_inner">
{% include "affiliates/footer_affiliates.html" %}
</div>
</div>
<!--FOOTER ENDS HERE-->        
</body>


</html>