<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}- Marketing Material</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  

   
    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">


<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#multiple-checkboxes').multiselect({
                includeSelectAllOption: true,
				enableFiltering: true,
				enableCaseInsensitiveFiltering: true,
				nonSelectedText: 'Select Brand'
            });
			
			$('#multiple-checkboxes1').multiselect({
                includeSelectAllOption: true,
				enableFiltering: true,
				enableCaseInsensitiveFiltering: true,
				nonSelectedText: 'Dimensions'
            });
			
			$("#multiple-checkboxes, #multiple-checkboxes1").multiselect('updateButtonText');
$("#multiple-checkboxes, #multiple-checkboxes1").show();
    $("#multiple-checkboxes, #multiple-checkboxes1").multiselect('select', {{siteid|safe}});
            $('#btnSelected').click(function () {
                var selected = $("#multiple-checkboxes option:selected, #multiple-checkboxes1 option:selected");
                var message = "";
                selected.each(function () {
                    message += $(this).text() + " " + $(this).val() + "\n";
                });
                alert(message);
            });
        });
		
		
    </script>

    
	<style type="text/css">
	
	.material-icons {margin-top:10px;}
	
	@media screen and (min-width: 769px) and (max-width: 945px) 

{

.material-block {max-width:100% !important;}
	ul.banner-images-show {
   padding-left:80px !important;
    padding-top: 20px !important;
	padding-bottom:20px !important;
}
}
	
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 

{
  
  ul.banner-images-show {
    padding: 130px !important;
    padding-top: 20px !important;
	padding-bottom:20px !important;
}
  
  .material-block {
    margin: 7px !important;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px !important;
    height: 230px;
    background: #fff;
	    flex: 45% !important;
    max-width: 45% !important;
    border: 1px solid #ccc;
    padding-top: 25px !important;
}

.nav-tabs > li > a {font-size:12px !important;}

}
	
	
	
	
	.nav.nav-tabs>li>a.active {
    border: 0;
    background-color: #fff; color:#0091e0;
}
	
	.nav-tabs>li>a {
    border: none;
    background-color: #f4f4f4;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.nav>li>a {
  
    display: block;
 
}
	
	ul.nav-tabs>li>a {border: none;
    background-color: #f4f4f4; padding-top:10px; padding-bottom:10px;
    margin-right: 5px;

    cursor: pointer;}
	
	ul.nav-tabs>li.active>a {
    border: 0;
    background-color: #fff;
}
	
	ul.nav-tabs > li.active > a, ul.nav-tabs > li > a:hover {
    border: none;
    color: #19b8f8 !important;
    
}
	
	
  .image-material-big {height:auto !important; margin-top:28px !important; }
	
	.maxhight {    text-align: center;
    height: 70px !important;
    margin: 0 auto;
    margin-top: 15px;}
	
	@media (max-width: 768px) {
		.card {
    padding-left:20px !important;
}

	}
	
	   @media only screen and (max-width: 765px) {
	   
	   
	   .image-material {margin-top:0px !important;}
	   
	   .material-para {width:100% !important; text-align:center;}
	   
	   .card ul li {
    width: 48%;
}
ul.nav-tabs>li>a {border-bottom:1px solid #ccc;}
	   
	   .video-block-mobile {padding-right:20px !important;}
	   
	 
	   
			.page-container .main-content .main-footer {
    position: relative !important;
    right: 0;
    bottom: 0;
    left: 0;
}
	   
	   }

.card1 {z-index: inherit;}

   footer.main-footer {}

.uppercase {left:-14px !important;}
	.calender-adjust { padding-right: 20px;}

	.drop-icon-dash1 {
    position: absolute;
    z-index: 999;
    left: 285px;
    font-size: 15px;
    top: 6px;
    color: #19b8f8;
}

.daterangepicker {
    right: 277px !important;
}

	.table>thead>tr>td, .table>tbody>tr>td, .table>tfood>tr>td, .table>thead>tr>th, .table>tbody>tr>th, .table>tfood>tr>th {
	text-align: center;
	}

	.page-container .main-content {
		word-break: initial;
	}
	div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
    div.container {
        width: 80%;
    }
	
	.daterangepicker {}
    .applyBtn, .cancelBtn {padding: 5px 17px;}
    .dropdown-menu.daterangepicker .ranges ul li {padding:8px !important;}
	
	#cover{ position:fixed; top:0; left:0; background:rgba(0,0,0,0.3); z-index:5; width:100%; height:100%; display:none; } 
	.aadhar-back {   
    display: none;
    width: 420px;
    background: #ffffff;
    height: 155px;
    position: fixed;
    top: 50%;
    z-index: 999;
    left: 42%;
    transition: 2s ease;
    -moz-transition: 2s ease;
    -webkit-transition: 2s ease;
    -o-transition: 2s ease;}
    #player_data tr th {
    	width:78px !important;
    }
    .dataTables_wrapper table.dataTable thead>tr>th {
    padding-left: 20px;
    padding-right: 40px;
}

.mttc {
    background: URL(/static_files/assets/images/traking-code.jpg) 0 0 no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 10px;
}

.mtflash {
    background: URL(/static_files/assets/images/flash.jpg) 0 0 no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 10px;
}

.mttext {
    background: URL(/static_files/assets/images/text-links.jpg) 0 0 no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 10px;
}

.mtvd {
    background: URL(/static_files/assets/images/videos.jpg) 0 0 no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 10px;
}
.mtss {
    background: URL(/static_files/assets/images/screenshots.jpg) 0 0 no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 10px;
}

.mtmail {
    background: URL(/static_files/assets/images/mailers.png) 0 0 no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 10px;
}
footer.main-footer {
   
}
.mtgif {
    background: URL(/static_files/assets/images/gif.jpg) 0 0 no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 10px;
}
#daterange-picker-container {
display: block;
    position: absolute;
    z-index: 999;
    float: left;
    right: 15px;
    background: #f7f7f7; border:1px solid #ccc;
    margin: 1px; top:33px;
    padding: 10px;

}

.popup-display {    margin-bottom: 0;
    display: initial;}

#cover{ position:fixed; top:0; left:0; background:rgba(0,0,0,0.3); z-index:99999; width:100%; height:100%; display:none; } 
#daterange {cursor:pointer;}
#daterange:hover {background:#f6f6f6;}

.ui-datepicker-inline {border:none; margin-top:10px;}

#drp-select-daterange {margin-left:12px;}

#daterange {width:245px; text-align:center; float:right;}
#drp-input-startdate, #drp-input-enddate, #drp-select-daterange {width:20%; display:inline-block; background:#fff;}
    .aa-text-sec {text-align:center; margin-top:10px; font-size:14px; color: black;}
 .drop-menu-icon1 {position: absolute;
    right: 28px;
    top: 6px;}
   
    .aadhar-back ul li {    display: inline-block;
    padding: 10px;
    width: 140px; border:none; margin-top:15px; magin-bottom:15px; height:auto !important;}
	
	.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {float:none;}
	.panel {margin-top:0px !important;}
	#player_data_length {display:none;}
	.adjust-top-bottom-dash {    margin-bottom: -10px;
    margin-top: -7px;}
	
	
	
.bootstrap-select>.dropdown-toggle {margin-bottom:0;}	
.material-icons {overflow:hidden;}
.material-icons ul {list-style-type:none;}
.material-icons ul li {display:inline; float:left !important; padding:0px;}
	   
#nodata {    font-size: 16px !important;
    margin-top: 0px !important;
    text-align: center;
    display: block;
    line-height: 25px !important;}

.nav-tabs > li > a {}
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { margin-right:0px !important; font-size:14px; border: none; color: #000;background: #5a4080; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none;  color: #0091e0 !important; background: #ff000; }
        .nav-tabs > li > a::after { content: ""; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #39434e none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 10px 0; margin-left:40px; }
.tab-content{padding:20px}
.nav-tabs > li  {width:20%; text-align:center;}
.card1 {    border-bottom: 2px solid #ccc;
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: none;
    margin-bottom: 30px;
    width: 97%;
    margin-left: 14px;
	}	   
  .nav>li>a>img {
    max-width: none;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.image-material {
    margin-bottom: 10px; margin-top:4px !important;
    /* height: 90px; */
    max-width: 100%;
    max-height: 50%;
}

.whbanner{
    font-size: 14px;
    font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-weight: bold;
}

.material-block {}

.card1 ul li {border-right:1px solid #ccc;} 

.card1 ul li a {font-weight:bold; color:#333;}

.card1 ul li:last-child {border-right:none;} 

#bannerdiv {margin-top:-32px; background:#fff;}

.nav.nav-tabs+.tab-content {padding:0;}

.tabed-ul {
    position: relative;
    left: 0px;
    padding-top: 0px;
}

.get-sec{
    position: absolute;
    bottom: 10px;
    left: 0; font-size:14px;
    right: 0;
	text-align: center;
    border: none;
    display: block;
    border-radius: 5px;
    background: #0091e0;
    color: #fff; cursor:pointer;
    padding: 8px;
    width: 45%;
    margin: 0 auto;
    margin-top: 10px; margin-left:9px;
}
.get-sec:hover {background: #1788c5;}


.download-button-m {padding: 8px;
    background: #0091e0;
    text-align: center;
    width: 45%;
    float: right;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    margin-top: -7px;
    margin-left: 3px;
    position: absolute; bottom:10px;}
	
	.download-button-m:hover {background: #1788c5; color:#fff;}
.material-para { display:block !important;
    font-size: 12px; width:100% !important;
    font-weight: bold;
    color: #787878;
    text-transform: capitalize;
    margin-top: -20px;
}

ul.banner-images-show {padding:20px;}

video {display:block; width:100%;}

.image-download {
    float: right;
    position: absolute;
    bottom: 18px;
    right: 15px;
    font-size: 22px !important;
}











.multiselect {width:100%;     height: 40px !important;
    border-radius: 5px !important;
    margin-bottom: 20px !important;}
	
	.multiselect-clear-filter {display:none !important;}
	
	.multiselect-search {margin-right:10px;}
	
	.multiselect-container>li>a>label {padding-left:0px; color:#000 !important;}
	
	.multiselect-selected-text {font-size:15px !important;}
	
	.dropdown-toggle::after {}
	
.multiselect-container {min-width:100% !important;}
	
	.search-field {    width: 220px !important;
    float: right;
    position: absolute;
    right: 15px;
    margin-bottom: 10px;
    border-radius: 5px !important;
    border-color: #0091e0 !important;}
	
	.search-icon {    right: 25px;
    position: absolute;
    margin-top: 10px;}
	
.mobile-search-show {display:none;}

.btn-group {width:100%;}

.web-search-show {display:block;}

@media screen and (max-width: 800px)  {


	
	.search-field {
    width: 100% !important;
    float: right;
    position: relative;
    right: 0;
    margin-bottom: 10px;
    border-radius: 5px !important;
    border-color: #0091e0 !important;
}

.search-icon {
    float: right;
    position: relative;
    margin-top: -36px;
    margin-right: 10px; right:0;
}

.mobile-search-show {display:block;}

.web-search-show {display:none;}

}

.egcs_submit_button {height:38px !important;}



.bootstrap-select {width:100% !important;}
.label-block {display:block;}
.bootstrap-select>.dropdown-toggle {
    width: 100%; font-size:14px;
    padding-right: 25px;
    z-index: 1;
    background: #fff;
    border: 1px solid #e7e7e7;
    height: 38px;
    border-radius: 0;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    display: block;
    max-height: 150px !important;
}

.dropdown-menu.show {margin-top:-1px;}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text,
.bootstrap-select.btn-group .dropdown-toggle .filter-option {color:#000;}


.bootstrap-select .dropdown-toggle:focus {outline:0 !important;}

.bootstrap-select.btn-group .dropdown-menu {padding-top:0; padding-bottom:0;}

.fixS {flex: 0 0 30% !important;
    max-width: 30% !important;}
	
	@media only screen and (max-width: 765px) {
		.fixS {flex: 0 0 100% !important;
    max-width: 100% !important;}
	
	.egcs_submit_button {margin-left:15px !important;}
	}
	

   </style>

	
	<script type="text/javascript">


        $(document).on("focus" , ".input-lg" , function () {

            $(this).removeAttr('placeholder');

        });

        $(document).on("focusout" , ".input-lg" , function () {

            if($(this).val() == ''){
                $(this).attr('placeholder' , "");
            }

        });

    </script>
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            
        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Marketing Material</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Marketing Material</li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
                              
                            <div class="table-toolbar" style="margin-top: 11px;position:relative; left:-8px;top:2px;">
                                <!--<input type="hidden" id="sitename" name="sitename" value="All" required="True"/>-->
                                                
                                                  <input type="hidden" name="format" value="json" />
                              
                                <div class="row">
                                    <div class="" style="width:100%;position:relative; left:8px;top:-5px;">
					
					<div class="container-fluid">
					
					<div class="row">
					
					<div class="form-group col-lg-3 col-md-3 col-sm-12 fixS">
							<select id="multiple-checkboxesa" class="selectpicker" tabindex="-98" name="sitename" style="display:none;">
                                                        <!-- <option value="ALL">ALL</option> -->
                                        {%for i in sites_obj_list %}
                                            {% if i.domain in site %}
                                            
                                            <option value="{{i.domain}}" selected="selected">{{i.name}}</option>
                                            {%else%}
                                            
                                            <option value="{{i.domain}}">{{i.name}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
	               </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-12 fixS">
                        <select id="language" class="selectpicker" tabindex="-98" name="language">
                            <option value="">Language</option>
                            <option value="English">English</option>
                            <option value="German">German</option>
                            <option value="Swedish">Swedish</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-3 col-md-3 col-sm-12 fixS">
                    <select id="size" class="selectpicker sizeSelect" tabindex="-98" name="size"> 
                        <option value="">Size</option>
                           </select> 
                    </div>

<div class="">
    <input type="button" value="Submit" onclick="get_mediamaterial(this)" class="btn  btn-success egcs_submit_button" style="display:none;"></div>
                                       
</div>

</div>

									   <div>
										
											<div class="material-icons" style="width: 100%;  padding-bottom:10px;">
     
	 
	 <div class="card1">
        <ul class="tabed-ul nav nav-tabs" role="tablist">
          <li role="presentation" name="B" onclick="change_mediatype(this)" class=""><a href="" aria-controls="home" role="tab" data-toggle="tab" class="active"><img src="/static_files/images/banners.png"><span>Banners</span></a></li>
          <li role="presentation" name="P" onclick="change_mediatype(this)"><a href="" aria-controls="profile" role="tab" data-toggle="tab"><img src="/static_files/images/page-panel.png"><span>Page Peels</span></a></li>
          <li role="presentation" name="LP" onclick="change_mediatype(this)"><a href="" aria-controls="messages" role="tab" data-toggle="tab"><img src="/static_files/images/landing.png"><span>Landing Pages</span></a></li>
          <li role="presentation" name="SS" onclick="change_mediatype(this)"><a href="" aria-controls="settings" role="tab" data-toggle="tab"><img src="/static_files/images/screenshots.png"><span>Screenshots</span></a></li>
          <li role="presentation" name="V" onclick="change_mediatype(this)"><a href="" aria-controls="settings" role="tab" data-toggle="tab"><img src="/static_files/images/videos.png"> <span>Videos</span></a></li>
          <!-- <li role="presentation" name="M" onclick="get_mediamaterial(this)"><a href="" aria-controls="settings" role="tab" data-toggle="tab"><img src="/static_files/images/videos.png"> <span>Mailer</span></a></li> -->
        </ul>
        
       
      </div>


<div class="form-group" id="bannerdiv">

									
									<ul class="banner-images-show" id="bannerul">

									
									</ul>
									
									
  </div> <!-- Pagination -->
									
									</div>
                                    <div id="nodata" style="color:green; font-size: 20px; margin-top: 98px; text-align: center; display: none;"></div>
									
									
							    </div>
 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Banner Code</h4>
        </div>
        <div class="modal-body">
          <img id="1" title="Banner Image" class="" src="/media/sites/Sticky Slots.png">
        </div>
		
		<div class="row">
		
			<div class="col-md-12 border">
			
				<p><strong>Campaign:</strong></p>
				<p>Select an existing campaign or create a new one.</p>
				
				<div class="col-md-12 padding-left-zero">
				
					<select name="device" tags="{{d}}" class="selectpicker select-width-fozil select-border" width="200">
                                        {%for i in devices%}
                                            {% if "{{i}}" == "{{d}}" %}
                                            <option value="{{i}}" selected="selected">{{i}}</option>
                                            {%else%}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
					
					<ul class="campaign-links">
					
					<li><a href="" class="link-button-all">Create Campaign</a></li>
					
					<li><a href="" class="link-button-all">Get Code</a></li>
					
					</ul>
				
				</div> <!-- end of select -->

			</div> <!-- First section -->
			
			<br/>
			
			
			<div class="col-md-12 border">
			
				<p><strong>Sub Campain options:</strong></p>
				<p>Write a friendly description for your marketing tool so you can easily recognize it in the reports.</p>
				
				
				<label>Description :</label><textarea rows="4" class="full-width"></textarea>
				
				<div class="col-md-12 padding-left-zero">
				
				<p>Please select the landing page you would like your traffic to be directed to.</p>
					
					<label>Landing Page:</label>
					
					<select name="device" tags="{{d}}" class="selectpicker select-width-fozil select-border" width="200">
                                        {%for i in devices%}
                                            {% if "{{i}}" == "{{d}}" %}
                                            <option value="{{i}}" selected="selected">{{i}}</option>
                                            {%else%}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
					
					<ul class="campaign-links">
					
					<li><a href="" class="link-button-all">Preview Page</a></li>
					
					
					</ul>
				
				</div> <!-- end of select -->

			</div> <!-- Second section -->
			
			<br/>
			
			
			
			<div class="col-md-12 border">
			
				<div class="col-md-6">
				
					<p>This code contains your unique link:</p>
					
					<ul class="third-left">
					
						<li>Highlight the complete code in the box below</li>
						<li>Copy the code</li>
						<li>Paste the code into your website/ mailer HTML</li>
					
					</ul>
				
				</div>
				
				<div class="col-md-6">
				
					<label>Landing Page:</label>
					
					<textarea rows="6" class="full-width"></textarea>
				
				</div> <!-- Thrid second section -->
				
				</div> <!-- end of select -->

			</div> <!-- Third section -->
			
			
		
		</div>
 
      </div>
      
    </div>
                                        
                                        </div>
                                    </div>
									
                                </div>
                            </div>
                            <!-- <div class="digg_pagination"></div><br/>  -->
                            
                        </div>
            
            
            
            
            
            
            
           
            
        </div>
    
            

    
    </div>
    
    {% include "affiliates/new_design/footer-1.html" %}
    <div class="row" id="get-code" style="display:none;width: 30%;
    background: rgb(255, 255, 255);
    height: auto;
    position: fixed;
    top: 25%;
    z-index: 9999999;
    left: 36%;">
                <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
            
                    <div class="panel-default bottom-padding" style="width: 100%;background:#fafafa; padding:0px; height:auto;">
                        <div class="panel-heading" style="background:#36a9e1;">
                            <h3 class="panel-title" style="width: 100%;
    text-align: center;
    display: inline-block;
    height: 28px; font-size:16px;
    line-height: 42px;
    color: #fff;">Get your code:</h3>
                            <div class="panel-options" style="">
                                
                                    <img src="/static_files/assets/images/delete-button.png" onclick="checknothanks(this)" style="position: relative;
    top: -30px;
    right: 7px;
    float: right;
    cursor: pointer;">
                                
                                
                            </div>
                        </div>
                        <div class="panel-body">
            
                                <div class="form-group">
                                
                                <div class="col-md-12">
                                
                                    <div class="form-group">
                                      <label for="comment" class="popup-display">Direct Link</label>
                                      <div class="copy" title="Copy" data-toggle="tooltip" title="Copy" onclick="copyToClipboard('#link-code')" >Copy</div>
                                      <textarea class="form-control" rows="2" id="link-code" style="height:auto;" readonly></textarea>
                                    </div>
                                
                                </div>
                                
                                <div class="col-md-12">
                                
                                    <div class="form-group">
                                      <label for="comment" class="popup-display">Javascript</label>
                                      <div class="copy" title="Copy" data-toggle="tooltip" title="Copy" onclick="copyToClipboard('#js-code')">Copy</div>
                                      <textarea class="form-control" rows="3" id="js-code" style="height:auto;" readonly></textarea>
                                    </div>
                                
                                </div>
                                
                                <div class="col-md-12" id="div-image-f">
                                
                                    <div class="form-group">
                                      <label for="comment" class="popup-display">HTML / HTML5 Code </label>
                                      <div class="copy" title="Copy" data-toggle="tooltip" title="Copy" onclick="copyToClipboard('#image-code')">Copy</div>
                                      <textarea class="form-control" rows="4" id="image-code" style="height:60px !important;overflow-y:scroll;" readonly></textarea>
                                    </div>
                                
                                </div>
        </div>
        
    
    </div>
    
    </div>
    
    </div>
    
    </div>
</div>
        <!-- End Page wrapper  -->
    </div>
    <!-- Page Loading Overlay -->
    <!-- <div class="page-loading-overlay">
        <div class="loader-2"></div>
        
    </div> -->
    
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

  
<script type="text/javascript">

function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
      $("body").css('position' , 'relative');
      $("body").css('overflow-y' , 'auto');
}

function getcode(affid, cid, imagelink, mediatype){
    url = "/affiliate/gettrackerlink/?camp_id="+cid+"&aff_id="+affid;
    // banner_link = '<a href="https://ads.maxiaffiliates.com/redirect.aspx?mid=1005&sid=3243&cid=" target="_blank" > <img alt="" src="https://ads.maxiaffiliates.com/renderimage.aspx?mid=1005&sid=3243&cid=" border="0" style="display:none;" > </img><img alt="" src="https://brand.maxiaffiliates.com/Banners/20171116100223043.gif" border="0"></img></a>'
    $.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                    $('#link-code').val(data.linkurl);
                    $('#image-code').val('');
                    if (imagelink != ''){
					$('#div-image-f').show();
					banner_link = '<a href="'+data.linkurl+'" target="_blank"> '
						if (mediatype == 'V'){
							banner_link = banner_link + '<video width="250" height="250" controls style="">\
                                <source src="http://'+window.location.hostname + imagelink+'" />\
                              </video>'
						}
						else{
							banner_link = banner_link +'<img alt="" src="http://'+ window.location.hostname + imagelink+'"  border="0"></img></a>';
                		}
                        $('#image-code').val(banner_link);
                    }
					else{
                        $('#div-image-f').hide();
                    }
                    var script = document.createElement( 'script' );
                    script.type = 'text/javascript';
                    script.src = data.linkurl;
                    $("#js-code").val(script.outerHTML);
                    // $('#js-code').val(js_link+);
                    $('#get-code').show();
                    $("#cover").show();
                    $("body").css('overflow-y' , 'hidden');
                    $('.panel-body').show();
                }
                else{
                    $('#alert-error-msg').html(data.error_message);
                    $('#error_msg').show();
                }
          }
    });
    return false;

}


function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).val()).select();
  document.execCommand("copy");
  $temp.remove();
  $(element).select();
}

function change_mediatype(ele){
    var media_type = $(ele).attr('name');
    $('#size').html('');
    $.each(sizes[$('#multiple-checkboxes').val()+ '-'+ media_type], function(key, value) {   
     $('#size').append($("<option></option>")
                    .attr("value",value)
                    .text(value)); 
    });
    $('.selectpicker').selectpicker('refresh');
    get_mediamaterial(ele);
}

$(".sizeSelect").selectpicker({
        noneSelectedText : 'Size'
    });

$('#multiple-checkboxesa').change(function() {
    $('li').find('a').removeClass('active');
	$('li[name="B"]').find('a').addClass('active');
    $('#size').html('');
    $('#size').html('<option value="">Size</option>')
    var media_type = $('a[role="tab"][class="active"]').closest('li').attr('name')
    $.each(sizes[$('#multiple-checkboxesa').val()+ '-'+ media_type], function(key, value) {   
     $('#size').append($("<option></option>")
                    .attr("value",value)
                    .text(value)); 
    });
	$('.selectpicker').selectpicker('refresh');
});

function get_mediamaterial(ele,){
    var sitename = $('#multiple-checkboxesa').val();
    var language = $('#language').val();
    var size = $('#size').val();
	if($(ele).attr('name') != undefined){
		var media_type = $(ele).attr('name');
		$('#size').html('');
		$('#size').html('<option value="">Size</option>')
		$.each(sizes[sitename+ '-'+ media_type], function(key, value) {   
		 $('#size').append($("<option></option>")
						.attr("value",value)
						.text(value)); 
		});
		$('.selectpicker').selectpicker('refresh');
	}
	else{
		var media_type = $('a[role="tab"][class="active"]').closest('li').attr('name');
    }
	data_dict = {csrfmiddlewaretoken: "{{ csrf_token }}", 'sitename': sitename, 
                media_type: media_type, 'size':size, 'language': language}
    if (window.location.href.split('bid=').length>1){
        url_d = window.location.href;
        var url_d = new URL(url_d);
        bid = url_d.searchParams.get('bid');
        data_dict['media_type'] = url_d.searchParams.get('mid');
        data_dict['bid']  = bid;
    }
    $.ajax({
          url: '/affiliate/gmarketdiv/',
          dataType: 'json',
          method: 'POST',
          async: false,
          data: data_dict,
          success: function(data) {
              	categorys = data.categorys
                bid = data.bid
              	banners = data.links
                if (data.status.toLocaleLowerCase() == 'error'){
                    //$("#error_spanID").html("Username already registered with Us.");
                    //$("#error_divID").show();
                    //$('#signupsubmit').attr('disabled','disabled');
                    $('#errorspan').html('Error in retrieving Media cateogorys.')
                    // var element = $("#username");
                    // $(element).closest( ".form-group" ).removeClass("has-success").addClass("has-error");
                    // var icon = $(element).parent().parent('.input-icon').children('i');
                    // icon.removeClass('fa-check').addClass("fa-warning");  
                    // icon.attr("data-original-title", "Username already registered with us.").tooltip({'container': 'body'});
                }
                else{
                	$('#bannerul').html('');
                    if(banners.length==0){
                        $('#nodata').html('We currently do not have any '+data.media_type.toLowerCase()+'s for you, <br/>please contact your Affiliate Manager for custom creatives.');
                        $('#nodata').show();
                    }
                    else{
                        $('#nodata').html('');
                        $('#nodata').hide();
                        var aid = 0;
                        var cid = 0;
                        $.each(banners, function (i, item) {
                            banstring = '';
                        	title = item[1];
                            if (Math.ceil((i+1)/4) > $('#bannerul').find('div#brow').length){
                                $('#bannerul').append('<div class="row" id="brow"></div>');
                            }
                            if (item[2] == bid){
                                banstring += '<div class="col-lg-3 col-md-5 col-sm-12 material-block video-block-mobile" style="border: 2px solid #0091e0;">'; 
                            }
                            else{
                                banstring += '<div class="col-lg-3 col-md-5 col-sm-12 material-block video-block-mobile">';
                            }
                        
                            banstring += '<p class="material-para">'+item[1]+'</p>';
                            if (media_type == 'M'){
                                banstring += '<div>' + item[0] + '</div>'
                            }
                            else if (media_type == 'LP'){
								
                                banstring += '<img title="lp Image" class="maxhight" src="'+item[3]+'"><div><a href="' + item[0] + '" target="_blank"></a></div>';
                                item[0] = '';
								aid = item[5];
                                cid = item[4];
                            }
                            else if (media_type == 'V'){
                                banstring += '<video width="150" height="110" controls >\
                                    <source src="'+item[0]+'" type="video/mp4">\
                                  </video>'
                                aid = item[4];
                                cid = item[3];
                            }
                            else{
                                
                                if(item[3]!=undefined && item[3] != 'none'){
                                    if (item[3] > 2*item[4]){
                                        banstring += '<img src="'+item[0]+'" target="_blank" class="image-material image-material-big">';
                                    }
                                    else{
                                        banstring += '<img src="'+item[0]+'" target="_blank" class="image-material">';
                                    }
                                    banstring = banstring + '<p class="whbanner">'+item[3]+'x'+item[4]+'</p>'
                                }
                                else{
                                    banstring += '<img src="'+item[0]+'" target="_blank" class="image-material"><br/>';
                                }
                                aid = item[6];
                                cid = item[5];
                            }
                            banstring += '<input type="button" onclick="showdiv(this)" id="'+item[2]+'" site="'+data.site+'" aid="'+aid+'" cid="'+cid+'" tlink="'+item[0]+'" mediatype="'+media_type+'" class="get-sec" value="Get Code" /><a href="'+item[0]+'" download class="download-button-m">Download</a></div>';

                            $('#bannerul').find('div#brow').eq($('#bannerul').find('div#brow').length-1).append(banstring);
                            // if (Math.ceil((i+1)/4) > $('#bannerul').find('div#brow').length){
                            //     banstring += '</div>';
                            // }
                            
                        	// option = '<li><input type="button" onclick="showdiv(this)" class="link-button-all" name="'+item[2]+'" value="Get Code" />'+title+'<img src="'+item[0]+'" target="_blank"/></li>'
    					});
    					$('#bannerul').show();
    					$('#bannerdiv').show();
                    }

						
                }
          }
    });
    return true;
    
}

function showdiv(ele){
    getcode($(ele).attr('aid'), $(ele).attr('cid'), $(ele).attr('tlink'), $(ele).attr('mediatype'));
}





jQuery(document).ready(function() { 

$('.egcs_submit_button').show();

	Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();


   // $('select[name="player_data_length"] option:eq(0)').prop('selected', true);
 
   // $("#player_data2").dataTable();
   m_type = 'B'
   if (window.location.href.split('bid=').length>1){
        url_d = window.location.href;
        var url_d = new URL(url_d);
        m_type = url_d.searchParams.get('mid');
    }

   $('.material-icons').find('li[name="'+m_type+'"]').click();
   $('#size').html('');
    $('#size').html('<option value="">Size</option>')
   $.each(sizes[$('#multiple-checkboxesa').val()+ '-'+ m_type], function(key, value) {   
     $('#size').append($("<option></option>")
                    .attr("value",value)
                    .text(value)); 
    });
	$('.selectpicker').selectpicker('refresh');
});
	
		jQuery(document).ready(function($)
		{
			$(".footer-sticked-chat .chat-user, .other-conversations-list a").on('click', function(ev)
			{
				ev.preventDefault();
				toggleSampleChatWindow();
			});
	
			$(".mobile-chat-toggle").on('click', function(ev)
			{
				ev.preventDefault();
	
				$(".footer-sticked-chat").toggleClass('mobile-is-visible');
			});

		});
		</script>


<div id="cover" style="display:none;"> </div>




<script type="text/javascript">
    var sizes = {{sizes|safe}};
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
});
                            </script>


<div id="cover" style="display:none;"> </div>
</body>
</html>
