<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}- Change Password</title>
	<link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 
    <style type="text/css">
	
   

    
        
        .table>tbody>tr>td {border-bottom:none !important;}
        input:focus{
            outline: none;
        }
        
   

.panel-heading1 {
    line-height: 50px;
    padding: 0 15px;
    min-height: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
    -webkit-box-shadow: inset 0 0 1px 1px #fff;
    -moz-box-shadow: inset 0 0 1px 1px #fff;
    box-shadow: inset 0 0 1px 1px #fff;
}

.panel-heading1 {
    color: #333;
    background-color: #f5f5f5;
    
}

.panel-heading1 h2 {
    display: inline-block;
    margin: 0;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

.dots-right {float:right;}

.affinfo_col_data {width:32%;}


.label-block {display:block;}


      
    </style>

	
	
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            
        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Change Password</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">My Account</a></li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
                            <div class="table-toolbar" style="margin-top: 0px;position:relative; left:-8px;top:2px;">
                                
									
								
                               {%if message %}
                                <div class="row" id="success_message">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        {% if status == 'Success'%}
										<div class="alert alert-success alert-success-msg">
										{% else %}
										<div class="alert alert-danger alert-success-msg">
										{% endif %}
                                            <center> <span>{{message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
								
                                <div class="row">
                                    <div class="profile-details" style="margin-top: 0px;position:relative; left:8px;top:-5px;">
                              
                                        <div>
                                        <form action= "." id="affForm" method="POST" name='affForm' role="form">
                                        {%csrf_token%}
                                       
										<div class="profile-edit-details">
										
										
											 <fieldset>
											 
											 <input class="form-control form-control-solid placeholder-no-fix"  type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                    
										<!-- <div class="form-group col-md-4 col-sm-12" style="float:left;"> -->
													<!-- <label>Current Password</label> -->
													<!-- <input type="password" class="form-control" autocomplete="off" name="currentpass" value="" id="currentpass" placeholder="Current Password" required="required" aria-required="true"> -->
												<!-- </div> -->
												
												<div class="form-group col-md-5 col-sm-12 pb-2">
													<label>New Password</label>
													<input type="password" class="form-control" autocomplete="off" name="newpass" value="" id="newpass" placeholder="New Password" required="required" aria-required="true">
												</div>
												
												<div class="form-group col-md-5 col-sm-12">
													<label>Confirm New Password</label>
													<input type="password" class="form-control" autocomplete="off" name="confirmpass" value="" id="confirmpass" placeholder="Confirm New Password" required="required" aria-required="true">
												</div>
												
												
										
										
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                                <button class="btn btn-purple button-large button-web-get" type="submit" id="button-web-get" value="" style="">Submit</button>
                                            </span>
                                        </div>
												
												
											</fieldset>
											
											
										
										
										</div>
                                        
           
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                            
                        </div>
            
            
            

        </div>
    
            
    </div>
    
	
	</div>
	
	</div>
	
	
            {% include "affiliates/new_design/footer-1.html" %}
    
    


<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>


  <!-- JavaScripts initializations and stuff -->

    <script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>

<script type="text/javascript">

        $('#affForm').validate({
             rules: {

				 /* currentpass: {
                      minlength: 5,
                      required: true,
                      maxlength:15,
                  }, */
				  
				  newpass: {
                      minlength: 5,
                      required: true,
                      maxlength:15,
                  },
				  
				  confirmpass: {
                      minlength: 5,
                      required: true,
                      maxlength:15,
                      equalTo: "#newpass",
                  },
				  
              },

            messages: {
               
				
				/* currentpass: {
                    required: 'Please enter your password.'
                }, */
				  
				  newpass: {
                    required: 'Please enter your password.'
                },
				  
				  confirmpass: {
                  required: 'Please confirm entered password.',
				  equalTo: " Please enter the same password again."
                },
		
            },
			
			submitHandler: function (form) {

                      form.submit();
                }

        
              });

     
</script>

  
<div id="cover" style="display:none;"> </div>
</body>
</html>