<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}- Refer Page</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>
<body class="page-body">
<style type="text/css">

.width-size {margin-left:-20px;}


.panel {margin-top:8px !important;}

.fa-copy {  font-size: 16px !important;
    position: relative;
    cursor: pointer;
    left: -42px;
    color: #ffffff;
    background: #2585c7;
    padding: 11px;
	}
	
	.fa-copy:before, .fa-files-o:before {
    content: "\f0c5";
}
	
	#messageiddiv{

    width: 100%;
text-align:center;
	}
	.btn-popup-display {margin-left:23px; width:140px;}
	
		@media only screen and (max-width: 765px) {

		.width-size {margin-left:0px;}		
		
		.width-padding {padding-top:18px !important;}
		
		.btn-popup-display {margin-left:0px !important; width:140px;}
		
		}
	
</style>
<script type="text/javascript">


function copyToClipboard(element) {
	
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).val()).select();
  
  document.execCommand("copy");
  $temp.remove();
  $('#linkname').select();

}

function getreferallink(){
    $.ajax({
          url: ' /affiliate/get-referral-link/',
          dataType: 'json',
          method: 'POST',
          async: false,
          data: {csrfmiddlewaretoken: "{{ csrf_token }}",},
          success: function(data) {
              	result = data.refer_link
                if (data.status == 'Error'){
                    //$("#error_spanID").html("Username already registered with Us.");
                    //$("#error_divID").show();
                    //$('#signupsubmit').attr('disabled','disabled');
                    $('#errorspan').html('Error in getting refer Link.')
                    // var element = $("#username");
                    // $(element).closest( ".form-group" ).removeClass("has-success").addClass("has-error");
                    // var icon = $(element).parent().parent('.input-icon').children('i');
                    // icon.removeClass('fa-check').addClass("fa-warning");  
                    // icon.attr("data-original-title", "Username already registered with us.").tooltip({'container': 'body'});
                }
                else{
                    
                    $('#linkname').val(result);
                }
          }
    });
    return true;
    
}
</script>

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            
        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Get Referral Link</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Get Referral Link</a></li>
                        
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
			
					<div class="panel-body refer-section" style="">
			
							<form action="" role="form" class="form-horizontal" role="form">
							<input type="hidden" name="format" value="json" />
							{%if error_message %}
							<div class="row" style="height:">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									
									<div class="alert alert-error-msg" style="padding:1px;">
                                        	<center> <span id='errorspan'>{{error_message}} </span></center>
                                    </div>
								</div>
							</div>
							{%else%}
							
							{%endif%}
							{%csrf_token%}

			
								<div class="form-group refer-mobile-link">
			<div id="messageiddiv">					
			<span style="font-size: 15px;color: #000;">Generate unique Fozil Partners registration links for your sub-affiliates, get them to sign up using these and track your 2nd-tier earnings!</span></div>
									<div class="col-sm-12 width-padding left-side-adjust-link" style="text-align:center; padding-top:15px;">
							<input type="text" name="linkname" id="linkname" value="{{refer_link}}" style="height:40px;color:#2c2e2f;width:50%; padding: 5px;" maxlength="500" readonly/>
							<i class="fa fa-copy copy-link-refer" title="Copy" data-toggle="tooltip" onclick="copyToClipboard('#linkname')" style="font-size:24px"></i>
									
									<div class="col-md-12 width-size" style="text-align:center; margin-top:15px;">
                                    
                                    <input type="button" onclick="getreferallink(this)" value="Get  Referral Link" class="btn  btn-success get-refer-link left-side-adjust-link" style="padding: 5px 20px; height:40px;"/> 
                               
							   </div>
									
									</div>
								
									
								</div>
								
								
			
								
			</form>
							</div>
			
			
			</div>
			</div>
			</div>
			</div>
			</div>
		
			
		</div>
	
	{% include "affiliates/new_design/footer-1.html" %}
	



	<!-- Bottom Scripts -->
	

    
</body>
</html>