<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />

	<title>{{partner}} - Register</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenu-core-affiliate.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
    <link rel="stylesheet" href="/static_files/assets/css/custom.css">

    <script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>
    <link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

<style>

.login-page .login-form .form-group label.error {color:#ff0000; position:relative !important; line-height:0px; right:0px;}

@media only screen and (max-width: 1199px) and (min-width: 768px) {

	.left-right-adjust {
    padding-top: 70px;
}

}

.login-register-btn {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(184, 184, 184, 0.1) 70%, rgba(184, 184, 184, 0.2) 100%) !important;
    background-color: #fff !important;
    color: #2585c7 !important;
    border-color: #2585c7 !important; border:1px solid #2585c7 !important;
}

body {}
.login-page .login-form .form-group .form-control {}
.input-group[class*=col-]
{float:none;}
.login-page {padding-top:10px !important;}
    td, th {
    padding: 16px 0px 2px 0px;
}
label.error {
  z-index: 999 !important;
 
}

.width-small-adjust {width:97% !important;}
  .form-group{
    margin-top: -15px; margin-bottom:15px !important;
  }
  .middle-login-reg {width:70%;}
  
  @media only screen and (max-width: 700px) {
    td, th {
       padding: 16px 0px 2px 0px;
    width: 100%;
    display: block;}
	.middle-login-reg {width:90%;}
	.login-page {padding-top:5px !important;}
	
	#signupsubmit {left:0px !important;}
	
	.width-block-mobile {width:100%;}

.width-small-adjust {
    width: 100% !important;
}

}

.footer-bottom-privacy {z-index:9999; position:relative;}


.footer-bottom-privacy {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.footer-bottom-text {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.page-logo.my-logo {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.top-header-fozil {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.dropdown-toggle {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.egcs_submit_button {
	border:1px solid #b8b8b8;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(184, 184, 184, 0.1) 70%, rgba(184, 184, 184, 0.2) 100%) !important;
    background-color: #fff !important;
    color: #2585c7 !important;
    border-color: #b8b8b8 !important;
    font-weight: normal;
}

.login-register-btn, .egcs_submit_button:hover { background-color: #edf3f7 !important;

  color: #0f3753; 
}

.login-register-btn {
	background-image:{{ partner_obj.buttonimage }} !important ;
	background-color: {{ partner_obj.buttoncolor }} !important;
	color:{{ partner_obj.buttontext }} !important;
	
}


.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td
{
	background-color: {{ partner_obj.tablecolor }} !important;
    color: {{ partner_obj.tabletext }} !important;
}

  
</style>

<script>

$(function() {
    $('input[name="dob"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minDate:"01/01/1930",
        maxDate: "07/01/2015",
    }, 
    function(start, end, label) {
        var years = moment().diff(start, 'years');
    });
});

var usernameexist=false;
var emailexist=false;
function getUsernameExistOrNot(){
    var Username = $("#username").val();
    var opts = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    $.ajax({
          url: ' /affiliate/check_username/?username='+Username,
          dataType: 'json',
          async: false,
          data: {},
          success: function(data) {
              result = data.exist
                if (result == true){
                    //$("#error_spanID").html("Username already registered with Us.");
                    //$("#error_divID").show();
                    //$('#signupsubmit').attr('disabled','disabled');
                    if ($('#toast-container').html() == undefined){
                      toastr.error('Username already registered with us.', "Invalid Registeration!", opts);
                    }
                    
                    $('#signupsubmit').attr('disabled','disabled');
                    // var element = $("#username");
                    // $(element).closest( ".form-group" ).removeClass("has-success").addClass("has-error");
                    // var icon = $(element).parent().parent('.input-icon').children('i');
                    // icon.removeClass('fa-check').addClass("fa-warning");  
                    // icon.attr("data-original-title", "Username already registered with us.").tooltip({'container': 'body'});
                }
                else{
                    usernameexist = false;
                    
                }
          }
    });
    return usernameexist;
    
}
function getEmailExistOrNot(){
    var Email = $("#email").val();
    var opts = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000000000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    $.ajax({
        url: ' /affiliate/check_email/?email='+Email,
          dataType: 'json',
          async: false,
          data: {},
          success: function(data) {
                result = data.exist
                if (result == true){

                    emailexist = true;
                    //$("#error_spanID").html("Email already Registered with Us.");
                    //$("#error_divID").show();
                    toastr.error('Email already registered with us.', "Invalid Registeration!", opts);
                    $('#signupsubmit').attr('disabled','disabled');
                }
                else{
                    emailexist = false;
                    // //$("#error_spanID").html("");
                    // //$("#error_divID").hide();
                    // $('#signupsubmit').removeAttr('disabled');
                }
          }
        });
    return emailexist;
}

function someFunction(){
    var user_exists = getUsernameExistOrNot();
    var email_exists = getEmailExistOrNot();
    if (user_exists || email_exists){
        $('#signupsubmit').attr('disabled','disabled');
        return false;
    }
    return true;
}
function addPlayerslistDataTable(headersList, dataList){
    //if ($('#search_result_table').find('tr').length != 0)
    $('#search_result_table:has(tbody)').dataTable().fnDestroy();
    $("#search_result_table").dataTable({paging: true,"iDisplayLength":50000, 
           "data": dataList,
           "columns": headersList,
           //"processing": true,
           //"serverSide": true,
           "createdRow": function( row, data, dataIndex ) {
               $(row).attr('id', 'order_'+data[0]);
               //$(row).attr('username', data[1]);
              // var html_str  = '<a href="/playerinfosave/'+data[2]+'"  target="_blank">'+data[0]+'</a>';
               //$($(row).find('td')[0]).html(html_str);
               //console.log(dataIndex);
           },
           
           "rowCallback": function( row, data ) {
               //if ( $.inArray( $(row).attr('id'), selected_from_group) !== -1 ) {
                //   $(row).addClass('selected');
               //}
           },
           searching: false,
           ordering:true,
           info: false,
           "processing": true,
           "order": [[ 0, "asc" ]]
           
          
    });
    
    $("#RESET").click();
    setTimeout(ajaxUnBlockUI($(".page-content")), 2000);
    
}

function getPlayerSearchData(){
    var search_form = $("form[name=DashBoardForm]");
    ajaxBlockUI($(".page-content"));
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: search_form.serialize(),
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    $('.digg_pagination').html("");
                    //var decoded = $('<div />').html(data.pagination_div).text();
                    $('.digg_pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list);
                }
          }
    });
    return false;
}

jQuery(document).ready(function() {     
    {%if error_message %}
        var err_msg = "{{error_message}}";
        var opts = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr.error(err_msg, "Invalid Registration!", opts);         
    {%endif%}
                        // Reveal Login form
    setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
    var form2 = $('#affiliateCreateForm');
      var error2 = $('.alert-danger', form2);
      var success2 = $('.alert-success', form2);
    
        // Validation and Ajax action
        $('#affiliateCreateForm').validate({
             rules: {
                  username: {
                      minlength: 4,
                      required: true,
                      maxlength:25,
                  },
                  email: {
                      required: true,
                      email: true,
                      
                  },
                  passwd: {
                      minlength: 5,
                      required: true,
                      maxlength:15,
                     
                  },
                  confirmpassword: {
                      minlength: 5,
                      required: true,
                      maxlength:15,
                      equalTo: "#passwd",
                     
                  },
                  contactname: {
                      required: true,
                  },
                  companyname:{
                      required:true,
                  },
                  address:{
                      required:true,
                  },
                  city:{
                      required:true,
                  },
                  pincode:{
                      required:true,
                      maxlength:6,
                      number:true
                  },
                  telephone:{
                      required:true,
                      maxlength:10,
                      number:true

                  },
                  state:{
                      required:true,
                  },
                  countryname:{
                      required:true,
                  },
                  dob:{
                      required:true,
                  },
                  
              },

            messages: {
                username: {
                    required: 'Please enter your username.'
                },

                passwd: {
                    required: 'Please enter your password.'
                },

                email: {
                  required: 'Please enter valid email.'
                },
            
                confirmpassword: {
                  required: "Password does't match."
                 
                },
                  contactname: {
                      required: 'Please enter your name.'
                  },
                  companyname:{
                      required: 'Please enter company name.'
                  },
                  address:{
                      required: 'Please enter your address.'
                  },
                  city:{
                      required: 'Please enter your city.'
                  },
                  pincode:{
                      required: 'Please enter your pincode.'
                  },
                  telephone:{
                      required: 'Please enter your phone number.'
                  },
                  state:{
                      required: 'Please enter your state.'
                  },
                  dob:{
                      required: 'Please enter your dob.'
                  },
            },

            // Form Processing via AJAX
            // submitHandler: function(form)
            // {
            //     show_loading_bar(70); // Fill progress bar to 70% (just a given value)

            //     var opts = {
            //         "closeButton": true,
            //         "debug": false,
            //         "positionClass": "toast-top-full-width",
            //         "onclick": null,
            //         "showDuration": "300",
            //         "hideDuration": "1000",
            //         "timeOut": "5000",
            //         "extendedTimeOut": "1000",
            //         "showEasing": "swing",
            //         "hideEasing": "linear",
            //         "showMethod": "fadeIn",
            //         "hideMethod": "fadeOut"
            //     };

            //     $.ajax({
            //         url: " /affiliate/login/",
            //         method: 'POST',
            //         dataType: 'json',
            //         data: {
            //             do_login: true,
            //             username: $(form).find('#username').val(),
            //             passwd: $(form).find('#passwd').val(),
            //             csrfmiddlewaretoken: "{{ csrf_token }}",
            //         },
            //         success: function(resp)
            //         {
                        

            //                     // Redirect after successful login page (when progress bar reaches 100%)
            //                     if(resp.message=='Error')
            //                     {
            //                         toastr.error(resp.errors, "Invalid Login!", opts);
            //                         $('form').find('#passwd').select();
            //                     }
            //                     else{
            //                         window.location.replace(" /affiliate/")
            //                     }
                                                                        
            //                                             }
            //     });

            // },
            submitHandler: function (form) {
                  success2.show();
                  error2.hide();
                  form[0].submit(); // submit the form
              }
        });

        // Set Form focus
        $("form#login .form-group:has(.form-control):first .form-control").focus();

          
   
   
   
  /*
   $("#search_table").dataTable({paging: false,
           searching: false,
           ordering:false,
           info: false,"dom": 'flit'
   });*/
});
</script>

<script type="text/javascript">

function lettersOnly() 
{
            var charCode = event.keyCode;

            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 8)

                return true;
            else
                return false;
}
  $(document).ready(function(){


    $('#firstname ,#lastname, #cname, #address, #city, #phone, #pincode').keyup(function()
    {
      var yourInput = $(this).val();
      re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
      var isSplChar = re.test(yourInput);
      if(isSplChar)
      {
        var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
        $(this).val(no_spl_char);
      }

    });
    });

    $("#id_zip").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
         // Allow: Ctrl+A, Command+A
        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
         // Allow: home, end, left, right, down, up
        (e.keyCode >= 35 && e.keyCode <= 40)) {
           // let it happen, don't do anything
           return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
      }
    });

</script>
	
</head>
<body class="page-body login-page" style="padding-top: 50px">

	<header class="top-header-fozil">
	
	<a href="/" class="navbar-brand"><img src="{{partner_obj.logo.url}}" width="230" alt="" /></a>
	
	</header>
	
	<div class="login-container">
	
		<div class="row left-right-adjust">
	
			<div class="middle-login-reg login-box">
	
				
	
				<!-- Errors container -->
				<div class="errors-container">
	
					
				</div>
	
				<!-- Add class "fade-in-effect" for login form effect -->
				<form method="post" role="form" id="affiliateCreateForm" action=" /affiliate/register/" class="all-reg-login login-form fade-in-effect in">
	
					<div class="login-header">
						<!-- <a href=" /affiliate/login/" class="logo"> -->
							<!-- <a> -->
              <!-- <img src="{{partner_obj.logo.url}}" width="187" alt="" /> -->
            <!-- </a> -->
							<h2 class="heading-for-logins">Affiliate Signup</h2>
						
						<input type="hidden" name="refid" value="{{refid}}" />
					{%if error_message %}
                    <div class="row" id="error_divID" >
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!--  <h4><span class="fa fa-times" style="margin-top: 12px;font-size: 27px;color:red;"> </span>
                                    <span class="error_form" style="font-weight: bold;"> {{error_message}}</span> </h4>-->
                                    {%if message%}
                                        <div class="alert alert-success-msg">
                                            <center> <span id="error_spanID">{{message}} </span></center>
                                        </div>
                                    {%else%}
                                    <div class="alert alert-error-msg">
                                            <center> <span id="error_spanID">{{error_message}} </span></center>
                                    </div>
                                    {%endif%}
                                </div>
                            </div>
						{%endif%}
						
					</div>
					
					<div class="form-group">
                    <input class="form-control form-control-solid placeholder-no-fix"  type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                    </div>
					
					
					
					<fieldset>
					
					<table style="width: 100%">
					
					<div class="panel-heading1" style="margin-bottom:12px;">
			                <h2><strong>Account Login Details</strong></h2><strong>
			            </strong></div>
					
					<tr>
					
						<td> 
					
							<div class="form-group first">
								<div class="input-group col-sm-12 width-block-mobile">
									<span class="input-group-addon icons-before-input"><i class="fa fa-user"></i></span>
									<input type="text" class="form-control input-lg" placeholder="Username" name="username" id="username" value="{{username}}" required=True maxlength=25 onfocusout="getUsernameExistOrNot()" autocomplete="off" />
									
								</div>
							</div>
						
						</td>
					
					</tr>
					
					<tr>
					
						<td> 
					
							<div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-key"></i> </span>
								<input type="password" class="form-control input-lg" placeholder="Password" name="passwd" id="passwd" value="" maxlength=25 autocomplete="off" />
								
							</div>
						</div>
						
						</td>
					
					</tr>
					
					<tr>
					
						<td> 
					
							<div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-key"></i> </span>
								<input type="password" class="form-control input-lg" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" value="" required=True maxlength=25 autocomplete="off" />
								
							</div>
						</div>
						
						</td>
					
					</tr>
					
					
					
					</table>
					
					<table style="width: 100%">
					
					<div class="panel-heading1" style="margin-bottom:12px;">
			                <h2><strong>Account Profile Details</strong></h2><strong>
			            </strong></div>
					
                    <tr>
                    
                    <td>
					
                    <div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-user"></i></span>
								<input type="text" class="form-control input-lg width-small-adjust" placeholder="Firstname" name="contactname" id="firstname" value="{{contactname}}" autocomplete="off" />
								
							</div>
						</div>
						
                    </td>
					
					<td>
						<div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-user"></i></span>
								<input type="text" class="form-control input-lg" placeholder="Lastname" name="lastname" id="lastname" value="{{lastname}}" autocomplete="off" />
								
							</div>
						</div>
                    </td>
                    </tr>
                    <tr>
					<td>
					
					<div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-envelope"></i></span>
								<input type="text" class="form-control input-lg width-small-adjust" placeholder="Email" name="email" id="email" value="{{email}}" onfocusout="getEmailExistOrNot()" required=True autocomplete="off" />
								
							</div>
						</div>
					
					
					
                      
                    </td>
                    <td>
                    <div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-building-o"></i></span>
								<input type="text" class="form-control input-lg" placeholder="Company Name" name="companyname" id="cname" required=True value="{{companyname}}" autocomplete="off" />
								
							</div>
						</div>
                    </td>
                    
                    </tr>
                   
				   
                    <tr>
					
					<td>
                    <div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-map-marker"></i></span>
								<input type="text" class="form-control input-lg width-small-adjust" placeholder="Address" name="address" id="address" value="{{address}}" required=True autocomplete="off" />
								
							</div>
						</div>
                    </td>
					
                    <td>
                    <div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-globe"></i></span>
								<input type="text" class="form-control input-lg" placeholder="City" name="city" id="city" value="{{city}}" required=True autocomplete="off" />
								
							</div>
						</div>
                    </td>
                    
                    </tr>
                    <tr>
					
					<td>
                    <div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-phone"></i></span>
								<input type="text" id="phone" placeholder="Phone" class="form-control input-lg width-small-adjust" required=True name="telephone" value="{{telephone}}" maxlength="10" />
								
							</div>
						</div>
                    </td>
					
                    <td>
                    <div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-location-arrow"></i></span>
								<input type="text" class="form-control input-lg " placeholder="Pincode" name="pincode" id="pincode" value="{{pincode}}" maxlength="6" autocomplete="off" />
								
							</div>
						</div>
                    </td>
                    
                    </tr>
                    <tr>
					
					<td>
                    <div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-location-arrow"></i></span>
								<input type="text" class="form-control input-lg width-small-adjust" placeholder="State" name="state" id="pincode" value="{{state}}" autocomplete="off" />
								
							</div>
						</div>
                    </td>
					
                    <td>
                    <div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-globe"></i></span>
								<span>
                                                <select name="countryname" class="form-control input-lg">
                                                {%for i in country_list%}
                                                    {% if i.countryname == "United Kingdom" %}
                                                    <option value="{{i.id}}" selected="selected">{{i.countryname}}</option>
                                                    {%else%}
                                                    <option value="{{i.id}}">{{i.countryname}}</option>
                                                    {% endif %}
                                                    
                                                {%endfor%}
                                            </select></span>
								
							</div>
						</div>
                    </td>
                    
                    </tr>
                    <tr>
                   
					
					
                    <td>
                    <div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-calendar"></i></span>
								<input type="text" class="form-control input-lg width-small-adjust" placeholder="DOB" name="dob" id="dob" value="{{dob}}" autocomplete="off" />
								
							</div>
						</div>
                    </td>
					
                    </tr>
					
					<tr>
					<td>
					<div class="form-group">
                        <button type="submit" id="signupsubmit" class="login-register-btn btn btn-dark  btn-block text-left" style="margin-top: 20px;
    text-align: center;
    width: 100%;
    position: relative; border:none;
    left: 163px;">Submit
                        </button>
                    </div>
					</td>
					</tr>
					
                    </table>
						
						
	
						
						
										
						
						
							
					</fieldset>

	
				</form>
				
	
				<!-- External login -->
				<!-- <div class="external-login">
					<a href="#" class="facebook">
						<i class="fa-facebook"></i>
						Facebook Login
					</a>
	
					
					<a href="<?php _hash(); ?>" class="twitter">
						<i class="fa-twitter"></i>
						Login with Twitter
					</a>
	
					<a href="<?php _hash(); ?>" class="gplus">
						<i class="fa-google-plus"></i>
						Login with Google Plus
					</a>
					
				</div> -->
	
			</div>
	
		</div>
	
	</div>



	<!-- Bottom Scripts -->
    <script src="/static_files/assets/js/bootstrap.min.js"></script>
    <script src="/static_files/assets/js/TweenMax.min.js"></script>
    <script src="/static_files/assets/js/resizeable.js"></script>
    <script src="/static_files/assets/js/joinable.js"></script>
    <script src="/static_files/assets/js/xenon-api.js"></script>
    <script src="/static_files/assets/js/xenon-toggles.js"></script>
    <script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="/static_files/assets/js/toastr/toastr.min.js"></script>
    <script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>


    <!-- JavaScripts initializations and stuff -->
    <script src="/static_files/assets/js/xenon-custom.js"></script>
	
	<br/><br/><br/><br/><br/>

<footer class="footer-bottom-privacy">

<div class="container-fluid">

<div class="privacy-over-div">

<div class="footer-text footer-bottom-text" style="">
						© 2018 {{partner}}, Powered by Wynta
					</div>
<!-- {% if partner == "Fozil Partners" %} -->
				
							<!-- {% else %}
				<div class="footer-text footer-bottom-text" style="background-color: #000;color: #fff;">
						© 2018 {{partner}} Affiliate, Powered by Wynta
					</div>
							{% endif %} -->
					
</div>

</div>

</footer>

</body>
</html>