<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <meta name="author" content="" />

    <title>{{partner}} - Sub-affiliate Report</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">


     <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
     <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
   <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style type="text/css">

.dt-button {margin-left:3px !important;}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and 
(-webkit-min-device-pixel-ratio: 1) 

{

	#daterange span {
    display: none;
}

.sub-device-date {width:63% !important; margin-right: 70px !important;}

.device-date {
    float: right;
    margin-top: -25px !important;
}

.export-buttons ul {margin-top:-19px !important;}

}



.open {overflow:inherit !important;}

.multiselect-container { transform: translate3d(-40px, 2px, 0px) !important;}

.sub-device-date {
    float: right;
    padding-left:208px !important;
    display: block;
    width: 100%;
}


	
	

.filter-option, .dropdown-toggle::after {color:#fff;}

.btn-info {    margin-left: -10px;
    width: 165px;
    margin-bottom: 0 !important;}

.bootstrap-select.btn-group .dropdown-menu.inner {display:block;}

.bootstrap-select>select {
    position: absolute!important;
    bottom: 0;
    left: 50%;
    display: block!important;
    width: .5px!important;
    height: 100%!important;
    padding: 0!important;
    opacity: 0!important;
    border: none;
}

.btn-info {
    height: 35px !important;
    padding-right: 25px !important;
    line-height: 20px !important;
    font-size: 14px !important;
	    margin-left: -10px !important;
    width: 165px !important;
    margin-bottom: 0 !important;position: relative;
    top: 6px;
	}
	
	.bootstrap-select {
    width: 100%;
    display: block;
    clear: both;
    padding: 0px;
}

.dropdown-menu.show {margin-top:40px; margin-left:-10px;}

.open {
    max-height: 150px !important;
    transform: inherit !important;
   /* top: 40px !important; */
   
    
}
	
	.inner {max-height:150px !important; overflow-y:scroll !important;}

.bootstrap-select.btn-group .no-results {white-space: pre-wrap;}

.device-date {float: right;
    margin-top: -27px;
    position: relative;
    left: 5px;}
	
	.dt-buttons {margin-top:-53px;}
	
	.margin-adjust {
    top: 4px;
    margin-top: -14px !important;
    position: relative;
    left: -5px;
}

@media (max-width: 767px) {

.btn-group>.btn:first-child {z-index:auto !important;}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width:102%;}


.mobile-float-none {margin-left:4px;}

.export-buttons ul {margin-top:8px !important;}

.multiselect-selected-text {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
}

ul.multiselect-container {
    margin-top: 41px !important;
    margin-left: -10px !important;
}

span.multiselect-native-select {
    width: 103%;
    display: inline-block !important;
}

.dropdown-menu.show {margin-top:40px; margin-left:-10px;}

.dropdown-menu-right {margin-left:0px !important;}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    margin-left: 15px;
    margin-bottom: 22px;
}

.bs-placeholder {width:100% !important;}

.dropdown-menu.show {}

.dropdown-menu-right {top:60px !important;}

.dropdown-toggle::after {margin-top:-11px !important;}

.margin-adjust {
    margin-top: -3px !important;
    padding-right: 0 !important; padding-left:0px !important;
    width: 100% !important;
}

	.device-date {
    display: inline-block;
    padding-left: 1px !important;
    padding-top: 13px !important;
}

.sub-device-date {
    float: right !important;
    margin-right: -15px !important;
    display: block !important;
    width: 100% !important;
    margin-top: -9px;
}

.select-size {
    padding-left: 0px;
    width: 104% !important;
    margin-left: 12px;
    padding-right: 1px;
    margin-right: 0px;
}


.export-buttons {
    margin-top: -25px !important;
    width: auto;
}

.btn-group>.btn:first-child {width:100%;}

.dropdown-toggle::after {
	

}

.export-buttons {
    margin-top: -25px;
    width: auto;
}

.dropdown-menu {}

.pull-left-mobile {
    float: inherit !important; width:100%;
}
	
}
  
.margin-adjust {
    top: 4px;
    margin-top: -14px !important;
    position: relative;
    left: -5px;
}

.multiselect-clear-filter {visibility:hidden;}

.filter-option, .multiselect-selected-text, .dropdown-toggle::after {
    color: #fff;
}

.device-date {
    float: right;
    margin-top: -27px;
    position: relative;
    left: 5px;
}

.multiselect {



    height: 35px !important;
    padding-right: 25px !important;
    line-height: 20px !important;
    font-size: 14px !important;
    margin-left: -50px !important;
    width: 165px !important;
    margin-bottom: 0 !important;
    position: relative;
    top: 6px;
	z-index:999;
        background: #1976d2;
    border: 1px solid #1976d2;
    -webkit-box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;

}


.select-size1 {height: auto;
    padding: 6px;
    width: 135px;
    margin-left: -15px;
    font-size: 14px;}
    
    
    @media (max-width: 767px) {
    
        .select-size1 {
    width: 100%;
    margin-left: 4px;
}
    
    }
.btn-group label {
    color: #0a0a0a !important;
    margin-bottom: 0;
}
    .multiselect-container>li>a>label {padding-left:0px;color: #000 !important; }

select.form-control:not([size]):not([multiple]) {height: calc(2.09rem + 2px) !important;}

label.margin-bottom-space {margin-bottom:8px;}

.dropdown-toggle::after {}
.multiselect-container {    position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 100%;
    color: rgb(0, 0, 0);}
    
    label.checkbox {    color: #000 !important;
    vertical-align: middle;
    padding-left: 0;
    text-transform: capitalize;
    display: block;
    }
    
    .multiselect-container>li>a>label>input[type=checkbox] {
    vertical-align: middle;
    margin-right: 2px; margin-bottom:0px;
}


@media (max-width: 767px) {

.dropdown-menu.show {margin-top:40px; margin-left:-10px;}

.dropdown-menu-right {margin-left:0px !important;}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 101%;
    margin-left: 15px;
    margin-bottom: 22px;
}

.bs-placeholder {width:100% !important;}

.dropdown-menu.show {}

.dropdown-menu-right {top:60px !important;}

.dropdown-toggle::after {margin-top:-11px !important;}

.margin-adjust {
    margin-top: -3px !important;
    padding-right: 0 !important; padding-left:0px !important;
    width: 100% !important;
}

    .device-date {
    display: inline-block;
    padding-left: 1px !important;
    padding-top: 13px !important;
}

.sub-device-date {
    float: right !important;
    margin-right: -15px !important;
    display: block !important;
    width: 100% !important;
    margin-top: -9px;
}

.select-size {
    padding-left: 0px;
    width: 104% !important;
    margin-left: 12px;
    padding-right: 1px;
    margin-right: 0px;
}


.export-buttons {
    margin-top: -25px !important;
    width: auto;
}

.btn-group>.btn:first-child {width:100%;}

.dropdown-toggle::after {
    
    
}


.export-buttons {
    margin-top: -26px !important;
    width: auto;
}

.dropdown-menu {}

.btn-group {width:99%;}

.multiselect-container {    position: absolute;
    transform: translate3d(2px, -170px, 0px) !important;
    will-change: transform;
    top: 172px !important;
    width: 99% !important;
    left: 11px !important;}
    
    .multiselect-clear-filter {visibility:hidden;}

.multiselect {    width: 100% !important;
    margin-left: 2px !important;
    margin-bottom: 22px !important;
    text-align: left !important;}

.pull-left-mobile {
    float: inherit !important; width:100%;
}
    
}
  
</style>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            
        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Sub-affiliate Report</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Reports</a></li>
                        <li class="breadcrumb-item active">Sub-affiliate Report</li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
                              
                              <form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();">  
                    
                    <!-- <input type="hidden" id="sitename" name="sitename" value="All" required="True"/> -->
                                                
                      <input type="hidden" name="format" value="json" />
                                
                                    
                                   <!--  <label class="col-sm-2" for="field-1" class="field123" style="padding-top:7px; width:116px;">Select Brand</label> -->
            
                                    
                                
                               <div class="col-lg-9 pull-left margin-adjust">
                                
								<div class="pull-left pull-left-mobile">
                             <select id="subaff_id" name="subaff_id" class="selectpicker dashboard-select" data-live-search="true" data-show-subtext="true" data-live-search="true" style="height:34px;border:1px solid #19b8f8;width:242px;position: relative;left: -14px;">
                                        <option value="">All Sub-affiliates Selected</option>
                                        {%for subaff in subaff_list%}
                                            <option value="{{subaff.id}}">{{subaff.username}}</option>
                                        {%endfor%}
                                          </select>
                                      </div>
									  
                     
                       <div class="pull-left-mobile mobile-float-none">
                            
                                <select id="multiple-checkboxes" size="1" multiple="multiple" class="form-control " tabindex="-98" name="siteid">
                                                        <!-- <option value="ALL">ALL</option> -->
                                        {%for i in sites_list %}
                                            {% if i.0 in siteid %}
                                            
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
                                          </div>
								<div class="device-date sub-device-date">	  
									  
                         <div class="pull-left date-range-class" id="daterange" style="">
                            &nbsp; 
                            <span>{{from_date}} - {{to_date}}</span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> 
                         </div> 
                         
                         <input type="submit" value="Submit" class="btn  btn-success egcs_submit_button">
                        
						</div>
						
                    </div>  

                    <div class="col-lg-3 pull-right export-buttons">    
                    
                        <ul>
                            <!-- <li><a href="" class="buttons-gray"><i class="fa fa-save"></i>&nbsp; Save as</a></li> -->
                            <li><button type="button" class="buttons-gray btn-export-all btn btn-default btn-sm">
                            <i class="fa fa-external-link"></i>&nbsp; Export</button></li>
                        </ul>

                    </div>                  
                                
                            </div>
                    </div>

                    </div>
                    
                    
                    
                    <div class="row">
                                    <div class="col-md-12" style="display:none;">
                                        
                                       
                                               
                                                
                                                <input type="hidden" id="sitename" name="sitename" value="All" required="True"/>
                                                  <input type="hidden" name="format" value="json" />
                                                
                                                
                                                <div class="row date-right-mobile-none mobile-left-date" style="margin-bottom: -15px;float:right;">
                                                <div class="col-md-12 form-group adjust-top-bottom-dash adjust-top-bottom-dash1">
                                                
                                                   
                                                    
                                                </div> 
                                                

                                            </div>
                                                
                                      
                                                <!-- SITE SELECTION -->
   
            <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <div class="portlet-title">
                    
                </div>
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
                                        
                                        
                                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        
                                            {%for j in siteid_list %}   
                                                <span class="player-details-tr"><input name="siteids" type="checkbox" value="{{j.id}}" {%if j.selected %}checked{%endif%} />{{j.name}}</span>
                                            {%endfor%}
                                                        
                                        </div> -->
                                        
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
           <br/>
                        </form>
            <!-- END SAMPLE FORM PORTLET-->
                                                
                                              
                                            
                                    </div>
                                </div>
                    
                    
                
               <div class="row">
               
<table class="table table-responsive table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width: 99%;"></table>

                <nav style="float: right">
                  
                  <ul class="pagination" style="margin: 5px 0 10px 0"></ul>

                </nav>
            
          </div> <!-- First Row -->
          
          </div> <!-- First div card -->
          
          

                <!-- End PAge Content -->
            </div>
                
                
                {% include "affiliates/new_design/footer-1.html" %}
                
            </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- Page Loading Overlay -->
    <!-- <div class="page-loading-overlay">
        <div class="loader-2"></div>
        
    </div> -->
    
  

    
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

<script type="text/javascript">



function get_str(eTotal){
    res = '';
    for (var key in eTotal) {
    if (eTotal.hasOwnProperty(key)) {
        res += key+ eTotal[key].toFixed(2) + '<br/>';
        }
    }
    return res.slice(0,-5);
}

var intVal = function ( i ) {
    return typeof i === 'string' ?
        i.replace(/[\€,\$,\£,\₹]/g, '')*1 :
        typeof i === 'number' ?
            i : 0;
};
 

function get_sum_value(a, b){
    currency = b.replace(/\d+([,.]\d+)?/g, '').replace('-','');
    if (a[currency] == undefined){
        a[currency] = parseFloat(intVal(b));
    }
    else{
        a[currency] += parseFloat(intVal(b));
    }
    return a; 
}

function addPlayerslistDataTable(headersList, dataList, currency){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    if($("#player_data").find('tfoot').length == 0){
        var header_s = ""
        $.each(headersList, function( index, value ) {
            header_s = header_s + '<th></th>';
        });
        $("#player_data").append('<thead>'+header_s+'</thead><tfoot>'+header_s+'</tfoot>');
    }
    $("#player_data").dataTable({
        "data": dataList,
       "columns":headersList,
       fixedHeader: true,
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // converting to interger to find total
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\€,\$,\£,\₹]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
 
            // computing column Total of the complete result 
            var kTotal = api
                .column( 1 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(a) + parseFloat(b);
                }, 0 );
            var aTotal = api
                .column( 2 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(a) + parseFloat(b);
                }, 0 );
                
        var bTotal = api
                .column( 3 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(a) + parseFloat(b);
                }, 0 );
                
            var cTotal = api
                .column( 4 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(intVal(a)) + parseFloat(intVal(b));
                }, 0 );
                
         var dTotal = api
                .column( 5 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(intVal(a)) + parseFloat(intVal(b));
                }, 0 );
                
         var eTotal = api
                .column( 6 )
                .data()
                .reduce( function (a, b) {
                    return get_sum_value(a, b);
                }, {} );
        var fTotal = api
                .column( 7 )
                .data()
                .reduce( function (a, b) {
                   return get_sum_value(a, b);
                }, {} );
        var gTotal = api
                .column( 8 )
                .data()
                .reduce( function (a, b) {
                    return get_sum_value(a, b);
                }, {} );
        var hTotal = api
                .column( 9 )
                .data()
                .reduce( function (a, b) {
                    return get_sum_value(a, b);
                }, {} );
        var iTotal = api
                .column( 10 )
                .data()
                .reduce( function (a, b) {
                    return get_sum_value(a, b);
                }, {} );
        

        // var kTotal = api
        //         .column( 12 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //         }, 0 );
        
            
                
            // Update footer by showing the total with the reference of the column index 
        $( api.column( 0 ).footer() ).html('Total');
        $( api.column( 2 ).footer() ).html(kTotal);
            $( api.column( 2 ).footer() ).html(aTotal);
            $( api.column( 3 ).footer() ).html(bTotal);
            $( api.column( 4 ).footer() ).html(cTotal);
            $( api.column( 5 ).footer() ).html(dTotal);
            $( api.column( 6 ).footer() ).html(get_str(eTotal));
            $( api.column( 7 ).footer() ).html(get_str(fTotal));
            $( api.column( 8 ).footer() ).html(get_str(gTotal));
            $( api.column( 9 ).footer() ).html(get_str(hTotal));
            $( api.column( 10 ).footer() ).html(get_str(iTotal));
           
        },
        fixedHeader: true,
        "iDisplayLength": 30,
       "createdRow": function( row, data, dataIndex ) {
               $(row).attr('id', 'order_'+data[0]);
           },
       //"scrollX": true,
       paging: true,
       searching: false,
       info: false,
       fixedHeader: {
            header: true,
            footer: true
        },
        dom: 'Bfrtip',
        buttons: [
            'csv',
            'excelHtml5',
            'pdfHtml5'
        ],
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "<h3>NOTHING TO SEE HERE … YET!</h3>"
        },
        drawCallback: function(settings) {
    var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
    pagination.toggle(this.api().page.info().pages > 1);
  }
          });
    
}

function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
  };

function getcode(ele){
    url = $(ele).attr('hrefs')
    $.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                    $('#link-code').val(data.linkurl);
                    $('#get-code').show();
                    $("#cover").show();
                }
          }
    });
    return false;

}

function ajaxsubmitFormData(){
    var search_form = $("#DashBoardFormID");
    // if(!siteselected){
    //     alert("Please select at least one site.");
    //     return false;
    // }
    if(window.siteload == true){
        return true;
    }
    $(".preloader").show();
    data_set = search_form.serialize()
    data_set = data_set.replace('sitename','');
    // ajaxBlockUI($(".page-content"))
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: data_set,
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    $('.digg_pagination').html("");
                    //var decoded = $('<div />').html(data.pagination_div).text();
                    $('.digg_pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list, data.currency);
                    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
                }
          }
    });
    return false;
}


jQuery(document).ready(function() { 
    var today = new Date();
    var tomorrow = new Date(today.getTime() + 24 * 60 * 60 * 1000);
    $('#multiple-checkboxes').multiselect({
        includeSelectAllOption: true,
        enableFiltering: true,
		enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Select Brand'
    }, 'selectAll');
    // $("#multiple-checkboxes").multiselect('selectAll', false);
    $("#multiple-checkboxes").multiselect('updateButtonText');

    $("#multiple-checkboxes").multiselect('select', {{siteid|safe}});
    
    // $('#daterange').dateRangePicker({
    //   container: '#daterange-picker-container',
    // numberOfMonths: 3,
    // duration: 200,
    // datepickerShowing: true,
    // "autoUpdateInput": false,
    // format: 'MM/D/YYYY',

    //  MONTH_TO_DATE
    //    YEAR_TO_DATE
    //    LAST_WEEK
    //    LAST_MONTH
    //    LAST_7_DAYS
    //    LAST_30_DAYS 
    // defaultDateRange: 'Custom',
    // maxDate: new Date(),
    // minDate: new Date(2015, 30, 29),
    // // minDate: new Date(2012, 12, 29),
    // test: false,
    // today: null
    // }
    // );
    
    Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
    egcsTools.initNavigation();
   egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}');    
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var currency = '{{currency|safe}}'
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
   $('.digg_pagination').html(decoded);

   addPlayerslistDataTable(header_list, data_list, currency);
   // $('select[name="player_data_length"] option:eq(0)').prop('selected', true);
 
   // $("#player_data2").dataTable();
   
   $('.selectpicker').selectpicker({
  style: 'btn-info',
  size: 4,
  noneSelectedText : 'All Selected'
});

   
   
   $('rect').attr('rx',0);
   
   $('#dashboard-report-range').find('span').attr('style', "display:'';" );
   $('#dashboard-report-range').find('span').removeClass('visible-lg-inline-block');
});

        function toggleSampleChatWindow()
        {
            var $chat_win = jQuery("#sample-chat-window");
    
            $chat_win.toggleClass('open');
    
            if($chat_win.hasClass('open'))
            {
                var $messages = $chat_win.find('.ps-scrollbar');
    
                if($.isFunction($.fn.perfectScrollbar))
                {
                    $messages.perfectScrollbar('destroy');
    
                    setTimeout(function(){
                        $messages.perfectScrollbar();
                        $chat_win.find('.form-control').focus();
                    }, 300);
                }
            }
    
            jQuery("#sample-chat-window form").on('submit', function(ev)
            {
                ev.preventDefault();
            });
        }
    
        jQuery(document).ready(function($)
        {
            $(".footer-sticked-chat .chat-user, .other-conversations-list a").on('click', function(ev)
            {
                ev.preventDefault();
                toggleSampleChatWindow();
            });
    
            $(".mobile-chat-toggle").on('click', function(ev)
            {
                ev.preventDefault();
    
                $(".footer-sticked-chat").toggleClass('mobile-is-visible');
            });
        });
        </script>
		
		<script type="text/javascript">
		 
    $(document).ready(function(){
	  
	  $('#daterange').on('show.daterangepicker', function(ev, picker) {
  //do something, like clearing an input
  $("body").css({"position":"fixed", "overflow":"hidden"});
});
$('#daterange').on('hide.daterangepicker', function(ev, picker) {
  //do something, like clearing an input
  $("body").css({"position":"", "overflow":""});
});	  
	 
    });
  </script>


<script type="text/javascript">
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
});
                            </script>
							



<div id="cover" style="display:none;"> </div>
</body>
</html>
