<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="author" content="" />

    <title>{{partner}} - Earnings Report</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">


     <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
     <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	


</head>
<style type="text/css">



.multiselect {margin-top:-5px;}

.device-date {
    display: inline-block;
    padding-left: 25px;
    padding-top: 25px;
    margin-bottom: 12px;
}

.margin-adjust {
    top: 4px;
    margin-top: -14px !important;
    position: relative;
    left: -5px;
}

.multiselect-clear-filter {visibility:hidden;}

.filter-option, .multiselect-selected-text, .dropdown-toggle::after {
    color: #fff;
}

.device-date {
    float: right;
    margin-right: 0;
    position: relative;
    margin-top: 18px;
    width: auto !important;
    margin-bottom: 15px;
}

#daterange {padding-left: 0px !important;
    width:auto !important;}

.margin-adjust {
    margin-top: -8px !important;
}

.multiselect {box-shadow:none !important;}

#multiple-groupby {border: 1px solid #19b8f8 !important;}

.date-show {  margin-top: -2px;
    margin-left: 16px;}

.multiselect {

	height: 35px !important;
    padding-right: 25px !important;
    line-height: 20px !important;
    font-size: 14px !important;
    margin-left: -10px !important;
    width: 165px !important;
    margin-bottom: 0 !important;
    position: relative;
    top: 6px;
	    background: #1976d2;
    border: 1px solid #1976d2;
    -webkit-box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;

}


.select-size1 {height: auto;
    padding: 6px;
    width: 135px;
    margin-left: -15px;
    font-size: 14px;}
	
	
	@media (max-width: 767px) {
	
		.select-size1 {
    width: 100%;
    margin-left: 4px;
}
	
	}
.btn-group label {
    color: #0a0a0a !important;
    margin-bottom: 0;
}
    .multiselect-container>li>a>label {padding-left:0px;color: #000 !important; }

select.form-control:not([size]):not([multiple]) {height: calc(2.09rem + 2px) !important;}

label.margin-bottom-space {margin-bottom:8px;}

.dropdown-toggle::after {}
.multiselect-container {    position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 100%;
    color: rgb(0, 0, 0);}
    
    label.checkbox {    color: #000 !important;
    vertical-align: middle;
    padding-left: 0;
    text-transform: capitalize;
    display: block;
    }
    
    .multiselect-container>li>a>label>input[type=checkbox] {
    vertical-align: middle;
    margin-right: 2px; margin-bottom:0px;
}







@media (max-width: 767px) {

.export-buttons ul {margin-top:-5px !important;}

.multiselect-container {margin-top:0px !important;}

.margin-adjust {width:113% !important}

#multiple-groupby {
   
    margin-bottom: 0px;
    margin-top: 20px;     position: relative;
    top: -18px;
}


.dropdown-menu.show {margin-top:-172px !important; margin-left:-11px;}

.dropdown-menu-right {margin-left:0px !important;}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    margin-left: 15px;
    margin-bottom: 22px;
}

.bs-placeholder {width:100% !important;}

.dropdown-menu.show {}

.dropdown-menu-right {top:60px !important;}

.dropdown-toggle::after {margin-top:-11px !important;}

.margin-adjust {
    margin-top: -3px !important;
    padding-right: 0 !important; padding-left:0px !important;
    width: 113% !important;
}

ul.multiselect-container {width:100% !important;     transform: translate3d !important;}

span.multiselect-native-select {width:100% !important;}

	.device-date {
    display: inline-block;
    padding-left: 1px !important;
    padding-top: 13px !important;
}

#daterange {
    padding-left: 8px !important;
    
}

.sub-device-date {
    float: right !important;
    /* margin-right: 4px !important; */
    display: block !important;
    /* width: 100% !important; */
    margin-top: 3px;
    margin-left: 33px;
    /* padding-left: 10px !important; */
}

.select-size {
    padding-left: 0px;
    width: 104% !important;
    margin-left: 12px;
    padding-right: 1px;
    margin-right: 0px;
}


.export-buttons {
    margin-top: -25px !important;
    width: auto;
}

.btn-group>.btn:first-child {width:100%; margin-left:0px !important;}

.dropdown-toggle::after {
	
	float: right;
    margin-top: 8px !important;
    margin-right: -15px;
}

.export-buttons {
    margin-top: -25px;
    width: auto;
}

.dropdown-menu {}

.btn-group {width:100%;}

.multiselect-container {    position: absolute;
    transform: translate3d(2px, -170px, 0px);
    will-change: transform;
    top: 172px !important;
    width: 99% !important;
    left: 11px !important;}
	
	.multiselect-clear-filter {visibility:hidden;}

.multiselect {    width: 100% !important;
    margin-left: 2px !important;
    margin-bottom: 22px !important;
    text-align: left !important;}

.pull-left-mobile {
    float: inherit !important; width:100%;
}
	
}

    
</style>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		{% include "affiliates/new_design/menubar-1.html" %}
	
		 <div class="main-content">
					
			 {% include "affiliates/new_design/header-1.html" %}
			 <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Earnings Reports</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Reports</a></li>
                        <li class="breadcrumb-item active">Earnings Reports</li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
                              
                              <form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();">  
                    
                    <!-- <input type="hidden" id="sitename" name="sitename" value="All" required="True"/> -->
                                                
                      <input type="hidden" name="format" value="json" />

                    
                    <div class="row col-lg-9 pull-left margin-adjust">
                     
                       <div class="col-md-3 pull-left">
                            
                                <select id="multiple-checkboxes" multiple="multiple" class="form-control" tabindex="-98" name="siteid" style="display: none;">
                                                        <!-- <option value="ALL">ALL</option> -->
                                        {%for i in sites_list %}
                                            {% if i.0 in siteid %}
                                            
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
                                          </div>
                        <div class="col-md-3 pull-left" style="float:left;">
                            
                                <select id="multiple-groupby" class="form-control" tabindex="-98" name="groupby">
                                            <option value="brand">Group by Brand</option>
                                            <option value="campaign">Campaign</option>
                                            <option value="daily">Daily</option>
                                            <option value="month">Monthly</option>
                                            <option value="yearly">Yearly</option>
                                    </select>
                                          </div>
                        <div class="col-md-3 pull-right" style="float:left;">
                            
                                <select id="multiple-groupby" class="form-control" tabindex="-98" name="currency">
                                            
                                            <option value="euro">Euro</option>
                                            <option value="gbp">GBP</option>
                                    </select>
                                          </div>
								<div class="col-md-8 device-date sub-device-date">
                         <div class="pull-left date-range-class" id="daterange" style="">
                            &nbsp; 
                            <span>{{from_date}} - {{to_date}}</span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> 
                         </div> 
                         
                         <input type="submit" value="Submit" class="btn  btn-success egcs_submit_button date-show" />
                        
						</div>
						
						
                    </div>  

                    <div class="col-lg-3 pull-right export-buttons">    
                    
                        <ul>
                            <!-- <li><a href="" class="buttons-gray"><i class="fa fa-save"></i>&nbsp; Save as</a></li> -->
                            <li><button type="button" class="buttons-gray btn-export-all btn btn-default btn-sm">
                            <i class="fa fa-external-link"></i>&nbsp; Export</button></li>
                        </ul>

                    </div>                  
                                
                            </div>
                    </div>

                    </div>
                    
                    
                    
                    <div class="row">
                                    <div class="col-md-12" style="display:none;">
                                        
                                       
                                               
                                                
                                                <input type="hidden" id="sitename" name="sitename" value="All" required="True"/>
                                                  <input type="hidden" name="format" value="json" />
                                                
                                                
                                                <div class="row date-right-mobile-none mobile-left-date" style="margin-bottom: -15px;float:right;">
                                                <div class="col-md-12 form-group adjust-top-bottom-dash adjust-top-bottom-dash1">
                                                
                                                   
                                                    
                                                </div> 
                                                

                                            </div>
                                                
                                      
                                                <!-- SITE SELECTION -->
   
            <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <div class="portlet-title">
                    
                </div>
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
                                        
                                        
                                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        
                                            {%for j in siteid_list %}   
                                                <span class="player-details-tr"><input name="siteids" type="checkbox" value="{{j.id}}" {%if j.selected %}checked{%endif%} />{{j.name}}</span>
                                            {%endfor%}
                                                        
                                        </div> -->
                                        
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
           <br/>
                        </form>
            <!-- END SAMPLE FORM PORTLET-->
                                                
                                              
                                            
                                    </div>
                                </div>
                    
                    
                
               <div class="row">
               
<table class="table table-responsive table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width: 99%;"></table>

                <nav style="float: right">
                  
                  <ul class="pagination" style="margin: 5px 0 10px 0"></ul>

                </nav>
            
          </div> <!-- First Row -->
          
          </div> <!-- First div card -->
          
          

                <!-- End PAge Content -->
            </div>
				
				
				{% include "affiliates/new_design/footer-1.html" %}
				
			</div>
        <!-- End Page wrapper  -->
    </div>
    <!-- Page Loading Overlay -->
    <!-- <div class="page-loading-overlay">
        <div class="loader-2"></div>
        
    </div> -->
    
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>




<script type="text/javascript">



function get_str(eTotal){
    res = '';
    for (var key in eTotal) {
    if (eTotal.hasOwnProperty(key)) {
        res += key+ eTotal[key].toFixed(2) + '<br/>';
        }
    }
    return res.slice(0,-5);
}

var intVal = function ( i ) {
    return typeof i === 'string' ?
        i.replace(/[\€,\$,\£,\₹]/g, '')*1 :
        typeof i === 'number' ?
            i : 0;
};
 

function get_sum_value(a, b){
    currency = b.replace(/\d+([,.]\d+)?/g, '').replace('-','');
    if (a[currency] == undefined){
        a[currency] = parseFloat(intVal(b));
    }
    else{
        a[currency] += parseFloat(intVal(b));
    }
    return a; 
}


function addPlayerslistDataTable(headersList, dataList, currency){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    

    // $("#player_data").append('<thead>'+header_s+'</thead><tfoot>'+header_s+'</tfoot>');
    $("#player_data").dataTable({
        "data": dataList,
       "columns":headersList,
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // converting to interger to find total
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\€,\$,\£,\₹]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
        },
            // computing column Total of the complete result 
        //     var aTotal = api
        //         .column( 2 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
                
        // var bTotal = api
        //         .column( 3 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
                
        //     var cTotal = api
        //         .column( 4 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
                
        //  var dTotal = api
        //         .column( 5 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
                
        //  var eTotal = api
        //         .column( 6 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var fTotal = api
        //         .column( 7 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var gTotal = api
        //         .column( 8 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var hTotal = api
        //         .column( 9 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var iTotal = api
        //         .column( 10 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        // var jTotal = api
        //         .column( 11 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var kTotal = api
        //         .column( 12 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var lTotal = api
        //         .column( 13 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var mTotal = api
        //         .column( 14 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        // var nTotal = api
        //         .column( 15 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        //  var oTotal = api
        //         .column( 16 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );       
        //  var pTotal = api
        //         .column( 17 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //  var qTotal = api
        //         .column( 18 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );  
        //   var rTotal = api
        //         .column( 19 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //   var sTotal = api
        //         .column( 20 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //  var tTotal = api
        //         .column( 21 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );       
        //  var uTotal = api
        //         .column( 22 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //  var vTotal = api
        //         .column( 23 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );   
        //   var wTotal = api
        //         .column( 24 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //   var xTotal = api
        //         .column( 25 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //   var yTotal = api
        //         .column( 26 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //   // var zTotal = api
        //   //       .column( 27 )
        //   //       .data()
        //   //       .reduce( function (a, b) {
        //   //           return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //   //       }, 0 );
        //     // Update footer by showing the total with the reference of the column index 
        // $( api.column( 0 ).footer() ).html('Total');
        //     $( api.column( 2 ).footer() ).html(aTotal);
        //     $( api.column( 3 ).footer() ).html(bTotal);
        //     $( api.column( 4 ).footer() ).html(cTotal.toFixed(2));
        //     $( api.column( 5 ).footer() ).html(dTotal);
        //     $( api.column( 6 ).footer() ).html(eTotal.toFixed(2));
        //     $( api.column( 7 ).footer() ).html(fTotal);
        //     $( api.column( 8 ).footer() ).html(gTotal.toFixed(2));
        //     $( api.column( 9 ).footer() ).html(hTotal);
        //     $( api.column( 10 ).footer() ).html(get_str(iTotal));
        //     $( api.column( 11 ).footer() ).html(jTotal);
        //     $( api.column( 12 ).footer() ).html(kTotal);
        //     $( api.column( 13 ).footer() ).html(lTotal);
        //     $( api.column( 14 ).footer() ).html(get_str(mTotal));
        //     $( api.column( 15 ).footer() ).html(nTotal.toFixed(2));
        //     $( api.column( 16 ).footer() ).html(get_str(oTotal));
        //     $( api.column( 17 ).footer() ).html(get_str(pTotal));
        //     $( api.column( 18 ).footer() ).html(get_str(qTotal));
        //     $( api.column( 19 ).footer() ).html(get_str(rTotal));
        //     $( api.column( 20 ).footer() ).html(get_str(sTotal));
        //     $( api.column( 21 ).footer() ).html(get_str(tTotal));
        //    	$( api.column( 22 ).footer() ).html(get_str(uTotal));
        //     $( api.column( 23 ).footer() ).html(get_str(vTotal));
        //     $( api.column( 24 ).footer() ).html(get_str(wTotal));
        //     $( api.column( 25 ).footer() ).html(get_str(xTotal));
        //     $( api.column( 26 ).footer() ).html(get_str(yTotal));
        //     // $( api.column( 27 ).footer() ).html(currency + zTotal.toFixed(2));
        // },
        fixedHeader: true,
        "iDisplayLength": 30,
        // "order": [[ 0, "desc" ]],
       "createdRow": function( row, data, dataIndex ) {
             $(row).attr('id', 'order_'+data[0]);
             //$(row).attr('username', data[1]);
            // var html_str  = '<a href="/playerinfosave/'+data[2]+'"  target="_blank">'+data[0]+'</a>';
             //$($(row).find('td')[0]).html(html_str);
             //console.log(dataIndex);
         },
         
         "rowCallback": function( row, data ) {
             //if ( $.inArray( $(row).attr('id'), selected_from_group) !== -1 ) {
              //   $(row).addClass('selected');
             //}
         },
       //"scrollX": true,
       paging: true,
       searching: false,
       info: false,
        dom: 'Bfrtip',
        buttons: [
            'csv',
            'excelHtml5',
            'pdfHtml5'
        ],
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "<h3>NOTHING TO SEE HERE … YET!</h3>"
        }
          });
   
   	
}

function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
  };

function getcode(ele){
	url = $(ele).attr('hrefs')
	$.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                	$('#link-code').val(data.linkurl);
                    $('#get-code').show();
                    $("#cover").show();
                }
          }
    });
    return false;

}

function ajaxsubmitFormData(){
    var search_form = $("#DashBoardFormID");
    if(window.siteload == true){
        return true;
    }
    $(".preloader").show();
    data_set = search_form.serialize()
    data_set = data_set.replace('sitename','');
    // ajaxBlockUI($(".page-content"))
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: data_set,
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    $('.digg_pagination').html("");
                    //var decoded = $('<div />').html(data.pagination_div).text();
                    $('.digg_pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list, data.currency);
                    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
                }
          }
    });
    return false;
}


jQuery(document).ready(function() { 
    $('#multiple-checkboxes').multiselect({
        includeSelectAllOption: true,
        enableFiltering: true,
		enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Select Brand'
    }, 'selectAll');
    // $("#multiple-checkboxes").multiselect('selectAll', false);
    $("#multiple-checkboxes").multiselect('updateButtonText');
    $("#multiple-checkboxes").show();
    $("#multiple-checkboxes").multiselect('select', {{siteid|safe}});
	Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
   Index.init();
   // Index.initDashboardDaterange();
   egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}');
   Index.initJQVMAP(); // init index page's custom scripts
   //Index.initCalendar(); // init index page's custom scripts
   //Index.initCharts(); // init index page's custom scripts
   //Index.initChat();
   Index.initMiniCharts();
   //Tasks.initDashboardWidget();
   //FormiCheck.init(); // init page demo  
   //egcsTools.initDashboardDaterange("left");
   egcsTools.initNavigation();    
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var currency = '{{currency|safe}}'
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
   $('.digg_pagination').html(decoded);

   // $.fn.DataTable.ext.pager.numbers_length = 4;
   addPlayerslistDataTable(header_list, data_list, currency);
   $('#dashboard-report-range').find('span').attr('style', "display:'';" );
   $('#dashboard-report-range').find('span').removeClass('visible-lg-inline-block');
   $('rect').attr('rx',0);
});

		</script>
		
		 <script type="text/javascript">
		 
    $(document).ready(function(){
	  
	  $('#daterange').on('show.daterangepicker', function(ev, picker) {
  //do something, like clearing an input
  $("body").css({"position":"fixed", "overflow":"hidden"});
});
$('#daterange').on('hide.daterangepicker', function(ev, picker) {
  //do something, like clearing an input
  $("body").css({"position":"", "overflow":""});
});	  
	 
    });
  </script>



<script type="text/javascript">
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
});
                            </script>


<div id="cover" style="display:none;"> </div>
</body>
</html>