<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="author" content="" />

    <title>{{partner}} - Earnings Report</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">


     <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
     <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">
	
	

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />
         <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
	<script src="//code.jquery.com/jquery-1.12.4.js"></script>
  
  <link href="/static_files/new_wynta/css/reports.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	

</head>
<style type="text/css">
#demo {
    margin-top: 5px;
    margin-bottom: 15px;
}

#daterange { margin-top: 5px !important; padding-left:0;}
    
</style>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		{% include "affiliates/new_design/menubar-1.html" %}
	
		 <div class="main-content">
					
			 {% include "affiliates/new_design/header-1.html" %}
			 <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Earnings Reports</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Reports</a></li>
                        <li class="breadcrumb-item active">Earnings Reports</li>
                    </ol>
                
            
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row p-l-r-10">
			<div class="col-lg-12 p-l-0 p-r-0">
			<div class="card-title">
                              
                              <form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();">  
                                              
                      <input type="hidden" name="format" value="json" />

				<div class="container-fluid bottom20">
                    
                    <div class="row">
					
					<div class="col-lg-1 p-l-0 p-r-0 m-minus-15">
						
						<span class="width-small">Group By</span>
						</div>
                     
                      <div class="form-group col-lg-2 col-md-3 col-sm-12 size-width p-l-0">
									
									<select class="brand-group multiple-groupby form-group selectpicker dashboard-select" name="groupby" id="multiple-groupby" style="display:block !important;">	
										<option value="brand">Brand</option>
                                            <option value="campaign">Campaign</option>
                                            <option value="dynamic">Dynamic</option>
                                            <option value="daily">Daily</option>
                                            <option value="month">Monthly</option>
                                            <option value="yearly">Yearly</option>
									</select>
								</div>
								
								<div class="form-group col-lg-2 col-md-3 col-sm-12 size-width p-l-0">
									<button type="button" class="btn btn-default filter-button collapsed" id='hideshow' data-toggle="collapse" data-target="#demo"><span class="select-filter"><!--<i class="fa fa-filter"></i>--> Filters</span></button>
								</div>
								
								<div class="form-group col-lg-2 col-md-2 d-none d-lg-block d-md-block p-l-0">
									<input type="submit" value="Submit" class="btn  btn-success egcs_submit_button">
								</div>								
								
								<div class="form-group col-lg-6 col-md-6 col-sm-6 mobile-50 date-mobile p-l-0" style="display:none;">   
 
									<div id="daterange1">
									<span>{{from_date}} - {{to_date}}</span> 
									<i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i>
									</div> 
									<input type="submit" value="Submit" class="btn  btn-success egcs_submit_button">
									 
								</div>
								
								<div class="form-group col-lg-5 col-md-3 col-sm-6 mobile-50 mobile-50-15 pr-lg-0 pr-md-0">
									<span class="float-right btn-export-all-one"><img src="/static_files/images/Share_Icon_AI.svg" width="15" style="vertical-align:text-top;"> Export</span>
								</div>
                   	
                    </div>


					<div id="demo" class="collapse mobile-view">
							<a class="close-tag d-sm-block d-md-none" id="close-div"><i class="fa fa-close"></i></a>
							<div class="row">
                                   	  
                                          <div class="col-lg-2 col-md-2 col-sm-12 pl-lg-0 pl-md-0">
                            
                                <select id="multiple-groupby" class="form-group selectpicker dashboard-select" tabindex="-98" name="currency"  data-show-subtext="true" style="" tabindex="-98">
                                            
                                            <option value="euro">Euro</option>
                                            <option value="gbp">GBP</option>
                                    </select>
                                          </div>

                     
                       <div class="col-lg-2 col-md-3 col-sm-12 pl-lg-0 pl-md-0">
                            
                                <select id="multiple-checkboxes" multiple="multiple" class="form-group form-control" tabindex="-98" name="siteid" style="display: none;">
                                                        <!-- <option value="ALL">ALL</option> -->
                                        {%for i in sites_list %}
                                            {% if i.0 in siteid %}
                                            
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
                                          </div>
										  
                        <div class="col-lg-8 col-md-8 col-sm-12 pl-lg-0 pl-md-0 top-bottom">
                            
                               <div class="pull-left date-range-class" id="daterange" style="">
                            &nbsp; 
                            <span>{{from_date}} - {{to_date}}</span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> 
                         </div>
                                          </div>
                                          
                                  <br/>
                                                
                      <input type="hidden" name="format" value="json" />

                    
                    
                      </div>

							</div>					
					
					</div> <!-- End of reports container -->

                                     
                                
                            </div>
                    </div>

                    </div>
                    
                    
                    
                    <div class="row">
                                    <div class="col-md-12" style="display:none;">
                                        
                                       
                                               
                                                
                                                <input type="hidden" id="sitename" name="sitename" value="All" required="True"/>
                                                  <input type="hidden" name="format" value="json" />
                                                
                                                
                                                <div class="row date-right-mobile-none mobile-left-date" style="margin-bottom: -15px;float:right;">
                                                <div class="col-md-12 form-group adjust-top-bottom-dash adjust-top-bottom-dash1">
                                                
                                                   
                                                    
                                                </div> 
                                                

                                            </div>
                                                
                                      
                                                <!-- SITE SELECTION -->
   
            <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <div class="portlet-title">
                    
                </div>
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
                                        
                                        
                                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        
                                            {%for j in siteid_list %}   
                                                <span class="player-details-tr"><input name="siteids" type="checkbox" value="{{j.id}}" {%if j.selected %}checked{%endif%} />{{j.name}}</span>
                                            {%endfor%}
                                                        
                                        </div> -->
                                        
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
           <br/>
                        </form>
            <!-- END SAMPLE FORM PORTLET-->
                                                
                                              
                                            
                                    </div>
                                </div>
                    
                    
                
               <div class="row p-l-r-10">
      
<div class="table-responsive">	
	  
<table class="table table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style=""></table>

</div>
                <nav class="mobile-pagination-display" style="float: right;
    display: block;
    position: relative;
    top: -25px;">
                  <ul class="pagination" style="margin: 5px 0 10px 0">
  
</ul>

                </nav>
            
          </div> <!-- First Row -->
          
          </div> <!-- First div card -->
          
          

                <!-- End PAge Content -->
            </div>
				
				
				{% include "affiliates/new_design/footer-1.html" %}
				
			</div>
        <!-- End Page wrapper  -->
    </div>
    <!-- Page Loading Overlay -->
    <!-- <div class="page-loading-overlay">
        <div class="loader-2"></div>
        
    </div> -->
    
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>



<script type="text/javascript">



function get_str(eTotal){
    res = '';
    for (var key in eTotal) {
    if (eTotal.hasOwnProperty(key)) {
        res += key+ eTotal[key].toFixed(2) + '<br/>';
        }
    }
    return res.slice(0,-5);
}

var intVal = function ( i ) {
    return typeof i === 'string' ?
        i.replace(/[\€,\$,\£,\₹]/g, '')*1 :
        typeof i === 'number' ?
            i : 0;
};
 

function get_sum_value(a, b){
    currency = b.replace(/\d+([,.]\d+)?/g, '').replace('-','');
    if (a[currency] == undefined){
        a[currency] = parseFloat(intVal(b));
    }
    else{
        a[currency] += parseFloat(intVal(b));
    }
    return a; 
}


function addPlayerslistDataTable(headersList, dataList, currency){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    

    // $("#player_data").append('<thead>'+header_s+'</thead><tfoot>'+header_s+'</tfoot>');
    $("#player_data").dataTable({
        "data": dataList,
       "columns":headersList,
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // converting to interger to find total
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\€,\$,\£,\₹]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
        },
            // computing column Total of the complete result 
        //     var aTotal = api
        //         .column( 2 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
                
        // var bTotal = api
        //         .column( 3 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
                
        //     var cTotal = api
        //         .column( 4 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
                
        //  var dTotal = api
        //         .column( 5 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
                
        //  var eTotal = api
        //         .column( 6 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var fTotal = api
        //         .column( 7 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var gTotal = api
        //         .column( 8 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var hTotal = api
        //         .column( 9 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var iTotal = api
        //         .column( 10 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        // var jTotal = api
        //         .column( 11 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var kTotal = api
        //         .column( 12 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var lTotal = api
        //         .column( 13 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        // var mTotal = api
        //         .column( 14 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        // var nTotal = api
        //         .column( 15 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
        //  var oTotal = api
        //         .column( 16 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );       
        //  var pTotal = api
        //         .column( 17 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //  var qTotal = api
        //         .column( 18 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );  
        //   var rTotal = api
        //         .column( 19 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //   var sTotal = api
        //         .column( 20 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //  var tTotal = api
        //         .column( 21 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );       
        //  var uTotal = api
        //         .column( 22 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //  var vTotal = api
        //         .column( 23 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );   
        //   var wTotal = api
        //         .column( 24 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //   var xTotal = api
        //         .column( 25 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //   var yTotal = api
        //         .column( 26 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return get_sum_value(a, b);
        //         }, {} );
        //   // var zTotal = api
        //   //       .column( 27 )
        //   //       .data()
        //   //       .reduce( function (a, b) {
        //   //           return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //   //       }, 0 );
        //     // Update footer by showing the total with the reference of the column index 
        // $( api.column( 0 ).footer() ).html('Total');
        //     $( api.column( 2 ).footer() ).html(aTotal);
        //     $( api.column( 3 ).footer() ).html(bTotal);
        //     $( api.column( 4 ).footer() ).html(cTotal.toFixed(2));
        //     $( api.column( 5 ).footer() ).html(dTotal);
        //     $( api.column( 6 ).footer() ).html(eTotal.toFixed(2));
        //     $( api.column( 7 ).footer() ).html(fTotal);
        //     $( api.column( 8 ).footer() ).html(gTotal.toFixed(2));
        //     $( api.column( 9 ).footer() ).html(hTotal);
        //     $( api.column( 10 ).footer() ).html(get_str(iTotal));
        //     $( api.column( 11 ).footer() ).html(jTotal);
        //     $( api.column( 12 ).footer() ).html(kTotal);
        //     $( api.column( 13 ).footer() ).html(lTotal);
        //     $( api.column( 14 ).footer() ).html(get_str(mTotal));
        //     $( api.column( 15 ).footer() ).html(nTotal.toFixed(2));
        //     $( api.column( 16 ).footer() ).html(get_str(oTotal));
        //     $( api.column( 17 ).footer() ).html(get_str(pTotal));
        //     $( api.column( 18 ).footer() ).html(get_str(qTotal));
        //     $( api.column( 19 ).footer() ).html(get_str(rTotal));
        //     $( api.column( 20 ).footer() ).html(get_str(sTotal));
        //     $( api.column( 21 ).footer() ).html(get_str(tTotal));
        //    	$( api.column( 22 ).footer() ).html(get_str(uTotal));
        //     $( api.column( 23 ).footer() ).html(get_str(vTotal));
        //     $( api.column( 24 ).footer() ).html(get_str(wTotal));
        //     $( api.column( 25 ).footer() ).html(get_str(xTotal));
        //     $( api.column( 26 ).footer() ).html(get_str(yTotal));
        //     // $( api.column( 27 ).footer() ).html(currency + zTotal.toFixed(2));
        // },
        fixedHeader: true,
        "iDisplayLength": 30,
        // "order": [[ 0, "desc" ]],
       "createdRow": function( row, data, dataIndex ) {
             $(row).attr('id', 'order_'+data[0]);
             //$(row).attr('username', data[1]);
            // var html_str  = '<a href="/playerinfosave/'+data[2]+'"  target="_blank">'+data[0]+'</a>';
             //$($(row).find('td')[0]).html(html_str);
             //console.log(dataIndex);
         },
         
         "rowCallback": function( row, data ) {
             //if ( $.inArray( $(row).attr('id'), selected_from_group) !== -1 ) {
              //   $(row).addClass('selected');
             //}
         },
       //"scrollX": true,
       paging: true,
       searching: false,
       info: false,
        dom: 'Bfrtip',
        buttons: [
            'csv',
            'excelHtml5',
            'pdfHtml5'
        ],
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
          });
   
   	
}

function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
  };

function getcode(ele){
	url = $(ele).attr('hrefs')
	$.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                	$('#link-code').val(data.linkurl);
                    $('#get-code').show();
                    $("#cover").show();
                }
          }
    });
    return false;

}

function ajaxsubmitFormData(){
    var search_form = $("#DashBoardFormID");
    if(window.siteload == true){
        return true;
    }
    $(".preloader").show();
    data_set = search_form.serialize()
    data_set = data_set.replace('sitename','');
    // ajaxBlockUI($(".page-content"))
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: data_set,
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    $('.digg_pagination').html("");
                    //var decoded = $('<div />').html(data.pagination_div).text();
                    $('.digg_pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list, data.currency);
                    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
                }
          }
    });
    return false;
}


jQuery(document).ready(function() { 

//$('#multiple-groupby').selectpicker({
 //   noneSelectedText: 'Group by'
//	});
	
    $('#multiple-checkboxes').multiselect({
        includeSelectAllOption: true,
        enableFiltering: true,
        allSelectedText:'All Brands',
		enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Select Brand'
    }, 'selectAll');
     $("#multiple-checkboxes").multiselect('selectAll', false);
    $("#multiple-checkboxes").multiselect('updateButtonText');
    $("#multiple-checkboxes, .group-by-all").show();
    $("#multiple-checkboxes").multiselect('select', {{siteid|safe}});
	Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
   Index.init();
   // Index.initDashboardDaterange();
   egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}');
   Index.initJQVMAP(); // init index page's custom scripts
   //Index.initCalendar(); // init index page's custom scripts
   //Index.initCharts(); // init index page's custom scripts
   //Index.initChat();
   Index.initMiniCharts();
   //Tasks.initDashboardWidget();
   //FormiCheck.init(); // init page demo  
   //egcsTools.initDashboardDaterange("left");
   egcsTools.initNavigation();    
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var currency = '{{currency|safe}}'
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
   $('.digg_pagination').html(decoded);

   // $.fn.DataTable.ext.pager.numbers_length = 4;
   addPlayerslistDataTable(header_list, data_list, currency);
   $('#dashboard-report-range').find('span').attr('style', "display:'';" );
   $('#dashboard-report-range').find('span').removeClass('visible-lg-inline-block');
   $('rect').attr('rx',0);
});

		</script>
		
		 <script type="text/javascript">
		 
    $(document).ready(function(){
	  
	  $('#daterange').on('show.daterangepicker', function(ev, picker) {
  //do something, like clearing an input
  $("body").css({"position":"fixed", "overflow":"hidden"});
});
$('#daterange').on('hide.daterangepicker', function(ev, picker) {
  //do something, like clearing an input
  $("body").css({"position":"", "overflow":""});
});	  
	 
    });
  </script>



<script type="text/javascript">
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange, #daterange1').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
							$(document).ready(function(){
								$(".btn-export-all-one").click(function(){
									$(".dt-buttons").toggle();

								});

							});
							</script>
							
							
							<script>
							
							$(document).ready(function(){
							
							 $(window).on("resize", function (e) {
								checkScreenSize();
							 });
							 
							 checkScreenSize();

							function checkScreenSize(){
								
								var newWindowWidth = $(window).width();
								
								if (newWindowWidth < 600) { 
								
									$('#hideshow').on('click', function(event) {        
									 $('.mobile-view').fadeIn(600);
									 $('#cover').fadeIn(600);
									 $('html').css('overflow','hidden');
								});
								
								$('.close-tag').on('click', function(event) {        
									 $('.mobile-view').fadeOut(400);
									 $('#cover').fadeOut(400);
									 $('html').css('overflow','auto');
								});
								
								}
								
								else {
									return false;
									
								}
								
								$("form").submit(function(e) {
									$('.mobile-view, #cover').hide();
									$('html').css('overflow','auto');
								});
									
							}
								
							});
	
	</script>
	
	
	<script>
// Code goes here
'use strict'
window.onload = function(){
  var tableCont = document.querySelector('#player_data')
  /**
   * scroll handle
   * @param {event} e -- scroll event
   */
  function scrollHandle (e){
    var scrollTop = this.scrollTop;
    this.querySelector('thead').style.transform = 'translateY(' + scrollTop + 'px)';
  }
  
  tableCont.addEventListener('scroll',scrollHandle)
}
</script>	


<div id="cover" style="display:none;"> </div>

</body>
</html>