<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Xenon Boostrap Admin Panel" />
  <meta name="author" content="" />

  <title>{{partner}}</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
  <link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
  <link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/static_files/assets/css/xenon-core-partner.css">
  <link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
  <link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
  <link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
  <link rel="stylesheet" href="/static_files/assets/css/custom.css">

  <link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
    <link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>

    <script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static_files/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/table-managed.js"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>
<script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->


</head>
<body class="page-body">
<style type="text/css">

.top-space-adjust-sec {margin-top:0px;}

.table {margin-top:10px;}

.row-right {margin-right:-30px;}

.col-sm-12, .panel-default {padding-right:0;}

.theader {    background-color: #f2f2f2 !important;
    color: #FFF;
    padding: 8px 8px;
    font-size: 15px !important;
    text-transform: capitalize;
    margin-left: 12px;
   }
	
	.title-tec {color:#000 !important;}
	
	.theader td {padding:8px !important;}
	
	.page-container .main-content .page-title {width:100% !important;}
	.breadcrumb-env1 {margin-top:-9px; float:right; margin-right:-32px;}
	
	.button-delete { width: 85px;
    padding: 5px;
    position: relative;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;}
	
	.form-control {width:300px;}




.left-space {margin-left:15px;}


@media (max-width:765px){


footer.main-footer {position:relative !important;}

}


.panel {margin-top:8px !important;}

.fa-copy {    font-size: 16px !important;
    position: relative;
    cursor: pointer;
    left: -43px;
    color: #ffffff;
    background: #36a9e1;
    padding: 12px;
  }
  
  #messageiddiv{
  margin-top: -23px;
    width: 100%;
    margin-left: 38px;
  }
  .btn-popup-display {margin-left:23px; width:140px;}
  
    @media only screen and (max-width: 765px) { 
    
    .btn-popup-display {margin-left:0px !important; width:140px;}
    
    }
	
	.border-none-tr-td tr td {border-bottom:none !important;}
  
</style>


  <div class="settings-pane">
      
    <a href="#" data-toggle="settings-pane" data-animate="true">
      &times;
    </a>
    
    <div class="settings-pane-inner">
      
      <div class="row">
        
        <div class="col-md-4">
          
          <div class="user-info">
            
            <div class="user-image">
              <a href="extra-profile.html">
                <img src="/static_files/assets/images/user-2.png" class="img-responsive img-circle" />
              </a>
            </div>
            
            <div class="user-details">
              
              <h3>
                <a href="extra-profile.html">{{request.user.username}}</a>
                
               
                <span class="user-status is-online"></span>
              </h3>
              
            
              
            </div>
            
          </div>
          
        </div>
        
       
        
      </div>
    
    </div>
    
  </div>
  
  <div class="page-container">
  
    {% include "partner/new_design/menubar-1.html" %}
  
    <div class="main-content">
          
      {% include "partner/new_design/header-1.html" %}
      
     <div class="page-title">
      
        <div class="title-env">
          <h1 class="title">Affiliate Managers</h1>
          <p class="description"></p>
        </div>
      
          <div class="breadcrumb-env">
      
                <ol class="breadcrumb bc-1" >
                  <li>
              <a href=" /admin/"><i class="fa-home"></i>Home</a>
            </li>
                <li>
      
                    <a href="">Users</a>
                </li>
              <li class="active">
      
                    <strong>Affiliate Managers</strong>
                </li>
                </ol>
            
        </div>
        
      </div>
      
      <div class="row">
        <div class="col-sm-12">
      
          <div class="panel panel-default">
           
            <div class="panel-body" style="margin-left: -20px;">
      <div class="portlet-body">
                            <div class="table-toolbar">
                                
                                {%if message %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success-msg">
                                            <center> <span>{{message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row">
                                    <div class="col-md-12 top-space-adjust-sec">
                                        <div>
                                        {%if data.call == 'POST'%}
                                        <form action=" /admin/affiliate-manager" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">
                                          {% else %}
                                          <form action= " /admin/affiliate-manager/{{data.id}}" id="affForm" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" novalidate>
                                            {% endif %}
                                        <fieldset>
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
										
										<input type="hidden" value="{{request.user.email}}" name="email">
										<div class="theader"><p class="title-tec">Manager Details</p></div>
										
										
                                        <table class="table table-hover table_header_background border-none-tr-td" style="">
                                            
                                            <tbody>
                                                <tr class="light-bg">
                                                    <td style="text-align:left">Username/ Email address:</td>
                                                    <td style="text-align:left" class="bold affinfo_col_data"><strong class="form-control">{{request.user.email}}</strong></td>
                                                    
												</tr>
												
 
                                               
												<tr class="light-bg">
												
													<td style="text-align:left">First Name:</td>
                                                    <td style="text-align:left" class="bold affinfo_col_data "><input name="first_name" class="form-control" type="text" value="{{data.first_name}}"></td>
													<td style="text-align:left">Last Name:</td>
                                                    <td style="text-align:left" class="bold affinfo_col_data"><input name="last_name" class="form-control" type="text" value="{{data.last_name}}"></td>
												
												
												</tr>
												
												 <tr class="light-bg">
                                                    <td style="text-align:left">Joined On:</td>
                                                    <td style="text-align:left" class="bold affinfo_col_data"><strong class="form-control" >{{data.date_joined}}</strong></td>
                                                    
                                                </tr>
												

                           <tr>
                                                  <td>
                                                    <div class="form-actions">
                                                      <div class="row">
                    {%if data.call == 'POST'%}
                                        <button class="btn btn-primary egcs_submit_button" title="Make a POST request " style="width: 120px;
    padding: 10px;
    
    " >Submit</button>
                                          {% else %}
                                          <div class="col-md-12 full-width-submit" style="width: 25%">
                                    
                                    <input type="submit" value="Submit" class="btn-single egcs_submit_button" style="width: 120px;
    padding: 10px;
    
    " />
                                                    
                                </div>
                                            {% endif %}
                                
                                
                                
                            </div>
                          </div>

                                                  </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                      </fieldset>
                                        </form>
                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </div>
             
              </div>
          </div>
        </div>
      </div>
      {% include "partner/new_design/footer-1.html" %}
      
      <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
      
    </div> 
       
    </div>

  <!-- Bottom Scripts -->
  <script src="/static_files/assets/js/bootstrap.min.js"></script>
  <script src="/static_files/assets/js/TweenMax.min.js"></script>
  <script src="/static_files/assets/js/resizeable.js"></script>
  <script src="/static_files/assets/js/joinable.js"></script>
  <script src="/static_files/assets/js/xenon-api.js"></script>
  <script src="/static_files/assets/js/xenon-toggles.js"></script>


  <!-- JavaScripts initializations and stuff -->
  <script src="/static_files/assets/js/xenon-custom.js"></script>
<script>


        $(document).ready(function() {
         
          $('form').ajaxForm();
        });
      </script>
</body>
</html>

