<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	 <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />

    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />
    

  

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<style type="text/css">

@media (device-height: 1024px) and (device-width: 768px) and (orientation: portrait)
{
	.dataTables_paginate {position: absolute;
    right: 20px;
    margin-top: 10px;}
}



.multiselect-container { transform: translate3d(-40px, 2px, 0px) !important; margin-top:0px !important; margin-left:197px !important;}


.sub-device-date {
    float: right;
    margin-right: -335px !important;
    display: block;
    width: 100%;
} 

.mobile-float-none {margin-left:10px;}


.dropdown-menu.show {z-index:inherit;}

.filter-option, .dropdown-toggle::after {color:#fff;}

.bs-placeholder {    margin-left: -10px;
    width: 165px;
    margin-bottom: 0 !important;}

.bootstrap-select.btn-group .dropdown-menu.inner {display:block;}

.bootstrap-select>select {
    position: absolute!important;
    bottom: 0;
    left: 50%;
    display: block!important;
    width: .5px!important;
    height: 100%!important;
    padding: 0!important;
    opacity: 0!important;
    border: none;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 165px;
}

.dashboard-select > button {
	
	background: #1976d2;
    border: 1px solid #1976d2;
    -webkit-box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;

    height: 35px !important;
    padding-right: 25px !important;
    line-height: 20px !important;
    font-size: 14px !important;
	margin-left: -10px !important;
    width: 165px;
    margin-bottom: 0 !important;position: relative;
    top: 6px;

}

.bs-placeholder {

background: #1976d2;
    border: 1px solid #1976d2;
    -webkit-box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;

    height: 35px !important;
    padding-right: 25px !important;
    line-height: 20px !important;
    font-size: 14px !important;
	margin-left: -10px !important;
    width: 165px;
    margin-bottom: 0 !important;position: relative;
    top: 6px;
	}
	
	.bootstrap-select {
    width: 100%;
    display: block;
    clear: both;
    padding: 0px;
}

.dropdown-menu.show {margin-top:40px; margin-left:-10px;}

.open {
    max-height: 150px !important;
    transform: inherit !important;
   /* top: 40px !important; */
  
   
}
	
	.inner {max-height:150px !important; overflow-y:scroll !important;}

.bootstrap-select.btn-group .no-results {white-space: pre-wrap;}

.device-date {float: right;
    margin-top: -27px;
    position: relative;
    left: 5px;}
	
	
	
	.margin-adjust {
    top: 4px;
    margin-top: -14px !important;
    position: relative;
    left: -5px;
}





@media (max-width: 767px) {

.dropdown-menu.show {margin-top:40px; margin-left:-10px;}

.dropdown-menu-right {margin-left:0px !important;}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    margin-left: 15px;
    margin-bottom: 22px;
}

.bs-placeholder {width:100% !important;}

.dropdown-menu.show {}

.dropdown-menu-right {top:60px !important;}

.dropdown-toggle::after {margin-top:-11px !important;}

.margin-adjust {
    margin-top: -3px !important;
    padding-right: 0 !important; padding-left:0px !important;
    width: 100% !important;
}

	.device-date {
    display: inline-block;
    padding-left: 1px !important;
    padding-top: 13px !important;
}

.sub-device-date {
    float: right !important;
    margin-right: -15px !important;
    display: block !important;
    width: 100% !important;
    margin-top: -9px;
}

.select-size {
    padding-left: 0px;
    width: 104% !important;
    margin-left: 12px;
    padding-right: 1px;
    margin-right: 0px;
}


.export-buttons {
    margin-top: -25px !important;
    width: auto;
}

.btn-group>.btn:first-child {width:100%;}

.dropdown-toggle::after {
	
	float: right;
    margin-top: 8px;
    margin-right: -15px;
}

.export-buttons {
    margin-top: -25px;
    width: auto;
}

.dropdown-menu {}

.pull-left-mobile {
    float: inherit !important; width:100%;
}
	
}

.margin-adjust {
    top: 4px;
    margin-top: -14px !important;
    position: relative;
    left: -5px;
}

.multiselect-clear-filter {visibility:hidden;}

.filter-option, .multiselect-selected-text, .dropdown-toggle::after {
    color: #fff;
}

.device-date {
    float: right;
    margin-top: -27px;
    position: relative;
    left: 5px;
}

.multiselect {

    height: 35px !important;
    padding-right: 25px !important;
    line-height: 20px !important;
    font-size: 14px !important;
    margin-left: 158px !important;
    margin-top: -47px;

    width: 165px !important;
    margin-bottom: 0 !important;
    position: relative;
    top: 6px;
        background: #1976d2;
    border: 1px solid #1976d2;
    -webkit-box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;

}


.select-size1 {height: auto;
    padding: 6px;
    width: 135px;
    margin-left: -15px;
    font-size: 14px;}
    
    
    @media (max-width: 767px) {
    
        .select-size1 {
    width: 100%;
    margin-left: 4px;
}
    
    }
.btn-group label {
    color: #0a0a0a !important;
    margin-bottom: 0;
}
    .multiselect-container>li>a>label {padding-left:0px;color: #000 !important; }

select.form-control:not([size]):not([multiple]) {height: calc(2.09rem + 2px) !important;}

label.margin-bottom-space {margin-bottom:8px;}

.dropdown-toggle::after {}
.multiselect-container {    position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 100%;
    color: rgb(0, 0, 0);}
    
    label.checkbox {    color: #000 !important;
    vertical-align: middle;
    padding-left: 0;
    text-transform: capitalize;
    display: block;
    }
    
    .multiselect-container>li>a>label>input[type=checkbox] {
    vertical-align: middle;
    margin-right: 2px; margin-bottom:0px;
}


@media (max-width: 767px) {

.dropdown-menu.show {margin-top:40px; margin-left:-10px;}

.dropdown-menu-right {margin-left:0px !important;}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    margin-left: 15px;
    margin-bottom: 22px;
}

.bs-placeholder {width:100% !important;}

.dropdown-menu.show {}

.dropdown-menu-right {top:60px !important;}

.dropdown-toggle::after {margin-top:-11px !important;}

.margin-adjust {
    margin-top: -3px !important;
    padding-right: 0 !important; padding-left:0px !important;
    width: 100% !important;
}

    .device-date {
    display: inline-block;
    padding-left: 1px !important;
    padding-top: 13px !important;
}

.sub-device-date {
    float: right !important;
    margin-right: -15px !important;
    display: block !important;
    width: 100% !important;
    margin-top: -9px;
}

.select-size {
    padding-left: 0px;
    width: 104% !important;
    margin-left: 12px;
    padding-right: 1px;
    margin-right: 0px;
}


.export-buttons {
    margin-top: -25px !important;
    width: auto;
}

.btn-group>.btn:first-child {width:100%;}

.dropdown-toggle::after {
    
    float: right;
    margin-top: 8px !important;
    margin-right: -15px;
}

.export-buttons {
    margin-top: -25px;
    width: auto;
}

.dropdown-menu {}

.btn-group {width:100%;}

.multiselect-container {    position: absolute;
    transform: translate3d(2px, -170px, 0px);
    will-change: transform;
    top: 172px !important;
    width: 99% !important;
    left: 11px !important;}
    
    .multiselect-clear-filter {visibility:hidden;}

.multiselect {    width: 100% !important;
    margin-left: 2px !important;
    margin-bottom: 22px !important;
    text-align: left !important;}

.pull-left-mobile {
    float: inherit !important; width:100%;
}
    
}

.selectpicker {
    height: 32px;
    width: auto;
    border-color: #e7e7e7;
}

.table > thead > tr > th {width:auto !important;}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait) {
	.table-responsive {
width: 98% !important;
}
}


</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
						<h3 class="text-primary">Commission by Brands</h3>
						
					</div>	
					
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Commission</a></li>
                        <li class="breadcrumb-item active">Commission by Brands</li>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			<div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert-danger alert-success-msg" >
                                            <center> <span id="updated"></span></center>
                                        </div>
                                    
                                    </div>
                                </div>
      
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                                
					<div class="col-lg-9 pull-left margin-adjust">
                                    
                                  
                                                
                      <input type="hidden" name="format" value="json" />

					
					
					  </div>

									
								
                            </div>
					</div>

					</div>
					
					
					
					<div class="row">
                                    <div class="col-md-12" style="display:none;">
                                        
                                        <form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();">
                                               
                                                
                                                <!-- <input type="hidden" id="sitename" name="sitename" value="All" required="True"/> -->
                                                  <input type="hidden" name="format" value="json" />
                                                
                                                
                                                <div class="row date-right-mobile-none mobile-left-date" style="margin-bottom: -15px;float:right;">
                                                <div class="col-md-12 form-group adjust-top-bottom-dash adjust-top-bottom-dash1">
                                                
                                                   
                                                    
                                                </div> 
												

                                            </div>
                                                
                                      
                                                <!-- SITE SELECTION -->
   
           	<div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <div class="portlet-title">
                    
                </div>
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
                                        
                                        
                                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        
                                            {%for j in siteid_list %}   
                                                <span class="player-details-tr"><input name="siteids" type="checkbox" value="{{j.id}}" {%if j.selected %}checked{%endif%} />{{j.name}}</span>
                                            {%endfor%}
                                                        
                                        </div> -->
                                        
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
           <br/>
                        </form>
            <!-- END SAMPLE FORM PORTLET-->
                                                
                                              
                                            
                                    </div>
                                </div>
					
					
				
               <div class="row">
	<div class="table-responsive">		   
<table class="table table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width: 99%;">

</table>
</div>

				<br/>
<nav class="mobile-pagination-display" style="float: right;
    display: block;
    position: relative;
    top: -25px;">
                  <ul class="pagination" style="margin: 5px 0 10px 0">
  
</ul>

                </nav>
			
          </div> <!-- First Row -->
		  
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
	
	</div>
   
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

<script type="text/javascript">

function addPlayerslistDataTable(headersList, dataList){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    // var header_s = ""
    // $.each(headersList, function( index, value ) {
    //     header_s = header_s + '<th></th>';
    // });
    // $("#player_data").append('<thead>'+header_s+'</thead><tfoot>'+header_s+'</tfoot>');
    $("#player_data").dataTable({
        "data": dataList,
       "columns":headersList,
       dom: 'Bfrtip',
        buttons: [
            'csv'
        ],
        fixedHeader: true,
        "iDisplayLength": 30,
       "createdRow": function( row, data, dataIndex ) {
               $(row).attr('id', 'order_'+data[0]);
           },
       //"scrollX": true,
       paging: true,
       searching: false,
       info: false,
       "order": [[ 0, "desc" ]],
       fixedHeader: {
            header: true,
            footer: true
        },
        dom: 'Bfrtip',
        buttons: [
            'csv',
            'excelHtml5',
            'pdfHtml5'
        ],
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
          });
   
   	
}

function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
  };

function savestatus(ele){
  url = $(ele).attr('hrefs');
    status = $(ele).closest('tr').find('select').val();
    url = url + '&status=' + status;
  $.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                  $(ele).closest('tr').html('');
                  $('#updated').html('Successfully updated status.');
                }
          }
    });
    return false;

}

function getcode(ele){
	url = $(ele).attr('hrefs')
	$.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                	$('#link-code').val(data.linkurl);
                    $('#get-code').show();
                    $("#cover").show();
                }
          }
    });
    return false;

}


function ajaxsubmitFormData(){
    var search_form = $("#DashBoardFormID");
    // if(!siteselected){
    //     alert("Please select at least one site.");
    //     return false;
    // }
    if(window.siteload == true){
        return true;
    }
    data_set = search_form.serialize()
    data_set = data_set.replace('sitename','');
    // ajaxBlockUI($(".page-content"))
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: data_set,
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    // $('.pagination').html("");
                    // //var decoded = $('<div />').html(data.pagination_div).text();
                    // $('.pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list);
                }
          }
    });
    return false;
}


jQuery(document).ready(function() { 
	// $('#multiple-checkboxes').multiselect({
 //        includeSelectAllOption: true,
 //        enableFiltering: true,
 //        nonSelectedText: 'Select Brand'
 //    }, 'selectAll');
 //    // $("#multiple-checkboxes").multiselect('selectAll', false);
 //    $("#multiple-checkboxes").multiselect('updateButtonText');

 //    $("#multiple-checkboxes").multiselect('select', {{siteid|safe}});
	Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
	egcsTools.initNavigation();
   egcsTools.initDashboardDaterange();    
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
   // $('.pagination').html(decoded);

   addPlayerslistDataTable(header_list, data_list);
   // $('.selectpicker').selectpicker('refresh');
   
   
   $('#dashboard-report-range').find('span').attr('style', "display:'';" );
   $('#dashboard-report-range').find('span').removeClass('visible-lg-inline-block');
});

		function toggleSampleChatWindow()
		{
			var $chat_win = jQuery("#sample-chat-window");
	
			$chat_win.toggleClass('open');
	
			if($chat_win.hasClass('open'))
			{
				var $messages = $chat_win.find('.ps-scrollbar');
	
				if($.isFunction($.fn.perfectScrollbar))
				{
					$messages.perfectScrollbar('destroy');
	
					setTimeout(function(){
						$messages.perfectScrollbar();
						$chat_win.find('.form-control').focus();
					}, 300);
				}
			}
	
			jQuery("#sample-chat-window form").on('submit', function(ev)
			{
				ev.preventDefault();
			});
		}
	
		jQuery(document).ready(function($)
		{
			$(".footer-sticked-chat .chat-user, .other-conversations-list a").on('click', function(ev)
			{
				ev.preventDefault();
				toggleSampleChatWindow();
			});
	
			$(".mobile-chat-toggle").on('click', function(ev)
			{
				ev.preventDefault();
	
				$(".footer-sticked-chat").toggleClass('mobile-is-visible');
			});
		});
		</script>
		
	


<script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
});
                            </script>


<div id="cover" style="display:none;"> </div>
</body>
</html>