<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	 <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />

    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />
    

  

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<style type="text/css">

.ui-dialog {z-index:9999; top:135px !important;}

.delete-focus, .delete-focus:hover {
	    margin-left: 15px;
    background: #1976d2 !important;
    border: none;
    height: 32px;
    font-size: 15px !important; font-family:arial !important;}
	
	.egcs_submit_button_delete {height:32px !important;  background:#ff0000 !important;font-family:arial !important;font-size: 14px !important;}
	.egcs_submit_button_delete:hover {height:32px !important; background:#ff0000 !important;}
	.button-delete-one { height:32px !important;font-size: 14px !important;
    background: #e6e6e6 !important; margin-left: 15px !important;
    color: #000 !important;
    border: none;font-family:arial !important;}
.button-delete-one:hover {margin-left: 15px;}
	.button-delete-one:hover, .button-delete-one:focus{
font-family:arial !important;
     color:#000 !important; height:32px; background: #e6e6e6 !important; border:none !important;}


.selectpicker {-webkit-padding-end: 15px !important;}

.multiselect-selected-text {width:100%; display:inline-block; text-align:left;}

.ui-dialog {
    z-index: 999999 !important;
    top: 120px !important;
}


#cover {z-index:9999;}
.multiselect {height: 36px;
   line-height:18px;}
	
	.egcs_submit_button {
    background: #1976d2;
    padding: 0px;
    font-size: 14px;
    width: 90px;
    color: #fff;
    height: 35px;
    margin-top: 0;
    float: none;
    border: none;
    box-shadow: none;
    margin-left: -1px;
    border-radius: 0;
}
.multiselect-container {margin-top:-1px !important;}
.multiselect-selected-text {line-height:17px;}

.egcs_submit_button:hover {height: 35px;}
	
	
	@media (max-width: 767px) {
	.ui-dialog {z-index:9999;}
	.form-overflow {overflow-y:scroll;}
		.export-buttons {
    margin-top: 3px;
    width: 100%;
}

.mobile-50 {width:50%;}

	}
	
	.ui-dialog {position:fixed !important;}
	
	

</style>


<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
						<h3 class="text-primary">Campaigns</h3>
				
				</div>
                <div class="col-md-7 align-self-center float-right">
				
				
                   			<ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Commissions</a></li>
                        <li class="breadcrumb-item active">Campaigns</li>
                    </ol>
				
					
					
					
                </div>
            </div>
			

			
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			<div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                       <div id="div-show" class="alert alert-success alert-success-msg" style="display: none;">
                                            <center> <span id="updated"></span></center>
                                        </div>
                                    
                                    </div>
                                </div>
								
								
      
			<div class="row p-l-r-10">
			<div class="col-lg-12 p-l-0 p-r-0">
			<div class="card-title">
                {%if message %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%} 
                                <form action= "/admin/campaign" method = "GET" id="DashBoardFormID" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();">
                    
				
					
					<div class="row">
					
					
                                
								<div class="form-group col-lg-3 col-md-3 col-sm-12">
								<input type="hidden" name="global" value="{{global}}">
                             <select id="multiple-checkboxes" multiple="multiple" class="form-control" tabindex="-98" name="siteid" style="display: none;">
                                                        <!-- <option value="ALL">ALL</option> -->
                                        {%for i in sites_list %}
                                            {% if i.0 in siteid %}
                                            
                                            <option value="{{i.0}}" class="sites" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            
                                            <option value="{{i.0}}" class="sites">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
									
                                      </div>
									  
                     
                       <div class="form-group col-lg-3 col-md-3 col-sm-12">
                            
                                <select id="multiple-aff" class="form-control" tabindex="-98" name="aff_id">
                                                        <option value="">Select Affiliate</option>
                                        {%for aff in aff_list %}
                                       
                                            <option value="{{aff.id}}" class="aff">{{aff.username}}</option>
                                            
                                        {%endfor%}
                                    </select>
                                          </div>
										  
								<div class="form-group  col-lg-3 col-md-3 col-sm-6 mobile-50">
									
								<div class="">	  
                         
									<input type="submit" value="Submit" class="btn  btn-success egcs_submit_button">
								
								</div>
								
								</div>
						
                    
					

					<div class="form-group col-lg-3 col-md-3 col-sm-6 export-buttons mobile-50" style="visibility:hidden;">	
					
						<ul>
							<!-- <li><a href="" class="buttons-gray"><i class="fa fa-save"></i>&nbsp; Save as</a></li> -->
							<li><button type="button" class="buttons-gray btn-export-all btn btn-default btn-sm">
							<i class="fa fa-external-link"></i>&nbsp; Export</button></li>
						</ul>

					</div>

</div>					

				
								
                            </div>
					</div>

					</div>
					
					
					
					<div class="row">
                                    <div class="col-md-12" style="display:none;">
                                        
                                        
                                               
                                                
                                                <!-- <input type="hidden" id="sitename" name="sitename" value="All" required="True"/> -->
                                                  <input type="hidden" name="format" value="json" />
                                                
                                                
                                                <div class="row date-right-mobile-none mobile-left-date" style="margin-bottom: -15px;float:right;">
                                                <div class="col-md-12 form-group adjust-top-bottom-dash adjust-top-bottom-dash1">
                                                
                                                   
                                                    
                                                </div> 
												

                                            </div>
                                                
                                      
                                                <!-- SITE SELECTION -->
   
           	<div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <div class="portlet-title">
                    
                </div>
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
                                        
                                        
                                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        
                                            {%for j in siteid_list %}   
                                                <span class="player-details-tr"><input name="siteids" type="checkbox" value="{{j.id}}" {%if j.selected %}checked{%endif%} />{{j.name}}</span>
                                            {%endfor%}
                                                        
                                        </div> -->
                                        
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
           <br/>
                        </form>
            <!-- END SAMPLE FORM PORTLET-->
                                                
                                              
                                            
                                    </div>
                                </div>
					
					
				
               <div class="row p-l-r-10">
			 
			 <div class="table-responsive">  
<table class="table table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style=""></table>
</div>
				<br/>
<nav class="mobile-pagination-display" style="float: right;
    display: block;
    position: relative;
    top: -25px;">
                  <ul class="pagination" style="margin: 5px 0 10px 0">
  
</ul>

                </nav>
			
          </div> <!-- First Row -->
		  
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
    <div id="unlink-dialog" style="overflow: visible !important; display:none;">
  <center><strong><p style="margin: 0px !important;font-weight: normal;
    font-size: 15px;position: relative;top: 10px;">Are you sure you want to delete this campaign?</p></strong>
  <br>
  <form action= "" id="campForm" data-method="Delete" enctype="multipart/form-data" name='affForm' role="form" >
                                       
        <div class="col-md-12 full-width-submit" style="margin-left:-15px;">
         
                                    
    <input type="button" id="delcamp" class="egcs_submit_button button-submit-one egcs_submit_button_delete" value="Delete" onclick="deletec()">                                                  
                                      
                                      </form>

<input type="button" onclick="unlink_wallet('close')" class="egcs_submit_button button-delete-one" value="Cancel" />

</center>
</div> 
	</div>
	<div class="row" id="get-code" style="display:none;width: 30%;
    background: rgb(255, 255, 255);
    height: auto;
    position: fixed;
    top: 25%;
    z-index: 999999;
    left: 36%;">
                <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
            
                    <div class="panel panel-default bottom-padding" style="width: 100%;background:#fafafa; margin-top:0px; height:auto; padding:0px;">
                        <div class="panel-heading" style="background:#36a9e1;">
                            <h3 class="panel-title" style="    width: 100%;
    text-align: center;
    display: inline-block;
    height: 35px;
    line-height: 42px;
    color: #fff;
    font-size: 17px;">Get your code:</h3>
                            <div class="panel-options" style="">
                                
                                    <img src="/static_files/assets/images/delete-button.png" onclick="checknothanks(this)" style="position: relative;
    top: -30px;
    right: 7px;
    float: right;
    cursor: pointer;">
                                
                                
                            </div>
                        </div>
                        <div class="panel-body">
            
                                <div class="form-group">
                                
                                <div class="col-md-12">
                                
                                    <div class="form-group">
                                      <label for="comment" class="popup-display">Direct Link</label>
                                      <div class="copy" title="Copy" data-toggle="tooltip" title="Copy" onclick="copyToClipboard('#link-code')">Copy</div>
                                      <textarea class="form-control form-overflow" rows="2" id="link-code" style="height:auto;" readonly></textarea>
                                    </div>
                                
                                </div>
                                
                                <div class="col-md-12">
                                
                                    <div class="form-group">
                                      <label for="comment" class="popup-display">Javascript</label>
                                      <div class="copy" title="Copy" data-toggle="tooltip" title="Copy" onclick="copyToClipboard('#js-code')">Copy</div>
                                      <textarea class="form-control form-overflow" rows="3" id="js-code" style="height:auto;" readonly></textarea>
                                    </div>
                                
                                </div>
                                
                                <div class="col-md-12">
                                
                                    <div class="form-group" id="div-image-f">
                                      <label for="comment" class="popup-display">HTML / HTML5 Code </label>
                                      <div class="copy" title="Copy" data-toggle="tooltip" title="Copy" onclick="copyToClipboard('#image-code')">Copy</div>
                                      <textarea class="form-control form-overflow" rows="4" id="image-code" style="height:60px !important;overflow-y:scroll;" readonly></textarea>
                                    </div>
                                    
                                
                                </div>
        </div>
        
    
    </div>
	
	</div>
	
	</div>
	
	</div>
   
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>


<script>
  $(document).ready(function() {
$('.itemd').removeClass("active");
$('.itemd[href="/admin/manage-affiliates"]').addClass("active");
$('#manageaff').addClass("active");
});
</script>

<script type="text/javascript">

function addPlayerslistDataTable(headersList, dataList){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    // var header_s = ""
    // $.each(headersList, function( index, value ) {
    //     header_s = header_s + '<th></th>';
    // });
    // $("#player_data").append('<thead>'+header_s+'</thead><tfoot>'+header_s+'</tfoot>');
    $("#player_data").dataTable({
        "data": dataList,
       "columns":headersList,
       dom: 'Bfrtip',
        buttons: [
            'csv'
        ],
        fixedHeader: true,
        "iDisplayLength": 30,
       "createdRow": function( row, data, dataIndex ) {
               $(row).attr('id', 'order_'+data[0]);
           },
       //"scrollX": true,
       paging: true,
       searching: false,
       info: false,
       "order": [[ 4, "desc" ]],
       fixedHeader: {
            header: true,
            footer: true
        },
        dom: 'Bfrtip',
        buttons: [
            'csv',
            'excelHtml5',
            'pdfHtml5'
        ],
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
          });
   
   	
}

function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).val()).select();
  document.execCommand("copy");
  $temp.remove();
  $(element).select();
}





function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
	  $("body").css('position' , 'relative');
  };

function savestatus(ele){
  url = $(ele).attr('hrefs');
    status = $(ele).closest('tr').find('select').val();
    url = url + '&status=' + status;
  $.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                  $(ele).closest('tr').html('');
                  $('#updated').html('Successfully updated status.');
                }
          }
    });
    return false;

}

function getcode(ele){
var lang = $(ele).closest('td').parent().find('select').val();
	url = $(ele).attr('hrefs')+'&lang='+lang;
	imagelink = $(ele).attr('bannerlink');
	
	$.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                	$('#link-code').val(data.linkurl);
                	$('#image-code').val('');
                	if (imagelink != ''){
					$('#div-image-f').show();
                		banner_link = '<a href="'+data.linkurl+'" target="_blank"> <img alt="" src="'+data.linkurl+'" border="0" style="display:none;" > </img><img alt="" src="'+ window.location.hostname + imagelink+'"  border="0"></img></a>';
                		$('#image-code').val(banner_link);
                	}
					else{
                        $('#div-image-f').hide();
                    }
                	var script = document.createElement( 'script' );
					script.type = 'text/javascript';
					script.src = data.linkurl;
					$("#js-code").val(script.outerHTML);
                	// $('#js-code').val(js_link+);
                    $('#get-code').show();
                    $("#cover").show();
					$("body").css('position' , 'fixed');
                    $('.panel-body').show();
                }
                else{
                	$('#alert-error-msg').html(data.error_message);
                	$('#error_msg').show();
                }
          }
    });
    return false;

}


function ajaxsubmitFormData(){
    var search_form = $("#DashBoardFormID");
    // if(!siteselected){
    //     alert("Please select at least one site.");
    //     return false;
    // }
    if(window.siteload == true){
        return true;
    }
    data_set = search_form.serialize()
    data_set = data_set.replace('sitename','');
    // ajaxBlockUI($(".page-content"))
    $.ajax({
          type: 'GET', 
          url: search_form.attr('action'),
          data: data_set,
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    // $('.pagination').html("");
                    // //var decoded = $('<div />').html(data.pagination_div).text();
                    // $('.pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list);
                    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
                }
          }
    });
    return false;
}

function unlink_wallet(type1){
    if (type1 == "close"){
        $( "#unlink-dialog" ).dialog("close");
		$("#cover").hide();
	  $("body").css('overflow' , 'auto');
        return;
    }
  }

function deletec(url){
     $.ajax({
    url: url,
    type: 'DELETE',
    success: function(result) {
        $('button[hrefs="'+url+'"]').closest('tr').html('');
        $('#updated').html('Your campaign has been successfully deleted.');
        // Do something with the result
        $( "#unlink-dialog" ).dialog("close");
		$("#cover").hide();
		$("body").css('overflow' , 'auto');
		$('#div-show').show();
    }
    });
}
function deletecampaign(ele){
    url = $(ele).attr('hrefs');
    $('#delcamp').attr('onclick', 'deletec("'+url+'")');
    $( "#unlink-dialog" ).dialog("open");
	$("#cover").show();
	$("body").css('overflow' , 'hidden');
    
    // $.ajax({
    // url: url,
    // type: 'DELETE',
    // success: function(result) {
    //     $(ele).closest('tr').html('');
    //     $('#updated').html('Successfully Deleted Campaign.');
    //     // Do something with the result
    // }
}


jQuery(document).ready(function() { 
    $("#unlink-dialog").dialog({
            autoOpen: false
        });
    $(".ui-dialog-titlebar").hide();
	$('#multiple-checkboxes').multiselect({ includeSelectAllOption: true, enableFiltering: true, nonSelectedText: 'Select Brand' }, 'selectAll');
    // $("#multiple-checkboxes").multiselect('selectAll', false);
    $("#multiple-checkboxes").multiselect('updateButtonText');
    $("#multiple-checkboxes").show();
    $("#multiple-checkboxes").multiselect('select', {{siteid|safe}});
    
    $('#multiple-aff').multiselect({
        includeSelectAllOption: true,
        enableFiltering: true
    }, 'selectAll');
    // $("#multiple-checkboxes").multiselect('selectAll', false);
    $("#multiple-aff").multiselect('updateButtonText');
	$('input[type="radio"]:checked').attr('checked', false);
    $("#multiple-aff").multiselect('select', '{{aff_id}}');
	Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
	egcsTools.initNavigation();
   egcsTools.initDashboardDaterange();    
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
   // $('.pagination').html(decoded);

   addPlayerslistDataTable(header_list, data_list);
   // $('.selectpicker').selectpicker('refresh');
   
   var device = "{{aff_id}}";
   $('.aff[value="'+device+'"]').prop('selected', true);
   
   
   
   
   
   // //$('select[name="player_data_length"] option:eq(0)').prop('selected', true);
 
   // // $("#player_data2").dataTable();
   
   // fromdate = $.datepicker.formatDate('M dd, yy', new Date('{{from_date}}'))
   // todate = $.datepicker.formatDate('M dd, yy', new Date('{{to_date}}'))
   // $('#daterange').val(fromdate + ' - ' + todate);
   // $('#drp-input-startdate').val(fromdate);
   // $('#drp-input-enddate').val(todate);
   // $(".network_devices a").click(function(event){
   //      var channel = $(this).attr("channel");
   //      $("#ChannelID").val(channel);
   //      event.preventDefault();
   //      dashbord_submit_form();
        
   //  });
   // $("#drp-btn-apply").click(function(event){
   //      startdate = $.datepicker.formatDate('mm/dd/yy', new Date($('#drp-input-startdate').val()));
   //      enddate = $.datepicker.formatDate('mm/dd/yy', new Date($('#drp-input-enddate').val()));
   //      $('#daterange').html(startdate + ' - ' + enddate);
   //      $('#DashBoardFromDate').val(startdate);
   //      $('#DashBoardToDate').val(enddate);
        
   //  });
   // $('rect').attr('rx',0);
   
   $('#dashboard-report-range').find('span').attr('style', "display:'';" );
   $('#dashboard-report-range').find('span').removeClass('visible-lg-inline-block');
});

		function toggleSampleChatWindow()
		{
			var $chat_win = jQuery("#sample-chat-window");
	
			$chat_win.toggleClass('open');
	
			if($chat_win.hasClass('open'))
			{
				var $messages = $chat_win.find('.ps-scrollbar');
	
				if($.isFunction($.fn.perfectScrollbar))
				{
					$messages.perfectScrollbar('destroy');
	
					setTimeout(function(){
						$messages.perfectScrollbar();
						$chat_win.find('.form-control').focus();
					}, 300);
				}
			}
	
			jQuery("#sample-chat-window form").on('submit', function(ev)
			{
				ev.preventDefault();
			});
		}
	
		jQuery(document).ready(function($)
		{
			$(".footer-sticked-chat .chat-user, .other-conversations-list a").on('click', function(ev)
			{
				ev.preventDefault();
				toggleSampleChatWindow();
			});
	
			$(".mobile-chat-toggle").on('click', function(ev)
			{
				ev.preventDefault();
	
				$(".footer-sticked-chat").toggleClass('mobile-is-visible');
			});
		});
		</script>
		
	


<script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
});
                            </script>


<div id="cover" style="display:none;"> </div>
</body>
</html>