<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Xenon Boostrap Admin Panel" />
  <meta name="author" content="" />

  <title>{{partner}}</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
  <link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
  <link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/static_files/assets/css/xenon-core-partner.css">
  <link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
  <link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
  <link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
  <link rel="stylesheet" href="/static_files/assets/css/custom.css">

  <link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
    <link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>

    <script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static_files/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/table-managed.js"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>
<script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->


</head>
<body class="page-body">
<style type="text/css">

@media (max-width:765px){

.top-50 {padding-top:50% !important;}
.page-container .main-content .main-footer {
    position: absolute;
    width: 100%;
    right: auto;
    bottom: 0 !important;
}

}


.panel {margin-top:8px !important;}

.fa-copy {    font-size: 16px !important;
    position: relative;
    cursor: pointer;
    left: -43px;
    color: #ffffff;
    background: #36a9e1;
    padding: 12px;
  }
  
  #messageiddiv{
  margin-top: -23px;
    width: 100%;
    margin-left: 38px;
  }
  .btn-popup-display {margin-left:23px; width:140px;}
  
    @media only screen and (max-width: 765px) { 
    
    .btn-popup-display {margin-left:0px !important; width:140px;}
    
    }
	
	.border-none-tr-td tr td {border-bottom:none !important;}
  
</style>


  <div class="settings-pane">
      
    <a href="#" data-toggle="settings-pane" data-animate="true">
      &times;
    </a>
    
    <div class="settings-pane-inner">
      
      <div class="row">
        
        <div class="col-md-4">
          
          <div class="user-info">
            
            <div class="user-image">
              <a href="extra-profile.html">
                <img src="/static_files/assets/images/user-2.png" class="img-responsive img-circle" />
              </a>
            </div>
            
            <div class="user-details">
              
              <h3>
                <a href="extra-profile.html">{{request.user.username}}</a>
                
                <!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
                <span class="user-status is-online"></span>
              </h3>
              
              <!-- <p class="user-title">Web Developer</p> -->
              
            </div>
            
          </div>
          
        </div>
        
        
        
      </div>
    
    </div>
    
  </div>
  
  <div class="page-container">
  
    {% include "partner/new_design/menubar-1.html" %}
  
    <div class="main-content">
          
      {% include "partner/new_design/header-1.html" %}
      
     <div class="page-title">
			
				<div class="title-env">
					<h1 class="title">{{page}}</h1>
					<p class="description"></p>
				</div>
			
					<div class="breadcrumb-env">
			
								<ol class="breadcrumb bc-1" >
									<li>
							<a href=" /admin/"><i class="fa-home"></i>Home</a>
						</li>
								<li>
			
										<a href="">{{mainp}}</a>
								</li>
							<li class="active">
			
										<strong>{{page}}</strong>
								</li>
								</ol>
						
				</div>
				
			</div>
      
      <div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box lgreen">
						
						<div class="portlet-body">
                            <div class="table-toolbar django_form">
                                <div class="row">
                                    
									<img src="/static_files/images/coming-soon-dots.png" class="img-responsive top-50" style="width:60%; padding-top:80px; margin:0 auto;"/> 
									
                                </div>
                            </div>
                            
                           
                            
                        </div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
      {% include "partner/new_design/footer-1.html" %}
      
      <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
      
    </div>
      
      
  
      
    </div>
  
  
  



  <!-- Bottom Scripts -->
  <script src="/static_files/assets/js/bootstrap.min.js"></script>
  <script src="/static_files/assets/js/TweenMax.min.js"></script>
  <script src="/static_files/assets/js/resizeable.js"></script>
  <script src="/static_files/assets/js/joinable.js"></script>
  <script src="/static_files/assets/js/xenon-api.js"></script>
  <script src="/static_files/assets/js/xenon-toggles.js"></script>


  <!-- JavaScripts initializations and stuff -->
  <script src="/static_files/assets/js/xenon-custom.js"></script>
<script>

// category_dict = {};
// $('#siteid').on('change', function() {
//     var aff = $('#siteid').val();
//     $('#media_category').html('');
//     $.each(category_dict[aff], function (i, item) {
//         $('#media_category').append($('<option>', { 
//             value: item[0],
//             text : item[1] 
//         }));
//     });
    
// })

        $(document).ready(function() {
          // var campaign_dict = '{{campaign_list|safe}}';
          // category_dict = {{data.mediacategory_list|safe}};
          $('form').ajaxForm();
        });
      </script>
</body>
</html>

