<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	 <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<style>
	.table td, .table th {border-top:none;}
	.selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
	.form-control {height:36px !important;}
	.egcs_submit_button {
    margin-top: 5px;
    margin-left: 15px;
}
.button-submit-one {
    font-size: 14px !important;
    background: red !important;
    border: none !important;
}


.egcs_submit_button:hover {background: red !important; border-color:red !important;}

.button-delete-one {
    font-size: 14px !important;
    background: #e6e6e6;
    color: #000;
    border: none; cursor:pointer;
}


.button-delete-one:hover {
    background: #e6e6e6 !important;
    border: none !important;
}
	.form-control {font-size:14px;}
	
	.button-delete { width: 85px;
    padding: 5px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
	
	/****** CODE ******/
.file-upload .file-select .file-select-name {padding-left:5px;}
.file-upload{padding-top:0px; display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 1px solid #e4e4e4;color: #34495e;cursor:pointer;height:32px;line-height:32px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#f2f2f2;padding:0 10px;display:inline-block;height:38px;line-height:38px;}
.file-upload .file-select .file-select-name{color: #495057;font-size:13px; line-height:32px;display: contents; }
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select {height:40px;}

/****** CODE ******/

.form-horizontal .form-group { overflow: inherit;}

.form-horizontal .form-group { overflow: inherit;}

.some-margin {margin-bottom:25px;}

.width-height-left {  clear:both;  padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 15px; font-size:14px;     color: #67757c;} 
	
	.button-web-get {margin-top:0px;}
	.same-height { color: #495057; text-align: center;
    font-size: 14px; text-indent:0;}
	
	.delete-focus {cursor:pointer;}
	
	.delete-focus:hover {background:#ff0000 !important;}
	
	#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 999;

    width: 100%;
    height: 100%;
}
	
.ui-dialog {z-index:9999; top:135px !important;}
	

	
	</style>

</head>
<style type="text/css">

</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
						<h3 class="text-primary">Landing Pages</h3>
					</div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Marketing</a></li>
                        <li class="breadcrumb-item active">Landing Pages</li>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                
<div class="table-toolbar">
                                
                                {%if data.message %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 top-space-adjust-sec">
                                        <div>
                                            {% if data.call == 'POST' %}
                                                 <legend class="heading-all-page">Add Landing Page</legend>
                                             {% else %}
                                                 <legend class="heading-all-page">Edit Landing Page</legend>
                                                  {%if data.call != 'POST'%}
          <div class="breadcrumb-env1">
      
                <form action= "/admin/landing-pages/{{data.id}}" id="affForm" data-method="Delete" enctype="multipart/form-data" name='affForm' role="form" >
                                        <div class="col-md-12 full-width-submit" style="margin-left:-15px;">
                                    
                                    <input type="button"  onclick="fcunlink()" value="Delete" class="btn-success egcs_submit_button button-delete" style="
     background-color:#ff0000 !important; border:none; color:#fff !important;
    " />
                                                    
                                </div>
                                      </form>
            
        </div>
        {% endif %}
                                             {% endif %}
                                          {%if data.call == 'POST'%}
                                        <form action="/admin/landing-pages" method="POST" enctype="multipart/form-data" id="formValidation" class="form-horizontal">
                                          {% else %}
                                          <form action= "/admin/landing-pages/{{data.id}}" id="affForm" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" >
                                            {% endif %}
                                        <fieldset>
                                        {%csrf_token%}
                                        <!-- <input type="hidden" name="_method" value="put" /> -->
                                        <input type="hidden" value="{{data.id}}">
										
										
                                        <div class="profile-edit-details">
										
										
											 <fieldset>
											 
												  
											 <div class="container">
											 
											 <div class="row">
												
												 <div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Site</label>
													<select class="form-control" name="siteid" id="siteid">
                                        <option value="">Select Site</option>
										{%for i in data.sites_list %}
                                            {% if i.0 == data.siteid %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
												</div>
												
												</div>
												
												<div class="row">
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Title</label>
													<input type="text" class="form-control" autocomplete="off" name="title" value="{{data.title}}" id="" placeholder="" required="required">
												</div>
												
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Landing Page URL</label>
													<input type="text" class="form-control" autocomplete="off" name="link" value="{{data.link}}" id="" placeholder="" required="required">
												</div>
												
												</div>
												
												</div>
												
												
												
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                               
											    {%if data.call == 'POST'%}
											   <button class="btn btn-purple button-large button-web-get" title="Make a POST request" type="submit" value="" style="">Submit</button>
                                            {% else %}
											<button class="btn btn-purple button-large button-web-get" type="submit" value="" style="">Submit</button>
											</span>
											 {% endif %}
                                        </div>
										
										
										
										
										
												
												
											</fieldset>
											

										
										</div>
										
											
										
										
                                      </fieldset>
                                        </form>
										
										</form>
                                        
										
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="digg_pagination"></div><br/>  -->
                            
                        </div>
						
                            </div>
					</div>

					</div>
					
					
					
					
               
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
	
	
	<div id="unlink-dialog" style="overflow: visible !important; display:none;">
  <center><strong><p style="margin: 0px !important;font-weight: normal;font-family: 'Open Sans', sans-serif;
    font-size: 15px;position: relative;top: 10px;">Are you sure you want to delete this landing page?</p></strong>
  <br>
  <form action= "/admin/landing-pages/{{data.id}}" id="affForm" data-method="Delete" enctype="multipart/form-data" name='affForm' role="form" >
                                       
		<div class="col-md-12 full-width-submit" style="margin-left:-15px;">
         
                                    
    <input type="submit" class="egcs_submit_button button-submit-one delete-focus" value="Delete">                                                  
                                      
									  </form>

<input type="button" onclick="unlink_wallet('close')" class="egcs_submit_button button-delete-one" value="Cancel" />

</center>
</div> 
</div>
	
	<script>
  function unlink_wallet(type1){
    if (type1 == "close"){
        $( "#unlink-dialog" ).dialog("close");
		$('body').css({"width": "100%", "position": "relative"});
		$('#cover').hide();
        return;
    }
  }
  function fcunlink(){
 $( "#unlink-dialog" ).dialog("open");
 $('body').css({"width": "100%", "position": "fixed"});
 $('#cover').show();
}

$(document).ready(function() {
          $("#unlink-dialog").dialog({
            autoOpen: false
        });
          $(".ui-dialog-titlebar").hide();
          $('form').ajaxForm();
        });

</script>


<script type='text/javascript'>
$(document).ready(
 function() {
    $('.itemd').removeClass("active");
    $('.itemd[href="/admin/landing-pages"]').addClass("active");
    $('#marketingli').addClass("active");
  $('div#unlink-dialog').dialog({
    resizable: false,
    draggable: false
  });
  }
);
    </script>
	
	
<script>

category_dict = {};
$('#siteid').on('change', function() {
    var aff = $('#siteid').val();
    $('#media_category').html('');
    $.each(category_dict[aff], function (i, item) {
        $('#media_category').append($('<option>', { 
            value: item[0],
            text : item[1] 
        }));
    });
    
})

        $(document).ready(function() {
          // var campaign_dict = '{{campaign_list|safe}}';
          
          $('form').ajaxForm();
        });
      </script>
	  
	  <script>

// Validation and Ajax action
        $('#formValidation').validate({
             rules: {
			 
			 siteid: {
                      required: true,
                  },
                  
                  title: {
                      required: true,
                  },
                 link: {
                      required: true,
              },

              },

            messages: {
			
			siteid: {
                      required: 'Please select site.'
                  },
                
                title: {
                  required: 'Please enter title.'
                },
                link: {
                  required: 'Please enter your landing page url.'
                },
            },

            submitHandler: function (form) {
                if($('#nodata').is(":visible")==false){
                      form[0].submit();
                    }
                }
              });
			  
			  </script>
			  
			  <div id="cover" style="display:none;"></div>
	  
</body>
</html>