<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <style>
  
  .height-space {height:40px;}
  
  #retrive-error {    position: absolute;
    left: 15px;
    top: 30px;
    z-index: 9999;
	}
  
  .table td, .table th {border-top:none;}
  .selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
  .form-control {height:36px;}
  .egcs_submit_button {margin-top: 5px;margin-left: 15px;}
  
  /* Hide the browser's default checkbox */
.checkbox {
 
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
       position: absolute;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-left: -20px;
    border: 1px solid #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
   left: 7px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.step1-first {
	width: 30px;
    text-align: center;
    display: inline-block;
    background: #0091e0;
    margin-left: 10px; margin-top:-2px;
    border-radius: 62px;
    vertical-align: middle;
    line-height: 30px;
    position: absolute;
    color: #fff;
    border: none;
	}
	
	@media (max-width: 767px) { 
	
		.page-titles .breadcrumb {
    padding: 0;
    background: transparent;
    font-size: 13px;
    /* float: right; */
    /* position: absolute; */
    /* right: 5px; */
    /* top: -32px; */
}
	
	}
	
	
	
	
	
	
	/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
	width:100%;
	max-width:97%;
 
  margin-top: 20px;
  margin-left: 35px;
 
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0; font-size:16px; color:#000000; border:none; padding:20px;
  background:#f9f9f9; margin-bottom:10px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #0091e0;
  background-image: #0091e0;
  color: #ffffff; border-radius:0;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
  display:none;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 10px;
  
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.heading-all-page-full {display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 20px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    padding-top: 1px;
	background:none;
    margin-left: 0px;
    font-weight: bold;
    color: #000;
	
	}
	
	.full-input-width {height: 50px !important;
   
    border: 1px solid #ccc;}
	
	.form-horizontal .form-group {padding-top:10px;}
	
	.card-title p {padding-left:0px;}
	
	.tt-form-help-text, .tt-form-info-text {padding-left:0px;}
	
	.card-title p {
    padding-left: 0px;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px; color:#919191;
}

.button-large {float:right; margin-right:20px;}

div.bhoechie-tab-menu div.list-group>a:hover {box-shadow: 0 0 1px 0 rgba(0,0,0,.21), 0 10px 33px 0 rgba(0,0,0,.16);
    cursor: pointer;
    transform: scale(1.01);}
	
	div.bhoechie-tab-menu div.list-group{border-right:1px solid #ccc;}
	
	div.bhoechie-tab-menu div.list-group>a:last-child {margin-bottom:0px;}
	
	
	.steps-all {
	
	width:30px; height:30px; 
	background:#fff; color:#000; 
	text-align:center; line-height:30px; margin-right:10px;
	    border-radius: 20px;
    display: inline-block;
	}
	
	.page-titles h3 {font-weight:bold; color:#000 !important;}
	.skip-button {
    background: #0091e0;
    padding: 5px;
    display: inline-block;
    width: 80px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.skip-button:hover {
    color: #fff;
    background: #1788c5;
}
	
	
	
	
	
	
	
	@media only screen and (max-width: 1200px) and (min-width: 768px) {
	
	div.bhoechie-tab-menu div.list-group>a {font-size:15px;}
		
		div.bhoechie-tab-menu div.list-group {width:300px;}
		
		div.bhoechie-tab-menu {max-width:300px;}
		
		.small-laptop {width:710px;}
	
	}
	
	
	@media (max-width: 767px) {
	
			div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    width: 100%;
    max-width: 94%;
    margin-top: 0;
    margin-left: 15px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

.tt-form-wrapper {margin-left:0px !important; margin-top:20px;}

div.bhoechie-tab-content {padding-left:0px;}
	
	}
	
	.full-width-submit {width:100%; float:right;}
	
.button-web-get {    text-transform: uppercase;
    width: auto;
    font-weight: bold;}
	
		label {font-size:16px; color:#000;}

	.page-404 {  width:100%;  line-height: 12px;
    position: absolute; text-align:center;
    top: 38%;
    bottom: 50%;
    left: 10%;
    right: 0;}	
		
.progress {
    height: 30px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}

.progress-bar.active, .progress.active .progress-bar {
    animation: 1s linear 0s normal none infinite running progress-bar-stripes;
}

.affiliate-text {    color: #343c49;
    font-weight: bold;
    font-size: 20px;}
	
	
	@media (max-width: 767px) {
	.progress {width:90%;} 
	.page-404 {
    top: 40%;
    left: 0%;
}

.strip-bottom {
    position: absolute;
    margin-top: 81px !important;
    text-align: center;
    width: 90% !important;
    color: #000;
    font-size: 15px !important;
    line-height: 24px;
}
	
	}
	
	.submit-width {width: 120px;
    float: left;
	margin:15px 0px 0px 15px;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;}
	
	.strip-bottom {position: absolute;
    margin-top: 140px;
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 17px;
    line-height: 24px;}
	
	
	
	
  
  </style>

</head>
<style type="text/css">

</style>
<body class="page-body">

  
  
   <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
  
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
    
	
	
       <div class="area-hide" style="display:none;">
		
		<div class="col-md-12 page-404">
      {% if data.pid != "new" %}
		<h3 class="affiliate-text" style="color: #343c49">Thanks for adding another brand to {{partner}}!</h3> <br/>
    {% else %}
    <h3 class="affiliate-text" style="color: #343c49">Thank you for completing the steps leading up to the creation of your awesome new Affiliate Program!</h3> <br/>
    {% endif %}
    <p class="strip-bottom">Please allow us a few seconds to fetch your data <br/>- do not hit the Back button or close this window until the setup is complete.</p>
    
					<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
  </div>
</div> <!-- Loader -->					
				
	</div>
	
	</div>
					<!-- Left Sidebar  -->
        {% if data.pid != "new" %}
         {% include "partner/new_design/menubar-1.html" %}
        
        <!-- End Left Sidebar  -->
        <div class="page-wrapper" id="area-show">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
            <h3 class="text-primary">Software Provider Authentication</h3>
          </div>
                <div class="col-md-7 align-self-center float-right">
        
        
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Settings</a></li>
                        <li class="breadcrumb-item active">Software Provider Authentication</li>
                    </ol>
		{% else %}
		
		<div class="page-wrapper" id="area-show" style="margin-left: 0px; !important">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-8 align-self-center">
                    
            <h3 class="text-primary">SET YOUR AFFILIATE PROGRAM UP IN A JIFFY WITH WYNTA - 3 SUPER QUICK STEPS</h3>
          </div>
                <div class="col-md-4 align-self-center float-right">
        
        
                    <ol class="breadcrumb">
                        
                        <li class="breadcrumb-item active"><a href="/admin/" class="skip-button"><strong>Home</strong></a></li>
                    </ol>
        
          {% endif %}
					
					
					
					
					
					
					
					
					
        
          
          
          <div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
                      <i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
        
          
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
        
      <div class="card">
      
      <div class="row">
      <div class="col-lg-12">
      <div class="card-title">
	  
	 
                
<div class="table-toolbar">
                                
                                {%if data.message %}
                                <div class="row ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row left-sec">
                                    <div class="col-md-12">
                                        <div>
                                          {%if data.call == 'POST'%}
                                        <form action=" /admin/software-provider-authentication" method="POST" enctype="multipart/form-data" id="formsValidate" role="form" class="form-horizontal" novalidate="novalidate">
                                          {% else %}
                                          <form action= " /admin/software-provider-authentication/{{data.id}}" id="affForm" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" novalidate="novalidate">
                                            {% endif %}
                                        <fieldset>
                                        <!-- <form action= "/affiliatecommission/{{data.id}}" id="affForm" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate=""
                                        name='affForm' role="form"> -->
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
                    {% if data.pid == "new" %}
										<div class="profile-edit-details">
                    
                    
                       <div class="main-col">
                     
                     
                      <div class="row">
        <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bhoechie-tab-menu float-left">
              <div class="list-group">
                <a href="/admin/writedomain?pid=new" class="list-group-item">
                  <span class="steps-all">1</span>Domain & SSL
                </a>
                <a href="/admin/brand-mapping/post?pid=new" class="list-group-item">
                  <span class="steps-all">2</span>Brand Mapping
                </a>
                <a class="list-group-item active">
                  <span class="steps-all">3</span>Software Provider Authentication
                </a>
                <!-- <a href="/admin/add-new-user/post?pid=new" class="list-group-item">
                  <span class="steps-all">4</span>Add User
                </a> -->
                
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 bhoechie-tab float-left small-laptop">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    
                     <div class="tt-form-wrapper">
  <div class="content-settings-form edit-wrapper">
    <div class="tt-form-group">
   {% endif %}

										<div class="profile-edit-details">
										
										 {% if data.pid == "new" %}
										<legend class="heading-all-page-full">Software Provider Authentication</legend>
											{% endif %}
										
											 <fieldset>
                        {% if data.pid != "new" %}
											 	<!-- <legend class="heading-all-page">Software Authentication</legend> -->
												
												 <div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>Software Provider</label>
													<select class="form-control full-input-width" name="networkid" required>
                                                      <option value="">-- select --</option>
                                        {%for i in data.providers %}
                                            {% if i.0 == data.networkid %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
												</div>
												
												
												
												<div class="form-group col-lg-12 col-md-12 col-sm-12">
                                                    <label>Brand</label>
                                                    <select class="form-control full-input-width" htdp="{{data.siteid}}" name="siteid" id="siteid">
                                                      <option value="">Select Brand</option>
                                        {%for i in data.sites_list %}
                                            {% if i.0 in data.siteid %}
                                            
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
                                                </div>
                  {% else%}
                  <input type="hidden" name="siteid" value="{{data.siteid}}">
                  <input type="hidden" name="networkid" value="{{data.networkid}}">
                  {% endif %}
												
					<div class="form-group col-lg-12 col-md-12 col-sm-12">
						<p>You'll get these authentication details from your software provider. Please enter them below:</p>												
												
					</div>							
								

												<div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>Username</label>
													<input type="text" autocomplete="off" class="form-control full-input-width" name="username" value="{{data.username}}" placeholder="">
												</div>
												
												<div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>Password</label>
													<input type="password" autocomplete="off" class="form-control full-input-width" name="password" value="" placeholder="">
												</div>
												
												
												
												
												<!-- <div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>Connect</label>
													 {% if data.retrive %} 
                                                        <input type="checkbox" class="checkbox" name="retrive" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    margin-left: 25px;">
														<span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox" name="retrive" value="false" style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    margin-left: 25px;">
														<span class="checkmark"></span>
                                                        {% endif %}
												</div> -->
												
												
												
												
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                               
                          {%if data.call == 'POST' and data.pid == "new" %}
                         <button class="btn btn-purple button-large button-web-get" title="Make a POST request on the Affiliate Campaign List resource" type="submit" check="Verify" value="" style="">Submit</button>
                                            {% else %}
                      <button class="btn btn-purple button-large button-web-get submit-width" type="submit" value="" style="">Submit</button>
                      </span>
                       {% endif %}
                                        </div>
												
												
											</fieldset>
											
											
										
										
										</div>
                       </div>

      
  </div>
</div>
                    
                </div>
                <!-- train section -->
                
               
            </div>
        </div>
  </div>
        

                    </div>
                                      </fieldset>
                                        </form>
                      
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </div>       
                            </div>
          </div>

          </div>
          
          
          
          
               
      </div> <!-- First div card -->
      
      

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
       {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
  <!-- Page Loading Overlay -->
  <!-- <div class="page-loading-overlay">
    <div class="loader-2"></div>
    
  </div> -->
  
 
<script>
        $(document).ready(function() {
          $('.itemd').removeClass("active");
    $('.itemd[href="/admin/software-provider-authentication"]').addClass("active");
    $('#settingsd').addClass("active");
          $('form').ajaxForm();
        });
      </script>
	  
	  <script>
	  
	  $('#formsValidate').validate({
             rules: {
                  
                  networkid: {
                      required: true,
                  },
                  siteid: {
                      required: true,
              },
                  username: {
                      required: true,
                  },
				  
				  password: {
                      required: true,
                  },
				  
				  retrive: {
                      required: true,
                  },

              },

            messages: {
                
                networkid: {
                  required: 'Please select network.'
                },
                siteid: {
                  required: 'Please select Site.'
                },
                username: {
                  required: 'Please enter username/ email address.'
                },
				password: {
                  required: 'Please enter password.'
                },
				
				retrive: {
                  required: 'Please select connect.'
                },
            },

            submitHandler: function (form) {
                if($('#nodata').is(":visible")==false){
                      
					 $('.area-hide').show();
					 $('#area-show, .footer').hide();
					 
					 form.submit();
                    }
					
                }
              });
			  
			  </script>
			  
			   <script type="text/javascript">
              $(document).ready(function(){
                $('#siteid option[value="{{data.siteid}}"]').prop('selected', true)
                $('#siteid').trigger('change');
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
});
              </script>
</body>
</html>