
.btn-group.show .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent;
	margin-left:-5px;
}


.dashboard-select.show .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent;
	margin-left:5px;
}

.size-width .filter-button:after {
    font-family: 'FontAwesome';  
    content: "\f0d8";     position: absolute;
    margin-left: 4px;
}
.size-width .filter-button.collapsed:after {

    content: "\f0d7";
	position: absolute;
    margin-left: 4px;	
}


/** Live Changes ends **/


.width-small {font-size: 14px;
    display: block; color:#000;
    line-height: 39px;
    height: 100%;}
.m-minus-15 {
   
}
.mobile-50-15 {}
.bootstrap-select>.dropdown-toggle.bs-placeholder {color:#000 !important;}
.egcs_submit_button {    margin-top: 0;
    margin-left: 0;
        padding: 8px !important;
    height: auto !important;
    border-radius: 0.25rem;   -moz-border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;  -o-border-radius: 0.25rem;}
	
	.egcs_submit_button:hover {
    background: #1678c2 !important;
    border-color: #1678c2!important;
    box-shadow: none !important;
	 margin-top: 0;
    margin-left: 0;
    padding: 8px;
    height: auto;
    border-radius: 5px;
}
	
	.form-group {
    margin-bottom: 8px !important;
}

.bootstrap-select >.btn::after {margin-left:5px;}

.bootstrap-select.btn-group .dropdown-menu li a span.text {color:#000;}

.multiselect::after {margin-left: -0.3em;}

.bootstrap-select .dropdown-toggle:focus {outline:0 !important;}

.bootstrap-select.btn-group .dropdown-menu {padding-top:0; padding-bottom:0; margin-top:-1px;}

.select-filter {width:95%; display:inline-block;}

.multiselect-container {width:100%; margin-top:2px; margin-top:-1px !important;}

.multiselect-container>li>a>label {padding-left:0px;color: #000 !important; }

.multiselect-clear-filter {display:none;}

.btn-group{width:100%;}

.btn-group>.btn:first-child {color:#000;}
.multiselect {

    height: 38px !important;
    line-height: 20px !important;
    font-size: 14px !important;
    width: 100%;
    box-shadow: none !important;
    position: relative;
    background: #fff;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
	    border-color: #ccc !important;
		border-radius:5px !important;

}

.multiselect-container>li>a>label>input[type=checkbox] {margin-bottom:2px; vertical-align:middle;}

.dashboard-select {width:100% !important;}

.bootstrap-select.btn-group .dropdown-menu.inner {
       display: block;
    max-height: 178px !important;
    overflow-x: hidden;
    min-height: 100px;
 
}

ul.dropdown-menu li a:hover {
    background: #f2f4f8;
    color: #000;
}

.dashboard-select > button {
    background: none !important;
    border: 1px solid #19b8f8 !important;
    box-shadow: none !important;
}

.multiselect-search {margin-right:10px; width:100%;}

.dashboard-select > button {
    
   height: 38px !important;
    line-height: 20px !important;
    font-size: 14px !important;
    width: 100%;
    margin-bottom: 0 !important;
    box-shadow: none !important;
    position: relative;
    background: #1976d2;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    border-color: #ccc !important;
    border-radius: 5px !important;

}

.multiple-groupby {border-radius:5px;}

.filter-button {height: 38px;
    background:#fff;
    color: #000; cursor:default !important;
    width: 100%;
    text-align: left !important;
    font-size: 14px !important;
    border: 1px solid #ccc !important;}
	
.bottom20 {margin-bottom:0px; max-width:100%;}

#demo {margin-top:20px;}

.top-bottom {margin-top:25px;}

.left-padding {padding-left:0; padding-right:0;}

#subaff_id, #multiple-groupby, #multiple-checkboxes, #multiple-country, #multiple-groupby {
    font-size: 14px; border-radius:5px; height:40px !important;
}
.date-range-class {margin-left:0 !important;}

.multiselect:hover, #subaff_id:hover, #multiple-groupby:hover,
 .dashboard-select > button:hover,
.btn-export-all-one:hover, .filter-button:hover, .btn-group>.btn:first-child:hover {
cursor:pointer;border: 1px solid #007bff !important; }
 
	span.multiselect-native-select {z-index:inherit;width:100%; margin-bottom:10px;}
	
	.btn-export-all-one {
	    border: 1px solid #ddd; cursor:pointer;
    border-radius: 5px;
    vertical-align: middle;
    margin-top: 1px; 
    padding: 6px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}	

.dt-buttons {

    z-index: auto;
    position: absolute;
    float: right;
    margin-right: 83px;
    top: 71px;
    right: 21px;
    cursor: pointer;
}

.dt-buttons .dt-button {
    border-radius: 4px !important;
    padding: 0px 0px !important;
    margin-top: -10px !important;
    height: 36px !important; border:1px solid #ddd !important;
}

.group-brand {   
    position: absolute;
    font-weight: bold;
    top: 8px;
    left: 22px;
    color: #000;
    font-size: 14px;
    font-weight: normal;}
	
	.group-by-all {
    font-size: 14px;
    color: #000;
    position: absolute;
    margin-top: 7px; padding-left:12px;
}

.brand-group.btn-group .dropdown-toggle .filter-option {
    
}

	
	
 .table-cont{
  max-height: 400px;
  overflow: auto;
 }



@media (max-width: 767px) {
	
	.mobile-50-15 {margin-left:0;}

.btn-group {
    width: 100% !important;
} 

	.btn-export-all-one {margin-right:0px !important;}
	
	.dt-buttons {    top: 0;
    margin-top: 0px !important;
    position: relative;
    margin-right: -10px;
    margin-bottom: 0;}
	
	.top-bottom {display:none;}
	
	.dt-buttons .dt-button {
    border-radius: 4px !important;
    padding: 0px 0px !important;
    margin-top: -4px !important;
    height: 30px !important;
    border: 1px solid #ddd !important;
	}
	
	.bottom20 { padding-right: 0px !important;}
	
	.date-mobile {margin-top:6px !important;}
	
	.calender-main {margin-left:0 !important;}
	
	#demo {position: fixed;background: #fff;top: 160px;z-index: 99;padding: 20px;left: 0px;
    margin: 15px; padding-bottom:10px;
    }
	
	.mobile-50 { display: block !important;
    width: 50% !important;
    margin-top: 3px; margin-bottom:0px !important;}
	
	.dataTables_wrapper {margin-top:15px;}
	
	#daterange1 {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc !important;
    position: relative;
    text-align: center;
    font-size: 15px;
    color: #000;
}
	
	#daterange, #daterange1{ float: left;margin-top: 0;}
	
	#daterange1>span {display:none;}

	.egcs_submit_button {    margin-top: 0;
        margin-left: 6px !important;
    padding: 6px !important;
    height: auto !important;
    border-radius: 5px;}
	
	.close-tag {float: right;
    position: absolute;
    top: -13px;
    right: -8px;
    padding: 3px;
    padding: 2px;
    border-radius: 58px;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #fff !important;
    background: #1976d2;}
	
	#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 91 !important;
    width: 100%;
    height: 100%;
    display: none;
}	
	
}




@media only screen and (max-width: 990px) and (min-width: 767px) {
	#daterange span {
    display: none;
}
#daterange {margin-left: 0 !important;
    padding-left: 0px !important;}
	
}