

<section class="" id="footer-final-contact">

<div class="contact-section-all">
		
			<div class="container">
				
					<div class="row">
					
						
						<div class="col-lg-12 col-md-12 col-sm-12 full-white-bg" style="">
						
							<div class="col-lg-7 col-md-12 float-left padding-left-contact">
							
								<div class="contact-left">
								
									<a href="/"><img src="/static_files/fp_images/fp_logo_white.svg" class="fp-logo"/></a>
									
									<div class="countries">
									
									<p class="content-para-section2"><span class="flags flag"><img src="/static_files/fp_images/singapore_flag.svg"> Singapore  </span><span class="flags1 flag"><img src="/static_files/fp_images/uk_flag.svg"> United Kingdom  </span><span class="flags2 flag"><img src="/static_files/fp_images/cypurs_flag.svg"> Cyprus </span>
									</p>
									
									</div> <!-- Flags Countires -->
									
									<p class="content-para-section12">
									Fozil Partners is happy to receive your queries, requests and suggestions, and we promise to respond to every connection, so do write to us. We’d love to hear from you and look forward to partnering with you.
									</p>
									
									<a href="mailto:info@fozilpartners.com" target="_top" class="link-f"><span class="default">Contact us at</span><br/> info@fozilmedia.com</a>
								
								</div> <!-- Contact left -->
							
							</div>
							
							<div class="col-lg-5 col-md-12 float-right padding-zero-mobile">
								{%if message %}
								<p class="message-trn" style="padding: 8px;color: #fff;background: green;text-align:center;font-size: 14px;"> Your message received, Our team will contact you soon.</p>
								{%endif%}
							
								<h3 class="contact-left-head" style="margin-bottom:15px;">Write to us</h3>
								
								 <form action="/fpcontact/" method="POST">
									 {% csrf_token %}
									  <div class="form-group">
										<input type="text" class="form-control" name="name" value="" placeholder="Your Name" required>
									  </div>
									  <div class="form-group">
										<input type="email" class="form-control" name="email" value="" placeholder="Your E-mail" required>
									  </div>
									  <div class="form-group">
										<input type="tel" class="form-control" name="mobile" value="" maxlength="10" placeholder="Mobile" required>
									  </div>
									  <div class="form-group">
										<textarea class="form-control" name="message" rows="3" placeholder="Message"></textarea>
									  </div>
									  <input type="submit" class="float-right blue-button-content1 blue-button-content btn" value="Send" />
								</form>
							
							</div>

						
						</div>
						
						
					</div>

</div>	

</div>				
		
		</section>



<section>
		
			<div class="footer footer-full">
			
				<div class="container">
				
					<div class="row">
					
					<!-- <h3 class="footer-text-middle text-center text-uppercase">FOR FURTHER INFORMATION</h3> -->
					
						<!--<div class="col-md-4 width-left-footer">
							<a href="/"><img src="/static_files/images/trn-footer-logo.png" class="img-left-footer"/></a><br/>
							
							
							<!-- <ul class="footer-items-list">
							<p class="social-heading"><strong>Social</strong></p>
								<!-- <li><a href=""><img src="/static_files/images/trn-social-twiter.png" /></a></li>
								<li><a href=""><img src="/static_files/images/trn-social-facebook.png" /></a></li>
								<li><a href=""><img src="/static_files/images/trn-social-google-plus.png" /></a></li> --
								<li><a href="https://www.linkedin.com/company/10554513/"><img src="/static_files/images/trn-social-linkedin.png" /></a></li>
								
							</ul> --
						</div>-->
						
						<div class="col-md-6">
						
							<ul class="footer-items-list1">
								<li class="footer-header-bottom"><a class="head-text-foot"><strong>About us</strong></a></li>
								
								<p class="text-para-footer">Fozil Partners runs on the proprietary Wynta software developed with the affiliate right at the centre of its focus. Our aim is for you to run your campaigns with minimum effort and reap your benefits in maximum numbers. Join us today!
								</p>
								
							</ul>
						
						</div>
						
						<div class="col-md-6 text-right">
						
							<ul class="footer-items-list1 footer-items-list1-left">
								<li class="footer-header-bottom1 footer-header-bottom"><a class="head-text-foot head-text-foot1"><strong>More Info</strong></a></li>

							</ul>
							
							<ul class="footer-items-list12">
							<li><a href="/">Home</a></li>
								<li><a href="/affiliate-deals/">Deals</a></li>
								<li><a href="/our-brands/">Brands</a></li>
								<!-- <li><a href="/trn/about-us/">Partners</a></li> -->
								<li><a href="/affiliate-marketing/">Marketing</a></li>
								<!-- <li><a href="/trn/trn-contact/">FAQ</a></li> -->
								<li><a href="/">Contact</a></li>
								<!-- <li><a href="/trn/trn-partners/">Network</a></li> -->
								<!-- <li><a href="/trn/trn-contact/">News</a></li> -->
								
							</ul>
						
						</div>
						
						<!-- <div class="col-md-4">
						
							<ul class="footer-items-list1 footer-items-list1-left">
								<li class="footer-header-bottom2 footer-header-bottom"><a class="head-text-foot"><strong>Social Media</strong></a></li>
								
								<p class="text-para-footer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
								</p>
								
								<ul class="footer-items-list footer-items-list123">
							
								<li><a href=""><img src="/static_files/fp_images/fp-footer-youtube.png" /></a></li>
								<li><a href=""><img src="/static_files/fp_images/fp-footer-gplus.png" /></a></li>
								<li><a href=""><img src="/static_files/fp_images/fp-footer-facebook.png" /></a></li>
								<li><a href=""><img src="/static_files/fp_images/fp-footer-twitter.png" /></a></li>
								
								
							</ul>
								
								
							</ul>
						
						</div> -->
						
					
					</div> <!-- End of Row -->
				
				</div>
			
			</div> <!-- End of Full Slider -->
		
		</section>
		
		<div class="clearfix"></div>
		
		


<section>

<div class="footer footer-full-last">
			
			
				
					
					
						<div class="col-md-12 text-center">
						
							<p class="trn-copyrights">©copyright 2018 Fozilpartners.com</p>
						
						</div>
						
						<!-- <div class="col-md-6 text-right float-right">
						
							<ul class="footer-final-all-list">
								<li><a href="">Terms and Conditions</a> |</li> 
								<li><a href="">Privacy Policy</a> |</li> 
								<li><a href="">Sitemap</a></li>
								
							
							</ul>
						
						</div> -->
					
					
				<a href="#" id="back-to-top" title="Back to top">&uarr;</a>
				
			
			</div> <!-- End of Footer Last -->
			
	</section>
			
			
				
		 <!-- Bootstrap core JavaScript -->
    <script src="/static_files/fp_js/jquery.min.js" type="text/javascript"></script>
	<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
    <script src="/static_files/fp_js/bootstrap.bundle.min.js"></script>
	
	<script type="">
	
	function show_hide_menu(ele){


		if ($(".menu-drop-down").is(":visible")) {
			$(".menu-drop-down").hide();
			$(ele).find(".menu-close").attr("src", "/static_files/fp_images/trn-menu.png")
		}
		else{
			$(".menu-drop-down").show();
			$(ele).find(".menu-close").attr("src", "/static_files/fp_images/trn-menu-close.png")
		}
	}
	
	var a = $("#accordion").find('.panel-title').find('a');
  var l = a.length;
  var p = window.location.pathname;
  for(i=0;i<l;i++){
   var s = $(a).eq(i).attr('href');
   if(s.indexOf(p) >= 0 ){
    $(a).eq(i).addClass('menu-active').removeClass('menu-deactive');
   }
   else{
	$(a).eq(i).addClass('menu-deactive');
   }
  }
  
  
  
 $(function(){

    var url = window.location.pathname, 
        urlRegExp = new RegExp(url.replace(/\/$/,'') + "$"); // create regexp to match current url pathname and remove trailing slash if present as it could collide with the link in navigation in case trailing slash wasn't present there
        // now grab every link from the navigation
        $('.nav-main a').each(function(){
            // and test its normalized href against the url pathname regexp
            if(urlRegExp.test(this.href.replace(/\/$/,''))){
                $(this).addClass('active');
            }
        });

});


if ($('#back-to-top').length) {
    var scrollTrigger = 100, // px
        backToTop = function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > scrollTrigger) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        };
    backToTop();
    $(window).on('scroll', function () {
        backToTop();
    });
    $('#back-to-top').on('click', function (e) {
        e.preventDefault();
        $('html,body').animate({
            scrollTop: 0
        }, 700);
    });
}
  
  </script>