<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>Fozil Partners- Affiliate Marketing Program</title>
	<meta name="description" content="Fozil Partnersoffers marketing partners top converting online casino &bingo brands. Get high Revshare deals here!" />
	<meta name="Keywords" content="Fozil Partners, Best Affiliates, Affiliate Marketing, Gambling Affiliates, Affiliate, Affiliate Marketing Programs" />
<link rel="icon" type="image/png" href="/static_files/fp_images/fp-favicon.ico" />
    <!-- Bootstrap core CSS -->
    <link href="/static_files/fp_css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static_files/fp_css/layout-main.css" rel="stylesheet">
	
	
	  <style>
		 
	  </style>

  </head>
  
    <body>
	
		<div class="all-header">
		
			{%include "fp/fp-header.html" %}
		
		</div> <!-- Header -->
		
		
		<div class="clearfix"></div>
		
		<section>
		
		<div class="full-breadcrump">
		
		<div class="container">
				
					<div class="row">
		
								<div class="breadcrumps">
					
						<ul class="breadcrumb">
						  <li><a href="/">Home</a></li>
						  <li><a href="/affiliate-marketing/">Marketing</a></li>
						 
						  
						</ul>
					
					</div>
					
				</div>
				
			</div>
		
		</div> <!-- Full Breadcrump div -->
		
			<div class="full-content-white space-adjust">
			
				<div class="container">
				
					<div class="row">

					
					<div class="col-md-12">
					
						
						<div class="col-lg-12 col-md-12 col-sm-12 full-gray-bg">
						
						
						
						<p class="partners-para" style="padding-top:0;">Fozil Partners was created out of a need to serve the industry with something fresh and new. So
everything we’ve got onboard is designed with a specific purpose in mind. Our program is backed by
tons of research and valuable experience, pitched in towards taking the iGaming vertical many places.
						</p>
						
						
						
						<p class="partners-para">Got a great idea you’d like to share with us? – we’re all ears! Contact us for marketing opportunities,
you’ll be surprised to see how flexible we are and the sorts of acrobatics we are willing to do ;-)
						</p>
						
						<p class="partners-para">Super-affiliates and networks, you’re welcome too!
						</p>
						
					
						
							
							
						
						</div>
						
						
					</div>	
						
						
						
						
						
					
					</div> <!-- End of Row -->
				
				</div>
			
			</div> <!-- End of Full Slider -->
		
		</section>
		
		<div class="clearfix"></div>
		
		
		

		<div class="all-footer">

			{%include "fp/fp-footer.html" %}

		</div> <!-- All Footer -->
	
	
	</body>
	
 </html>
	
	