
{% extends "admin/base_site.html" %}
{% block content %}



<div class='header'>
<script type="text/javascript" src="/static_files/js/jquery.min.js"></script>
<script type="text/javascript" src="/static_files/js/jquery.wallform.js"></script>

<script type="text/javascript" >
 $(document).ready(function() { 
            $('#photoimg').die('click').live('change', function()
                                             {
                               $("#imageform").ajaxForm({target: '#preview', 
				     beforeSubmit:function(){ 
				   	$("#imageloadstatus").hide();
					 $("#imageloadbutton").show();
                                   	 }, 
					success:function(){
                                         $("#imageloadstatus").hide();
					 $("#imageloadbutton").show();
					}, 
                                             error:function(){
                                         $("#imageloadstatus").hide();
					$("#imageloadbutton").show();
					} }).submit();
					
		
			});
        }); 
</script>

<style>

body
{
font-family:arial;
}
.preview
{
width:200px;
border:solid 1px #dedede;
padding:10px;
}
#preview
{
color:#cc0000;
font-size:12px
}

</style>


{% include "affiliates/admin/header.html" %}




</div>






<hr/>        


     
     

<div class="banner" >

{{response}}

<div style="width:1000px">

	<div id='preview'>
	</div>
	


<form id="imageform" method="post" enctype="multipart/form-data" action='/affiliate_banner-add/'>
{% csrf_token %}

Upload Banner<br/>
Banner Name:<input type="text" name='bannername' id='bannername'/><br/><br/>
<div id='imageloadstatus' style='display:none'><img src="/static_files/images/loader.gif" alt="Uploading...."/></div>
<div id='imageloadbutton'>
<input type="file" name="banner" id="photoimg" /><br/>

</div>
</form>




<!--<form action='/affiliate_banner-add/' method="POST" enctype="multipart/form-data" name="imageform">
     {% csrf_token %}
     Image Name:<input type="text" name='bannername' id='bannername'/><br/><br/>
     Image<input type="file" name='banner'/><br/><br/>
     <input type='submit' value='Upload'/>
</form>
-->
</div>                                



{%endblock%}
