
<link href="/static_files/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/static_files/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static_files/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<link href="/static_files/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>
<script src="/static_files/js/jquery-ui.min.js"></script>
<script type='text/javascript' src="/static_files/js/export_table_to_csv.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	if($("#id_date").val() == "Custom"){
		$('#id_datepicker1').show();
        $('#id_datepicker2').show();
	}
	$("#id_date").change(function() {
		if($(this).val() == "Custom"){
			$('#id_datepicker1').show();
			$('#id_datepicker2').show();
		}
		else{
			$('#id_datepicker1').hide();
			$('#id_datepicker2').hide();
		}
	});
});
</script>
<script>
$(function() {
	$( "#id_datepicker1" ).datepicker({changeYear: true,changeMonth:true, dateFormat:'dd/mm/yy'});
	$( "#id_datepicker2" ).datepicker({changeYear: true,changeMonth:true, dateFormat:'dd/mm/yy'});
});
</script>
{% extends "admin/base_site.html" %}

{% load i18n %}

{% block content %}



      
     <div class='header'>
    {% include "affiliates/admin/header.html" %}
      

    
    
 {% include "affiliates/admin/internal-header.html" %}
   
</div>
<p><form action="." method="POST" name="test" id="touneyTxnForm" style="float:left;">
{% csrf_token %}
<table>
<tr><td>
			Select Site:</span> <br/>
									<select name="siteid" >
										{%for i in sites_obj_list%}
											<option value="{{i.id}}">{{i.name}}</option>
										{%endfor%}
									</select></td>
   <td><span>Date Filter&nbsp;&nbsp;</span><br/><select id="id_date" name="date" style="height:25px;">
<option value="Today" {%if custom == "Today"%} selected="selected"{%endif%}>Today</option>
<option value="Yesterday"{%if custom == "Yesterday"%} selected="selected"{%endif%}>Yesterday</option>
<option value="WeekTildate"{%if custom == "WeekTildate"%} selected="selected"{%endif%}>WeekTildate</option>
<option value="Last 15 Days"{%if custom == "Last 15 Days"%} selected="selected"{%endif%}>Last 15 Days</option>
<option value="Last 30 Days"{%if custom == "Last 30 Days"%} selected="selected"{%endif%}>Last 30 Days</option>
<option value="Last 45 Days"{%if custom == "Last 45 Days"%} selected="selected"{%endif%}>Last 45 Days</option>
<option value="MonthTilldate"{%if custom == "MonthTilldate"%} selected="selected"{%endif%}>MonthTilldate</option>
<option value="All" {%if custom == "all"%} selected="selected"{%endif%}>All</option>
<option value="Custom" {%if custom == "Custom"%} selected="selected"{%endif%}>Custom</option>
</select>
<input placeholder='Fromdate' type="text"  id='id_datepicker1' name="datepicker1" style="display:none;margin-top:10px;">
<input placeholder='Todate' type="text"  id='id_datepicker2' name="datepicker2" style="display:none;">
</p></td></tr>
<tr><td>
<input type="submit" class="sub_bu11" style="float:left; margin-top:9px;" value="Search"/></td>
<td><input type="reset" class="sub_bu11" style="float:left; margin:9px;" value="Clear" id="transaction_form_reset_btn"/></td></tr></table>
</form></p>
<br/>

<table class="table table-striped table-bordered table-hover table_header_background" id="player_data">
							</table>


<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="/static_files/assets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/static_files/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script>

function addPlayerslistDataTable(headersList, dataList){
	$('#player_data:has(tbody)').dataTable().fnDestroy();
	$("#player_data").dataTable({paging: true,  "bLengthChange": false,
		   "data": dataList,
		   "iDisplayLength": 50000,
		   "columns": headersList,
		   "columnDefs": [
		                  { "width": "15%", "targets": 0 },
		                  { "width": "15%", "targets": 1 }
		                ],
	       //"processing": true,
	       //"serverSide": true,
	       "createdRow": function( row, data, dataIndex ) {
	           $(row).attr('id', 'order_'+data[0]);
	           if(data[0] == "Total :"){
	        	   $(row).css({"background-color": "#8AE0E8",
	        	    "color": "black",
	        	    "font-weight": "bold"});
	           }
	           //$(row).attr('username', data[1]);
	          // var html_str  = '<a href="/playerinfosave/'+data[2]+'"  target="_blank">'+data[0]+'</a>';
	           //$($(row).find('td')[0]).html(html_str);
	           //console.log(dataIndex);
	       },
	       
	       "rowCallback": function( row, data ) {
	           //if ( $.inArray( $(row).attr('id'), selected_from_group) !== -1 ) {
	            //   $(row).addClass('selected');
	           //}
	       },
	       
	      /* "fnFooterCallback": function( nFoot, aData, iStart, iEnd, aiDisplay ) {
	    	   $(this).find("tfoot").remove();
	    	   if (dataList.length != 0){
	    	   		$(this).append("<tfoot><tr><td>"+sumList[0]+"</td><td></td><td>"+sumList[1]+"</td><td>"+sumList[2]+"</td><td>"+sumList[3]+"</td><td>"+sumList[4]+"</td></tr></tfoot>");
	    	   }
	         },*/
	       searching: false,
	       ordering:true,
	       info: false,
	       //"processing": true,
	       "order": [[ 0, "asc" ]],
	      
	});
	
	//$("#RESET").click();

	
}

jQuery(document).ready(function() {       

   //$(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   //var pagination_str = "";//'{{pagination_div}}';
   //var decoded = $('<div />').html(pagination_str).text();
   //$('.digg_pagination').html(decoded);
   addPlayerslistDataTable(header_list, data_list);
   
});
</script>
{%endblock%}