
{% extends "admin/base_site.html" %}
{% load i18n %}
{% block branding %}

{% endblock %}
{% block content %}




<div class='header'>
{% include "affiliates/admin/header.html" %}




{% include "affiliates/admin/internal-header.html" %}

</div>

<h3>{{response}}</h3>         



{% if banners %}
{% for i in banners %}
<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 300px;">

<tr>
<td>

{{i.link|safe}}
</td><td>

</td>
<td>
<textarea cols=40 rows=10>{{i.link}}</textarea>
</td>
<td>
<a href='/rummy-deletebanner/{{obj.id}}/{{linkid}}/{{i.id}}'>Remove</a>
</div>
</td>

</tr>


{%endfor%}
{%else%}
NO Banners Are Available Currently.
{%endif%}






{%endblock%}