
{% extends "admin/base_site.html" %}
{% block content %}
<html>
<head>
</head>
<body>
<div class='header'>
{% include "affiliates/admin/header.html" %}
</div>



<div class='main'>
<form action='/affiliate_admin-search/' name='affiliatesearch' method='POST'>
{% csrf_token %}
<table>        
<tr><td>Affiliate ID:</td><td><input type='text' name='id' /></td></tr>
<tr><td>User Name:</td><td><input type='text' name='username' /></td></tr>
<tr><td>Email ID:</td><td><input type='text' name='mail' /></td></tr>
<tr><td><input type="submit"  name="search" value="Search"/></td></tr>
</table>

</form>
<hr/>
{{response}}


{% if obj %}
<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width:auto;">
<table>
<tr>
<th>
Affiliate ID    
</th>
<th>
User Name  
</th>
<th>
Contact Name
</th>
<th>
Company Name
</th>
<th>
Email
</th>
<th>
Address
</th>
<th>
city
</th>
<th>
state
</th>
<th>
Country
</th>
<th>
Post Code
</th>
<th>
Telephone
</th>

</tr>

{% for i in obj %}
<tr onClick="document.location='/affiliate_admin-account/{{i.id}}/';">
<td>{{i.id}}</a>
</td>
<td>
{{i.username}}
</td>
<td>{{i.contactname}}</td>
<td>
{{i.companyname}}
</td>
<td>
{{i.email}}
</td>
<td>{{i.address}}</td>
<td>
{{i.city}}
</td>
<td>
{{i.state}}</td>

<td>
{{i.country}}
</td>

<td>
{{i.postcode}}    
</td>
<td>
{{i.telephone}}

</td>



</tr>
{%endfor %}
<form action='/affiliatesearchimportcsv/' method='POST'">        {% csrf_token %}

<input type='submit' value='CSV'  />

</form>

</table>
{%endif%}
</div>


</div>           


</body>


</html>

{%endblock%}