
{% extends "admin/base_site.html" %}
{% block content %}
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body>
<div class='header'>
{% include "affiliates/admin/header.html" %}
</div>

<script type="text/javascript">
$(document).ready(function(){
	json_data = {{ntw_sites_list|safe}};
	$( "#NetwrkID" ).change(function() {
		var netwrk = $("#NetwrkID").val();
		site_list = $('#siteList');
		for(i=0;i<json_data.length;i++){
			if(json_data[i].name == netwrk){
				for(j=0;j<json_data[i].sites.length;j++){
					var chkbox = "<td>&nbsp;&nbsp;<input type='checkbox' name='sites' value='"+json_data[i].sites[j]+"' />    "+json_data[i].sites[j]+"</td>";
					$(chkbox).appendTo(site_list);
				}
			}
		}
			
	}).change();
});
</script>

<div class='main'>
<form action='/affiliate_admin-search/' name='affiliatesearch' method='POST'>
{% csrf_token %}
<table>

{% for i in networks %}
	{%if forloop.counter == 1 %}
		<tr><th>Select Network :</th>
		<td><select id="NetwrkID" name="network"><option value="{{i}}" selected>{{i}}</option>
	{%else%}
		<option value="{{i.networkname}}">{{i}}</option>
	{%endif%}

	{%if forloop.last %} </select></td></tr>{%endif%}
{%endfor%}
<tr  id="siteList"><th>Select Sites : </th></tr>    
<tr><td>Affiliate ID:</td><td><input type='text' name='id' /></td></tr>
<tr><td>User Name:</td><td><input type='text' name='username' /></td></tr>
<tr><td>Email ID:</td><td><input type='text' name='mail' /></td></tr>
<tr><td><input type='submit' type='Search' value="Search"/></td></tr>
</table>

</form>
<hr/>
{{response}}
{% if obj %}
<div style="border-bottom: 1px solid red; width:100%; color: blue; padding: 5px; margin: 5p; border-top: 1px solid red">
	
		Done – {{obj|length}} matches found.
	
</div>
{%endif%}

{% if obj %}
<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 980px;">
<table>
<tr>
<th>
Affiliate ID    
</th>
<th>
User Name  
</th>
<th>
Contact Name
</th>
<th>
Company Name
</th>
<th>
Email
</th>
<th>
Address
</th>
<th>
city
</th>
<th>
state
</th>
<th>
Country
</th>
<th>
Telephone
</th>
<th>
Post Code
</th>
</tr>

{% for i in obj %}
<tr onclick="document.location='/affiliate_admin-account/{{i.id}}/';">
<td>{{i.id}}</a>
</td>
<td>
{{i.username}}
</td>
<td>{{i.contactname}}</td>
<td>
{{i.companyname}}
</td>
<td>
{{i.email}}
</td>
<td>{{i.address}}</td>
<td>
{{i.city}}
</td>
<td>
{{i.state}}</td>

<td>
{{i.country}}
</td>
<td>
{{i.postcode}}    
</td>
<td>
{{i.telephone}}

</td>

</tr>
{%endfor %}
<form action='/affiliatesearchimportcsv/' method='POST'">        {% csrf_token %}

<input type='submit' value='CSV'  />

</form>

</table>
{%endif%}
</div>


</div>           


</body>


</html>

{%endblock%}