{% extends "admin/base_site.html" %}
{% load i18n %}
{% block branding %}
<h1 id="site-name">{% trans 'Rummy EGAP' %}</h1>
{% endblock %}
{% block content %}


<html>
    <head>
        
    </head>

<body>
    
     <div class='header'>
    {% include "affiliates/admin/header.html" %}
      

    
    
 {% include "affiliates/admin/internal-header.html" %}
   
</div>


<h3>{{response}}</h3>
<form action='/rummy-addbanner/{{linkid}}/' method='POST' name='bannerimages'>
    {% csrf_token %}
    <!--<table border = 1>-->
        <div class='main'>
            
            {% if banners %}
        {% for i in banners %}
        <div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 300px;">

        <!--<tr>-->
            <!--<td>-->
               
               {{i.link|safe}}
 
            <!--</td>-->
            <!--<td>-->
            <a href='/rummy-addbanner/{{obj.id}}/{{linkid}}/{{i.id}}'>ADD</a>
        </div>
            <!--</td>-->
            
        <!--</tr>-->
{%endfor%}
{%else%}
    No Banners Are Available Currently.<a href="/affiliate_banner-add/">Click</a> to Add New Banner in System.
    {%endif%}
        </div>
    <!--</table>-->
    
</form>
    
    
</body>

</html>

{%endblock%}