<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />

	<title>Fozil Partners - Campaign Set Up</title>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenu-core-affiliate.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
	<link rel="stylesheet" href="/static_files/assets/css/custom.css">

	<script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>
	<link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>
<body class="page-body">

	<div class="settings-pane">
			
		<a href="#" data-toggle="settings-pane" data-animate="true">
			&times;
		</a>
		
		<div class="settings-pane-inner">
			
			<div class="row">
				
				<div class="col-md-4">
					
					<div class="user-info">
						
						<div class="user-image">
							<a href="extra-profile.html">
								<img src="/static_files/assets/images/user-2.png" class="img-responsive img-circle" />
							</a>
						</div>
						
						<div class="user-details">
							
							<h3>
								<a href="extra-profile.html">{{request.user.username}}</a>
								
								<!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
								<span class="user-status is-online"></span>
							</h3>
							
							<!-- <p class="user-title">Web Developer</p> -->
							
							<div class="user-links">
								<a href="/mvc/affiliate/edit-profile/" class="btn btn-primary">Edit Profile</a>
								<!-- <a href="extra-profile.html" class="btn btn-success">Upgrade</a> -->
							</div>
							
						</div>
						
					</div>
					
				</div>
				
				<!-- <div class="col-md-8 link-blocks-env">
					
					<div class="links-block left-sep">
						<h4>
							<span>Notifications</span>
						</h4>
						
						<ul class="list-unstyled">
							<li>
								<input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk1" />
								<label for="sp-chk1">Messages</label>
							</li>
							<li>
								<input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk2" />
								<label for="sp-chk2">Events</label>
							</li>
							<li>
								<input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk3" />
								<label for="sp-chk3">Updates</label>
							</li>
							<li>
								<input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk4" />
								<label for="sp-chk4">Server Uptime</label>
							</li>
						</ul>
					</div>
					
					<div class="links-block left-sep">
						<h4>
							<a href=".">
								<span>Help Desk</span>
							</a>
						</h4>
					</div>
					
				</div> -->
				
			</div>
		
		</div>
		
	</div>
	
	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		{% include "affiliates/new_design/menubar-1.html" %}
	
		<div class="main-content">
					
			{% include "affiliates/new_design/header-1.html" %}
			
			<div class="page-title">
			
				<div class="title-env">
					<h1 class="title">Profile</h1>
					<p class="description"></p>
				</div>
			
					<div class="breadcrumb-env">
			
								<ol class="breadcrumb bc-1" >
									<li>
							<a href="/mvc/affiliate/"><i class="fa-home"></i>Home</a>
						</li>
								<li>
			
										<a href="">My Profile</a>
								</li>
							
								</ol>
						
				</div>
				
			</div>
			
			<div class="portlet-body">
							<div class="table-toolbar">
								
								{%if message %}
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
										<div class="alert alert-success-msg">
                                        	<center> <span>{{message}} </span></center>
                                     	</div>
									
									</div>
								</div>
								<br/>
								{%endif%}
								<div class="row">
									<div class="col-md-12">
										<div>
										<form action= "/mvc/affiliate/affiliate_profile_update/" id="affForm" method="POST" name='affForm' role="form">
										{%csrf_token%}
										<input type="hidden" name="affid" value="{{aff_obj.id}}">
										<table class="table table-hover table_header_background">
											<thead>
											<th style="text-align:left" colspan=4>Affiliate Profile</th>
											</thead>
											
											<tbody>
												<tr>
													<td style="text-align:left">Affiliate ID</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.id}}</td>
													<td style="text-align:left">Address</td>
													<td style="text-align:left" class="bold affinfo_col_data ">{{aff_obj.address}}</td>
												</tr>
												<tr>
													<td style="text-align:left">Enabled</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.active}}</td>
													<td style="text-align:left" >City</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.city}}</td>
													
												</tr>
												
												<tr>
												<td style="text-align:left">Registered On</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.registeredon|date:"M d, Y" }}</td>													
													<td style="text-align:left">State</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.state}}</td>
												</tr>
												
												<tr>
													<td style="text-align:left">Phone</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.telephone}}</td>
													<td style="text-align:left">Country</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.country}}</td>
												</tr>
												
												<tr>
													<td style="text-align:left">Username</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.username}}</td>
													<td style="text-align:left">Comapany Name</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{obj.companyname}}</td>
												</tr>
												
												<tr>
													<td style="text-align:left">Email</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.email}}</td>
													<td style="text-align:left">Pincode</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.postcode}}</td>
												</tr>
												
												<!-- <tr>
													<td style="text-align:left">Revenue Share</td>
													<td style="text-align:left" class="bold affinfo_col_data">
														<input type="checkbox"  name="rscheck" style="width:20px !important;" {%if commission_obj.revshare %}checked="checked"{%endif%}/>
														&ensp;&ensp;<input type="text" value="{{commission_obj.revsharepercent}}" name="rsshare" class="aff_edit_form"/>
													</td>
													<td style="text-align:left">CPA</td>
													<td style="text-align:left" class="bold affinfo_col_data">
														<input type="checkbox"  name="cpacheck"  style="width:20px !important;" {%if commission_obj.cpachoice%}checked="checked"{%endif%}/>
														&ensp;&ensp;<input type="text" value="{{commission_obj.cpacommissionvalue}}" name="cpa" class="aff_edit_form"/>
													</td>
												</tr>
												
												<tr>
													<td style="text-align:left">CPR</td>
													<td style="text-align:left" class="bold affinfo_col_data">
														<input type="checkbox"  name="cprcheck" style="width:20px !important;" {%if commission_obj.cprchoice %}checked="checked"{%endif%}/>
														&ensp;&ensp;<input type="text" value="{{commission_obj.cprcommissionvalue}}" name="cpr" class="aff_edit_form"/>
													</td>
													<td style="text-align:left"></td>
													<td style="text-align:left" class="bold affinfo_col_data"></td>
												</tr> -->
												
												<!-- <tr>
													<td style="text-align:left"></td>
													<td style="text-align:left" class="bold affinfo_col_data"><input type="submit" value="Save Changes" class="btn  btn-success" id="signupsubmit"/></td>
													<td style="text-align:left"></td>
													<td style="text-align:left" class="bold affinfo_col_data"></td>
												</tr> -->
												
											</tbody>
										</table>
										</form>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="digg_pagination"></div><br/>  -->
							
						</div>
			
			
			
			
			
			
			
			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			{% include "affiliates/new_design/footer-1.html" %}
		</div>
	
			
		<div id="chat" class="fixed"><!-- start: Chat Section -->
			
			<div class="chat-inner">
			
				
				<h2 class="chat-header">
					<a  href="#" class="chat-close" data-toggle="chat">
						<i class="fa-plus-circle rotate-45deg"></i>
					</a>
					
					Chat
					<span class="badge badge-success is-hidden">0</span>
				</h2>
				
				<script type="text/javascript">
				// Here is just a sample how to open chat conversation box
				jQuery(document).ready(function($)
				{
					var $chat_conversation = $(".chat-conversation");
					
					$(".chat-group a").on('click', function(ev)
					{
						ev.preventDefault();
						
						$chat_conversation.toggleClass('is-open');
						
						$(".chat-conversation textarea").trigger('autosize.resize').focus();
					});
					
					$(".conversation-close").on('click', function(ev)
					{
						ev.preventDefault();
						$chat_conversation.removeClass('is-open');
					});
				});
				</script>
				
				
			
			</div>
			
			<!-- conversation template -->
			
		<!-- end: Chat Section -->
		</div>
	
	</div>
	
	<div class="footer-sticked-chat"><!-- Start: Footer Sticked Chat -->

	
		<a href="#" class="mobile-chat-toggle">
			<i class="linecons-comment"></i>
			<span class="num">6</span>
			<span class="badge badge-purple">4</span>
		</a>
	
	<!-- End: Footer Sticked Chat -->
	</div>
	
	



	<!-- Bottom Scripts -->
	<script src="/static_files/assets/js/bootstrap.min.js"></script>
	<script src="/static_files/assets/js/TweenMax.min.js"></script>
	<script src="/static_files/assets/js/resizeable.js"></script>
	<script src="/static_files/assets/js/joinable.js"></script>
	<script src="/static_files/assets/js/xenon-api.js"></script>
	<script src="/static_files/assets/js/xenon-toggles.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="/static_files/assets/js/xenon-custom.js"></script>

</body>
</html>