<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />

	<title>Wynta - 500 Error</title>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-core.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
	<link rel="stylesheet" href="/static_files/assets/css/custom.css">

	<script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

<style>
.input-group[class*=col-]
{float:none;}
body {background:#3f4a56 !important;}
@media only screen and (max-width: 700px) {
    
	.middle-login-reg {width:90%;}
	.login-page {padding-top:5px !important;}
	
}
</style>
	
</head>
<body class="page-body login-page">

<header class="top-header-fozil">
	<!-- <a href="/" class="navbar-brand"></a> -->
</header>
	
	<div class="login-container">
	
		<div class="row left-right-adjust">
	
			<div class="middle-login-reg login-box">
	
				<!-- Errors container -->
				<div class="errors-container">
	
					
				</div>
	
				<div class="col-md-12 page-404">
		<div class="number text-center" style="">
			 <span class="404-text" style="font-size:100px;">500</span>
			 
			 <h3>Oops! Something went wrong.</h3>
			<p>
				 We are fixing it!<br/>
				Please come back in a while.<br/><br/>
			</p>
		
		</div>
		
			
	</div>
				
	
			
			</div>
	
		</div>
	
	</div>



	<!-- Bottom Scripts -->
	<script src="/static_files/assets/js/bootstrap.min.js"></script>
	<script src="/static_files/assets/js/TweenMax.min.js"></script>
	<script src="/static_files/assets/js/resizeable.js"></script>
	<script src="/static_files/assets/js/joinable.js"></script>
	<script src="/static_files/assets/js/xenon-api.js"></script>
	<script src="/static_files/assets/js/xenon-toggles.js"></script>
	<script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
	<script src="/static_files/assets/js/toastr/toastr.min.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="/static_files/assets/js/xenon-custom.js"></script>
<script src="/static_files/assets/admin/pages/scripts/login.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function() { 
 var error = '{{resp_dict}}';
 var error_d = '{{error_message}}';    

Login.init();
});
</script>


<br/><br/><br/><br/><br/>

<footer class="footer-bottom-privacy">

<div class="container-fluid">

<div class="privacy-over-div">

<div class="footer-text footer-bottom-text" style="">
						© 2018
						Wynta
					</div>
					
</div>

</div>

</footer>


</body>
</html>