<html>
    <head>
	 <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<link href="/static_files/css/egcs_new_theme_style.css" rel="stylesheet" type="text/css"/>
	<link href="/static_files/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="/static_files/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
            <script type="text/javascript">

function popup(thisUrl,thisWidth,thisHeight,thisTop,thisLeft) {
   optionString = ('width=' + thisWidth + ',height=' + thisHeight + ',top=' + thisTop + ',left=' + thisLeft + ',toolbar=no, location=no, directories=no,status=no,menubar=no,resizable=yes,scrollbars=yes');
   mainWin = window.open(thisUrl,"popup_win", optionString);
   mainWin.opener = self;
 }
</script>



        
    </head>
  
    <body style="color: #3E3939;font-family: "Open Sans", sans-serif;">
    
   <form name='form' role="form">
     <p>
     <input class="form-control border_radius btn yellow btn-block" onclick="javascript: popup('/addalertmessages/', 900, 900, 0, 0);" onmouseover="window.status='Click to add bonus.'; return true;" onmouseout="window.status=''; return true;" type="submit" value="Add New" />
</p>
        <table style="width:100%;" class="table">
        
            {%if messages%}
    
        

           <tr>
            <th>
              Date  
            </th>
            <th>
                Author
            </th>
            <th>
                Message
            </th>
            
        </tr>
     
        {% for i in messages%}
        <tr>
            <td>
                {{i.timestamp|date}}
            </td>
            <td>
                {{i.author}}
            </td>
            <td width="50%">
                <!--<textarea ></textarea>-->
                <textarea  style="resize: none; background: white;" cols = 40  readonly=True>{{i.message}}</textarea>
            </td>
            
            
        </tr>
        <tr>
        <td colspan=3>
            

<input class="form-control border_radius btn yellow btn-block" onclick="javascript: popup('/editalertmessage/{{i.id}}', 900, 900, 0, 0);" onmouseover="window.status='Click to add message.'; return true;" onmouseout="window.status=''; return true;" type="submit" value="Edit" />
<br/>
<input class="form-control border_radius btn yellow btn-block" onclick="javascript: popup('/deletealertmessage/{{i.id}}', 900, 900, 0, 0);" onmouseover="window.status='Click to delete alert message.'; return true;" onmouseout="window.status=''; return true;" type="submit" value="Delete" />

            
            </td>
        </tr>
        
        {%endfor%}
        
{%else%}
            No Message is in Database 
            

{%endif%}
</table>
        
  </div>
  </form>
    </body>
</html>