{% extends "admin/base.html" %}
{% load i18n %}

{% block coltype %}colM{% endblock %}
{% block branding %}
<h1 id="site-name">{% trans 'Rummy EGAP' %}</h1>
{% endblock %}

{% block userlinks %}
{% url 'admin:password_change' as password_change_url %}
{% if password_change_url %}
<a href="{{ password_change_url }}">
{% else %}
<a href="{{ root_path }}password_change/">
{% endif %}
{% trans 'Change password' %}</a> /
{% url 'admin:logout' as logout_url %}
{% if logout_url %}
<a href="{{ logout_url }}">
{% else %}
<a href="{{ root_path }}logout/">
{% endif %}
{% trans 'Log out' %}</a>
{% endblock %}


{% block content %}
<ul>
    <li><a href='/admin/userapp/bonussettings/'>Bonus Settings</a><br/><br/>
</li>
    <li>
        
<a href="/admin/userapp/bonustrigger/">Bonus Triggers</a>
    </li>
</ul>







{%endblock%}