<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Affiliate | Create Tracker</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<META NAME="ROBOTS" CONTENT="{{robot_content_value}}">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>

<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="/static_files/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="/static_files/assets/admin/layout/css/themes/egcs_blue.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>

<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
<style type="text/css">


</style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<style>
h3{
font-size: 85px;
    color: #fff;
    top: 32%;
    bottom: 50%; font-weight:normal;
    position: absolute;
    left: 0;
    right: 0;
   
}
h1{
font-size: 68px;
}

@font-face {
  font-family: 'gothic';
  src: url('static_files/fonts/gothic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'gothic';
    src: url('static_files/fonts/gothic.ttf');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Century Gothic';
    src: url('static_files/fonts/Century Gothic Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'gothic';
    src: url('static_files/fonts/gothic.woff');
    font-weight: normal;
    font-style: normal;
} 
    .tp-class{    top: 0%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    }
.container-fluid center h1 {
    font-family: gothic;  font-size: 58px !important;
}
.main-coming {
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center; color:#254f0b; text-transform:uppercase;
}
</style>
<body class="page-header-fixed page-quick-sidebar-over-content ">
<!-- BEGIN HEADER -->
<!-- BEGIN HEADER -->
{% include "affiliates/new_design/header.html" %}
<!-- END HEADER -->
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    {% include "affiliates/new_design/menubar.html" %}
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="container-fluid">
    <center><h1 class="main-coming">Coming Soon..</h1></center>
</div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{% include "affiliates/new_design/footer.html" %}
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/static_files/assets/global/plugins/respond.min.js"></script>
<script src="/static_files/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="/static_files/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/static_files/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="/static_files/assets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/static_files/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/table-managed.js"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>
<script src="/static_files/js/utils.js"></script>
<script>

jQuery(document).ready(function() {       
   Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
   egcsTools.initNavigation();
   egcsTools.initDashboardDaterange();
   
   //$(".page-sidebar-menu li").eq(3).addClass("active");
   //var data_list = [];//{{data_list|safe}};
   //var header_list = [];//{{header_list|safe}};
   //var sum_list = [];//{{sum_list|safe}};
   //var pagination_str = "";//'{{pagination_div}}';
   //var decoded = $('<div />').html(pagination_str).text();
   //$('.digg_pagination').html(decoded);
   //addPlayerslistDataTable(header_list, data_list, sum_list);
   
});
</script>


</body>
<!-- END BODY -->
</html>

