{% extends "admin/base_site.html" %}
{% load i18n %}


{% block content %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Taj Rummy</title>
		<link href="/static_files/css/dashboard.css" rel="stylesheet" type="text/css" />

                
                

<link href="/static_files/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="/static_files/js/jquery.min.js"></script>
<script src="/static_files/js/jquery-ui.min.js"></script>



<script type="text/javascript">
    window.onload = setupRefresh;

    function setupRefresh() {
      setTimeout("refreshPage();", 60000); // milliseconds
    }
    function refreshPage() {
       window.location = location.href;
    }
</script>


<script type="text/javascript">
	$(document).ready(function() {
		
	
	$("#customid").change(function() {

	if($(this).val() == "Custom"){
		document.form.fromdate.style.display="block";
		document.form.todate.style.display="block";
		
	}
	
	
	else{
		document.form.fromdate.style.display="none";
		document.form.todate.style.display="none";
		$('label[for="fromdate"]').hide();

		}});
	});
	
	
	window.onload = function() {
	var value = document.getElementById('customid').value
	
	if (value == 'Custom'){
		document.form.fromdate.style.display="block";
		document.form.todate.style.display="block";
		//$('#fromdate ,label[for="#fromdate"]').hide()
		
		      $('label[for="fromdate"]').show();

		
	}
	
	}
	
</script>

<script>
$(function() {
$( "#datepicker" ).datepicker();
$( "#datepicker1" ).datepicker();
});
</script>

	</head>
	<body>
		<div class="maincon">
			<div class="header">



<h1>Dashboard</h1>
<frameset>

<table border=1 width="1200">
<tr >
<th></th>
<th>
<a href="/banking/">Deposits</a>
</th>

<th>
<a href="/banking/">Withdrawl</a>

</th>

<th>
<!--{%if fa%}-->
<!--<a href="/custombonus/{{fa}}/{{ta}}/">Bonus</a>-->
<!--{%else%}-->
<!--<a href="/bonus/{{custom}}/">Bonus</a>-->
<!--{%endif%}-->
Bonus Real Cash
</th>
<th>
<!--{%if fa%}-->
<!--<a href="/custombonus/{{fa}}/{{ta}}/">Bonus</a>-->
<!--{%else%}-->
<!--<a href="/bonus/{{custom}}/">Bonus</a>-->
<!--{%endif%}-->
Bonus(without cash)
</th>


<th>
<!--{%if fa%}
<!--<a href="/revenue/{{fa}}/{{ta}}/">Revenue</a>-->
<!--{%else%}-->
<!--<a href="/revenue/{{custom}}/">Revenue</a>-->
<!--{%endif%}-->

Real Cash Revenue
</th>


<!--<th>-->
<!---->
<!--{%if fa%}-->
<!--<a href="/registration/{{fa}}/{{ta}}/">Registration</a>-->
<!--{%else%}-->
<!--<a href="/registration/{{custom}}/">Registration</a>-->
<!--{%endif%}-->
<!---->
<!---->
<!--</th>-->
<th>
<a href="/playerinformation/">Registration</a>
</th>



<th>
<!--{%if fa%}-->
<!--<a href="/logins/{{fa}}/{{ta}}/">Logins</a>-->
<!--{%else%}-->
<!--<a href="/logins/{{custom}}/">Logins</a>-->
<a href="/player_logins/">Logins</a>
<!--{%endif%}-->
</th>

<th>
<!--{%if fa%}-->
<!--<a href="/uniquelogins/{{fa}}/{{ta}}/">Unique Login</a>-->
<!--{%else%}-->
<!--<a href="/uniquelogins/{{custom}}/">Unique Login</a>-->
<!--{%endif%}-->
<a href="/uniquelogins/"/>Unique Logins</a>
</th>

<th>
{%if fa%}
<a href="/locked/{{fa}}/{{ta}}/">Locked</a>
{%else%}
<a href="/locked/{{custom}}/">Locked</a>
{%endif%}
</th>

<th>
<!--{%if fa%}-->
<!--<a href="/pcustomwithdrawls/{{fa}}/{{ta}}/">Pending Withdrawls</a>-->
<!--{%else%}-->
<!--<a href="/pwithdrawls/{{custom}}/">Pending Withdrawls</a>-->
<!--{%endif%}-->
<a href="/egcs/withdrawals/">Pending Withdrawls</a>
</th>
<th>Revenue
</th>
</tr>

<tr>
<td>
<b>
{%if custom %}
{%if custom == 'None'%}
Today
{%else%}    
{{custom}}
{%endif%}
{%else%}0
{%endif%}</b></td>
<td><b>{%if deposits|slugify != 'none' %} {% for i in deposits %} {{i}} {%endfor%}{%else%} 0 {%endif%}</td>
<td><b>{% for i in withdrawals %} {%if i|slugify != 'none' %}{{i}} {%else%}0{%endif%} {%endfor%}  </td>


<td><b>{%if bonus_cash|slugify != 'none' %} {% for i in bonus_cash %} {{i}} {%endfor%} {%else%} 0 {%endif%}</td>
<td><b>{%if bonus_social|slugify != 'none' %} {% for i in bonus_social %} {{i}} {%endfor%} {%else%} 0 {%endif%}</td>
<td><b>{%if cashrevenue|slugify != 'none' %} {% for i in cashrevenue %} {{i}} {%endfor%} {%else%} 0 {%endif%}
	
</td>


<td><b>{%if todayregister %} {{todayregister}} {%else%} 0 {%endif%}</td>
<td><b>{%if logintoday %} {{logintoday}} {%else%} 0 {%endif%}</td>
<td><b>{%if uniquelogincount %}{{uniquelogincount}} {%else%} 0 {%endif%}</td>
<td><b>{%if lockedcount %}{{lockedcount}}{%else%} 0 {%endif%}</td>

<td><b>{%if pwithdrawals|slugify != 'none' %} {% for i in pwithdrawals %} {{i}} {%endfor%} {%else%} 0 {%endif%}</td>
<td><b>{%if revenue|slugify != 'none' %} {% for i in revenue %} {{i}} {%endfor%} {%else%} 0 {%endif%}</td>

</tr>
</b>
</table>


<form name="form" action= "/home" method = "POST">

<table>
{% csrf_token %}
<tr><td>

<select id ="customid" name="customid">
<option value="Today" >Today</option>
<option value="Yesterday"{%if custom == "Yesterday"%} selected="selected"{%endif%}>Yesterday</option>
<option value="WeekTildate"{%if custom == "WeekTildate"%} selected="selected"{%endif%}>WeekTildate</option>
<option value="Last 15 Days"{%if custom == "Last15days"%} selected="selected"{%endif%}>Last 15 Days</option>
<option value="MonthTilldate"{%if custom == "MonthTilldate"%} selected="selected"{%endif%}>MonthTilldate</option>
<option value="Custom" {%if custom == "Custom"%} selected="selected"{%endif%}>Custom</option>
</select>
</td>




	<td><label for="fromdate" >{{error}}</label>
<!--<input type="text" value="{{error}}" name="dashbaorderror"  id="dashbaorderror"/></td>-->
	
</td>

<td>
	<input type="text" placeholder='fromdate' id = 'datepicker' name="fromdate" style="display:none"></td>


<td><input type="text" placeholder='todate' id = 'datepicker1' name="todate" style="display:none"></td>
<td><input type="submit" value="Submit"/>
</td>
</tr>
</table>
</form>
</frameset>



			</div>
<hr style="width: 1140px; height: 3px; background:  #306EFF; border: 2px;""/>

			<div class="mainbody">

			        <div class="left">

                                
                                <iframe  name ="myIframe" frameBorder="0" src="/cashflow/" width = "540" height ="400" scrolling="no">
</iframe>
                                
				</div>
			          
                      	
                                
                                
                                <div class="right" style="border-left:3px solid #306eff;">
<iframe  src="/playergraph/" width = "600" height ="400" scrolling="no" frameBorder="0">
</iframe>
                                
				</div>
                                
                                
				<div class="clear"></div>
				
				
<hr style="width: 1140px; height: 3px; background:  #306EFF; border: 2px;""/>



				<div class="left">


<iframe  src="/loginsgraph/" width = "540" height ="500" scrolling="no" frameBorder="0" >
</iframe>
				</div>
				
				<div class="right"  style="border-left:3px solid #306eff;">

       
         <iframe frameBorder="0" name ="myIframe" src="/mapplayers/" width = "600" height ="80" scrolling="no">
</iframe>
	 
<hr style="width: 600px; height: 3px; background:  #306EFF; border: 2px;""/>
	 
         <iframe  name ="myIframe" src="/alertmessage/" width ='600' height ="300" frameBorder="0" >
</iframe>
        
        			</div>
			
				
                                

     	<div class="clear"></div>	<div class="clear"></div>
                                

	

        
        
			</div>
		
<!--<hr style="margin-top: 10px; width: 1140px; height: 3px; background:  #306EFF; border: 2px;""/>-->
</div>

	</body></html>
        


{% endblock %}
