<html>
    
    
<a href="/signin/" style="color: #FFFFFF">Login</a>
<a href="/signup/" style="color: #FFFFFF">Registration</a>
<br/>
<br/>
<style type="text/css">

h1 {color:#FFFFFF}
label{color:#FFFFFF}
</style>
<h1>TAJ RUMMY</h1>
<br/>
{{response}}
<body bgcolor="#1D6F00">
<br/>
<br/>
<center>
</center>
<img src="/static_files/photos/rummy.png" alt="rummy"  width="500" height="380" />
</html>