{% load pagination_tags %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Welcome to Tajrummy</title>

<link href="/static_files/css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>
	
<script src="/static_files/js/ddaccordion.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="/static_files/js/jquery_vslider.js" ></script>

<script type="text/javascript" src="/static_files/js/check.js"></script>

<script type="text/javascript">
<!--
function test()
{
var fmonth = document.getElementById('from_month').value;
var fyear = document.getElementById('from_year').value;
var fday = document.getElementById('from_day').value;
var fhour = document.getElementById('from_hour').value;
var fmins = document.getElementById('from_min').value;

var fromdatetime = fyear + "-" + fmonth + "-" + fday + " " + fhour + ":" + fmins;
document.getElementById('fromdatetime').value = fromdatetime;
//alert(fromdatetime);

var tmonth = document.getElementById('to_month').value;
var tyear = document.getElementById('to_year').value;
var tday = document.getElementById('to_day').value;
var thour = document.getElementById('to_hour').value;
var tmins = document.getElementById('to_min').value;

var todatetime = tyear + "-" + tmonth + "-" + tday + " " + thour + ":" + tmins ;
document.getElementById('todatetime').value = todatetime;
//alert(todatetime);

//var output = "from=" + fromdatetime + "&to=" + todatetime;
//alert (output);
//document.write("<b>" + year + "-" + month + "-" + day + " " + hour + ":" + mins + "</b>")

//return output;
//-->
}
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];

  _gaq.push(['_setAccount', 'UA-34156985-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();

</script>

<script type="text/javascript">
function first()
{
 var b = document.getElementById('filter').value
 location.href = '/rummy-deposit-history?filter='+b 
}
</script>

<script type="text/javascript">
    var frm = $('#deposithistory');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#OMG").html(data);
            },
            error: function(data) {
                $("#MESSAGE-DIV").html("Something went wrong!");
            }
        });
        return false;
    });
</script>


</head>

<body>
<!--HEADER STARTS HERE-->
<div align="center">
{% if obj %}

{% include "Tajrummy/header_after_login.html" %}


{%else%}

{% include "Tajrummy/header_before_login.html" %}


{%endif%}


</div>
<!--HEADER ENDS HERE-->

<!--GALLERY STARTS HERE-->

<div align="center">


<div class="main_Menu">{% include "Tajrummy/upper_menu.html" %} </div>

<div id="Top_inner_page_body">



<div class="inner_one">



<p align="left" class="Body_header" style="padding-top:20px;">Deposit History</p>
<img src="/static_files/images/Taj_rummy_line_2.png" height="24" width="669"/>

<div class="history_block">

<form id="deposithistory" name="" action="/rummy_withdrawal_historylogs/" method="post" onsubmit="return test()">


<input type="hidden" id="fromdatetime" name="fromdatetime" value=""/>
<input type="hidden" id="todatetime" name="todatetime" value=""/>
<input type="hidden" id="crf" name="crf" value="{{ csrf_token }}"/>
<br/>
<table width="650" cellpadding="0" cellspacing="0" class="history">
<tbody>

<tr><th colspan="6">Date Range</th></tr>

<tr><td></th><td>Month</td><td>Day</td><td>Year</td><td>Hours</td><td>Min</td></tr>

<tr><td align="left">From :</td>

<td>
<select id="from_month" name="from_month" class="drs">
<option value="01">Jan</option>
	<option value="02">Feb</option>
	<option value="03">Mar</option>
	<option value="04">Apr</option>
	<option value="05">May</option>
	<option value="06">Jun</option>
	<option value="07">Jul</option>
	<option value="08">Aug</option>
	<option value="09">Sep</option>
	<option value="10">Oct</option>
	<option value="11">Nov</option>
	<option value="12">Dec</option>
</select>  
</td>

<td>
<select id="from_day" name="from_day" class="drs1">
<option value="01">01</option>
	<option value="02">02</option>
	<option value="03">03</option>
	<option value="04">04</option>
	<option value="05">05</option>
	<option value="06">06</option>
	<option value="07">07</option>
	<option value="08">08</option>
	<option value="09">09</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>
	<option value="30">30</option>
	<option value="31">31</option>
</select>
</td>


<td>
<select id="from_year" name="from_year" class="drs">
<option value="2013">2013</option>
	<option value="2012">2012</option>
</select> 
</td>


<td>
<select id="from_hour" name="from_hour" class="drs1">
<option selected="" value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
		</select>
</td>


<td>
<select id="from_min" name="from_min" class="drs1"><option selected="" value="00">00</option><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option>		
</select>
</td>







</tr>

<tr>
<td align="left">To :</td>

<td>
<select id="to_month" name="to_month" class="drs">
<option value="01">Jan</option>
	<option value="02">Feb</option>
	<option value="03">Mar</option>
	<option value="04">Apr</option>
	<option value="05">May</option>
	<option value="06">Jun</option>
	<option value="07">Jul</option>
	<option value="08">Aug</option>
	<option value="09">Sep</option>
	<option value="10">Oct</option>
	<option value="11">Nov</option>
	<option value="12">Dec</option>
</select>  
</td>

<td>
<select id="to_day" name="to_day" class="drs1">
<option value="01">01</option>
	<option value="02">02</option>
	<option value="03">03</option>
	<option value="04">04</option>
	<option value="05">05</option>
	<option value="06">06</option>
	<option value="07">07</option>
	<option value="08">08</option>
	<option value="09">09</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>
	<option value="30">30</option>
	<option value="31">31</option>
</select>
</td>


<td>
<select id="to_year" name="to_year" class="drs">
<option value="2013">2013</option>
	<option value="2012">2012</option>
</select> 
</td>


<td>
<select id="to_hour" name="to_hour" class="drs1">
<option selected="" value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
		</select>
</td>


<td>
<select id="to_min" name="to_min" class="drs1"><option selected="" value="00">00</option><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option>		
</select>
</td>


</tr>

</tbody>
</table>

<table width="94%" cellspacing="2" cellpadding="5" border="0" align="center" class="cbox1"> 
			<tbody><tr bgcolor="#f0f0f0">
				<td width="33%" class="smallText"> <input type="checkbox" name="Finished">Finished</td>
				<td class="smallText"> <input type="checkbox"  name="Pending">Pending</td>
				<td class="smallText"> <input type="checkbox"  name="Flowback">Flowback</td>
			</tr>
			<!--<tr bgcolor="#f7f7f7">
				<td class="smallText"> <input type="checkbox"  name="finished">Finished</td>
				<td class="smallText"> <input type="checkbox"  name="declined">Declined</td>
				<td class="smallText"> </td>
			</tr>-->
			
			</tbody></table>

<div class="center_select">
<input type="button" onclick="process()" id="Username" />
<center><input type="Submit" class="button" value="" name="submit">
			</center></div>
</form>
  <div class="ad_ban_disp">

<!--<select id="filter" >
  
  <option  value="--select----">----select----</option>
  <option name="creditcard"  value="CREDITCARD" onclick="first();">CreditCard</option>
  <option name="debitcard"  value="DEBITCARD" onclick="first();" >DebitCard</option>
  <option name="netbanking" value="NETBANKING" onclick="first();">NetBanking</option>
  <option name="finished" onclick="first();" value="FINISHED">Finished</option>
  <option name="failed" value="FAILED" onclick="first();">Failed</option>
  <option name="None" value="None" onclick="first();">All</option>
  
  
  
</select>-->
<div id="OMG"></div>
<table width="650" cellpadding="0" cellspacing="0" id="details">
<tbody style="border:1px solid #000000;">
<tr>
<th width="100px">Transaction ID</th>
<th width="100px">Timestamp</th>
<th width="60px">Payment Mode</th>
<th width="100px">Amount</th>
<th width="100px">Status</th>
<th width="100px">Balance</th>
<th width="100px">Comment</th>
{{response}}



</tr>
{% if depositlogs %}

{% for i in depositlogs %}
<tr>
	<td>{{i.id}}</td>
    <td>{{i.timestamp}}</td>
    <td>{{i.modeofdeposit}}</td>
    <td>{{i.ordermoney}}</td>
    <td>{{i.orderstate}}</td>
    <td>{{i.amount}}</td>
     <td>{{i.comment}}</td>

</tr>
{%endfor%}
{% paginate %}
{%else%}
<tr><td colspan="6">No Records Available</td></tr>

{%endif%}


</tbody>
</table>

</div>          


</div>

<img src="/static_files/images/Taj_rummy_line_1.png" />
</div>

<div class="inner_two">

		
{% if obj %}

<div id="left"><div class="container container_12 container_object_734 default">

<script type="text/javascript">
$(document).ready(function() {
	$("#accordion li.head").click(function(){
		$(this).css({backgroundImage:"url('/static/gfx/design/accordion/down.png')"}).next("li.submenu").slideToggle("fast").siblings("li.submenu").slideUp("fast");
       	$(this).siblings("li.head").css({backgroundImage:"url('/static/gfx/design/accordion/left.png')"});
	});
});
</script>


<div id="accordion">


<ul class="menu-accordion">{% if obj.verified|slugify == 'false' %}  
<li class="head">Buy Cash Chips</li>
<li class="submenu">
<ul class="sub">
<li class="item"><a href="/rummy-comingsoon/" id='deposit'>Make a Deposit</a></li>
<li class="item"><a href="/rummy-comingsoon/" id='cashon'>Cash on Delivery Orders</a></li>
</ul></li>
{%else%}
<li class="head">Buy Cash Chips</li>
<li class="submenu">
<ul class="sub">
<li class="item"><a href="/sendpaymentrequest/">Make a Deposit</a></li>
<li class="item"><a href="/rummy-comingsoon/">Cash on Delivery Orders</a></li>
</ul></li>

{%endif%}

<script type="text/javascript">
  var deposit = document.getElementById('deposit')
  var cashon = document.getElementById('cashon')
  deposit.addEventListener('click',dosomething1,false);
  cashon.addEventListener('click',dosomething2,false);
  
  function dosomething1() {
    alert('Please Verify Your Email account');
  }
  function dosomething2() {
    alert('Please Verify Your Email account');
  }
  
  
</script>



<li class="head">My Account</li>
<li class="submenu">
<ul class="sub">
    <li class="item"><a href="/rummy-accountoverview/">Account Overview</a></li> 
	<li class="item"><a href="/rummy-playerprofile/">Profile Overview</a></li>
	<li class="item"><a href="/change_password/{{obj.username}}/">Change Password</a></li>
    <li class="item"><a href="/change_mail/">Update Email Address</a></li>
    <li class="item"><a href="/change_mobile/">Update Mobile Number</a></li>
</ul>
</li>

<li class="head">Bonus Details</li>
<li class="submenu" >
<ul class="sub">
<li class="item"><a href="/rummy-bonus-orders/">Bonus Orders</a></li>
</ul>
</li>

<li class="head active">Transactions</li>
<li class="submenu" style="display:block;" >
<ul class="sub">
<li class="item"><a href="/rummy-cash-transactions/"> Cash Transactions </a></li>
<li class="item"><a href="/rummy-reconcile-transactions/"> Reconcile Statements</a></li>
<li class="item"><a href="/rummy-gamelogs-transactions/"> Game Logs </a></li>
</ul>
</li>

<li class="head">Withdraw Cash</li>
<li class="submenu" >
<ul class="sub">
<li class="item"><a href="/rummy-withdraw-cash/">Withdrawal Options</a></li>
</ul>
</li>

<li class="head">Help</li>
<li class="submenu" >
<ul class="sub">
    <li class="item"><a href="/rummydownload-getting-started/"> Getting Started </a></li>
	<li class="item"><a href="/howtoplay-rummy-faqs/"> FAQ's </a></li>
    <li class="item"><a href="/rummy-support/"> Contact Us</a></li>
    <li class="item"><a href="/rummy-rules/"> Rummy Rules </a> </a></li>
	<li class="item"><a href="/online-rummy-terms&conditions/"> Terms & Conditions </a></li>
</ul>
</li>


</ul>
</div>
</div>

</div>



{% include "Tajrummy/right_sidebar_menu_after_login.html" %}


{%else%}

{% include "Tajrummy/right_sidebar_menu_before_login.html" %}


{%endif%}

       
</div>
<div class="clear"></div>
</div>
</div>

<!--ENDS STARTS HERE-->

<!--BODY STARTS HERE-->
<!--<div align="center" style="background-image:url(static_files/images/Taj_rummy_new_bg.png)">
<div id="Top_Body">


<div class="clear"></div>
<br />



</div>
</div>

</div>-->
<!--BODY ENDS HERE-->


<!--FOOTER STARTS HERE-->
<div align="center" id="Footer">
<div class="Footer_inner">


{% include "Tajrummy/middle_menu.html" %}

</div>
</div>



<!--FOOTER ENDS HERE-->
</body>
</html>
