<div id="profiling">
            <h2>SQL queries</h2>
            <table cellpadding="6" cellspacing="3" border="1">
                <thead>
                    <tr>
                       <th>SQL Count</th>
	Add a comment to this line
                       <th>Time</th>
                       <th>SQL</th>
                    </tr>
                </thead>
                <tbody>
                {% for q in queries %}
					{%if q.path %}
					{%if q.path != '/api/profiling/' and q.path != '/favicon.ico' %}
                    <tr class="path" id={{name}} style="background-color:grey">
					<td></td>
					<td >{{ q.time }}</td>
					<td ><p style="background-color:PaleGoldenRod;font-size:120%;">{{q.path}}</p>
						 <p style="background-color:pink;font-size:120%;">
							Number of SQL Queries executed: {{ q.total}}
						 </p>
						 <p style="background-color:lightgreen;font-size:120%;">
							DataBase Name: {{ q.database}}
						 </p>
					</td>
                    </tr>
                    {%endif%}
                    {% else %}
                    <tr class="sql">
						<td>{{ q.count}}</td>
                        <td>{{ q.time }}</td>
                        <td>{{ q.sql }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
