{% extends "admin/base.html" %}
{% load i18n %}
{% block coltype %}colM{% endblock %}
{% block branding %}
<h1 id="site-name">{% trans 'Rummy EGCS' %}</h1>
{% endblock %}

{% load pagination_tags %}
{% block content %}
{% if supportobj %}
<div style="border-bottom: 1px solid red; width:100%; color: blue; padding: 5px; margin: 5p; border-top: 1px solid red">
	
		Done – {{supportobj|length}} matches found.
	
</div>
{%endif%}
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Subject
        </th>
        <th>
            Message
        </th>
        <th>
            Timestamp
        </th>
    </tr>
        {%if supportobj%}
        {%autopaginate supportobj 10%}
    {% for i in supportobj%}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.subject}}</td>
        <td>{{i.message}}</td>
        <td>{{i.timestamp}}</td>
        
        
    </tr>
    {%endfor%}
{%endif%}
{%paginate%}
</table>

{% endblock %}
