<header class="header-full-width">
		
			
		<div class="menu-drop-down" style="display:none;">
        <ul class="drop-down-all-menu">
            <li><a href="/">Home</a></li>
			  
			  <li><a href="/affiliate-deals/">Deals</a></li>
			   <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Deals <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Deal1</a></li>
                  <li><a href="#">Deal2</a></li>
                  <li><a href="#">Deal3</a></li>
                </ul>
              </li> -->
			  
			  <li><a href="/our-brands/">Brands</a></li>
			  
			  <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brands<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Brand1</a></li>
                  <li><a href="#">Brand2</a></li> 
                  <li><a href="#">Brand3</a></li>
                </ul>
              </li> -->
			  
              <!-- <li><a href="/trn/fp-partners/">Partners</a></li> -->
              <li><a href="/affiliate-marketing/">Marketing</a></li>
			 <!--  <li><a href="#">FAQ</a></li> -->
              <li><a href="#footer-final-contact">Contact</a></li>
			 <!--  <li><a href="#">Network</a></li> -->
            <!--   <li><a href="#">News</a></li> -->
            
        </ul>
		</div>
		
		<div class="row header-full-bg">
			
			<div class="col-md-12 col-sm-12 text-center mobile-col-2">
			
				<a href="/"><img src="/static_files/fp_images/fp_logo_white.svg" class="fp-logo"/></a>
				<a href="/"><img src="/static_files/fp_images/fp_logo_white1.svg" class="mobile-fp" style="display:none;"/></a> 
			
			</div> <!-- Second one -->
			
			
			
			
			<div id="navbar" class="navbar-collapse">
			
			<div class="container" id="nav-all">
			
			<div class="bs-example col-sm-6">
   <div onclick="show_hide_menu(this);" style="cursor:pointer;">
        <a href="#" class="menu-text"><img class="menu-close" src="/static_files/fp_images/trn-menu.png" /> <span class="padding-left-two">Menu</span></a>
	
    </div>
</div>

				<ul class="nav-main nav navbar-nav">
              <li><a href="/">Home</a></li>
			  
			  <li><a href="/affiliate-deals/">Deals</a></li>
			   <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Deals <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Deal1</a></li>
                  <li><a href="#">Deal2</a></li>
                  <li><a href="#">Deal3</a></li>
                </ul>
              </li> -->
			  
			  <li><a href="/our-brands/">Brands</a></li>
			  
			  <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brands<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Brand1</a></li>
                  <li><a href="#">Brand2</a></li>
                  <li><a href="#">Brand3</a></li>
                </ul>
              </li> -->
			  
              <!-- <li><a href="/trn/fp-partners/">Partners</a></li> -->
              <li><a href="/affiliate-marketing/">Marketing</a></li>
			 <!--  <li><a href="#">FAQ</a></li> -->
              <li><a href="#footer-final-contact">Contact</a></li>
			  <!-- <li><a href="#">Network</a></li> -->
            <!--   <li><a href="#">News</a></li> -->
             
            </ul>
			
			</div>
			
			</div>
			

		
		</div> <!-- Row Div -->
			
		</header>