<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{{partner}}</title>
    
    <link rel="icon" href="/static_files/new_wynta/images/favicon-dash.ico" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
     <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet"/>
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet"/>

<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />

  
    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
  

<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <style>
	
	.existC {font-size:15px;}
	.top25 {top:25%;}
	.viewC {
		    padding: 5px;
    font-size: 15px;
    box-shadow: none !important;
    width: 90px;
    text-align: center;
	    background: #0091e0 !important;
	}
	
	.viewC:hover { box-shadow: none !important;
	background: #1788c5 !important;
	}
	
	.closeC {padding: 10px !important;
    font-size: 15px !important;
    box-shadow: none;
    padding-left: 15px !important;
    padding-right: 15px !important;
    background-color: #ff0000 !important;
    color: #fff !important;
    text-shadow: none;
    opacity: 1;
    width: 80px;
    font-weight: normal;}
	
	.mleft-80 {margin-left:-80px;}

    

   .button-large {
       margin-left:30px !important;
       } 
    
    
    label#multiple-checkboxes-error {    position: relative;
    top: 70px;
    left: -48px;}
    
    .delete-focus:focus {background:#ff0000 !important; border:none !important;}
    
    .multiselect-clear-filter, .multiselect-search {display:none;}
    
.btn-group {
    width:100%;
    }

.button-submit-one {    font-size: 14px !important;
    background: red;
    border: none;}
    
    .delete-focus, .delete-focus:hover {
    margin-left: 15px; background: red !important; border: none; height:32px;}
    
    
    
    .button-delete-one { font-size: 14px !important;
    background: #e6e6e6; height:32px;
    color: #000;
    border: none;}
    
    .button-delete-one:hover, .button-delete-one:focus {
    margin-top: 5px;
    margin-left: 15px; color:#000 !important; height:32px; background: #e6e6e6 !important; border:none !important;}


.btn-group>.btn:first-child {
    margin-left: 0;
    background: none;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    height: 38px;
    font-size: 14px;
    text-align: left;
    background: none !important;
    border: 1px solid #ccc !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;}

.multiselect-container>li>a>label {padding-left:0px;}

select.form-control:not([size]):not([multiple]) {height: calc(2.09rem + 2px) !important;}

label.margin-bottom-space {}

.dropdown-toggle::after { margin-top:-12px;}
.multiselect-container {  width:98.5%;  position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 100%;
    color: rgb(0, 0, 0);}
    
    label.checkbox {    color: #000 !important;
    vertical-align: middle;
    padding-left: 0;
    text-transform: capitalize;
    display: block;
    }
    
    .multiselect-container>li>a>label>input[type=checkbox] {
    vertical-align: middle;
    margin-right: 2px; margin-bottom:0px;
}
    .ui-dialog{
  z-index: 999999 !important;
  top: 120px !important;
}
    ul.inner {display:block;}
    
    .bs-placeholder {width: 100%;
    height: 38px;
    border-radius: 0;
    background: none;
    border: 1px solid #ccc;
    font-size: 14px;}
    
    .table td, .table th {border-top:none;}
    .selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
    .form-control {}
    .egcs_submit_button {margin-top: 5px;margin-left: 15px;}
    
    .button-delete { width: 85px;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
    
    .button-delete:hover { width: 85px;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
    
    .delete-focus, .
    
    /****** CODE ******/

.file-upload{padding-top:0px; display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #e4e4e4;color: #34495e;cursor:pointer;height:32px;line-height:32px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#f2f2f2;padding:0 10px;display:inline-block;height:36px;line-height:36px;}
.file-upload .file-select .file-select-name{line-height:32px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select {height:40px;}

/****** CODE ******/

.im-field {    width: auto;
    margin-top: 10px;}
    
    .payment-button {    margin-top: 10px;
    border-radius: 0px;
    padding: 10px;
    width: 200px;
    border: none;
    box-shadow: none;}
    
    .payment-button:hover {    margin-top: 10px;
    border-radius: 0px;
    padding: 10px;
    width: 200px;
    border: none;
    box-shadow: none;}
    
.ui-dialog {position:fixed !important;}
#cover {position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99999;
    width: 100%;
    height: 100%;
   }

   #countryBody {
       max-height: 400px;
       overflow: auto;
   }
   .select-class-one {margin-top:15px;}

   .multiselect-selected-text{color:#67757c;}
.dropdown-toggle::after {color:#67757c;}




.multiselect-selected-text {width:97%;}

.multiselect-container {margin-top:-1px !important;overflow-x:hidden; overflow-y:scroll;}

.btn-group>.btn:first-child {outline:0 !important;}

.label-block {display:block;}

.dashboard-select {width:100% !important;}

.bootstrap-select.btn-group .dropdown-menu.show {padding-top:0; padding-bottom:0;}

.bootstrap-select.btn-group .dropdown-menu li a span.text,
.bootstrap-select.btn-group .dropdown-toggle .filter-option {color:#000;}

.bootstrap-select.btn-group .dropdown-menu.show, .bootstrap-select.btn-group .dropdown-menu.inner
 { margin-top:-1px;}
 
 .bootstrap-select.btn-group .dropdown-menu.inner {
    display: block;
    max-height: 200px !important;
    overflow-x: hidden;
    min-height: 100px;
}

.select-class-one {padding-left:10px;}

.bootstrap-select.btn-group .dropdown-menu {}
 
 .rev-question .tooltiptext {
    font-family: sans-serif;
    visibility: hidden;
    width: 275px;
    background-color: #e9e9e9;
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    right: -131px;
    font-size: 13px;
    padding: 10px;
    line-height: 21px;
}

.rev-question:hover .tooltiptext {
    visibility: visible;
}

.rev-question {
    position: relative;
    display: inline-block;
}
.rev-question {
    font-size: 16px;
}

.referal-help {
    position: relative;
    display: inline-block;
}
.referal-help {
    margin-left: 2px;
    font-size: 18px;
    color: #0091e0;
    cursor: pointer;
    top: 0px;
}

.referal-help:hover .tooltiptext {
    visibility: visible;
}
.referal-help .tooltiptext {
    font-family: sans-serif;
    visibility: hidden;
    width: 285px;
    background-color: #e9e9e9;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -76px;
    font-size: 13px;
    left: 150%;
    padding: 10px;
    line-height: 21px;
    text-align: left;
}

label.margin-bottom-space {
    width: 100px;
    text-align: left;
    float: left;
    display: inline;
}



.cam-input {width:80% !important;}


span.multiselect-native-select {width:100%;}

.form-inline .multiselect-container label.checkbox {padding-left:20px;}


@media (max-width: 767px) {

.plus-minus-circle {
    font-size: 24px;
    margin-left: -20px;
    margin-top: 6px;
}

.tyreM {padding-left:0; padding-right:0;}

.mleft-80 {margin-left:-15px;}
.start-end {padding-left:0;}
legend {width:98% !important;}
.to-from-date {margin-left:0px;}

.referal-help .tooltiptext {
       background-color: #e9e9e9;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 28px;
    font-size: 13px;
    left: -192px;
    padding: 10px;
    line-height: 21px;
    text-align: left;
}

.fa-info-circle:before {
       content: "\f05a";
    right: 0;
    top: -19px;
}

.footer {position:relative;}

body { -webkit-overflow-scrolling: touch;}

.cam-input {width:98% !important;}

.btn-group>.btn:first-child {width:100%;}

.page-titles .breadcrumb {font-size:12px;}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.mobile-100 {width:100%; padding-right:0; display:block;}

.mobile-bot {margin-bottom:10px;}
label#multiple-checkboxes-error {top:58px;left:0; bottom:-10px;}
.btn-group {width:97% !important;}
.card {padding-left:20px}
    .im-left {width:30%;}
    .skype-right {width:70%;}
    .button-large {
    margin-top: 40px; 
}
}

label.error {
    color: #ff0000 !important;
    position: absolute;
    line-height: 1;
    font-size: 14px;
    margin-bottom: 7px;
    display: block;
    margin-top: 2px;
}

.font-small {font-size:13px;}

.hidden-none {visibility:hidden;}  

.plus-circle {color:#0091e0;}
.minus-circle {color:#ff0000;position: absolute;
    right: 3px;}

.plus-minus-circle {font-size: 24px;
    margin-left: -20px;
    margin-top: 6px;}
	
.commissionContent {line-height: 45px;
    display: inline-block; color:#333; margin-bottom:0;}

.commissionTime {vertical-align: middle;
    height: 45px;
    line-height: 45px; color:#777 !important;
    font-size: 15px; margin-bottom:0;}


#searchComm {height: 38px;
    margin-top: 5px;
    box-shadow: none;}
    
    </style>

</head>
<style type="text/css">

</style>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
    
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
        
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
                        <h3 class="text-primary">{{data.c_type}}</h3>
                    </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li>
						<!-- <button type="button" class="btn btn-success pl-3 pr-3" data-toggle="modal" data-target="#deductionLogs">
							Logs
						</button> -->
						</li>
                    </ol>
                
                
                    
                </div>
            </div>
            <!-- End Bread crumb -->
           
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
                
 <div class="table-toolbar">
                            <div class="row" id="validation-div" style="display: none;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-danger alert-error-msg">
                                            <center> <span>Please add the values for commission you have checked. </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                
                                {%if data.message %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}

                                {% if data.affiliate_exist %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    
                                    <div class="alert alert-danger alert-error-msg">
                                            <center> <span>{{data.affiliate_exist}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-12 search-options">
                                        <div>
                                          {%if data.call == 'POST'%}
                                        <form action="/admin/affiliatecommission" data-method="POST" method="POST" id="affForm" enctype="multipart/form-data" onsubmit="return check_valid()" class="form-horizontal" novalidate="">
                                          {% else %}
                                          <form action="/admin/affiliatecommission/{{data.id}}" id="affForm" data-method="PUT" enctype="multipart/form-data" onsubmit="return check_valid()" name='affForm' role="form">
                                            {% endif %}
                                        <fieldset>
                                        
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
                                        <p class="select-class-one">Select the type(s) of commission (check appropriate boxes), set triggers and relevant values where applicable:
                                            <i class="fa fa-question-circle rev-question">
                                            
                                            <span class="tooltiptext">
                                            
                                            Choose to set commissions/ deals for your affiliates from a variety of options:<br/>
                                            Revenue share (Revshare), Cost per Acquisition (CPA) or Revshare-CPA hybrids<br/><br/>
                                            
                                           
                                            
                                            <a href="http://blog.wynta.com/" target='_blank' style="    color: #000;
font-weight: bold;
text-decoration: underline !important;transition: inherit;">Read how to do this in our Help Centre</a>
                                            
                                            </span>
                                            </i></p>
                                        <div class="row">
                                        
                                            <div class="form-group-all form-inline col-lg-12 col-md-12 col-sm-12 pull-left" style="display:none;">
                                                  

												  
												  <div class="form-group-all form-inline col-lg-12 col-md-12 col-sm-12 pull-left pl-0 pr-0 mb-3" style="display:none;">
                                                 
												 
												 
												  <div class="mobile-100 col-lg-3 col-sm-12">
                                    <span class="aff-cam d-block pb-2">Type :</span>
                                    
                                       <select class="selectpicker dashboard-select typeSelect" tabindex="-98" name="comm_type" id="comm_type" value="{{data.comm_type}}">

										  
										   <option value="default">Program level </option>
                                           {% if data.siteid %}
                                                <option value="brand" selected="selected">Brand level</option>
                                            {% else %}
                                                <option value="brand">Brand level</option>
                                           {% endif %}
										   
                                            {% if data.fk_affiliateinfo  %}
                                                <option value="affiliate" selected="selected">Affiliate Level</option>
                                            {% else %}
										        <option value="affiliate">Affiliate Level</option>
                                           {% endif %}
                                           {% if data.siteid  and data.fk_affiliateinfo and not data.fk_campaign%}
                                           <option value="affiliateplusbrand" selected="selected">Affiliate + Brand Level</option>
                                           {% else %}
                                           <option value="affiliateplusbrand">Affiliate + Brand Level</option>
                                           {% endif %}
                                           {% if data.fk_campaign and not data.siteid and not data.fk_affiliateinfo %}
                                                <option value="campaign" selected="selected">Campaign Level</option>
                                            {% else %}
                                                <option value="campaign">Campaign Level</option>
                                           {% endif %}
                                           {% if data.fk_campaign and data.siteid and not data.fk_affiliateinfo%}
                                           <option value="campaignplusbrand" selected="selected">Campaign + Brand Level</option>
                                           {% else %}
                                           <option value="campaignplusbrand" >Campaign + Brand Level</option>
                                           {% endif %}
										   
										</select>
                                    </div>
									
									
                                    <div class="mobile-100 col-lg-3 col-sm-12 show-div">
                                    <span class="aff-cam d-block pb-2">Country :</span>
                                    
                                                    <select id="multiple-checkboxes" class="form-control dashboard-select" multiple="multiple" tabindex="-98" name="country">

                                        {%for i in data.country_list %}
                                                {% if i.0 in data.country %}
                                                
                                                <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                                {%else%}
                                                
                                                <option value="{{i.0}}">{{i.1}}</option>
                                                {% endif %}

                                        {%endfor%}
                                    </select>
                                    </div>
									
                                    <div class="mobile-100 col-lg-6 col-sm-12 show-div pr-0 mt-4">
                                        <a href="/admin/view-commission" class="pull-right"><button type="button" class="btn btn-success pl-3 pr-3 pull-right" id='searchComm'>
                                            View Commissions
                                        </button></a>
                                    </div>
									
									<div class="clear"></div>
									<br/>
												  
										</div>	
                                        {% if data.fk_affiliateinfo %}
                                                <div class="mb-3 mobile-100 col-lg-3 col-sm-12 affiliate affiliateplusbrand">
                                        {% else %}
                                               <div class="mb-3 mobile-100 col-lg-3 col-sm-12 affiliate affiliateplusbrand" style="display: none;">
                                        {% endif %}
                                        <span class="aff-cam d-block pb-2">Affiliate :</span> 
                                                        <!-- <input type="text" class="form-control aff-input-one" value="{{data.affiliate}}" id="" placeholder="" readonly> -->
                                                    <select id="subaff_id" name="fk_affiliateinfo" txt="{{data.fk_affiliateinfo}}" class="selectpicker dashboard-select" data-live-search="true" data-show-subtext="true" data-live-search="true" style="height:34px;border:1px solid #19b8f8;width:240px; font-size:14px;position: relative;" tabindex="-98">
                                        <option value=""> Select Affiliate </option>
                                        {% for aff in data.affiliates_list %}
                                            {% if aff.0|stringformat:"i" == data.fk_affiliateinfo|stringformat:"i" %}
                                            <option class="short" value="{{aff.0}}" selected="selected">{{aff.1}}</option>
                                            {% else %}
                                            <option class="short" value="{{aff.0}}">{{aff.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                          </select>
                                                    </div>
                                            {% if data.siteid %}
                                                <div class="mb-3 mobile-100 col-lg-3 col-sm-12 brand affiliateplusbrand">
                                            {% else %}
                                                <div class="mb-3 mobile-100 col-lg-3 col-sm-12 brand affiliateplusbrand" style="display: none;">
                                            {% endif %}

                                                <span class="aff-cam d-block pb-2">Brands :</span> 
                                                <!-- <input type="text" class="form-control brand-input" value="{{data.brand}}" id="" placeholder="" readonly> -->
                                                    <select class="selectpicker dashboard-select" val="{{data.siteid}}" data-live-search="true" name="siteid" id="siteid">
                                                        <option value="">Select Brand</option>
                                        {%for i in data.sites_list %}
                                            {% if i.0|stringformat:"i" == data.siteid|stringformat:"i" %}
                                            <option class="short" data-limit='15' value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option class="short" data-limit='15' value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
                                                    </div>
                                    
                                    {% if data.fk_campaign %}
                                        <div class="mobile-100 col-lg-3 col-sm-12 campaign mb-3">
                                    {% else %}
                                        <div class="mobile-100 col-lg-3 col-sm-12 campaign mb-3" style="display: none;">
                                            
                                    {% endif %}
                                    <span class="main-cam d-block pb-2">Campaign :</span> 
                                    <!-- <input type="text" class="form-control cam-input" value="" id="" placeholder="" readonly></label> -->
                            
                                <!-- <input type="hidden" class="form-control cam-input" name="fk_campaign" value="" id="" placeholder=""> -->
                                
                                <select class="selectpicker dashboard-select" name="fk_campaign" id="campaign">
                                        {%if 'Commission: Default' not in request.session.c_type%}
                                        {%for i in data.campaign_list %}
                                        {% if data.fk_campaign == i.0 %}
                                        <option class="short" data-limit='15' value="{{i.0}}" selected="selected">{{i.1}}</option>
                                        {%else%}
                                        <option class="short" data-limit='15' value="{{i.0}}">{{i.1}}</option>
                                        {% endif %}
                                        {%endfor%}
                                        {% endif %}
                                </select>
                                </div>
                                    
                                    
                                                
                                                </div>
                                        
                                        </div>
                                        
                                        
                                       <div class="profile-edit-details">
                                        
                                        
                                        <div class="to-from-date form-inline pl-0 mb-4">
                                                         
                                                        <div class="col-md-3">                         
                                                            <label for="from" class="start-end d-block pb-2">Start Date</label>
                                                            <input type="text" id="start_date" name="start_date" value="{{data.start_date}}" class="w-100 form-control checkbox-all">
                                                        </div> 
                                                        
                                                        <div class="col-md-3">
                                                            <label for="to" class="start-end d-block pb-2">End Date</label>
                                                            <input type="text" id="end_date" name="end_date" value="{{data.end_date}}" class="w-100 form-control checkbox-all">
                                                        </div>
														
														<div class="col-md-3 mt-4 pt-2">
                                                        {% if data.monthToDate == True %}
                                                            <input type="checkbox" class="checkbox checkbox-all" name="monthToDate" main="mon" id="monthToDate-checkbox" value="true" checked style="width: 20px !important;height: 20px;vertical-align: top;display: inline-block;position: relative;">
                                                        {% else %}
                                                            <input type="checkbox" class="checkbox checkbox-all" name="monthToDate" main="mon" id="monthToDate-checkbox" value="true" style="width: 20px !important;height: 20px;vertical-align: top;display: inline-block;position: relative;">
                                                        {%endif%}
                                                        <span class="checkmark"></span>
                                                       &nbsp;&nbsp;
                                                Apply Month-to-date 
                                                        </div>
                                                    
                                                        
                                                    </div> <!-- End of To from date -->

                                       <!--  <div class="to-from-date row">           
                                                    <div class="col-md-5 row">
                                                        <button type="button" class="btn btn-success pl-3 pr-3" id='searchComm'>
                                                            View Commissions
                                                        </button>
                                                    </div>

                                                    <div class="col-md-5 row mleft-80">
                                                        <button type="button" class="btn btn-success pl-3 pr-3" style="display: none;" id='newComm'>
                                                            New Commission
                                                        </button>
                                                    </div>
                                                </div> End of To from date -->
                                        
                                             <fieldset id='commform'>
                                             
                                    
                                    
                                                <legend class="heading-all-page">
                                                {% if data.revshare %} 
                                                        <input type="checkbox" class="checkbox checkbox-all" name="revshare" main="rev" id="revshare-checkbox" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox checkbox-all" name="revshare" main="rev" id="revshare-checkbox" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
                                                 Revenue share
                                                </legend>
                                        
                                        <div class="clear"></div>
                                        
                                        <div class="row rev-main" style="margin-left:0px;">
                                        
                                                <div class="form-group col-md-3 col-sm-12 pull-left" style="">
                                                    <label>Revenue share Percentage</label>
                                                    {% if data.revshare %} 
                                                    <input type="tel" class="form-control rev-save" name="revsharepercent" value="{{data.revsharepercent}}" id="percent-rev" placeholder="" />
                                                    {%else%}
                                                    <input type="tel" class="form-control rev-save" name="revsharepercent" value="" id="percent-rev" placeholder="" />
                                                    {%endif%}
                                                </div>
                                                
                                                
                                                <div class="form-group col-md-9 col-sm-12 pull-right" style="float:left;" dal="{{data.pocdeduction}}">

                                                    {% if not data.fk_campaign %}
                                                    <div class="form-group col-md-12 col-sm-12 pull-right pl-0" style="float:left;" dal="{{data.ringfence}}" d="{{data.fk_campaign}}">
                                                    <label>
                                                    {% if data.ringfence == True %} 
                                                        <input type="checkbox" class="checkbox rev-save checkbox-all" name="ringfence" id="ringfence" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% elif data.ringfence == False %}
                                                        <input type="checkbox" class="checkbox rev-save checkbox-all" name="ringfence" id="ringfence" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox rev-save checkbox-all" name="ringfence" id="ringfence" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
                                                    Ring-fence
                                                    
                                                    </label><br/>
                                                    
                                                    <p class="font-small">Ring-fencing means protecting your affiliates from negative revenue. When this box is checked, if an affiliate generates negative revenue for a given month, it will be neutralized, i.e. zero-ed out. In case of a hybrid deal, ring-fencing would allow your affiliates to earn the CPA amount they are eligible for. Unchecking the box would mean the negative would affect their Revenue share.</p>
                                                    
                                                    </div>
                                                    
                                                    {% endif %}
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    </div>
                                                
                                                    
                                                    
                                                        
                                                </div> <!-- Rev share first -->
                                                    
                                                <div class="clear"></div>

                                                
                                                <legend class="heading-all-page">
                                                {% if data.cpachoice %} 
                                                        <input type="checkbox" id="cpa-checkbox" class="checkbox checkbox-all" name="cpachoice" main="cpa" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
   
    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox"  id="cpa-checkbox" class="checkbox checkbox-all" name="cpachoice" main="cpa" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
   ">
                                                        <span class="checkmid="cpa-checkbox" ark"></span>
                                                        {% endif %} &nbsp;&nbsp;
                                                CPA
                                                </legend>
                                                
                                                
                                                <div class="clear"></div>
                                                
                                                <div class="row cpa-main" style="margin-left:0px;">
                                                
                                                <div class="form-group col-md-3 col-sm-12 pull-left" style="float:left;">
                                                    <label>CPA Criterion</label>
													
													<select class="form-control affinfo_col_data height-specify cpa-save" id="select-criteria" name="criteriaacquisition">
      
                                                        <option>Select </option>
                                                        {% if data.criteriaacquisition == 'Registration' %}
                                                        <option selected="selected">Registration</option>
                                                        {% else %}
                                                        <option>Registration </option>
                                                        {% endif %}
                                                        {% if data.criteriaacquisition == 'FTD' %}
                                                        <option selected="selected">FTD</option>
                                                        {% else %}
                                                        <option>FTD</option>
                                                        {% endif %}
														<!-- <option>Bets </option>
														<option value="5">FTD + Bets </option> -->
                                                      

                                                    </select>
													
                                                </div>
                                                <div class="form-group col-md-3 col-sm-12 pull-left">
                                                    <label>Currency</label>
                                                    <select name="currency" class="form-control  cpa-save">
                                                    {% if data.currency == 'euro' %}
                                                    <option value="gbp">GBP</option>
                                                    <option value="euro" selected="selected">Euro</option>
                                                    {% else %}
                                                    <option value="gbp" selected="selected">GBP</option>
                                                    <option value="euro">Euro</option>
                                                    {% endif %}
                                                    
                                                </select>
                                                </div>
                                                <div class="form-group col-md-3 col-sm-12 pull-left">
                                                    <label>Baseline </label>
                                                    {% if data.criteriavalue == 0 and data.criteriaacquisition == 'Registration'%}
                                                    <input type="tel" class="form-control cpa-save" name="criteriavalue" value="0.00" id="baseline-cpa" placeholder="0.00" disabled>
                                                    {% else %}
                                                    <input type="tel" class="form-control cpa-save" name="criteriavalue" value="{{data.criteriavalue}}" id="baseline-cpa" placeholder="0.00">
                                                    {% endif %}
                                                </div>
                                                
                                                
                                                
                                                <div class="form-group col-md-3 col-sm-12 pull-left">
                                                    <label>CPA Amount </label>
                                                    <input type="tel" class="form-control cpa-save" id="cpa-amount" name="cpacommissionvalue" value="{{data.cpacommissionvalue|default_if_none:''}}" placeholder="0.00">
                                                </div>
                                                
                                                    
                                                    
                                                    
                                                
                                                </div> <!-- Row -->
                                                
                                                
                                                <div class="form-group col-md-12 col-sm-12 pull-right  mt-2 exclude_data" dal="{{data.exclude_rev}}">
                                                    <label>
                                                    {% if data.exclude_rev == True %} 
                                                        <input type="checkbox" class="checkbox checkbox-all" name="exclude_rev" id="exclude_rev" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% elif data.exclude_rev == False %}
                                                        <input type="checkbox" class="checkbox checkbox-all" name="exclude_rev" id="exclude_rev" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox checkbox-all" name="exclude_rev" id="exclude_rev" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
                                                    Exclude Revenue share for qualifying first deposit
                                                    
                                                    </label><br/>
                                                    
                                                    <p class="font-small">NB: Applicable only on CPA-Revenue share Hybrid deals (both sections above must be activated)
If you would like to exclude Revenue share for the first deposit of a player (which triggered the CPA), please leave this box checked. Unchecking it will award your affiliate both the CPA amount as well as the Revenue share for that deposit. Revenue share for subsequent deposits by the same player will not be affected either way.</p>
                                                    
                                                    </div>
                                                    
                                
                                                <div class="clear"></div>
												
												
												
											
												
												
												
                                            
                                                
                                                <legend class="heading-all-page" style="margin-top:25px;">
                                                 {% if data.referalchoice %} 
                                                        <input type="checkbox" class="checkbox checkbox-all" name="referalchoice" main="ref" id="referal-checkbox" value="true" checked style="width: 20px !important;height: 20px; vertical-align: top;display: inline-block;position: relative;">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox checkbox-all" name="referalchoice" main="ref" id="referal-checkbox" value="true" style="width: 20px !important;height: 20px;vertical-align: top;display: inline-block;position: relative;">
                                                        <span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
                                                Referral Affiliates 
                                                <i class="fa fa-info-circle referal-help">
                                                <p class="tooltiptext">You can choose to pay your affiliates an additional component for referring other affiliates to sign up. When the referred affiliates start generating revenue, you can award the referring affiliate a percentage of the earnings of the referred affiliates. You could, however, choose not to use this option.</p>
                                                </i>
                                                </legend>
                                                
                                            <div class="row ref-main" style="margin-left:0px;"> 

                                                <div class="form-group col-md-3 col-sm-12 pull-right" style="float:left;">
                                                    <label>Revshare Percentage</label>
                                                    <input type="tel" class="form-control ref-save" name="referalcommissionvalue" value="{{data.referalcommissionvalue|default_if_none:''}}" id="percent-ref" placeholder="">
                                                </div>
                                                
                                                </div> <!-- Rev referal div ends -->
                                                
												<!-- <legend class="heading-all-page mt-3"> -->
												
													<!-- <input type="checkbox" class="checkbox checkbox-all" name="monthToDate" main="mon" id="monthToDate-checkbox" value="true" style="width: 20px !important; -->
    <!-- height: 20px; -->
    <!-- vertical-align: top; -->

    <!-- display: inline-block; -->
    <!-- position: relative; -->
   <!-- "> -->
                                                        <!-- <span class="checkmark"></span> -->
                                                       <!-- &nbsp;&nbsp; -->
                                                <!-- Apply Month-to-date  -->
												
												
												
                                                <!-- </legend> -->
                                                <legend class="heading-all-page" style="margin-top:25px;">
                                                    NOTES
                                                   <i class="fa fa-info-circle referal-help">
                                                   <p class="tooltiptext" style="margin-top: 55px;">Please add a description for this Commission (Optional)
                                                   </p>
                                                   </i>
                                                   </legend>
                                                   
                                               <div class="row ref-main" style="margin-left:0px;"> 
                                                <label>&nbsp;&nbsp; &nbsp;Description</label>
                                                   <div class="form-group col-md-12 col-sm-12 pull-right">
                                                       
                                                       <textarea type="text" rows="3" cols="153" style="box-shadow: none;border-color: #ccc;"  name="notes" value="{{data.notes}}" id="notes" placeholder=""> {{data.notes|safe}}</textarea>
                                                   </div>
                                                   
                                                   </div> <!-- Notes div ends -->
                                                
                                                <div class="row submit-endb">
                                                
                                                
                                                <div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                                {%if data.call == 'POST'%}
                                               <button class="btn btn-purple button-large button-web-get submit-endb-hide" title="" type="submit" value="" style="">Submit</button>
                                            {% else %}
                                            <button class="btn btn-purple button-large button-web-get submit-endb-hide" type="submit" value="" onclick="return check_valid()" style="">Submit</button>
                                            
                                             {% endif %}
                                            </span>
                                        </div>
                                        
                                        </div> <!-- Submit button div -->
                                                
                                                
                                            </fieldset>
                                            
                                            <div id='commDiv' class="table table-responisve" style="display: none;">
                                                <table class="table-cont table table-striped table-bordered table_header_background" cellspacing="0" width="100%" id="commTable" style=""></table>
                                            </div>
                                        
                                        
                                        </div>
                                      </fieldset>
                                        </form>
                                        
                                        </form>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </div>
                        
                            </div>
                    </div>
                    </div>
          </div> <!-- First div card -->
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
             {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->   
</div>
<!-- LOGS -->
 <!-- The Modal -->
  <div class="modal" id="deductionLogs">
    <div class="modal-dialog modal-lg modal-dialog-centered mw-100 w-90">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Commission Logs</h4>
          <button type="button" class="close dismiss" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body container-fluid">
			<div class="commissionLogs mt-0 mb-0 ml-3 mr-3" id="commissionLogs">
			</div> <!-- logs Commissions  -->
        </div>     
      </div>
    </div>
  </div>
<!-- LOGS ENDS -->	
<div class="modal fade modal-check" id="countryModal" style="height: 100%;width: 100%;" role="dialog">
    <div class="modal-dialog top25 modal-dialog-centered">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" id="countryBody">
        </div>
        <div class="modal-footer" id="countryFooter">
        </div>
      </div>
    </div>
  </div>

<script>
 $(document).ready(function() {
 console.log("Page location is " + window.location.href);
 url = window.location.href;
 id = (url.split('/'))[url.split('/').length-1];
 console.log('id in'+id);
 
 $.ajax({
	url: "/admin/get-logs/?&model=affiliatecommission", 
	method: 'GET',
	contentType: "json",
    success: function(data) {
         var commission = "";
		 logs = JSON.parse(data)['change_logs'];
		 console.log('type of data'+ typeof(data));
		 console.log('parsed data'+ JSON.parse(data));

	// This Commission variable will have the results to be displayed in an array
		for (var i=0; i<logs.length; i++) {
		var message = "";
		for(var key in logs[i].diff){
		if(logs[i].diff[key][0] !="N/A" && logs[i].diff[key][1] !="N/A" ){
			message += " "+key+ " from "+ logs[i].diff[key][0]+ " to " +logs[i].diff[key][1];
			}
			}
			if (message){
		  commission += '<div class="p-2 bg-light border radius row mb-2">'+
						'<div class="col-md-10 pl-0">'+
							'<img class="pul-left pr-2" src="/static_files/new_wynta/images/wynta_circle_logo.svg" width="45" height="45" />'+
						'<p class="commissionContent">'+logs[i].user+' '+logs[i].action+'d '+ message +'</p>'+
						'</div>'+
						'<div class="col-md-2 commissionContent">'+
							'<p class="commissionTime pull-right">'+logs[i].time+'</p>'+
						'</div>'+
					'</div>'; 
					}
		}
		document.getElementById("commissionLogs").innerHTML = commission;
		}
		});
 });
</script>
<script>
$('#select-criteria').change(function() {
	if ($(this).val() == 'Registration'){
        $('#baseline-cpa').prop('disabled', true);
        $('#baseline-cpa').closest('div').css('opacity', '0.5');
    }
    else{
        $('#baseline-cpa').prop('disabled', false);
        $('#baseline-cpa').closest('div').css('opacity', '1');
    }
 });
 
function add_row(id){

    $('#row-'+id).find('input').each(function(){
        $(this).val("");
    });
    $('#row-'+id).show();
}

function removeRowClick(id){
    $('#row-'+id).find('input').each(function(){
        $(this).val("");
    });
    $('#row-'+id).hide();
};

$(function () {
       $(".typeSelect").change(function () {
	   var val = $(this).val();
	   
	   if(val === "default") {
			$(".brand, .affiliate, .campaign").hide();
		}
		
	    if(val === "brand") {
			$(".brand").show();
			$(".affiliate").hide();
		}
	    else if(val === "affiliate") {
			$(".affiliate").show();
			$(".brand").hide();
		}
		else if(val === "affiliateplusbrand") {
			$(".brand, .affiliate").show();
			$(".campaign").hide();
		}
		else if(val === "campaign") {
			$(".campaign, .affiliate").show();
			$(".brand").hide();
		}
		else if(val === "campaignplusbrand") {
			$(".campaign, .brand").show();
			$(".affiliate").hide();
		}
		
        });
    });

document.querySelector(".rev-save").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});
        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
       <script>
//paste this code under head tag or in a seperate js file.
// Wait for window load
$(window).load(function() {
    // Animate loader off screen
    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
});
</script> 
<script>
$("#multiple-checkboxes, #datepicker").change(function(){
$(this).siblings('label#multiple-checkboxes-error, label#datepicker-error').hide();
});
</script>
<script type="text/javascript">
     $(document).ready(function () {
         $('#multiple-checkboxes').multiselect({
             includeSelectAllOption: true,
             enableFiltering: true,
             enableCaseInsensitiveFiltering: true,
             nonSelectedText: 'Select Country'
         }, 'selectAll');
         $("#multiple-checkboxes").multiselect('updateButtonText');
         $('.form-group-all').show();
         $("#multiple-checkboxes").multiselect('select', {{ data.country | safe }});
     $('#comm_type').on('change', function () {
         $('#campaign option').each(function () { $(this).remove() });
         // $('#siteid').val('');
         // $('#subaff_id').val('');
         $('.selectpicker').selectpicker('refresh');
     });

     $('#monthToDate-checkbox').change(function() {
        if(this.checked==true) {
            setMonthStart();
        }else{
            $('#start_date').val('');
            $('#end_date').val('');
        }
    });
     comm_list = function(headersList, dataList) {
        if ($.fn.DataTable.isDataTable('#commTable')) {
            $('#commTable').dataTable().fnClearTable();
            $('#commTable').dataTable().fnDestroy();
         }  
            $("#commTable").dataTable({
                "data": dataList,
                "columns": headersList,
                'ordering': false,               
                paging: true,
                searching: false,
                info: false,
                dom: 'Bfrtip',
                buttons: [
                    'csv',
                    'excelHtml5',
                    'pdfHtml5'
                ],
                "pageLength": 20,
                "autoWidth": false,
                "language": {
                    "emptyTable": "Nothing to see here... yet!"
                }
            });
        }
     $('#subaff_id').on('change', function () {
         if ($('#comm_type').val() == 'campaign' || $('#comm_type').val() == 'campaignplusbrand') {
             $('#siteid').val('');
         }
         if ($('#comm_type').val() == 'campaign') {
            $('#campaign').html('');
            campaignList = {{data.campaign_list|safe}}
            id = $('#subaff_id').val();
            campHTML = '';
            for (i = 0; i < campaignList.length; i++) {
                if (campaignList[i][3] == id) {
                    campHTML = campHTML + '<option value="' + campaignList[i][0] + '"> ' + campaignList[i][1] + ' </option>';
                    console.log('inside the campaign list options' + campaignList[i][0]);
                }
            }
            $('#campaign').html(campHTML);
        }
        $('.selectpicker').selectpicker('refresh');
        });
    $('#siteid').on('change', function () {
        if ($('#comm_type').val() == 'campaign' || $('#comm_type').val() == 'campaignplusbrand') {
            $('#subaff_id').val('');
         }
        // $('#subaff_id').val('');
        if ($('#comm_type').val() == 'campaignplusbrand') {
            $('#campaign').html('');
            campaignList = {{data.campaign_list|safe}};
        id = $('#siteid').val();
        console.log('insie site id' + id);
        campHTML = '';
        for (i = 0; i < campaignList.length; i++) {
            if (campaignList[i][2] == id) {
                campHTML = campHTML + '<option value="' + campaignList[i][0] + '"> ' + campaignList[i][1] + ' </option>';
            }
        }
        console.log('camphtml' + campHTML);
        $('#campaign').html(campHTML);
    }
    $('.selectpicker').selectpicker('refresh');
        });
                });
                setMonthStart = function () {
                        var today = new Date();
                        var mm = today.getMonth() + 1; //January is 0!
                        var yyyy = today.getFullYear();
                        if (mm < 10) {
                            mm = '0' + mm;
                        }
                        var today = '01' + '-' + mm + '-' + yyyy;
                        console.log('inside the otday' + today);
                        $('#start_date').val(today);
                        $('#end_date').val(LastDayOfMonth(yyyy, mm));
                    
                }
                function LastDayOfMonth(Year, Month) {
                        lastDay = new Date((new Date(Year, Month, 1)) - 1);
                        mm = lastDay.getMonth()+1
                        if(mm<10){
                            mm = '0' + mm;
                        }
                        var lastDate = lastDay.getDate() +'-'+mm +'-'+lastDay.getFullYear()
                        return lastDate
                    }
    $('#subaff_id option[value="{{data.fk_affiliateinfo}}"]').prop('selected', true);
    $('.selectpicker').selectpicker('refresh');
   
        // $('#countryBody').html('<p>'+ countryList +'</p>');
        //function closeModal() {
            //    $("#countryModal").modal('hide');
          //  }
           
</script>
<script>
              </script>
              <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>  
 
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <script src="//code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <!-- <script>
  $(document).ready(function() {
		$('.itemd').removeClass("active");
		$('.itemd[href="/admin/commissions-default/c#"]').addClass("active");
		//$('#commissionsadmin').addClass("active");
	});
</script> -->
  
 <script>
$('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');


function check_valid(){
    sendData = {
                    'country': $('#multiple-checkboxes').val(),
                    'start_date': $('#start_date').val(),
                    'end_date': $('#end_date').val(),
                    'type': 'default'
                };

    if ($('#comm_type').val() === "brand") {
        sendData.brand = $('#siteid').val();
        sendData.type = "brand"
    }
    else if ($('#comm_type').val() === "affiliate") {
        sendData.subaff_id = $('#subaff_id').val();
        sendData.type = "affiliate"
    }
    else if ($('#comm_type').val() === "affiliateplusbrand") {
        sendData.brand = $('#siteid').val();
        sendData.subaff_id = $('#subaff_id').val();
        sendData.type = "affiliateplusbrand"
    }
    else if ($('#comm_type').val() === "campaign") {
        sendData.campaign = $('#campaign').val();
        sendData.subaff_id = $('#subaff_id').val();
        sendData.type = "campaign"
    }
    else if ($('#comm_type').val() === "campaignplusbrand") {
        sendData.brand = $('#siteid').val();
        sendData.campaign = $('#campaign').val();

        sendData.type = "campaignplusbrand"
    }
    console.log('send date ' + JSON.stringify(sendData));
     
     $('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');

    if ($('#revshare-checkbox').prop('checked')== true && $('#percent-rev').val()==''){
        $('#validation-div').show();
        return false;
    }
    if ($('#referal-checkbox').prop('checked')== true && $('#percent-ref').val()==''){
        $('#validation-div').show();
        return false;
    }
    if ($('#cpa-checkbox').prop('checked')== true){
        if($('#select-criteria').val()=='FTD'){
            if($('#cpa-amount').val()=='' || $('#baseline-cpa').val()=='' ){
                $('#validation-div').show(); 
                return false;
            }
        }
        else if($('#select-criteria').val()=='Registration'){
            if($('#cpa-amount').val()==''){
                $('#validation-div').show(); 
                return false;
            }
        }else{
            $('#validation-div').show(); 
                return false;
        }
    }
    if ($('#cpa-checkbox').prop('checked')== false ){
        $('#select-criteria').val('');
    }
	
	if ($('#tiered-checkbox').prop('checked')== true && $('#percent-tiered').val()==''){
        $('#validation-div').show();
        return false;
    }
    if (!(window.location.href).includes('/admin/affiliatecommission/')) {
        if (sendData) {
            $.ajax({
                type: "POST",
                url: '/admin/search-commission/',
                async: false,
                data: JSON.stringify(sendData),
                dataType: 'json',
                success: function (res) {
                    check = true;
                    console.log('response' + res);
                    if (res.data_list.length > 0) {
                        Html = '<p class="existC">There are existing Commissions available for those dates. Click on the View/ Edit button to update them.</p>';
                        buttons = '<a href="/admin/view-commission/"><button type="button" class="btn btn-info viewC">View/ Edit</button></a><button type="button" class="close btn btn-default closeC" onclick="closeModal()" data-dismiss="modal">Close</button>'
                        $('#countryBody').html(Html);
                        $('#countryFooter').html(buttons);
                        $('#countryModal').modal();
                        check = false;
                        sessionStorage.setItem('multiple-commissions', JSON.stringify([sendData, res]))
                    }
                },
            });
        }
        return check;
    }else{
        $('#validation-div').hide();
        return true;
    }
}

  $(document).ready(function(){

    $('.submit-endb-hide').prop('disabled', true);
    {% if data.cpachoice and data.revshare %} 
        $('.exclude_data, #exclude_rev').prop('disabled', false);
        $('.exclude_data').css('opacity', '1');
    {% else %}
        $('.exclude_data, #exclude_rev').prop('disabled', true);
        $('.exclude_data').css('opacity', '0.5');
    {% endif %}
    {% if not data.revshare %} 
        $('.rev-save').prop('disabled', true);
        $('.rev-main').css('opacity', '0.5');
    {% endif %}
    {% if not data.cpachoice %} 
        $('.cpa-save').prop('disabled', true);
        $('.cpa-main').css('opacity', '0.5');
    {% endif %}
	{% if not data.tieredchoice %} 
        $('.tiered-save').prop('disabled', true);
        $('.tiered-main').css('opacity', '0.5');
    {% endif %}
    {% if not data.referalchoice %}
        $('.ref-save').prop('disabled', true);
        $('.ref-main').css('opacity', '0.5');
    {% endif %}
    
    $('.ref-save, .cpa-save, .tiered-save, .rev-save').keyup(function() {
        $('.submit-endb-hide').prop('disabled', false);
    });
    
    $('select').change(function() {
    
        $('.submit-endb-hide').prop('disabled', false);
    });
    
    $('.multiselect-item').addClass('checkbox-all');

     $('.checkbox-all').click(function(){

        
         if($('.checkbox-all:checked').length==0 && $('#affForm').attr('data-method') == 'POST') 
         {
         $('.submit-endb-hide').prop('disabled', true);
        }
         else{
               $('.submit-endb-hide').prop('disabled', false);
         }
        
        if($(this).is(':checked')){
            $('.'+$(this).attr('main')+'-save').prop('disabled', false);   
             $('.'+$(this).attr('main')+'-main').css('opacity', '1');
         }
         else{
            $('.'+$(this).attr('main')+'-save').prop('disabled', true);
            $('.'+$(this).attr('main')+'-save').val('');
             $('.'+$(this).attr('main')+'-main').css('opacity', '0.5');
       }
       if ($('input[name="cpachoice"]').is(':checked') && $('input[name="revshare"]').is(':checked'))
       {
            $('.exclude_data, #exclude_rev').prop('disabled', false);
            $('.exclude_data').css('opacity', '1');
       }
	   
	   else{
			$('.exclude_data, #exclude_rev').prop('disabled', true);
         $('.exclude_data').css('opacity', '0.5');
	  }
        
    });
  
});

  </script>
  <script>
   closeModal = function(){
       //alert('isnde the close modal');
       $('#countryModal.in').modal('hide');
       $('.modal-backdrop').hide();
       $('.modal-content').hide();
       $('.modal-check').hide();

   }

</script>
 <script>
    $( function() {
        var dateFormat = "dd-M-yy",
            from = $( "#start_date" )
                .datepicker({
                    //defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd-mm-yy",
                })
                .on( "change", function() {
                    to.datepicker( "option", "minDate", getDate( this ) );
                }),
            to = $( "#end_date" ).datepicker({
               // defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: "dd-mm-yy",
            })
            .on( "change", function() {
                from.datepicker( "option", "maxDate", getDate( this ) );
            });

        function getDate( element ) {
            var date;
            try {
                date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
                date = null;
            }

            return date;
        }
    } );
    </script>
 
<!-- <script> -->
  <!-- $( function() { -->
    <!-- $( "#dob" ).datepicker({changeYear: true,changeMonth:true,yearRange: "-100:+0", maxDate: "-18y",dateFormat: "dd-mm-yy",}); -->
  <!-- } ); -->
  <!-- </script> -->
  
  <div id="cover" style="display:none;"></div>

</body>
</html>