<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}- Payment Details</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 
    <style type="text/css">
	
	label{
	position: relative;
	cursor: pointer;
	color: #666;
	font-size: 14px;
}

input[type="radio"]{
	position: absolute;
	right: 9000px;
}



/*Radio box*/

input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px; font-size:20px; vertical-align:-2px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #0091e0;
	    font-size: 20px;
    vertical-align: -2px;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #ccc;
}


@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}


.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left: 25px;
}
	
	
	.paymentOptions {    width: auto;
    position: absolute;
    right: 34px;
    top: 13px;}

.pull-left {clear:initial !important;}	

.check {width:100%;}
  


.checkbox-inline {
    padding-left: 0 !important;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1rem; cursor:default;
}

.checkboxD {vertical-align: -2px; cursor:pointer;
    margin-right: 8px !important;}

.paysDiv .check {display:none;}

.checkItem {display:none;}

.checkItem {color: #ff0000;
    position: absolute;
    clear: both;
    display: block;
    padding-top: 5px;}

.text-color {color:#000;}
    
.col-md-12 {
    padding-right: 15px !important;
}

.btn-single {left:0px !important; width:100% !important; top:-15px;}
.full-width-submit {}

.form-actions {padding-left:15px;}
.btn-success {width:80%;}

.user-info-navbar .user-info-menu>li.user-profile>a {border:none !important;}

.panel .panel-body {padding-top:0px;}

.form-control {}

.panel {margin-top:8px !important;}

.fa-copy {    font-size: 16px !important;
    position: relative;
    cursor: pointer;
    left: -43px;
    color: #ffffff;
    background: #36a9e1;
    padding: 12px;
  }
  
 .table>tbody>tr>td, .table>tfoot>tr>td, .table>tbody>tr>th, .table>tfoot>tr>th{border-bottom:none !important;}
  
  #messageiddiv{
  margin-top: -23px;
    width: 100%;
    margin-left: 38px;
  }
  .btn-popup-display {margin-left:23px; width:140px;}
  
    @media only screen and (max-width: 765px) { 
    
    .btn-popup-display {margin-left:0px !important; width:140px;}
    
    }
    
    .table_header_background tr td { border-bottom:none !important;
    vertical-align: middle !important;}
    
    .hr-line-big {width:100%; display:block; background:#ccc; height:2px;}
    
    .bootstrap-select dropup { border: 1px solid #e4e4e4;}
    
    .dropdown-toggle {}
    
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 160px;
}


@media only screen and (max-width: 1299px) and (min-width: 900px) {

.table_header_background {

    overflow-x:scroll; display:block;
}
    
}

@media only screen and (max-width: 767px) {

select {background:#fff !important; height:40px !important;}

.col-md-12 {
    padding-right: 15px !important;
}

.table_header_background {

    overflow-x:scroll; display:block;
}
    
}

@media (max-width: 767px) {
	.paymentOptions {
    width: auto;
    position: relative;
    right: 0;
    top: 0;
    margin-left: 10px;
}

.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
margin-left:5px;
}

}


.bootstrap-select {width:100% !important;}
.label-block {display:block;}
.bootstrap-select>.dropdown-toggle {
    width: 100%; font-size:14px;
    padding-right: 25px;
    z-index: 1;
    background: #fff;
    border: 1px solid #e7e7e7;
    height: 38px;
    border-radius: 0;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    display: block;
    max-height: 150px !important;
}

.dropdown-menu.show {margin-top:-1px;}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text,
.bootstrap-select.btn-group .dropdown-toggle .filter-option {color:#000;}

ul.banner-images-show {margin-top:10px;}

.bootstrap-select .dropdown-toggle:focus {outline:0 !important;}

.bootstrap-select.btn-group .dropdown-menu {padding-top:0; padding-bottom:0;}

.infoLabel {font-size: 40px !important;
    width: 50px;
    height: 45px;
    display: flex !important;
    float: left;
    padding: 2px;}
        
    </style>

	
	<script type="text/javascript">


        $(document).on("focus" , ".input-lg" , function () {

            $(this).removeAttr('placeholder');

        });

        $(document).on("focusout" , ".input-lg" , function () {

            if($(this).val() == ''){
                $(this).attr('placeholder' , "");
            }

        });

    </script>
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            
        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Payment Details</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">My Account</a></li>
                        <li class="breadcrumb-item active">Payment Details</li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
                            <div class="table-toolbar" style="margin-top: -17px;position:relative; left:-8px;top:30px;">
                                
                                {%if message %}
                                <div class="row" style="margin-top: 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    
									<div class="alert alert-success alert-success-msg">
                                            <center> <span>{{message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
								{% elif error_message %}
								<div class="row" style="margin-top: 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    
									<div class="alert alert-warning alert-error-msg">
                                            <center> <span>{{error_message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row" id='readDetails'>
                                        <!-- <div>
                                            <p class="p-2 w-99 m-2 mb-3 radius alert-danger" style="font-size: 15px;margin-top: -5px !important;">
                                                Please choose and enter details for any ONE of the following methods. Note: If you enter details for multiple
                                                methods, the details for the method you enter last before submitting this form will be the only ones recorded in
                                                the program.</p>
                                        
                                        </div> -->
                                    <div class="profile-details" style="margin-top: 0px;position:relative; left:8px;top:-5px;">
                      
                                        <div>
                                        <form action= "." class="" method="POST" role="form">
                                        {%csrf_token%}
                                        <input type="hidden" name="affid" value="{{aff_obj.id}}">
                                        <input type="hidden" name="format" value="json" />
                                       
									   <div class="profile-edit-details">
										
										
											 <fieldset>
											 
												<legend class="heading-all-page">
												
                                                    {% if data.accountnumber and " " not in data.accountnumber %}
                                                    <label class="checkbox-inline text-color">
                                                        <span class="label-text">Bank Wire Transfer</span>
                                                    </label>
                                                    {% endif %}
                                                    {% if data.paypal_username and " " not in data.paypal_username %}
                                                    <label class="checkbox-inline text-color">
                                                        <span class="label-text">Paypal</span>
                                                    </label>
                                                    {% endif %}
                                                    {% if data.neteller_accountnumber and " " not in data.neteller_accountnumber %}
                                                    <label class="checkbox-inline text-color">
                                                        <span class="label-text">Neteller</span>
                                                    </label>
                                                    {% endif %}
                                                    {% if noPay %}
													
													<div class="container">
													<div class="row">
													<div class="col-md-6 pl-0">
                                                        <p class="pull-left text-dark font-weight-normal pt-2 mt-1 mb-0 textChange"> {{noPay}}</p>
													</div>
													
													<div class="col-md-6 pr-0">
                                                        <button type="button" onclick="addPaymentDetails()"class="pull-right add-affiliate radius border-none bg-primary btn">
														<span class="fa fa-plus-circle" style=""> </span> <span style="font-size:15px;">Add Payment Details</span>
														</button>
												    </div>
													</div> <!-- row -->
													</div>

													   {% endif %}
												</legend>
												
												
                                                
												<div class="container">
												<div class="row paysDiv">
                                                        {% if data.accountnumber and " " not in data.accountnumber %}
										<span class="bank check">
										
										<div class="container">
												
												</div>
												
												

												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Account Number</label>
													<input type="number" class="form-control" name="accountnumber" value="{{data.accountnumber}}" id="" placeholder="" onkeypress="return event.charCode >= 48 && event.charCode <= 57" disabled>
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Beneficiary Name</label>
													<input type="text" class="form-control" required="required" name="accountname" value="{{data.accountname}}" id="" placeholder="" disabled>
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Beneficiary Address</label>
													<input type="text" class="form-control" name="beneficiaryaddress" value="{{data.beneficiaryaddress}}" id="" placeholder="" disabled>
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Bank Name</label>
													<input type="text" class="form-control" required="required" name="bankname" value="{{data.bankname}}" id="" placeholder="" disabled/>
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Bank Address</label>
													<input type="text" class="form-control" required="required" required="required" name="bankaddress" value="{{data.bankaddress}}" id="" placeholder="" disabled/>
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Sort Code</label>
													<input type="text" class="form-control" required="required" name="sortcode" value="{{data.sortcode}}" id="" placeholder="" disabled/>
												</div>
												
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>IBAN</label>
													<input type="text" class="form-control" required="required" name="iban" value="{{data.iban}}" id="" placeholder="" disabled/>
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>SWIFT</label>
													<input type="text" class="form-control" required="required" name="swift" value="{{data.swift}}" id="" placeholder="" disabled/>
												</div>
												
												
												</span>
												{% endif %}
												<div class="clear"></div>
												{% if data.paypal_username and " " not in data.paypal_username %}
												<span class="pay check">
												
												
												 <div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Beneficiary Name</label>
													<input type="text" class="form-control" name="paypal_username" value="{{data.paypal_username}}" id="paypal_username" placeholder="" disabled>
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Email Address</label>
													<input type="text" class="form-control" name="paypal_email" value="{{data.paypal_email}}" id="paypal_email" placeholder="" disabled>
												</div>
												
												</span>
												{% endif %}
												<div class="clear"></div>
												{% if data.neteller_accountnumber and " " not in data.neteller_accountnumber %}
												<span class="net check">
												
												
												 <div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Beneficiary Name</label>
													<input type="text" class="form-control" name="neteller_username" value="{{data.neteller_username}}" id="neteller_username" placeholder="" disabled>
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Email Address</label>
													<input type="text" class="form-control" name="neteller_email" value="{{data.neteller_email}}" id="neteller_email" placeholder="" disabled>
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Account Number</label>
													<input type="number" class="form-control" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" name="neteller_accountnumber" value="{{data.neteller_accountnumber}}" id="neteller_accountnumber" placeholder="" disabled>
												</div>
												
												</span>
												{% endif %}
												
												<div class="form-group input-group">
            
                                            <!-- <span class="input-group-btn full-width-submit" style="text-align:center;">
                                                <button class="btn btn-purple button-large button-web-get" type="submit" value=""  onclick='onePayment()' style="">Submit</button>
                                            </span> -->
                                        </div>
												
												</div>
												
												</div>
												
											</fieldset>
											
											
										
										
										</div>
                                        
           
                                        </form>
                                        </div>
                                    </div>
                                </div>
<!-- -------------------------------------------------------------------------- -->

<div class="row" id="editDetails"style="display:none;">
    <div>
	
            <p class="w-99 m-2 mb-3 radius alert ml-3 p-2 bg-light" style="color:#67757c; font-size: 15px;margin-top: -18px !important;">
                <i class="fa fa-info-circle infoLabel" aria-hidden="true"></i>
				Please choose and enter details for any ONE of the following methods. Note: If you enter details for multiple
                methods, the details for the method you enter last before submitting this form will be the only ones recorded in
                the program.</p>
        
        </div>
<div class="profile-details" style="margin-top: 0px;position:relative; left:8px;top:-5px;">

    <div>
    <form action= "." class=""  id="affForm" method="POST" name='affForm' role="form">
    {%csrf_token%}
    <input type="hidden" name="affid" value="{{aff_obj.id}}">
    <input type="hidden" name="format" value="json" />
   
   <div class="profile-edit-details">
    
    
         <fieldset>
         
            <legend class="heading-all-page">Edit Payment Details</legend>
            
            
            <div class="paymentOptions">


<label class="checkbox-inline text-color">
<input type="radio" id="bank" class="payment checkboxD" checked="checked" value="">
<span class="label-text">Bank Wire Transfer</span>
</label>
<label class="checkbox-inline text-color">
<input type="radio" id="pay" class="payment checkboxD" value="">
<span class="label-text">Paypal</span>
</label>
<label class="checkbox-inline text-color">
<input type="radio" id="net" class="payment checkboxD" value="">
{% if partner != 'Maxi Affiliates'%}
<span class="label-text">Neteller</span>
{%endif%}
</label>



</div>
            
            <div class="container">
            
            <div class="row paysDiv">
    
    <span class="bank check">
    
    <div class="container">
            
            </div>
            
            

            <div class="form-group col-md-4 col-sm-12 pull-left">
                <label>Account Number</label>
                <input type="number" class="form-control" name="accountnumber" value="{{data.accountnumber}}" id="" placeholder="" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </div>
            
            <div class="form-group col-md-4 col-sm-12 pull-left">
                <label>Beneficiary Name</label>
                <input type="text" class="form-control" required="required" name="accountname" value="{{data.accountname}}" id="" placeholder="">
            </div>
            
            <div class="form-group col-md-4 col-sm-12 pull-left">
                <label>Beneficiary Address</label>
                <input type="text" class="form-control" name="beneficiaryaddress" value="{{data.beneficiaryaddress}}" id="" placeholder="">
            </div>
            
            <div class="form-group col-md-4 col-sm-12 pull-left">
                <label>Bank Name</label>
                <input type="text" class="form-control" required="required" name="bankname" value="{{data.bankname}}" id="" placeholder="" />
            </div>
            
            <div class="form-group col-md-4 col-sm-12 pull-left">
                <label>Bank Address</label>
                <input type="text" class="form-control" required="required" required="required" name="bankaddress" value="{{data.bankaddress}}" id="" placeholder="" />
            </div>
            
            <div class="form-group col-md-4 col-sm-12 pull-left">
                <label>Sort Code</label>
                <input type="text" class="form-control" required="required" name="sortcode" value="{{data.sortcode}}" id="" placeholder="" />
            </div>
            
            
            <div class="form-group col-md-4 col-sm-12 pull-left">
                <label>IBAN</label>
                <input type="text" class="form-control" required="required" name="iban" value="{{data.iban}}" id="" placeholder="" />
            </div>
            
            <div class="form-group col-md-4 col-sm-12 pull-left">
                <label>SWIFT</label>
                <input type="text" class="form-control" required="required" name="swift" value="{{data.swift}}" id="" placeholder="" />
            </div>
            
            </span>
            
            <div class="clear"></div>
            
            <span class="pay check">
            
            
             <div class="form-group col-md-4 col-sm-12 pull-left">
                <label>Beneficiary Name</label>
                <input type="text" class="form-control" name="paypal_username" value="{{data.paypal_username}}" id="paypal_username" placeholder="">
            </div>
            
            <div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
                <label>Email Address</label>
                <input type="text" class="form-control" name="paypal_email" value="{{data.paypal_email}}" id="paypal_email" placeholder="">
            </div>
            
            </span>
            
            <div class="clear"></div>
            
            <span class="net check">
            
            
             <div class="form-group col-md-4 col-sm-12 pull-left">
                <label>Beneficiary Name</label>
                <input type="text" class="form-control" name="neteller_username" value="{{data.neteller_username}}" id="neteller_username" placeholder="">
            </div>
            
            <div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
                <label>Email Address</label>
                <input type="text" class="form-control" name="neteller_email" value="{{data.neteller_email}}" id="neteller_email" placeholder="">
            </div>
            
            <div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
                <label>Account Number</label>
                <input type="number" class="form-control" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" name="neteller_accountnumber" value="{{data.neteller_accountnumber}}" id="neteller_accountnumber" placeholder="">
            </div>
            
            </span>
            
            
            <div class="form-group input-group">

        <span class="input-group-btn full-width-submit" style="text-align:center;">
            <button class="btn btn-purple button-large button-web-get" type="submit" value="" style="">Submit</button>
        </span>
    </div>
            
            </div>
            
            </div>
            
        </fieldset>
        
        
    
    
    </div>
    

    </form>
    </div>
</div>
</div>
                            </div>
                         
                            
                        </div>
            
            
            </div>
			
			</div>
			
			</div>
			
			</div>
            
            
        
            {% include "affiliates/new_design/footer-1.html" %}
        
    
            <div class="row" id="onsavepop" style="display:none;width: 30%;
                                    background: rgb(255, 255, 255);
                                    height: 125px;
                                    position: fixed;
                                    top: 50%;
                                    z-index: 999;
                                    left: 40%;">
                <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
            
                    <div class="panel panel-default" style="width: 100%; padding:0px;">
                        <div class="panel-heading" style="background:#36a9e1;">
                            <h3 class="panel-title" style="width: 100%;
                                                        text-align: center;
                                                        display: inline-block;
                                                        height: 28px;
                                                        line-height: 42px;
                                                        color: #fff;">Notification</h3>
                                                        <div class="panel-options" style="margin-top: -20px;
                                margin-right: 19px;">
                                Please save your changes by clicking on the Submit button.
                                
                            </div>
                        </div>
                        <div class="panel-body">
            
                                <div class="form-group">
            
                                    <div class="col-sm-12">
                            
    
    <input type="button" value="Submit" onclick="submitform(this)" class="btn-success btn btn-secondary btn-single" />
                                <input type="button" value="No thanks" onclick="dontsubmit(this)" class="btn-success btn btn-secondary btn-single" />
    
                                    </div>
                                    
                                    
                                    
                                </div>
            
                                <!-- <div class="form-group-separator"></div>
                                <div class="input-group">
                                            <input type="text" class="form-control no-right-border form-focus-purple">
            
                                            <span class="input-group-btn">
                                                <button class="btn btn-purple" type="submit">Submit</button>
                                            </span>
                                        </div> -->
            
                                
                        </div>
                    </div>
                </div>
            </div>

    
    </div>
    
    
    



    <!-- Bottom Scripts -->
   
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
    $('#editDetails').hide();

});
addPaymentDetails = function(){
$('#readDetails').hide();
$('#editDetails').show();
$('input').each(function (index, data) {
            if($(this).val() == 'None'){
                $(this).val('');
            }
        });
}
                            </script>


							<script>
							
							$('.payment').change(function() {
  $('.payment').not(this).prop('checked', false);
});
							
							$(function() {
          var $divs = $('.paysDiv > .check');
          $divs.first().show()
          $('input[type=radio]').on('change',function() {
                  $divs.hide();
                  $divs.eq( $('input[type=radio]').index( this ) ).show();
           });
});
							
							function checkFormEdit(){
		return $('#affForm').serialize() !== origForm;
	}
	
	$.validator.methods.email = function( value, element ) {
  return this.optional( element ) || /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test( value );
}
onePayment = function(){
    // Logic for emptying the rest of payments
                if ($('#bank').prop('checked') == true) {
                    $(".pay input, .net input").each(function () {
                        this.value = " ";
                    });
                }

                if ($('#pay').prop('checked') == true) {
                    $(".bank input, .net input").each(function () {
                        this.value = " ";
                    });
                }

                if ($('#net').prop('checked') == true) {
                    $(".bank input, .pay input").each(function () {
                        this.value = " ";
                    });
                }

                $("#bank").click(function () {
                    $(this).attr("checked", true);
                    $("#pay, #net").removeAttr('checked');
                });

                $("#pay").click(function () {
                    $(this).attr("checked", true);
                    $("#bank, #net").removeAttr('checked');
                });

                $("#net").click(function () {
                    $(this).attr("checked", true);
                    $("#bank, #pay").removeAttr('checked');
                });	
}

// Validation and Ajax action
        $('#affForm').validate({
		ignore: ":not(:visible)",
             rules: {
				  accountnumber:{
                    required: true,
	              },
					  
				  accountname: {
                      required: true,
                  },
				  
				  beneficiaryaddress: {
                      required: true,
                  },
				  
				  bankname: {
                      required: true,
                  },
				  
				  bankaddress: {
                      required: true,
                  },
				  
				  sortcode: {
                      required: true,
                  },
				  
				  iban: {
                      required: true,
                  },
				  
				  swift: {
                      required: true,
                  },
				  paypal_username:{
                      required:true,
                  },
				  paypal_email:{
                      required:true,
					  email: true,
                  },
				  neteller_username:{
                      required:true,
                  },
				  neteller_email:{
                      required:true,
					  email: true,
                  },
				  neteller_accountnumber:{
                      required:true,
					  number:true
                  },
	
            },
            messages: {
				accountnumber: {
                      required: 'Please enter your account number.'
                  },
				  
				  accountname: {
                      required: 'Please enter your account name.'
                  },
				  
				  beneficiaryaddress: {
                      required: 'Please enter your beneficiary address.'
                  },
				  
				  bankname: {
                      required: 'Please enter your bank name.'
                  },
				  
				  bankaddress: {
                      required: 'Please enter your bank address.'
                  },
				  
				  sortcode: {
                      required: 'Please enter your sort code.'
                  },
				  
				  iban: {
                      required: 'Please enter your IBAN.'
                  },
				  paypal_username:{
                      required: 'Please enter your beneficiary name.'
                  },
				  paypal_email:{
                      required: 'Please enter a valid email address.'
                  },
				  neteller_username:{
                      required: 'Please enter your beneficiary name.'
                  },
				  neteller_email:{
                      required: 'Please enter a valid email address.'
                  },
				  neteller_accountnumber:{
                      required: 'Please enter your account number.'
                  },
				  swift: {
                      required: 'Please enter your SWIFT.'
                  },
		
            },
			
			submitHandler: function (form) {                 
                  if(checkFormEdit()){
				  $('.button-web-get').prop('disabled', true);
					form2.submit();
					
				  }
				  else{
					$('.button-web-get').prop('disabled', false);
					}
				   // submit the form
                   onePayment();
              }

        
              });
			  
			  </script>
			  
<div id="cover" style="display:none;"> </div>
</body>
</html>