  
  
  
  
  <html>
    <head>
    </head>


       <body>
 
 
 <div class='maincon'>
    <div class='header'>
        <ul >
           
           
            
                <li style='display: inline;'>
               <a href='/rummy-affiliate/'> Home</a>
               
            </li>
                <li style='display: inline;'>
               <a href='/affiliate-signin/'> Login</a>
               
            </li>
            <li style=' display: inline;'>
                <a href='/affiliate-signup/'>Registration</a
            </li>
            <li style=' display: inline;'>
                <a href='/affiliate-logout/'>Logout</a
            </li>
            
            
        </ul>
        
<hr/>        
    </div>
    
    
    
<div class='main'>
<br/>


{% if not obj %}
Please Login <br/>
{%endif%}



{%if obj%}
    
    
<table  border=1><tr><td><a href='/rummy-affiliate/'>
Home</a></td>
<td><a href='/affiliate_linkcreator/'>Create Link</a></td>
<td><a href='/affiliate_financialhome/'>Financials</a></td>
<!--<td><a href='/affiliate_bannerlist/'>Banners</a></td>-->

</tr></table>
    
    
    
    
  
  
    <div class='main'>
        {% for i in bannerobj %}
        <div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 300px;">

        <!--<tr>-->
            <!--<td>-->
               
               {{i.link|safe}}
 
            <!--</td>-->
            <!--<td>-->
      <textarea rows=7 cols = '40' name='bannercode' >{{i.link}}</textarea> </div>
            <!--</td>-->
            
        <!--</tr>-->
{%endfor%}
        </div>
    {%endif%}