
 <div class='maincon'>
    <div class='header'>
        <ul >
           
           
            
                <li style='display: inline;'>
               <a href='/rummy-affiliate/'> Home</a>
               
            </li>
                <li style='display: inline;'>
               <a href='/affiliate-signin/'> Login</a>
               
            </li>
            <li style=' display: inline;'>
                <a href='/affiliate-signup/'>Registration</a
            </li>
            <li style=' display: inline;'>
                <a href='/affiliate-logout/'>Logout</a
            </li>
            
            
        </ul>
        
<hr/>        
    </div>
    
    
    
<div class='main'>
    
<table  border=1><tr><td><a href='/rummy-affiliate/'>Home</a></td><td><a href='/affiliate_linkcreator/'>Create Link</a></td></tr></table>
    
    
    
<br/>{{response}}
<form action='/affiliate-account-cheque/{{cheque.id}}/' method="POST" name='chequeedit'>
    {% csrf_token %}
<input type='text' value='{{cheque}}' name='cheque'/><br/>
<input type='submit' value='Change'/>
    
</form>
