<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>{{partner}} Contact Us</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-core-partner.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
	<link rel="stylesheet" href="/static_files/assets/css/custom.css">

	<script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>
    <link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

<style>

#toast-container {position:absolute !important;margin-bottom:30px; margin-top:30px !important;}
.login-page .login-form {margin-top:65px;}
#terms-error {
position: absolute;
    margin-left: -40px;
    margin-top: 17px;
}

.col-md-6 {padding-left:0;}

.right-space {padding-right:0px;}

.login-page .login-form .form-group .form-control {height:50px;}

.input-group-addon {top: 1px;
    font-size: 15px;
    color: #dddddd;
    background: #f5f5f5 !important;}
	
	.icons-before-input {
    position: absolute !important;
    z-index: 999;
    top: 1px;
    left: 1px;
    border: none;
    width: 40px;
    line-height: 36px !important;
}

.login-box .input-group-addon:after {display:none;}

.login-register-btn {
    background: #0091e0 !important;
    color: #fff !important;
    border-radius: 0px !important;
    border: none;
    height: 55px;
}		

.privacy-over-div {
    position: absolute;
    width: 100%;
    margin-bottom: 20px;
}

.panel-heading1 {
    line-height: 50px;
    padding: 0px !important; 
    min-height: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
   border-bottom: none !important;
    position: relative;
    -webkit-box-shadow: inset 0 0 1px 1px #fff;
    -moz-box-shadow: inset 0 0 1px 1px #fff;
    box-shadow: inset 0 0 1px 1px #fff;
}

.login-page {
    font-family: sans-serif !important;
}

.login-wynta-logo {
    display: block;
    margin: 0 auto;
}

.footer-text {
    margin-right: 20px;
    color: #000;
    font-size: 14px;
}

.login-page .login-form .form-group label.error {color:#ff0000; position:relative !important; line-height:0px; right:0px;}

@media only screen and (max-width: 1199px) and (min-width: 768px) {

	.left-right-adjust {
    padding-top: 70px;
}

}

.login-register-btn {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(184, 184, 184, 0.1) 70%, rgba(184, 184, 184, 0.2) 100%) !important;
    background-color: #fff !important;
    color: #2585c7 !important;
    border-color: #2585c7 !important; border:1px solid #2585c7 !important;
}

body {}
.login-page .login-form .form-group .form-control {}
.input-group[class*=col-]
{float:none;}
.login-page {padding-top:10px !important;}
    td, th {
    padding: 16px 0px 2px 0px;
}
label.error {
  z-index: 999 !important;
 
}

.  {width:97% !important;}
  .form-group{
    
  }
  .middle-login-reg {width:70%;}
  
  @media only screen and (max-width: 768px) {
  
  .btn-dark {}
  
  .col-sm-12 {width:100%; padding-right:0;}
  .right-space {}
    td, th {
       padding: 16px 0px 2px 0px;
    width: 100%;
    display: block;}
	.middle-login-reg {width:90%;}
	.login-page {padding-top:5px !important;}
	
	#signupsubmit {left:0px !important;}
	
	.  {width:100%;}

.  {
    width: 100% !important;
}

}

.footer-bottom-privacy {z-index:9999; position:relative;}


.footer-bottom-privacy {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.footer-bottom-text {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.page-logo.my-logo {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.top-header-fozil {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.dropdown-toggle {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.egcs_submit_button {
	border:1px solid #b8b8b8;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(184, 184, 184, 0.1) 70%, rgba(184, 184, 184, 0.2) 100%) !important;
    background-color: #fff !important;
    color: #2585c7 !important;
    border-color: #b8b8b8 !important;
    font-weight: normal;
}

.login-register-btn, .egcs_submit_button:hover { background-color: #edf3f7 !important;

  color: #0f3753; 
}

.login-register-btn {
	background-image:{{ partner_obj.buttonimage }} !important ;
	background-color: {{ partner_obj.buttoncolor }} !important;
	color:{{ partner_obj.buttontext }} !important;
	
}


.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td
{
	background-color: {{ partner_obj.tablecolor }} !important;
    color: {{ partner_obj.tabletext }} !important;
}

.contact-home:hover {text-decoration:underline !important;}


  
</style>



<script type="text/javascript">
          $(document).ready(function($)
          {
            // Reveal Login form
           // setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
  
  
            // Validation and Ajax action
            $("#affiliateCreateForm").validate({
              rules: {
			  
			  username: {
                      required: true,
                  },
              
                  email: {
                      required: true,
                      email: true,
                  },
                  name: {
                      required: true,
                      maxlength:25,
                     
                  },
                  subject: {
                      required: true,
                      maxlength:25,
                     
                  },
                  message: {
                      required: true,
                  },
                  
              },
  
              messages: {
			  
			  username: {
                  required: 'Please enter username.'
                },
                email: {
                  required: 'Please enter your email.'
                },
                name: {
                  required: 'Please enter your Name.'  
                },
                subject: {
                  required: 'Please enter Subject.'
                   
                },
                message: {
                  required: 'Please enter message.'
                }
              },
  
              // Form Processing via AJAX
              submitHandler: function(form)
              {
               // Fill progress bar to 70% (just a given value)
  
                var opts = {
                  "closeButton": true,
                  "debug": false,
                  "positionClass": "toast-top-full-width",
                  "onclick": null,
 
                };
  
                $.ajax({
                  url: "",
                  method: 'POST',
                  dataType: 'json',
                  data: {
                    email: $(form).find('#email').val(),
                    username: $(form).find('#username').val(),
                    name: $(form).find('#name').val(),
                    subject: $(form).find('#subject').val(),
                    message: $(form).find('#message').val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                  },
                  success: function(resp)
                  {
                    
  
                        // Redirect after successful login page (when progress bar reaches 100%)
                        if(resp.status == false)
                        {
                          toastr.error(resp.message, "Invalid entry in Form!", opts);
                          $('form').find('#email').select();
                        }
                        else{
                          toastr.success('',"Thank you for contacting us!"+ resp.message, opts);
                        }
                                            
                                    },
									
						complete:function(){
						
						document.getElementById("affiliateCreateForm").reset();
						
						},
                  error: function (resp) {
                    toastr.error(resp.errors, "Error in sending email for Contact!", opts);
                  }
                });
  
              }
            });
  
            // Set Form focus
            $("form#login .form-group:has(.form-control):first .form-control").focus();
          });
        </script>
</head>
<body class="page-body login-page" style="padding-top: 50px">

	<!-- <header class="top-header-fozil"><a href="/" class="navbar-brand"></a></header> -->
	
	<div class="form-group first">
								<div class="input-group col-sm-12">
									<span class="text-center contact-home" style="margin-left:15px; margin-top:15px;"><a href="/affiliate/"><i class="fa fa-home"></i> Home</a></span>
								</div>
							</div>
	
	
	<div class="login-container">
	
		<div class="row">
	
			<div class="middle-login-reg login-box">
	
				
	
				<!-- Errors container -->
				<div class="errors-container">
	
					
				</div>
	
				<!-- Add class "fade-in-effect" for login form effect -->
				<form method="post" role="form" id="affiliateCreateForm" action="/affiliate/contact/" class="all-reg-login login-form fade-in-effect in">
	
					<div class="login-header">
					
					
						<!-- <a href=" /affiliate/login/" class="logo"> -->
							<!-- <img src="/static_files/images/fozilp-logo.png"> --> 
							<!-- </br> -->
							 <!-- <img src="/static_files/images/fozilp-full-logo.png">  -->
							<!-- </a> -->
						<img src="/static_files/images/wynta_login_logo.svg" class="login-wynta-logo"><br/>
			
							<br/><h2 class="heading-for-logins">Contact Support</h2>
						{% if errors %}
								<p>{{errors}}</p>
								{%endif%}
								{% if message %}
								<p>{{message}}</p>
								{%endif%}
						<input type="hidden" name="refid" value="{{refid}}" />
					{%csrf_token%}
                            {%if message%}
                    <div class="row" id="error_divID" >
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!--  <h4><span class="fa fa-times" style="margin-top: 12px;font-size: 27px;color:red;"> </span>
                                    <span class="error_form" style="font-weight: bold;"> {{error_message}}</span> </h4>-->
                                    {%if message%}
                                        <div class="alert alert-success-msg">
                                            <center> <span id="error_spanID">{{message}} </span></center>
                                        </div>
                                    {%else%}
                                    <div class="alert alert-error-msg">
                                            <center> <span id="error_spanID">{{error_message}} </span></center>
                                    </div>
                                    {%endif%}
                                </div>
                            </div>
						{%endif%}
						
					</div>
					
					<div class="form-group">
                    <input class="form-control form-control-solid placeholder-no-fix"  type="hidden" name="" value="{{csrf_token}}">
                    </div>
					
					
					
					<fieldset>

					
							<input type="hidden" class="form-control input-lg" placeholder="Username" name="username" id="username" autocomplete="off" />

					
							<div class="form-group first">
								<div class="input-group col-sm-12">
									<span class="input-group-addon icons-before-input"><i class="fa fa-envelope"></i></span>
									<input type="text" class="form-control input-lg" placeholder="Username/ Email" name="email" id="email" autocomplete="off" />
									
								</div>
							</div>
					

							<div class="form-group first">
								<div class="input-group col-sm-12">
									<span class="input-group-addon icons-before-input"><i class="fa fa-user"></i></span>
									<input type="text" class="form-control input-lg" placeholder="Name" name="name" id="name" autocomplete="off" />
									
								</div>
							</div>

					
							<div class="form-group first">
								<div class="input-group col-sm-12">
									<span class="input-group-addon icons-before-input"><i class="fa fa-pencil"></i></span>
									<input type="text" class="form-control input-lg" placeholder="Subject" name="subject" id="subject" autocomplete="off" />
									
								</div>
							</div>
					

							<div class="form-group first">
								<div class="input-group col-sm-12">
									<span class="input-group-addon icons-before-input"><i class="fa fa-paper-plane"></i></span>
									
									<textarea name="message" cols="120" rows="7" placeholder="Enter Your Message" class="form-control input-lg" name="message" id="message" style="height: 150px"></textarea>
								</div>
							</div>		

							
					<div class="form-group">
					
					<button type="submit" value="Submit" class="login-register-btn btn btn-dark uppercase pull-left egcs_submit_button" id="signupsubmit" style="text-align: center; float:left !important;
    width: 49%;
    position: relative; border:none;
	    background: #0091e0 !important;
    color: #fff !important;
    border-radius: 0px !important;
    border: none !important;
    height: 55px; font-weight:normal;">Submit</button>
                                    <button type="reset" value="Cancel" class="login-register-btn btn btn-dark uppercase pull-left  grey-mint egcs_submit_button" id="RESET" style="  width: 50%; float:left !important;
    position: relative; border:none;
	    background: #f9f9f9 !important;
    color: #000 !important;
    border-radius: 0px !important;
    border: none;
    height: 55px; font-weight:normal;">Reset</button>
					
                   
                    </div>
					
					
							
					</fieldset>

	
				</form>
				
	
				<!-- External login -->
				<!-- <div class="external-login">
					<a href="#" class="facebook">
						<i class="fa-facebook"></i>
						Facebook Login
					</a>
	
					
					<a href="<?php _hash(); ?>" class="twitter">
						<i class="fa-twitter"></i>
						Login with Twitter
					</a>
	
					<a href="<?php _hash(); ?>" class="gplus">
						<i class="fa-google-plus"></i>
						Login with Google Plus
					</a>
					
				</div> -->
	
			</div>
	
		</div>
	
	</div>



	<!-- Bottom Scripts -->
    <script src="/static_files/assets/js/bootstrap.min.js"></script>
    <script src="/static_files/assets/js/TweenMax.min.js"></script>
    <script src="/static_files/assets/js/resizeable.js"></script>
    <script src="/static_files/assets/js/joinable.js"></script>
    <script src="/static_files/assets/js/xenon-api.js"></script>
    <script src="/static_files/assets/js/xenon-toggles.js"></script>
    <script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="/static_files/assets/js/toastr/toastr.min.js"></script>
    <script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>


    <!-- JavaScripts initializations and stuff -->
    <script src="/static_files/assets/js/xenon-custom.js"></script>
	
	<br/><br/><br/><br/><br/>

<footer class="">

<div class="container-fluid">

<div class="privacy-over-div">

<div class="row">

<!-- <div class="pull-left"> -->

	<!-- <div class="footer-left-links"> -->
	
		<!-- <ul> -->
			<!-- <li><a href="">Customer Support</a></li> -->
			<!-- <li><a href="">Terms of Use</a></li> -->
			<!-- <li><a href="">Trust & Status</a></li> -->
			<!-- <li><a href="">Privacy</a></li> -->
			<!-- <li><a href="">Patent & Other IP</a></li> -->
		<!-- </ul> -->
	
	<!-- </div> -->

<!-- </div> -->

<div class="text-center">

<div class="footer-text">
	© 2018 Fozil Partners, Powered by Wynta
</div>

</div>

</div> <!-- Row Div -->
					
</div>

</div>

</footer>

</body>
</html>