<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}- Campaign Setup</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>

.material-para-create {
        font-size: 12px;
    font-weight: bold;
    color: #787878;
    text-transform: capitalize;
    margin-top: 0px;
    display: inline-block;
    width: 126px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-bottom: 0 !important;
}

.image-material {margin-top:2px !important;}

.pull-left {clear:inherit;}
#nodata { width:100%; margin-bottom:20px;  font-size: 16px !important;
    margin-top: 0px !important;
    text-align: center;
    display: block;
    line-height: 25px !important;}
.egcs_submit_button {float: right;
    margin-top: -53px !important;}
	.date-range-class-affiliate {    margin-right: 100px;
    float: right !important; border-top:none !important; border-right:none !important; border-left:none !important;
    margin-top: -53px !important;
    float: right !important;}
	.media-left {padding-left:15px;}
	.media-heading {padding-left: 35px;
    padding-top: 21px;}
	.media {padding-top:30px;}
	.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {border:none !important; padding-left:13px; margin-left:0px;}

.all-groups-one-by-one {}
ul.all-banners-list {list-style-type:none;}
.whbanner{
    font-size: 14px;
    font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-weight: bold;
    text-align: center;
    width: 140px;
}

ul.all-banners-list li {
border: 1px solid #ccc;
    width: 160px;
    text-align: center;
    height: 150px;
    background: url(/media/bannerimages/Sticky_Slots.png) no-repeat scroll center 52px #fff;
    margin: 10px;
    display: inline-block;
    padding: 10px; cursor:pointer;
    background-size: 85%;
    }
	
	.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark{
    position: absolute;
    display: inline-block;
    left: 5px; //changed from right:15
    margin-top: 5px;
}

.popup-display {    margin-bottom: 0;
    display: initial;}

#cover{ position:fixed; top:0; left:0; background:rgba(0,0,0,0.3); z-index:9999; width:100%; height:100%; display:none; } 
.adjust-top-bottom-dash {    margin-bottom: 15px;
    }
	
	.btn-group>.btn:first-child {display:none;}
	
	label {line-height:40px;}
	
	legend {margin-top:-8px;}
	
	.copy {
    float: right;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    color: #36a9e1;
    margin-right: 2px;
    font-size: 14px;
    padding-top: 9px;
}

#bannerh {padding-top:5px; font-weight:bold;}



</style>

</head>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Campaign Setup</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Campaign</a></li>
                        <li class="breadcrumb-item active">Campaign Setup</li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
            
                            <form method="POST" role="form" id="createtrackerForm" class="form-horizontal" role="form">
                            <input type="hidden" name="format" value="json" />
                            {%if error_message %}
                            <div class="row" style="height:">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!--  <h4><span class="fa fa-times" style="margin-top: 12px;font-size: 27px;color:red;"> </span>
                                    <span class="error_form" style="font-weight: bold;"> {{error_message}}</span> </h4>-->
                                    <div class="alert alert-danger alert-error-msg" style="padding:1px;padding: 5px;">
                                            <center> <span style="padding: 10px;color: #db1802;font-size: 15px;    font-weight: bold;">{{error_message}} </span></center>
                                    </div>
                                </div>
                            </div>
                            {%else%}
                            <div class="row" style="display: none;" id="errordiv">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!--  <h4><span class="fa fa-times" style="margin-top: 12px;font-size: 27px;color:red;"> </span>
                                    <span class="error_form" style="font-weight: bold;"> {{error_message}}</span> </h4>-->
                                    <div class="alert alert-danger alert-error-msg" style="padding:1px;padding: 5px;">
                                            <center> <span id="errordata" style="padding: 10px;color: #db1802;font-size: 15px;    font-weight: bold;"></span></center>
                                    </div>
                                </div>
                            </div>
                            {%endif%}
                            {%csrf_token%}
							
							<div class="container">
							
							<div class="row">
							
								<div id="dialog-message" title="Banners"><p id="modal-message"><span></span></p></div>
								<div id="nodata" class="alert alert-success" style="color:green; font-size: 20px; text-align: center; display: none;"></div>
							
							</div>
							
							</div>
							
							<legend class="heading-all-page">Default Campaign</legend>
							
							<div class="form-group col-md-6 col-sm-12">
                                    <label class="field12" for="field-1">Brands<span class="dots-right">:</span> </label>
            
                                 
                                    <select id="sitename" class="selectpicker show-tick" name="sitename" sitename="{{sitename}}" required aria-required="true"  style="height:40px;width:100%" class="required">
                                        <option value=""> Select brand </option>
                                        {% for i in sites_obj_list %}
                                            {% if i.name == sitename %} 
                                                <option value="{{i.domain}}" selected="selected">{{i.name}}</option>
                                            {% else %}
                                                <option value="{{i.domain}}" >{{i.name}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
                                  
                                </div>
								
								<div class="form-group col-md-6 col-sm-12 directLink" style="display:none;">
                                    
									<label class="field12" for="field-1">Direct Link <span class="dots-right">:</span> </label>
                                    <div class="copy" title="Copy" data-toggle="tooltip" title="Copy" onclick="copyToClipboard('#global-link-code')">Copy</div>
									<input type="text" class="form-control" id="global-link-code" name="" placeholder="">
				
                                     
                                </div>
								
								<br/>
							
							<legend class="heading-all-page">Setup a Campaign</legend>
            
                                <div class="form-group col-md-6 col-sm-12 pull-left">
                                    <label class="field12" for="field-1">Campaign Name <span class="dots-right">:</span> </label>
                            <input type="text" class="form-control" id="field-1" name="linkname" placeholder="">
                                </div>

                                <div class="form-group col-md-6 col-sm-12 pull-right">
                                    <label class="field12" for="field-1">Describe Campaign <span class="dots-right">:</span> </label>
            
                                 
                            <input type="text" class="form-control" id="field-1" name="description" placeholder="">
                                  
                                </div>
                                
								            
                                
                                
    

                                <div class="form-group col-md-6 col-sm-12 pull-left">
                                    <label class="field12" for="field-1">Media Type <span class="dots-right">:</span> </label>
            
                                    
                                    <select id="media_type" class="selectpicker show-tick"  aria-required="true"  name="media_type" id="media_type"  style="height:40px;width:100%" >
                                        <option value=""> Select </option>
                                        {%for v in media_types %}
                                            {% if v.0 == media_type %} 
                                                <option value="{{v.0}}" selected>{{v.1}}</option>
                                            {% else %}
                                                {% if v.0 != 'LP' %} 
                                                    <option value="{{v.0}}">{{v.1}}</option>
                                                {% endif %}
                                            {% endif %}
                                        {%endfor%}
                                    </select>
                                    
                                </div>
                                
                                <div class="form-group col-md-6 col-sm-12 pull-right" id='lpagesdiv'>
                                    <label class="field12" for="field-1">Landing Page <span class="dots-right">:</span> </label>
            
                                    
                                    <select id="landingpage" class="selectpicker show-tick" aria-required="true"  name="landingpage" style="height:40px;width:100%">
                                        <option value="" selected>Home Page</option>
                                        {%for link in lp_links %}
                                            <option value="{{link.2}}" selected>{{link.1}}</option>
                                        {%endfor%}
                                    </select>
                                   
                                </div>

                                <div class="form-group col-md-6 col-sm-12 pull-left">
                                    <label class="field12" for="field-1">Language <span class="dots-right">:</span> </label>
                        <select id="language" class="selectpicker" tabindex="-98" name="language">
                            <option value="English">English</option>
                            <option value="German">German</option>
                            <option value="Spanish">Spanish</option>
                        </select>
                    </div>
                                <div class="form-group col-md-12 col-sm-12" id="bannerdiv" links="{{links}}">
                                    <ul class="banner-images-show" id="bannerul">
                                        <h5 style="display: none;" id="bannerh">Please choose one :</h5>
                                        {%for link in links %}
                                            {% if media_type == 'V' %}
                                            <li onclick="clickcheck(this)">
                                            <input type="radio" name="bannerid" style="display: none;" value="{{link.2}}"><video width="150" height="90%" controls >\
                                                    <source src="{{link.0}}" type="video/mp4">\
                                                  </video></li>
                                            {% elif media_type != 'LP' %}
                                            <li onclick="clickcheck(this)">
                                            <input type="radio" name="bannerid" style="display: none;" value="{{link.2}}"><img src="{{link.0}}" target="_blank" class="image-material image-material-big"/></li>
                                            {% endif %}
                                        {%endfor%}
                                        
                                    </ul>
                                    
                                    
                                </div>

                                <div class="input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                                <button class="btn btn-purple button-large button-web-get" type="submit" style="">Get Code</button>
                                            </span>
                                        </div>
										
										</form>
            
                                
            </div>
                    </div>
                </div>
                
            <!-- <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a> -->
            </div>
            
            {% include "affiliates/new_design/footer-1.html" %}
            </div>
            
        <div class="row" id="get-code" style="display:none;width: 30%;
    background: rgb(255, 255, 255);
    height: auto;
    position: fixed;
    top: 25%;
    z-index: 999999;
    left: 40%;">
                <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
            
                    <div class="panel-default bottom-padding" style="width: 100%;height:auto;background:#fafafa; padding:0px;">
                        <div class="panel-heading" style="background:#36a9e1;">
                            <h3 class="panel-title" style="width: 100%;
    text-align: center;
    display: inline-block;
    height: 28px; font-size:16px;
    line-height: 42px;
    color: #fff;">Get your code:</h3>
                            <div class="panel-options" style="">
                                <a href="." data-toggle="panel" style="float:right;">
                                    <img src="/static_files/assets/images/delete-button.png" onclick="checknothanks(this)" style="    position: relative;
    right: -1px;
    margin: -26px;
    display: block;">
                                </a>
                                
                            </div>
                        </div>
                        <div class="panel-body">
            
                                <div class="form-group">
                                
                                <div class="col-md-12">
                                
                                    <div class="form-group">
                                      <label for="comment" class="popup-display">Direct Link</label>
                                      <div class="copy" title="Copy" data-toggle="tooltip" title="Copy" onclick="copyToClipboard('#link-code')">Copy</div>
                                      <textarea class="form-control" rows="2" id="link-code" style="height:auto;"></textarea>
                                    </div>
                                
                                </div>
                                
                                <div class="col-md-12">
                                
                                    <div class="form-group">
                                      <label for="comment" class="popup-display">Javascript</label>
                                      <div class="copy" title="Copy" data-toggle="tooltip" title="Copy" onclick="copyToClipboard('#js-code')">Copy</div>
                                      <textarea class="form-control" rows="3" id="js-code" style="height:auto;"></textarea>
                                    </div>
                                
                                </div>
                                
                                <div class="col-md-12">
                                
                                    <div class="form-group">
                                      <label for="comment" class="popup-display">HTML / HTML5 Code </label>
                                      <div class="copy" title="Copy" data-toggle="tooltip" title="Copy" onclick="copyToClipboard('#image-code')">Copy</div>
                                      <textarea class="form-control" rows="4" id="image-code" style="height:60px !important;overflow-y:scroll;"></textarea>
                                    </div>
                                    
                                
                                </div>
        </div>
        
    
    </div>
	
	</div>
	
	</div>
	
	</div>
    
    



    <!-- JavaScripts initializations and stuff -->
    <script src="/static_files/assets/js/xenon-custom.js"></script>
<script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/static_files/assets/js/toastr/toastr.min.js"></script>

<script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script> -->

<script>
    function clickcheck(ele){
        if ($(ele).find('input').prop('checked') == true){
            $(ele).removeClass('selected');
            $(ele).find('input').prop('checked', false);
        }
        else{
            $('#bannerul li').removeClass('selected');
            $(ele).addClass('selected');
            $(ele).find('input').prop('checked', true);
            //$('a', this).addClass('selected');
        }
        
    }

</script>


<script type="text/javascript">
    var global_camps = {{global_camp_dict|safe}};
    $('select').on('change', function() {
      if ($(this).val() != ''){
            $('#'+$(this).attr('name')+'-error').hide();
      }
      if ($(this).attr('id')=='sitename'){
            $('#bannerul').html('');
            // $('#lpagesdiv').hide();
            $('#media_type option[value=""]').prop('selected', true);
            $('.selectpicker').selectpicker('refresh');
            $('#nodata').html('');
            $('#nodata').hide();

      }
    });

    jQuery(document).ready(function() {
    var imagelink = '{{imagelink}}'; 
    var camp_id = '{{cid}}';
	var media_type = '{{media_type}}';
    if (camp_id != ''){
        getcode('{{affid}}', '{{cid}}', imagelink, media_type);
    }

    
    if (media_type == 'LP'){
        $('#lpagesdiv').show();
    }
    // $('.panel-options').hide();  
                        // Reveal Login form
    setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
    var form2 = $('#createtrackerForm');
    
        // Validation and Ajax action
        $('#createtrackerForm').validate({
             rules: {
                  
                  linkname: {
                      required: true,
                  },
                  media_type: {
                       required: true,
               },
                  sitename: {
                      required: true,
                  },

              },

            messages: {
                
                linkname: {
                  required: 'Please enter Campaign Name.'
                },
                media_type: {
                   required: 'Please select Media Type.'
                },
                sitename: {
                  required: 'Please select Brand.'
                },
            },

            submitHandler: function (form) {
                if (['B', 'V', 'SS', 'P'].indexOf($('#media_type').val()) >=0 ){
                    if($('input[name="bannerid"]').length == 0){
                        return false;
                    }
                    if($('input[name="bannerid"]:checked').length == 0){
					$('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');
                        $('#errordata').html('Please select any one of the '+$('option[value="'+$('#media_type').val()+'"]').html().toLowerCase() + 's' );
                        $('#errordiv').show();
                        return false;
                    }
                }
				$('#errordiv').hide();
				
                if($('#nodata').is(":visible")==false){
                      form[0].submit();
                    }
                }
              });

        // Set Form focus

          
   
   
   
  /*
   $("#search_table").dataTable({paging: false,
           searching: false,
           ordering:false,
           info: false,"dom": 'flit'
   });*/
});

$('#media_type').on('change', function() {
$('#errordiv').hide();
    getcategory();
})

$('#sitename').on('change', function() {
$('#errordiv').hide();
    getcategory();
})

function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
	  $("body").css('position' , 'relative');
  };


function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).val()).select();
  document.execCommand("copy");
  $temp.remove();
  $(element).select();
}

function getcode(affid, cid, imagelink, mediatype){
    url = "/affiliate/gettrackerlink/?camp_id="+cid+"&aff_id="+affid;
    // banner_link = '<a href="https://ads.maxiaffiliates.com/redirect.aspx?mid=1005&sid=3243&cid=" target="_blank" > <img alt="" src="https://ads.maxiaffiliates.com/renderimage.aspx?mid=1005&sid=3243&cid=" border="0" style="display:none;" > </img><img alt="" src="https://brand.maxiaffiliates.com/Banners/20171116100223043.gif" border="0"></img></a>'
    $.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                    $('#link-code').val(data.linkurl);
                    $('#image-code').val('');
                    if (imagelink != ''){
					$('#div-image-f').show();
					banner_link = '<a href="'+data.linkurl+'" target="_blank"> '
                        if (mediatype == 'V'){
							banner_link = banner_link + '<video width="250" height="250" controls style="">\
                                <source src="'+window.location.origin + imagelink+'" />\
                              </video>'
						}
						else{
							banner_link = banner_link +'<img alt="" src="'+window.location.origin + imagelink+'"  border="0"></img></a>';
                		}
						//banner_link = '<a href="'+data.linkurl+'" target="_blank"> <img alt="" src="'+data.linkurl+'" border="0" style="display:none;" > </img><img alt="" src="'+ window.location.hostname + imagelink+'"  border="0"></img></a>';
                        $('#image-code').val(banner_link);
                    }
					else{
                        $('#div-image-f').hide();
                    }
                    var script = document.createElement( 'script' );
                    script.type = 'text/javascript';
                    script.src = data.linkurl;
                    $("#js-code").val(script.outerHTML);
                    // $('#js-code').val(js_link+);
                    $('#get-code').show();
                    $("#cover").show();
					$("body").css('overflow-y' , 'hidden');
                    $('.panel-body').show();
                }
                else{
                    $('#alert-error-msg').html(data.error_message);
                    $('#error_msg').show();
                }
          }
    });
    return false;

}

$('#media_type').on('change', function() {
    if ($('#media_type').val()!=='T'){
        $('#bannerdiv').show();
    }
    else{
        $('#bannerdiv').hide();
    }


})

function getcategory(){
    var sitename = $('#sitename').val();
    if ($('#media_type').val()){
        var media_type = $('#media_type').val();
    }else{
        var media_type = 'LP';
    }
    $.ajax({
          url: '/affiliate/getcategory/',
          dataType: 'json',
          method: 'POST',
          async: false,
          data: {csrfmiddlewaretoken: "{{ csrf_token }}",sitename: sitename, media_type: media_type},
          success: function(data) {
                categorys = data.categorys;
                lp_links = data.lp_links;
                banners = data.links;
                if (data.status == 'Error'){
                    //$("#error_spanID").html("Username already registered with Us.");
                    //$("#error_divID").show();
                    //$('#signupsubmit').attr('disabled','disabled');
                    $('#errorspan').html('Error in retrieving Media cateogorys.')
                    // var element = $("#username");
                    // $(element).closest( ".form-group" ).removeClass("has-success").addClass("has-error");
                    // var icon = $(element).parent().parent('.input-icon').children('i');
                    // icon.removeClass('fa-check').addClass("fa-warning");  
                    // icon.attr("data-original-title", "Username already registered with us.").tooltip({'container': 'body'});
                }
                else{
                    $('#bannerul').html('<h5 style="display: none;" id="bannerh">Please choose one :</h5>');
                    // $('#lpagesdiv').hide();
                    if(banners.length==0 && media_type != 'T'){
                        $('#nodata').html('We currently do not have any '+data.media_type.toLowerCase()+'s for you, please contact your Affiliate Manager for custom creatives.');
                        $('#nodata').show();
                        $('#landingpage').html('<option value="">Home Page</option>');
                        $('.selectpicker').selectpicker('refresh');
                    }
                    else{
                        $("#bannerids option[value!='']").remove()
                        $('#nodata').html('');
                        $('#nodata').hide();
                        $.each(categorys, function (i, item) {
                            $('#category').append($('<option>', { 
                                value: item,
                                text : item 
                            }));
                        });
                        $('#category').selectpicker('refresh');
                        $.each(banners, function (i, item) {
                            title = item[1];
                            if (media_type == 'V'){
                                option = '<li onclick="clickcheck(this)"><p class="material-para-create">'+title+'</p><input type="radio" name="bannerid" style="display: none;"  value="'+item[2]+'"><video width="150" height="150" controls >\
                                    <source src="'+item[0]+'" type="video/mp4">\
                                  </video></li>';
                                $('#bannerul').append(option);
                                $('#bannerh').show();
                            }
                            else if(media_type == 'M'){
                                option = '<li onclick="clickcheck(this)"><p class="material-para-create">'+title+'</p><input type="radio" style="display: none;" name="bannerid" value="'+item[2]+'"><div id="'+item[2]+'" ></div><div id="'+item[2]+'div">'+item[1]+'</div></li>';
                                $('#bannerul').append(option);
                                element = $('#' + item[2]);
                                // html2canvas(element, {
                                //      onrendered: function (canvas) {
                                //             $('#' + item[2]+ 'div').append(canvas);
                                //             getCanvas = canvas;
                                //          }
                                //      });
                            }
                            
                            else if (media_type != 'LP'){

                                option = '<li onclick="clickcheck(this)"><p class="material-para-create">'+title+'</p><input type="radio" style="display: none;" name="bannerid" value="'+item[2]+'"><img src="'+item[0]+'" target="_blank" class="image-material" />';
                                if(item[3] != undefined && item[3] != 'none'){
                                    if (item[3] > 2*item[4]){
                                        option = '<li onclick="clickcheck(this)"><p class="material-para-create">'+title+'</p><input type="radio" style="display: none;" name="bannerid" value="'+item[2]+'"><img src="'+item[0]+'" target="_blank" class="image-material image-material-big" />';
                                    }
                                    option = option + '<p class="whbanner">'+item[3]+'x'+item[4]+'</p>'
                                }
                                $('#bannerul').append(option+'</li>');
                                $('#bannerh').show();
                            }

                        });
                        if(lp_links){
                            $('#landingpage').html('<option value="">Home Page</option>');
                            $.each(lp_links, function (i, item) {
                                    option = '<option value="'+item[2]+'">'+item[1]+'</option>'
                                    $('#landingpage').append(option);
                                }
                                );
                        }else{
                            $('#landingpage').html('<option value="">Home Page</option>');
                        }
                            $('#bannerul').show();
                            $('#bannerdiv').show();
                            $('.selectpicker').selectpicker('refresh');
                    }
                        
                }
          }
    });
    return true;
    
}

// function onTemplateImageClick(title){
//  var html_str = '<div class="modal-custom">';
//  var im = "";
//  im += '<br/><h3>Bnner title - ' + title + '</h3><br/><img width="700" height="500" src="' + url + '"/><hr>'
//  html_str += im + '</div><hr/>';

//  html_str += im + '</div><hr/>';
//    $(html_str).appendTo($("#modal-message"));
//    //$( "#dialog-message" ).dialog("open");
//    $('#dialog-message').modal();
// }

</script>



<script type="text/javascript">
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
	
});
                            </script>
							
							<script>
							$(function() {
							  $('#sitename').change(function(){
								$('.directLink').show();
                                $('#global-link-code').val(global_camps[$(this).val()]);
							  });
							});
							</script>


<div id="cover" style="display:none;"> </div>
</body>
</html>