 <div class='maincon'>
    <div class='header'>
        <ul >
           
           
            
                <li style='display: inline;'>
               <a href='/rummy-affiliate/'> Home</a>
               
            </li>
                <li style='display: inline;'>
               <a href='/affiliate-signin/'> Login</a>
               
            </li>
            <li style=' display: inline;'>
                <a href='/affiliate-signup/'>Registration</a
            </li>
            <li style=' display: inline;'>
                <a href='/affiliate-logout/'>Logout</a
            </li>
            
            
        </ul>
        
<hr/>        
    </div>
    
    
    
<div class='main'>
    
<table  border=1><tr><td><a href='/rummy-affiliate/'>
Home</a></td>
<!--<td><a href='/affiliate_linkcreator/'>Create Link</a></td>-->
<td><a href='/affiliate_bannerlist/'>Banner List</a></td>
<td><a href='/affiliate_financialhome/'>Financials</a></td>
</tr></table>
    
    
    
<br/>
<br/>
{{response}}
<form action='/rummy-createaffiliatelink/' method='POST' >
{% csrf_token %}
Campaign Name :<input type='text' value='' name='linkname'/><br/>
<input type='submit' value='Create Link'/>
</form>

<br/><br/>
<hr/>




<table>
    <tr><th>Campaign Name</th>
       <th>Affiliate ID</th><th>Link ID</th><th>Link</th></tr>
{% for i in links %}
<tr>
 <td>{{i.name}}</td>   <td>{{i.fk_affiliateinfo.id}}</td><td>{{i.id}}</td><td><input type='text' size=50 name='link{{i.id}}{{i.fk_affiliateinfo}}' value="{{i.link}}"/></td>

<td><a href='/rummy-banner/{{i.id}}/'>Add Banner |</a></td>
<td><a href='/rummy-seebanner/{{i.id}}/'>See All Banners</a></td>


</tr>

{% endfor %}
</table>


