<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />

	<title>{{partner}} - Login</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenu-core-affiliate.css">

	<link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
	<link rel="stylesheet" href="/static_files/assets/css/custom.css">

	<script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

<style>

.login-page .login-form .form-group label.error {color:#ff0000; position:relative !important; line-height:0px; right:0px;}


@media only screen and (max-width: 1199px) and (min-width: 768px) {

	.left-right-adjust {
    padding-top: 70px;
}

}


.input-group[class*=col-]
{float:none;}
label.error {
  z-index: 999 !important;

}
body {background:#fff !important;}

@media only screen and (max-width: 700px) {
    .width-block-mobile {width:100%;}
	.middle-login-reg {width:90%;}
	.login-page {padding-top:5px !important;}
	
}
.footer-bottom-privacy {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.footer-bottom-text {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.page-logo.my-logo {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.top-header-fozil {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.navbar-brand {
    float: left;
    padding: 10.5px 1px;
    font-size: 17px;
    line-height: 18px;
    height: 65px;
}
.dropdown-toggle {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.egcs_submit_button {
	background-image:{{ partner_obj.buttonimage }} !important ;
	background-color: {{ partner_obj.buttoncolor }} !important;
	color:{{ partner_obj.buttontext }} !important;
	border-color:{{ partner_obj.buttontext }} !important;
}
.login-register-btn {
	background-image:{{ partner_obj.buttonimage }} !important ;
	background-color: {{ partner_obj.buttoncolor }} !important;
	color:{{ partner_obj.buttontext }} !important;
	border-color:{{ partner_obj.buttontext }} !important;
}


</style>
	
</head>
<body class="page-body login-page">


							<!-- {% if partner == "Fozil Partners" %}
				<header class="top-header-fozil"><div class="logo" style="">
						<a class="logo-expanded">
							<img src="/static_files/images/fozilp-full-logo-popup-white-partner.svg" width="187" alt="" />
							{% else %}
				<header class="top-header-fozil" style="background-color: #000 "><div class="logo" style="">
						<a class="logo-expanded">
							<img src="/static_files/images/mrvegas-full-logo-inner.png" width="131" alt="" />
							{% endif %} -->
							<header class="top-header-fozil">
	
	<a href="/" class="navbar-brand"><img src="{{partner_obj.logo.url}}" width="230" alt="" /></a>
	
	</header>
						<!-- <a href="/" class="navbar-brand"></a> -->
		
						<!-- <a class="logo-collapsed click-show-sites">
							<img src="/static_files/images/fozilp-logo.png" width="38" alt="" />
							<i class="fa fa-caret-down drop-menu-icon" aria-hidden="true"></i>
						</a> -->
					</div></header>
	
	<div class="login-container">
	
		<div class="row left-right-adjust">
	
			<div class="middle-login-reg login-box">
	
				<script type="text/javascript">
					jQuery(document).ready(function($)
					{
						// Reveal Login form
						setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
	
	
						// Validation and Ajax action
						$("form#login").validate({
							rules: {
								username: {
									required: true
								},
	
								passwd: {
									required: true
								}
							},
	
							messages: {
								username: {
									required: 'Please enter your username.'
								},
	
								passwd: {
									required: 'Please enter your password.'
								}
							},
	
							// Form Processing via AJAX
							submitHandler: function(form)
							{
								show_loading_bar(70); // Fill progress bar to 70% (just a given value)
	
								var opts = {
									"closeButton": true,
									"positionClass": "toast-top-full-width",
									"onclick": null,
									"showDuration": "300",
									"hideDuration": "1000",
									"timeOut": "10000000000",
									"extendedTimeOut": "1000",
								};
	
								$.ajax({
									url: " /affiliate/login/",
									method: 'POST',
									dataType: 'json',
									data: {
										do_login: true,
										username: $(form).find('#username').val(),
										passwd: $(form).find('#passwd').val(),
										csrfmiddlewaretoken: "{{ csrf_token }}",
									},
									success: function(resp)
									{
										
	
												// Redirect after successful login page (when progress bar reaches 100%)
												if(resp.message=='Error')
												{
													if ($('#toast-container').html() == undefined){
														toastr.error(resp.errors, "Invalid Login!", opts);
													}
													$('form').find('#passwd').select();
												}
												else{
													window.location.replace(" /affiliate/")
												}
																						
																		}
								});
	
							}
						});
	
						// Set Form focus
						$("form#login .form-group:has(.form-control):first .form-control").focus();
					});
				</script>
	
				<!-- Errors container -->
				<div class="errors-container">
	
					
				</div>
				<!-- <img src="/static_files/images/fozilp-full-logo.png" style="display: block;margin: 0 auto; padding-bottom: 10px"> -->
				<!-- Add class "fade-in-effect" for login form effect -->
				<form method="post" role="form" id="login" action=" /affiliate/login/" class="all-reg-login login-form fade-in-effect in">
	
					<div class="login-header">
						<a href=" /affiliate/login/" class="logo">
							
							</br>
							<!-- <img src="/static_files/images/fozilp-text.png"> -->
							<!-- <img src="/static_files/images/fozilp-full-logo.png"> -->
							</a>
						<h2 class="heading-for-logins">LOGIN</h2>
					{% if errors %}
					<p>{{errors}}</p>
					{%endif%}
					{% if message %}
					<p>{{message}}</p>
					{%endif%}
						
					</div>
					
					<div class="form-group">
					<input class="form-control form-control-solid placeholder-no-fix"  type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
					</div>
					
					
					
					<fieldset>
						
						<div class="form-group first">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-user"></i></span>
								<input type="text" class="form-control input-lg" id="username" name="username" placeholder="Username" autocomplete="off">	
							</div>
						</div>
						
						<div class="form-group last last-one">
						  	<div class="input-group col-sm-12 width-block-mobile">
								<span class="input-group-addon icons-before-input"><i class="fa fa-key"></i></span>
								<input type="password" class="form-control input-lg" id="passwd" name="passwd" placeholder="Password" autocomplete="off">
							</div>
						</div>
						
						<div class="form-group last last-one">
						<div class="input-group col-sm-12 remember-login">
							<label class="keep-user-logged-in"><input name="keep-user-logged-in" type="checkbox" id="cbox-keep-user-logged-in"> Remember me?</label>
						</div>
						</div>
	
						<button type="submit" class="btn btn-primary col-xs-12 login-register-btn">Login</button>
						
										
						
						<div class="row">
						
							<div class="col-md-6 col-xs-6">
								<a class="pull-left font-adjust" href=" /affiliate/register/">Register Here</a>
							</div><!--/col-->
							
							<div class="col-md-6 col-md-12 col-xs-6">
								<a class="pull-right font-adjust forgot-login-underline" href=" /affiliate/passwordreset/">Forgot Password?</a>
							</div><!--/col-->
							
							<!-- <div class="col-xs-4">
								<a class="pull-right" href="/affiliate/contact/">Contact Us </a>
							</div><!--/col-->
						
						</div><!--/row-->
							
					</fieldset>

	
				</form>
				
	
				<!-- External login -->
				<!-- <div class="external-login">
					<a href="#" class="facebook">
						<i class="fa-facebook"></i>
						Facebook Login
					</a>
	
					
					<a href="<?php _hash(); ?>" class="twitter">
						<i class="fa-twitter"></i>
						Login with Twitter
					</a>
	
					<a href="<?php _hash(); ?>" class="gplus">
						<i class="fa-google-plus"></i>
						Login with Google Plus
					</a>
					
				</div> -->
	
			</div>
	
		</div>
	
	</div>



	<!-- Bottom Scripts -->
	<script src="/static_files/assets/js/bootstrap.min.js"></script>
	<script src="/static_files/assets/js/TweenMax.min.js"></script>
	<script src="/static_files/assets/js/resizeable.js"></script>
	<script src="/static_files/assets/js/joinable.js"></script>
	<script src="/static_files/assets/js/xenon-api.js"></script>
	<script src="/static_files/assets/js/xenon-toggles.js"></script>
	<script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
	<script src="/static_files/assets/js/toastr/toastr.min.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="/static_files/assets/js/xenon-custom.js"></script>
<script src="/static_files/assets/admin/pages/scripts/login.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {     

Login.init();
});
</script>

<br/><br/><br/><br/><br/>

<footer class="footer-bottom-privacy">

<div class="container-fluid">

<div class="privacy-over-div">

				<div class="footer-text footer-bottom-text" style="">
						© 2018 {{partner}}, Powered by Wynta
					</div>

<!-- {% if partner == "Fozil Partners" %} -->

							<!-- {% else %}
				<div class="footer-text footer-bottom-text" style="background-color: #000;color: #fff;">
						© 2018 {{partner}} Affiliate, Powered by Wynta
					</div>
							{% endif %} -->
						

					
</div>

</div>

</footer>

</body>
</html>