<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
 
    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	 <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/editor.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
	
   <script src="//code.jquery.com/jquery-1.12.4.js"></script>
	
	
	
	<script src="/static_files/new_wynta/js/tinymce/js/tinymce/tinymce.min.js"></script>
	<script src="/static_files/new_wynta/js/tinymce/js/tinymce/init-tinymce.js"></script>
	
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<style type="text/css">
body {
    font-family: sans-serif !important;
}
.mce-content-body, #tinymce {font-family:sans-serif !important;}
.tox .tox-mbtn__select-label {font-family: sans-serif;}
.tox a {display:none;}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle)
{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.control-label {color:#000; width:100%;}
.btn-group {
    width: auto;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.Editor-editor:hover, .Editor-editor:focus {background:none !important}
.btn {
height:auto;
    
}

.modal-header {display:inline;}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.mainMessage p {
    font-size: 14px;
    color: #000;
    padding: 7px 0px 7px 0px;
    border-radius: 5px;
	margin-bottom:0;
}

.dateTime {font-size:14px; color:#67757c; }

</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
     <div id="main-wrapper">
  
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Message</h3> 
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Message</a></li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
                                    <div class="col-md-12" style="display:none !important;">
                                        
                                      
                                                
                                                <div class="row date-right-mobile-none mobile-left-date" style="margin-bottom: -15px;float:right;">
                                                <div class="col-md-12 form-group adjust-top-bottom-dash adjust-top-bottom-dash1">
                                                
                                                    
                                                    
                                                </div> 
												

                                            </div>
                                                
                                      
                                                <!-- SITE SELECTION -->
   
           	
           <br/>
                        
            <!-- END SAMPLE FORM PORTLET-->
                        					  
                                            
                                    </div>
                                </div>
					
					           <form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();">
                                               
                                                <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                                                <!-- <input type="hidden" id="sitename" name="sitename" value="All" required="True"/> -->
                                                  <input type="hidden" name="format" value="json" />
                                                               
                          <div class="row p-l-r-10">
						  
						  <div class="col-md-12 col-sm-12 p-l-0 p-r-0 top-space-adjust-sec">
						  
						  <span class="replyHide">
						  
						                              <div class="form-group col-lg-12 col-md-12">
													  
                                                  <label class="control-label">From <span class="pull-right d-block dateTime">{{data.timestamp}}</span></label>
                                                  <div class="col-md-12 pl-0 pr-0">
                                                      <input type="text" value="{{data.from}}" placeholder="" id="inputFrom" name="from_email" class="form-control" readonly>
                                                  </div>
                                              </div>
										  
                                              <div class="form-group col-lg-12 col-md-12">
                                                  <label class="control-label">To</label>
                                                  <div class="col-md-12 pl-0 pr-0">
                                                      {% if data.to != undefined %}
                                                      <input type="text" id="inputTo" class="form-control" name="to_email" value="{{data.to}}" readonly>
                                                      {% endif %}
                                                  </div>
                                              </div>
											  
											                       <div class="form-group col-lg-12 col-md-12">
                                                  <label class="control-label">Subject</label>
                                                  <div class="col-md-12 pl-0 pr-0">
                                                      {% if data.subject != undefined %}
                                                      <input type="text" id="inputSubject" class="form-control" value="{{data.subject}}" readonly>
                                                      
													  {% else %}
                                                      <input type="text" class="form-control" name="subject" required>
                                                      {% endif %}
                                                    </input>
													
                                                  </div>
                                              </div>
                                              {% if data.subject == undefined %}
                                              <div class="form-group col-lg-12 col-md-12">
                                                  <label class="control-label">Message</label>
                                                  <div class="col-md-12 pl-0 pr-0">
                                                      <textarea rows="5" cols="30" class="form-control tinymce" id="content" name="content" style="height:auto;"></textarea>
                                                  </div>
                                              </div>
                                              {% else %}
                                              <div class="form-group col-lg-12 col-md-12 mainMessage">
                                                <label class="control-label">Message</label>
                                                {{data.content|safe}}
                                              </div>
                                              {% endif %}
                                              {% if data.subject == undefined %}
                                              <div class="form-group ">
                                                  <div class="col-lg-offset-2 col-lg-12 pl-0"> 
                                                      <button class=" btn-send button-large button-web-get" type="submit">Send</button>
													  {% elif data.s_r == 'Received' %}
												  <button class=" btn-send button-large button-web-get" onclick="replymessage()" type="button">Reply</button>
                                                
                                                  </div>
                                              </div>
                                              {% endif %}
											  
											  </span>
											  
											  
											  
											  {% if data.s_r == 'Received' %}
											   <div class="replyMessage" style="display:none;">
											  
											  <!-- Reply Message -->
											  
											  <div class="form-group col-lg-12 col-md-12">
													  
                                                  <label class="control-label">From <span class="pull-right d-block dateTime">{{data.timestamp}}</span></label>
                                                  <div class="col-md-12 pl-0 pr-0">
                                                      <input type="text" value="{{data.to}}" placeholder="" name="from_email" class="form-control" readonly>
                                                  </div>
                                              </div>
										  
                                              <div class="form-group col-lg-12 col-md-12">
                                                  <label class="control-label">To</label>
                                                  <div class="col-md-12 pl-0 pr-0">
     
                                                      <input type="text" value="{{data.from}}" class="form-control" name="to_email" readonly>
                                               
                                                  </div>
												 
												 
                                              </div>
											  
												   <div class="form-group col-lg-12 col-md-12">
                                                  <label class="control-label">Subject</label>
                                                  <div class="col-md-12 pl-0 pr-0">
                                                     
                                                      <input type="text" class="form-control" tabindex="-98" name="subject" value="Re - {{data.subject}}">
                                                
                                                  </div>
                                              </div>
                                           
                                              <div class="form-group col-lg-12 col-md-12">
                                                  <label class="control-label">Message</label>
                                                  <div class="col-md-12 pl-0 pr-0">
												 
													<span>{{data.content|safe}}</span>
                                             
                                                      <textarea rows="5" cols="30" class="form-control tinymce" id="content" name="content" style="height:auto;"></textarea>
                                                  </div>
                                              </div>
                                            
											
                                              
                                              <div class="form-group">
                                                  <div class="col-lg-offset-2 col-lg-12 pl-0">   
                                                      <button class=" btn-send button-large button-web-get" type="submit">Send</button>
                                                 </div>
                                              </div>
                                    
									
											  </div> <!-- Reply Message -->
											  {% endif %}
											  
											  
											  
											  </div>

						  </div>	

</form>	
				
               
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	
	</div>
	
	{% include "affiliates/new_design/footer-1.html" %}
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

 <script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>


<script type="text/javascript">

function replymessage(){
  $('#inputFrom').removeAttr('name');
  $('#inputTo').removeAttr('name');
	$('.replyMessage').show();
	$('.top-space-adjust-sec').hide();
}


function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
  };

function getcode(ele){
	url = $(ele).attr('hrefs')
	$.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                	$('#link-code').val(data.linkurl);
                    $('#get-code').show();
                    $("#cover").show();
                }
          }
    });
    return false;

}


function ajaxsubmitFormData(){

 if ($('#DashBoardFormID').valid()){
 
    var search_form = $("#DashBoardFormID");
    // if(!siteselected){
    //     alert("Please select at least one site.");
    //     return false;
    // }
    if(window.siteload == true){
        return true;
    }
    tinymce.triggerSave();
    data_set = search_form.serialize()
    // ajaxBlockUI($(".page-content"))
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: data_set,
          dataType: 'json',
          success: function(data) {
              if (data.status == "Success"){
                  window.location.href = "//"+ window.location.hostname + "/affiliate/messages/";
              }
          }
    });
    return false;
	}
}


jQuery(document).ready(function() { 
	$('#multiple-checkboxes').multiselect({
        includeSelectAllOption: true,
        enableFiltering: true,
        allSelectedText:'All Affiliates',
    enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Select Affiliate'
    }, 'selectAll');

	Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
	egcsTools.initNavigation();
   egcsTools.initDashboardDaterange();    
   $(".page-sidebar-menu li").eq(3).addClass("active");
   
   
});

		function toggleSampleChatWindow()
		{
			var $chat_win = jQuery("#sample-chat-window");
	
			$chat_win.toggleClass('open');
	
			if($chat_win.hasClass('open'))
			{
				var $messages = $chat_win.find('.ps-scrollbar');
	
				if($.isFunction($.fn.perfectScrollbar))
				{
					$messages.perfectScrollbar('destroy');
	
					setTimeout(function(){
						$messages.perfectScrollbar();
						$chat_win.find('.form-control').focus();
					}, 300);
				}
			}
	
			jQuery("#sample-chat-window form").on('submit', function(ev)
			{
				ev.preventDefault();
			});
		}
	
		jQuery(document).ready(function($)
		{
			$(".footer-sticked-chat .chat-user, .other-conversations-list a").on('click', function(ev)
			{
				ev.preventDefault();
				toggleSampleChatWindow();
			});
	
			$(".mobile-chat-toggle").on('click', function(ev)
			{
				ev.preventDefault();
	
				$(".footer-sticked-chat").toggleClass('mobile-is-visible');
			});
		});
		</script>
		
		<script>

	$("#DashBoardFormID").validate({
             rules: { 

					to_email: {
					  required: true,
					},			 
				 
                  subject: {
                      required: true,
				  },
                  content: {
                      required: true,
				  },

              },
				
            messages: {
                
                to_email: {
                  required: 'Please enter valid email address.'
                },
                subject: {
                   required: 'Please enter your subject.'
				},
                content: {
                   required: 'Please enter your message.'
				},
                
            },
			

			submitHandler: function (form) {
                // if($('#nodata').is(":visible")==false){
                //       form[0]. submit();
					  
                //     }
                }
            
              });

</script>	
		
		
		<!-- Include Required Prerequisites -->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<!-- Date Picker Ends -->


<script type="text/javascript">
$(function() {

     var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>


				

<div id="cover" style="display:none;"> </div>
</body>
</html>