
<!DOCTYPE html> 
<html>
	<head>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
		
		<link rel="stylesheet" href="https://tools.vcommission.com/assets/css/demo.css" />
		<link rel="stylesheet" href="https://tools.vcommission.com/assets/css/sky-forms.css" />
		<link rel="stylesheet" href="https://tools.vcommission.com/assets/css/sky-forms-green.css" />
        <link rel="stylesheet" href="https://tools.vcommission.com/assets/css/font-aws/css/font-awesome.css">
   <title>Thank you for signing up {{partner}}!</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style>
	.fozil-sky-form {margin: 0;
    outline: none;
    box-shadow: none;
    font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    color: #666;
    border: 1px solid #ccc;
     border-bottom: none; 
    margin-top: 30px;}
	
	.fozil-header-thanks {display: block; border-bottom:
    padding: 20px 30px;
    border-bottom: none;
    background: rgba(248,248,248,.9);
    font-size: 25px;
    font-weight: 300;
    color: #232323;
    padding-bottom: 80px;
    padding-top: 0px;}
	
	.login-wynta-logo {
    display: block;
    margin: 0 auto;
}

.maxi-logo {display:block; margin:0 auto;}
	
	</style>
	</head>
	<body >
		<div class="body" style="max-width:680px !important;">			
		
			<!-- Green color scheme -->
			{% if 'vcommission' in partner|lower %}
			<form  class="sky-form" />
				<header><center>Thank You!
<br/>
<small><p style="text-align:justify !important;">Thank you for signing up @ vCommission. Your application is currently being reviewed. An account manager will contact you shortly. Please note that we do visit and evaluate every application prior to acceptance. Approval time is usually 2-3 business days.</p>
<br/>

<p style="text-align:justify !important;">Our team will try to call you during this time to verify details entered. To expedite the process, you may please call +91-124-4700400 between 10 AM to 5 PM Indian Time (GMT + 0530 hours) or email support@vcommission.co.uk </p><br/>
<p style="text-align:justify !important;">You will be redirect to our website <a href="http://vcommission.co.uk">www.vcommission.co.uk</a> in 10 Seconds.</p>
</small>


</center>
</header>
<script type="text/javascript">
window.setTimeout(function() {
    window.location.href = 'http://vcommission.co.uk';
}, 10000);
</script>
				</form>
				{% else %}
				{% if partner == 'Maxi Affiliates' %}
				<img src="{{partner_obj.logo.url}}" width="" alt="" class="maxi-logo" />
				{%else%}
				<img src="/static_files/images/wynta_login_logo.svg" class="login-wynta-logo">
				{% endif %}
				<form  class="sky-form fozil-sky-form">
				
				<header class="fozil-header-thanks"><center>
				
				<!-- <img src="/static_files/assets/images/fozil-logo-thanks.png" /> -->

<small><p style="padding-top:15px;"><strong>Thank you for signing up with {{partner}}!</strong></p>




{% if 'fozilpartners' in partner_obj.domain %}
<p style="font-size: 17px;
    text-align: center;
    padding-top: 20px;
    line-height: 30px;">We will get back to you shortly to let you know if your registration has been successful. Please contact <span style="color:#29aae1; font-weight:bold;">vanessa@fozilmedia.com</span> for any further assistance. </p>
<p style="padding-top:20px;"><a href="//www.wynta.com" style="color:#29aae1 !important; font-size:18px;"><strong>www.wynta.com</strong></a></p>
{% else %}
<p style="font-size: 17px;
    text-align: center;
    padding-top: 20px;
    line-height: 30px;">We are setting up your account. We will get back to you shortly. Please contact admin for help. </p>

	
		{% if partner == 'Maxi Affiliates' %}
			<p style="padding-top:20px;"><a href="//www.maxiaffiliates.com" style="color:#29aae1 !important; font-size:18px;"><strong>www.maxiaffiliates.com</strong></a></p>
		{%else%}
			<p style="padding-top:20px;"><a href="//www.wynta.com" style="color:#29aae1 !important; font-size:18px;"><strong>www.wynta.com</strong></a></p>
		{% endif %}
{% endif %}
</small>

</center>
</header>
				</form>
				{% endif %}
				</div>
       
        
	</body>

</html>