
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Affiliate One Login</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-core-partner.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
    <link rel="stylesheet" href="/static_files/assets/css/custom.css">

    <script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/static_files/css/animate-custom.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<style>

body {font-family: sans-serif !important;}
.left-right-adjust {padding-top:50px !important;}

.middle-login-reg1 {
    margin: 0 auto;
    width: 52%;
}

#login { border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
	}

.login-page .login-form .login-header {text-align:center;}

.heading-for-logins1 {
    text-transform: inherit;
    text-align: center;
    color: #000;
    font-weight: normal;
    font-size: 20px;
    margin-top: -15px;
}

ul.affAll {padding: 10px;
    margin: 30px;
    margin-top: 10px;}
	
ul.affAll li {    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    padding-top: 15px;
	padding-left: 10px;
	}

	ul.affAll li:hover {    overflow: hidden;
    background: #f0f0f0;
	}
	
ul.affAll li:last-child {border-bottom:none !important;}

.affImg {display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    background: #f9f9f9;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 20px;}
	
.affIcon {color:#000; margin-bottom:0;}
.affNameEmail { margin-top: -8px; }
.affName {color: #3c4043;
    font-size: 15px;
    margin-bottom: 2px;}

.affemail {color: #5f6368; margin-bottom: 0;}

.addRemove {padding-top: 20px !important;
    padding-bottom: 20px !important;}

.addImg {width: 25px;
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 9px;
	}
	
.addUser {margin-bottom: 0;
    margin-top: 4px;
    font-size: 15px;
    color: #3c4043;
	}
	
	
	
	
	
	
	
/**** STYLES LOGIN REGISTER ****/

/** Styling both forms **/

/**** STYLES LOGIN REGISTER ENDS ****/	

.emailPassAll {    padding: 5px;
    display: table;
    border: 1px solid #ccc;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;}
	
#email {border-radius:5px;height:55px; text-indent:0;}

.submitButton {padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    border-radius: 5px; font-weight:normal;
    margin-bottom: 0;
	background:#1976d2 !important;}
	
.submitButton:hover {border:none !important; background:#0091e0 !important;}
	
.angleDown {padding-top: 3px;
    padding-right: 0;
    margin-right: 0;}

.deleteUser {width:25px;}

#affDone {color:#0091e0; font-size:15px; font-weight:bold;}

</style>
    
</head>
<body class="page-body login-page">
    
    <div class="login-container">
    
        <div class="row left-right-adjust">
    
            <div class="middle-login-reg1 login-box">
    
                <!-- Errors container -->
                <div class="errors-container">
    
                    
                </div>
                
                            <form method="post" role="form" id="login" action="." class="all-reg-login login-form fade-in-effect in">
    
                    <div class="login-header1">
                      
                        <div class="text-center">    </br>
                            
                            {% if partner == 'vCommission UK Partners' %}
                                <img src="{{partner_obj.logo.url}}" width="230" alt="" class="vcomm-logo" />
                            {% else %}
                            <img src="/static_files/images/wynta_login_logo.svg" class="login-wynta-logo">
                            {% endif %}
                            <br/></br>
                            
                        
                    {% if errors %}
                    <p class="alert-danger">{{errors | safe}}</p>
                    {%endif%}
                    {% if message %}
                    <p class="alert-danger">{{message | safe }}</p>
                    {%endif%}
                        
						</div>
                    
                    
                    <div class="form-group">
                    <input class="form-control form-control-solid placeholder-no-fix"  type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                    </div>
                   
                    
                    <div class="affAccount">
					
					<!-- Login Affiliates -->
					
						<div class="affLogin animate form" id="affLogin">
						
						<h2 class="heading-for-logins1">Choose an account</h2>
						
						<ul class="affAll">

						  <div id='accounts'></div>
						   
						   <li class="addRemove">
							   <a id='anotherAccount'>
								<img src="/static_files/images/addUser.svg" class="addUserImg addImg"/>
								<h4 class="addUser">Use another account</h4>
							</a>	
						   </li>
						   
						   <li class="addRemove" id="removeAff">
								<a><img src="/static_files/images/removeUser.svg" class="removeUserImg addImg"/>
								<h4 class="addUser">Remove an account</h4>
								</a>
						   </li>
							
						</ul>
							
						</div>
						
						<!-- Login Affiliates Ends -->
						
						<div class="clear"></div>
						
						<!-- Email and Password -->
						<form method="post" role="form" id="login" class="all-reg-login login-form fade-in-effect in">

							<div class="affLogin animate form" id="affRegister" style="display: none;">
						
								<h2 class="heading-for-logins1" id="loginProgramme"></h2>
						
								<ul class="affAll">
						
									<a href="" class="text-center emailPassAll" id="loginEmail">
									</a>
									<div class="form-group">
											<input placeholder="username" class="input-lg radius form-control form-control-solid placeholder-no-fix"
												type="hidden" name="username" id="username">
									</div>
									<input placeholder="username" class="input-lg radius form-control form-control-solid placeholder-no-fix"
												type="hidden" name="onelogin" id="onelogin">
									<!--  -->
									<div class="form-group">
										<input placeholder="Password" class="input-lg radius form-control form-control-solid placeholder-no-fix"
											type="password" name="passwd" id="passwd" value="">
									</div>
									{% if errors %}
									<p class="alert-danger">{{errors}}</p>
									{%endif%}
									{% if message %}
									<p class="alert-danger">{{message}}</p>
									{%endif%}
						
									<li>
						
										<div class="forgotSubmit">
											<a class="pull-left" id="forgotLink">Forgot password?</a>
											<button type="submit" class="submitButton btn btn-success pull-right">
												Submit
											</button>
										</div>
						
									</li>
						
						
								</ul>
						
						
							</div>
						</form>
						
						<!--- End of Email and Password -->
						
						
						
						<!-- Forgot Password -->
						
						<div class="affLogin animate form" id="affForgot" style="display: none;">
						
						<h2 class="heading-for-logins1">Enter your recovery email</h2>
						
						<ul class="affAll">
						
							
							<div class="form-group">
								<input placeholder="Enter your password" class="input-lg radius form-control form-control-solid placeholder-no-fix"  type="text" name="email" id="email" value="">
							</div>

						<li>
						
							<div class="forgotSubmit">
								
								<a href="" type="button" class="submitButton btn btn-success pull-right">
									Submit
								</a>
							</div>
							
						</li>
							
							
						</ul>
						
						
						</div>
						
						<!--- End of Forgot Password -->
						
						<div class="clear"></div>
						
						
						<!-- Remove Affiliates -->
						
						<div class="affLogin animate form" id="affRemoveShow" style="display:none;">
						
						<h2 class="heading-for-logins1">Remove an account</h2>
						
						<ul class="affAll">

							<div id='remove-accounts'></div>
						   
						    <li class="addRemove">
								
									<img src="/static_files/images/addUser.svg" class="addUserImg addImg" />
									<h4 class="addUser">Use another account</h4>
								</a>
						   </li>
						   
						   <li>
						
							<div class="forgotSubmit">
								<a class="pull-left text-primary" id="affDone">Done</a>	
							</div>
							
						</li>
							
						</ul>
							
						</div>
						
						<!-- Remove Affiliates Ends -->
						
						
						
						
					
					</div> <!-- Affiliate accounts -->
					
					<div class="clear"></div>
					
					</div>
    
    
              
            </div>
    
        </div>
    
    </div>



    <!-- Bottom Scripts -->
    <script src="/static_files/assets/js/bootstrap.min.js"></script>
    <script src="/static_files/assets/js/TweenMax.min.js"></script>
    <script src="/static_files/assets/js/resizeable.js"></script>
    <script src="/static_files/assets/js/joinable.js"></script>
    <script src="/static_files/assets/js/xenon-api.js"></script>
    <script src="/static_files/assets/js/xenon-toggles.js"></script>
    <script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="/static_files/assets/js/toastr/toastr.min.js"></script>


    <!-- JavaScripts initializations and stuff -->
    <script src="/static_files/assets/js/xenon-custom.js"></script>
<script src="/static_files/assets/admin/pages/scripts/login.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {    
	$.ajax({
			type: "GET",
			url: '/affiliate/get-account-ip/',
			dataType: 'json',
			success: function (res) {
				console.log('response' + res);
				if(res.account.length>0){
					sessionStorage.setItem('accounts', JSON.stringify(res.account));
					console.log(sessionStorage.getItem('accounts'))
					showAccounts('accounts',res.account);
				}else{
					location = '/affiliate/login/'
				}
			},
		});

Login.init();
});
</script>

<script>

                if (localStorage.chkbx && localStorage.chkbx != '') {
                    $('#remember_me').attr('checked', 'checked');
                    $('#username').val(localStorage.usrname);
                    $('#passwd').val(localStorage.pass);
                } else {
                    $('#remember_me').removeAttr('checked');
                    $('#username').val('');
                    $('#passwd').val('');
                }

                $('#remember_me').click(function() {

                    if ($('#remember_me').is(':checked')) {
                        // save username and password
                        localStorage.usrname = $('#username').val();
                        localStorage.pass = $('#passwd').val();
                        localStorage.chkbx = $('#remember_me').val();
                    } else {
                        localStorage.usrname = '';
                        localStorage.pass = '';
                        localStorage.chkbx = '';
                    }
				});
				loginAgain = function (account) {
			if (sessionStorage.getItem('accounts')) {
				var accounts = JSON.parse(sessionStorage.getItem('accounts'));
				data = {
					affid: accounts[account][2],
					affiliate_session_id: accounts[account][2]
				}
				$.ajax({
					type: "POST",
					url: '/affiliate/one-login/',
					data: JSON.stringify(data),
					dataType: 'json',
					success: function (res) {
						console.log('response' + res);
						if (res.status == 'success') {
							window.open('https://'+accounts[account][1]+'/affiliate/')	;
						}
					},
				});
			}
		}

	showAccounts = function(htmlid, accounts){
		console.log(htmlid+accounts)
		accountsHTML = '';
        for(i=0;i<accounts.length;i++){
			if (htmlid == 'accounts') {
				accountsHTML = accountsHTML + '<li onclick="loginAgain('+ i +')" style="border-bottom: 1px solid #ccc !important;" ><a id="emailPass"><div class="affImg"><p class="affIcon">'+ accounts[i][3].charAt(0)+'</p></div><div class="affNameEmail pull-left"><h4 class="affName">'+ accounts[i][3] +'</h4><p class="affemail">'+ accounts[i][0] +'</p></div><div class="affSignoutMobile pull-right"><p class="affSignout">Signed out</p></div></a></li>'
			}else{
				accountsHTML = accountsHTML + '<li onclick="removeAccount('+ i +')" style="border-bottom: 1px solid #ccc !important;" ><a><div class="affImg"><p class="affIcon">'+ accounts[i][3].charAt(0)+'</p></div><div class="affNameEmail pull-left"><h4 class="affName">'+ accounts[i][3] +'</h4><p class="affemail">'+ accounts[i][0] +'</p></div><div class="pull-right"><img src="/static_files/images/deleteUser.svg" class="deleteUser" /></div></a></li>'
			}
		}
		$('#'+htmlid).html(accountsHTML);
	}
	
removeAccount = function(account){
		var accounts = JSON.parse(sessionStorage.getItem('accounts'));
		console.log('insid the remove account'+accounts)
		$.ajax({
			type: "POST",
			url: '/affiliate/remove-account/',
			dataType: 'json',
			data: JSON.stringify(accounts[account]),
			success: function (res) {
				console.log('response' + res);
				if(res.account){
					delete accounts[account];
					accounts = filter_array(accounts)
					sessionStorage.setItem('accounts',JSON.stringify(accounts));
					$('#remove-accounts').html('');
					console.log('accounts');
					showAccounts('remove-accounts',accounts);
				}
			},
		});
		// showAccounts('remove-accounts',accounts );
	
}

function filter_array(test_array) {
    let index = -1;
    const arr_length = test_array ? test_array.length : 0;
    let resIndex = -1;
    const result = [];

    while (++index < arr_length) {
        const value = test_array[index];

        if (value) {
            result[++resIndex] = value;
        }
    }

    return result;
}

        </script>

<footer class="" id="footer">

<div class="container-fluid">

<div class="privacy-over-div">

<div class="row">



<div class="text-center">

<div class="footer-text">
    © 2019 {{partner}}, Powered by Wynta
</div>

</div>

</div> <!-- Row Div -->
                    
</div>

</div>

</footer>

<script>
$(function() {

	$('#anotherAccount').click(function(e) {
		window.open('');
	});
    // $('#emailPass').click(function(e) {
	// 	$("#affRegister").css("display", "inline").toggleClass('clicked');
 	// 	$("#affLogin").hide();
	// 	e.preventDefault();
	// });
	
	$('#forgotLink').click(function(e) {
		$("#affForgot").css("display", "inline");
 		$("#affLogin, #affRegister").hide();
		e.preventDefault();
	});
	
	$('#removeAff').click(function(e) {
		$("#affRemoveShow").css("display", "inline");
		showAccounts('remove-accounts', JSON.parse(sessionStorage.getItem('accounts')));
 		$("#affLogin, #affRegister, #affForgot").hide();
		e.preventDefault();
	});
	
	$('#affDone').click(function(e) {
 		// $("#affLogin").css("display", "inline");
 		// $("#affRegister, #affForgot, #affRemoveShow").hide();
		window.location.reload();
		e.preventDefault();
	});
	
	var mobileWidth = $(window).width();
	$('.affSignoutMobile').css('float','right');
	if(mobileWidth < 767){
		$('.middle-login-reg1').css('width','90%');
		$('.affSignoutMobile').css('float','left');
	} else {
		return false;
	}
	
});
</script>

</body>
</html>

<!-- <li><a id="emailPass">
						  
		<div class="affImg">
			<p class="affIcon">F</p>
		</div>
		
		<div class="affNameEmail pull-left">
			<h4 class="affName">Fozil partners</h4>
			<p class="affemail">vanessa@fozilmedia.com</p>
		</div>
		
		<div class="affSignoutMobile">
			<p class="affSignout">Signed out</p>
		</div>
		
	   </a></li>
	   
	   <li>
	  
		<div class="affImg">
			<p class="affIcon">M</p>
		</div>
		
		<div class="affNameEmail pull-left">
			<h4 class="affName">Maxi Affiliates</h4>
			<p class="affemail">vanessa@fozilmedia.com</p>
		</div>
		
		<div class="affSignoutMobile">
			<p class="affSignout">Signed out</p>
		</div>
		
	   </li> -->