<div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        
                        <li class="nav-label">Main</li>
                        <li> <a class="itemd" href="/affiliate/dashboard" aria-expanded="false"><i class="fa fa-home"></i><span class="hide-menu">Dashboard </span></a>
                            
                        </li>
                       
                        <li class=""> <a class="has-arrow  " href="#" aria-expanded="flase"><i class="fa fa-bars"></i><span class="hide-menu">Campaigns</span></a>
                            <ul aria-expanded="false" class="hidden">
                                
                                <li><a class="itemd" href="/affiliate/campaigns-admin/">Campaigns Admin</a></li>
                                <li><a class="itemd" href="/affiliate/campaign-setup/">Set Up</a></li>
                               
                            </ul>
                        </li>
                     
						
						<li class=""> <a class="itemd" href="/affiliate/marketing-material/" aria-expanded="false"><i class="fa fa-line-chart"></i><span class="hide-menu">Marketing Material</span></a>
                            
                        </li>
                       

						<li class=""> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Reports</span></a>
                            <ul aria-expanded="false" class="hidden">
                                <li><a class="itemd" href="/affiliate/earnings-report/">Earnings Report</a></li>
                                {% if partner != 'Maxi Affiliates' %}
                                <li><a class="itemd" href="/affiliate/player-report/">Player Report</a></li>
                                <li><a class="itemd" href="/affiliate/device-report/">Device Report</a></li>
                                {% endif %}
                                <li><a class="itemd" href="/affiliate/campaign-report/">Campaign Report</a></li>
                                <li><a class="itemd" href="/affiliate/dynamic-report/">Dynamic Report</a></li>
                                <li><a class="itemd" href="/affiliate/sub-affiliate-report/">Sub-affiliate Report</a></li>
                                <!-- <li><a href="/affiliate/statementrpt/">Statements Report</a></li> -->
								<!-- <li><a class="itemd" href="/affiliate/payment-history/">Payment History</a></li> -->
                                <!-- <li><a class="itemd" href="/affiliate/gaming-report/">Gaming Report</a></li> -->
                            </ul>
                        </li>
                        {% if request.session.affRefChoice %}
                        <li class=""> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bullhorn"></i><span class="hide-menu">Refer An Affiliate</span></a>
                            <ul aria-expanded="false" class="hidden">
                                <li><a class="itemd" href="/affiliate/get-referral-link/">Get Referral Link</a></li>
                                <li><a class="itemd" href="/affiliate/sub-affiliate-list/">Sub-affiliate List</a></li>
                          
                                
                            </ul>
                        </li>
                        {% endif %}
                        <li class=""> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">My Account</span></a>
                            <ul aria-expanded="false" class="hidden">
                                <li><a class="itemd" href="/affiliate/edit-profile/">Profile Details</a></li>
                                <li><a class="itemd" href="/affiliate/payment-details/">Payment Details</a></li>
								<li><a class="itemd" href="/affiliate/change-password/">Change Password</a></li>
                                
                            </ul>
                        </li>
                        
                        <li class=""> <a class="" href="/affiliate/messages/" aria-expanded="false"><i class="fa fa fa-envelope"></i><span class="hide-menu">Messages</span></a>
                            
                        </li>
						
						<li class=""> <a class="" href="/affiliate/whats-new/" aria-expanded="false"><i class="fa fa-bullhorn"></i><span class="hide-menu">Whats New</span></a>
                            
                        </li>
						
						<!-- <li> <a class="has-arrow  " href="/affiliate/faq/" aria-expanded="false"><i class="fa fa-question"></i><span class="hide-menu">FAQ</span></a> -->
                            
                        <!-- </li> -->
                       
                        
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
<script type="text/javascript">
$('.itemd').on("click",function(){
    $("#remove-overlay").addClass("overlay");
  $(".preloader").show();
  //post code
  
});
    

</script>