
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title> Wynta PMC Login</title><link rel="icon" type="image/png" href="/static_files/pmc-styles/images/fav-png-pmc.png" />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-core-partner.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
    <link rel="stylesheet" href="/static_files/assets/css/custom.css">

    <script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<style>

input:focus {box-shadow:none !important;}

.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important; padding:10px; text-align:center;
}

.login-page .login-form .form-group .form-control:-webkit-autofill {
    border: 1px solid #ccc !important;
}

.icons-before-input {
    position: absolute !important;
    z-index: 999;
    top: 1px;
    left: 1px;
    border: none;
    width: 40px;
    line-height: 36px !important;
}
.input-group-addon {
    top: 1px;
    font-size: 15px;
    color: #dddddd;
    background: #f5f5f5 !important;
}

.form-control:focus, .form-control:active {border:none !important;}
.privacy-over-div {}
#footer {  position: absolute;
    bottom: 2%; width:100%; text-align:center;}
.login-page {font-family:sans-serif !important;}
.footer-text {margin-right:20px; color:#000; font-size:14px;}
.footer-left-links ul li {display:inline;}
.footer-left-links ul li a {color:#000; padding:10px; font-size:14px;}
.footer-left-links ul li a:hover {text-decoration:underline;}

input {color:#000;}

::placeholder {
    color: #000;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #000;
}

.left-right-adjust {
    padding-top: 90px;
}

.input-group-addon {font-size:15px; color:#dddddd;background: #f5f5f5 !important;}

.login-box .input-group-addon:after {border:none;}

.login-page .login-form .form-group .form-control {    font-size: 10pt;
    border: 1px solid #ddd; 
    background: #f5f5f5;
    height: 50px; color:#000;}

.login-wynta-logo {width:138px;display:block; margin:0 auto;}
.input-group[class*=col-]
{float:none;}
label.error {
  z-index: 999 !important;
  color: #2c2e2f !important;
}
body {background:#fff !important;}

.footer-bottom-privacy {
    background-color: {{ partner_obj.bgcolor }} !important;
    color:{{ partner_obj.bgtext }} !important;
}

.footer-bottom-text {
    background-color: {{ partner_obj.bgcolor }} !important;
    color:{{ partner_obj.bgtext }} !important;
}

.page-logo.my-logo {
    background-color: {{ partner_obj.bgcolor }} !important;
    color:{{ partner_obj.bgtext }} !important;
}

.top-header-fozil {
    background-color: {{ partner_obj.bgcolor }} !important;
    color:{{ partner_obj.bgtext }} !important;
}

.dropdown-toggle {
    background-color: {{ partner_obj.bgcolor }} !important;
    color:{{ partner_obj.bgtext }} !important;
}

.egcs_submit_button {
    border:1px solid #b8b8b8;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(184, 184, 184, 0.1) 70%, rgba(184, 184, 184, 0.2) 100%) !important;
    background-color: #fff !important;
    color: #2585c7 !important;
    border-color: #b8b8b8 !important;
    font-weight: normal;
}

.login-register-btn, .egcs_submit_button:hover { background-color: #edf3f7 !important;
  border-color: #858585 !important;
  color: #0f3753; 
}

.login-register-btn {
    background: #ff7900 !important;
    color: #fff !important;
    border-radius: 0px !important;
    border: none;
    height: 55px;
    
}

.login-register-btn:hover {
    background: #ff8c24 !important;
    color: #fff !important;
    border-radius: 0px !important;
    border: none;
    height: 55px;
    
}


.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td
{
    background-color: {{ partner_obj.tablecolor }} !important;
    color: {{ partner_obj.tabletext }} !important;
}

@media only screen and (max-width: 700px) {
    .width-block-mobile {width:100%;}
    .middle-login-reg {width:90%;}
    .login-page {padding-top:5px !important;}
    
}

.myClass { padding: 15px;}

.alert-danger-main {    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;

    text-align: center;
    margin: 0 auto;
    margin-top: -45px;}


</style>
    
</head>
<body class="page-body login-page">

<!-- <header class="top-header-fozil"><div class="logo" style=""> -->
                        <!-- <a class="navbar-brand logo-expanded"> -->
                        
                            
                        <!-- </a> -->
                    
                    <!-- </div></a></header> -->
    <p class="alert-danger-main" id="error_message"></p>
    <div class="login-container">
    
        <div class="row left-right-adjust">
    
            <div class="middle-login-reg login-box">
    
                <!-- Errors container -->
                <div class="errors-container">
    
                    
                </div>
                <!-- <img src="/static_files/images/fozilp-full-logo.png" style="display: block;margin: 0 auto; padding-bottom: 10px"> -->
                <!-- Add class "fade-in-effect" for login form effect -->
                            <form role="form" id="login" class="all-reg-login login-form fade-in-effect in">
     
                    <div class="login-header">
                        <!-- <a href="." class="logo"> -->
                            
                            </br>
                            <!-- <img src="/static_files/images/fozilp-text.png"> -->
                            <!-- <img src="/static_files/images/fozilp-full-logo.png"> -->
                            <img src="/static_files/images/wynta_login_logo_pmc.svg" class="login-wynta-logo"><br/></br>
                            
                        <h2 class="heading-for-logins">Admin LOGIN</h2>
                    
                   
                    
                        
                    </div>
                    
                    <div class="form-group">
                    <input class="form-control form-control-solid placeholder-no-fix"  type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                    </div>
                    
                    
                    
                    <fieldset>
                        
                        <div class="form-group first">
                            <div class="input-group col-sm-12 width-block-mobile">
                                <span class="input-group-addon icons-before-input"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control input-lg" id="email" name="email" placeholder="Email" autocomplete="off"> 
                            </div>
                        </div>
                        
                        <div class="form-group last last-one">
                            <div class="input-group col-sm-12 width-block-mobile">
                                <span class="input-group-addon icons-before-input"><i class="fa fa-key"></i></span>
                                <input type="password" class="form-control input-lg" id="passwd" name="passwd" placeholder="Password" autocomplete="off">
                            </div>
                        </div>
                        
                        <div class="form-group last last-one">
                        <div class="input-group col-sm-12 remember-login">
                            <label class="keep-user-logged-in"><input name="keep-user-logged-in" type="checkbox" id="remember_me" style="vertical-align:sub;"> Remember me?</label>
                        </div>
                        </div>
    
                        <button type="button" onclick="logintoken()" id="signinb" class="egcs_submit_button btn btn-primary col-xs-12 login-register-btn">Sign In ></button>
                        
                                    
                        
                        <div class="row">
                        
                            <!-- <div class="col-md-6 col-xs-6">
                                <a class="pull-left font-adjust" href="/affiliate/register/">Register Here</a>
                            </div> --><!--/col-->
                            
                            <!-- <div class="col-md-6 col-md-12 col-xs-6">
                                <a class="pull-right font-adjust forgot-login-underline" href="/affiliate/passwordreset/">Forgot Password?</a>
                            </div> --><!--/col-->
                            
                            <!-- <div class="col-xs-4">
                                <a class="pull-right" href="/affiliate/contact/">Contact Us </a>
                            </div>
                        
                        </div><!-->
                            
                    </fieldset>

    
                </form> 
    
                <!-- External login -->
                <!-- <div class="external-login">
                    <a href="#" class="facebook">
                        <i class="fa-facebook"></i>
                        Facebook Login
                    </a>
    
                    
                    <a href="<?php _hash(); ?>" class="twitter">
                        <i class="fa-twitter"></i>
                        Login with Twitter
                    </a>
    
                    <a href="<?php _hash(); ?>" class="gplus">
                        <i class="fa-google-plus"></i>
                        Login with Google Plus
                    </a>
                    
                </div> -->
    
            </div>
    
        </div>
    
    </div>



    <!-- Bottom Scripts -->
    <script src="/static_files/assets/js/bootstrap.min.js"></script>
    <script src="/static_files/assets/js/TweenMax.min.js"></script>
    <script src="/static_files/assets/js/resizeable.js"></script>
    <script src="/static_files/assets/js/joinable.js"></script>
    <script src="/static_files/assets/js/xenon-api.js"></script>
    <script src="/static_files/assets/js/xenon-toggles.js"></script>
    <script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="/static_files/assets/js/toastr/toastr.min.js"></script>


    <!-- JavaScripts initializations and stuff -->
    <!-- <script src="/static_files/assets/js/xenon-custom.js"></script> -->
<script src="/static_files/assets/admin/pages/scripts/login.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {     

Login.init();
});
</script>

<script>
var token = window.localStorage.getItem("token");
if (token != null){
    window.location.href="/pmc/index";
}
var error_message = window.localStorage.getItem("error_message"); 
if(error_message != null){
	$('#error_message').html(error_message);
	$( ".alert-danger-main" ).addClass( "myClass" );
	window.localStorage.removeItem("error_message");
}
$(document).keyup(function(event) {
    if (event.keyCode === 13) {
        $("#signinb").click();
    }
});
    function logintoken(){
            var fd = new FormData(); 
            fd.email = document.getElementById("email").value;
            fd.passwd = document.getElementById("passwd").value;
            fd = {'email': document.getElementById("email").value,
                'passwd': document.getElementById("passwd").value}
            console.log(email)
            console.log(passwd)
            $.ajax({
                  url: '/pmc/login',
                  type: 'POST',
                  data: fd,
                  dataType: 'json',
                  success: function(data) {
                        var token =data.token;
                        window.localStorage.clear();
                        window.localStorage.setItem("token", token);
                        window.location.href="/pmc/index";

                      },
                  error: function(data){
                    console.log("fail");
                    console.log(data);
                  }
            });
        }


                if (localStorage.chkbx && localStorage.chkbx != '') {
                    $('#remember_me').attr('checked', 'checked');
                    $('#username').val(localStorage.usrname);
                    $('#passwd').val(localStorage.pass);
                } else {
                    $('#remember_me').removeAttr('checked');
                    $('#username').val('');
                    $('#passwd').val('');
                }

                $('#remember_me').click(function() {

                    if ($('#remember_me').is(':checked')) {
                        // save username and password
                        localStorage.usrname = $('#username').val();
                        localStorage.pass = $('#passwd').val();
                        localStorage.chkbx = $('#remember_me').val();
                    } else {
                        localStorage.usrname = '';
                        localStorage.pass = '';
                        localStorage.chkbx = '';
                    }
                });

        </script>

<footer class="" id="footer">

<div class="container-fluid">

<div class="privacy-over-div">

<div class="row">

<!-- <div class="pull-left"> -->

    <!-- <div class="footer-left-links"> -->
    
        <!-- <ul> -->
            <!-- <li><a href="">Customer Support</a></li> -->
            <!-- <li><a href="">Terms of Use</a></li> -->
            <!-- <li><a href="">Trust & Status</a></li> -->
            <!-- <li><a href="">Privacy</a></li> -->
            <!-- <li><a href="">Patent & Other IP</a></li> -->
        <!-- </ul> -->
    
    <!-- </div> -->

<!-- </div> -->

<div class="text-center">

<div class="footer-text">
    © 2019 {{partner}}, Powered by Wynta
</div>

</div>

</div> <!-- Row Div -->
                    
</div>

</div>

</footer>

<script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>

<script>
   
	$('#signinb').validate({
             rules: {
                  
                  username: {
                      required: true,
                  },
                  passwd: {
                      required: true,
				  },
                  

              },

            messages: {
                
                username: {
                  required: 'Please enter valid email address.'
                },
                passwd: {
                  required: 'Please enter your password.'
                },
                
            }
              });

</script>

</body>
</html>