<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />

	<title>{{partner}} - Login</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-core.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
	<link rel="stylesheet" href="/static_files/assets/css/custom.css">

	<script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>
<style type="text/css">
	.select-box-one {background:none !important; border:none !important; color:#fff;}
.fa-angle-down { font-size:16px !important;}
.user-info-menu>li>a i {font-size:16px !important;}
	
.user-info-navbar .user-info-menu>li>a {
    top: -37px !important;
    left: -30px;
}

.user-info-navbar .user-info-menu>li>a:hover {color:#e6d15c !important;}

.contact-white {color:#fff;}
.user-info-navbar {height:55px !important;}
.user-info-navbar .user-info-menu.right-links {margin-top:-9px;}
.user-info-navbar .user-info-menu>li .dropdown-menu.user-profile-menu { margin-top: -1px !important;
    width: 65%;
    margin-right: 60px;}
	.user-profile {height:10px !important; min-height:30px !important;}
.left-adjust-drops {margin-right:-28px !important;}
.user-info-navbar .user-info-menu>li>a:hover {}
.user-profile-menu {background:#3f4a56 !important;}
.user-info-navbar .user-info-menu>li .dropdown-menu.user-profile-menu li a {color: #2585c7 !important;
    font-weight: bold;
    font-size: 15px;}

.tile_count .tile_stats_count .count {
    font-size: 28px;
    line-height: 47px;
    font-weight: 500;
    opacity: 0.5;
}

.count_bottom {font-size: 11px !important;
    font-weight: normal !important;
    padding: 2px 0 8px 0 !important; text-transform:capitalize !important;}
	
.tile_count .tile_stats_count span {color:#333; font-weight:500; text-transform:uppercase;}
.user-info-navbar .user-info-menu>li .dropdown-menu.user-profile-menu li:hover {background:#fff;}
.header-top-logo-mobile {width:174px !important;}

.footer-bottom-privacy {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.footer-bottom-text {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.sidebar-menu .main-menu {}

.sidebar-menu
{
	background-color: #f7f7f7 !important;
	box-shadow: inset -6px 0px 10px -6px rgba(0, 0, 0, 0.1);
	color:{{ partner_obj.bgtext }} !important;
}

.text-upper-no-line {box-shadow: inset -6px 0px 10px -6px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    border-top-color: #dedede;
    color: #a5a5a5 !important; font-weight:bold; 
    text-transform: uppercase;}

.sidebar-menu .main-menu a {
	background-color: none !important;
	color:#2585c7; width:100% !important;
}

.all-reports-top-sec {    margin-top: -28px;
    position: relative;
    top: 7px;
  }
	
	.lgreen {margin-top:-19px;}

.dt-buttons {padding-top:5px;}

.dt-button {width:72px !important;}

.django_form {margin-top:30px;}

.add_tracker {margin-top: -16px;
    position: relative;
    top: 4px;}

	.add-affiliate {padding-bottom:3px !important; border:1px solid #b8b8b8;}
	
.btn-export-all, .add-affiliate, .btn-success {
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(184, 184, 184, 0.1) 70%, rgba(184, 184, 184, 0.2) 100%) !important;
    background-color: #fff !important;
    color: #2585c7 !important;
    border-color: #b8b8b8 !important;
    font-weight: normal;}

.page-container .main-content .page-title {width:45%;margin:-18px;background:none !important; border-bottom:none !important;z-index:inherit !important;height:50px !important; padding:17px 0px !important; }

.breadcrumb-env {display:none !important;}

.page-logo {margin-top:-24px !important;}

.page-container .main-content .page-title .title-env .title {
    font-size: 20px !important;
    font-weight: 300;
    line-height: 15px;
}

.sidebar-menu .main-menu a {}

.sidebar-menu .main-menu ul li a:hover {}

.sidebar-menu .main-menu ul li a {
    padding-left: 15px;
    border-bottom: none;
    position: relative;
    top: 10px; font-weight:normal;
}

.sidebar-menu .main-menu ul li ul li a {padding:0px !important;}

.sidebar-menu .main-menu li.active>a {
    color: #2585c7 !important; font-weight:bold;
}

.panel-bg-no h2 {
    font-size: 22px !important;
    font-weight: 300;
}

.panel-heading1 h2 {
    display: inline-block;
    margin: 0;
    color: #333;
    font-weight: 500;
    font-size: 18px;
}

b, strong {font-weight:300 !important;}

html, body {font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-weight: 300;}

.sidebar-menu .main-menu a:hover {

background-color: none !important;
	font-weight:bold; color:#0f3753 !important; text-decoration:underline; display:block;
}

.user-info-navbar .user-info-menu>li>a:hover {color:#0f3753 !important;}

.user-info-navbar .user-info-menu>li .dropdown-menu.user-profile-menu {
    margin-top: 4px !important;
    width: 65%;
    z-index: 9999 !important;
    margin-right: 60px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(184, 184, 184, 0.1) 70%, rgba(184, 184, 184, 0.2) 100%) !important;
    background-size: cover !important;
    background-color: #fff !important;
    border-color: #b8b8b8;
    color: #2585c7;
    border: 1px solid #dedede !important;
}


.sidebar-menu {
    width: 240px;
}

.sidebar-menu .main-menu a:hover { font-weight:bold;
} 

.sidebar-menu ul li ul li a:hover { font-weight:normal !important;
} 

.text-upper-no-line:hover {text-decoration:none !important; font-weight:bold;}

.sidebar-menu .main-menu li.has-sub>a:before {
    position: relative;
    display: inline-block !important;
    font-family: FontAwesome;
    content: '\f0d7' !important;
    float: right;
    color: #ccc;
    margin-left: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

footer.main-footer {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.panel {padding:0 17px; margin-top:-15px !important;}

.main-title-dash {overflow: hidden; padding-bottom:10px;
    border: 1px solid #b8b8b8;}

.last-seven-dash {    margin-top: 0px;
    padding: 10px;
    background: #f3f3f3;
    border-bottom: 1px solid #b8b8b8;
    font-size: 18px;
    font-weight: 500;}


.user-info-navbar {
	background-color: #fff !important; border-bottom:1px solid #dedede !important;
	color:{{ partner_obj.bgtext }} !important;
}
.page-logo.my-logo {
	background-color: #fff !important;
	color:{{ partner_obj.bgtext }} !important;
}

.top-header-fozil {
	background-color: #fff !important;
	color:{{ partner_obj.bgtext }} !important;
}

.sidebar-menu .main-menu li {width:100% !important;}

.dropdown-toggle {
	background-color: none !important;
	color:{{ partner_obj.bgtext }} !important;
}

.tile_count .tile_stats_count:before {display:none;}

.panel-heading1, .dash-quick-stat {padding-left:0px; padding-right:0px;}

.egcs_submit_button, .add-affiliate, .btn-export-all { border:1px solid #b8b8b8;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(184, 184, 184, 0.1) 70%, rgba(184, 184, 184, 0.2) 100%) !important;
    background-color: #fff !important;
    color: #2585c7 !important;
    border-color: #b8b8b8 !important;
    font-weight: normal;
}

.egcs_submit_button:hover, .add-affiliate, .btn-export-all:hover { background-color: #edf3f7 !important;
  border-color: #858585;
  color: #0f3753; 
}

.login-register-btn {
	background-image:{{ partner_obj.buttonimage }} !important ;
	background-color: {{ partner_obj.buttoncolor }} !important;
	color:{{ partner_obj.buttontext }} !important;
	border-color:{{ partner_obj.buttontext }} !important;
}

.table>thead>tr>th {text-transform: uppercase !important;
    background: #d8d7d7 !important; font-weight:bold !important;}


.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td
{
	background-color: {{ partner_obj.tablecolor }} !important;
    color: {{ partner_obj.tabletext }} !important;
	font-size:13px !important;
}

</style>
<body class="page-body login-page" style="padding-top: 50px">

	
	<div class="login-container">
	
		<div class="row">
	
			<div class="col-sm-6">
	
				<!-- <script type="text/javascript">
					jQuery(document).ready(function($)
					{
						// Reveal Login form
						setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
	
	
						// Validation and Ajax action
						$("form#login").validate({
							rules: {
								username: {
									required: true
								},
	
								passwd: {
									required: true
								}
							},
	
							messages: {
								username: {
									required: 'Please enter your username.'
								},
	
								passwd: {
									required: 'Please enter your password.'
								}
							},
	
							// Form Processing via AJAX
							submitHandler: function(form)
							{
								show_loading_bar(70); // Fill progress bar to 70% (just a given value)
	
								var opts = {
									"closeButton": true,
									"debug": false,
									"positionClass": "toast-top-full-width",
									"onclick": null,
									"showDuration": "300",
									"hideDuration": "1000",
									"timeOut": "5000",
									"extendedTimeOut": "1000",
									"showEasing": "swing",
									"hideEasing": "linear",
									"showMethod": "fadeIn",
									"hideMethod": "fadeOut"
								};
	
								$.ajax({
									url: "/affiliate/login/",
									method: 'POST',
									dataType: 'json',
									data: {
										do_login: true,
										username: $(form).find('#username').val(),
										passwd: $(form).find('#passwd').val(),
									},
									success: function(resp)
									{
										show_loading_bar({
											delay: .5,
											pct: 100,
											finish: function(){
	
												// Redirect after successful login page (when progress bar reaches 100%)
												if(resp.accessGranted)
												{
																									window.location.href = 'dashboard-1.html';
																								}
																							else
												{
													toastr.error("You have entered wrong password, please try again. User and password is <strong>demo/demo</strong> :)", "Invalid Login!", opts);
													$(form).find('#passwd').select();
												}
																						}
										});
	
																		}
								});
	
							}
						});
	
						// Set Form focus
						$("form#login .form-group:has(.form-control):first .form-control").focus();
					});
				</script> -->
	
				<!-- Errors container -->
				<div class="errors-container">
	
					
				</div>
	
				<!-- Add class "fade-in-effect" for login form effect -->
				<form class="django_form" action="/affiliate/passwordreset/" method="post">
					<div class="login-header" style="padding-bottom: 25px;">
						<a href="/" class="navbar-brand">{% if partner == 'vCommission UK Partners' %}
								<img src="{{partner_obj.logo.url}}" width="230" alt="" />
							{% else %}
							<img src="/static_files/images/wynta_login_logo.svg" class="login-wynta-logo">
							{% endif %}</a>
	
					{% if errors %}
					<p>{{errors}}</p>
					{%endif%}
					{% if message %}
					<p>{{message}}</p>
					{%endif%}
						
					</div>
		<h3>Forget Password ?</h3>
		
		{% if errors %}
		<div class="alert alert-danger" style="border-radius:0px">
			<button class="close" data-close="alert"></button>
			<span>
			{{errors}}</span>
		</div>
		
		{%else%}
		<p>
			 Enter your e-mail address below to reset your password.
		</p>
		{%endif%}
		<div class="form-group">
		<input class="form-control form-control-solid placeholder-no-fix"  type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
		</div>
		<div class="form-group">
			<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
		</div>
		<div class="form-actions">
			<a href="/affiliate/login/" id="loginnn" class="forget-password">Click here to Login?</a>
			<button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
		</div>
	</form>
	
				<!-- External login -->
				<!-- <div class="external-login">
					<a href="#" class="facebook">
						<i class="fa-facebook"></i>
						Facebook Login
					</a>
	
					
					<a href="<?php _hash(); ?>" class="twitter">
						<i class="fa-twitter"></i>
						Login with Twitter
					</a>
	
					<a href="<?php _hash(); ?>" class="gplus">
						<i class="fa-google-plus"></i>
						Login with Google Plus
					</a>
					
				</div> -->
	
			</div>
	
		</div>
	
	</div>



	<!-- Bottom Scripts -->
	<script src="/static_files/assets/js/bootstrap.min.js"></script>
	<script src="/static_files/assets/js/TweenMax.min.js"></script>
	<script src="/static_files/assets/js/resizeable.js"></script>
	<script src="/static_files/assets/js/joinable.js"></script>
	<script src="/static_files/assets/js/xenon-api.js"></script>
	<script src="/static_files/assets/js/xenon-toggles.js"></script>
	<script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
	<script src="/static_files/assets/js/toastr/toastr.min.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="/static_files/assets/js/xenon-custom.js"></script>

</body>
</html>