<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="" />

	<title>{{partner}} - Login</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-core-partner.css">
	
	<link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
	<link rel="stylesheet" href="/static_files/assets/css/custom.css">

	<script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<style>
	
	@media only screen and (max-width: 767px) {
	
	.footer-text {margin-right:0px !important;}

.privacy-over-div {position:relative  !important; bottom:0; width:100% !important; margin-bottom:20px;}	

	.middle-login-reg {width:90% !important;}
	
	.form-control {height:auto !important;}
	 
}

.alert-success { padding:10px !important;}

.alert-danger {
    color: #ff0000 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important; padding:10px; text-align:center;
}
	
	
.login-container {padding-bottom:135px;}

#footer {
   
    bottom: -14px; width:100%;
}
	
	html, body {
    font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    
}

.alert {margin-bottom:0px !important; padding:0px;}

.color-black {color:#999; text-align:center; display:block;}
	
	.heading-for-logins {
    text-transform: uppercase;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin-top: -15px;
}
	
	.login-register-btn  {
    background: #0091e0 !important;
    color: #fff !important;
    border-radius: 0px !important;
    border: none;
    height: 55px; width:100%; font-size:16px;
}

.login-wynta-logo {
    display: block;
    margin: 0 auto;
}

.footer-text {
    margin-right: 20px;
    color: #000;
    font-size: 14px;
}

.privacy-over-div {
    position: absolute;
    bottom: 0;
    width: 97%;
    margin-bottom: 20px;
}

.login-page .login-form .form-group label.error {
    color: #ff0000;
    position: relative !important;
    line-height: 0px;
    right: 0px;
}

.login-page .login-form .form-group .form-control {border:1px solid #ccc !important;}

input:focus {border: none !important;
    box-shadow: none !important;}

</style>

</head>
<body class="page-body login-page" style="padding-top: 20px">

	
	<div class="login-container">
	
		<div class="row">
	
			<div class="col-sm-12">
	
				<script type="text/javascript">
					$(document).ready(function($)
					{
						// Validation and Ajax action
						$("#passwordChange").validate({
							rules: {
								password: {
									required: true
								},
	
								cpassword: {
									required: true
								}
							},
	
							messages: {
								password: {
									required: 'Enter new password.'
								},
	
								cpassword: {
									required: 'Enter confirm password.'
								}
							},
	
							
						});
	
						// Set Form focus
						$("form#login .form-group:has(.form-control):first .form-control").focus();
					});
				</script>
	
				<!-- Errors container -->
				<div class="middle-login-reg login-box">
				
				
				<div class="errors-container">
	
					
				</div>
				
				{% if partner == 'vCommission UK Partners' %}
								<img src="{{partner_obj.logo.url}}" width="230" alt="" />
							{% else %}
							<img src="/static_files/images/wynta_login_logo.svg" class="login-wynta-logo">
							{% endif %}
	
				<!-- Add class "fade-in-effect" for login form effect -->
				<form class="login-form " id="passwordChange" action="." method="post">
					<div class="login-header" style="padding-bottom: 5px;">
						
					
						
					</div>
		{%csrf_token%}
		
		<h2 class="heading-for-logins">Affiliate Password Reset</h2>
		<div class="alert display-hide" style="border-radius:0px">
			<button class="close" data-close="alert"></button>
			<span class="color-black">
			Enter new password and confirm it to reset. </span>
		</div>
		{% if errors %}
		<div class="alert alert-danger text-center" style="border-radius:0px">
			<button class="close" data-close="alert"></button>
			<span>
			{{errors}}</span>
		</div>
		{%endif%}
		<div class="form-group">
		<input class="form-control form-control-solid placeholder-no-fix"  type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			
			
			<input style="margin-left:0px" class="form-control  form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="New Password" name="password"/>
		</div>
		<div class="form-group">
			
			<input style="margin-left:0px" class="form-control  form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm Password" name="cpassword"/>
		</div>
		<div class="form-actions" style="height: 53px;">
			<input type="submit" class="btn btn-success login_btn uppercase login-register-btn" value="Submit" />
		</div>
	</form>
	
	</div>
	
				<!-- External login -->
				<!-- <div class="external-login">
					<a href="#" class="facebook">
						<i class="fa-facebook"></i>
						Facebook Login
					</a>
	
					
					<a href="<?php _hash(); ?>" class="twitter">
						<i class="fa-twitter"></i>
						Login with Twitter
					</a>
	
					<a href="<?php _hash(); ?>" class="gplus">
						<i class="fa-google-plus"></i>
						Login with Google Plus
					</a>
					
				</div> -->
	
			</div>
	
		</div>
	
	</div>



	<!-- Bottom Scripts -->
	<script src="/static_files/assets/js/bootstrap.min.js"></script>
	<script src="/static_files/assets/js/TweenMax.min.js"></script>
	<script src="/static_files/assets/js/resizeable.js"></script>
	<script src="/static_files/assets/js/joinable.js"></script>
	<script src="/static_files/assets/js/xenon-api.js"></script>
	<script src="/static_files/assets/js/xenon-toggles.js"></script>
	<script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
	<script src="/static_files/assets/js/toastr/toastr.min.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="/static_files/assets/js/xenon-custom.js"></script>

<footer class="" id="footer">

<div class="container-fluid">

<div class="privacy-over-div">

<div class="row">


<div class="text-center">

<div class="footer-text">
	© 2018 Fozil Partners, Powered by Wynta
</div>

</div>

</div> <!-- Row Div -->
					
</div>

</div>

</footer>

</body>
</html>