{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
<link href="/static_files/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>
<script src="/static_files/js/jquery-ui.min.js"></script>
<script type='text/javascript' src="/static_files/js/export_table_to_csv.js"></script>


<body>
<div class='header'>
    {% include "affiliates/admin/header.html" %}
    {% include "affiliates/admin/internal-header.html"%}   
</div>
<script type="text/javascript">
function checkAll(ele) {
    var checkboxes = document.getElementsByTagName('input');
    if (ele.checked) {
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox') {
                checkboxes[i].checked = true;
            }
        }
    } else {
        for (var i = 0; i < checkboxes.length; i++) {
            console.log(i)
            if (checkboxes[i].type == 'checkbox') {
                checkboxes[i].checked = false;
            }
        }
    }
}
$(document).ready(function() {
	if($("#id_date").val() == "Custom"){
		$('#id_datepicker1').show();
        $('#id_datepicker2').show();
	}
	$("#id_date").change(function() {
		if($(this).val() == "Custom"){
			$('#id_datepicker1').show();
			$('#id_datepicker2').show();
		}
		else{
			$('#id_datepicker1').hide();
			$('#id_datepicker2').hide();
		}
	});
	
	$(".checkboxgroup").change(function() {
		var checkboxes = $(".checkboxgroup");
		var all_flag = true;
	    for (var i = 0; i < checkboxes.length; i++) {
	         if (checkboxes[i].checked == false) {
	            all_flag = false;
	        }
	    }
	    if (all_flag){
	    	$("#Allcheckbox").prop("checked",true);
	    }
	    else{
	    	$("#Allcheckbox").prop("checked",false);
	    }
	});
});
</script>
<script>
$(function() {
	$( "#id_datepicker1" ).datepicker({dateFormat: 'dd/mm/yy',changeYear: true,changeMonth:true});
	$( "#id_datepicker2" ).datepicker({dateFormat: 'dd/mm/yy',changeYear: true,changeMonth:true});
});
</script>
<div style="margin-left:40px;">
<!--  -->
{%if error_message%}
<div style="color:red;font-size:16">
<h2>{{error_message}}</h2>
</div>
{%endif%}
<p><form action="/admin_affiliate_user_activities/{{affiliate_id}}/" method="POST" name="test" id="touneyTxnForm" style="">
{% csrf_token %}

<p>
<table>
<tr >
<td><input type="checkbox" name="deposits" class="checkboxgroup" {%if deposits_flag %} checked="checked"{%endif%}>Deposits</td>
<td><input type="checkbox" name="withdrawals" class="checkboxgroup" {%if withdrawals_flag %} checked="checked"{%endif%}>Withdrawals</td>
<td><input type="checkbox" name="deductions" class="checkboxgroup" {%if deductions_flag %} checked="checked"{%endif%}>Deductions</td> </tr>
<tr>
<td><input type="checkbox" name="rakes" class="checkboxgroup" {%if rakes_flag %} checked="checked"{%endif%}>Rakes</td>
<td><input type="checkbox" name="adjustments" class="checkboxgroup" {%if adjustments_flag %} checked="checked"{%endif%}>Adjustments</td>
<!-- <td><input type="checkbox" name="accurals" class="checkboxgroup" {%if accurals_flag %} checked="checked"{%endif%}>Accurals</td>  -->
<td><input type="checkbox" name="all" id="Allcheckbox" onchange="checkAll(this)" {%if all_flag %} checked="checked"{%endif%}>All</td>
</tr>

</table>




</p>
<p>Username:<input type="text" name="username" value="{{username}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Campaign: &nbsp;&nbsp;<select name="campaign_id">
<option value="">select campaign</option>
{%for cam in campaign_list%}
<option value="{{cam.id}}">{{cam.name}} - {{cam.id}}</option>
{%endfor%}
</select>
Bonuscode : <input type="text" name="bonuscode"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>



   <p>Date Filter&nbsp;&nbsp;<select id="id_date" name="date" style="width: 106px;height: 26px;">
<option value="Today" {%if custom == "Today"%} selected="selected"{%endif%}>Today</option>
<option value="Yesterday"{%if custom == "Yesterday"%} selected="selected"{%endif%}>Yesterday</option>
<option value="WeekTildate"{%if custom == "WeekTildate"%} selected="selected"{%endif%}>WeekTildate</option>
<option value="Last 15 Days"{%if custom == "Last 15 Days"%} selected="selected"{%endif%}>Last 15 Days</option>
<option value="Last 30 Days"{%if custom == "Last 30 Days"%} selected="selected"{%endif%}>Last 30 Days</option>
<option value="Last 45 Days"{%if custom == "Last 45 Days"%} selected="selected"{%endif%}>Last 45 Days</option>
<option value="MonthTilldate"{%if custom == "MonthTilldate"%} selected="selected"{%endif%}>MonthTilldate</option>
<option value="Custom" {%if custom == "Custom"%} selected="selected"{%endif%}>Custom</option>
</select><br /></p>
<input placeholder='Fromdate' type="text"  id='id_datepicker1' name="datepicker1" style="width: 103px;display:none;margin-top:10px;margin-bottom:10px"><br/>
<input placeholder='Todate' type="text"  id='id_datepicker2' name="datepicker2" style="width: 103px;display:none;margin-bottom:10px"><br/>

<input type="submit" value="Search"/>
<input type="reset" value="Clear" id="transaction_form_reset_btn"/>
</form></p>

<!--  -->
<div>

<h2>Campaign Users Activities</h2>
{%if acitivites_list%}
<a href="#" id="export_affiliate">Export TO CSV</a><br/>
{%endif%}
<br/>
<h4>
Username : {{username}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UserID: {{userid}}<br/><br/>
Campaign ID : {{campaignID}} <br/><br/>
Dates : {{from_date_time}} to {{to_date_time}} <br/><br/>
</h4>
<br/>

<div style="width: 100%;" id="affiliateDiv">
<table border=1 width="100%">
<tr>
    	<th>Transaction ID</th>
        <th>Timestamp</th>
        <th>Activity</th>
        <th>Amount</th>
        <th>Fee/Rake</th>
        <th>Accurals</th>
    	<th>Note</th>
    </tr>
    {%for aff in acitivites_list%}
    <tr>
        <td>{{aff.0}}</td>
        <td>{{aff.1}}</td>
    	<td>{{aff.2}}</td>
    	<td>{{aff.3}}</td>
    	<td>{{aff.4}}</td>
    	<td>{{aff.5}}</td>
    	<td>{{aff.6}}</td>
    </tr>
    {%endfor%}
    
    
    
</table>
</div>
</div>
<br/><br/>
<script type='text/javascript'>
        $(document).ready(function () {
 
            // This must be a hyperlink
            $("#export_affiliate").click(function (event) {
                // var outputFile = 'export'
               // CSV
        		exportTableToCSV.apply(this, [$('#affiliateDiv>table'), 'user_activities']);
        		// IF CSV, don't do event.preventDefault() or return false
        		// We actually need this to be a typical hyperlink
            });
        });
</script>
{%endblock%}

</body>