{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
<link href="/static_files/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>
<script src="/static_files/js/jquery-ui.min.js"></script>
<script type='text/javascript' src="/static_files/js/export_table_to_csv.js"></script>


<body>
<div class='header'>
    {% include "affiliates/admin/header.html" %}
    {% include "affiliates/admin/internal-header.html"%}   
</div>
<script type="text/javascript">
$(document).ready(function() {
	if($("#id_date").val() == "Custom"){
		$('#id_datepicker1').show();
        $('#id_datepicker2').show();
	}
	$("#id_date").change(function() {
		if($(this).val() == "Custom"){
			$('#id_datepicker1').show();
			$('#id_datepicker2').show();
		}
		else{
			$('#id_datepicker1').hide();
			$('#id_datepicker2').hide();
		}
	});

});
</script>
<script>
$(function() {
	$( "#id_datepicker1" ).datepicker();
	$( "#id_datepicker2" ).datepicker();
});
</script>
<div style="margin-left:40px;">
<!--  -->
{%if error_message%}
<div style="color:red;font-size:16">
<h2>{{error_message}}</h2>
</div>
{%endif%}
<p><form action="/affiliates/admin_affiliate_user_logins/{{obj.id}}/" method="POST" name="test" id="touneyTxnForm" style="">
{% csrf_token %}
<p>Select Campaign: &nbsp;&nbsp;<select name="campaign_id">
<option value="all">All</option>
{%for cam in campaign_list%}
<option value="{{cam.id}}">{{cam.name}} - {{cam.id}}</option>
{%endfor%}
</select>
</p>
   <p>Date Filter&nbsp;&nbsp;<select id="id_date" name="date" style="width: 106px;height: 26px;">
<option value="Today" {%if custom == "Today"%} selected="selected"{%endif%}>Today</option>
<option value="Yesterday"{%if custom == "Yesterday"%} selected="selected"{%endif%}>Yesterday</option>
<option value="WeekTildate"{%if custom == "WeekTildate"%} selected="selected"{%endif%}>WeekTildate</option>
<option value="Last 15 Days"{%if custom == "Last 15 Days"%} selected="selected"{%endif%}>Last 15 Days</option>
<option value="Last 30 Days"{%if custom == "Last 30 Days"%} selected="selected"{%endif%}>Last 30 Days</option>
<option value="Last 45 Days"{%if custom == "Last 45 Days"%} selected="selected"{%endif%}>Last 45 Days</option>
<option value="MonthTilldate"{%if custom == "MonthTilldate"%} selected="selected"{%endif%}>MonthTilldate</option>
<option value="all"{%if custom == "all"%} selected="selected"{%endif%}>All</option>
<option value="Custom" {%if custom == "Custom"%} selected="selected"{%endif%}>Custom</option>
</select><br /></p>
<input placeholder='Fromdate' type="text"  id='id_datepicker1' name="datepicker1" style="width: 103px;display:none;margin-top:10px;margin-bottom:10px"><br/>
<input placeholder='Todate' type="text"  id='id_datepicker2' name="datepicker2" style="width: 103px;display:none;margin-bottom:10px"><br/>

<input type="submit" value="Search"/>
<input type="reset" value="Clear" id="transaction_form_reset_btn"/>
</form></p>

<!--  -->
<div>

<h2>Affilaite Logins : </h2>
<h4>
Affiliate ID : {{obj.id}}   - {{obj.username}} <br/><br/>
{%if campaignID %}Campaign ID : {{campaignID}} &ensp;&ensp; Campaign Name  : {{campaign_name}} <br/><br/>{%endif%}
Dates : {{from_date_time}} to {{to_date_time}} <br/><br/>
</h4>

<div style="border-bottom: 1px solid red; width:100%; color: blue; padding: 5px; margin: 5p; border-top: 1px solid red">
	
		Done  {{result_count}} matches found.
	
</div><br/>
{%if players_info%}
<a href="#" id="export_affiliate">Export TO CSV</a><br/>
{%endif%}<br/><br/>
<div style="width: 100%;" id="affiliateDiv">
<table border=1 width="100%">
<tr>
    	<th>User ID</th>
        <th>Username</th>
        <th>Realchips</th>
        <th>Funchips</th>
        <!-- <th>Cash Games</th>
        <th>Free Games</th>
    	<th>Deposits</th> -->
    </tr>
    {%for aff in players_info%}
    <tr>
        <td>{{aff.playerid}}</td>
        <td>{{aff.playername}}</td>
    	<td>{{aff.realchips}}</td>
    	<td>{{aff.freechips}}</td>
    	<!--  <td>{{aff.cashgames}}</td>
    	<td>{{aff.freegames}}</td>
    	<td>{{aff.deposits}}</td> -->
    </tr>
    {%endfor%}
    
    
    
</table>
</div>
</div>
<br/><br/>
<script type='text/javascript'>
        $(document).ready(function () {
 
            // This must be a hyperlink
            $("#export_affiliate").click(function (event) {
                // var outputFile = 'export'
               // CSV
        		exportTableToCSV.apply(this, [$('#affiliateDiv>table'), 'user_activities']);
        		// IF CSV, don't do event.preventDefault() or return false
        		// We actually need this to be a typical hyperlink
            });
        });
</script>
{%endblock%}

</body>