{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}




<div class='header'>
{% include "affiliates/admin/header.html" %}




{% include "affiliates/admin/internal-header.html" %}

</div>
<div style="margin-left:100px">
<br/>
<h2 style="{%if status%}color:green{%else%}color:red{%endif%}">{{message}}</h2>
<br/>
<table border=0>
	<tr>
		<th>Affiliate ID - Name</th>
		<td>{{camp_obj.fk_affiliateinfo_id}} - {{camp_obj.fk_affiliateinfo.username}} </td>
	</tr>
	<tr>
		<th>Site</th>
		<td>{{camp_obj.siteid.name}}</td>
	</tr>
	<tr>
		<th>Campaign ID - Name </th>
		<td>{{camp_obj.id}} - {{camp_obj.name}}</td>
	</tr>
	
	<tr>
		<th>Campaign Current Link</th>
		<td>{{camp_obj.link}}</td>
	</tr>
	
</table>
<br/>
<h4>Analytics URL Builder</h4>
<br/>
<form action='/custom-campaign-url/?camp_id={{camp_obj.id}}' method='POST' >
{% csrf_token %}
<input type="hidden" name="camp_id" value="{{camp_obj.id}}">
<table border=0>
	<tr>
		<th>Website URL</th>
		<td><input type="text" value="https://www.{{camp_obj.siteid.domain}}/" readonly=True style="width:300px;background-color: darkgrey;"> &ensp; Non editable</td>
	</tr>
	<tr>
		<th>Campaign Source</th>
		<td><input type="text" value="{{camp_obj.fk_affiliateinfo.username}}" readonly=True style="background-color: darkgrey;"/> &ensp; Non editable</td>
	</tr>
	<tr>
		<th>Campaign Medium</th>
		<td><input type="text" name="campaign_medium" value="" required> &ensp; default : banner</td>
	</tr>
	<tr>
		<th>Campaign Name</th>
		<td><input type="text" name="campaign_name" value="{{camp_obj.name}}" readonly=True style="background-color: darkgrey;" />&ensp; Non editable </td>
	</tr>
	<tr>
		<th>Campaign Term</th>
		<td><input type="text" name="campaign_term" value="" required>&ensp; default : keyword</td>
	</tr>
	<tr>
		<th>Campaign Content</th>
		<td><input type="text" name="campaign_content" value="" required> &ensp; default : signup</td>
	</tr>
	
	<tr>
		<th></th>
		<td><input type="submit" value="Generate URL"> &ensp; <input type="reset" value="Reset"></td>
	</tr>

</table>
</div>

{%endblock%}