{% extends "admin/base_site.html" %}
{% load i18n %}
{% block branding %}
<h1 id="site-name">{% trans 'Rummy EGAP' %}</h1>
{% endblock %}
{% block content %}



 
      
     <div class='header'>
    {% include "affiliates/admin/header.html" %}
      

    
    

     </div>
     



<div class=clear style="clear: both;"></div>
<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 70px;">
<table>
       <tr>
              <th>
                     Affiliate ID
              </th>
       </tr>
{% for i in obj%}
       <tr>
              <td>
                     {{i.id}}
              </td>
       </tr>

{%endfor%}
</table>
</div>

<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 80px;">
<table>
       <tr>
              <th>
               User Name
              </th>
       </tr>
{% for i in obj%}
       <tr>
              <td>
                     {{i.username}}
              </td>
       </tr>

{%endfor%}
</table>
</div>

<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 100px;">
<table>
       <tr>
              <th>
       Contact Name
              </th>
       </tr>
{% for i in obj%}
       <tr>
              <td>
                     {{i.contactname}}
              </td>
       </tr>

{%endfor%}
</table>
</div>
<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 200px;">
<table>
       <tr>
              <th>
                     Email
              </th>
       </tr>
{% for i in obj%}
       <tr>
              <td>
                     {{i.email}}
              </td>
       </tr>

{%endfor%}
</table>
</div>

<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 30px;">
<table>
       <tr>
              <th>
                     Hits
              </th>
       </tr>
       
{% for i in hits_1%}
       <tr>
              <td>
                     {{i}}
              </td>
       </tr>

{%endfor%}
</table>
</div>
<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 75px;">
<table>
       <tr>
              <th>
Registration              </th>
       </tr>
       
{% for i in regs_1%}
       <tr>
              <td>
                     {{i}}
              </td>
       </tr>

{%endfor%}
</table>
</div>



<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 150px;">
<table>
<tr>
    <th>
     Single Time Depositors  
    </th>
</tr>


{%for k in campaignsingletime_1%}
<tr>
    <td>
        {{k}}
    </td>
</tr>
{%endfor%}



</table>

</div>
<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 70px;">
<table>
<tr>
    <th>
     Deposits   
    </th>
</tr>

{%for k in campaignsumdepositlist_1%}
<tr>
    <td>
        {{k}}
    </td>
</tr>
{%endfor%}






</table>

</div>
<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 70px;">
<table>
<tr>
    <th>
Withdrawl    </th>
</tr>


{%for k in campaignsumwithdrawllist_1%}
<tr>
    <td>
        {{k}}
    </td>
</tr>
{%endfor%}




</table>



</div>








<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 30px;">
<table>
<tr>
    <th>
CPA    </th>
</tr>


{%for k in campaigncpalist%}
<tr>
    <td>
        {{k}}
    </td>
</tr>
{%endfor%}

</table>

</div>





<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 40px;">
<table>
<tr>
    <th>CPR   </th>
</tr>

{%for k in campaigncprlist%}
<tr>
    <td>
        {{k}}
    </td>
</tr>
{%endfor%}

</table>

</div>





<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 110px;">
<table>
<tr>
    <th>
Adjustment    </th>
</tr>

{%for k in  campaignrealadjustmentlist_1%}
<tr>
    <td>
        {{k}}
    </td>
</tr>
{%endfor%}



</table>

</div>
<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 100px;">
<table>
<tr>
    <th>
Total    </th>
</tr>


{%for k in  campaigntotallist%}
<tr>
    <td>
        {{k}}
    </td>
</tr>
{%endfor%}


</table>

</div>

<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 105px;">
<table>
<tr>
    <th>
NET   </th>
</tr>

{%for k in  campaignnet%}
<tr>
    <td>
        {{k}}
    </td>
</tr>
{%endfor%}


</table>
</div>

<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 105px;">
<table>
<tr>
    <th>
Active   </th>
</tr>

{%for k in  obj%}
<tr>
    <td>
        {{k.active}}
    </td>
</tr>
{%endfor%}


</table>
</div>

</div>

<form action='/affiliatereportimportcsv/' method='POST'>        {% csrf_token %}

<input type='submit' value='CSV'/>
</form>

{%endblock%}