{% extends "admin/base_site.html" %}
{% block content %}



<html>
    <head>
    </head>


       <body>
 
 
 <div class='maincon'>
   {% include "affiliates/admin/header.html" %}

    </div>
    
    
    
<div class='main' style="margin-top: 10px;">
        

Affiliates Section
<br/>
Steps to Use:
<br/>
<ol>
    <li>
        First Search Affilates as using username , id and Email-address. 
    <ol>
        <li>If you will not select any search filter .it will result all affiliates record.</li>
    <li>
        Click on Searched Records and click to go to Account
    </li>
    <li>
        Click on CSV button to download search result in csv format.
    </li>
    </ol>
   
   <li>
    Financial section will give all financial information regarding Affiliates .
    
   </li>
   <li>
Add Affiliate will provide you platform where eGCS admin can add any affiliate manually.
<ol><li>Admin can select Payment Type for any Affiliate</li>
<ol><li>Cheque</li><li>Banking Details</li></ol>
   </li>
    </li>


<!--<li></li>    -->
</ol>





    </div>
    
    
 </div>           
        </body>
 

</html>

{%endblock%}
