{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}




<div class='header'>
{% include "affiliates/admin/header.html" %}




{% include "affiliates/admin/internal-header.html" %}

</div>

<br/>
{{error}}
<form action='/rummy-createaffiliatelink/{{obj.id}}/' method='POST' >
{% csrf_token %}
<table border=0>
{% for i in sites_obj %}
	{%if forloop.counter == 1 %}
		<tr><th>Select Site :</th>
		<td><select id="siteList" name="sitename"><option value="{{i.domain}}" selected>{{i.domain}}</option>
	{%else%}
		<option value="{{i.domain}}">{{i.domain}}</option>
	{%endif%}
	{%if forloop.last %} </select></td></tr>{%endif%}
{%endfor%}
<tr><th>Campaign Name :</th><td><input type='text' value='' name='linkname'/><td/></tr>
<tr><td></td><td><input type='submit' value='Create Link'/>
</td></tr></table>
</form>
<br/><br/>
<hr/>

<div id="myContent11" style="float: left; display: block;padding: 5px; width: 100%;">

<table border=1>
<tr><th>Campaign Name</th><th>Affiliate ID</th><th>Campaign ID</th><th>Link</th><th colspan="3"></th></tr>
{% for i in links %}
<tr>
<td width="60px">{{i.name}}</td><td>
<a href='/affiliate_admin-account/{{i.fk_affiliateinfo.id}}/'/>
{{i.fk_affiliateinfo.username}}</a></td>
<td width="50px">{{i.id}}</td>
<td width="400px">
{{i.link}}</td>
<td><a href='/custom-campaign-url/?camp_id={{i.id}}' ><button>Build Custom URL</button></a></td>
<td><a href='/rummy-addbanner/{{obj.id}}/{{i.id}}/' ><button>Add Banner</button></a></td>
<td><a href='/rummy-seebanner/{{obj.id}}/{{i.id}}/' ><button>See Banner</button></a></td>



</tr>

{% endfor %}
</table>


{%endblock%}