{% extends "admin/base_site.html" %}
{% load i18n %}
{% block coltype %}colM{% endblock %}
{% block branding %}
<h1 id="site-name">{% trans 'Fozil Partner' %}</h1>
{% endblock %}

{% block userlinks %}
{% url 'admin:password_change' as password_change_url %}
{% if password_change_url %}
<a href="{{ password_change_url }}">
{% else %}
<a href="{{ root_path }}password_change/">
{% endif %}
{% trans 'Change password' %}</a> /
{% url 'admin:logout' as logout_url %}
{% if logout_url %}
<a href="{{ logout_url }}">
{% else %}
<a href="{{ root_path }}logout/">
{% endif %}
{% trans 'Log out' %}</a>
{% endblock %}

{% block content %}


<h1>Marketing Materials</h1>
<div id="content-main">
<div class="module">



<hr/>
<br/>

<table>
<!--<caption><a href="#" class="section" title="PlayerReports">PlayersReports</a></caption>-->
<tr>

<th scope="row"><a href="/admin/affiliate/bannerimages/">{% blocktrans %}Images{% endblocktrans %}</a></th></tr>
</table>
<hr/>
<br/>
<table>
<!--<caption><a href="#" class="section" title="FinancialReports">Financial&nbsp;Reports</a></caption>-->
<tr>
<th scope="row"><a href="/admin/affiliate/bannerlogs/">{% blocktrans %}Banner Logs{% endblocktrans %}</a></th></tr>
</table>

<hr/>
<br/>

<table>
<tr>

<th scope="row"><a href="/admin/affiliate/mailer/">{% blocktrans %}Mailer{% endblocktrans %}</a></th></tr>
</table>
<hr/>
<br/>

<table>

<tr>

<th scope="row"><a href="/admin/affiliate/mailerlogs/">{% blocktrans %}Mailer Logs{% endblocktrans %}</a></th></tr>
</table>

<hr/>
<br/>

<table>

<tr>

<th scope="row"><a href="/admin/affiliate/screenshotslogs/">{% blocktrans %}Screen Shots logs{% endblocktrans %}</a></th></tr>
</table>
<hr/>
<br/>

<table>

<tr>

<th scope="row"><a href="/admin/affiliate/pagepeellogs/">{% blocktrans %}PagePeellogs{% endblocktrans %}</a></th></tr>
</table>

<hr/>
<br/>

<table>

<tr>

<th scope="row"><a href="/admin/affiliate/video/">{% blocktrans %}Video{% endblocktrans %}</a></th></tr>
</table>
<hr/>
<br/>
<table>

<tr>

<th scope="row"><a href="/admin/affiliate/videologs/">{% blocktrans %}Video logs{% endblocktrans %}</a></th></tr>
</table>

<br/>
<table>

<tr>

<th scope="row"><a href="/admin/affiliate/lpages/">{% blocktrans %}Lpage{% endblocktrans %}</a></th></tr>
</table>

<br/>
<table>

<tr>

<th scope="row"><a href="/admin/affiliate/landingpagelogs/">{% blocktrans %}Landing Page logs{% endblocktrans %}</a></th></tr>
</table>
<hr/>
<br/>
</div>
</div>
{% endblock %}
{% block sidebar %}
<div id="content-related">
<FORM>
<INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);return true;">
</FORM>
</div>
{%endblock%}