{% extends "admin/base_site.html" %}
{% load i18n %}
{% load pagination_tags %}


{% block content %}

<html>
<head>
<link href="/static_files/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="/static_files/js/jquery.min.js"></script>
<script src="/static_files/js/jquery-ui.min.js"></script>

<script type="text/javascript">

$(function() {
$(".delete_button").click(function() {
//var id = $(this).attr("id");
//var dataString = 'id='+ id ;
//var parent = $(this).parent();

$.ajax({
type: "GET",
url: "/adddddd/",
data: dataString,
cache: false,
success: function()
{
if(id % 2)
{
parent.fadeOut('slow', function() {$(this).remove();});
}
else
{
parent.slideUp('slow', function() {$(this).remove();});
}
}
});

return false;
});
});
</script>


</head>
<body>

<div class='header <div class='header'>
{% include "affiliates/admin/header.html" %}
{% include "affiliates/admin/internal-header.html" %}
   
</div>
<p style="font-family: sans-serif; font-size: large;">

{{response}}
</p>    
<table>
<tr>
<td><a href="/affiliate_admin-seenotes/{{obj.id}}/add" style="font-size: large;">Add</a></td>
</tr>
{% if add %}
<form action='/affiliate_admin-seenotes/{{obj.id}}/add/' name='addnotes' method='POST'>
{% csrf_token %}
{% for i in sites_obj %}
	{%if forloop.counter == 1 %}
		<tr><th>Select Site :   
		<select id="siteList" name="sitename"><option value="{{i.domain}}" selected>{{i.domain}}</option>
	{%else%}
		<option value="{{i.domain}}">{{i.domain}}</option>
	{%endif%}
	{%if forloop.last %} </select></th></tr>{%endif%}
{%endfor%}

<tr>
<td>
<textarea rows="8" name='note'  cols="50"></textarea>
</td>
</tr>
<tr>
<td>
<input type='submit' value='ADD'/>
</td>
</tr>    
</form>

{%endif%}


</table>


   {% autopaginate notes 5 %}
<table>
{% for i in  notes %}
<tr><td>
<p style="font-family: sans-serif; font-size: large;">
{{i.notes}}  </p></td><td> <p style="font-size: large;"><a href='/affiliate_admin-deletenotes/{{obj.id}}/{{i.id}}/delete/' id="{{i.id}}" class="delete_button">Delete</a></p></td></tr>
{%endfor%}
</table>
{% paginate %}

{%endblock%}