

{% extends "admin/base_site.html" %}
{% load i18n %}
{% block branding %}
<h1 id="site-name">{% trans 'Rummy EGAP' %}</h1>
{% endblock %}
{% block content %}







<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">

function add()
{

var x=document.forms["signup"]["username"].value;
if (x==null || x=="")
{
alert("please enter User Name ");
return false;
}


var x=document.forms["signup"]["password"].value;
if (x==null || x=="")
{
alert("please enter Password");
return false;
}

var x=document.forms["signup"]["contactname"].value;
if (x==null || x=="")
{
alert("please enter Contact Name ");
return false;
}

var x=document.forms["signup"]["companyname"].value;
if (x==null || x=="")
{
alert("please enter Company Name ");
return false;
}

var x=document.forms["signup"]["email"].value;
if (x==null || x=="")
{
alert("please enter Email ID ");
return false;
}



var x=document.forms["signup"]["address"].value;
if (x==null || x=="")
{
alert("please enter Address ");
return false;
}

var x=document.forms["signup"]["city"].value;
if (x==null || x=="")
{
alert("please enter City ");
return false;
}

var x=document.forms["signup"]["state"].value;
if (x==null || x=="")
{
alert("please enter state ");
return false;
}


var x=document.forms["signup"]["country"].value;
if (x==null || x=="")
{
alert("please enter Country");
return false;
}
var x=document.forms["signup"]["postcode"].value;
if (x==null || x=="")
{
alert("please enter Post Code ");
return false;
}
var x=document.forms["signup"]["telephone"].value;
if (x==null || x=="")
{
alert("please enter Telephone");
return false;
}}

function validateEmail()
{

var emailID = document.signup.email.value;
atpos = emailID.indexOf("@");
dotpos = emailID.lastIndexOf(".");
if (atpos < 1 || ( dotpos - atpos < 2 )) 
{
alert("Please enter correct email ID")
document.signup.erummmail.focus() ;
return false;
}
return( true );
}
</script>

 
 
 
 
 
</head>


<body>
<script>

$(document).ready(function(){
	json_data = {{ntw_sites_list|safe}};
	$( "#NetwrkID" ).change(function() {
		var netwrk = $("#NetwrkID").val();
		site_list = $('#siteList');
		for(i=0;i<json_data.length;i++){
			if(json_data[i].name == netwrk){
				for(j=0;j<json_data[i].sites.length;j++){
					var chkbox = "<td>&nbsp;&nbsp;<input type='checkbox' name='sites' value='"+json_data[i].sites[j]+"' />    "+json_data[i].sites[j]+"</td>";
					$(chkbox).appendTo(site_list);
				}
			}
		}
			
	}).change();
});
</script>

<div class='maincon'>
{% include "affiliates/admin/header.html" %}

</div>

<div class='main'>





<form action='/affiliate_admin-signup/' name='signup' method='POST' onsubmit="return add()">
{% csrf_token %}
<table>
<tr><td>{{response}}</td></tr>

{% for i in networks %}
	{%if forloop.counter == 1 %}
		<tr><th>Select Network :</th>
		<td><select id="NetwrkID" name="network"><option value="{{i}}" selected>{{i}}</option>
	{%else%}
		<option value="{{i}}">{{i}}</option>
	{%endif%}

	{%if forloop.last %} </select></td></tr>{%endif%}
{%endfor%}
<tr  id="siteList"><th>Select Sites : </th></tr>
<tr><td>User Name:</td><td><input type='text' value='' name='username'/></td></tr>
<tr><td>Password:</td><td><input type='password' value='' name='password'/></td</tr>
<tr><td>Contact Name</td><td><input type='text' value='' name='contactname'/></td<tr/>
<tr><td>Company Name</td><td><input type='text' value='' name='companyname'/></td<tr/>
<tr><td>Email</td><td> <input type='text' value='' name='email' onblur="validateEmail()"/></td<tr/>
<tr><td>Address</td><td><input type='text' value='' name='address'/></td<tr/>
<tr><td>City</td><td><input type='text' value='' name='city'/></td<tr/>
<tr><td>Post. Code</td><td><input type='text' value='' name='postcode'/></td<tr/>
<tr><td>Telephone</td><td><input type='text' value='' name='telephone'/></td<tr/>
<tr><td>State</td><td>
<input type='text' value='' name='state'/>


</td>
</tr>

<tr><td>Country</td><td>


<input type='text' value='' name='country'/>



</td><tr/>
<tr><td><input type='submit' value='Submit'/></td></tr>
</table>

</form>







 
 
 
 
</div>


</div>           
 </body>


</html>


{%endblock%}