{% extends "admin/base_site.html" %}
{% load i18n %}
{% block branding %}
<h1 id="site-name">{% trans '' %}</h1>
{% endblock %}
{% block content %}




   <div class='header'>
    {% include "affiliates/admin/header.html" %}
      

    
    
 {% include "affiliates/admin/internal-header.html" %}
   
</div>

<form action='/affiliate_admin-account-wire/{{wire.fk_affiliateinfo.id}}/{{wire.id}}/' method="POST" name='wireedit'>
    {% csrf_token %}

Account Number :<input type='text' value='{{wire.accountnumber}}' name='accountnumber'/><br/>
IFSC Code  :<input type='text' value='{{wire.ifsccode}}' name='ifsccode'/><br/>
Account Type :<input type='text' value='{{wire.accounttype}}' name='accounttype'/><br/>
Account Name :<input type='text' value='{{wire.accountname}}' name='accountname'/><br/>
Bank Name :<input type='text' value='{{wire.bankname}}' name='bankname'/><br/>
Bank Address:<input type='text' value='{{wire.bankaddress}}' name='bankaddress'/><br/>


<input type='submit' value='Change'/>
    
</form>
{%endblock%}