{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
<div class='header'>
{% include "affiliates/admin/header.html" %}
{% include "affiliates/admin/internal-header.html" %}
</div>
<div class='main' style="width: 2000px;">
<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 260px;">
<form action='/affiliate_admin-account/{{obj.id}}/' method='POST'>
{% csrf_token %}
<table>
<tr>
<th colspan=2 style="border : groove;">Account Information

</th>
</tr>
<tr>
<th colspan=2 >
{% if obj.active|slugify == 'true'%}
   
    <a href='/affiliate-admin_deactivate/{{obj.id}}'>Deactivate Affiliate </a>
  
    {%else %}
  <a href='/affiliate-admin_activate/{{obj.id}}'>Activate Affiliate</a>
 
    {%endif%}
   
</th>
</tr>
<tr><th>Sites : </th><td>{% for i in available_sites_list %}
			{%if i in sites_list%}
				<input type='checkbox' value='{{i}}' name='sites' checked="checked"/>  {{i}}</br>
			{%else%}
				<input type='checkbox' value='{{i}}' name='sites' />  {{i}}</br>
			{%endif%}
			{%endfor%}</td></tr>
<tr>
<th>
Username
</th>
<td>
<input type='text' value='{{obj.username}}' name='username' readonly=True/>
</td>
</tr>
<tr>
<th>
Contact Name
</th>
<td>
<input type='text' value='{{obj.contactname}}' name='contactname'/>
</td>
</tr>
<tr>
<th>
Company Name
</th>
<td>
<input type='text' value='{{obj.companyname}}' name='companyname'/>
</td>
</tr>
<tr>
<th>
Email
</th>
<td>
<input type='text' value='{{obj.email}}' name='email'/>
</td>
</tr>
<tr>
<th>
Address
</th>
<td>
<input type='text' value='{{obj.address}}' name='address'/>
</td>
</tr>
<tr>
<th>
city
</th>
<td>
<input type='text' value='{{obj.city}}' name='city'/>
</td>
</tr>
<tr>
<th>
Country
</th>
<td>
<input type='text' value='{{obj.country}}' name='country'/>
</option>
</select>
</td>
</tr>
<tr>
<th>
State
</th>
<td>
<input type='text' value='{{obj.state}}' name='state'/>
</td>
</tr>
<tr>
<th>
postcode
</th>
<td>
<input type='text' value='{{obj.postcode}}' name='postcode'/>
</td>
</tr>
<tr>
<th>
Telephone
</th>
<td>
<input type='text' value='{{obj.telephone}}' name='telephone'/>
</td>
</tr>
<tr>
<!--<th>-->
<!--Creation IP-->
<!--</th>-->
<!--<td>-->
<!--<input type='text' value='{{obj.ipaddress}}' name='ipaddress'/>-->
<!--</td>-->
<!--</tr>-->
<tr>
<th>
Registered on
</th>
<td>
<input type='text' value='{{obj.registeredon}}' name='registeredon' readonly=True/>
</td>
</tr>
<tr>
<th>
Status
</th>
<td>
<input  type='checkbox' {% if obj.active|slugify == 'true' %} checked=True {%endif%}  name='active'/>
</td>
</tr>
<tr><td><input type='submit' value='Save'/></td></tr>
</table>
</form>
</div>
<div id="myContent12" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 500px;">
<table>
<tr>
<th colspan=4 style="border: double;">
Payment Information
<a href='/affiliate_admin-signup2/{{obj.username}}/'>Add</a>
</th>
</tr>
<tr>
<th colspan=2>
Cheque Details
</th>
</tr>
<tr><th colspan=2>Cheque Payable to </th></tr>
{%for i in cheque %}
<tr>
<td>{{i.chequepayableto}}
</td>
<th><a href='/affiliate_admin-account-cheque/{{i.fk_affiliateinfo.id}}/{{i.id}}/'>Edit</a></th>
</tr>
{%endfor%}
</table>
<table>
<tr>
<th colspan=2>
Bank Details 
</th>
</tr>
<tr>
<th>
Account No.
</th>
<th>
IFSC Code
</th>
<th>
Account Type
</th>
<th>
Account Name
</th>
<th>
Bank Name
</th>
<th>
Bank Addr.
</th>
</tr>
{%for i in wire %}
<tr>
<td>{{i.accountnumber}}</td>
<td>{{i.ifsccode}}</td>
<td>{{i.accounttype}}</td>
<td>{{i.accountname}}</td>
<td>{{i.bankname}}</td>
<td>{{i.bankaddress}}</td>
<td><a href='/affiliate_admin-account-wire/{{i.fk_affiliateinfo.id}}/{{i.id}}/'>Edit</a></td>
</tr>
{%endfor%}

</table>
</div>

<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 160px;">
<form action='/commissionsave/{{obj.id}}/' name='commissionsave' method='POST'>
    {% csrf_token %}
<table>
    <tr>
        <th>
            Commission  
        </th>
    </tr>
    <tr>
        <td>Rev Share</td>
    <td><input type='checkbox' name='revshare' {% if commission.revshare|slugify == 'true' %} checked=True {%endif%}/></td>
    </tr>
    <tr>
        <td>Rev Share % </td>
    <td><input type='text' name='revsharepercent' value='{{commission.revsharepercent}}' size=4/></td>
    </tr>
    <tr>
        <td>CPA</td>
    <td><input type='checkbox' name='cpachoice' {% if commission.cpachoice|slugify == 'true' %} checked=True {%endif%}/></td>
    </tr>
    <tr>
        <td>CPA Commision Value</td>
    <td><input type='text' name='cpacommissionvalue' value='{{commission.cpacommissionvalue}}' size=4/></td>
    </tr>
    
    <tr>
        <td>CPR</td>
    <td><input type='checkbox' name='cprchoice' {% if commission.cprchoice|slugify == 'true' %} checked=True {%endif%}/></td>
    </tr>
    
    
    <tr>
        <td>CPR Commision Value</td>
    <td><input type='text' name='cprcommissionvalue' value='{{commission.cprcommissionvalue}}' size=4/></td>
    </tr>
<tr>
<td>
<input type='submit' value='Save'/>
</td></tr>    
</table>
</form>

</div>



{%endblock%}