{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
<link href="/static_files/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>
<script src="/static_files/js/jquery-ui.min.js"></script>
<script type='text/javascript' src="/static_files/js/export_table_to_csv.js"></script>


<body>
<div class='header'>
    {% include "affiliates/admin/header.html" %}
      

    
    
 {% include "affiliates/admin/internal-header.html" %}
   
</div>
<script type="text/javascript">
$(document).ready(function() {
	if($("#id_date").val() == "Custom"){
		$('#id_datepicker1').show();
        $('#id_datepicker2').show();
	}
	$("#id_date").change(function() {
		if($(this).val() == "Custom"){
			$('#id_datepicker1').show();
			$('#id_datepicker2').show();
		}
		else{
			$('#id_datepicker1').hide();
			$('#id_datepicker2').hide();
		}
	});
});
</script>
<script>
$(function() {
	$( "#id_datepicker1" ).datepicker({dateFormat: 'dd/mm/yy',changeYear: true,changeMonth:true});
	$( "#id_datepicker2" ).datepicker({dateFormat: 'dd/mm/yy',changeYear: true,changeMonth:true});
});
</script>
<div style="margin-left:40px;">
<!--  -->

<p><form action="/affiliate_users_financial/{{affiliate_id}}/" method="POST" name="test" id="touneyTxnForm" style="">
{% csrf_token %}


<p>Select Campaign: &nbsp;&nbsp;<select name="campaign_id">
{%for cam in campaign_list%}
<option value="{{cam.id}}">{{cam.name}} - {{cam.id}}</option>
{%endfor%}
</select></p>

<p>Select Register Type: &nbsp;&nbsp;<input type="checkbox" name="newusers" {%if registertype == "new users" or registertype == "all users" %} checked="checked"{%endif%}/>&nbsp;&nbsp;&nbsp;NEW USERS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="checkbox" name="oldusers" {%if registertype == "old users" or registertype == "all users"%} checked="checked"{%endif%}/>&nbsp;&nbsp;&nbsp;OLD USERS<!--  <select name="registertype">
<option value="new users">NEW USERS</option>
<option value="old users">OLD USERS</option>
<option value="all users">ANY</option>
</select> --></p>

   <p>Date Filter&nbsp;&nbsp;<select id="id_date" name="date" style="width: 106px;height: 26px;">
<option value="Today" {%if custom == "Today"%} selected="selected"{%endif%}>Today</option>
<option value="Yesterday"{%if custom == "Yesterday"%} selected="selected"{%endif%}>Yesterday</option>
<option value="WeekTildate"{%if custom == "WeekTildate"%} selected="selected"{%endif%}>WeekTildate</option>
<option value="Last 15 Days"{%if custom == "Last 15 Days"%} selected="selected"{%endif%}>Last 15 Days</option>
<option value="Last 30 Days"{%if custom == "Last 30 Days"%} selected="selected"{%endif%}>Last 30 Days</option>
<option value="Last 45 Days"{%if custom == "Last 45 Days"%} selected="selected"{%endif%}>Last 45 Days</option>
<option value="MonthTilldate"{%if custom == "MonthTilldate"%} selected="selected"{%endif%}>MonthTilldate</option>

<option value="Custom" {%if custom == "Custom"%} selected="selected"{%endif%}>Custom</option>
</select><br /></p>
<input placeholder='Fromdate' type="text"  id='id_datepicker1' name="datepicker1" style="width: 103px;display:none;margin-top:10px;margin-bottom:10px"><br/>
<input placeholder='Todate' type="text"  id='id_datepicker2' name="datepicker2" style="width: 103px;display:none;margin-bottom:10px"><br/>

<input type="submit" value="Search"/>
<input type="reset" value="Clear" id="transaction_form_reset_btn"/>
</form></p>

<!--  -->
<div>
<h2>Campaign Users Financials</h2>
{%if users_data_list%}
<a href="#" id="export_affiliate">Export TO CSV</a><br/>
{%endif%}
<br/>
<h4>
Campaign ID : {{campaignID}} <br/><br/>
Dates : {{from_date}} to {{to_date}} <br/><br/>
Register Type : {{registertype}}
</h4>
<br/>
<br/>

<div style="width: 100%;" id="affiliateDiv">

<h3>Note: NC = New Cash user NF = New Free user OC = Old Cash user OF = Old Free user</h3><br/></br>
<table border=1 width="100%">
    <tr>
    	<th>SNO</th>
        <th>Username</th>
        <th>User ID</th>
        <th>Type</th>
        <th>Deposits</th>
        <th>Withdrawals</th>
    	<th>Total Rake</th>
    	<th>Total Invested</th>
    	<th>Adjustments</th>
    </tr>
    {%for aff in users_data_list%}
    <tr>
    	<td>{{forloop.counter}}</td>
        <td>{% if not forloop.last %}
        <a href="/affiliates/admin_affiliate_user_activities/{{affiliate_id}}/?username={{aff.0}}" target="_blank">{%endif%}{{aff.0}}</a></td>
        <td>{{aff.1}}</td>
    	<td>{{aff.2}}</td>
    	<td>{{aff.3}}</td>
    	<td>{{aff.4}}</td>
    	<td>{{aff.5}}</td>
    	<td>{{aff.6}}</td>
    	<td>{{aff.7}}</td>
    </tr>
    {%endfor%}
    
    
    
</table>
</div>
</div>
<br/><br/>
<script type='text/javascript'>
        $(document).ready(function () {
 
            // This must be a hyperlink
            $("#export_affiliate").click(function (event) {
                // var outputFile = 'export'
               // CSV
        		exportTableToCSV.apply(this, [$('#affiliateDiv>table'), 'affilaite_financial']);
        		// IF CSV, don't do event.preventDefault() or return false
        		// We actually need this to be a typical hyperlink
            });
        });
</script>
{%endblock%}

</body>