{% extends "admin/base_site.html" %}
{% load i18n %}
{% block branding %}
<h1 id="site-name">{% trans 'Rummy EGAP' %}</h1>
{% endblock %}
{% block content %}

   <div class='header'>
    {% include "affiliates/admin/header.html" %}
      

    
    
 {% include "affiliates/admin/internal-header.html" %}
   
</div>


<form action='/affiliate_admin-account-cheque/{{cheque.fk_affiliateinfo.id}}/{{cheque.id}}/' method="POST" name='chequeedit'>
    {% csrf_token %}
<input type='text' value='{{cheque}}' name='cheque'/><br/>
<input type='submit' value='Change'/>
    
</form>
{%endblock%}