<table border=1>
<tr>   
<td>
<a href='/affiliates_admin-home/'> Home</a>
</td>
<td>
<a href='/affiliate_admin-search/'> Search Affiliate</a>
</td>
<!-- <td><a href=''>Financials</a></td>  -->
<td><a href='/affiliate_admin-signup/'>Add Affiliate</a></td>
<td>
<a href='/affiliate_banner-add/'>Add Banner</a
</td>
<td>
<a href='/affiliate_banner-see/'> See All Banner</a
</td>
</tr>
</table>
<hr/>
