<table border='1'>
<tr>
<td>
<a href='/affiliate_admin-account/{{obj.id}}'>Account</a></td>
</td>
<td><a href='/affiliate_admin-seenotes/{{obj.id}}/'>Notes</a></td>
<td><a href='/rummy-createaffiliatelink/{{obj.id}}/'>Campaign</a></td>
<td><a href='/affiliate_financial/{{obj.id}}/'>Financial</a></td>
</tr>
</table>
<h3>Network :  {{obj.networkid.networkname}}</h3>
<h3>Sites : {% for i in obj.siteid.all %}
			{{forloop.counter}}. {{i.domain}}
			{%endfor%}
</h3>
<h3>Affiliate Name  :  {{obj.username}}</h3>