{% extends "admin/base_site.html" %}
{% block content %}

<div class='header'>
{% include "affiliates/admin/header.html" %}
</div>


{% if banners %}
{% for i in banners %}

<div id="myContent11" style="float: left; border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 300px;">
{{i.link|safe}}<br/>{{i.title}}
</div>

{%endfor%}
{%else%}
NO Banners Are Available Currently.
{%endif%}
</div>


{%endblock%}
