


{% extends "admin/base_site.html" %}
{% load i18n %}
{% block branding %}
<h1 id="site-name">{% trans 'Rummy EGAP' %}</h1>
{% endblock %}
{% block content %}



<html>
    <head>
    
    
<script language="JavaScript" type="text/javascript">

function categorychanged1(enable) 
{


if (enable) 
{
document.payment.chequepayableto.style.display="block";
document.payment.accountnumber.style.display="none";
document.payment.bankaddress.style.display="none";
document.payment.bankname.style.display="none";
document.payment.accountname.style.display="none";
document.payment.accounttype.style.display="none";
document.payment.accountname.style.display="none";
document.payment.accounttype.style.display="none";
document.payment.ifsccode.style.display="none";
document.payment.payment2.style.display="none";


}
else 
{
document.payment.chequepayableto.style.display="none";
document.payment.payment2.style.display="block";

}



}

function categorychanged2(enable) 
{


if (enable) 
{
document.payment.accountnumber.style.display="block";
document.payment.chequepayableto.style.display="none";
document.payment.payment1.style.display="none";


}
else 
{
    document.payment.payment1.style.display="block";
document.payment.accountnumber.style.display="none";
}if (enable) 
{
document.payment.ifsccode.style.display="block";
}
else 
{
document.payment.ifsccode.style.display="none";

}
if (enable) 
{
document.payment.accounttype.style.display="block";
}
else 
{
document.payment.accounttype.style.display="none";


}if (enable) 
{
document.payment.accountname.style.display="block";
}
else 
{
document.payment.accountname.style.display="none";

}
if (enable) 
{
document.payment.accounttype.style.display="block";


}
else 
{
document.payment.accounttype.style.display="none";

}if (enable) 
{
document.payment.accountname.style.display="block";
}
else 
{
document.payment.accountname.style.display="none";


}
if (enable) 
{
document.payment.bankname.style.display="block";
}
else 
{
document.payment.bankname.style.display="none";


}if (enable) 
{
document.payment.bankaddress.style.display="block";
}
else 
{
document.payment.bankaddress.style.display="none";

}



}

</script>
    
    
    
    </head>


       <body>
 
 

<div class='maincon'>





{% include "affiliates/admin/header.html" %}


</div>







    <div class='main'>
        
        
<b>Hi You have successfully entered your Information.
<br/>
Please Select Your Payment Mode or Just Click On Process To Skip This Step .<br/>

You can add Payment Information Later in Account
<br/><br/><br/>
</b>

<form action='' name='payment' method='POST'>
    {% csrf_token %}

Cheque Details:
<input type="checkbox" id='payment1' name="cheque" onchange="categorychanged1(this.checked)" /><br/>
   <input type="text" value='' placeholder="Cheque Payable to :" name="chequepayableto" style="display:none"><br/>
<br/>
<br/>

Wire Details:<input type="checkbox" name="wire" id='payment2' onchange="categorychanged2(this.checked)" /><br/>



<input type="text" value='' placeholder="Account Number :" name="accountnumber" style="display:none"><br/>
    <input type="text" value='' placeholder="IFSC Code:" name="ifsccode" style="display:none"><br/>
<input type="text" value='' placeholder="Account Type :" name="accounttype" style="display:none"><br/>
<input type="text" value='' placeholder="Account Name :" name="accountname" style="display:none"><br/><input type="text" value='' placeholder="Bank Name :" name="bankname" style="display:none"><br/>
<input type="text" value='' placeholder="Bank Address :" name="bankaddress" style="display:none"><br/>
<input type='submit' value='Process'/>
<input type='submit' value='Skip'/>


</form>
    

    
    
    </div>
    
    
    
    
    
    
 </div>           
        </body>
 

</html>



{%endblock%}