<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Affiliate | Create Affiliate </title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>

<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="/static_files/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="/static_files/assets/admin/layout/css/themes/egcs_blue.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>

<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
<style>
.page_container_top{
margin-top:0px !important;
}
  .input-icon.right > i {
    right: 70px;
    top: 8px;
    float: right;
}
@media (min-width: 1200px)
.col-lg-1 {
    width: 7.333333%;
}
</style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content ">
<!-- BEGIN HEADER -->
<!-- BEGIN HEADER -->

<!-- END HEADER -->
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container page_container_top">
	<!-- BEGIN SIDEBAR -->
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content page_content_margin">
			<!-- BEGIN PAGE HEADER-->
			<!--  <h3 class="page-title">
			Home <small> Player Management</small>
			</h3>
			-->  
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box lgreen">
						<div class="portlet-title">
							<div class="caption">
								Create Account
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar django_form" >
							<form action= "/affiliate/register/" method="POST" name='DashBoardForm' role="form" id="affiliateCreateForm">
							<input type="hidden" name="format" value="json" />
							<input type="hidden" name="refid" value="{{refid}}" />
							{%csrf_token%}
							
							<div class="row" id="error_divID" style="display:none">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<!--  <h4><span class="fa fa-times" style="margin-top: 12px;font-size: 27px;color:red;"> </span>
									<span class="error_form" style="font-weight: bold;"> {{error_message}}</span> </h4>-->
									{%if message%}
										<div class="alert alert-success-msg">
                                        	<center> <span id="error_spanID">{{message}} </span></center>
                                    	</div>
									{%else%}
									<div class="alert alert-error-msg">
                                        	<center> <span id="error_spanID">{{error_message}} </span></center>
                                    </div>
                                    {%endif%}
								</div>
							</div>
							<br/>
							
							<div class="row">
								<div class="form-group">
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										
										<label class="control-label">Username <span class="required">
															* </span>
										</label>
										
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
										<div class="input-icon right">
											<i class="fa"></i>
											<span><input type="text" name="username" onblur="getUsernameExistOrNot()" value="{{username}}" required=True maxlength=25  id="aff_username"/></span>
										</div>
									</div>
									
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										
										<label class="control-label">Firstname <span class="required">
																* </span>
										</label>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="input-icon right">
										<i class="fa"></i>
										<span> <input type="text" name="contactname" value="{{contactname}}"/></span>
										</div>
									</div>
									
								</div>
							</div>
							
							<div class="row">
								<div class="form-group">
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										
										<label class="control-label">Email <span class="required">
																* </span>
										</label>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="input-icon right">
												<i class="fa"></i>
											<span><input type="text" name="email" value="{{email}}" onblur="getEmailExistOrNot()" required=True id="aff_email"/> </span>
										</div>
									</div>
									
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										
										<label class="control-label">Date Of Birth <span class="required">
																* </span>
										</label>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="input-icon right">
											<i class="fa"></i>
											<span> <input type="text" name="dob" value="{{dob}}"/></span>
										</div>
									</div>
									
								</div>
							</div>
							
							<div class="row">
								<div class="form-group">
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										
										<label class="control-label">Password <span class="required">
																* </span>
										</label>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="input-icon right">
												<i class="fa"></i>
											<span><input type="password" name="password" value="" maxlength=25 id="PassWord"/> </span>
										</div>
									</div>
									
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										<label class="control-label">Company Name <span class="required">
																* </span>
										</label>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="input-icon right">
											<i class="fa"></i>
											<span><input type="text" name="companyname" value="{{companyname}}" /> </span>
										</div>
									</div>
									
									
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										
										<label class="control-label">Confirm Password <span class="required">
																* </span>
										</label>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="input-icon right">
												<i class="fa"></i>
											<span><input type="password" name="confirmpassword" value="" required=True maxlength=25/> </span>
										</div>
									</div>
									
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										
										<label class="control-label">Address <span class="required">
																* </span>
										</label>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="input-icon right">
											<i class="fa"></i>
											<span>  <input type="text" name="address" value="{{address}}" /></span>
										</div>
									</div>
									
								</div>
							</div>
						
							
							<div class="row">
								<div class="form-group">
								
								
								<div class="col-lg-6 col-md-3 col-sm-12 col-xs-12 affiliate-create" style="visibility:hidden;">
										
										<label class="control-label"><span class="required">
																 </span>
										</label>
										<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
											<div class="input-icon right">
												<i class="fa"></i>
												<span></span>
											</div>
										</div>
									</div>
									
								
								
								
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										
										<label class="control-label">City <span class="required">
																* </span>
										</label>
										
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="input-icon right">
											<i class="fa"></i>
											<span> <input type="text" name="city" value="{{city}}" /></span>
										</div>
									</div>
									
									
								</div>
							</div>
							
							<div class="row">
								<div class="form-group">
								
								
								<div class="col-lg-6 col-md-3 col-sm-12 col-xs-12 affiliate-create" style="visibility:hidden;">
										
										<label class="control-label"><span class="required">
																 </span>
										</label>
										<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
											<div class="input-icon right">
												<i class="fa"></i>
												<span></span>
											</div>
										</div>
										
									</div>
									
								
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										
										<label class="control-label">Phone <span class="required">
																* </span>
										</label>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="input-icon right">
											<i class="fa"></i>
											<span> <input type="text" name="telephone" value="{{telephone}}" /></span>
										</div>
									</div>
									
								</div>
							</div>
							
							
							
							<div class="row">
								<div class="form-group">
								
								
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 affiliate-create" style="visibility:hidden;">
										
										<label class="control-label"><span class="required">
																 </span>
										</label>
										<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
											<div class="input-icon right">
												<i class="fa"></i>
												<span></span>
											</div>
										</div>
										
									</div>
									
							
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										
										<label class="control-label">Pincode <span class="required">
																* </span></label>
									
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
										<div class="input-icon right">
											<i class="fa"></i>
											<span> <input type="text" name="pincode" value="{{pincode}}" /></span>
										</div>
									</div>
									
								</div>
							</div>
							
							
							
							
							
							<div class="row">
								<div class="form-group">
								
								
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 affiliate-create" style="visibility:hidden;">
										
										<label class="control-label"><span class="required">
																 </span>
										</label>
										<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
											<div class="input-icon right">
												<i class="fa"></i>
												<span></span>
											</div>
										</div>
										
									</div>
									

									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										
										<label class="control-label">State <span class="required">
																* </span>
										</label>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="input-icon right">
											<i class="fa"></i>
											<span> <input type="text" name="state" value="{{state}}" /></span>
										</div>
									</div> 
									
								</div>
							</div>
							
							
							
							
							
							
							<div class="row">
								<div class="form-group">
								
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 affiliate-create" style="visibility:hidden;">
										
										<label class="control-label"><span class="required">
																 </span>
										</label>
										<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="input-icon right">
											<i class="fa"></i>
											<span></span>
										</div>
									</div> 
								</div>
									
								
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 affiliate-create">
										
										<label class="control-label">Country <span class="required">
																* </span>
										</label>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="input-icon right">
											<i class="fa"></i>
											<span>
												<select name="countryname" >
												{%for i in country_list%}
													<option value="{{i.id}}">{{i.countryname}}</option>
												{%endfor%}
											</select></span></div>
									</div>
								</div>
							</div>
							
							
							
							
							

							
							
							<br/>
							<div class="row">
								<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 ">
									
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
									<input type="submit" value="Submit" class="btn  btn-success egcs_submit_button" id="signupsubmit"/> <input type="reset" value="Cancel" class="btn  grey-mint egcs_submit_button" id="RESET"/>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
									<span> </span>
								</div>
							</div>
							
							<hr>
								</form>
							</div>
							<div class="digg_pagination"></div><br/>
							<table class="table table-striped table-bordered table-hover" id="search_result_table">
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
		</div>
	<!-- END CONTENT -->
</div>
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/static_files/assets/global/plugins/respond.min.js"></script>
<script src="/static_files/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="/static_files/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/static_files/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="/static_files/assets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/static_files/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static_files/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static_files/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/table-managed.js"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>
<script src="/static_files/js/utils.js"></script>
<script>

$(function() {
    $('input[name="dob"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minDate:"01/01/1930",
        maxDate: "07/01/2015",
    }, 
    function(start, end, label) {
        var years = moment().diff(start, 'years');
    });
});

var usernameexist=false;
var emailexist=false;
function getUsernameExistOrNot(){
	var Username = $("#aff_username").val();
	$.ajax({
		  url: '/affiliate/check_username/?username='+Username,
		  dataType: 'json',
		  async: false,
		  data: {},
		  success: function(data) {
			  result = data.exist
				if (result == true){
					//$("#error_spanID").html("Username already registered with Us.");
					//$("#error_divID").show();
					//$('#signupsubmit').attr('disabled','disabled');
					
					var element = $("#aff_username");
					$(element).closest( ".form-group" ).removeClass("has-success").addClass("has-error");
					var icon = $(element).parent().parent('.input-icon').children('i');
              		icon.removeClass('fa-check').addClass("fa-warning");  
              		icon.attr("data-original-title", "Username already registered with us.").tooltip({'container': 'body'});
				}
				else{
					usernameexist = false;
					$("#error_spanID").html("");
					$("#error_divID").hide();
					$('#signupsubmit').removeAttr('disabled');
				}
		  }
	});
	return usernameexist;
	
}
function getEmailExistOrNot(){
	var Email = $("#aff_email").val();
	$.ajax({
		url: '/affiliate/check_email/?email='+Email,
		  dataType: 'json',
		  async: false,
		  data: {},
		  success: function(data) {
			  	result = data.exist
				if (result == true){
					emailexist = true;
					//$("#error_spanID").html("Email already Registered with Us.");
					//$("#error_divID").show();
					var element = $("#aff_email");
					
					$(element).closest( ".form-group" ).removeClass("has-success").addClass("has-error");
					var icon = $(element).parent().parent('.input-icon').children('i');
              		icon.removeClass('fa-check').addClass("fa-warning");  
              		icon.attr("data-original-title", "Email already registered with us.").tooltip({'container': 'body'});
					
					$('#signupsubmit').attr('disabled','disabled');
				}
				else{
					emailexist = false;
					//$("#error_spanID").html("");
					//$("#error_divID").hide();
					$('#signupsubmit').removeAttr('disabled');
				}
		  }
		});
	return emailexist;
}

function someFunction(){
	var user_exists = getUsernameExistOrNot();
	var email_exists = getEmailExistOrNot();
	if (user_exists || email_exists){
		$('#signupsubmit').attr('disabled','disabled');
		return false;
	}
	return true;
}

/*
function paymentOnchange(ele){
	var rval = $(ele).val();
	$("#WireDetails").hide();
	$("#chequePayableTo").hide();
	if (rval == "cheque"){
		if ($(ele).is(":checked")){
			$("#chequePayableTo").show();
			
			$("#chequePayableTo").closest( ".form-group").find("label").addClass('control-label');
			
			$( "input[name='chequepayableto']").rules( "add", {
				  required: true,
				  minlength: 4,
				  messages: {
				    required: "Please enter cheque payable name.",
				  }
			});
		}
		else{
			$("#chequePayableTo").hide();
			$( "input[name='chequepayableto']" ).rules( "remove" ,"required min");
			$("#chequePayableTo").closest( ".form-group").find("label").removeClass('control-label');
		}
		
		
		
	}
	else if (rval == "wire"){
		if ($(ele).is(":checked")){
			$("#WireDetails").show();
			$("#WireDetails").find( ".form-group").find("label").addClass('control-label');
			$( "input[name='accountnumber']").rules( "add", {
				  required: true,
				  number: true,
				  messages: {
				    required: "Please enter account number.",
				  }
			});
			$( "input[name='ifsccode']").rules( "add", {
				  required: true,
				  
				  messages: {
				    required: "Please enter bank ifsccode.",
				  }
			});
			$( "input[name='bankname']").rules( "add", {
				  required: true,
				 
				  messages: {
				    required: "Please enter bank name.",
				  }
			});
			$( "input[name='bankaddress']").rules( "add", {
				  required: true,
				 
				  messages: {
				    required: "Please enter bank address.",
				  }
			});
			$( "input[name='accountname']").rules( "add", {
				  required: true,
				  
				  messages: {
				    required: "Please enter account name.",
				  }
			});
			$( "input[name='accounttype']").rules( "add", {
				  required: true,
				  
				  messages: {
				    required: "Please enter account type.",
				  }
			});
			
			
			
			
			
		}
		else{
			$("#WireDetails").hide();
			$( "input[name='accountnumber']" ).rules( "remove" );
			$( "input[name='ifsccode']" ).rules( "remove");
			$( "input[name='bankname']" ).rules( "remove" );
			$( "input[name='bankaddress']" ).rules( "remove");
			$( "input[name='accountname']" ).rules( "remove");
			$( "input[name='accounttype']" ).rules( "remove");
		}
	}
	else{
		$("#WireDetails").hide();
		$("#chequePayableTo").hide();
		$( "input[name='chequepayableto']" ).rules( "remove" ,"required min");
		$("#WireDetails").find( ".form-group").find("label").removeClass('control-label');
		$("#chequePayableTo").closest( ".form-group").find("label").removeClass('control-label');
		
		$( "input[name='accountnumber']" ).rules( "remove" );
		$( "input[name='ifsccode']" ).rules( "remove");
		$( "input[name='bankname']" ).rules( "remove" );
		$( "input[name='bankaddress']" ).rules( "remove");
		$( "input[name='accountname']" ).rules( "remove");
		$( "input[name='accounttype']" ).rules( "remove");
	}
}

function revenueShareOnchange(enable){
	if (enable){
		$("#RSPercent").show();
		$( "#RSPercent" ).closest( ".form-group").find("label").addClass('control-label');
		$( "input[name='rspercent']").rules( "add", {
			  required: true,
			  number:true,
			  messages: {
			    required: "Please enter revenue share percent.",
			  }
		});
	}
	else{
		$("#RSPercent").hide();
		$( "input[name='rspercent']" ).rules( "remove");
		$( "#RSPercent" ).closest( ".form-group").find("label").removeClass('control-label');
	}
}
function cpaOnchange(enable){
	if (enable){
		$("#CPAPercent").show();
		$( "#CPAPercent" ).closest( ".form-group").find("label").addClass('control-label');
		$( "input[name='cpapercent']").rules( "add", {
			  required: true,
			  number:true,
			  messages: {
			    required: "Please enter cpa value.",
			  }
		});
	}
	else{
		$("#CPAPercent").hide();
		$( "input[name='cpapercent']" ).rules( "remove" );
		$( "#CPAPercent" ).closest( ".form-group").find("label").removeClass('control-label');
	}
}

function CprOnchange(enable){
	if (enable){
		$("#CPRPercent").show();
		$( "#CPRPercent" ).closest( ".form-group").find("label").addClass('control-label');
		$( "input[name='cprpercent']").rules( "add", {
			  required: true,
			  number:true,
			  messages: {
			    required: "Please enter cpr value.",
			  }
		});
	}
	else{
		$("#CPRPercent").hide();
		$( "input[name='cprpercent']" ).rules( "remove");
		$( "#CPRPercent" ).closest( ".form-group").find("label").removeClass('control-label');
	}
}
*/
function addPlayerslistDataTable(headersList, dataList){
	//if ($('#search_result_table').find('tr').length != 0)
	$('#search_result_table:has(tbody)').dataTable().fnDestroy();
	$("#search_result_table").dataTable({paging: true,"iDisplayLength":50000, 
		   "data": dataList,
		   "columns": headersList,
	       //"processing": true,
	       //"serverSide": true,
	       "createdRow": function( row, data, dataIndex ) {
	           $(row).attr('id', 'order_'+data[0]);
	           //$(row).attr('username', data[1]);
	          // var html_str  = '<a href="/playerinfosave/'+data[2]+'"  target="_blank">'+data[0]+'</a>';
	           //$($(row).find('td')[0]).html(html_str);
	           //console.log(dataIndex);
	       },
	       
	       "rowCallback": function( row, data ) {
	           //if ( $.inArray( $(row).attr('id'), selected_from_group) !== -1 ) {
	            //   $(row).addClass('selected');
	           //}
	       },
	       searching: false,
	       ordering:true,
	       info: false,
	       "processing": true,
	       "order": [[ 0, "asc" ]]
	       
	      
	});
	
	$("#RESET").click();
	setTimeout(ajaxUnBlockUI($(".page-content")), 2000);
	
}

function getPlayerSearchData(){
	var search_form = $("form[name=DashBoardForm]");
	ajaxBlockUI($(".page-content"));
	$.ajax({
		  type: search_form.attr('method'),
		  url: search_form.attr('action'),
		  data: search_form.serialize(),
		  dataType: 'json',
		  success: function(data) {
				if (data.status == "success"){
					$('.digg_pagination').html("");
					//var decoded = $('<div />').html(data.pagination_div).text();
					$('.digg_pagination').html(data.pagination_div);
					addPlayerslistDataTable(data.header_list, data.data_list);
				}
		  }
	});
	return false;
}

jQuery(document).ready(function() {       
   Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
   egcsTools.initNavigation();
   egcsTools.initDashboardDaterange();
   Index.initDashboardDaterange();
   
   var error_msg = "{{error_message}}";
   if(error_msg != ""){
	   $("#error_spanID").html(error_msg);
	   $("#error_divID").show(); 
   }
   
   

  // for more info visit the official plugin documentation: 
      // http://docs.jquery.com/Plugins/Validation
      
      
  
  	

      var form2 = $('#affiliateCreateForm');
      var error2 = $('.alert-danger', form2);
      var success2 = $('.alert-success', form2);

      form2.validate({
		  focusCleanup: true,
          errorElement: 'span', //default input error message container
          errorClass: 'help-block help-block-error', // default input error message class
          focusInvalid: false, // do not focus the last invalid input
          ignore: "",  // validate all fields including form hidden input
          rules: {
        	  
              username: {
                  minlength: 4,
                  required: true,
                  maxlength:25,
              },
              email: {
                  required: true,
                  email: true,
                  
              },
              password: {
                  required: true,
                  maxlength:25,
                 
              },
              confirmpassword: {
                  required: true,
                  maxlength:25,
                  equalTo: "#PassWord",
                 
              },
              contactname: {
                  required: true,
              },
              companyname:{
            	  required:true,
              },
              address:{
            	  required:true,
              },
              city:{
            	  required:true,
              },
              pincode:{
            	  required:true,
            	  number:true,
              },
              telephone:{
            	  required:true,
            	  number:true,
              },
              state:{
            	  required:true,
              },
              countryname:{
            	  required:true,
              },
              dob:{
            	  required:true,
              },
              
          },

          invalidHandler: function (event, validator) { //display error alert on form submit              
              success2.hide();
              error2.show();
              Metronic.scrollTo(error2, -200);
          },

          errorPlacement: function (error, element) { // render error placement for each input type
              //var icon = $(element).parent().parent('.input-icon').children('i');
              var icon = $(element).closest( ".input-icon" ).children('i');
              icon.removeClass('fa-check').addClass("fa-warning");  
              icon.attr("data-original-title", error.text()).tooltip({'container': 'body'});
          },

          highlight: function (element) { // hightlight error inputs
              $(element)
                  .closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group   
          },

          unhighlight: function (element) { // revert the change done by hightlight
              
          },

          success: function (label, element) {
              //var icon = $(element).parent().parent('.input-icon').children('i');
               var icon = $(element).closest( ".input-icon" ).children('i');
              $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
              icon.removeClass("fa-warning").addClass("fa-check");
          },

          submitHandler: function (form) {
              success2.show();
              error2.hide();
              form[0].submit(); // submit the form
          }
      });
   
   
   
  /*
   $("#search_table").dataTable({paging: false,
	       searching: false,
	       ordering:false,
	       info: false,"dom": 'flit'
   });*/
});
</script>

</body>
<!-- END BODY -->
</html>