<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>{{partner}} - Register</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Arimo:400,700,400italic">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-core-partner.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
	<link rel="stylesheet" href="/static_files/assets/css/custom.css">

	<script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>
    <link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<!--[if IE]>
<style>
    select.country-name {
         padding-left:40px;
    }
</style>
<![endif]-->

<style>


label{
	position: relative;
	cursor: pointer;
	color: #666;
	font-size: 14px;
}

input[type="radio"]{
	position: absolute;
	right: 9000px;
}

.paymentOptions {padding-bottom:25px;}

/*Radio box*/

input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px; font-size:20px; vertical-align:-2px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #0091e0;
	    font-size: 20px;
    vertical-align: -2px;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #ccc;
}


@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}


.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left: 25px;
}
	

.pull-left {clear:initial !important;}	

.check {width:100%;}
  


.checkbox-inline {padding-left:0 !important;}

.checkboxD {vertical-align: -2px; cursor:pointer;
    margin-right: 8px !important;}

/* .paysDiv .check {display:none;} */

.checkItem {display:none;}

.checkItem {color: #ff0000;
    position: absolute;
    clear: both;
    display: block;
    padding-top: 5px;}








.county-name:last-child {display:none;}

.login-page .login-form .login-header {
    margin-bottom: -6px; margin-top:15px;
}

#toast-container {margin-top:0px !important}


@media (min-device-width:320px) and (max-device-width:768px) {
	
	.mobile-iphone {text-indent:40px;}
}

.login-header {text-align:center;}


#terms-error {
position: absolute; font-size:12px;
    margin-left: -40px;
    margin-top: 17px;
}

.col-md-6 {padding-left:0;}

.right-space {padding-right:0px;}

.login-page .login-form .form-group .form-control {height:50px; margin-bottom:10px;}

.input-group-addon {top: 1px;
    font-size: 15px;
    color: #dddddd;
    background: #f5f5f5 !important;}
	
	.icons-before-input {
    position: absolute !important;
    z-index: 999;
    top: 1px;
    left: 1px;
    border: none;
    width: 40px;
    line-height: 36px !important;
}

.login-box .input-group-addon:after {display:none;}

.login-register-btn {
    background: #0091e0 !important;
    color: #fff !important;
    border-radius: 0px !important;
    border: none;
    height: 55px;
}		

.privacy-over-div {
    position: absolute;
    width: 100%;
    margin-bottom: 20px;
}

.panel-heading1 {
    line-height: 50px;
    padding: 0px !important; 
    min-height: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
   border-bottom: none !important;
    position: relative;
    -webkit-box-shadow: inset 0 0 1px 1px #fff;
    -moz-box-shadow: inset 0 0 1px 1px #fff;
    box-shadow: inset 0 0 1px 1px #fff;
}

.login-page {
    font-family: sans-serif !important;
}
.vcomm-logo{
   text-align: center;
    display: block;
    margin: 0 auto;
}
.login-wynta-logo {
    display: block;
    margin: 0 auto;
}

.footer-text {
    margin-right: 20px;
    color: #000;
    font-size: 14px;
}

.login-page .login-form .form-group label.error {
    color: #ff0000;
    line-height: 0px;
    right: 0px;
    left: 0;
    margin-top: 57px;
    position: absolute;
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {

	.left-right-adjust {
    padding-top: 70px;
}

}

.login-register-btn {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(184, 184, 184, 0.1) 70%, rgba(184, 184, 184, 0.2) 100%) !important;
    background-color: #fff !important;
    color: #2585c7 !important;
    border-color: #2585c7 !important; border:1px solid #2585c7 !important;
}

body {}
.login-page .login-form .form-group .form-control {}
.input-group[class*=col-]
{float:none;}
.login-page {padding-top:10px !important;}
    td, th {
    padding: 16px 0px 2px 0px;
}
label.error {
  z-index: 999 !important;
 
}

.  {width:97% !important;}
  .form-group{
    
  }
  .middle-login-reg {width:70%;}
  
  @media only screen and (max-width: 768px) {
  
  .btn-dark {}
  
  .col-sm-12 {width:100%; padding-right:0;}
  .right-space {}
    td, th {
       padding: 16px 0px 2px 0px;
    width: 100%;
    display: block;}
	.middle-login-reg {width:90%;}
	.login-page {padding-top:5px !important;}
	
	#signupsubmit {left:0px !important;}
	
	.  {width:100%;}

.  {
    width: 100% !important;
}

}

.footer-bottom-privacy {z-index:9999; position:relative;}


.footer-bottom-privacy {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.footer-bottom-text {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.page-logo.my-logo {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.top-header-fozil {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.dropdown-toggle {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.egcs_submit_button {
	border:1px solid #b8b8b8;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(184, 184, 184, 0.1) 70%, rgba(184, 184, 184, 0.2) 100%) !important;
    background-color: #fff !important;
    color: #2585c7 !important;
    border-color: #b8b8b8 !important;
    font-weight: normal;
}

.login-register-btn, .egcs_submit_button:hover { background-color: #edf3f7 !important;

  color: #0f3753; 
}

.login-register-btn {
	background-image:{{ partner_obj.buttonimage }} !important ;
	background-color: {{ partner_obj.buttoncolor }} !important;
	color:{{ partner_obj.buttontext }} !important;
	
}


.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td
{
	background-color: {{ partner_obj.tablecolor }} !important;
    color: {{ partner_obj.tabletext }} !important;
}

@media only screen and (max-width: 767px) { 

	#terms-error {margin-top:35px;}
}

#ui-datepicker-div {z-index:99999 !important;}

input[type=checkbox].error {border-color:black;}

.maxi-logo {    
    text-align: center;
    display: block;
    margin: 0 auto;}
	
	.add_remove {
   float: right;
    margin-top: -57px;
    margin-right: 56px;
    z-index: 9;
    position: absolute;
    right: 0;
}

.add_url_button {    padding-right: 20px;
    padding-left: 20px;
    background: #f7f7f7;
    height: 42px;
    border-radius: 5px;
    line-height: 45px;}
	
.plus_minus {font-size:20px; vertical-align:-1px;}
.optionBox {width:100%;margin-bottom: 10px;}

.main_block {    position: absolute;
    right: 0;
    top: 0;
    background: #f7f7f7;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 35px;
    margin-top: 3px;
    border-radius: 5px;}
	
.remove {    position: absolute;
    top: 0;
    right: 15px;
    font-size: 20px;}
.plus {font-size: 20px;
    vertical-align: -2px;
    margin-right: -5px;}
.add, .remove {cursor:pointer;} 

.add-url {position: absolute;
    top: 0px;
    margin-left: -45px;
    z-index: 9;
    background: #0091e0;
    color: #fff;
    height: 50px;
    line-height: 35px;
    font-size: 20px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
	 cursor:pointer;}

.add-url:hover i {color:#fff; }

.siteText {padding-left:0; text-indent:10px;}	

.closeMark {color: #fff;
    position: absolute;
    margin-top: 15px;
    background: #ff0000;
    padding: 6px;
    border-radius: 30px;
    line-height: 12px;
    text-align: center;
    font-size: 15px;
    margin-left: -35px;
    z-index: 9;cursor:pointer;}

</style>

<script>

//$(function() {
   // $('input[name="dob"]').daterangepicker({
     //   singleDatePicker: true,
     //   showDropdowns: true,
      //  minDate:"01/01/1930",
      //  maxDate: "07/01/2015",
  //  }, 
   // function(start, end, label) {
   //     var years = moment().diff(start, 'years');
   // });
//});

var usernameexist=false;
var emailexist=false;
function getUsernameExistOrNot(){
    var Username = $("#username").val();
    var opts = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    $.ajax({
          url: ' /affiliate/check_username/?username='+Username,
          dataType: 'json',
          async: false,
          data: {},
          success: function(data) {
              result = data.exist
                if (result == true){
                    //$("#error_spanID").html("Username already registered with Us.");
                    //$("#error_divID").show();
                    //$('#signupsubmit').attr('disabled','disabled');
                    if ($('#toast-container').html() == undefined){
                      toastr.error('Username already registered with us.', "Invalid Registration!", opts);
                    }
                    
                    $('#signupsubmit').attr('disabled','disabled');
                    // var element = $("#username");
                    // $(element).closest( ".form-group" ).removeClass("has-success").addClass("has-error");
                    // var icon = $(element).parent().parent('.input-icon').children('i');
                    // icon.removeClass('fa-check').addClass("fa-warning");  
                    // icon.attr("data-original-title", "Username already registered with us.").tooltip({'container': 'body'});
                }
                else{
                    usernameexist = false;
                    
                }
          }
    });
    return usernameexist;
    
}
function getEmailExistOrNot(){
    var Email = $("#email").val();
    var opts = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000000000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    $.ajax({
        url: ' /affiliate/check_email/?email='+Email,
          dataType: 'json',
          async: false,
          data: {},
          success: function(data) {
                result = data.exist
                if (result == true){

                    emailexist = true;
                    //$("#error_spanID").html("Email already Registered with Us.");
                    //$("#error_divID").show();
                    //toastr.error('This email address has already been registered with us.', "Invalid Registration!", opts);
                    //$('#signupsubmit').attr('disabled','disabled');
                }
                else{
                    emailexist = false;
                    //$('#signupsubmit').attr('disabled', false)
                    // //$("#error_spanID").html("");
                    // //$("#error_divID").hide();
                    // $('#signupsubmit').removeAttr('disabled');
                }
          }
        });
    return emailexist;
}

function someFunction(){
    // var user_exists = getUsernameExistOrNot();
    var email_exists = getEmailExistOrNot();
    if (email_exists){
       // $('#signupsubmit').attr('disabled','disabled');
        return false;
    }
    else{
      //$('#signupsubmit').attr('disabled', false)
        return true;
    }
    return true;
}
function addPlayerslistDataTable(headersList, dataList){
    //if ($('#search_result_table').find('tr').length != 0)
    $('#search_result_table:has(tbody)').dataTable().fnDestroy();
    $("#search_result_table").dataTable({paging: true,"iDisplayLength":50000, 
           "data": dataList,
           "columns": headersList,
           //"processing": true,
           //"serverSide": true,
           "createdRow": function( row, data, dataIndex ) {
               $(row).attr('id', 'order_'+data[0]);
               //$(row).attr('username', data[1]);
              // var html_str  = '<a href="/playerinfosave/'+data[2]+'"  target="_blank">'+data[0]+'</a>';
               //$($(row).find('td')[0]).html(html_str);
               //console.log(dataIndex);
           },
           
           "rowCallback": function( row, data ) {
               //if ( $.inArray( $(row).attr('id'), selected_from_group) !== -1 ) {
                //   $(row).addClass('selected');
               //}
           },
           searching: false,
           ordering:true,
           info: false,
           "processing": true,
           "order": [[ 0, "asc" ]]
           
          
    });
    
    $("#RESET").click();
    setTimeout(ajaxUnBlockUI($(".page-content")), 2000);
    
}

function getPlayerSearchData(){
    var search_form = $("form[name=DashBoardForm]");
    ajaxBlockUI($(".page-content"));
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: search_form.serialize(),
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    $('.digg_pagination').html("");
                    //var decoded = $('<div />').html(data.pagination_div).text();
                    $('.digg_pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list);
                }
          }
    });
    return false;
}

jQuery(document).ready(function() {  
    {%if error_message %}
        var err_msg = "{{error_message}}";
        var opts = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        //toastr.error(err_msg, "Invalid Registration!", opts);         
    {%endif%}
                        // Reveal Login form
    setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
    var form2 = $('#affiliateCreateForm');
      var error2 = $('.alert-danger', form2);
      var success2 = $('.alert-success', form2);
        //Logic for radio buttons to switch
						  $("#bank").click(function(){
							$(this).attr( "checked", true );
							$("#pay, #net").removeAttr('checked');
						  });

						  $("#pay").click(function(){
							$(this).attr( "checked", true );
							$("#bank, #net").removeAttr('checked');
						  });	

						  $("#net").click(function(){
							$(this).attr("checked", true );
							$("#bank, #pay").removeAttr('checked');
						  });	
		var options = {{options|safe}};
        // Validation and Ajax action
        $('#affiliateCreateForm').validate({
             rules: {
                  username: {
                      minlength: 4,
                      required: options.includes('First Name') ? true : false,
                      maxlength:25,
                  },
                  email: {
                      required: options.includes('First Name') ? true : false,
                      email: options.includes('First Name') ? true : false,
                      
                  },
                  passwd: {
                      minlength: 5,
                      required: options.includes('First Name') ? true : false,
                      maxlength:15,
                     
                  },
                  confirmpassword: {
                      minlength: 5,
                      required: options.includes('First Name') ? true : false,
                      maxlength:15,
                      equalTo: "#passwd",
                     
                  },
				  
				  site_url: {
                      required: options.includes('First Name') ? true : false,
                  },			  
				  
                  contactname: {
                      required: options.includes('First Name') ? true : false,
                  },
				  lastname: {
                      required: options.includes('Last Name') ? true : false,
                  },
                  companyname:{
                      required:options.includes('Comapny Name') ? true : false,
                  },
                  address:{
                      required:options.includes('Address') ? true : false,
                  },
                  city:{
                      required:options.includes('City') ? true : false,
                  },
                  pincode:{
                      required:options.includes('Postcode') ? true : false,
                  },
                  telephone:{
                      required:options.includes('Phone Number') ? true : false,
                      number:options.includes('Phone Number') ? true : false

                  },
                  state:{
                      required:options.includes('State') ? true : false,
                  },
                  countryname:{
                      required:options.includes('Country') ? true : false,
                  },
                  dateofbirth:{
                      required:options.includes('DOB') ? true : false,
                  },
				  accountnumber:{
                      required:options.includes('Account Number') ? true : false,
                  },
				  accountname:{
                      required:options.includes('Beneficiary Name') ? true : false,
                  },	
				  beneficiaryaddress:{
                      required:options.includes('Beneficiary Address') ? true : false,
                  },	
				  bankname:{
                      required:options.includes('Bank Name') ? true : false,
                  },
				  bankaddress:{
                      required:options.includes('Bank Address') ? true : false,
                  },
				  sortcode:{
                      required:options.includes('Sort Code') ? true : false,
                  },	
				  iban:{
                      required:options.includes('IBAN') ? true : false,
                  },				  
				  swift:{
                      required:options.includes('Swift') ? true : false,
                  },
				  terms:{
                      required:true,
                  },
				  
				
              },

            messages: {
                username: {
                    required: 'Please enter your username.'
                },

                passwd: {
                    required: 'Please enter your password.'
                },

                email: {
                  required: 'Please enter your email address.'
                },
            
				confirmpassword: {
                  required: 'Please confirm entered password. '
                },
				
				site_url: {
                      required: 'Please enter site url.'
                  },
               
                  contactname: {
                      required: 'Please enter your first name.'
                  },
				  lastname: {
                      required: 'Please enter your last name.'
                  },
                  companyname:{
                      required: 'Please enter your company name.'
                  },
                  address:{
                      required: 'Please enter your address.'
                  },
                  city:{
                      required: 'Please enter your city.'
                  },
                  pincode:{
                      required: 'Please enter your postcode.'
                  },
                  telephone:{
                      required: 'Please enter your phone number.'
                  },
                  state:{
                      required: 'Please enter your state.'
                  },
                  dateofbirth:{
                      required: 'Please enter your dob.'
                  },
				  swift:{
                      required: 'Please enter your SWIFT.'
                  },
				  iban:{
                      required: 'Please enter your IBAN.'
                  },
				  sortcode:{
                      required: 'Please enter your sort code.'
                  },
				  bankaddress:{
                      required: 'Please enter your bank address.'
                  },
				  bankname:{
                      required: 'Please enter your bank name.'
                  },
				  beneficiaryaddress:{
                      required: 'Please enter your beneficiary address.'
                  },
				  accountname:{
                      required: 'Please enter your beneficiary name.'
                  },
				  accountnumber:{
                      required: 'Please enter your account number.'
                  }
            },
		

            submitHandler: function (form) {
                // logic for making rest of payment methods empty
						if($('#bank').prop('checked') == true){
						$(".pay input, .net input").each(function() {
						  this.value = " ";
						});
						}
						
						if($('#pay').prop('checked') == true){
							$(".bank input, .net input").each(function() {
							  this.value = " ";
							});
						}
						
						if($('#net').prop('checked') == true){
							$(".bank input, .pay input").each(function() {
							  this.value = " ";
						});
						}
                  success2.show();
                  error2.hide();
                  form[0].submit(); // submit the form
              }
        });

        // Set Form focus
        $("form#login .form-group:has(.form-control):first .form-control").focus();

          
   
   
   
  /*
   $("#search_table").dataTable({paging: false,
           searching: false,
           ordering:false,
           info: false,"dom": 'flit'
   });*/
});
</script>

<script type="text/javascript">

$( document ).ready(function() {
    var a= {{options|safe}};
    console.log( "options values are "+a);
    selected = []
    for(i=0;i<a.length;i++){
       if(a[i] == 'Bank Wire Transfer'){
            selected.push('bank');
       }
       if(a[i] == 'PayPal'){
        selected.push('pay');
        }
        if(a[i] == 'Neteller'){
            selected.push('net');
        }
    }
    if(selected.length>0){
        $('#'+ selected[0] +'').attr("checked","checked");
        if(selected.length>1){
            for(i=1;i<=selected.length;i++){
                $('#'+ selected[i] +'-check').hide();
            }
        }
    }
    if(!selected.includes('bank')){
        $('#bank-label').hide();
    }
    if(!selected.includes('pay')){
        $('#pay-label').hide();
    }
    if(!selected.includes('net')){
        $('#net-label').hide();
    }
});

function lettersOnly() 
{
            var charCode = event.keyCode;

            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 8)

                return true;
            else
                return false;
}
  $(document).ready(function(){


    $('#firstname ,#lastname, #cname, #address, #city, #phone, #pincode').keyup(function()
    {
      var yourInput = $(this).val();
      re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
      var isSplChar = re.test(yourInput);
      if(isSplChar)
      {
        var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
        $(this).val(no_spl_char);
      }

    });
    });

    $("#id_zip").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
         // Allow: Ctrl+A, Command+A
        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
         // Allow: home, end, left, right, down, up
        (e.keyCode >= 35 && e.keyCode <= 40)) {
           // let it happen, don't do anything
           return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
      }
    });

</script>
	
</head>
<body class="page-body login-page" style="padding-top: 50px">

	<!-- <header class="top-header-fozil"> -->
	
	
	
	<!-- <!-- <a href="/" class="navbar-brand"><img src="{{partner_obj.logo.url}}" width="230" alt="" /></a> --> -->
	
	<!-- </header> -->
	
	<div class="login-container">
	
		<div class="row">
	
			<div class="middle-login-reg login-box">
	
				
	
				<!-- Errors container -->
				<div class="errors-container">
	
					
				</div>
	
				<!-- Add class "fade-in-effect" for login form effect -->
				<form method="post" role="form" id="affiliateCreateForm" action=" /affiliate/register/" class="all-reg-login login-form fade-in-effect in" autocomplete="off">
	
					<div class="login-header">
						<!-- <a href=" /affiliate/login/" class="logo"> -->
							<!-- <a> -->
              <!-- <img src="{{partner_obj.logo.url}}" width="187" alt="" /> -->
            <!-- </a> -->
			
			{% if partner == 'vCommission UK Partners' %}
                <img src="{{partner_obj.logo.url}}" width="230" alt="" class="vcomm-logo"/>
              {% elif partner == 'Maxi Affiliates' %}
				<img src="{{partner_obj.logo.url}}" width="" alt="" class="maxi-logo" />
				{% elif partner == 'BETNEO LIMITED' %}
				 <img src="/static_files/images/betnio.png" width="" alt="" class="maxi-logo" />
				 {% elif partner == 'Super Win UK' %}
                 <img src="/static_files/images/sw_affiliate_logo.png" width="" alt="" class="maxi-logo" />
                 {% elif partner == 'vstarbet affiliate program' %}
                 <img src="/static_files/images/vstart_bet.png" width="" alt="" class="maxi-logo" />
			  {% else %}
              <img src="/static_files/images/wynta_login_logo.svg" class="login-wynta-logo">
              {% endif %}<br/>
			
							<br/><h2 class="heading-for-logins">Affiliate SIGNUP</h2>
						
						<input type="hidden" name="refid" value="{{refid}}" />
					{%if error_message %}
                    <div class="row" id="error_divID" >
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!--  <h4><span class="fa fa-times" style="margin-top: 12px;font-size: 27px;color:red;"> </span>
                                    <span class="error_form" style="font-weight: bold;"> {{error_message}}</span> </h4>-->
                                    {%if message%}
                                        <div class="alert alert-success-msg">
                                            <center> <span id="error_spanID">{{message}} </span></center>
                                        </div>
                                    {%else%}
                                    <div class="alert alert-danger alert-error-msg">
                                            <center> <span id="error_spanID">{{error_message}} </span></center>
                                    </div>
                                    {%endif%}
                                </div>
                            </div>
						{%endif%}
						
					</div>
					
					<div class="form-group">
                    <input class="form-control form-control-solid placeholder-no-fix"  type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                    </div>
					
					
					
					<fieldset>
					
					
                        {%if 'Account Login Details' in options %}
					<div class="panel-heading1" style="margin-bottom:12px;">
			                <h2><strong>Account Login Details</strong></h2><strong>
			            </strong></div>
                        {%endif%}
					
                        {%if 'First Name' in options %}
							<div class="form-group first">
                <div class="input-group col-sm-12">
                <span class="input-group-addon icons-before-input"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control input-lg  " placeholder="First Name" name="contactname" id="firstname" value="{{contactname}}" autocomplete="off" />
                
              </div>
            </div>
            {%endif%}
							
            {%if 'Last Name' in options %}
							 <div class="form-group first">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control input-lg  " placeholder="Last Name" name="lastname" id="lastname" value="{{lastname}}" autocomplete="off" />
                
              </div>
            </div>
			{%endif%}				
            {%if 'Email Address' in options %}
							 <div class="form-group first">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control input-lg  " placeholder="Email Address" name="email" id="email" value="{{email}}" onfocusout="someFunction()" required=True autocomplete="off" />
                
              </div>
              </div>
              {%endif%} 
			  
			  {%if 'Password' in options %}
			  <div class="form-group first">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-key"></i> </span>
                <input type="password" class="form-control input-lg  " placeholder="Password" name="passwd" id="passwd" value="" maxlength=25 autocomplete="off" />
                
              </div>
            </div>
			{%endif%} 
			{%if 'Confirm Password' in options %}
			<div class="form-group first">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-key"></i> </span>
                <input type="password" class="form-control input-lg  " placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" value="" required=True maxlength=25 autocomplete="off" />
                
              </div>
            </div>
            {%endif%} 
							
				
            {%if 'Account Profile Details' in options %}
					<div class="panel-heading1" style="margin-bottom:12px;">
			                <h2><strong>Account Profile Details</strong></h2>
							
			
						
						</div>
                        {%endif%} 
						
                        {%if 'URL' in options %}
						<div class="optionBox form-group first" id="addDiv">
						  	<div class="input-group col-sm-12">
								<span class="input-group-addon icons-before-input"><i class="fa fa-globe"></i></span>
								<input type="text" class="Add form-control input-lg  " placeholder="URL" name="site_url" id="" autocomplete="off" />
								<a id="btn1" class="add-url"/>
									<i class="fa fa-plus"></i>
								</a>
							</div>
						</div>
						{%endif%} 
						
						
						
						
	
                        {%if 'Company Name' in options %}
					<div class="form-group first col-md-6 col-sm-12">
						  	<div class="input-group col-sm-12">
								<span class="input-group-addon icons-before-input"><i class="fa fa-building-o"></i></span>
								<input type="text" class="form-control input-lg  " placeholder="Company Name" name="companyname" id="cname" required=True value="{{companyname}}" autocomplete="off" />
								
							</div>
						</div>
                        {%endif%} 
                        {%if 'Phone Number' in options %}
                    <div class="form-group first col-md-6 right-space">
						  	<div class="input-group col-sm-12  ">
								<span class="input-group-addon icons-before-input"><i class="fa fa-phone"></i></span>
								<input type="tel" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" id="phone" placeholder="Phone Number" class="form-control input-lg   " required=True name="telephone" value="{{telephone}}" />
               
							</div>
						</div>
                        {%endif%} 
                   
                        {%if 'Address 1' in options %}
                    <div class="form-group first col-md-6 col-sm-12">
						  	<div class="input-group col-sm-12  ">
								<span class="input-group-addon icons-before-input"><i class="fa fa-map-marker"></i></span>
								<input type="text" class="form-control input-lg  " placeholder="Address 1" name="address" id="address" value="{{address}}" required=True autocomplete="off" />
                
							</div>
                        </div>
                        {%endif%} 
                        {%if 'Address 2' in options %}
                    <div class="form-group first col-md-6 right-space">
						  	<div class="input-group col-sm-12  ">
								<span class="input-group-addon icons-before-input"><i class="fa fa-map-marker"></i></span>
								<input type="text" class="form-control input-lg  " placeholder="Address 2" name="address2" id="address2" value="{{address2}}"  autocomplete="off" />
                
							</div>
						</div>
                        {%endif%} 
                        {%if 'City' in options %}
                    <div class="form-group first col-md-6 col-sm-12">
						  	<div class="input-group col-sm-12  ">
								<span class="input-group-addon icons-before-input "><i class="fa fa-globe"></i></span>
								<input type="text" class="form-control input-lg  " placeholder="City" name="city" id="city" value="{{city}}" required=True autocomplete="off" />
                
							</div>
                        </div>
                        {%endif%} 
                        {%if 'State' in options %}
                    <div class="form-group first col-md-6 right-space">
						  	<div class="input-group col-sm-12  ">
								<span class="input-group-addon icons-before-input"><i class="fa fa-location-arrow"></i></span>
								<input type="text" class="form-control input-lg  " placeholder="State" name="state" id="state" value="{{state}}" autocomplete="off" />
                
							</div>
						</div>
                        {%endif%} 
                        {%if 'Postcode' in options %}
                    <div class="form-group first col-md-6 col-sm-12">
						  	<div class="input-group col-sm-12  ">
								<span class="input-group-addon icons-before-input"><i class="fa fa-location-arrow"></i></span>
								<input type="text"  class="form-control input-lg  " placeholder="Postcode" name="pincode" id="pincode" value="{{pincode}}" autocomplete="off" />
                
							</div>
                        </div>
                        {%endif%} 
                        {%if 'Country' in options %}
                    <div class="form-group first col-md-6 right-space">
						  	<div class="input-group col-sm-12  ">
								<span class="input-group-addon icons-before-input"><i class="fa fa-globe"></i></span>

                                                <select name="countryname" class="form-control country-name input-lg mobile-iphone">
                                                {%for i in country_list%}
                                                    {% if i.countryname == "United Kingdom" %}
                                                    <option value="{{i.id}}" selected="selected">{{i.countryname}}</option>
                                                    {%else%}
                                                    <option value="{{i.id}}">{{i.countryname}}</option>
                                                    {% endif %}
                                                    
                                                {%endfor%}
                                            </select>
											
											<label id="" class="error" for="state1" style="display:none; visibility:hidden;">Please enter your state.</label>
                </span>
								
							</div>
                        </div>
                        {%endif%} 
                   
                        {%if 'DOB' in options %}
                    <div class="form-group first col-md-6 col-sm-12" style="clear:both;">
						  	<div class="input-group col-sm-12">
								<span class="input-group-addon icons-before-input"><i class="fa fa-calendar"></i></span>
								<input type="text" class="form-control input-lg  " placeholder="DOB" name="dateofbirth" id="datepicker" value="01-01-1980" autocomplete="off" />
                
							</div>
						</div>
                        {%endif%} 
                        {%if 'Skype Id' in options %}
            <div class="form-group first col-md-6 right-space">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-skype"></i></span>
                <input type="text" class="form-control input-lg  " placeholder="Skype ID" name="skype" id="skype" value="{{skype}}" autocomplete="off" />
                
              </div>
            </div>
            {%endif%} 
						<div class="clear" style="clear:both;"></div>

                        {%if 'Payment Details' in options %}
            <div class="panel-heading1">
                      <h2><strong>Payment Details</strong></h2><strong>
                  </strong></div>
                  {%endif%} 
                    
					
					<div class="paymentOptions">
			<div class="pb-2" style="padding-bottom:10px;">
			<p>Please choose and enter details for any ONE of the following methods. Note: If you enter details for multiple methods, the details for the method you enter last before submitting this form will be the only ones recorded in the program.</p>
            </div>
					<label class="checkbox-inline text-color" id="bank-label">
					  <input type="radio" id="bank" name="bank" class="payment checkboxD" value="" >
					<span class="label-text">Bank Wire Transfer</span>
                    </label>
                    <label class="checkbox-inline text-color" id="pay-label">
                        <input type="radio" id="pay" class="payment checkboxD" value=""  >
                      <span class="label-text">Paypal</span>
                      </label>
                      <label class="checkbox-inline text-color" id="net-label">
                        <input type="radio" id="net" class="payment checkboxD" value="" >
                        {% if partner != 'Maxi Affiliates'%}
                      <span class="label-text">Neteller</span>
                      {%endif%}
                      </label>
            
			</div>
			<div class="">
			<div class="paysDiv">
				 
				 <span class="bank check" id="bank-check">
                    {%if 'Account Number' in options %}
          <div class="form-group first col-md-6 col-sm-12">
                <div class="input-group col-sm-12">
                <span class="input-group-addon icons-before-input"><i class="fa fa-building-o"></i></span>
                <input type="tel" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control input-lg bankPayment" placeholder="Account Number" name="accountnumber" id="accountnumber" required=True value="{{accountnumber}}" autocomplete="off" />
                
              </div>
            </div>
            {%endif%} 
          
            {%if 'Beneficiary Name' in options %}
                    <div class="form-group first col-md-6 right-space">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-user"></i></span>
                <input type="text" id="accountname" placeholder="Beneficiary Name" class="form-control input-lg bankPayment" required=True name="accountname" value="{{accountname}}" maxlength="50" />
               
              </div>
            </div>
            {%endif%}       
                   
            {%if 'Beneficiary Address' in options %}
                    <div class="form-group first col-md-6 col-sm-12">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-map-marker"></i></span>
                <input type="text" class="form-control input-lg bankPayment" placeholder="Beneficiary Address" name="beneficiaryaddress" id="beneficiaryaddress" value="{{beneficiaryaddress}}" required=True autocomplete="off" />
                
              </div>
            </div>
            {%endif%} 
            {%if 'Bank Name' in options %}    
                    <div class="form-group first col-md-6 right-space">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-map-marker"></i></span>
                <input type="text" class="form-control input-lg bankPayment" placeholder="Bank Name" name="bankname" id="bankname" value="{{bankname}}" required=True autocomplete="off" />
                
              </div>
            </div>
            {%endif%}     
            {%if 'Bank Address' in options %} 
                    <div class="form-group first col-md-6 col-sm-12">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input "><i class="fa fa-globe"></i></span>
                <input type="text" class="form-control input-lg bankPayment" placeholder="Bank Address" name="bankaddress" id="bankaddress" value="{{bankaddress}}" required=True autocomplete="off" />
                
              </div>
            </div>
            {%endif%} 
            {%if 'Sort Code' in options %}
                    <div class="form-group first col-md-6 right-space">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-location-arrow"></i></span>
                <input type="text" class="form-control input-lg bankPayment" placeholder="Sort Code" name="sortcode" id="sortcode" value="{{sortcode}}" autocomplete="off" />
                
              </div>
            </div>
            {%endif%}     
            {%if 'IBAN' in options %}
                    <div class="form-group first col-md-6 col-sm-12">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-location-arrow"></i></span>
                <input type="text" class="form-control input-lg bankPayment" placeholder="IBAN" name="iban" id="iban" value="{{iban}}" autocomplete="off" />
                
              </div>
            </div>
            {%endif%} 
            {%if 'SWIFT' in options %}
                    <div class="form-group first col-md-6 right-space">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-globe"></i></span>

                                      
               
                <input type="text" class="form-control input-lg bankPayment" placeholder="SWIFT" name="swift" id="swift" value="{{swift}}" autocomplete="off" />
                
              </div>
            </div>
            {%endif%} 
                   
                  
						
						</span>
						
						<div class="clear" style="clear:both;"></div>
						
						
						<span class="pay check" id="pay-check">
						
						<!-- <div class="panel-heading1" style="margin-bottom:12px;"> -->
			                <!-- <h2><strong>Paypal Details</strong></h2><strong> -->
			            <!-- </strong></div> -->
					
					
                        {%if 'Beneficiary Name P' in options %}
							<div class="form-group first col-md-6 col-sm-12">
                <div class="input-group col-sm-12">
                <span class="input-group-addon icons-before-input"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control input-lg payPayment" placeholder="Beneficiary Name" name="paypal_username" id="paypal_username" value="" autocomplete="off" />
                
              </div>
            </div>
			{%endif%} 				
            {%if 'Email Address P' in options %}
							 <div class="form-group first col-md-6 col-sm-12">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control input-lg payPayment" placeholder="Email Address" name="paypal_email" id="paypal_email" value="" autocomplete="off" />
                
              </div>
            </div>
			{%endif%} 
			</span>
			
			<div class="clear" style="clear:both;"></div>
						
						
						<span class="net check" id="net-check">
						
						<!-- <div class="panel-heading1" style="margin-bottom:12px;"> -->
			                <!-- <h2><strong>Neteller Details</strong></h2><strong> -->
			            <!-- </strong></div> -->
					
					
                        {%if 'Beneficiary Name N' in options %}
							<div class="form-group first col-md-6 col-sm-12">
                <div class="input-group col-sm-12">
                <span class="input-group-addon icons-before-input"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control input-lg netPayment" placeholder="Beneficiary Name" name="neteller_username" id="neteller_username" value="" autocomplete="off" />
                
              </div>
            </div>
			{%endif%} 				
            {%if 'Email Address N' in options %}
							 <div class="form-group first col-md-6 col-sm-12">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control input-lg netPayment" placeholder="Email Address" name="neteller_email" id="neteller_email" value="" autocomplete="off" />
                
              </div>
            </div>
			{%endif%} 
			{%if 'Account Number N' in options %}
			<div class="form-group first col-md-6 col-sm-12">
                <div class="input-group col-sm-12  ">
                <span class="input-group-addon icons-before-input"><i class="fa fa-user"></i></span>
                <input type="number" class="form-control input-lg netPayment"  placeholder="Account Number" name="neteller_accountnumber" id="neteller_accountnumber" value="" autocomplete="off" />
                
              </div>
            </div>
			{%endif%} 
			</span>
			
			</div> <!-- row paydiv -->
			
			</div> <!-- Container -->
			
			<div class="clear" style="clear:both;"></div>
						
						<div class="">
                            {%if 'Contact' in options %}
							 <div class="">
          <label class="label" style="    color: #333;
    font-size: 16px;
    padding-left: 0;
    margin-bottom: 14px;
    display: block;
    text-align: left;">Choose your preferred mode of contact *</label>
        </div>
        {%endif%} 
        <div class="" style="margin-top:-5px;">
            {%if 'Email' in options %}
            <input name="emailupdates" id="emailupdates1" value="Yes" type="checkbox" style=""/>
            <span style="width: 61px;display: inline-block; color:#000;vertical-align: text-bottom;">Email </span> &nbsp;&nbsp;
            {%endif%} 
            {%if 'Phone' in options %}
            <input name="modeofcontactphone" value="Yes" type="checkbox" />
            <span style="width: 61px;display: inline-block; color:#000;vertical-align: text-bottom;">Phone </span>&nbsp;&nbsp;
            {%endif%} 
            {%if 'IM' in options %}
            <input name="modeofcontactim" value="Yes" type="checkbox" />
            <span style="width: 61px;display: inline-block; color:#000;vertical-align: text-bottom;">IM </span>
            {%endif%} 
        </div>
						
						
						
						<div class="" style="padding-left:20px;">
							<span class="checkbox">
        <input name="emailupdates" id="emailupdates" value="Yes" type="checkbox" style="vertical-align: sub;"/>
        <span style="color:#000;">Subscribe to email updates from {{partner}}</span></span>
						</div>
						
						<div class="" style="padding-left:20px;">
							 <span class="checkbox">
        <input name="terms" id="terms" type="checkbox" style="vertical-align: sub;">
       
		<span style="color:#000;">I have Read, Understood &amp; Agree to all Publisher 
		
		{% if 'vcommission' in partner|lower %}
		<a href="https://www.vcommission.co.uk/terms-and-conditions/" target='_blank' style="color: #2585c7 !important;
    text-decoration: underline;">Terms &amp; Conditions</a>
	
	{% elif 'maxi affiliates' in partner|lower %}
		<a href="https://maxiaffiliates.com/terms-and-conditions/" target='_blank' style="color: #2585c7 !important;
    text-decoration: underline;">Terms &amp; Conditions</a>
		
		{% else %}
		Terms &amp; Conditions
		{% endif %}
		</span></span>
						</div>
						
						</div>
                  
			
					<div class="form-group">
                        <button type="submit" id="signupsubmit" class="login-register-btn login-register-btn btn btn-dark  btn-block text-left" style="margin-top: 20px;
    text-align: center;
    width: 100%;
    position: relative; border:none;
	    background: #0091e0 !important;
    color: #fff !important;
    border-radius: 0px !important;
    border: none;
    height: 55px; font-weight:normal;">Submit
                        </button>
						
						<p class="text-center" style=" 
    padding-top: 15px;
    text-align:center;">Already have an account? Then <a href="/affiliate/login/" style="color:#2585c7 !important;text-decoration:underline;">Login</a> to it!</p>
						
                    </div>
				
                   
						
						
	
						
						
										
						
						
							
					</fieldset>

	
				</form>
				
	
				<!-- External login -->
				<!-- <div class="external-login">
					<a href="#" class="facebook">
						<i class="fa-facebook"></i>
						Facebook Login
					</a>
	
					
					<a href="<?php _hash(); ?>" class="twitter">
						<i class="fa-twitter"></i>
						Login with Twitter
					</a>
	
					<a href="<?php _hash(); ?>" class="gplus">
						<i class="fa-google-plus"></i>
						Login with Google Plus
					</a>
					
				</div> -->
	
			</div>
	
		</div>
	
	</div>



	<!-- Bottom Scripts -->
    <script src="/static_files/assets/js/bootstrap.min.js"></script>
    <script src="/static_files/assets/js/TweenMax.min.js"></script>
    <script src="/static_files/assets/js/resizeable.js"></script>
    <script src="/static_files/assets/js/joinable.js"></script>
    <script src="/static_files/assets/js/xenon-api.js"></script>
    <script src="/static_files/assets/js/xenon-toggles.js"></script>
    <script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="/static_files/assets/js/toastr/toastr.min.js"></script>
    <script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>


    <!-- JavaScripts initializations and stuff -->
    <script src="/static_files/assets/js/xenon-custom.js"></script>
	
	

<footer class="">

<div class="container-fluid">

<div class="privacy-over-div">

<div class="row">

<!-- <div class="pull-left"> -->

	<!-- <div class="footer-left-links"> -->
	
		<!-- <ul> -->
			<!-- <li><a href="">Customer Support</a></li> -->
			<!-- <li><a href="">Terms of Use</a></li> -->
			<!-- <li><a href="">Trust & Status</a></li> -->
			<!-- <li><a href="">Privacy</a></li> -->
			<!-- <li><a href="">Patent & Other IP</a></li> -->
		<!-- </ul> -->
	
	<!-- </div> -->

<!-- </div> -->

<div class="text-center ipad-bottom">

<div class="footer-text">
	© 2019 {{partner}}, Powered by Wynta
</div>

</div><br/>

</div> <!-- Row Div -->
					
</div>

</div>

</footer>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <script src="//code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script>
  $( function() {
    $( "#datepicker" ).datepicker({changeYear: true,changeMonth:true,yearRange: "-100:+0", maxDate: "-18y",dateFormat: "dd-mm-yy",
	defaultDate: '01-01-1980'});
  } );
  </script>
  
  <script>
  
$("#btn1").click(function(){
    var additem = $(".Add").val();
	if(additem == ""){return;}
	var d = additem.split(",");
	for(i=0;i<d.length;i++){
		var siteUrl = d[i].replace(/ /g, "");
		var  x = '<div class="form-group first ">'+
					'<div class="input-group col-sm-12">'+
				'<input type="text" name="site_url" value="'+siteUrl+'" class="siteText form-control input-lg" placeholder="" autocomplete="off" readonly /> <i class="fa fa-close closeMark"></i>'+
						'</div>'+
						'</div>';
		$(x).insertBefore($('#addDiv'));
	}
	$(".Add").val("");
	
	$('.closeMark').on('click',function() {
		$(this).closest('.form-group').remove();
	});

});

</script>

<script>
							
							$('.payment').change(function() {
							  $('.payment').not(this).prop('checked', false);
							});
							
							$(function() {
          var $divs = $('.paysDiv > .check');
          $divs.first().show()
          $('input[type=radio]').on('change',function() {
                  $divs.hide();
                  $divs.eq( $('input[type=radio]').index( this ) ).show();
           });
});
							
							function checkFormEdit(){
		return $('#affForm').serialize() !== origForm;
	}
	
	$.validator.methods.email = function( value, element ) {
  return this.optional( element ) || /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test( value );
}


// Validation and Ajax action
        $('#affForm').validate({
		ignore: ":not(:visible)",
             rules: {
				  accountnumber:{
	                  require_from_group:[1, ".payment-method"]
	              },
				  paypal_username:{
	                  require_from_group: [1, ".payment-method"]
	              },
				  neteller_username:{
	                  require_from_group: [1, ".payment-method"]
	              },
	
            },
            messages: {
               accountnumber:{
                          require_from_group: 'Please enter one of the payment details.'
                      },
                  paypal_username:{
                              require_from_group: 'Please enter one of the payment details.'
                          },
                  neteller_username:{
                              require_from_group: 'Please enter one of the payment details.'
                          },
		
            },
			
			submitHandler: function (form) { 
			
			
                  if(checkFormEdit()){
				  $('.button-web-get').prop('disabled', true);
					form2.submit();
					
				  }
				  else{
					$('.button-web-get').prop('disabled', false);
					}
				   // submit the form
                  
              }

        
              });
			  
			  </script>
 

</body>
</html>