<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    
    <title>Wynta Dashboard</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon"><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
  

    <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style-full-preview.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />
  
    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
  
  
 
  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<style>

body {font-family: 'Poppins', sans-serif !important;}

.egcs_submit_button {float: right;
    margin-top: -53px;}
  .date-range-class {margin-right:100px; float:right !important;     margin-top: -53px !important;}
  .view-edit{
    color: #fff;
    background: #0091e0;
    border: 1px solid #0091e0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
    box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 14px;
  }
  .table-margin-none {margin-top:0px;}
  #brand_data {width: 100%;}
  .width-small {width:18%;}
  .width-big {width:85%;}
  .card {-webkit-box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
    box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);}
  .no-card {  box-shadow: none;
    box-shadow: none;  
	background: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0; padding-left:0; padding-right:0;}
	#daterange {background:none;}
	.font-small > span {font-size: 16px;
    padding-bottom: 8px;
    border-bottom: 2px solid #0091e0;
    font-weight: bold;
    letter-spacing: 0.9px;
    margin-bottom: 20px;
    display: inline-block;}
	.footer {left:0px !important;}
	
	@media (max-width: 768px) {
	
	.tile_stats_count {border-bottom:none;}
	.flex-width {flex: 100%;}
		.width-small, .width-big {width:100%; max-width:100%;    padding-right: 0;
    margin: 0 auto;}
	
	.hash-text {padding-top:0px;}
	.dataTables_wrapper {padding-right:0px !important;}
	}

	.height-line {    max-height: 230px;}
	
.flex-width {    max-width: 20%;
    flex: 20%;}
	
		@media screen and (max-width: 600px) and (min-width: 320px) {
		.flex-width { max-width: 100%;flex: 100%;}
	}
	
		@media screen and (max-width: 800px) and (min-width: 601px) {
		.flex-width { flex: 0 0 25%;
    max-width: 25%;}
	}
	
</style>
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
    </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
  
        <!-- header header  -->
        {% include "wynta/new_design/header-1.html" %}
        <!-- End header header -->

    
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
				<div class="card no-card">
	  <form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form">

		<h3 class="dashboard text-bold">Dashboard <i class="fa fa-home home-small"></i> <span>Home</span></h3>
	  <div class="pull-right date-range-class" id="daterange" style="">
              &nbsp; 
              <span>{{from_date}} - {{to_date}}</span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> 
             </div> 
			 <input type="submit" value="Submit" class="btn  btn-success egcs_submit_button">
                 
	  </div>
      <div class="card">
	  
      <div class="row">
      <div class="col-lg-12">
      <div class="card-title">
                                <h4>AFFILIATE PROGRAMS</h4>
								
								<h5 class="font-small"><span>Overview</span></h5>
                           </div>
          </div>

          </div>
        <div class="row tile_count">
		
		<div class="row container width-small">
		
			<div class="col-lg-12">
				<h3 class="hash-text"><span class="span-hash">{{total_aff_progs}}</span></span>
				<h3 class="hash-text hash-progs">Total Programs</h3>
			</div>
			
		</div>
         
		 <div class="row width-big">
		 
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-info shadow-text">
      <div class="count">{{leads}}</div>
              <span class="count_top">Leads</span> 
        
       </div>

            </div>
      
      
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 rounded text-center text-white bg-orange shadow-text">
      <div class="count">{{trial_progs}}</div>
              <span class="count_top">Trial Period</span> 
        </div>
            </div>
      
      
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-warning shadow-text">
      <div class="count" id="revenued">{{ext_trial_progs}}</div>
              <span class="count_top">Extended Trial</span> 
        </div>
            </div>
      
      
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-success shadow-text">
      <div class="count" id="earningsd">{{ext_trial_progs}}</div>
              <span class="count_top">Timed Out</span> 
        </div>
            </div>
			
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-primary shadow-text">
      <div class="count">{{live_accounts}}</div>
              <span class="count_top">Live</span> 
        
       </div>

            </div>
      
      
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-danger shadow-text">
      <div class="count">{{closed_progs}}</div>
              <span class="count_top">Closed</span> 
        </div>
       
            </div>
			
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-danger shadow-text">
      <div class="count">{{networks_count}}</div>
              <span class="count_top">Networks</span> 
        
			  </div>
            </div>
			
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-primary shadow-text">
      <div class="count">{{sites_count}}</div>
              <span class="count_top">Brands</span>
             
			  </div>
            </div>
			
			
			 <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-success shadow-text">
      <div class="count">{{affiliates_count}}</div>
              <span class="count_top">Affiliates</span>
             
			  </div>
            </div>
			
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-info shadow-text">
      <div class="count">{{lt_ftd}}</div>
              <span class="count_top">FTD</span>
              
			  </div>
            </div>
			
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 rounded text-center text-white bg-orange shadow-text">
       <div class="count">{{revenue}}</div>
              <span class="count_top">Revenue</span>
              
			  </div>
            </div>
			
			
      
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-warning shadow-text">
       <div class="count">{{lt_earnings}}</div>
              <span class="count_top">Commissions</span>
       
			  </div>
            </div>
      </div>
      
          </div> <!-- First Row -->
        </div>
   

 

       

<input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />

                <div class="card">
      
      <!-- <div class="card-title"> -->
                                <!-- <h4>Our Brands</h4> -->
                              <!-- </div> -->
        <div id="statsc" class="main-charts-fozil height-line table-responsive">
                                        <table class="table table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="program_data" style=""></table>
                            
                                    </div>
           
      
      </div> <!-- Second div card -->
      
      
      <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
            
                <div class="portlet-body form">
                                        
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>

                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
      
      


	  <div class="card">
	  
      <div class="row">
      <div class="col-lg-12">
      <div class="card-title">
                                <h4>AFFILIATES</h4>
								<h5 class="font-small"><span>Overview</span></h5>
                               </div>
          </div>

          </div>
        <div class="row tile_count">
		
		<div class="row container width-small">
		
			<div class="col-lg-12">
				<h3 class="hash-text"><span class="span-hash">{{affiliates_count}}</span></span>
				<h3 class="hash-text hash-progs">Total Affiliates</h3>
			</div>
			
		</div>
         
		 <div class="row width-big">
		 
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count flex-width">
			<div class="p-20 bg-white rounded text-center bg-info shadow-text">
      <div class="count">{{affiliate_status.0}}</div>
              <span class="count_top">Pending</span> 
        
       </div>

            </div>
      
      
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count flex-width">
			<div class="p-20 rounded text-center text-white bg-orange shadow-text">
      <div class="count">{{affiliate_status.1}}</div>
              <span class="count_top">Approved</span> 
        </div>
            </div>
      
      
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count flex-width">
			<div class="p-20 bg-white rounded text-center bg-warning shadow-text">
      <div class="count" id="revenued">{{affiliate_status.2}}</div>
              <span class="count_top">Rejected</span> 
        </div>
            </div>
      
      
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count flex-width">
			<div class="p-20 bg-white rounded text-center bg-success shadow-text">
      <div class="count" id="earningsd">{{active_affiliates}}</div>
              <span class="count_top">Active</span> 
        </div>
            </div>
			
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count flex-width">
			<div class="p-20 bg-white rounded text-center bg-primary shadow-text">
      <div class="count">{{active_affiliates}}</div>
              <span class="count_top">Super-affiliates</span> 
        
       </div>

            </div>
      
      
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count flex-width">
			<div class="p-20 bg-white rounded text-center bg-danger shadow-text">
      <div class="count">{{lt_registrations}}</div>
              <span class="count_top">Registrations</span> 
        </div>
       
            </div>
			
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count flex-width">
			<div class="p-20 bg-white rounded text-center bg-danger shadow-text">
      <div class="count">{{lt_ftd}}</div>
              <span class="count_top">FTD</span> 
        
			  </div>
            </div>
			
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count flex-width">
			<div class="p-20 bg-white rounded text-center bg-primary shadow-text">
      <div class="count">{{avtive_players}}</div>
              <span class="count_top">Active Players</span>
             
			  </div>
            </div>
			
			
			 <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count flex-width">
			<div class="p-20 bg-white rounded text-center bg-success shadow-text">
      <div class="count">{{revenue}}</div>
              <span class="count_top">Revenue</span>
             
			  </div>
            </div>
			
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count flex-width">
			<div class="p-20 bg-white rounded text-center bg-info shadow-text">
      <div class="count">{{lt_earnings}}</div>
              <span class="count_top">Commissions</span>
              
			  </div>
            </div>
			
			
      </div>
      
          </div> <!-- First Row -->
        </div>

	  
      
        

                <div class="card">
      
      <div class="card-title">
                                <h4>Top 5 Affiliates</h4>
                            </div>
        <div id="statsc" class="main-charts-fozil height-display table-responsive" style=" width:100%;">
                                        <table class="table table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width:100%;"></table>
                            
                                    </div>
              
      
      </div> <!-- Fourth div card -->
      
      
       
	   
	    <div class="card">
	  
      <div class="row">
      <div class="col-lg-12">
      <div class="card-title">
                                <h4>MISCELLANEOUS</h4>
								
								<h5 class="font-small"><span>Manual Uploads</span></h5>
                           </div>
          </div>

          </div>
        <div class="row tile_count">
		
		<div class="row container width-small">
		
			<div class="col-lg-12">
				<h3 class="hash-text" style="padding-top:5px;"><span class="span-hash">{{marketing_materials}}</span></span>
				<h3 class="hash-text hash-progs" style="padding-top:0px;">Uploaded Material</h3>
			</div>
			
		</div>
         
		 <div class="row width-big">
		 
      
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-warning shadow-text">
      <div class="count" id="revenued">{{lp_count}}</div>
              <span class="count_top">Landing Pages</span> 
        </div>
            </div>
      
      
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-success shadow-text">
      <div class="count" id="earningsd">{{banners_count}}</div>
              <span class="count_top">Banners</span> 
        </div>
            </div>
			
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-primary shadow-text">
      <div class="count">{{ss_count}}</div>
              <span class="count_top">Screenshots</span> 
        
       </div>

            </div>
      
      
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-danger shadow-text">
      <div class="count">{{pp_count}}</div>
              <span class="count_top">Page Peels</span> 
        </div>
       
            </div>
			
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-danger shadow-text">
      <div class="count">{{video_count}}</div>
              <span class="count_top">Videos</span> 
        
			  </div>
            </div>
			
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 tile_stats_count">
			<div class="p-20 bg-white rounded text-center bg-primary shadow-text">
      <div class="count">{{files_processed}}</div>
              <span class="count_top">Stats Files</span>
             
			  </div>
            </div>
			
			
			
            
      </div>
      
          </div> <!-- First Row -->
        </div>
      
	  
	  <div class="card">
      
      <!-- <div class="card-title"> -->
                                <!-- <h4>Top 5 Affiliates</h4> -->
                            <!-- </div> -->
        <div id="statsc" class="main-charts-fozil height-display table-responsive">
                                        <table class="table table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="brand_data" style=""></table>
                            
                                    </div>
              
      
      </div> <!-- Fourth div card -->
      
               
</form>

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
       {% include "wynta/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
  

<!-- Charts Ends -->

<script type="text/javascript">
  function addPlayerslistDataTable(ids, headersList, dataList){
    $('#'+ids+':has(tbody)').dataTable().fnDestroy();
    $("#"+ids).dataTable( {"iDisplayLength": 30,
       "data": dataList,
       "columns":headersList,
       // "scrollX": true,
       "ordering": false,
       paging: false,
       searching: false,
       info: false,
       "scrollX":false,
       "pageLength": 10,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
          });
   
    
}

function barchartdiv(){
    var dates_list = {{bar_dates_list|safe}} ;
    var barchart_data = {{barchart|safe}} ;
    $('#barcontainer').highcharts({
    chart: {
        type: 'column',
        spacingTop: 10,
        spacingBottom: 15,
        spacingLeft: 20,
        spacingRight: 30
    },
    title: {
        text: ''
    },
 xAxis: {
        categories: {{bar_dates_list|safe}},
        crosshair: false
    },
    yAxis: {
        min: 0,
        
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: {{barchart|safe}}
});
}
  function circlecharts(){
    var device_data = {{affiliate_status|safe}};
    $('#devicecircle').highcharts({
            chart: {
                renderTo: 'container',
                type: 'pie'
            },
            title: {
                text: ''
            },
            yAxis: {
                title: {
                    text: 'Affiliates Status.'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    size: '100%'
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.y +'';
                }
            },
            series: [{
                name: 'Status',
                data: [
                        {name:"Pending",y:device_data[0], color: '#000000'},
                        {name:"Approved",y:device_data[1], color: '#0090df'},
                        {name:"Rejected",y:device_data[2], color: '#999999'},
                    ],
                size: '100%',
                innerSize: '70%',
                showInLegend:true,
                dataLabels: {
                    enabled: false
                }
            }]
        } );
    
    
}


jQuery(document).ready(function() {
    circlecharts();
    barchartdiv();

    Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   Index.init();
   egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}');
   Index.initJQVMAP(); // init index page's custom scripts

   Index.initMiniCharts();
   var c = {{pending_affiliates|safe}};
   egcsTools.initNavigation();
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var data_b_list = {{data_b_list|safe}};
   var header_b_list = {{header_b_list|safe}};
   var data_c_list = {{data_c_list|safe}};
   var header_c_list = {{header_c_list|safe}};
   var domain = '{{domain|safe}}'
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
       $('.digg_pagination').html(decoded);
  
    addPlayerslistDataTable('brand_data', header_b_list, data_b_list);
   addPlayerslistDataTable('player_data', header_list, data_list);
   addPlayerslistDataTable('program_data', header_c_list, data_c_list);
  });

</script>

<!-- Date Pickers -->




<script type="text/javascript">
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
        maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>


</body>

</html>