<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Xenon Boostrap Admin Panel" />
    <meta name="author" content="" />

    <title>{{partner}} - Affiliate Report</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-core-partner.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
    <link rel="stylesheet" href="/static_files/assets/css/custom.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
    <link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
    <link href="/static_files/assets/jquery-daterange-picker.css" rel="stylesheet" type="text/css"/>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    
    <!-- <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.3/js/dataTables.fixedHeader.min.js"></script> -->
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

 <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>

<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.32/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script> 
<script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<style type="text/css">

.submit-allmobile {
float: right;
    position: relative;
    left: 285px;
    margin-top: 0px;
	}
	
	.add_tracker {
     margin-top: 0px;
    margin-right: 0px !important;
	margin-top: 0px !important;
    position: relative !important;
    top: 0px !important;
}

.date-right-mobile-none {
    margin-right: 193px;
}

.drop-menu-icon {
    float: right;
    padding-right: 0px !important;
    padding-top: 0px !important;
}

.btn-export-all {
    padding: 4px 15px !important;
    font-size: 12px;
    line-height: 1.9 !important;
    border-radius: 0; margin-bottom:15px;
}

.add_tracker { 
    }

.dt-buttons {display:none; }

footer.main-footer {}

.uppercase {left:-14px !important;}
    .calender-adjust { padding-right: 20px;}

    .drop-icon-dash1 {
    position: absolute;
    z-index: 999;
    left: 285px;
    font-size: 15px;
    top: 6px;
    color: #19b8f8;
}

.daterangepicker {
    right: 277px !important;
}

    .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th {
    text-align: center;
    }

    .page-container .main-content {
        word-break: initial;
    }
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
    div.container {
        width: 80%;
    }
    
    .daterangepicker {}
    .applyBtn, .cancelBtn {padding: 5px 17px;}
    .dropdown-menu.daterangepicker .ranges ul li {padding:8px !important;}
    
    #cover{ position:fixed; top:0; left:0; background:rgba(0,0,0,0.3); z-index:5; width:100%; height:100%; display:none; } 
    .aadhar-back {   
    display: none;
    width: 420px;
    background: #ffffff;
    height: 155px;
    position: fixed;
    top: 50%;
    z-index: 999;
    left: 42%;
    transition: 2s ease;
    -moz-transition: 2s ease;
    -webkit-transition: 2s ease;
    -o-transition: 2s ease;}
    #player_data tr th {
        width:78px !important;
    }
    .dataTables_wrapper table.dataTable thead>tr>th {
    padding-left: 20px;
    padding-right: 40px;
}
#daterange-picker-container {
display: block;
    position: absolute;
    z-index: 999;
    float: left;
    right: 15px;
    background: #f7f7f7; border:1px solid #ccc;
    margin: 1px; top:33px;
    padding: 10px;

}

#daterange {cursor:pointer;}
#daterange:hover {background:#f6f6f6;}

.ui-datepicker-inline {border:none; margin-top:10px;}

#drp-select-daterange {margin-left:12px;}

#daterange {width:245px; text-align:center; float:right;}
#drp-input-startdate, #drp-input-enddate, #drp-select-daterange {width:20%; display:inline-block; background:#fff;}
    .aa-text-sec {text-align:center; margin-top:10px; font-size:14px; color: black;}
 .drop-menu-icon1 {position: absolute;
    right: 28px;
    top: 6px;}
   
    .aadhar-back ul li {    display: inline-block;
    padding: 10px;
    width: 140px; border:none; margin-top:15px; magin-bottom:15px; height:auto !important;}
    
    .daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {float:none;}
    .panel {margin-top:0px !important;}
    #player_data_length {display:none;}
    .adjust-top-bottom-dash {    margin-bottom: -10px;
    margin-top: -7px;}
    
    .all-submit-button {
    float: right;
    margin-top: -21px;
    margin-right: -100px;
}

.submit-button-sites {
    background: #19b8f8;
    padding: 6px;
    width: 110px;
    text-align: center;
    color: #fff;
    display: block;
}


footer.main-footer {}

.uppercase {left:-14px !important;}
    .calender-adjust { padding-right: 20px;}

    .drop-icon-dash1 {
    position: absolute;
    z-index: 999;
    left: 285px;
    font-size: 15px;
    top: 6px;
    color: #19b8f8;
}

.daterangepicker {
    right: 277px !important;
}

    .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th {
    text-align: center;
    }

    .page-container .main-content {
        word-break: initial;
    }
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
    div.container {
        width: 80%;
    }
    
    .daterangepicker {}
    .applyBtn, .cancelBtn {padding: 5px 17px;}
    .dropdown-menu.daterangepicker .ranges ul li {padding:8px !important;}
    
    #cover{ position:fixed; top:0; left:0; background:rgba(0,0,0,0.3); z-index:5; width:100%; height:100%; display:none; } 
    .daterangepicker {
    right: 277px !important;
}

    .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th {
    text-align: center;
    }

    .page-container .main-content {
        word-break: initial;
    }
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
    div.container {
        width: 80%;
    }
    
    #daterange-picker-container {
display: block;
    position: absolute;
    z-index: 999;
    float: left;
    right: 15px;
    background: #f7f7f7; border:1px solid #ccc;
    margin: 1px; top:33px;
    padding: 10px;

}

#daterange {cursor:pointer;}
#daterange:hover {background:#f6f6f6;}

.ui-datepicker-inline {border:none; margin-top:10px;}

#drp-select-daterange {margin-left:12px;}

#daterange {width:245px; text-align:center; float:right;}
#drp-input-startdate, #drp-input-enddate, #drp-select-daterange {width:20%; display:inline-block; background:#fff;}
.drop-menu-icon1 {position: absolute;
    right: 28px;
    top: 6px;}

.left-side-section-fixed {background: #fff;
    right: 17px;
    padding: 12px;
    
    height: 100%; position:fixed;
    overflow: hidden;
    top: 81px;
    width: 24%;}
  
.right-panel-heading {font-size: 16px;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding-bottom: 13px;
    margin-top: 3px;}
 
 div.dataTables_wrapper {margin-top:0px !important;}

 .slick-slider {padding-bottom:19px;}
 .slick-prev, .slick-next {top:32%;}
 .media-body {
    position: relative;
    left: -10px;
    width: 220px;
    /* text-align: left; */
    vertical-align: middle;
}
.slick-slide img {
    display: block;
    width: 110px !important;
    border-right: 1px solid #ccc;
    padding-right: 23px;
}
.media-body {padding-left:20px !important;}
.media:first-child {margin-top:0px !important;}

.submit-allmobile {  
    float: right;
}
  
  .all-four {margin-top:-35px;}
  
  
    .dropdown-menu.daterangepicker table>thead>tr>th, .dropdown-menu.daterangepicker table>thead>tr>td {border:none !important;}
  .dropdown-menu.daterangepicker .ranges ul li {
    background: #fff;
    border-color: #e4e4e4;
    color: #979898;
    padding: 6px 8px !important;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
}
.fa-chevron-left:before {
    content: "\f053" !important;
}

.fa-chevron-right:before {
    content: "\f054" !important;
}

.fa-calendar:before {
    content: "\f073" !important;
}

.daterangepicker {right:138px !important;}

/*.in-range {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff
}*/
.daterangepicker td.in-range {
    background-color: #357ebd !important;
    border-color: transparent;
    color: #fff !important;
    border-radius: 0;
}
</style>
<body class="page-body">



    <div class="settings-pane">
            
        <a href="#" data-toggle="settings-pane" data-animate="true">
            &times;
        </a>
        
        <div class="settings-pane-inner">
            
            <div class="row">
                
                <div class="col-md-4">
                    
                    <div class="user-info">
                        
                        <div class="user-image">
                            <a href="extra-profile.html">
                                <img src="/static_files/assets/images/user-2.png" class="img-responsive img-circle" />
                            </a>
                        </div>
                        
                        <div class="user-details">
                            
                            <h3>
                                <a href="extra-profile.html">{{request.user.username}}</a>
                                
                                <!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
                                <span class="user-status is-online"></span>
                            </h3>
                            
                            <!-- <p class="user-title">Web Developer</p> -->
                            
                            <div class="user-links">
                                <a href="/affiliate/edit-profile/" class="btn btn-primary">Edit Profile</a>
                                <!-- <a href="extra-profile.html" class="btn btn-success">Upgrade</a> -->
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
                <!-- <div class="col-md-8 link-blocks-env">
                    
                    <div class="links-block left-sep">
                        <h4>
                            <span>Notifications</span>
                        </h4>
                        
                        <ul class="list-unstyled">
                            <li>
                                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk1" />
                                <label for="sp-chk1">Messages</label>
                             </li>
                            <li>
                                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk2" />
                                <label for="sp-chk2">Events</label>
                            </li>
                            <li>
                                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk3" />
                                <label for="sp-chk3">Updates</label>
                            </li>
                            <li>
                                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk4" />
                                <label for="sp-chk4">Server Uptime</label>
                            </li> 
                        </ul>
                    </div>
                    
                    <div class="links-block left-sep">
                        <h4>
                            <a href="#">
                                <span>Help Desk</span>
                            </a>
                        </h4>
                        
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <i class="fa-angle-right"></i>
                                    Support Center
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-angle-right"></i>
                                    Terms of Service
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                </div> -->
                
            </div>
        
        </div>
        
    </div>
    
    <div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            
        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
        {% include "admin/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "admin/new_design/header-1.html" %}
             <div class="page-title">
            
                <div class="title-env">
                    <h1 class="title">Affiliate Report</h1>
                    <p class="description"></p>
                </div>
            
                    <div class="breadcrumb-env">
            
                                <ol class="breadcrumb bc-1" >
                                    <li>
                            <a href="/affiliate/"><i class="fa-home"></i>Home</a>
                        </li>
                                <li>
            
                                        <a href="">Report</a>
                                </li>
                            <li class="active">
            
                                        <strong>Affiliate report</strong>
                                </li>
                                </ol>
                        
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box lgreen">
                        <div class="portlet-title">
                            <div class="caption">
                                
                            </div>
                            <!-- <div class=" pull-right add_tracker">
                                <a href="/affiliate/createtracker/"><span class="fa fa-plus-circle" style="margin-top: 12px;font-size: 18px;"> </span><span style="font-size: 18px;">&ensp;Add New Tracker</span> </a>
                            
                            </div> -->
                        </div>
                        

                                                  <!-- Submit Button -->
                                                
                                       <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                              <div class="col-md-12">
                                        
                                        <form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();">
                                               
                                                <input type="hidden" id="sitename" name="sitename" value="All" required="True"/>
                                                
                                                  <input type="hidden" name="format" value="json" />

                                                 <div class="col-md-12 all-reports-top-sec">

                                      <div id="daterange" class="pull-right" style="    background: #fff;
    cursor: pointer;
    padding: 6.4px 10px;
    border: 1px solid #ccc;
    position: relative;
    width:270px;
    left: -60px;">
    <i class="fa fa-calendar"></i>&nbsp;
    <span>{{from_date}} - {{to_date}}</span> <b class="caret"></b>
</div>                                
                                       <div class="submit-allmobile" style="">
                                                       
                                                      <input type="submit" value="Submit" class="btn  btn-success egcs_submit_button"/>
                                                                       
                                                   </div>
                                                <!-- <input class="raw" id="daterange"/>
<i class="fa fa-caret-down drop-menu-icon1 drop-menu-icon" aria-hidden="true"></i>
                <div id="daterange-picker-container" style="display: none;"></div> -->
                                                    <div class=" pull-right add_tracker">
                                    <button type="button" class="btn-export-all btn btn-default btn-sm">
          <span class="glyphicon glyphicon-export"></span> Export
        </button>
                            </div>
                                                </div> <!-- Submit Button -->
                                                
                                                
                            
                            <script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();
    });
});
                            </script>
                                                    

                                                
                                            </div>
                                                 <!-- Second Row -->
                            
                                              
                                                <!-- SITE SELECTION -->
            <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <div class="portlet-title">
                    
                </div>
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
                                        
                                        
                                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        
                                            {%for j in siteid_list %}   
                                                <span class="player-details-tr"><input name="siteids" type="checkbox" value="{{j.id}}" {%if j.selected %}checked{%endif%} />{{j.name}}</span>
                                            {%endfor%}
                                                        
                                        </div> -->
                                        
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div><br/>
           
                        </form>
            <!-- END SAMPLE FORM PORTLET-->
                                                
                             </div>
                         </div>
                     </div>
                            
                            <table class="table display nowrap table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width: 100%; overflow-x: scroll; display: block; max-width: 100%;"></table>



                           <!--  <table class="table table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data2">
                            <thead>
                                    <tr>
                                        <td>aaa</td>
                                        <td>aaa</td>
                                        <td>aaa</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>aaa</td>
                                        <td>aaa</td>
                                        <td>aaa</td>
                                    </tr>
                                    <tr>
                                        <td>aaa</td>
                                        <td>aaa</td>
                                        <td>aaa</td>
                                    </tr>
                                    <tr>
                                        <td>aaa</td>
                                        <td>aaa</td>
                                        <td>aaa</td>
                                    </tr>

                                </tbody>

                            </table> -->
                            
                            
                            
                            
                            
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
				
				{% include "admin/new_design/footer-1.html" %}
				
            </div>
            
            
            
            <!-- Main Footer -->
            <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
            <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
            <!-- Or class "fixed" to  always fix the footer to the end of page -->
            
            
            <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
            
        </div>
        <div class="row" id="get-code" style="display:none;width: 420px;background: #ffffff;height: 155px;position: fixed;top: 50%;z-index: 999;left: 42%;">
                <div class="col-sm-12">
            
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Campiagn</h3>
                            <div class="panel-options">
                                <a href="#" data-toggle="panel">
                                    <span class="collapse-icon">&ndash;</span>
                                    <span class="expand-icon">+</span>
                                </a>
                                <a hrefs="" data-toggle="remove" onclick="checknothanks(this)">
                                    &times;
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
            
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="field-1">Text Link</label>
            
                                    <div class="col-sm-10">
                            <input type="text" id="link-code" style="width:300px;" maxlength="300" readonly/>
                                    </div>
                                </div>
            
                                <!-- <div class="form-group-separator"></div>
                                <div class="input-group">
                                            <input type="text" class="form-control no-right-border form-focus-purple">
            
                                            <span class="input-group-btn">
                                                <button class="btn btn-purple" type="submit">Submit</button>
                                            </span>
                                        </div> -->
            
                                
            
                            </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Page Loading Overlay -->
    <div class="page-loading-overlay">
        <div class="loader-2"></div>
    </div>
    

     <script src="/static_files/assets/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/moment.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="/static_files/assets/js/jquery-daterange-picker.js"></script>


<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>
<script src="/static_files/js/utils.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>

<script src="/static_files/assets/js/TweenMax.min.js"></script>
    <script src="/static_files/assets/js/resizeable.js"></script>
    <script src="/static_files/assets/js/joinable.js"></script>
    <script src="/static_files/assets/js/xenon-api.js"></script>
    <script src="/static_files/assets/js/xenon-toggles.js"></script>
    <!-- Imported scripts on this page -->
    <script src="/static_files/assets/js/xenon-widgets.js"></script>
    <script src="/static_files/assets/js/devexpress-web-14.1/js/globalize.min.js"></script>
    <script src="/static_files/assets/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
    <script src="/static_files/assets/js/toastr/toastr.min.js"></script>


    <!-- JavaScripts initializations and stuff -->
    <script src="/static_files/assets/js/xenon-custom.js"></script>

    <script src="/static_files/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
<script src="/static_files/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="/static_files/js/utils.js"></script>
<!-- HIGHCHARTS START-->
<script src="/static_files/js/jquery.circlechart.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- HIGHCHARTS END-->

<script type="text/javascript">


function addPlayerslistDataTable(headersList, dataList, currency){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    var header_s = ""
    
    // if($("#player_data").find('tfoot').length == 0){
    //     $.each(headersList, function( index, value ) {
    //         header_s = header_s + '<th></th>';
    //     });
    //     $("#player_data").append('<thead>'+header_s+'</thead><tfoot>'+header_s+'</tfoot>');
    // }
    $("#player_data").dataTable({
        "data": dataList,
       "columns":headersList,
       dom: 'Bfrtip',
        buttons: [
            'csv'
        ],
        // "footerCallback": function ( row, data, start, end, display ) {
        //     var api = this.api(), data;
 
        //     // converting to interger to find total
        //     var intVal = function ( i ) {
        //         return typeof i === 'string' ?
        //             i.replace(/[\€,\$,\£,\₹]/g, '')*1 :
        //             typeof i === 'number' ?
        //                 i : 0;
        //     };
 
        //     // computing column Total of the complete result 
        //     var aTotal = api
        //         .column( 2 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
                
        // var bTotal = api
        //         .column( 3 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(a) + parseFloat(b);
        //         }, 0 );
                
        //     var cTotal = api
        //         .column( 4 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //         }, 0 );
                
        //  var dTotal = api
        //         .column( 5 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //         }, 0 );
                
        //  var eTotal = api
        //         .column( 6 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //         }, 0 );
        // var fTotal = api
        //         .column( 7 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //         }, 0 );
        // var gTotal = api
        //         .column( 8 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //         }, 0 );
        // var hTotal = api
        //         .column( 9 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //         }, 0 );
        // var iTotal = api
        //         .column( 10 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //         }, 0 );
        // var jTotal = api
        //         .column( 11 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //         }, 0 );
        // var kTotal = api
        //         .column( 12 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //         }, 0 );
        
            
                
        //     // Update footer by showing the total with the reference of the column index 
        // $( api.column( 0 ).footer() ).html('Total');
        //     $( api.column( 2 ).footer() ).html(aTotal);
        //     $( api.column( 3 ).footer() ).html(bTotal);
        //     $( api.column( 4 ).footer() ).html(cTotal);
        //     $( api.column( 5 ).footer() ).html(dTotal);
        //     $( api.column( 6 ).footer() ).html(eTotal);
        //     $( api.column( 7 ).footer() ).html(currency + fTotal.toFixed(2));
        //     $( api.column( 8 ).footer() ).html(currency + gTotal.toFixed(2));
        //     $( api.column( 9 ).footer() ).html(currency + hTotal.toFixed(2));
        //     $( api.column( 10 ).footer() ).html(currency + iTotal.toFixed(2));
        //     $( api.column( 11 ).footer() ).html(currency + jTotal.toFixed(2));
        //     $( api.column( 12 ).footer() ).html(currency + kTotal.toFixed(2));
        // },
        // fixedHeader: true,
        "iDisplayLength": 30,
       "createdRow": function( row, data, dataIndex ) {
               $(row).attr('id', 'order_'+data[0]);
           },
       //"scrollX": true,
       paging: true,
       searching: false,
       info: false,
       // fixedHeader: {
       //      header: true,
       //      footer: true
       //  },
        dom: 'Bfrtip',
        buttons: [
            'csv',
            'excelHtml5',
            'pdfHtml5'
        ],
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
          });

}

function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
  };

function getcode(ele){
    url = $(ele).attr('hrefs')
    $.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                    $('#link-code').val(data.linkurl);
                    $('#get-code').show();
                    $("#cover").show();
                }
          }
    });
    return false;

}

function ajaxsubmitFormData(){
    var search_form = $("#DashBoardFormID");
    // if(!siteselected){
    //     alert("Please select at least one site.");
    //     return false;
    // }
    if(window.siteload == true){
        return true;
    }
    data_set = search_form.serialize()
    data_set = data_set.replace('sitename','');
    // ajaxBlockUI($(".page-content"))
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: data_set,
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    $('.digg_pagination').html("");
                    //var decoded = $('<div />').html(data.pagination_div).text();
                    $('.digg_pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list, data.currency);
                }
          }
    });
    return false;
}


    

jQuery(document).ready(function() { 
    // $('#daterange').dateRangePicker({
 //      container: '#daterange-picker-container',
 //    numberOfMonths: 3,
 //    duration: 200,
 //    datepickerShowing: true,
 //    defaultDate: '-1D',
 //    format: 'MM/D/YYYY',

 //     MONTH_TO_DATE
 //       YEAR_TO_DATE
 //       LAST_WEEK
 //       LAST_MONTH
 //       LAST_7_DAYS
 //       LAST_30_DAYS 
 //    defaultDateRange: 'Custom',
 //    maxDate: '-1D',
 //    minDate: new Date(2012, 12, 29),
 //    test: false,
 //    today: null
 //    }
 //    );
 $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();
    });


    Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
    egcsTools.initNavigation();
   egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}');
   Index.initJQVMAP(); // init index page's custom scripts 
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var currency = '{{currency|safe}}'
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
   $('.digg_pagination').html(decoded);

   addPlayerslistDataTable(header_list, data_list, currency);
   var device = "{{d}}";
   // $('option[value="'+device+'"]').prop('selected', true);
   //$('select[name="player_data_length"] option:eq(0)').prop('selected', true);
 
   // $("#player_data2").dataTable();
   
   fromdate = $.datepicker.formatDate('M dd, yy', new Date('{{from_date}}'))
   todate = $.datepicker.formatDate('M dd, yy', new Date('{{to_date}}'))
   $('#daterange').val(fromdate + ' - ' + todate);
   $('#drp-input-startdate').val(fromdate);
   $('#drp-input-enddate').val(todate);
   $(".network_devices a").click(function(event){
        var channel = $(this).attr("channel");
        $("#ChannelID").val(channel);
        event.preventDefault();
        dashbord_submit_form();
        
    });
   $("#drp-btn-apply").click(function(event){
        startdate = $.datepicker.formatDate('mm/dd/yy', new Date($('#drp-input-startdate').val()));
        enddate = $.datepicker.formatDate('mm/dd/yy', new Date($('#drp-input-enddate').val()));
        $('#daterange').html(startdate + ' - ' + enddate);
        $('#DashBoardFromDate').val(startdate);
        $('#DashBoardToDate').val(enddate);
        
    });
   $('rect').attr('rx',0);
   
   $('#dashboard-report-range').find('span').attr('style', "display:'';" );
   $('#dashboard-report-range').find('span').removeClass('visible-lg-inline-block');
});

        function toggleSampleChatWindow()
        {
            var $chat_win = jQuery("#sample-chat-window");
    
            $chat_win.toggleClass('open');
    
            if($chat_win.hasClass('open'))
            {
                var $messages = $chat_win.find('.ps-scrollbar');
    
                if($.isFunction($.fn.perfectScrollbar))
                {
                    $messages.perfectScrollbar('destroy');
    
                    setTimeout(function(){
                        $messages.perfectScrollbar();
                        $chat_win.find('.form-control').focus();
                    }, 300);
                }
            }
    
            jQuery("#sample-chat-window form").on('submit', function(ev)
            {
                ev.preventDefault();
            });
        }
    
        jQuery(document).ready(function($)
        {
            $(".footer-sticked-chat .chat-user, .other-conversations-list a").on('click', function(ev)
            {
                ev.preventDefault();
                toggleSampleChatWindow();
            });
    
            $(".mobile-chat-toggle").on('click', function(ev)
            {
                ev.preventDefault();
    
                $(".footer-sticked-chat").toggleClass('mobile-is-visible');
            });
        });
        </script>


<div id="cover" style="display:none;"> </div>
</body>
</html>