{% extends "admin/indexs.html" %} 
{% load i18n %} 

{% if not is_popup %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/wyntaadmin/">
{% trans "Home" %}</a> &rsaquo; 
{% for app in app_list %}
    

{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}
{% endfor %}</div>{% endblock %}

{% endif %} 

{% block sidebar %}{% endblock %}