<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Xenon Boostrap Admin Panel" />
  <meta name="author" content="" />

  <title>{{partner}}</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
  <link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
  <link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/static_files/assets/css/xenon-core-partner.css">
  <link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
  <link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
  <link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
  <link rel="stylesheet" href="/static_files/assets/css/custom.css">

  <link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
    <link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>

    <script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static_files/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/table-managed.js"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>
<script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->


</head>
<body class="page-body">
<style type="text/css">
.panel {margin-top:8px !important;}

.table_header_background tr td {border-bottom:none !important;}

.panel .panel-body {padding-top:0px;}

.fa-copy {    font-size: 16px !important;
    position: relative;
    cursor: pointer;
    left: -43px;
    color: #ffffff;
    background: #36a9e1;
    padding: 12px;
  }
  
  #messageiddiv{
  margin-top: -23px;
    width: 100%;
    margin-left: 38px;
  }
  .btn-popup-display {margin-left:23px; width:140px;}
  
    @media only screen and (max-width: 765px) { 
    
    .btn-popup-display {margin-left:0px !important; width:140px;}
    
    }
  
</style>


  <div class="settings-pane">
      
    <a href="#" data-toggle="settings-pane" data-animate="true">
      &times;
    </a>
    
    <div class="settings-pane-inner">
      
      <div class="row">
        
        <div class="col-md-4">
          
          <div class="user-info">
            
            <div class="user-image">
              <a href="extra-profile.html">
                <img src="/static_files/assets/images/user-2.png" class="img-responsive img-circle" />
              </a>
            </div>
            
            <div class="user-details">
              
              <h3>
                <a href="extra-profile.html">{{request.user.username}}</a>
                
                <!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
                <span class="user-status is-online"></span>
              </h3>
              
              <!-- <p class="user-title">Web Developer</p> -->
              
            </div>
            
          </div>
          
        </div>
        
        <!-- <div class="col-md-8 link-blocks-env">
          
          <div class="links-block left-sep">
            <h4>
              <span>Notifications</span>
            </h4>
            
            <ul class="list-unstyled">
              <li>
                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk1" />
                <label for="sp-chk1">Messages</label>
              </li>
              <li>
                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk2" />
                <label for="sp-chk2">Events</label>
              </li>
              <li>
                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk3" />
                <label for="sp-chk3">Updates</label>
              </li>
              <li>
                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk4" />
                <label for="sp-chk4">Server Uptime</label>
              </li>
            </ul>
          </div>
          
          <div class="links-block left-sep">
            <h4>
              <a href="#">
                <span>Help Desk</span>
              </a>
            </h4>
            
            <ul class="list-unstyled">
              <li>
                <a href="#">
                  <i class="fa-angle-right"></i>
                  Support Center
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa-angle-right"></i>
                  Submit a Ticket
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa-angle-right"></i>
                  Domains Protocol
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa-angle-right"></i>
                  Terms of Service
                </a>
              </li>
            </ul>
          </div>
          
        </div> -->
        
      </div>
    
    </div>
    
  </div>
  
  <div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
      
    <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
    <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
    <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
    {% include "admin/new_design/menubar-1.html" %}
  
    <div class="main-content">
          
      {% include "admin/new_design/header-1.html" %}
      
     <div class="page-title">
      
        <div class="title-env">
          <h1 class="title">Create Media Category</h1>
          <p class="description"></p>
        </div>
      
          <div class="breadcrumb-env">
      
                <ol class="breadcrumb bc-1" >
                  <li>
              <a href=" /admin/"><i class="fa-home"></i>Home</a>
            </li>
                <li>
      
                    <a href="">Media</a>
                </li>
              <li class="active">
      
                    <strong>Create Media Category</strong>
                </li>
                </ol>
            
        </div>
        
      </div>
      
      <div class="row">
        <div class="col-sm-12">
      
          <div class="panel panel-default">
            <!-- <div class="panel-heading">
              <h3 class="panel-title">Refer Link</h3>
              <div class="panel-options">
                <a href="#" data-toggle="panel">

                  <span class="collapse-icon">&ndash;</span>
                  <span class="expand-icon">+</span>
                </a>
                <a href="#" data-toggle="remove">
                  &times;
                </a>
              </div>
            </div> -->
            <div class="panel-body" style="margin-left: -20px;">
      <div class="portlet-body">
                            <div class="table-toolbar">
                                
                                {%if message %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success-msg">
                                            <center> <span>{{message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                         {%if data.call == 'POST'%}
                                        <form action=" /admin/mediacategory" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">
                                          {% else %}
                                          <form action= " /admin/mediacategory/{{data.id}}" id="affForm" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" novalidate>
                                            {% endif %}
                                        <fieldset>
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
                                        <table class="table table-hover table_header_background">
                                            
                                            
                                            <tbody>
                                                <tr>
                                                    <td style="text-align:left">Category ID</td>
                                                    <td style="text-align:left" class="bold affinfo_col_data">{{data.id}}</td>
                                                    <td style="text-align:left" class="bold affinfo_col_data "> <td style="text-align:left">Category Name</td>
                                                    <td style="text-align:left" class="bold affinfo_col_data"><input name="category_name" class="form-control" type="text" value="{{data.category_name}}"></td></td>
                                                </tr>
                                                <tr>
                                                    <label class="col-sm-2 control-label ">
      
    </label>
  

  <div class="col-sm-10">
    
                                                    <td style="text-align:left">Network</td>
                                                    <td style="text-align:left" class="bold affinfo_col_data">
                                                       <select class="form-control" name="networkid" id="networkid">
                                        {%for i in data.network_list %}
                                            {% if i.0 == data.networkid %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
                                                </td>
                                                    <td style="text-align:left">Site</td>
                                                    <td style="text-align:left" class="bold affinfo_col_data">
                                                       <select class="form-control" name="siteid" id="siteid">
                                        {%for i in data.sites_list %}
                                            {% if i.0 == data.siteid %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
                                                </td>
                                                    
                                                </tr>
                                               
                                                
                                                

                           <tr>
                                                  <td>
                                                    <div class="form-actions">
                                                      <div class="row">
                    {%if data.call == 'POST'%}
                                        <button class="btn btn-success" title="Make a POST request ">POST</button>
                                          {% else %}
                                          <div class="col-md-12 full-width-submit" style="margin-left:-15px;">
                                    
                                    <input type="submit" value="Submit" class="btn-success" style="width: 120px;
    padding: 10px; border:none;
    /* margin-left: 30px; */
    position: relative;" />
                                                    
                                </div>
                                            {% endif %}
                                
                                
                                
                            </div>
                          </div>

                                                  </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                      </fieldset>
                                        </form>
                        <!-- <form class="button-form" action="/{{data.id}}" enctype="multipart/form-data" class="form-horizontal" novalidate="" data-method="DELETE">
                      <button class="btn btn-danger">Delete</button>
                    </form> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="digg_pagination"></div><br/>  -->
                            
                        </div>
             
              </div>
          </div>
        </div>
      </div>
      {% include "admin/new_design/footer-1.html" %}
      
      <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
      
    </div>
      
      
      
      
      
      
      
      <!-- Main Footer -->
      <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
      <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
      <!-- Or class "fixed" to  always fix the footer to the end of page -->
      
    </div>
  
  
  



  <!-- Bottom Scripts -->
  <script src="/static_files/assets/js/bootstrap.min.js"></script>
  <script src="/static_files/assets/js/TweenMax.min.js"></script>
  <script src="/static_files/assets/js/resizeable.js"></script>
  <script src="/static_files/assets/js/joinable.js"></script>
  <script src="/static_files/assets/js/xenon-api.js"></script>
  <script src="/static_files/assets/js/xenon-toggles.js"></script>


  <!-- JavaScripts initializations and stuff -->
  <script src="/static_files/assets/js/xenon-custom.js"></script>
<script>


        $(document).ready(function() {
          // var campaign_dict = '{{campaign_list|safe}}';
          // category_dict = {{data.mediacategory_list|safe}};
          $('form').ajaxForm();
        });
      </script>
</body>
</html>

