
<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/jquery-ui.css" />
<script type="text/javascript" src="/static_files/js/jquery-ui.js"></script> 
 <!-- <footer class="footer"> © 2018 {{partner}}, Powered by Wynta</footer> -->
 
 {% if data.pid == "new" %}
        
        <!-- End Left Sidebar  -->
    
        <!-- Page wrapper  -->
        <footer class="footer" style="left:0"> © 2019 {{partner}}, Powered by Wynta</footer>
		{% else %}
		<footer class="footer" style="left:240px"> © 2019 {{partner}}, Powered by Wynta</footer>
		{% endif %}
 <!-- <div class="se-pre-con" id="" style="/* display: none; */"></div> -->
 
     <!-- All Jquery -->
    <script src="/static_files/new_wynta/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="/static_files/new_wynta/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static_files/new_wynta/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="/static_files/new_wynta/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/static_files/new_wynta/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <!--Custom JavaScript -->
    <script src="/static_files/new_wynta/js/scripts.js"></script>
  
<script type="text/javascript" src="/static_files/js/utils.js"></script>


<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>
 
   <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> 
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.32/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script> 
    <script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
  

 <!-- HIGHCHARTS START-->
<script src="/static_files/js/jquery.circlechart.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- HIGHCHARTS END-->
  
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>



  <script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
  
    <!-- Bottom Scripts -->
  <script src="/static_files/assets/js/bootstrap.min.js"></script>
  <script src="/static_files/assets/js/TweenMax.min.js"></script>
  <script src="/static_files/assets/js/resizeable.js"></script>
  <script src="/static_files/assets/js/joinable.js"></script>
  <script src="/static_files/assets/js/xenon-api.js"></script>
  <script src="/static_files/assets/js/xenon-toggles.js"></script>


  <!-- JavaScripts initializations and stuff -->
  <script src="/static_files/assets/js/xenon-custom.js"></script>
   
 
<script type="text/javascript">

$(document).ready(function(){

 $(function() {
  $('.body-hidden').click(function() {
   if( $(".show-sidebar").is(":visible") ) {
    $("body").css('position' , 'fixed');
   }
   else
   {
    $("body").css('position' , 'relative');
   }
   });
  });

		$("#remove-overlay").removeClass("overlay");
		
		
		
		
});
$('input[type="submit"]').on("click",function(){
  if($(this).attr('check') != 'Verify'){
      $("#remove-overlay").addClass("overlay");
      $(".preloader").show();
  }
  //post code
});
</script>
<style type="text/css">
  
  .paginate_button.next{
    width:73px !important;
  }
  
  .dropdown-quick-sidebar-toggler {cursor:pointer;}
  .page-quick-sidebar-wrapper {display:none;}
</style>


<script>

//$( "li.dropdown-quick-sidebar-toggler" ).click(function() {     
    //if($('.page-quick-sidebar-wrapper').length)
       // $('.page-quick-sidebar-wrapper').toggle("slide", { direction: "right" }, 500);
    //else
      //  $('.page-quick-sidebar-wrapper').hide("slide", { direction: "right" }, 500); 
				
//});

 
//});


</script>

<script>
$(document).ready(function(){

    $("li.dropdown-quick-sidebar-toggler").click(function(){
        $(".page-quick-sidebar-wrapper").toggle();
    });
});
</script>

<script>

$('#accordion').find('.accordion-toggle').click(function(){

	    //Expand or collapse this panel
	    $(this).next().slideToggle('fast');

	    //changes arrow 
	    if( $(this).find('.arrow').hasClass('arrowUp')){
	    	$(this).find('.arrow').removeClass('arrowUp').addClass('arrowDown');
	    } else {
	    	$('#accordion').find('.arrow').removeClass('arrowUp').addClass('arrowDown');
	    	$(this).find('.arrow').removeClass('arrowDown').addClass('arrowUp');
	 	}
 	  	//Hide the other panels
     	$(".accordion-content").not($(this).next()).slideUp('fast');
      
    });
	
	</script>

