


<div class="overlay" id="remove-overlay"></div>

                <!-- Logo -->
                {% if partner == 'vCommission UK Partners' %}
				<div class="header header-white">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header" style="background: #ffffff;">
                    <a class="navbar-brand" href="/admin/dashboard">
                        <!-- Logo icon -->
                        
                        <b><img src="/static_files/new_wynta/images/vcommlogo.png" alt="homepage" class="vcom_logo dark-logo" /></b>
						<span class="display-mobile"><img src="/static_files/new_wynta/images/vcommlogo_small.png" alt="homepage" class="dark-logo vlogo-text" /></span>
                        </a>
						{% else %}
						<div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                        <div class="navbar-header">
                    <a class="navbar-brand" href="/admin/dashboard">
                        <b><img src="/static_files/new_wynta/images/wynta-logo.svg" alt="homepage" class="dark-logo logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                       <span class="display-mobile"><img src="/static_files/new_wynta/images/wynta-logo-text.svg" alt="homepage" class="dark-logo logo-text-wynta" /></span>
                       {% endif %} 
                    </a>
                </div>
				
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item mobile-none"> <a class="nav-link nav-toggler hidden-md-up text-muted" href="javascript:void(0)" ><i class="mdi mdi-menu"></i></a> </li>
                        <!-- <li class="nav-item m-l-10 mobile-none"> <a class="nav-white nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li> -->
						<li class="nav-item mobile-none">
						
						<!-- <div class="inner-addon right-addon"> -->
          <!-- <i class="fa fa-search search-image"></i> -->
          <!-- <input type="text" class="form-control input-search-head" placeholder="Search..." /> -->
        <!-- </div> -->
						
						</li>
                        <!-- Messages -->
                        
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
					
					 {% if partner == 'vCommission UK Partners' %}
					
                    <ul class="navbar-nav my-lg-0 safari-right">

						
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted-dark  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-power-off"></i>
							</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="dropdown-user">
                                    
                                    <li><a href="/admin/logout/"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
					
						{% if data.pid != "new" %}
						<li class="nav-item mobile-display"> <a class="nav-link nav-toggler hidden-md-up text-muted-dark body-hidden" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
						 <li class="nav-item m-l-10 mobile-display"> <a class="nav-white nav-link sidebartoggler hidden-sm-down text-muted-dark " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
						{% endif %}
                    </ul>
					{% else %}
					 <ul class="navbar-nav my-lg-0 float-right">

						<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-power-off"></i>
							</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="dropdown-user">
                                    
                                    <li><a href="/admin/logout/"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
					
					
						{% if data.pid != "new" %}
						<li class="nav-item mobile-display"> <a class="nav-link nav-toggler hidden-md-up text-muted body-hidden" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
						 <li class="nav-item m-l-10 mobile-display"> <a class="nav-white nav-link sidebartoggler hidden-sm-down text-muted " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
						{% endif %}
                    </ul>
					{% endif %}
                </div>
            </nav>
			
			</nav>
			
			</div>
			
        </div>
		
		</div>