<style>

.multiselect-selected-text {
    text-overflow: ellipsis;
    overflow: hidden;
}

#sideopen-overlay {z-index:9999 !important;}

#mySidenav {}
.sidenav1 {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 999999;
    top: 60px;
    right: 0;
    background-color: #ffffff;

    padding-top: 0px;  display:none;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    
}

.sidenav1 a {
   padding: .75rem 1.25rem 0.1em;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding-top: 5px;
    padding-bottom: 0px;
}

.sidenav1 a:hover>.btn-lg {
    transition: 0.5s;
        }


.sidenav1 a:hover {
    color: #f1f1f1;
}


#sideopen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
}

@media screen and (max-height: 450px) {
  /*.sidenav1 {padding-top: 15px;}
  .sidenav1 a {font-size: 18px;}*/
}







.material-switch { 
    position: relative;
    top: 5px;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: #d2d2d2;
    
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
 
    
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    content: '';
    height: 20px;
    left: -5px;
    margin-top: -6px;
    position: absolute;
    top: -4px;
    width: 20px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
 width: 25px;
    height: 25px;
    font-size: 18px;
    line-height: 0;
    border-radius: 25px;
    margin-top: 17px;
}

.side-block { }
.top-space-one {    margin-top: 16px;
    float: right;
    color: green;
    font-size: 25px;}

.names-head {width:88%;}
.names-head h3 {font-size: 16px;margin-bottom: 3px;}
.names-head p  { font-size: 12px;}

.side-block ul li {
    height:75px;
    border-bottom: 1px solid #ccc;
    background: #fbfbfb; cursor:pointer;
}

.side-block ul li:hover>.names-head h3 {
  color:#fff;
}

.side-block ul li a:hover>.image-right {
    transition: 0.5s;
         }

.side-block ul li:hover {
    
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .2s ease-in;
    background: #fff;
    
}


.side-block ul li {border-bottom:1px solid #ccc;}

.affiliates-onboard {padding: .75rem 1.25rem 0.1em; text-transform:uppercase; font-size: 16px;
    font-weight: bold; color:#000;}
    
    .border-zero { background: #f3f3f3;
    color: #000;
    border-right: 0;
    border-left: 0;
    border-radius: 0px !important;
    font-weight: bold;
    padding: 1rem 1.25rem;}

    .image-right {  cursor:pointer;  width: 75px;
    font-size: 16px;
    height: 28px;
    margin-top: 17px;
    line-height: 0;
    background: #1976d2;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-size: 15px;}
    .top-margin {margin-top:15px;}
    
    #click-button:hover> #myImg {}
    

    #accordion h2{
  margin:0px;
  padding: 1em;
  background: teal;
  color: white;
  font-weight:normal;
  border-bottom: 1px solid #eee
}

.accordion-toggle {cursor: pointer;}
.accordion-content {
  display: none;
  color: black; 
}
.accordion-content.default {display: block;
    height: 400px; scroll-behavior: smooth;
    overflow: hidden;
    overflow-y: scroll;
    }
    
    .accordion-content { height: 400px;
    overflow: hidden; scroll-behavior: smooth;
    overflow-y: scroll;}

.accordion-toggle .view{
    font-size:14px;
    line-height:200%;
  font-weight:normal;
    color:rgb(127,191,52);
    text-align:left;
 
}

.arrow{
    margin-left:9px;
    
}
	
	@media (max-width: 767px) {
		.admin-side-bar {
    width: 380px;
    float: right;
    max-width: 100%;
}
	}
    
    </style>


<div class="overlay" id="remove-overlay"></div>

                <!-- Logo -->
                {% if partner == 'vCommission UK Partners' %}
                <div class="header header-white" style="background: #ffffff;">
            <nav class="navbar top-navbar navbar-expand-md navbar-light pr-0">
                <div class="navbar-header" style="background: #ffffff;">
                    <a class="navbar-brand" href="/admin/dashboard">
                        <!-- Logo icon -->
                        
                        <b><img src="/static_files/new_wynta/images/vcommlogo.png" alt="homepage" class="dark-logo" /></b>
                        <span class="display-mobile"><img src="/static_files/new_wynta/images/vcommlogo_small.png" alt="homepage" class="vcom_logo" /></span>
                        </a>
                        {% else %}
                        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light pr-0">
                        <div class="navbar-header">
                    <a class="navbar-brand" href="/admin/dashboard">
                        <b><img src="/static_files/new_wynta/images/wynta-logo.svg" alt="homepage" class="dark-logo logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                       <span class="display-mobile"><img src="/static_files/new_wynta/images/wynta-logo-text.svg" alt="homepage" class="dark-logo logo-text-wynta" /></span>
                       {% endif %} 
                    </a>
                </div>
                
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item mobile-none"> <a class="nav-link nav-toggler hidden-md-up text-muted" href="javascript:void(0)" ><i class="mdi mdi-menu"></i></a> </li>
                        <!-- <li class="nav-item m-l-10 mobile-none"> <a class="nav-white nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li> -->
                        <li class="nav-item mobile-none">
                        
                        <!-- <div class="inner-addon right-addon"> -->
          <!-- <i class="fa fa-search search-image"></i> -->
          <!-- <input type="text" class="form-control input-search-head" placeholder="Search..." /> -->
        <!-- </div> -->
                        
                        </li>
                        <!-- Messages -->
                        
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    
                     {% if partner == 'vCommission UK Partners' %}
                    
                    <ul class="navbar-nav my-lg-0 safari-right">

                    <li class="nav-item">
                            <a class="nav-link text-muted openclick" id="click-button" href="#" aria-haspopup="true" aria-expanded="false">
                            <!-- <i class="fa fa-th"></i> -->
                            <img src="/static_files/new_wynta/images/wynta-logo-icon.svg" id="myImg" width="30"/>
                            </a>
                            
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted-dark  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-power-off"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="dropdown-user">
                                    
                                    <li><a href="/admin/logout/"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        
                        
                    
                        {% if data.pid != "new" %}
                        <li class="nav-item mobile-display"> <a class="nav-link nav-toggler hidden-md-up text-muted-dark body-hidden" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                         <li class="nav-item m-l-10 mobile-display"> <a class="nav-white nav-link sidebartoggler hidden-sm-down text-muted-dark " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        {% endif %}
                    </ul>
                    {% else %}
                     <ul class="navbar-nav my-lg-0 float-right">

                     <li class="nav-item">
                            <a class="nav-link text-muted openclick" id="click-button" href="#" aria-haspopup="true" aria-expanded="false">
                            <!-- <i class="fa fa-th"></i> -->
                            <img src="/static_files/new_wynta/images/wynta-logo-icon.svg" id="myImg" width="30"/>
                            </a>
                            
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-power-off"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="dropdown-user">
                                    
                                    <li><a href="/admin/logout/"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        
                        
                    
                    
                        {% if data.pid != "new" %}
                        <li class="nav-item mobile-display"> <a class="nav-link nav-toggler hidden-md-up text-muted body-hidden" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                         <li class="nav-item m-l-10 mobile-display"> <a class="nav-white nav-link sidebartoggler hidden-sm-down text-muted " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </nav>
            
            </nav>
            
            </div>
            
        </div>
        
        </div>
        
        
        
        
        
        <div id="mySidenav" class="sidenav1">
  <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
    
    <div class="admin-side-bar" id="accordion">
    
     <ul class="list-group">
         <li class="border-zero">
                        Be accessible to affiliates on Wynta?
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
                            <label for="someSwitchOptionPrimary" class="label-primary"></label>
                        </div>
          </li>
      </ul>
    
    <div class="side-block" id="available-prog">
    <h3 class="affiliates-onboard accordion-toggle ">AFFILIATES ONBOARD </h3>
    <ul class="accordion-content default">
       
        
    </ul>
    </div> <!-- End of Block div -->
	
	
	
    
    <div class="clear"></div>
    
    <!-- Second section start -->
    
    <div class="side-block" id="call-affiliate">
    <h3 class="affiliates-onboard accordion-toggle">AFFILIATE LIST</h3>
    <ul class="top-margin accordion-content">
        
        
    </ul>
    </div> <!-- End of Block div -->
    
    
    </div> <!-- Admin Side Bar -->
 
</div>


    <div id="sideopen-overlay" style="display:none;"></div>
    
    <script>

    $('#someSwitchOptionPrimary').change(function () {
         $.ajax({
              url: '/admin/set-accessible/',
              dataType: 'json',
              method: 'POST',
              async: false,
              data: {csrfmiddlewaretoken: "{{ csrf_token }}", 'access': $('#someSwitchOptionPrimary').prop('checked')},
              success: function(data) {
                  console.log(data);
              }
        });
        return true;
    });
    function getcategory(){
        $.ajax({
              url: '/admin/affiliate-list/',
              dataType: 'json',
              method: 'GET',
              async: false,
              data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
              success: function(data) {
                    $('#available-prog').find('ul').html('');
                    $.each(data.avv_aff, function (i, item) {
                        ul_div = '<li><div class="">\
                          <a><i class="fa fa-check-circle top-space-one"></i>\
                          <div class="content-heading names-head">\
                          <h3>'+item[1]+'</h3>\
                          <p>Company : '+item[3]+'</p>\
                          </div>    </a> </div></li>'
                            
                        $('#available-prog').find('ul').append(ul_div);
                    });
                    $('#call-affiliate').find('ul').html('');
                    $.each(data.call_aff, function (i, item) {
                        var invite_str = '<button type="button" class="btn-info image-right float-right" onclick="subscribeaffp('+item[0]+')">Invite</button>'
                        if (item[4] == 'invited'){
                            invite_str = '<button type="button" class="btn-info image-right float-right" style="background:green; border:1px solid green">Invited</button>'
                        }
                        ul_div = '<li><div class="">\
                          <a>'+invite_str+'\
                          <div class="content-heading names-head">\
                          <h3>'+item[1]+'</h3>\
                          <p>Company: '+item[3]+'</p>\
                          </div>    </a> </div></li>'
                        
                        $('#call-affiliate').find('ul').append(ul_div);
                    });
                    if (data.accessible == true)
                    $('#someSwitchOptionPrimary').prop('checked', true)
                    else
                    $('#someSwitchOptionPrimary').prop('checked', false)  
              }
        });
        return true;
        
    }
    $(document).ready(function(){


    


    getcategory();
    
    $('#click-button').click( function(e) {
    
        if($('#mySidenav').css('width') === '0px'){
            e.preventDefault(); // stops link from making page jump to the top
            e.stopPropagation(); // when you click the button, it stops the page from seeing it as clicking the body too
            $('#mySidenav').show();
            $('#mySidenav').css('width','450');
            document.getElementById("sideopen-overlay").style.display = "block";
            document.body.style.overflow = "hidden";
            document.getElementById("myImg").src = "/static_files/new_wynta/images/wynta-logo-icon-blue.svg";
            
        }
        else{
            $('#mySidenav').hide();
            document.getElementById("sideopen-overlay").style.display = "none";
            document.body.style.overflow = "auto";
            document.getElementById("myImg").src = "/static_files/new_wynta/images/wynta-logo-icon.svg";
            e.preventDefault(); // stops link from making page jump to the top
            e.stopPropagation(); // 
            $('#mySidenav').css('width','0');
        }
        
        /*e.preventDefault(); // stops link from making page jump to the top
        e.stopPropagation(); // when you click the button, it stops the page from seeing it as clicking the body too
        $('#mySidenav').toggle();
        $('#mySidenav').css('width','400');
        document.getElementById("sideopen-overlay").style.display = "block";
        document.body.style.position = "fixed";
        document.getElementById("myImg").src = "/static_files/new_wynta/images/wynta-logo-icon-blue.svg";
        */
    
        
    });
    
    $('#mySidenav').click( function(e) {
        
        e.stopPropagation(); // when you click within the content area, it stops the page from seeing it as clicking the body too
       
    });
    
    $('body').click( function(e) {
       
        //if($('#mySidenav').css('visibility') === 'visible'){
            $('#mySidenav').hide();
            document.getElementById("sideopen-overlay").style.display = "none";
            document.body.style.overflow = "auto";
            document.getElementById("myImg").src = "/static_files/new_wynta/images/wynta-logo-icon.svg";
            //e.preventDefault(); // stops link from making page jump to the top
            //e.stopPropagation(); //
            $('#mySidenav').css('width','0');
        //}

        
    });
    
});
function subscribeaffp(apid){
        $.ajax({
              url: '/admin/invite-affiliate/?aid='+apid,
              dataType: 'json',
              method: 'GET',
              async: false,
              data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
              success: function(data) {
                    getcategory();
              }
        });
        return true;
    }
</script>