<style>
#p_count {float: right;
    margin-top: -29px;
    margin-right: 7px;
    font-size: 11px;
    background: #0091e0;
    padding: 2px;
    border-radius: 67%;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;}
</style>

<div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-label">Main</li>
                        {% if not part_user or 'Dashboard' in part_user %}
                    <li> <a class="dash-bg  itemd" href="/admin/dashboard" aria-expanded="false"><i class="fa fa-home mobile-home-icon"></i><span class="hide-menu">Dashboard </span></a>
                            
                        </li>
                    {% endif %}
                    {% if not part_user or 'Affiliates' in part_user %}
                    <li class="" id="manageaff"> <a class="has-arrow" href="#" aria-expanded="flase"><i class="fa fa-mail-reply"></i><span class="hide-menu">Affiliates</span></a>
                            <ul aria-expanded="false" class="">
                                {% if not part_user or 'Affiliates' in part_user %}
                                <li><a class="itemd" href="/admin/manage-affiliates">Manage Affiliates</a></li>
                                {% endif %}
                                {% if not part_user or 'Referral Affiliates' in part_user %}
                                <li><a class="itemd" href="/admin/referral-affiliates?filter=referral">Referral Affiliates</a></li>
                                {% endif %}
                                {% if not part_user or 'Add Affiliate' in part_user %}
                                <li><a class="itemd" href="/admin/add-affiliate/post">Add Affiliate</a></li>
                                {% endif %}
                                {% if not part_user or 'Pending Applications' in part_user %}
                                <li><a class="itemd" href="/admin/pending-applications?filter=pending">Pending Applications</a>
								{% if request.session.pending_count %}
								<span id="p_count" style="">{{request.session.pending_count}}</span>
								{% endif %}
								</li>
                                {% endif %}
                                {% if not part_user or 'Search Affiliate' in part_user %}
                                <li><a class="itemd" href="/admin/search-affiliate/">Search Affiliate</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    
                    
                    {% if not part_user or 'Commissions' in part_user %}
                    <li class="" id="commissionsadmin"> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bullhorn"></i><span class="hide-menu">Commissions</span></a>
                            <ul aria-expanded="false" class="">
                                {% if not part_user or 'Default' in part_user %}
                                <li><a class="itemd" href="/admin/commissions-default/c#">Default</a></li>
                                {% endif %}
                                {% if not part_user or 'Brand' in part_user %}
                                <li><a class="itemd" href="/admin/brand">Brand</a></li>
                              {% endif %}
                              <!-- {% if not part_user or 'Affiliate' in part_user %}
                                <li><a class="itemd" href="/admin/search-affiliate/">Affiliate</a></li>
                                {% endif %} -->
                                <!-- {% if not part_user or 'Campaign' in part_user %}
                                <li><a class="itemd" href="/admin/campaign">Campaign</a></li>
                              {% endif %} -->
                            </ul>
                        </li>
                        {% endif %}
                       {% if not part_user or 'Marketing' in part_user %}
                        <li class="" id="marketingli"> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bars"></i><span class="hide-menu">Marketing</span></a>
                            <ul aria-expanded="false" class="">
                                {% if not part_user or 'Banners' in part_user %}
                                <li><a class="itemd" href="/admin/banners">Banners</a></li>
                                {% endif %}
                                {% if not part_user or 'Page Peel' in part_user %}
                                <li><a class="itemd" href="/admin/page-peels">Page Peels</a></li>
                                {% endif %}
                                {% if not part_user or 'Screenshot' in part_user %}
                                <li><a class="itemd" href="/admin/screenshots">Screenshots</a></li>
                                {% endif %}
                                {% if not part_user or 'Landing Pages' in part_user %}
                                <li><a class="itemd" href="/admin/landing-pages">Landing Pages</a></li>
                                {% endif %}
                                {% if not part_user or 'Videos' in part_user %}
                                <li><a class="itemd" href="/admin/videos">Videos</a></li>
                                {% endif %}
                               <!--{% if not part_user or 'Campaign' in part_user %}
                                <li><a class="itemd" href="/admin/campaign?global=True">Campaigns Admin</a></li>
                              {% endif %}-->
                            </ul>
                        </li>
                        {% endif %}
                    
                    {% if not part_user or 'Reports' in part_user %}
                    <li class="" id="reportsadmin"> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Reports</span></a>
                            <ul aria-expanded="false" class="">
                                {% if not part_user or 'Earnings Report' in part_user %}
                                <li><a class="itemd" href="/admin/earnings-report/">Earnings Report</a></li>
                                {% endif %}
                                {% if not part_user or 'Conversions Report' in part_user %}
                                <li><a class="itemd" href="/admin/conversions-report/">Conversions Report</a></li>
                                {% endif %}
                                {% if not part_user or 'Campaigns report' in part_user %}
                                <li><a class="itemd" href="/admin/campaigns-report/">Campaigns Report</a></li>
                                {% endif %}
                                {% if not part_user or 'Active Depositors' in part_user %}
                                <li><a class="itemd" href="/admin/active-depositors/">Active Depositors</a></li>
                                {% endif %}
                                {% if not part_user or 'Affiliate Activity' in part_user %}
                                <li><a class="itemd" href="/admin/affiliate-activity/">Affiliate Activity</a></li>
                                {% endif %}
                                {% if not part_user or 'Brand Report' in part_user %}
                                <li><a class="itemd" href="/admin/brand-report/">Brand Report</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                        {% if not part_user or 'Users' in part_user %}
                        <li class="" id="userd"> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Users</span></a>
                            <ul aria-expanded="false" class="">
                                {% if not part_user or 'Admin' in part_user %}
                                <li><a class="itemd" href="/admin/admin/?link=Users,Admin">Admin</a></li>
                                {% endif %}
                                {% if not part_user or 'Affiliate Managers' in part_user %}
                                <li><a class="itemd" href="/admin/affiliate-manager/put">Affiliate Manager</a></li>
                                {% endif %}
                                {% if not part_user or 'Add User' in part_user %}
                                <li><a class="itemd" href="/admin/add-new-user">Add New User</a></li>
                                {% endif %}
                                
                            </ul>
                        </li>
                        {% endif %}
                        {% if not part_user or 'Settings' in part_user %}
                        <li class="" id="settingsd"> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-gear"></i><span class="hide-menu">Settings</span></a>
                            <ul aria-expanded="false" class="">
                                {% if not part_user or 'Account Details' in part_user %}
                                <li><a class="itemd" href="/admin/account-details">Account Details</a></li>
                                {% endif %}
                                {% if not part_user or 'Change Password' in part_user %}
                                <li><a class="itemd" href="/admin/change-password/?link=Settings,Change Password">Change Password</a></li>
                                {% endif %}
                                {% if not part_user or 'Software Provider Authentication' in part_user %}
                                <li><a class="itemd" href="/admin/software-provider-authentication">Software Provider Authentication</a></li>
                                {% endif %}
                                {% if not part_user or 'Brand Mapping' in part_user %}
                                <li><a class="itemd" href="/admin/brand-mapping">Brand Mapping</a></li>
                            {% endif %}
                            {% if not part_user or 'Proprietary' in part_user %}
                                <li><a class="itemd" href="/admin/proprietary">Proprietary</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    
                    {% endif %}
                       
             
                        <li class=""> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-question"></i><span class="hide-menu">Help Center</span></a>
                            <ul aria-expanded="false" class="">
                                <li><a class="itemd" href="/admin/faq/?link=Help Center,FAQ">FAQ</a></li>
                                <li><a class="itemd" href="/admin/articles/?link=Help Center,Articles">Articles</a></li>
                                <li><a class="itemd" href="/admin/submit-request/?link=Help Center,Submit Request">Submit Request</a></li>
                                
                            </ul>
                        </li>
                       
                        
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>

<script type="text/javascript">
$('.itemd').on("click",function(){
    $("#remove-overlay").addClass("overlay");
  $(".preloader").show();
  //post code
});
    

</script>