<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>eGCS | Dashboard</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<!-- <link href="/static_files/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>  -->
<link href="/static_files/js/font-awesome-egcs.min.css" rel="stylesheet" type="text/css"/>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

<link href="/static_files/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
<link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGIN STYLES -->
<!-- BEGIN PAGE STYLES -->

<link href="/static_files/assets/global/plugins/icheck/skins/all.css" rel="stylesheet"/>
<!-- END PAGE STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="/static_files/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/admin/layout/css/themes/egcs_blue.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="/static_files/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>

<style>
.chart{
	overflow-x:auto !important;
}

.daterangepicker .ranges li{
	border-radius:7px !important;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/static_files/images/Preloader_21.gif) center no-repeat #fff;
}
.network_devices {margin-right:-17px;}
.more { margin-bottom:0px;}
</style>
</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid">

<div class="se-pre-con"></div>
<!-- BEGIN HEADER -->
{% include "egcs/new_design/header.html" %}
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	{% include "egcs/new_design/menubar.html" %}
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER -->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="/home/">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">Dashboard</a>
					</li>
				</ul>

				<div class="page-toolbar">
					<div id="dashboard-report-range" class="tooltips btn btn-sm btn-default" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block">{{from_date}} - {{to_date}}</span>&nbsp; <i class="fa fa-angle-down"></i>
					</div>&ensp;&ensp;
					<div class="pull-right">
						<button type="button" class="btn btn-success pull-right" onclick="dashbord_submit_form();">Submit</button>
					</div>
					
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4 class="page-title">
					Dashboard <small>reports & statistics</small>
					</h4>
				</div>
				
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<div class="network_devices">	
						<div style="display:initial" {% if channel == 'Web' %}class="underline_text"{%endif%}><a href="?fromdate={{ui_from_date}}&todate={{ui_to_date}}&channel=Web" channel="Web"><span><img src="/static_files/images/globe.png" width="20" height="20" /></span><span>WEB</span></a></div>
						<div style="display:initial"{% if channel == 'Mobile' %}class="underline_text"{%endif%}><a href="?fromdate={{ui_from_date}}&todate={{ui_to_date}}&channel=Mobile" channel="Mobile"><span> <img src="/static_files/images/mobile.png" width="20" height="20" /> </span><span>MOBILE</span></a></div>
						<div style="display:initial"{% if channel == 'Tablet' %}class="underline_text"{%endif%}><a href="?fromdate={{ui_from_date}}&todate={{ui_to_date}}&channel=Tablet" channel="Tablet"><span><img src="/static_files/images/mobile.png" width="20" height="20" /></span><span>TABLET</span></a></div>
						<div style="display:initial;padding-left:5px" {% if channel == 'TV' %}class="underline_text"{%endif%}><a href="?fromdate={{ui_from_date}}&todate={{ui_to_date}}&channel=TV" channel="TV"><span><img src="/static_files/images/tv.png" width="20" height="20" /></span><span>TV</span></a></div>	
						<div style="display:initial;padding-left:5px" {% if channel == 'All' %}class="underline_text"{%endif%}><a href="?fromdate={{ui_from_date}}&todate={{ui_to_date}}" channel="All"><span><img src="/static_files/images/tv-all.png" width="20" height="20" /></span><span>ALL</span></a></div>	
							
					</div>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					
					<div class="network_devices" style="width:250px;float:right;cursor:pointer;" onclick="show_sites()">
							<span class="uppercase-taj"><img src="/static_files/images/taj-network.png" width="20" height="20" />&nbsp; TAJ RUMMY NETWORK&nbsp; <span class="plus" style="vertical-align:sub; font-size:30px !important;cursor:pointer; margin-left:4px; margin-right:0px !important;" >&plus;</span></span>    
					</div>
					<!-- 
					<div class="network_devices" style="width:250px;float:right;">
							<span class="uppercase-taj"><img src="/static_files/images/taj-network.png" width="20" height="20" />&nbsp; TAJ RUMMY NETWORK&nbsp; <img src="/static_files/images/taj-network-click.png" width="20" height="20" style="margin-right: 4px; margin-left: 9px;margin-top: -6px;cursor:pointer;" onclick="show_sites()"/></span>    
					</div>  -->
				</div>
			</div>
			<!-- SITE SELECTION -->
			<div class="portlet light bordered" style="display:none;" id="siteFilter">
				<div class="portlet-title">
					<div class="caption font-green-haze">
						<span class="caption-subject bold uppercase"> Filter Sites </span>
					</div>
				</div>
				<div class="portlet-body form">
					<form action="/home/" method = "POST" name='DashBoardForm' role="form"  class="form-horizontal">
										{% csrf_token %}
						<div class="form-body">
							<div class="form-group form-md-line-input" id="SiteListDiv">
								<div class="col-md-10">
									
										<input type="hidden" name="customid" value="Custom" required="True"/>
										<input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
										<input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
										<input type="hidden" name="channel" value="{{channel}}" required="True" id="ChannelID"/>
										
										
										
										<div class="input-group">
											<div class="icheck-inline">
												{%for j in siteid_list %}
													<label>
													<input type="checkbox" name="siteids" id="checkbox33_{{j.name}}" value="{{j.id}}" {%if j.selected %}checked="checked"{%endif%} class="icheck"> {{j.name}} </label>
													
												{%endfor%}
											</div>
										</div>
										<br/>
									</form>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-12">
									<button type="button" onclick="siteselectAll()" id="siteSelectAll" class="btn btn-select-all egcs_submit_button form-control border_radius">Select All</button>
									<button type="button" onclick="siteclearAll()" id="siteClearAll" class="btn grey-mint egcs_submit_button form-control border_radius">Clear All</button>
									<button type="button" onclick="dashbord_submit_form()" id="siteSubmit" class="btn btn-success egcs_submit_button form-control border_radius">Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- END SAMPLE FORM PORTLET-->
			<!-- SITE SELECTION -->
			<!-- END PAGE HEADER-->
			<!-- BEGIN DASHBOARD STATS -->
			<br/>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat green-plum">
						<div class="visual">
							<i class="fa fa-comments"></i>
						</div>
						<div class="details">
							<div class="number">
								{{deposits}}
							</div>
							<div class="desc">
								 Deposits
							</div>
						</div>
						<a class="more" href="/banking/" >
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat red-intense">
						<div class="visual">
							<i class="fa fa-bar-chart-o"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{withdrawals }} 
							</div>
							<div class="desc">
								 Withdrawals
							</div>
						</div>
						<a class="more" href="/banking/" >
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat green-haze">
						<div class="visual">
							<i class="fa fa-shopping-cart"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{ pwithdrawals}}
							</div>
							<div class="desc">
								 Pending Withdrawals
							</div>
						</div>
						<a class="more" href="/egcs/withdrawals/" >
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat red-plum">
						<div class="visual">
							<i class="fa fa-globe"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{reversed_withdrawals}}
							</div>
							<div class="desc">
								Reversed Withdrawals
							</div>
						</div>
						  <a class="more" href="/egcs/get_all_transactions_sum/">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				
				
				
			</div>
			<!-- END DASHBOARD STATS -->
			<!-- BEGIN DASHBOARD STATS -->
			<div class="row">
			
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat purple-plum">
						<div class="visual">
							<i class="fa fa-globe"></i>
						</div>
						<div class="details">
							<div class="number">
							
								 {{declined_withdrawals}}
								 
							</div>
							<div class="desc">
								Declined Withdrawals
							</div>
						</div>
						<a class="more" href="#" >
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat red8-plum">
						<div class="visual">
							<i class="fa fa-shopping-cart"></i>
						</div>
						<div class="details">
							<div class="number">
								 {%if todayregister %} {{todayregister}} {%else%} 0 {%endif%}
							</div>
							<div class="desc">
								 Registrations
							</div>
						</div>
						<a class="more" href="/playerinformation/" >
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat purple-plum">
						<div class="visual">
							<i class="fa fa-globe"></i>
						</div>
						<div class="details">
							<div class="number">
								 {%if uniquelogincount %}{{uniquelogincount}} {%else%} 0 {%endif%}
							</div>
							<div class="desc">
								Unique Logins
							</div>
						</div>
						<a class="more" href="/uniquelogins/" >
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat red3-plum">
						<div class="visual">
							<i class="fa fa-globe"></i>
						</div>
						<div class="details">
							<div class="number">
								 {%if logintoday %} {{logintoday}} {%else%} 0 {%endif%}
							</div>
							<div class="desc">
								Logins
							</div>
						</div>
						<a class="more" href="/player_logins/" >
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				
				
				
			</div>
			<!-- END DASHBOARD STATS -->
			<!-- BEGIN DASHBOARD STATS -->
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat red5-plum">
						<div class="visual">
							<i class="fa fa-globe"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{net_revenue}}
							</div>
							<div class="desc">
								Net Revenue
							</div>
						</div>
						  <a class="more" href="/egcs/get_all_transactions_sum/">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat red7-plum">
						<div class="visual">
							<i class="fa fa-shopping-cart"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{rake_amount}}
							</div>
							<div class="desc">
								 Rake
							</div>
						</div>
						<a class="more" href="#" >
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat red2-plum">
						<div class="visual">
							<i class="fa fa-globe"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{email_sent}}
							</div>
							<div class="desc">
								Emails Sent
							</div>
						</div>
						<a class="more" href="#" >
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat red6-plum">
						<div class="visual">
							<i class="fa fa-globe"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{sms_sent}}
							</div>
							<div class="desc">
								SMS Sent
							</div>
						</div>
						  <a class="more" href="#">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
					</div>
				</div>
			</div>
			 
			 
			 <div class="clearfix">
			</div>
			
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-cursor font-purple-intense hide"></i>
								<span class="caption-subject font-purple-intense bold uppercase">Transaction Stats</span>
							</div>
						</div>
						<div class="portlet-body" style="min-height: 142px;">
							<div class="row">
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number transactions" data-percent="{{deposits_count}}">
											<span>
											+{{deposits_count}} </span>
											
										</div>
										<a class="title" href="/banking/" >
										Deposits 
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number visits" data-percent="{{withdrawals_count}}">
											<span>
											+{{withdrawals_count}} </span>
											
										</div>
										<a class="title" href="/banking/" >
										Withdrawals 
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number visits" data-percent="{{bonus_codes_used}}">
											<span>
											+{{bonus_codes_used}} </span>
											
										</div>
										<a class="title" href="/banking/" >
										Bonus Codes Used 
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
				<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-cursor font-purple-intense hide"></i>
								<span class="caption-subject font-purple-intense bold uppercase">Games Stats</span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="row">
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number transactions" data-percent="{{cash_games_played}}">
											<span>
											+{{cash_games_played}} </span>
											
										</div>
										<a class="title" href="javascript:;">
										Cash Games Played 
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
								
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number visits" data-percent="{{free_games_played}}">
											<span>
											+{{free_games_played}} </span>
											
										</div>
										<a class="title" href="javascript:;">
										Free Games Played <!-- <i class="icon-arrow-right"></i>  -->
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number transactions" data-percent="{{tourneys_played}}">
											<span>
											+{{tourneys_played}} </span>
											
										</div>
										<a class="title" href="javascript:;">
										Tournaments Played 
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix">
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-cursor font-purple-intense hide"></i>
								<span class="caption-subject font-purple-intense bold uppercase">User Stats</span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="row">
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number transactions" data-percent="{{deposit_tried}}">
											<span>
											+{{deposit_tried}} </span>
											
										</div>
										<a class="title" href="/banking/" >
										  Tried to Deposit 
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number visits" data-percent="{{withdraw_tried}}">
											<span>
											+{{withdraw_tried}} </span>
											
										</div>
										<a class="title" href="/banking/" >
										Tried to Withdraw 
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number visits" data-percent="{{transaction_declined}}">
											<span>
											+{{transaction_declined}} </span>
											
										</div>
										<a class="title" href="/banking/" >
										Transactions Declined 
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
				<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-cursor font-purple-intense hide"></i>
								<span class="caption-subject font-purple-intense bold uppercase">Loyalty Stats</span>
							</div>
						</div>
						<div class="portlet-body" style="min-height: 142px;">
							<div class="row">
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number transactions" data-percent="{{loyalty_earned}}">
											<span>
											+{{loyalty_earned}} </span>
											
										</div>
										<a class="title" href="javascript:;">
										Points Earned 
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number visits" data-percent="{{loyalty_churned}}">
											<span>
											+{{loyalty_churned}} </span>
											
										</div>
										<a class="title" href="javascript:;">
											Points Churned
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number visits" data-percent="{{loyalty_converted}}">
											<span>
											+{{loyalty_converted}} </span>
											
										</div>
										<a class="title" href="javascript:;">
										Points Converted 
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix">
			</div>
			
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-cursor font-purple-intense hide"></i>
								<span class="caption-subject font-purple-intense bold uppercase">Bonus Stats</span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="row">
								
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number visits" data-percent="{{bonus_released}}">
											<span>
											+{{bonus_released}} </span>
											
										</div>
										<a class="title" href="/banking/" >
										Bonus Released
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number transactions" data-percent="{{bonus_awarded}}">
											<span>
											+{{bonus_expired}} </span>
											
										</div>
										<a class="title" href="/banking/" >
										  Bonus Expired
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number visits" data-percent="{{bonus_forfeited}}">
											<span>
											+{{bonus_forfeited}} </span>
											
										</div>
										<a class="title" href="/banking/" >
										Bonus Forfeited
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
				<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-cursor font-purple-intense hide"></i>
								<span class="caption-subject font-purple-intense bold uppercase">Feature Stats</span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="row">
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number transactions" data-percent="{{ai}}">
											<span>
											+{{ai}} </span>
											
										</div>
										<a class="title" href="javascript:;">
										AI
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number visits" data-percent="{{eap}}">
											<span>
											+{{eap}} </span>
											
										</div>
										<a class="title" href="javascript:;">
											EAP
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
								<div class="col-md-4">
									<div class="easy-pie-chart">
										<div class="number visits" data-percent="{{sc}}">
											<span>
											+{{sc}} </span>
											
										</div>
										<a class="title" href="javascript:;">
										SC
										</a>
									</div>
								</div>
								<div class="margin-bottom-10 visible-sm">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix">
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12"  >
				<!-- BEGIN SAMPLE TABLE PORTLET -->
					<div class="portlet light" style="height:650px;">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-bar-chart font-green-sharp hide"></i>
								<span class="caption-subject font-green-sharp bold uppercase"> Device Statistics</span>
								<span class="caption-helper"></span>
							</div>
						</div>
						
						
							<iframe  name ="myIframe" src="/egcs/uniquelogins_by_device/" width ='100%' height ="560" frameBorder="0" ></iframe>
						
					<!-- END SAMPLE TABLE PORTLET-->
					</div>
				</div>
			</div>
			
			
			
			
			<div class="clearfix">
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<!-- BEGIN PORTLET-->
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-bar-chart font-green-sharp hide"></i>
								<span class="caption-subject font-green-sharp bold uppercase">LOGIN COUNT GRAPH</span>
								<span class="caption-helper"></span>
							</div>
							<!--  <div class="actions">
								<div class="btn-group btn-group-devided" data-toggle="buttons">
									<label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
									<input type="radio" name="options" class="toggle" id="option1">New</label>
									<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
									<input type="radio" name="options" class="toggle" id="option2">Returning</label>
								</div>
							</div> -->
						</div>
						<div class="portlet-body">
							<!--  <div id="site_statistics_loading">
								<img src="/static_files/assets/admin/layout/img/loading.gif" alt="loading"/>
							</div> -->
							 <div class="chart">
								 <iframe  src="/loginsgraph/" width = "400" height ="600" scrolling="no" frameBorder="0" ></iframe>
							 </div>
							<!--  <div id="site_statistics_content" class="display-none">
								 <div class="chart">
								<iframe  name ="myIframe" frameBorder="0" src="/cashflow/" width = "540" height ="400" scrolling="no"></iframe>
								</div>
							</div> -->
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
				<div class="col-md-6 col-sm-6">
					<!-- BEGIN PORTLET-->
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-bar-chart font-green-sharp hide"></i>
								<span class="caption-subject font-green-sharp bold uppercase">Players Flow Graph</span>
								<span class="caption-helper"></span>
							</div>
							<!--  <div class="actions">
								<div class="btn-group btn-group-devided" data-toggle="buttons">
									<label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
									<input type="radio" name="options" class="toggle" id="option1">New</label>
									<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
									<input type="radio" name="options" class="toggle" id="option2">Returning</label>
								</div>
							</div> -->
						</div>
						<div class="portlet-body">
							<!--  <div id="site_statistics_loading">
								<img src="/static_files/assets/admin/layout/img/loading.gif" alt="loading"/>
							</div> -->
							<div class="chart">
								 <iframe  src="/playergraph/" width = "400" height ="600" scrolling="no" frameBorder="0">
								</iframe> 
							</div>
							<!--  <div id="site_statistics_content" class="display-none">
								 <div class="chart">
								<iframe  name ="myIframe" frameBorder="0" src="/cashflow/" width = "540" height ="400" scrolling="no"></iframe>
								</div>
							</div> -->
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
			</div>

			<div class="clearfix">
			</div>
			
			<div class="clearfix">
			</div>
			</div>
		</div>
	</div>
	<!-- END CONTENT -->
	<!-- BEGIN QUICK SIDEBAR -->
	<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{% include "egcs/new_design/footer.html" %}
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/static_files/assets/global/plugins/respond.min.js"></script>
<script src="/static_files/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="/static_files/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/static_files/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<!--  <script src="/static_files/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> -->

<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="/static_files/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<script src="/static_files/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
<script src="/static_files/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/icheck/icheck.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/form-icheck.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="/static_files/js/utils.js"></script>
<script type="text/javascript" src="/static_files/js/egcs_new_design_common.js"></script>
<!-- HIGHCHARTS START-->
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>
<!-- HIGHCHARTS END-->
<script>

jQuery(document).ready(function() {
   Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   Index.init();
   //Index.initDashboardDaterange();
   Index.initJQVMAP(); // init index page's custom scripts
   Index.initCalendar(); // init index page's custom scripts
   Index.initCharts(); // init index page's custom scripts
   Index.initChat();
   Index.initMiniCharts();
   //Tasks.initDashboardWidget();
   FormiCheck.init(); // init page demo 
   egcsTools.initDashboardDaterange("left");
   
   $(".network_devices a").click(function(event){
	    var channel = $(this).attr("channel");
	    $("#ChannelID").val(channel);
	    event.preventDefault();
	    dashbord_submit_form();
	});   
});


function show_sites(){
	//$("#siteFilter").toggle(850)
	if ($("#siteFilter").is(':visible')) {
		$("#siteFilter").slideUp('slow');
	}
	else{
		$("#siteFilter").slideDown('slow');
	}
}

function siteselectAll(){
	//var a = $("#SiteListDiv").find('input:checkbox');
	//$(a).attr('checked','checked');
	
	$("#SiteListDiv .icheckbox_minimal-grey").addClass('checked')
	$("input[name='siteids'").attr("checked", "checked");
}

function siteclearAll(){	
	//var a = $("#SiteListDiv").find('input:checkbox');
	//$(a).removeAttr('checked');
	
	$("#SiteListDiv .icheckbox_minimal-grey").removeClass('checked')
	$("input[name='siteids'").removeAttr("checked");
}


function dashbord_submit_form(){
	$("form[name=DashBoardForm]").submit();
}

$(document).ready(function() {
	$("#customid").change(function() {
	
		if($(this).val() == "Custom"){
			document.form.fromdate.style.display="block";
			document.form.todate.style.display="block";
		}
		else{
			document.form.fromdate.style.display="none";
			document.form.todate.style.display="none";
			$('label[for="fromdate"]').hide();
		}
	});
	
	
	/*
	$.ajax({
		  type: "GET",
		  url: "/mainchart/",
		  //data: post_data,
		  dataType: 'json',
		  success: function(data) {
				if (data.status == "success"){
					drawHighChart(data);
				}
				else{
					alert("error");

				}
		  }
      });
	*/
	//$('.page-toolbar').toggle(function(){
	 //      $(".azeem").slideDown();

	   //},function(){
	    //   $(".azeem").slideUp();
	   //});
	
});


window.onload = function() {
	var value = document.getElementById('customid').value;
	if (value == 'Custom'){
		document.form.fromdate.style.display="block";
		document.form.todate.style.display="block";
		//$('#fromdate ,label[for="#fromdate"]').hide()
		      $('label[for="fromdate"]').show();
	}
}

</script>
<!-- END JAVASCRIPTS -->
<script>
$(function() {
var d = new Date();
d.setDate(d.getDate() + 1);
var maxDateSelection = d.getMonth().toString()+"/"+d.getDate().toString()+"/"+d.getFullYear().toString();
$( "#datepicker" ).datepicker({changeYear: true,changeMonth:true,minDate:"08/03/2012",maxDate:maxDateSelection});
$( "#datepicker1" ).datepicker({changeYear: true,changeMonth:true,minDate:"08/03/2012",maxDate:maxDateSelection});;
});


//paste this code under head tag or in a seperate js file.
// Wait for window load
$(window).load(function() {
	// Animate loader off screen
	$(".se-pre-con").fadeOut("slow");;
});
</script>


</body>
<!-- END BODY -->
</html>