<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>Bingo & Casino Affiliate Program| High Revshare Deals| Fozil Partners</title>
	<meta name="description" content="Fozil Partnersis an exclusive casino and bingo affiliate programofferinghigh Revshare deals for promoting its brands. Become an affiliate with Fozil Partners andmake your trafficgrow your business." />
	<meta name="Keywords" content="Fozil Partners, Casino Affiliate, Casino Affiliate Program, Bingo Affiliate Program, Affiliate Management, High Revshare Deals, Best Affiliate Program" />
<link rel="icon" type="image/png" href="/static_files/fp_images/fp-favicon.ico" />
    <!-- Bootstrap core CSS -->
    <link href="/static_files/fp_css/bootstrap.min.css" rel="stylesheet">

	   <link rel="stylesheet" type="text/css" href="/static_files/fp_css/slick.css">
	<link rel="stylesheet" type="text/css" href="/static_files/fp_css/slick-theme.css">

    <!-- Custom styles for this template -->
    <link href="/static_files/fp_css/layout-main.css" rel="stylesheet">

	
	  <style>
	  
	  .carousel-item {
  min-height: 640px;
  background: no-repeat center center scroll;
}

.header-full-bg { margin-right:0;padding:10px; background:none;}
		 
	  </style>

  </head>
  
    <body>
	
		<div class="all-header">
		
			{%include "fp/fp-header.html" %}
		
		</div> <!-- Header -->
		
		<div class="clearfix"></div>
		
		<section>
		
			<div class="full-slider full-slider-mobile">
			
			 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/static_files/fp_images/fp-slider1.png')">

          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/static_files/fp_images/fp-slider2.png')">

          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/static_files/fp_images/fp-slider3.png')">

          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
			
				<!-- <div class="container">
				
					<div class="row slider-middle">
					
						<div class="col-md-6 slider-left-section">
							<h3 class="slider-left-text">White Label Solutions</h3>
							<a href="/fp/trn-contact/"><button type="button" class="white-button-top btn">Join us ></button></a>
						</div>
						
						<div class="col-md-6 slider-right-section">
							<img src="/static_files/fp_images/slider-right-image.png" class="img-responsive" />
						</div>
					
					</div> <!-- End of Row --
				
				</div> -->
			
			</div> <!-- End of Full Slider -->
		
		</section>
		
		<div class="clearfix"></div>
		
		<section>
		
			<div class="full-width-all">
			
				<div class="mobile-text-left container text-center">
				
				<img src="/static_files/fp_images/icon_1.svg" class="icon-image"/>
				
					<h3 class="text-center-bold">Welcome To A Partnership You Cannot Resist!</h3>
					
					<p class="para-text-all-white">Welcome to the most rewarding iGaming affiliate program around! Whether you’re a new affiliate or one that’s been round here ages, Fozil Partners is the right program for you. We offer you the best converting slots and bingo brands across various platforms to promote to your traffic. 
					</p>
					
					<p class="para-text-all-white">Watching your revenue grow has never been easier! Sign up with us, grab our top tools, create your campaigns with just a few clicks and you’re ready to go. We’ll give you enough data to optimize your campaigns as we take care of the traffic you send our way.
					</p>
				
				</div>
			
			</div> <!-- End of Full Slider -->
		
		</section>
		
		<div class="clearfix"></div>
		
		<section>
		
		<div class="full-content-white">
		
			<div class="container">
				
					<div class="row">
					
						<!-- <h3 class="content-heading-text content-heading-text no-underline">Services</h3> -->
						
						<div class="content-images-all1">
						<br/><br/>
						<ul class="ul-list12">
							
							<div class="col-sm-12">
								<li><a href="/fp/trn-services/">
								<img src="/static_files/fp_images/1_brands.svg" /><br/>Brands</a>
								<p class="padding-adjust-home">Find a great mix of brands to work with across top gaming software providers known for the best content available in the industry</p>
								</li>
							</div>
								
								<div class="col-sm-12">
								<li><a href="/fp/trn-services/">
								<img src="/static_files/fp_images/2_deals.svg" /><br/>Deals</a>
								<p class="padding-adjust-home">Run campaigns at lucrative deals designed to suit your specific type of promotions and traffic, speak to your affiliate manager for details</p>
								</li>
								</div>
								
								<div class="col-sm-12">
								<li><a href="/fp/trn-services/">
								<img src="/static_files/fp_images/3_support.svg" /><br/>Support</a>
								<p class="padding-adjust-home">Our experienced affiliate managers are at your service, you’ll have one assigned to your account as soon as you’re onboard!</p>
								</li>
								</div>
								
								<div class="col-sm-12">
								<li><a href="/fp/trn-services/">
								<img src="/static_files/fp_images/4_software.svg" /><br/>Software</a>
								<p class="padding-adjust-home">Fozil Partners is powered by the fresh new Wynta software developed based on top affiliate feedback with the aim to please and deliver!</p>
								</li>
								</div>
							
							</ul>
						
						</div> <!-- Images content display -->
						
					</div>
					
			</div>
			
		</div>
		
		</section>
		
		<div class="clearfix"></div>
		
		

		<section>
		
		<div class="full-content-gray">
		
			<div class="container">
				
					<div class="row">
					
					<img src="/static_files/fp_images/why_f.svg" class="why-fp-home"/>
					
						<h3 class="text-center-bold text-center content-heading-text no-underline">Why Fozil Partners is the right program for you!</h3>
						
						<p class="para-home">We said it at the top of the page, we’ll say it again – we are the right program for you, and here’s some of the reasons why:</p>
						
						<div class="content-images-all1">
						
						<ul class="ul-list1 ul-list123">
						
							<div class="col-md-12 col-sm-12">
								<li><a href="/fp/trn-services/">
								<img src="/static_files/fp_images/1_bespokedeals.svg" /><br/><br/>Bespoke Deals</a>
								<p class="padding-adjust-home1">We won’t just leave you in the lurch once you partner with us! Get in touch, tell us what you’ll send us and we’ll set you up on the best deal in town!</p>
								</li>
							</div>
								
							<div class="col-md-12 col-sm-12">
								<li><a href="/fp/trn-services/">
								<img src="/static_files/fp_images/2_statusandgo.svg" /><br/><br/>Stats on the go!</a>
								<p class="padding-adjust-home1">Check your stats on your mobile as easily as you would on your desktop, we’re all about user experience and you, dear user, are going to love it!</p>
								</li>
							</div>
							
							<div class="col-md-12 col-sm-12">
								<li><a href="/fp/trn-services/">
								<img src="/static_files/fp_images/3_marketingtools.svg" /><br/><br/>Marketing Tools</a>
								<p class="padding-adjust-home1">Name your campaign needs and we’ll provide you them! If we’ve not got them in the program yet, we’ll happily create some for you in no time!</p>
								</li>
							</div>
								
							</ul>
						
						</div> <!-- Images content display -->
						
					</div>
					
			</div>
			
		</div>
		
		</section>
		
		<div class="clearfix"></div>
		
		<!-- <section>
		
		<div class="full-content-white">
		
			<div class="container">
				
					<div class="row">
					
						<h3 class="content-heading-text content-heading-text no-underline">What our users say</h3> 
						<p class="text-center-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
						<div class="content-images-all1">
						<br/><br/>
						<ul class="ul-list12 ul-list122">
							
								<li><a href="/fp/trn-services/">
								<img src="/static_files/fp_images/fp-user-tr.png" /><br/>Taj Rummy</a>
								<p class="padding-adjust-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</li>
								
								<li><a href="/fp/trn-services/">
								<img src="/static_files/fp_images/fp-user-ir.png" /><br/>Indigo Rummy</a>
								<p class="padding-adjust-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</li>
								
								<li><a href="/fp/trn-services/">
								<img src="/static_files/fp_images/fp-user-rc.png" /><br/>Rummy Central</a>
								<p class="padding-adjust-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</li>
								
								<li><a href="/fp/trn-services/">
								<img src="/static_files/fp_images/fp-user-hr.png" /><br/>Hero Rummy</a>
								<p class="padding-adjust-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</li>
							
							</ul>
						
						</div> <!-- Images content display --
						
					</div>
					
			</div>
			
		</div>
		
		</section> -->
		

		
		<div class="all-footer">

			{%include "fp/fp-footer.html" %}

		</div> <!-- All Footer -->
		

		
	
	<script src="/static_files/fp_js/slick.js" type="text/javascript" charset="utf-8"></script>
  </script>

	</body>

<script type="text/javascript">

	$(document).ready(function(){
		/*$(".").slick({
         slidesToShow: 3,
          slidesToScroll: 2,
          autoplay:false,
          autoplaySpeed: 4000,
              });*/


              $('.trn-partners-sliders').slick({
  slidesToShow: 3,
          slidesToScroll: 2,
          autoplay:false,
          autoplaySpeed: 4000,
  responsive: [
  
  {
      breakpoint: 1190,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },

  {
      breakpoint: 1290,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
	
	 {
      breakpoint: 760,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
	
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 950,
      settings: {
        slidesToShow:2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});

	});

</script>
 </html>
	
	