{% extends "admin/base_site.html" %}
{% load i18n %}

{% block coltype %}colM{% endblock %}
{% block branding %}
<h1 id="site-name">{% trans 'Rummy EGAP' %}</h1>
{% endblock %}

{% block userlinks %}
{% url 'admin:password_change' as password_change_url %}
{% if password_change_url %}
<a href="{{ password_change_url }}">
{% else %}
<a href="{{ root_path }}password_change/">
{% endif %}
{% trans 'Change password' %}</a> /
{% url 'admin:logout' as logout_url %}
{% if logout_url %}
<a href="{{ logout_url }}">
{% else %}
<a href="{{ root_path }}logout/">
{% endif %}
{% trans 'Log out' %}</a>
{% endblock %}



{% block content %}

<h1>Rummy Game Admin</h1>
<div id="content-main">
<div class="module">
<!-- 
<table>
<tr>
<th scope="row"><a href="/seeusers/" title="All users">{% blocktrans %}Players{% endblocktrans %}</a></th></tr>
</table>
 -->
<hr/>
<br/>

<table>
<tr>
<th scope="row"><a href="/egcs/search/" title="All users">{% blocktrans %}Search Players{% endblocktrans %}</a></th></tr>
</table>



<hr/>
<br/>

    <table>
<tr>
<th scope="row"><a href=/egcs/account-manager/>Account Manager</a>
</th></tr>
</table>

<hr/>
<br/>


<table>
<tr>
<th scope="row"><a href=/admin/userapp/accountmanager/>All Account Managers</a>
</th></tr>
</table>

    <hr/>
<br/>
<table>
<tr>
<th scope="row"><a href="/egcs/player_balance_updates/">Player Balance Updates </a>
</th></tr>
</table>

<hr/>
<br/>
<table>
<tr>
<th scope="row"><a href="/manage/filter_level.htm/">Filter Player </a>
</th></tr>
</table>
<!--
<hr/>
<br/>
<table>
  <tr>
<th scope="row"><a href="/lockedplayerreport/">Locked Players </a>
</th></tr>
</table>
-->
<hr/>
<br/>
<table>
<tr>
<th scope="row"><a href="/playerinformation/">Player Information</a>
</th>
<!-- <th scope="row"><a href="/egcs/profile_changed_players/" />Profile Changed Players</a>
</th> -->
</tr>
</table>
<hr/>
<br/>

<table>
<tr>
<th scope="row"><a href=/egcs/transaction/>Transaction</a>
</th></tr>
</table>
<hr/>
<br/>

<table>
<tr>
<th scope="row"><a href=/egcs/tourneytransactions/>Tourney Transactions</a>
</th></tr>
</table>
<hr/>
<br/>


<table>
<tr>
<th scope="row"><a href=/egcs/transactionorder/>Order/Transaction</a>
</th></tr>
</table>
<hr/>
<br/>

<table>
<tr>
<th scope="row"><a href=/egcs/flash_active_players/>Flash Active Players</a>
</th></tr>
</table>
<hr/>
<br/>

<table>
<tr>
<th scope="row"><a href=/egcs/flashaccess_uniquelogins/>Flash Unique Logins</a>
</th></tr>
</table>
<hr/>
<br/>
<table>
<tr>
<th scope="row"><a href=/egcs/flashaccess_logins/>Flash Logins</a>
</th></tr>
</table>

<hr/>
<br/>

<table>
<tr>
<th scope="row"><a href=/egcs/locked_accounts/>Locked Accounts</a>
</th></tr>
</table>

<hr/>
<br/>

<table>
<tr>
<th scope="row"><a href=/egcs/disabled_accounts/>Disabled Accounts</a>
</th></tr>
</table>

<hr/>
<br/>

<table>
<tr>
<th scope="row"><a href=/egcs/kyc/>KYC</a>
</th></tr>
</table>

<hr/>
<br/>


</div>

</div>
{% endblock %}

