<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker1" ).datepicker();
    $( "#datepicker2" ).datepicker();
  } );
  </script>
</head>
<body>

{% extends "admin/base_site.html" %}
{% load i18n %}

{% block coltype %}colM{% endblock %}
{% block branding %}
<h1 id="site-name">{% trans 'Rummy EGAP' %}</h1>
{% endblock %}

{% block userlinks %}
{% url 'admin:password_change' as password_change_url %}
{% if password_change_url %}
<a href="{{ password_change_url }}">
{% else %}
<a href="{{ root_path }}password_change/">
{% endif %}
{% trans 'Change password' %}</a> /
{% url 'admin:logout' as logout_url %}
{% if logout_url %}
<a href="{{ logout_url }}">
{% else %}
<a href="{{ root_path }}logout/">
{% endif %}
{% trans 'Log out' %}</a>
{% endblock %}


{% block content %}
<center>
<h1>Player Reports</h1>

    <h2>{{message}}</h2>
    <h4>
 <form action="." method="POST">
     {% csrf_token %}
     <p>Playerid <input type="text" name="playerid"/></p>

     <p>From Date: <input type="text" id="datepicker1" name="fromdate"></p>
     <p>To Date: <input type="text" id="datepicker2" name="todate"></p>

     <input type="submit" value="Submit">

 </form>
</h4></center>
{% endblock %}


</body>
</html>