<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Play Online Rummy Games and Win Bonus Cash Prizes | Rummy Game</title>
 <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link rel="icon" type="image/png" href="/static_files/images/favicon.gif" />
<meta name="description" content="know more about the newest exciting special deals of Indian rummy games online at Tajrummy to get the best bonus and offers to participate in rummy games and mega rummy game tournaments, rummy game and win real cash prizes for Free." />
<meta name="language" content="en" />
<meta name="Keywords" content="Game Rummy, Games Rummy, Game of Rummy, Rummy Game, Rummy Promotions" />


<link href="/static_files/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static_files/css/layout.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
if (/*@cc_on!@*/false) {
    document.documentElement.className+=' ie10';
}
</script>


<!--[if gte IE 8]>
<link rel="stylesheet" type="text/css" href="/static_files/css/gteie8.css" />
<![endif]-->


<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>

<script src="/static_files/src/jquery.infieldlabel.js" type="text/javascript" charset="utf-8"></script>
<script src="/static_files/src/jquery.infieldlabel.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
		$(function(){ $("label").inFieldLabels(); });
	</script>
	<!--[if lte IE 6]>
		<style type="text/css" media="screen">
			form label {
					background: #fff;
			}
		</style>
	<![endif]-->
	
<script src="/static_files/js/ddaccordion.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/static_files/js/jquery_vslider.js" ></script>

<script src="/static_files/js/jquery-1.9.1.main.js"></script>

<script src="/static_files/js/jquery-ui.js"></script>
<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>


<script type="text/javascript">

  var _gaq = _gaq || [];

  _gaq.push(['_setAccount', 'UA-34156985-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();

</script>

</head>

<body>

<script type="text/javascript">
(function() {
    try {
        var viz = document.createElement("script");
        viz.type = "text/javascript";
        viz.async = true;
        viz.src = ("https:" == document.location.protocol ?"https://cdn6.vizury.com" : "http://cdn6.vizury.com")+ "/analyze/pixel.php?account_id=VIZVRM1458";

        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(viz, s);
        viz.onload = function() {
            try {
                pixel.parse();
            } catch (i) {
            }
        };
        viz.onreadystatechange = function() {
            if (viz.readyState == "complete" || viz.readyState == "loaded") {
                try {
                    pixel.parse();
                } catch (i) {
                }
            }
        };
    } catch (i) {
    }
})();
</script>

<!-- Advertiser 'Grid Logic Software Private Limited-INR',  Include user in segment '1726749_Grid _Tajrummy_CPC_Nov 2013_SRT_Pixel_112913' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<img src="https://ad.yieldmanager.com/pixel?id=2448768&t=2" width="1" height="1" />
<!-- End of segment tag -->
<!--HEADER STARTS HERE-->
<div align="center">
{% if obj %}

{% include "Tajrummy/header_after_login.html" %}


{%else%}

{% include "Tajrummy/header_before_login.html" %}


{%endif%}


</div>
<!--HEADER ENDS HERE-->

<div class="main_bg">
<div id="main_content_wrapper_inner_page_top" align="center">
<div class="main_content_wrapper_inner_page_top">

<div class="main_content_wrapper_inner_page_top_box1">
  <div class="main_content_wrapper_inner_page_top_box1_sub2">
  <p class="page_headings">Promotions</p>
  

<div style="width:100%; border:1px solid #E7C39A; border-radius:5px">
        
        <div style="background:#f9f1e4; border-radius:5px; margin:5px;">

 <div class="inner_one" style="padding-top:10px; padding-bottom:1px;">


<div class="inner_blk">

<div class="promo_block">
<div class="game_blk1">
<div class="game_blk_left2 fr">
<h2>Get Welcome Bonus</h2>
<p>Make a First Deposit today and you will be entitled with a 100% Welcome Bonus.</p>
<div class="know_btn"><a class="know_more" href="/13card-free-rummy-welcome-bonus/"></a></div>
<div class="clear"></div>
</div>
<div class="game_blk_right2 fl"><img src="/static_files/images/welcomebonus_small.png" alt="Signup Bonus" width="150" /></div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>


<div class="promo_block">
<div class="game_blk1">
<div class="game_blk_left2">
<h2>Free Login Cash</h2>
<p>Play &amp; Win on cash games  as we will  credit your account with a login bonus of Rs.10  every  day when you login.</p>
<div class="know_btn"><a class="know_more" href="/online-rummy-promotion-free-login-cash/"></a></div>
<div class="clear"></div>
</div>
<div class="game_blk_right2"><img src="/static_files/images/logincash_small.png" alt="Free Login Cash" width="150" /></div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>



<div class="promo_block">
<div class="game_blk1">
<div class="game_blk_left2 fr">
<h2>Deposit Bonus Codes</h2>
<p>Taj Rummy is offering its players with startling bonus offers this December, avail 30% to 100% Bonus on your deposits by using the below codes.</p>
<div class="know_btn"><a class="know_more" href="/free-rummy-bonus-code/"></a></div>
<div class="clear"></div>
</div>
<div class="game_blk_right2 fl"><img src="/static_files/images/bonus_small.png" alt="deposit bonus codes" width="150" /></div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="promo_block">
<div class="game_blk1">
<div class="game_blk_left2">
<h2>Golden Deal</h2>
<p>Looking for a Gold Coin this month? Taj Rummy is giving away Gold Coins everyday through this special promotion.</p>
<div class="know_btn"><a class="know_more" href="/rummy_gold_coin_promo/"></a></div>
<div class="clear"></div>
</div>
<div class="game_blk_right2"><img src="/static_files/images/goldcoin_small.png" alt="golden deal" width="150" /></div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="promo_block">
<div class="game_blk1">
<div class="game_blk_left2 fr">
<h2>Cash Back Rewards</h2>
<p>Every rupee you spend counts. That's right, the more you spend the more chances you have to claim your share of Rs: 10000 Cash.</p>
<div class="know_btn"><a class="know_more" href="/online-rummy-promotion-cashback-rewards/"></a></div>
<div class="clear"></div>
</div>
<div class="game_blk_right2 fl"><img src="/static_files/images/cashback_small.png" alt="Cash Back Rewards" width="150" /></div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="promo_block">
<div class="game_blk1">
<div class="game_blk_left2">
<h2>Weekend Free Cash</h2>
<p>Every weekend our top 5 wagerers get rewarded with a share of Rs: 3000 to start their week in style.</p>
<div class="know_btn"><a class="know_more" href="/online-rummy-promotion-weekend-free-cash/"></a></div>
<div class="clear"></div>
</div>
<div class="game_blk_right2"><img src="/static_files/images/weekend_small.png" alt="Weekend Free Cash" width="150" /></div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>





</div></div></div></div>

  </div>
<div class="clear"></div>


</div>



<div class="main_content_wrapper_inner_page_top_box2">

<!--accordian starts here-->
	{% include "Tajrummy/right_sidebar_menu_after_login.html" %}
<!--accordian Ends here-->



</div>

<div class="clear"></div>

</div>
</div>
</div>

<!--GALLERY STARTS HERE-->


<!---Tabs Starts Here--->

{% include "Tajrummy/bottom_tabs.html" %} 

<!---Tabs Ends Here--->


<!---Footer Starts Here--->
{% include "Tajrummy/middle_menu.html" %}
<!---Footer Ends Here--->
</body>
</html>
