<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Taj Rummy - Free Rummy Online, Free Online Rummy, Online Rummy Free, Rummy Online Free</title>
 <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<meta name="description" content="Tajrummy.com ensures and would try to address issues that may arise while playing online rummy free games or browsing at www.tajrummy.com. Happy Gaming!!" />
<meta name="language" content="en" />
<meta name="Keywords" content="rummy online free, online rummy free, free rummy online, free online rummy">

<link href="/static_files/css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>

<!--<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>-->
	
<script src="/static_files/js/ddaccordion.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/static_files/js/jquery_vslider.js" ></script>



<script src="/static_files/js/languages/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8"></script>
<script src="/static_files/js/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
<script src="/static_files/js/jquery_validation.js" type="text/javascript" charset="utf-8"></script>


</head>

<body>
<!--HEADER STARTS HERE-->
<div align="center">
{% if obj %}

{% include "Tajrummy/header_after_login.html" %}


{%else%}

{% include "Tajrummy/header_before_login.html" %}


{%endif%}


</div>
<!--HEADER ENDS HERE-->

<!--GALLERY STARTS HERE-->

<div align="center">

<div class="main_Menu">{% include "Tajrummy/upper_menu.html" %} </div>

<div id="Top_inner_page_body">



<div class="inner_one">

<!--<div class="lobby_banner_blk">
<div class="lobby_banner"><a href="#"><img src="/static_files/images/lobby_banner.png" width="668" height="178" /></a></div>
<div class="play_btns">
<a href="#"><img src="/static_files/images/play_for_cash_btn.png" alt="Play for Cash" /></a>
<a href="#"><img src="/static_files/images/play_for_fun_btn.png" alt="Play for Fun" /></a>
</div>

</div>-->

<p align="left" class="Body_header" style="padding-top:20px;">Support</p>
<img src="/static_files/images/Taj_rummy_line_2.png" height="24" width="669"/>

<div class="left_block">

<div class="inner_blk">
<h3 class="mail">Email Us</h3>
<p style="padding:10px 0;">Welcome to Taj Rummy Network support. We are proud to provide you with the best of the industry standard support via Email. We will be more than glad to assist you with anything and everything that you need on our website. Our objective is to make your stay on our website – the most pleasant one. Please contact us and be rest assured that your issue will be addressed as soon as possible and to best of your satisfaction.</p>


<!--<form action='/rummy-support/' name='support' method='POST'>
{% csrf_token %}
<table cellpadding="0" cellspacing="0" border="0" width="600" class="sup_form" align="center">
<tbody>
<tr>
<td width="26">&nbsp;</td>
<td width="215"><input name="Username"  maxlength="15" value="" class="validate[required,minSize[4]] text-input registertextfield" type="text"  
placeholder="* Username"/></td>
<td width="13"></td>
</tr>
<tr><td width="100">Name:</td><td><input type="text" value="{{obj.username}}" name="name" /></td><td></td></tr>
<tr><td>Email:</td><td><input type="text" value="{{obj.email}}" name="email" /></td><td></td></tr>
<tr><td>Subject:</td><td><input type="text" value="" name="subject" /></td><td></td></tr>
<tr><td valign="top">Message:</td><td><textarea  value="" name="message"></textarea></td><td></td></tr>
<tr><td></td><td><input type="submit" name="Submit" value="" width="230" class="sub_bu"/></td><td></td></tr>
</tbody>
</table>
</form>-->

<script type="text/javascript">
$(document).ready(function(){
	
	var rummy_support = $('#support').val();
	
 if(rummy_support=="Thank you for your time. Our support team will contact you shortly.")
{
	 
	  $('#response_msg').show();
	  $('#response_msg').addClass('response_msg');
	  	  
}else if(rummy_support=="Please select other Email address .This Email is alrready registered with you ")
{
	  $('#response_msg').hide();
	  $('#response_msg').removeClass('response_msg');

	  $('#response_msg').show();
	  $('#response_msg').addClass('response_msg_error');
	  	  
}else{
	
	  $('#response_msg').hide();
	  $('#response_msg').removeClass('response_msg_error');
	
	}
 
});
</script>

<form id="contactID" name="contactID" method="POST" action="/rummy-support/" >
    {% csrf_token %}

<table width="665" border="0" cellspacing="0" class="register acc_block" align="center">
<tr>
<td colspan="2"><div id="response_msg" style="    display: block; height: 22px; margin-bottom: 10px;">{{response}}</div></td>
<td></td>
</tr>
<td colspan="2">&nbsp;  </td>
</tr>
<tr>
<td>Name:</td>
<td><input name="name"  maxlength="15" value="{{obj.username}}" class="validate[required,minSize[4]] text-input registertextfield" type="text" /></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>

<tr>
<td>Email:</td>
<td><input type="text" name="email" value="{{obj.email}}" class="validate[required,custom[email]] text-input registertextfield" /></td>
<td></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>


<tr>
<td>Subject:</td>
<td><input type="text" name="subject" value="" class="validate[required] text-input registertextfield" maxlength="25" /></td>
<td></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>


<tr>
<td valign="top">Message:</td>
<td><textarea name="message" value="" class="validate[required] text-input registertextfield textarea" rows="5" cols="50"/></textarea></td>
<td></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>

<tr>
<td>&nbsp;</td>
<td><input type="submit" name="Submit" value="" width="230" class="sub_bu1"/></td>
<td>&nbsp;</td>
</tr>

  
<input name="response" type="hidden" value="{{response}}" id="support" />
 </table>

</form>


</div>
<div class="clear"></div>

<div class="inner_blk" style="display:none">
<h3 class="call">Call Us</h3>
<p> Please call XXX-XXX-XXXX for assistance. </p>
</div>

<div class="inner_blk" style="display:none">
<h3 class="help">Live Help</h3>
<p>Please click on Live Help to contact our executive and report your issue.  </p>

</div>
</div>

</div>




<div class="inner_two">

		
{% if obj %}

<div id="left"><div class="container container_12 container_object_734 default">

<script type="text/javascript">
$(document).ready(function() {
	$("#accordion li.head").click(function(){
		$(this).css({backgroundImage:"url('/static/gfx/design/accordion/down.png')"}).next("li.submenu").slideToggle("fast").siblings("li.submenu").slideUp("fast");
       	$(this).siblings("li.head").css({backgroundImage:"url('/static/gfx/design/accordion/left.png')"});
	});
});
</script>


<div id="accordion">


<ul class="menu-accordion">{% if obj.verified|slugify == 'false' %}  
<li class="head">Buy Cash Chips</li>
<li class="submenu">
<ul class="sub">
<li class="item"><a href="/rummy-comingsoon/" id='deposit'>Make a Deposit</a></li>
<li class="item"><a href="/rummy-comingsoon/" id='cashon'>Cash on Delivery Orders</a></li>
</ul></li>
{%else%}
<li class="head">Buy Cash Chips</li>
<li class="submenu">
<ul class="sub">
<li class="item"><a href="/rummy-comingsoon/">Make a Deposit</a></li>
<li class="item"><a href="/rummy-comingsoon/">Cash on Delivery Orders</a></li>
</ul></li>

{%endif%}

<script type="text/javascript">
  var deposit = document.getElementById('deposit')
  var cashon = document.getElementById('cashon')
  deposit.addEventListener('click',dosomething1,false);
  cashon.addEventListener('click',dosomething2,false);
  
  function dosomething1() {
    alert('Please Verify Your Email account');
  }
  function dosomething2() {
    alert('Please Verify Your Email account');
  }
  
  
</script>



<li class="head">My Account</li>
<li class="submenu">
<ul class="sub">
    <li class="item"><a href="/rummy-accountoverview/">Account Overview</a></li> 
	<li class="item"><a href="/rummy-playerprofile/">Profile Overview</a></li>
	<li class="item"><a href="/change_password/{{obj.username}}/">Change Password</a></li>
    <li class="item"><a href="/change_mail/">Update Email Address</a></li>
    <li class="item"><a href="/change_mobile/">Update Mobile Number</a></li>
</ul>
</li>

<li class="head">Bonus Details</li>
<li class="submenu" >
<ul class="sub">
<li class="item"><a href="/rummy-comingsoon/">Bonus Orders</a></li>
</ul>
</li>

<li class="head">Transactions</li>
<li class="submenu">
<ul class="sub">
<li class="item"><a href="/rummy-comingsoon/"> Cash Transactions </a></li>
<li class="item"><a href="/rummy-comingsoon/"> Reconcile Statements </a></li>
<li class="item"><a href="/rummy-comingsoon/"> Game Logs </a></li>
</ul>
</li>

<li class="head">Withdraw Cash</li>
<li class="submenu">
<ul class="sub">
<li class="item"><a href="/rummy-comingsoon/">Withdrawal Options </a></li>
</ul>
</li>

<li class="head active">Help</li>
<li class="submenu" style="display:block;">
<ul class="sub">
    <li class="item"><a href="/rummydownload-getting-started/"> Getting Started </a></li>
	<li class="item"><a href="/howtoplay-rummy-faqs/"> FAQ's </a></li>
    <li class="item"><a href="/rummy-support/"> Contact Us</a></li>
    <li class="item"><a href="/rummy-rules/"> Rummy Rules </a> </a></li>
	<li class="item"><a href="/online-rummy-terms&conditions/"> Terms & Conditions </a></li>
</ul>
</li>


</ul>
</div>
</div>

</div>

{% include "Tajrummy/right_sidebar_menu_after_login.html" %}


{%else%}

{% include "Tajrummy/right_sidebar_menu_before_login.html" %}


{%endif%}

       
</div>
<div class="clear"></div>
</div>
</div>

<!--ENDS STARTS HERE-->

<!--BODY STARTS HERE-->
<!--<div align="center" style="background-image:url(static_files/images/Taj_rummy_new_bg.png)">
<div id="Top_Body">


<div class="clear"></div>
<br />



</div>
</div>

</div>-->
<!--BODY ENDS HERE-->


<!--FOOTER STARTS HERE--><div align="center" id="Footer">
<div class="Footer_inner">


{% include "Tajrummy/middle_menu.html" %}
</div>
</div>



<!--FOOTER ENDS HERE-->
</body>
</html>
