<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
	<link rel="icon" type="image/png" href="/static_files/pmc-styles/images/fav-png-pmc.png" />
    <meta name="author" content="">

    <title>Affiliate Search - Player Management Console</title>

    <!-- Bootstrap core CSS-->
    <link href="/static_files/pmc-styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static_files/pmc-styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static_files/pmc-styles/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

   <!-- Custom styles for this template-->
    <link href="/static_files/pmc-styles/css/sb-admin.css" rel="stylesheet">
	
	<!-- Daterange Picker styles for this template-->
	<link rel="stylesheet" type="text/css" href="/static_files/pmc-styles/css/daterangepicker.css" />

  </head>

  <body id="page-top">

    <!-- Header -->
			 
		 {% include "PMC/new_design/header.html" %}
           
	<!-- Header ends -->
	
	
    <div id="wrapper">

      <!-- Menubar -->
			 
		 {% include "PMC/new_design/menubar.html" %}
           
	<!-- menubar ends -->


      <div id="content-wrapper">
	  
	  <div class="heading-breadcrump">
		 <!-- Breadcrumbs-->
		 <div class="row page-titles">
                <div class="col-md-5 align-self-center pull-left">
                    <h3 class="text-medium">
					Affiliate Search</h3> 
				</div>
                <div class="col-md-7 align-self-center pull-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Home</a></li>
                        <li class="breadcrumb-item">Affiliate Mgmt</li>
						<li class="breadcrumb-item active">Affiliate Search</li>
                    </ol>

                </div>
            </div>

	  </div>

        <div class="container-fluid">

         
          <!-- Icon Cards-->
		  
		  <div class="card card-dash">
		  
		  <div class="row heading-with-date-select">
		  
			<div class="float-left col-md-4 col-sm-12">
			
				<div class="">
									<select name="searchtype" id="searchtype" class="form-control">
										
										<option value="id">Affiliate Id</option>

                      <option value="name">First Name/ Last Name</option>

                      <option value="email">Username/ Email</option>

                      <option value="country">Country</option>

                      <option value="brand">Brand</option>

                      <!-- <option value="software">Software</option> -->

                      <option value="superaff">Super Affiliate</option>

										
									</select>
								
								</div>
			
			</div>
			
			<div class="float-left col-md-4 col-sm-12">
			
				<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="searchname" name="searchname" placeholder="searchname">
								
								</div>
							</div>
			
			</div>
			
			<!-- <div class="float-left col-md-4 col-sm-12">
			
				<div class="">
									<select class="form-control">
										
										<option value="1">Select Site</option>
										<option value="2">Slots Miller</option>
										<option value="2">Slots Circle</option>
										<option value="2">Trippy Slots</option>
										<option value="2">Slots Block</option>
										
									</select>
								
								</div>
			
			</div>
 -->
		  <div class="row">
         
<table class="table table-responsive table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width: 98%;"></table>

        <nav style="float: right">
                  
          <ul class="pagination" style="margin: 5px 0 10px 0"></ul>

                </nav>
      
          </div> <!-- First Row --> 
          
          
		  </div>
		  
		  
		  
		  
		  
		  </div>

          

        </div>
        <!-- /.container-fluid -->

        <!-- footer -->
			 {% include "PMC/new_design/footer.html" %}
           
            <!-- End footer -->

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->


    
  </body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

        <script type="text/javascript">
        $(".dt-buttons").hide();
                            $(document).ready(function(){
                  $(".export-class").click(function(){
                    $(".dt-buttons").toggle();

                  });
                });
                            </script>
  
  <script type="text/javascript">

                 
function date_select(start, end){
    // $("#date-div").html(start + ' - '+ end)
    var start = moment(start);
    var end = moment(end);
    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
    locale: {
      format: 'DD/MM/YYYY'
    },
        maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

}


function addPlayerslistDataTable(ids, headersList, dataList){
    $('#'+ids+':has(tbody)').dataTable().fnDestroy();
    $("#"+ids).dataTable( {"iDisplayLength": 30,
       "data": dataList,
       "columns":headersList,
       // "scrollX": true,
       "ordering": true,
       paging: true,
       searching: false,
       info: false,
       fixedHeader: {
            header: true,
            footer: true
        },
        dom: 'Bfrtip',
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
});
}

function add_data(){
      var fd = $( "form" ).serialize();
    $("#remove-overlay").addClass("overlay");
      $(".preloader").show();
      var token = window.localStorage.getItem("token");
      $.ajax({
              url: '/pmc/search-affiliate/',
              dataType: 'json',
              data: fd,
              async: false,
              type: "POST",
              headers: {"Authorization": "Token "+ token},
              success: function(data) {
                    addPlayerslistDataTable('player_data', JSON.parse(data.data.header_list), JSON.parse(data.data.data_list));
                  $("#remove-overlay").removeClass("overlay");
                    $(".preloader").hide();
          },
              error: function(edata) {
                      status = edata.responseJSON.status;
                      message = edata.responseJSON.message;
                      if (status == "Error"){

                          $('#response_msg').removeClass('success_msg');
                          $('#response_msg').show();
                          $('#response_msg').html(message);
                          $('#response_msg').addClass('error_msg');
                          window.scrollTo(0 ,0), !1;
                      } 
                    }
                    });
    }




jQuery(document).ready(function() {
  add_data();
});

</script>

</html>
