<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
	<link rel="icon" type="image/png" href="/static_files/pmc-styles/images/fav-png-pmc.png" />
    <meta name="author" content="">

    <title>Wynta Bulk Search - Player Management Console</title>

    <!-- Bootstrap core CSS-->
    <link href="/static_files/pmc-styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static_files/pmc-styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static_files/pmc-styles/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

   <!-- Custom styles for this template-->
    <link href="/static_files/pmc-styles/css/sb-admin.css" rel="stylesheet">
	
	 <link href="/static_files/pmc-styles/css/bootstrap-multiselect.css" rel="stylesheet">
	
	<!-- Daterange Picker styles for this template-->
	<link rel="stylesheet" type="text/css" href="/static_files/pmc-styles/css/daterangepicker.css" />
	
	<style>
	.multiselect {background:#fff;}
	</style>
	
  </head>

  <body id="page-top">
  	<!-- <div class="preloader"> -->
        <!-- <svg class="circular" viewBox="25 25 50 50"> -->
			<!-- <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />  -->
		<!-- </svg> -->
    <!-- </div> -->

    <!-- Header -->
			 
		 {% include "PMC/new_design/header.html" %}
           
	<!-- Header ends -->
	
	
    <div id="wrapper">

      <!-- Menubar -->
			 
		 {% include "PMC/new_design/menubar.html" %}
           
	<!-- menubar ends -->


      <div id="content-wrapper">
	  
	  <div class="heading-breadcrump">
		 <!-- Breadcrumbs-->
		 <div class="row page-titles">
                <div class="col-md-5 align-self-center pull-left">
                    <h3 class="text-medium">
					Bulk Search</h3> 
				</div>
                <div class="col-md-7 align-self-center pull-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Home</a></li>
                        <li class="breadcrumb-item">Player Management</li>
						<li class="breadcrumb-item active">Bulk Search</li>
                    </ol>

                </div>
            </div>

	  </div>

        <div class="container-fluid">

         
          <!-- Icon Cards-->
		  
		  <div class="card card-dash">
		  
		  
		  
		  
		  
		  <div class="row">

		  
		<div class="p-30">

			  <form class="form-material" id="forms" method="post" autocomplete="off">
			  	<div class="row bg-f7" style="display:none;">
				
				<a data-toggle="modal" data-target="#searchModal" id="checkpopup" style="display: none;">View Popup</a>
			
			<div class="col-lg-2 col-md-1 col-sm-12 obs">
				<span class="">Select Brand: </span>
			</div>
			
			<div class="col-lg-3 col-md-3 col-sm-12 mb-3">
					
									<select class="form-control" id="siteids" name="siteids" multiple="multiple" style="display:none;">
										<option value="">Select Site</option>

									</select>								
			
			</div>
		  
		  </div>
				  <div class="form-row">					
											
					<div class="col-items col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<input type="number" class="border-effect form-control" id="playerid" name="playerid" placeholder="Player ID">
								 
								</div>
							</div>
					</div>
					<div class="col-items col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="email" name="email" placeholder="Email">
								</div>
							</div>
					</div>
					<div class="col-items col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="alias" name="alias" placeholder="Alias">
								
								</div>
							</div>
					</div>

					<div class="col-items col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<input type="number" class="border-effect form-control" id="age" name="age" placeholder="Age">
								
								</div>
							</div>
					</div>
					<div class="col-items col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="city" name="city" placeholder="City">
								
								</div>
							</div>
					</div>
					<div class="col-items col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="language" name="language" placeholder="Language">
								
								</div>
							</div>
					</div>
					
					<div class="col-items col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="country" name="country" placeholder="Country">
								
								</div>
							</div>
					</div>


					<div class="col-items col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<select id="platform" class="border-effect form-control required" name="platform" class="required">
										<option value="">Platform</option>
										<option value="MOBILE">Mobile</option>
										<option value="WEB">Desktop</option>
										
									</select>
								
								</div>
							</div>
					</div>
					
					<div class="col-items col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<select id="gender" class="border-effect form-control" name="gender">
										<option value="">Select Gender</option>
										<option value="Male">Male</option>
										<option value="Female">Female</option>
										
									</select>

								
								</div>
							</div>
					</div>
					
					<div class="col-items col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<select id="status" class="border-effect form-control" name="status">
										<option value="">Select Status</option>
										<option value="Blocked">Blocked</option>
										<option value="Active">Active</option>
										
									</select>
								
								</div>
							</div>
					</div>
					
					<div class="col-items col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<span class="some-adjust-space"> Registered: </span>
					<div class="pull-right" id="daterange" style="">
              &nbsp; 
              <span id="date-div"></span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main float-right"></i><i class="fa fa-caret"></i> 
             
             </div>
             

        <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;">
            
                <div class="portlet-body form">
                                        
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="reg_fromdate" value="" id="REGDashBoardFromDate" required="True"/>
                                        <input type="hidden" name="reg_todate" value="" id="REGDashBoardToDate" required="True"/>

                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
					</div>
							</div>
					</div>


<div class="col-items col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<span class="some-adjust-space"> FTD Date: </span>
					<div class="pull-right" id="ftddaterange" style="">
              &nbsp; 
              <span id="ftd-date-div"></span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main float-right"></i><i class="fa fa-caret"></i> 
             
             </div>
             

        <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;">
            
                <div class="portlet-body form">
                                        
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="FTDSiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="ftd_fromdate" value="" id="FTDDashBoardFromDate" required="True"/>
                                        <input type="hidden" name="ftd_todate" value="" id="FTDDashBoardToDate" required="True"/>

                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
					</div>
							</div>
					</div>




					<div class="clear"></div>
					
					<div class="submit">
					
						<input type="button" id="submit" class="submit-orange"  onclick="add_data()" value="Submit">
					
					</div>
				  
				  </div>
				  
			  </form>
	
	</div>
	
	  
    </div>
    <div class="card mb-3">
            
			<div class="row">
			
			<div class="col-lg-6 width-50">
              <h5 class="display-inline">Players Details</h5>
			 </div>
			 <div class="export-class col-lg-6 width-50">
				<span class="float-right btn-export-all-one"><img src="/static_files/images/Share_Icon_AI.svg" width="15" style="vertical-align:text-top;"> Export</span>
			 </div> <!-- Export buttons -->
			 
			 </div>
			 
            <!-- <div class="card-body">
              <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div> -->
            <div id="country_data_wrapper" class="table-responsive dataTables_wrapper no-footer dash-fotter-scroll"> 
              <table class="table table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width:100%; max-width: 100%;"></table>
            </div>
            
          </div>
		  
		  </div>

         

		 <!-- Search Modal-->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-big" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Player Details</h5>
            <button class="close" type="button" data-dismiss="modal" onclick="fade_div()" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          
		  <div class="modal-body">
				
				<div class="container">
				
					<div class="row mb-3 nine-five-rem">
					
						<div class="col-lg-3">
							
							<label class="light-color-888">Player ID</label>
							<p><strong id="playerid">12343</strong></p>

						</div>
						
						<div class="col-lg-3">
							
							<label class="light-color-888" >Email</label>
							<p><strong id="email">testing@gmail.com</strong></p>
						
						</div>
						
						<div class="col-lg-3">
							
							<label class="light-color-888">Alias</label>
							<p><strong id="alias">Test Account</strong></p>
						
						</div>
						
						<div class="col-lg-3">
							
							<label class="light-color-888">Age</label>
							<p><strong id="age">32</strong></p>
						
						</div>
					
					</div>
					
					<!-- Second section -->
					
					<div class="row mb-3 nine-five-rem">
					
						<div class="col-lg-3">
							
							<label class="light-color-888">City</label>
							<p><strong id="city">Hyderabad</strong></p>
						
						</div>
						
						<div class="col-lg-3">
							
							<label class="light-color-888">Language</label>
							<p><strong id="language">English - UK</strong></p>
						
						</div>
						
						<div class="col-lg-3">
							
							<label class="light-color-888">Country</label>
							<p><strong id="country">United Kingdom</strong></p>
						
						</div>
						
						<div class="col-lg-3">
							
							<label class="light-color-888">Platform</label>
							<p><strong id="registeredplatform">Mobile</strong></p>
						
						</div>
					
					</div>
					
					<!-- Third Section -->
					
					<div class="row mb-3 nine-five-rem">
					
						<div class="col-lg-3">
							
							<label class="light-color-888">Gender</label>
							<p><strong id="gender">Male</strong></p>
						
						</div>
						
						<div class="col-lg-3">
							
							<label class="light-color-888">Status</label>
							<p><strong id="status">Approved</strong></p>
						
						</div>
						
						<div class="col-lg-3">
							
							<label class="light-color-888">Registered date</label>
							<p><strong id="registereddate">1/1/2019</strong></p>
						
						</div>
						
						<div class="col-lg-3">
							
							<label class="light-color-888">FTD Date</label>
							<p><strong id="firstdepositdate">2/1/2019</strong></p>
						
						</div>
					
					</div>
					
					<!-- Fourth section -->
					
					<div class="row mb-3 nine-five-rem">
					
						<div class="col-lg-3">
							
							<label class="light-color-888">Currency</label>
							<p><strong id="currency">12343</strong></p>
						
						</div>
						
						<div class="col-lg-3">
							
							<label class="light-color-888">Last Updated</label>
							<p><strong id="lastupdated">testing@gmail.com</strong></p>
						
						</div>
						
						<div class="col-lg-3">
							
							<label class="light-color-888">Date Of Birth</label>
							<p><strong id="dateofbirth">Test Account</strong></p>
						
						</div>
						
						<div class="col-lg-3">
							
							<label class="light-color-888">Promotion Enabled</label>
							<p><strong id="promotionsenabled">32</strong></p>
						
						</div>
					
					</div>
				
				</div>
				
		  </div>
          
        </div>
      </div>
    </div>
		 
		 

        </div>
        <!-- /.container-fluid -->

        <!-- footer -->
			 {% include "PMC/new_design/footer.html" %}
           
            <!-- End footer -->

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->


    
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

				<script type="text/javascript">
				$(".dt-buttons").hide();
                            $(document).ready(function(){
									$(".export-class").click(function(){
										$(".dt-buttons").toggle();

									});
								});
                            </script>
  
  <script type="text/javascript">

function fade_div(){
	// $('#searchModal').removeClass('show');
	// $('#searchModal').hide();
	return true;
}

$('#daterange').daterangepicker({
    locale: {
      format: 'DD/MM/YYYY'
    },
        maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

$('#ftddaterange').daterangepicker({
    locale: {
      format: 'DD/MM/YYYY'
    },
        maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, ftdcb);

function addPlayerslistDataTable(ids, headersList, dataList){
    $('#'+ids+':has(tbody)').dataTable().fnDestroy();
    $("#"+ids).dataTable( {"iDisplayLength": 30,
       "data": dataList,
       "columns":headersList,
       // "scrollX": true,
       "ordering": true,
       paging: true,
       searching: false,
       info: false,
       fixedHeader: {
            header: true,
            footer: true
        },
        dom: 'Bfrtip',
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
});
}

function get_playerdetails(playerid){
	var token = window.localStorage.getItem("token");
  	$.ajax({
          url: '/pmc/player-profile/?'+ 'playerid='+ playerid,
          dataType: 'json',
          async: false,
          type: "GET",
          headers: {"Authorization": "Token "+ token},
          success: function(data) {
          			$.each(data.data.player_data, function(key,valueObj){
					    $('strong[id='+key+']').html(valueObj);
					});
					// $('#searchModal').addClass('show');
					// $('#searchModal').show();
					$('#checkpopup').click();
              },
          error: function(edata) {
                  status = edata.responseJSON.status;
                  message = edata.responseJSON.message;
                  if (status == "Error"){

                      $('#response_msg').removeClass('success_msg');
                      $('#response_msg').show();
                      $('#response_msg').html(message);
                      $('#response_msg').addClass('error_msg');
                      window.scrollTo(0 ,0), !1;
                  } 
                }
                });


}


function add_data(){
      var fd = $( "form" ).serialize();
	  $("#remove-overlay").attr('class',"overlay");
      $(".preloader").css('display', 'block');
      var token = window.localStorage.getItem("token");
      $.ajax({
              url: '/pmc/search-player/',
              dataType: 'json',
              data: fd,
              async: false,
              type: "POST",
              headers: {"Authorization": "Token "+ token},
              success: function(data) {
              		$('#siteids').html('');
              		$.each(data.data.sites_obj_list, function (i, item) {
                    	option = '<option value="'+ item.id +'">'+ item.name +'</option>';
                    	$('#siteids').append(option);
                	});
					
                	$('#siteids').multiselect('select', data.data.selected_sites);
					$('#siteids').multiselect("refresh");
                    addPlayerslistDataTable('player_data', JSON.parse(data.data.header_list), JSON.parse(data.data.data_list));
                  	$("#remove-overlay").attr('class',"");
      				$(".preloader").css('display', 'none');
				  },
              error: function(edata) {
                      status = edata.responseJSON.status;
                      message = edata.responseJSON.message;
                      if (status == "Error"){

                          $('#response_msg').removeClass('success_msg');
                          $('#response_msg').show();
                          $('#response_msg').html(message);
                          $('#response_msg').addClass('error_msg');
                          window.scrollTo(0 ,0), !1;
                      } 
                    }
                    });
    }


function cb(start, end) {
    $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    $('#REGDashBoardFromDate').val(start.format('MM/D/YYYY'));
    $('#REGDashBoardToDate').val(end.format('MM/D/YYYY'));
}
function ftdcb(start, end) {
    $('#ftddaterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    $('#FTDDashBoardFromDate').val(start.format('MM/D/YYYY'));
    $('#FTDDashBoardToDate').val(end.format('MM/D/YYYY'));
}

$(document).ready(function() {
$('.bg-f7').show();
	add_data();	
	$('#siteids').multiselect({
		 includeSelectAllOption: true,
		 enableFiltering: true,
		 allSelectedText:'All Brands',
		enableCaseInsensitiveFiltering: true,
		nonSelectedText: 'Select Brand'
	 }, 'selectAll');	
});

</script>
</html>
