<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
	<link rel="icon" type="image/png" href="/static_files/pmc-styles/images/fav-png-pmc.png" />
    <meta name="author" content="">

    <title>Financial Report - Player Management Console</title>

    <!-- Bootstrap core CSS-->
    <link href="/static_files/pmc-styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static_files/pmc-styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static_files/pmc-styles/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

   <!-- Custom styles for this template-->
    <link href="/static_files/pmc-styles/css/sb-admin.css" rel="stylesheet">
	
	<!-- Daterange Picker styles for this template-->
	<link rel="stylesheet" type="text/css" href="/static_files/pmc-styles/css/daterangepicker.css" />

  </head>

  <body id="page-top">

  	<div class="preloader" id="preloader" style='display:none'>
		<svg class="circular" viewBox="25 25 50 50"> <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /></svg>
	</div> 
    <!-- Header -->
			 
		 {% include "PMC/new_design/header.html" %}
           
	<!-- Header ends -->
	
	
    <div id="wrapper">

      <!-- Menubar -->
			 
		 {% include "PMC/new_design/menubar.html" %}
           
	<!-- menubar ends -->


      <div id="content-wrapper">
	  
	  <div class="heading-breadcrump">
		 <!-- Breadcrumbs-->
		 <div class="row page-titles">
                <div class="col-md-5 align-self-center pull-left">
                    <h3 class="text-medium">
					Financial Report</h3> 
				</div>
                <div class="col-md-7 align-self-center pull-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/pmc/index">Home</a></li>
                        <li class="breadcrumb-item">Financials</li>
						<li class="breadcrumb-item active">Financial Report</li>
                    </ol>

                </div>
            </div>

	  </div>

        <div class="container-fluid">

         
          <!-- Icon Cards-->
		  
		  <div class="card card-dash reports-card">
<div class="row">
		  
		<div class="p-30">

			  <form class="form-material" id="forms" method="post" autocomplete="off">
			  	<div class="row">
				
				
			
			<div class="col-lg-3 col-md-3 col-sm-12 right-zero mb-3 pl-0">
					
									<select class="form-control" id="siteids" name="siteids" multiple="multiple" style="display:none;">
										<option value="">Select Site</option>

									</select>								
			
			</div>
			
			<div class="pull-right 800-screen abs-po">
                
                <div class="pull-right date-range-class" id="daterange" style="">
              &nbsp; 
              <span id="date-div"></span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> 
             
             </div>
             

        <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;">
            
                <div class="portlet-body form">
                                        
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="" id="DashBoardToDate" required="True"/>

                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
      <input type="button" value="Submit" onclick="add_data()" class="btn ornage-small-button">
                             </div>
		  
		  </div>
				  

        



					
				  
				  </div>
				  
			  </form>
	
	</div>
	
	<div id="country_data_wrapper" class="dataTables_wrapper no-footer dash-fotter-scroll"> 
              <table class="table table-responsive  table-cont table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width:100%; max-width: 100%;"></table>
            </div>
    </div>

            
            
		  
		  </div>

         

		 

        </div>
        <!-- /.container-fluid -->

        <!-- footer -->
			 {% include "PMC/new_design/footer.html" %}
           
            <!-- End footer -->

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->


    
  </body>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
	
        <script type="text/javascript">
        $(".dt-buttons").hide();
                            $(document).ready(function(){
                  $(".export-class").click(function(){
                    $(".dt-buttons").toggle();

                  });
                });
                            </script>
  
  <script type="text/javascript">

                 
function date_select(start, end){
    // $("#date-div").html(start + ' - '+ end)
    var start = moment(start);
    var end = moment(end);
    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
    locale: {
      format: 'DD/MM/YYYY'
    },
        maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

}


function addPlayerslistDataTable(ids, headersList, dataList){
    $('#'+ids+':has(tbody)').dataTable().fnDestroy();
    $("#"+ids).dataTable( {"iDisplayLength": 30,
       "data": dataList,
       "columns":headersList,
       // "scrollX": true,
       "ordering": true,
       paging: true,
       searching: false,
       info: false,
       fixedHeader: {
            header: true,
            footer: true
        },
        dom: 'Bfrtip',
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
});
}

function add_data(){
      var fd = $( "form" ).serialize();
	  $("#remove-overlay").addClass("overlay");
      $(".preloader").show();
      var token = window.localStorage.getItem("token");
      $.ajax({
              url: '/pmc/daily-financial-report/',
              dataType: 'json',
              data: fd,
              type: "POST",
              headers: {"Authorization": "Token "+ token},
              success: function(data) {
			  window.localStorage.removeItem("error_message");
                  $('#siteids').html('');
                  date_select(data.data.from_date, data.data.to_date);
                  $.each(data.data.sites_obj_list, function (i, item) {
                      option = '<option value="'+ item.id +'">'+ item.name +'</option>';
                      $('#siteids').append(option);
                  });
          $('#siteids').multiselect({
             includeSelectAllOption: true,
             enableFiltering: true,
             allSelectedText:'All Brands',
            enableCaseInsensitiveFiltering: true,
            nonSelectedText: 'Select Brand'
           }, 'selectAll');
              $('#siteids').multiselect('select', data.data.selected_sites);
          $('#siteids').multiselect("refresh");   
                    addPlayerslistDataTable('player_data', JSON.parse(data.data.header_list), JSON.parse(data.data.data_list));
                    $("#remove-overlay").removeClass("overlay");
                    $(".preloader").hide();
          },
              error: function(edata) {
			  invalid = edata.responseJSON.detail;
					  if (invalid == "Invalid token."){
						  window.location.href="/pmc/signin";
					  }
                      status = edata.responseJSON.status;
                      message = edata.responseJSON.message;
					  if(status == 'login_error'){
                          window.localStorage.clear();
                          window.localStorage.setItem("error_message", message);
                          window.location.href="/pmc/signin";
                      }
                      if (status == "Error"){

                          $('#response_msg').removeClass('success_msg');
                          $('#response_msg').show();
                          $('#response_msg').html(message);
                          $('#response_msg').addClass('error_msg');
                          window.scrollTo(0 ,0), !1;
                      } 
                    }
                    });
    }




jQuery(document).ready(function() {
  add_data();
});

</script>
</html>