<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
	<link rel="icon" type="image/png" href="/static_files/pmc-styles/images/fav-png-pmc.png" />
    <meta name="author" content="">

    <title>Wynta Player Management Console - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="/static_files/pmc-styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static_files/pmc-styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static_files/pmc-styles/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

   <!-- Custom styles for this template-->
    <link href="/static_files/pmc-styles/css/sb-admin.css" rel="stylesheet">
	
	<!-- Daterange Picker styles for this template-->
	<link rel="stylesheet" type="text/css" href="/static_files/pmc-styles/css/daterangepicker.css" />
<style type="text/css">
  #brand_data {width: 100%;max-width: 100%; margin-left:0;}
   .dataTables_wrapper {width:100%;}
   .table-cont {
    max-height: 282px;
    overflow: auto;
    display: block !important;
}
   
   @media (max-width: 767px) {
   .abs-po {position:absolute;}
    .table-bordered {margin: 0px;margin-left: 0; max-width:100% !important;}
    .dataTables_wrapper {padding-right:0px !important;}
   }
</style>
  </head>

  <body id="page-top">
  
 <div class="preloader" id="preloader" style='display:none'>
		<svg class="circular" viewBox="25 25 50 50"> <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /></svg>
	</div>

    <!-- Header -->
			 
		 {% include "PMC/new_design/header.html" %}
           
	<!-- Header ends -->
	
	
    <div id="wrapper">

      <!-- Menubar -->
			 
		 {% include "PMC/new_design/menubar.html" %}
           
	<!-- menubar ends -->


      <div id="content-wrapper">
	  
	  <div class="heading-breadcrump">
		 <!-- Breadcrumbs-->
		 <div class="row page-titles">
                <div class="col-md-5 align-self-center pull-left">
                    <h3 class="text-medium">
					<img src="/static_files/pmc-styles/images/hello_dash.svg">&nbsp;<span id="am-name"></span></h3> 
				</div>
                <div class="col-md-7 align-self-center pull-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/pmc/index">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>

                </div>
            </div>

	  </div>

        <div class="container-fluid">

         
          <!-- Icon Cards-->
		  
		  <div class="card">
		  
		  <div class="container">
		  
		  <div class="row card-title">
		  
		  <div class="pull-left">
		  
		  <h5 class="display-inline">Quick Stats</h5><!-- &nbsp;&nbsp;<a class="date-border"><span></span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> </a> -->
		 
		 </div>
<form id="DashBoardFormID" name='DashBoardForm'>
		  <div class="pull-right 800-screen abs-po">
                
                <div class="pull-right date-range-class" id="daterange" style="">
              &nbsp; 
              <span id="date-div"></span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> 
             
             </div>
             

        <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;">
            
                <div class="portlet-body form">
                                        
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="" id="DashBoardToDate" required="True"/>

                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
      </form>
      <input type="button" value="Submit" onclick="add_data()" class="btn ornage-small-button">
                             </div>
			
		 </div>
		 
	
		 
		 
		 
		 <div class="row">
		 

		 <div class="clear"></div>
  
            <div class="col-md-3 mb-3 col-sm-6 col-xs-6 tile_stats_count">
			<div class="count" id="lt_deposit"></div>
              <span class="count_top">Deposits</span> 
			  
              <span class="count_bottom" title="compare to previous 7 days">
                
                <!-- <span class="green" id="deposit_percent"> -->
                  
                <!-- % Change</span></span> -->
			  
            </div>
			
			
            <div class="col-md-3 mb-3 col-sm-6 col-xs-6 tile_stats_count b-right-zero-m">
			<div class="count" id="lt_cashout"> </div>
              <span class="count_top">Cashouts</span>
             
              <span class="count_bottom" title="compare to previous 7 days">
                
                <!-- <span class="red" id="cashout_percent"> -->
                  
                <!-- % Change</span> </span> -->
              
            </div>
			
			<div class="col-md-3 mb-3 col-sm-6 col-xs-6 tile_stats_count">
			<div class="count" id="lt_bets"></div>
              <span class="count_top">Bets</span> 
			  
              <span class="count_bottom" title="compare to previous 7 days">
                
                <!-- <span class="green" id="bets_percent"> -->
                  
                <!-- % Change</span></span> -->
			  
            </div>
			
			<div class="col-md-3 mb-3 col-sm-6 col-xs-6 tile_stats_count b-right-zero-m">
			<div class="count" id="lt_revenue"></div>
              <span class="count_top">Revenue</span> 
			  
              <span class="count_bottom" title="compare to previous 7 days">
                
                <!-- <span class="green" id="revenue_percent"> -->
                  
                <!-- % Change</span></span> -->
			  
            </div>

          </div> <!-- First row dashbaord -->
		  
		  
		  
		  <div class="row border-top-row">
		  
		  <div class="col-md-3 mb-3 col-sm-6 col-xs-6 tile_stats_count">
			<div class="count" id="lt_registrations">0</div>
              <span class="count_top">Registrations</span> 
			  
              <span class="count_bottom" title="compare to previous 7 days">
                
                <!-- <span class="green" id="registrations_percent"> -->
                  
                <!-- % Change</span></span> -->
			  
            </div>
			
			<div class="col-md-3 mb-3 col-sm-6 col-xs-6 tile_stats_count b-right-zero-m">
			<div class="count" id="lt_ftd">0</div>
              <span class="count_top">FTD’s</span> 
			  
              <span class="count_bottom" title="compare to previous 7 days">
                
                <!-- <span class="red" id="ftd_percent"> -->
                  
                <!-- % Change</span></span> -->
			  
            </div>
			
			<div class="col-md-3 mb-3 col-sm-6 col-xs-6 tile_stats_count">
			<div class="count" id="lt_conversion">0</div>
              <span class="count_top">Conversion</span> 
			  
              <span class="count_bottom" title="compare to previous 7 days">
                
                <!-- <span class="green" id="conversion_percent"> -->
                  
                <!-- % Change</span></span> -->
			  
            </div>
			
			<div class="col-md-3 mb-3 col-sm-6 col-xs-6 tile_stats_count b-right-zero-m">
			<div class="count" id="depositors">0</div>
              <span class="count_top">Depositors</span> 
			  
              <span class="count_bottom" title="compare to previous 7 days">
                
                <!-- <span class="green" id="depositors_percent"> -->
                  
                <!-- % Change</span></span> -->
			  
            </div>
		  
		  </div> <!-- Second row dashboard -->
		  
		  	 </div> <!-- Container -->
		  
		  </div>
          <div class="card mb-3">
            <div class="">
              <h5 class="display-inline">Brand Report</h5></div>
            <!-- <div class="card-body">
              <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div> -->
            <div id="brand_data_wrapper" class="dataTables_wrapper no-footer dash-fotter-scroll"> 
              <table class="table table-responsive  table-cont table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="brand_data" style="width:100%; max-width: 100%;"></table>
            </div>
            
          </div>
          <!-- Area Chart Example-->
          <div class="card mb-3">
            <div class="">
              <h5 class="display-inline">Performance Report</h5></div>
            <!-- <div class="card-body">
              <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div> -->
            <div id="country_data_wrapper" class="dataTables_wrapper no-footer dash-fotter-scroll"> 
              <table class="table table-responsive  table-cont table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="country_data" style="width:100%; max-width: 100%;"></table>
            </div>
            
          </div>

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="">
              <h5 class="display-inline">Deposit Data Report</h5></div>
            
             <div id="player_data_wrapper" class="dataTables_wrapper no-footer dash-fotter-scroll"> 
              <table class="table table-responsive table-cont table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width:100%; max-width: 100%;"></table>
            </div>
            <!-- <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </thead>
                 
                  <tbody>
                    <tr>
                      <td>Tiger Nixon</td>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>61</td>
                      <td>2011/04/25</td>
                      <td>£320,800</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> -->
           
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- footer -->
			 {% include "PMC/new_design/footer.html" %}
           
            <!-- End footer -->

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    

   

  </body>
<script type="text/javascript">
  function addPlayerslistDataTable(ids, headersList, dataList){
    $('#'+ids+':has(tbody)').dataTable().fnDestroy();
    $("#"+ids).dataTable( {"iDisplayLength": 30,
       "data": dataList,
       "columns":headersList,
       // "scrollX": true,
       "ordering": false,
       paging: false,
       searching: false,
       info: false,
       "scrollX":false,
       "pageLength": 10,
       "autoWidth": false,
       "language": {
            "emptyTable": "Nothing to see here... yet!"
        }
          });
}

function data_load(data){
    if(data.currency == 'euro'){
        var currency = '€';
    }
    else{
        var currency = '£';
    }
    $('#lt_deposit').html(currency + data.lt_deposit);
    $('#deposit_percent').html(data.deposit_percent + '% change');
    $('#lt_cashout').html(currency + data.lt_cashout);
    $('#cashout_percent').html(data.cashout_percent + '% change');

    $('#lt_bets').html(currency + data.lt_bets);
    $('#bets_percent').html(data.bets_percent + '% change');
    $('#lt_revenue').html(currency + data.lt_revenue);
    $('#revenue_percent').html(data.revenue_percent + '% change');
      
    $('#lt_registrations').html(data.lt_registrations);
    $('#registrations_percent').html(data.registrations_percent + '% change');
    $('#lt_ftd').html(data.lt_ftd);
    $('#ftd_percent').html(data.ftd_percent + '% change');
      
    $('#lt_conversion').html(data.lt_conversion);
    $('#conversion_percent').html(data.conversion_percent + '% change');
      
     $('#depositors').html(data.lt_depositors);
     $('#depositors_percent').html(data.depositors_percent + '% change');
     $('#am-name').html(data.user);
}

function add_data(){
      var fd = $( "form" ).serialize()
      $("#remove-overlay").addClass("overlay");
      $(".preloader").show();
      var token = window.localStorage.getItem("token");
      $.ajax({
              url: '/pmc/dashboard/',
              dataType: 'json',
              data: fd,
              type: "GET",
              headers: {"Authorization": "Token "+ token},
              success: function(data) {
			  window.localStorage.removeItem("error_message");
                    status = data.status;
                    message = data.message;
                    data_load(data.data);
                    date_select(data.data.from_date, data.data.to_date);
                    addPlayerslistDataTable('player_data', JSON.parse(data.data.header_list), JSON.parse(data.data.data_list));
                    addPlayerslistDataTable('country_data', JSON.parse(data.data.header_b_list), JSON.parse(data.data.data_b_list));
                    addPlayerslistDataTable('brand_data', JSON.parse(data.data.header_c_list), JSON.parse(data.data.data_c_list));
                    $("#remove-overlay").removeClass("overlay");
                    $(".preloader").hide();
                  },
              error: function(edata) {
					  invalid = edata.responseJSON.detail;
					  if (invalid == "Invalid token."){
						  window.location.href="/pmc/signin";
					  }
                      status = edata.responseJSON.status;
                      message = edata.responseJSON.message;
                      if(status == 'login_error'){
                          window.localStorage.clear();
                          window.localStorage.setItem("error_message", message);
                          window.location.href="/pmc/signin";
                      }
                      if (status == "Error"){

                          $('#response_msg').removeClass('success_msg');
                          $('#response_msg').show();
                          $('#response_msg').html(message);
                          $('#response_msg').addClass('error_msg');
                          window.scrollTo(0 ,0), !1;
                      } 
                    }
                    });
    }
                    
function date_select(start, end){
    // $("#date-div").html(start + ' - '+ end)
    var start = moment(start);
    var end = moment(end);
    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
    locale: {
      format: 'DD/MM/YYYY'
    },
        maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

}


</script>
<script type="text/javascript">
jQuery(document).ready(function() {
    add_data();
    
});
</script>

<script>
// Code goes here
//'use strict'
//window.onload = function(){
 // var tableCont = document.querySelector('#country_data')
  /**
   * scroll handle
   * @param {event} e -- scroll event
   */
 // function scrollHandle (e){
  //  var scrollTop = this.scrollTop;
  //  this.querySelector('thead').style.transform = 'translateY(' + scrollTop + 'px)';
 // }
  
 // tableCont.addEventListener('scroll',scrollHandle)
//}
</script>

</html>
