<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
	<link rel="icon" type="image/png" href="/static_files/pmc-styles/images/fav-png-pmc.png" />
    <meta name="author" content="">

    <title>Oops - Player Management Console</title>

    <!-- Bootstrap core CSS-->
    <link href="/static_files/pmc-styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static_files/pmc-styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static_files/pmc-styles/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

   <!-- Custom styles for this template-->
    <link href="/static_files/pmc-styles/css/sb-admin.css" rel="stylesheet">
	
	<!-- Daterange Picker styles for this template-->
	<link rel="stylesheet" type="text/css" href="/static_files/pmc-styles/css/daterangepicker.css" />

	<style>
	footer.sticky-footer {width:100%;}
	.top-center {    position: fixed;top: 34%;text-align: center;display: block;
	width: 100%;}
	.big-size {    font-size: 3rem;
    color: #FF7900 !important;}
	.back-page {background: #ff7900 !important;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    cursor: pointer;}
	
	.back-page:hover {background: #ff8c24 !important;}
	.para-error {font-size:1.1rem;}
	.para-big-error { color:#000;}
	</style>
	
  </head>

  <body id="page-top">

    <!-- Header -->
			 
		 {% include "PMC/new_design/header.html" %}
           
	<!-- Header ends -->
	
	
    <div id="">

      <div id="content-wrapper">


        <div class="container-fluid">

         
          <!-- Icon Cards-->
		  
		  <div class="card card-dash reports-card">

		  <div class="row top-center">

			<h3 class="text-center d-block big-size">Oops!<h3>
			<p class="para-big-error">Something's Missing.</p>
			<p class="para-error">The request URL cannot be found or might be it's temporarily unavailable.</p>
			
			<a href="/pmc/index" class="text-uppercase text-white">
				<button class="back-page">Back to Homepage</button>
			</a>
	
	</div>
	
	
    </div>

            
            
		  
		  </div>

         <!-- footer -->
			 {% include "PMC/new_design/footer.html" %}
           
            <!-- End footer -->
        </div>
        <!-- /.container-fluid -->

       

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->


    
  </body>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

				<script type="text/javascript">
				$(".dt-buttons").hide();
                            $(document).ready(function(){
									$(".export-class").click(function(){
										$(".dt-buttons").toggle();

									});
								});
                            </script>
  
  <script type="text/javascript">

                 
function date_select(start, end){
    // $("#date-div").html(start + ' - '+ end)
    var start = moment(start);
    var end = moment(end);
    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
    locale: {
      format: 'DD/MM/YYYY'
    },
        maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

}


function addPlayerslistDataTable(ids, headersList, dataList){
    $('#'+ids+':has(tbody)').dataTable().fnDestroy();
    $("#"+ids).dataTable( {"iDisplayLength": 30,
       "data": dataList,
       "columns":headersList,
       // "scrollX": true,
       "ordering": true,
       paging: true,
       searching: false,
       info: false,
       fixedHeader: {
            header: true,
            footer: true
        },
        dom: 'Bfrtip',
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
});
}

function get_playerdetails(playerid){
	var token = window.localStorage.getItem("token");
  	$.ajax({
          url: '/pmc/player-profile/?'+ 'playerid='+ playerid,
          dataType: 'json',
          async: false,
          type: "GET",
          headers: {"Authorization": "Token "+ token},
          success: function(data) {
          			$.each(data.data.player_data, function(key,valueObj){
					    $('strong[id='+key+']').html(valueObj);
					});
					// $('#searchModal').addClass('show');
					// $('#searchModal').show();
					$('#checkpopup').click();
              },
          error: function(edata) {
                  status = edata.responseJSON.status;
                  message = edata.responseJSON.message;
                  if (status == "Error"){

                      $('#response_msg').removeClass('success_msg');
                      $('#response_msg').show();
                      $('#response_msg').html(message);
                      $('#response_msg').addClass('error_msg');
                      window.scrollTo(0 ,0), !1;
                  } 
                }
                });


}

function add_data(){
      var fd = $( "form" ).serialize();
	  $("#remove-overlay").addClass("overlay");
      $(".preloader").show();
      var token = window.localStorage.getItem("token");
      $.ajax({
              url: '/pmc/registrations-player/',
              dataType: 'json',
              data: fd,
              type: "POST",
              headers: {"Authorization": "Token "+ token},
              success: function(data) {
			  window.localStorage.removeItem("error_message");
              		$('#siteids').html('');
                  date_select(data.data.from_date, data.data.to_date);
              		$.each(data.data.sites_obj_list, function (i, item) {
                    	option = '<option value="'+ item.id +'">'+ item.name +'</option>';
                    	$('#siteids').append(option);
                	});
        				$('#siteids').multiselect({
						   includeSelectAllOption: true,
						   enableFiltering: true,
						   allSelectedText:'All Brands',
						  enableCaseInsensitiveFiltering: true,
						  nonSelectedText: 'Select Brand'
						 }, 'selectAll');
					$('#siteids').multiselect('select', data.data.selected_sites);
					$('#siteids').multiselect("refresh");						 
                    addPlayerslistDataTable('player_data', JSON.parse(data.data.header_list), JSON.parse(data.data.data_list));
					$("#remove-overlay").removeClass("overlay");
                    $(".preloader").hide();
				  },
              error: function(edata) {
			  invalid = edata.responseJSON.detail;
					  if (invalid == "Invalid token."){
						  window.location.href="/pmc/signin";
					  }
                      status = edata.responseJSON.status;
                      message = edata.responseJSON.message;
					  if(status == 'login_error'){
                          window.localStorage.clear();
                          window.localStorage.setItem("error_message", message);
                          window.location.href="/pmc/signin";
                      }
                      if (status == "Error"){

                          $('#response_msg').removeClass('success_msg');
                          $('#response_msg').show();
                          $('#response_msg').html(message);
                          $('#response_msg').addClass('error_msg');
                          window.scrollTo(0 ,0), !1;
                      } 
                    }
                    });
    }




jQuery(document).ready(function() {
	add_data();
});

</script>
</html>
