<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
	<link rel="icon" type="image/png" href="/static_files/pmc-styles/images/fav-png-pmc.png" />
    <meta name="author" content="">

    <title>Player Attrition Report - Player Management Console</title>

    <!-- Bootstrap core CSS-->
    <link href="/static_files/pmc-styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static_files/pmc-styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static_files/pmc-styles/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

   <!-- Custom styles for this template-->
    <link href="/static_files/pmc-styles/css/sb-admin.css" rel="stylesheet">
	
	<!-- Daterange Picker styles for this template-->
	<link rel="stylesheet" type="text/css" href="/static_files/pmc-styles/css/daterangepicker.css" />

  </head>

  <body id="page-top">

    <!-- Header -->
			 
		 {% include "PMC/new_design/header.html" %}
           
	<!-- Header ends -->
	
	
    <div id="wrapper">

      <!-- Menubar -->
			 
		 {% include "PMC/new_design/menubar.html" %}
           
	<!-- menubar ends -->


      <div id="content-wrapper">
	  
	  <div class="heading-breadcrump">
		 <!-- Breadcrumbs-->
		 <div class="row page-titles">
                <div class="col-md-5 align-self-center pull-left">
                    <h3 class="text-medium">
					Player Attrition Report</h3> 
				</div>
                <div class="col-md-7 align-self-center pull-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Home</a></li>
                        <li class="breadcrumb-item">Player Reports</li>
						<li class="breadcrumb-item active">Player Attrition Report</li>
                    </ol>

                </div>
            </div>

	  </div>

        <div class="container-fluid">

         
          <!-- Icon Cards-->
		  
		  <div class="card card-dash">

		  <div class="row">
		  
		<div class="p-30">

			  <form class="form-material" id="forms" method="post" action="" autocomplete="off">
				  <div class="form-row">					
											
					
					<div class="col-items col-sm-4">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="email" name="email" placeholder="Email">
								</div>
							</div>
					</div>
					<div class="col-items col-sm-4">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="password" name="password" placeholder="Password">
								
								</div>
							</div>
					</div>
					<div class="col-items col-sm-4">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="companyname" name="companyname" placeholder="Company name">
								
								</div>
							</div>
					</div>
					
					<div class="col-items col-sm-4">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="mnumber" name="mnumber" placeholder="Mobile number">
								
								</div>
							</div>
					</div>
					
					<div class="col-items col-sm-4">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="address" name="address" placeholder="Address">
								
								</div>
							</div>
					</div>
					
					<div class="col-items col-sm-4">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="state" name="state" placeholder="State">
								
								</div>
							</div>
					</div>
					
					<div class="col-items col-sm-4">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="city" name="city" placeholder="City">
								
								</div>
							</div>
					</div>
					
					<div class="col-items col-sm-4">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="border-effect form-control" id="postcode" name="postcode" placeholder="Postcode">
								
								</div>
							</div>
					</div>
					
					<div class="col-items col-sm-4">
							<div class="form-group">
								<div class="form-line">
									<select id="country" class="border-effect form-control" name="country">
										<option value="0">Country</option>
										<option value="5">Afghanistan</option>
										<option value="204">Sint Maarten (Dutch part)</option>
										<option value="205">Slovakia</option>
										<option value="206">Slovenia</option>
										<option value="207">Solomon Islands</option>
										<option value="208">Somalia</option>
										<option value="209">South Africa</option>
										<option value="210">South Georgia and the South Sa</option>
										<option value="211">South Sudan</option>
										<option value="212">Spain</option>
										<option value="213">Sri Lanka</option>
										<option value="214">Sudan</option>
										<option value="215">Suriname</option>
										<option value="216">Svalbard and Jan Mayen</option>
										<option value="217">Swaziland</option>
										<option value="218">Sweden</option>
										<option value="219">Switzerland</option>
										<option value="220">Syrian Arab Republic</option>
										<option value="221">Taiwan, Province of China</option>
										<option value="222">Tajikistan</option>
										<option value="223">Tanzania, United Republic of</option>
										<option value="224">Thailand</option>
										<option value="225">Timor-Leste</option>
										<option value="226">Togo</option>
										<option value="227">Tokelau</option>
										<option value="228">Tonga</option>
										<option value="229">Trinidad and Tobago</option>
										<option value="230">Tunisia</option>
										<option value="231">Turkey</option>
										<option value="232">Turkmenistan</option>
										<option value="233">Turks and Caicos Islands</option>
										<option value="234">Tuvalu</option>
										<option value="235">Uganda</option>
										<option value="236">Ukraine</option>
										<option value="237">United Arab Emirates</option>
										<option value="4" selected="selected">United Kingdom</option>
										<option value="238">United States</option>
										<option value="239">United States Minor Outlying I</option>
										<option value="252">Unknown</option>
										<option value="240">Uruguay</option>
										<option value="241">Uzbekistan</option>
										<option value="242">Vanuatu</option>
										<option value="258">Venezuela</option>
										<option value="243">Venezuela, Bolivarian Republic</option>
										<option value="244">Viet Nam</option>
										<option value="245">Virgin Islands, British</option>
										<option value="246">Virgin Islands, U.S.</option>
										<option value="247">Wallis and Futuna</option>
										<option value="248">Western Sahara</option>
										<option value="249">Yemen</option>
										<option value="250">Zambia</option>
										<option value="251">Zimbabwe</option>
										
										
									</select>
								
								</div>
							</div>
					</div>

					<div class="clear"></div>
					
					<div class="submit">
					
						<input type="submit" id="submit" name="signup1" class="submit-orange" value="Submit">
					
					</div>
				  
				  </div>
				  
			  </form>
	
	</div>
	
	  
    </div>
		  
		  </div>

          

        </div>
        <!-- /.container-fluid -->

        <!-- footer -->
			 {% include "PMC/new_design/footer.html" %}
           
            <!-- End footer -->

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->


    
  </body>

</html>
