<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Tajrummy</title>

<link href="/static_files/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/static_files/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static_files/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>
<script src="/static_files/js/jquery-ui.min.js"></script>
<script type='text/javascript' src="/static_files/js/export_table_to_csv.js"></script>
<style>
input{
  width: 52px;
  height: 14px;
  margin-top: 6px;
}
select,input[type="text"],input[type="submit"],input[type="reset"]{
  width: 135px;
  height: 22px;
  margin-top: 6px;
}
.filtersmargin{
	margin-left: 10px;
	margin-right: 15px;
}
.ui-datepicker { height:210px;width:250px;font-size:14px; }
.details-box{width:960px;}
.details { width:100%; height:auto; padding:5px !important; float:left;
 border:1px solid #ccc; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;
 font-family:"franklin_gothic_mediumregular";font-size:14px;}
.details th { width:140px;font-size:16px;}
.row-wise { padding:5px; display:block;}
.export_csv {
  font-family: monospace;
  float: left;
  margin-bottom: 13px;
  font-size: 17px;
  color: rgb(236, 231, 218);
  border: 1px solid rgb(152, 13, 13);
  background-color: rgb(118, 13, 13);
  text-decoration: none;
  padding: 4px;
  border-radius: 4px;
}


.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
	width: 49% !important;
    height: 22px !important;
    font-size: 13px !important;
}
</style>
</head>

<body class="aff_body">

<!--HEADER STARTS HERE-->
<div align="center">

{% include "affiliates/header_affiliates.html" %}

</div>
<!--HEADER ENDS HERE-->


<div align="center">

{%if not obj%}
<div id="Top_inner_page_body1" style="padding:40px 0px 0px !important; height:340px !important; border-left:none !important;">
</p>{%endif%}



<script type="text/javascript">

function checkAll(ele) {
    var checkboxes = document.getElementsByTagName('input');
    if (ele.checked) {
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox') {
                checkboxes[i].checked = true;
            }
        }
    } else {
        for (var i = 0; i < checkboxes.length; i++) {
            console.log(i)
            if (checkboxes[i].type == 'checkbox') {
                checkboxes[i].checked = false;
            }
        }
    }
}
$(document).ready(function() {
	if($("#id_date").val() == "Custom"){
		$('#id_datepicker1').show();
        $('#id_datepicker2').show();
	}
	$("#id_date").change(function() {
		if($(this).val() == "Custom"){
			$('#id_datepicker1').show();
			$('#id_datepicker2').show();
		}
		else{
			$('#id_datepicker1').hide();
			$('#id_datepicker2').hide();
		}
	});
	
	$(".checkboxgroup").change(function() {
		var checkboxes = $(".checkboxgroup");
		var all_flag = true;
	    for (var i = 0; i < checkboxes.length; i++) {
	         if (checkboxes[i].checked == false) {
	            all_flag = false;
	        }
	    }
	    if (all_flag){
	    	$("#Allcheckbox").prop("checked",true);
	    }
	    else{
	    	$("#Allcheckbox").prop("checked",false);
	    }
	});
	
});
</script>
<script>
$(function() {
	$( "#id_datepicker1" ).datepicker({changeYear: true,changeMonth:true, dateFormat:'dd/mm/yy'});
	$( "#id_datepicker2" ).datepicker({changeYear: true,changeMonth:true, dateFormat:'dd/mm/yy'});
});
</script>
<div id="Top_inner_page_body">
<!--  -->


<div class="main_Menu aff_menu">

{%if error_message%}
<div style="color:red;font-size:16">
<h2>{{error_message}}</h2>
</div>
{%endif%}
{%if not obj%}
<p style=" line-height: 48px; margin-left: 20px;">Affiliate Login
</p>{%endif%}
</div>

<div class="affiliates_block">

<div class="main" style="margin-right:100px;">

{% if not obj %}
Please Login <br/>
{%else%}
<p align="left" class="Body_header aff_title"> USER FINANCIALS</p><br/>
<form action="/affiliates/affiliate_user_activities/?username={{username}}"" method="POST" name="test" id="touneyTxnForm">
 {% csrf_token %}
 <p>
<table>
<tr >
<td><input type="checkbox" name="deposits" class="checkboxgroup" {%if deposits_flag %} checked="checked"{%endif%}>Deposits</td>
<td><input type="checkbox" name="withdrawals" class="checkboxgroup" {%if withdrawals_flag %} checked="checked"{%endif%}>Withdrawals</td>
<td><input type="checkbox" name="deductions" class="checkboxgroup" {%if deductions_flag %} checked="checked"{%endif%}>Deductions</td> </tr>
<tr>
<td><input type="checkbox" name="rakes" class="checkboxgroup" {%if rakes_flag %} checked="checked"{%endif%}>Rakes</td>
<td><input type="checkbox" name="adjustments" class="checkboxgroup" {%if adjustments_flag %} checked="checked"{%endif%}>Adjustments</td>
<!-- <td><input type="checkbox" name="accurals" class="checkboxgroup" {%if accurals_flag %} checked="checked"{%endif%}>Accurals</td>  -->
<td><input type="checkbox" name="all" id="Allcheckbox" onchange="checkAll(this)" {%if all_flag %} checked="checked"{%endif%}>All</td>
</tr>

</table>




</p>
Username:<input type="text" name="username" value="{{username}}" class="filtersmargin">Select Campaign: <select name="campaign_id" class="filtersmargin">
<option value="">select campaign</option>
{%for cam in campaign_list%}
<option value="{{cam.id}}">{{cam.name}} - {{cam.id}}</option>
{%endfor%}
</select>
Bonuscode : <input type="text" name="bonuscode" class="filtersmargin"> <br/>

   <p>Date Filter&nbsp;&nbsp;&nbsp;&nbsp;
     <select id="id_date" name="date" style="width: 120px;height: 26px;">
<option value="Today" {%if custom == "Today"%} selected="selected"{%endif%}>Today</option>
<option value="Yesterday"{%if custom == "Yesterday"%} selected="selected"{%endif%}>Yesterday</option>
<option value="WeekTildate"{%if custom == "WeekTildate"%} selected="selected"{%endif%}>WeekTildate</option>
<option value="Last 15 Days"{%if custom == "Last 15 Days"%} selected="selected"{%endif%}>Last 15 Days</option>
<option value="Last 30 Days"{%if custom == "Last 30 Days"%} selected="selected"{%endif%}>Last 30 Days</option>
<option value="Last 45 Days"{%if custom == "Last 45 Days"%} selected="selected"{%endif%}>Last 45 Days</option>
<option value="MonthTilldate"{%if custom == "MonthTilldate"%} selected="selected"{%endif%}>MonthTilldate</option>
<option value="Custom" {%if custom == "Custom"%} selected="selected"{%endif%}>Custom</option>
</select>
 <input placeholder='Fromdate' type="text"  id='id_datepicker1' name="datepicker1" style="padding:0;width:145px;height:22px;display:none;">
 <input placeholder='Todate' type="text"  id='id_datepicker2' name="datepicker2" style="padding:0;width:145px;height:22px;display:none;">
 </p>
<input type="submit" class="sub_bu11" style="float:left; margin-top:9px; width:80px; height:30px;" value="Search"/>
<input type="reset" class="sub_bu11" style="float:left; margin:9px; width:80px; height:30px;" value="Clear" id="transaction_form_reset_btn"/>
</form>

<!--  -->
<br/>

<div class="details-box">
 <table class="details"/>
  <tr class="row-wise"> 
   <th>Period :</th>
   <td>{{from_date}}  To  {{to_date}}</td>
  </tr>
  <tr class="row-wise"> 
   <th>Username :</th>
   <td>{{userid}} - {{username}}</td>
  </tr>
  <tr class="row-wise"> 
   <th>Campaign Details :</th>
   <td>{{campaignID}}</td>
  </tr>
  <tr class="row-wise"> 
   <th>Revenue Share (%) :</th>
   <td>{{revsharepercent}}</td>
  </tr>
 </table>
</div>
<br/>
<div class="aff_table2" id="affiliateDiv">
{%if acitivites_list%}
<a href="#" id="export_affiliate" class="sub_bu11" style="float:left; font-family:monospace; padding-top:10px; text-decoration:none; width:142px; font-size:17px;">Export To CSV</a><br/>
{%endif%}<br/>

<table cellspacing="0" cellpadding="0" class="aff_financial" style="width: 944px;">
<tr>
    	<th>Transaction ID</th>
        <th>Timestamp</th>
        <th>User Details</th>
        <th>Activity</th>
        <th>Amount</th>
        <th>Fee/Rake</th>
        <!--  <th>Accurals</th> -->
    </tr>
    {%for aff in acitivites_list%}
    <tr>
        <td>{{aff.0}}</td>
        <td>{{aff.1}}</td>
    	<td>{{aff.2}}</td>
    	<td>{{aff.3}}</td>
    	<td>{{aff.4}}</td>
    	<td>{{aff.5}}</td>
    </tr>
    {%endfor%}

</table>
</div>
</div>
<br/><br/>
<script type='text/javascript'>
        $(document).ready(function () {
 
            // This must be a hyperlink
            $("#export_affiliate").click(function (event) {
                // var outputFile = 'export'
               // CSV
        		exportTableToCSV.apply(this, [$('#affiliateDiv>table'), 'user_activities']);
        		// IF CSV, don't do event.preventDefault() or return false
        		// We actually need this to be a typical hyperlink
            });
        });
</script>
</div>
</div>
{%endif%}
</div>
</body>