<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title> Affiliate Profile </title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<META NAME="ROBOTS" CONTENT="{{robot_content_value}}">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>

<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="/static_files/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="/static_files/assets/admin/layout/css/themes/egcs_blue.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>

<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
<style type="text/css">

.aff_edit_form{
	border: 1px solid #CAC7C7;
    width: 82px;
    padding-left:13px;
    height: 30px;
    

}
.build-url:hover{
	background-color: #3a8546!important;
	text-decoration: none;
    color:white;
}
.build-url{
	    border: 0px;
    font-size: 12px;
    background-color: #35aa47;
        height: 27px;
        padding:5px;
        text-decoration: none;
    color:white;
}


#camp_data td:nth-child(6),
#camp_data th:nth-child(6) {
    text-align : left !important;
}
</style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content ">
<!-- BEGIN HEADER -->
<!-- BEGIN HEADER -->
{% include "affiliates/new_design/header.html" %}
<!-- END HEADER -->
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	{% include "affiliates/new_design/menubar.html" %}
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<!--  <h3 class="page-title">
			Home <small>Players Information</small>
			</h3> -->
			  
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href=" /affiliate/home/">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href=" /affiliate/affiliate_profile/">Affiliate Profile</a>
						<i class="fa fa-angle-right"></i>
					</li>
				</ul>
			</div> 
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box lgreen">
						<div class="portlet-title">
							<div class="caption">
								Affiliate Profile
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								
								{%if message %}
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
										<div class="alert alert-success-msg">
                                        	<center> <span>{{message}} </span></center>
                                     	</div>
									
									</div>
								</div>
								<br/>
								{%endif%}
								<div class="row">
									<div class="col-md-12">
										<div>
										<form action= " /affiliate/affiliate_profile_update/" id="affForm" method="POST" name='affForm' role="form">
										{%csrf_token%}
										<input type="hidden" name="affid" value="{{aff_obj.id}}">
										<table class="table table-hover table_header_background">
											<thead>
											<th style="text-align:left" colspan=4>Affiliate Profile</th>
											</thead>
											
											<tbody>
												<tr>
													<td style="text-align:left">Affiliate ID</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.id}}</td>
													<td style="text-align:left">Address</td>
													<td style="text-align:left" class="bold affinfo_col_data ">{{aff_obj.address}}</td>
												</tr>
												<tr>
													<td style="text-align:left">Enabled</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.active}}</td>
													<td style="text-align:left" >City</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.city}}</td>
													
												</tr>
												
												<tr>
												<td style="text-align:left">Registered On</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.registeredon|date:"M d, Y" }}</td>													
													<td style="text-align:left">State</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.state}}</td>
												</tr>
												
												<tr>
													<td style="text-align:left">Phone</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.telephone}}</td>
													<td style="text-align:left">Country</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.country}}</td>
												</tr>
												
												<tr>
													<td style="text-align:left">Username</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.username}}</td>
													<td style="text-align:left">Comapany Name</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{obj.companyname}}</td>
												</tr>
												
												<tr>
													<td style="text-align:left">Email</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.email}}</td>
													<td style="text-align:left">Pincode</td>
													<td style="text-align:left" class="bold affinfo_col_data">{{aff_obj.postcode}}</td>
												</tr>
												
												<tr>
													<td style="text-align:left">Revenue Share</td>
													<td style="text-align:left" class="bold affinfo_col_data">
														<input type="checkbox"  name="rscheck" style="width:20px !important;" {%if commission_obj.revshare %}checked="checked"{%endif%}/>
														&ensp;&ensp;<input type="text" value="{{commission_obj.revsharepercent}}" name="rsshare" class="aff_edit_form"/>
													</td>
													<td style="text-align:left">CPA</td>
													<td style="text-align:left" class="bold affinfo_col_data">
														<input type="checkbox"  name="cpacheck"  style="width:20px !important;" {%if commission_obj.cpachoice%}checked="checked"{%endif%}/>
														&ensp;&ensp;<input type="text" value="{{commission_obj.cpacommissionvalue}}" name="cpa" class="aff_edit_form"/>
													</td>
												</tr>
												
												<tr>
													<td style="text-align:left">CPR</td>
													<td style="text-align:left" class="bold affinfo_col_data">
														<input type="checkbox"  name="cprcheck" style="width:20px !important;" {%if commission_obj.cprchoice %}checked="checked"{%endif%}/>
														&ensp;&ensp;<input type="text" value="{{commission_obj.cprcommissionvalue}}" name="cpr" class="aff_edit_form"/>
													</td>
													<td style="text-align:left"></td>
													<td style="text-align:left" class="bold affinfo_col_data"></td>
												</tr>
												
												<tr>
													<td style="text-align:left"></td>
													<td style="text-align:left" class="bold affinfo_col_data"><input type="submit" value="Save Changes" class="btn  btn-success" id="signupsubmit"/></td>
													<td style="text-align:left"></td>
													<td style="text-align:left" class="bold affinfo_col_data"></td>
												</tr>
												
											</tbody>
										</table>
										</form>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="digg_pagination"></div><br/>  -->
							
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{% include "affiliates/new_design/footer.html" %}
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/static_files/assets/global/plugins/respond.min.js"></script>
<script src="/static_files/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->

<script>


jQuery(document).ready(function() {       
   Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
   egcsTools.initNavigation();
   egcsTools.initDashboardDaterange();
   
   // $(".page-sidebar-menu li").eq(3).addClass("active");
   // var data_list = {{data_list|safe}};
   // var header_list = {{header_list|safe}};
   // var camp_data_list = {{camp_data_list|safe}};
   // var camp_header_list = {{camp_header_list|safe}};
   //var pagination_str = '{{pagination_div}}';
   //var decoded = $('<div />').html(pagination_str).text();
   //$('.digg_pagination').html(decoded);
 	
   // addPlayerslistDataTable(header_list, data_list);
   // addCampDataTable(camp_header_list, camp_data_list);
   /*
   $("#player_data").dataTable( {"iDisplayLength": 30,
       "data": data_list,
       "columns":header_list,
       //"processing": true,
       //"serverSide": true,
       "createdRow": function( row, data, dataIndex ) {
           $(row).attr('id', 'order_'+data[0]);
           //$(row).attr('username', data[1]);
          // var html_str  = '<a href="/playerinfosave/'+data[2]+'"  target="_blank">'+data[0]+'</a>';
           //$($(row).find('td')[0]).html(html_str);
           console.log(dataIndex);
       },
       
       "rowCallback": function( row, data ) {
           //if ( $.inArray( $(row).attr('id'), selected_from_group) !== -1 ) {
            //   $(row).addClass('selected');
           //}
       },
      
       paging: true,
       searching: false,
       info: false,
       "order": [[ 0, "desc" ]]
       
	});*/
	
	
   var form2 = $('#DashBoardFormID');
   var error2 = $('.alert-danger', form2);
   var success2 = $('.alert-success', form2);

   form2.validate({
       errorElement: 'span', //default input error message container
       errorClass: 'help-block help-block-error', // default input error message class
       focusInvalid: false, // do not focus the last invalid input
       ignore: "",  // validate all fields including form hidden input
       rules: {
     	  
           linkname: {
               minlength: 4,
               required: true,
               maxlength:25,
           },
       },

       invalidHandler: function (event, validator) { //display error alert on form submit              
           //success2.hide();
           //error2.show();
           //Metronic.scrollTo(error2, -200);
       },

       errorPlacement: function (error, element) { // render error placement for each input type
           //var icon = $(element).parent().parent('.input-icon').children('i');
           var icon = $(element).closest( ".input-icon" ).children('i');
           icon.removeClass('fa-check').addClass("fa-warning");  
           icon.attr("data-original-title", error.text()).tooltip({'container': 'body'});
       },

       highlight: function (element) { // hightlight error inputs
           $(element)
               .closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group   
       },

       unhighlight: function (element) { // revert the change done by hightlight
           
       },

       success: function (label, element) {
           //var icon = $(element).parent().parent('.input-icon').children('i');
            var icon = $(element).closest( ".input-icon" ).children('i');
           $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
           icon.removeClass("fa-warning").addClass("fa-check");
       },

       submitHandler: function (form) {
           success2.show();
           error2.hide();
           form[0].submit(); // submit the form
       }
   });
   
   
   
});
</script>


</body>
<!-- END BODY -->
</html>