<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Tajrummy</title>

<link href="/static_files/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/static_files/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body class="aff_body">

<!--HEADER STARTS HERE-->
<div align="center">

{% include "affiliates/header_affiliates.html" %}

</div>


</div>
<!--HEADER ENDS HERE-->


<div align="center">



{%if not obj%}
<div id="Top_inner_page_body1" style="padding:40px 0px 0px !important; height:340px !important; border-left:none !important;">
</p>{%endif%}




<div id="Top_inner_page_body" style="height:398px !important;" >

<div class="main_Menu aff_menu">

{%if not obj%}
<p style=" line-height: 48px; margin-left: 20px;">Affiliate Login
</p>{%endif%}



</div>

<div class="affiliates_block">

<div class="main">



{% if not obj %}
Please Login <br/>
{%endif%}



{%if obj%}

<p align="left" class="Body_header aff_title">Financials</p>
<!--<img width="980" height="24" src="/static_files/images/Taj_rummy_line_2.png" style="float:left;">-->
<div class="clear"></div>


<div class="aff_table2">

<table cellspacing="0" cellpadding="0" class="aff_financial">
<tbody>

<tr> <th style="border-left: 1px solid #000000;width:100px;">Affiliate Name</th>
<th style="width:100px;">Registration</th>
<th style="width:100px;">Hit Count</th>
<th style="width:100px;">Single Time Depositors</th>
<th style="width:100px;">Deposits</th>
<th style="width:100px;">Withdrawl</th>
<th style="width:100px;">CPA</th>
<th style="width:100px;">CPR</th>
<th style="width:100px;">Adjustments</th>
<th style="width:80px;">Total</th><th>NET</th></tr>

<tr>
<td>{{obj.username}}</td>
<td>{{registration}}</td>
<td>{{hitcount}}</td>
<td>{{firsttimeobj}}</td>
<td>{{sumdeposit}}</td>
<td>{{sumwithdrawl}}</td>
<td>{{cpa}}</td><td>{{cpr}}</td>
<td>{{adjustments}}</td>
<td>{{total}}</td><td>{{net}}</td>
</tr>



</tbody>
</table>

</div>


<div class="clear"></div>

<div class="aff_table2">

<table cellspacing="0" cellpadding="0" class="aff_financial">
<tbody>

<tr> 
<th style="border-left: 1px solid #000000; width:100px;">Campaign ID</th>
<th style="width:100px;">Registration</th>
<th style="width:100px;">Hit</th>
<th style="width:100px;">Single Time Depositors</th>
<th style="width:100px;">Deposits</th><th>Withdrawl</th>
<th style="width:100px;">CPA</th>
<th style="width:100px;">CPR</th>
<th style="width:100px;">Adjustments</th>
<th style="width:100px;">Total</th>
<th style="width:80px;">NET</th></tr>

<tr>

<td>
<table cellspacing="0" cellpadding="0" border="0" class="cent">

{%for i in linksid%}
<tr>
    <td style="border:none;">
        {{i}}
    </td>

</tr>
{%endfor%}

</table>


</td>


<td>
<table cellspacing="0" cellpadding="0" border="0" class="cent">

{%for j in campaignregistration%}
<tr>
    <td style="border:none;">
        {{j}}
    </td>
</tr>
{%endfor%}
</table>


</td>


<td>
<table cellspacing="0" cellpadding="0" border="0" class="cent">

{%for k in campaignhitcountlist%}
<tr>
    <td style="border:none;">
        {{k}}
    </td>
      
</tr>
{%endfor%}

</table>


</td>


<td>
<table cellspacing="0" cellpadding="0" border="0" class="cent">

{%for k in campaignsingletime%}
<tr>
    <td style="border:none;">
        {{k}}
    </td>
</tr>
{%endfor%}

</table>


</td>


<td>
<table cellspacing="0" cellpadding="0" border="0" class="cent">

{%for k in campaignsumdepositlist%}
<tr>
    <td style="border:none;">
        {{k}}
    </td>
</tr>
{%endfor%}

</table>


</td>



<td>
<table cellspacing="0" cellpadding="0" border="0" class="cent">

{%for k in campaignsumwithdrawllist%}
<tr>
    <td style="border:none;">
        {{k}}
    </td>
</tr>
{%endfor%}

</table>


</td>



<td>
<table cellspacing="0" cellpadding="0" border="0" class="cent">

{%for k in campaigncpalist%}
<tr>
    <td style="border:none;">
        {{k}}
    </td>
</tr>
{%endfor%}

</table>


</td>



<td>
<table cellspacing="0" cellpadding="0" border="0" class="cent">

{%for k in campaigncprlist%}
<tr>
    <td style="border:none;">
        {{k}}
    </td>
</tr>
{%endfor%}


</table>


</td>



<td>
<table cellspacing="0" cellpadding="0" border="0" class="cent">

{%for k in  campaignrealadjustmentlist%}
<tr>
    <td style="border:none;">
        {{k}}
    </td>
</tr>
{%endfor%}


</table>


</td>



<td>
<table cellspacing="0" cellpadding="0" border="0" class="cent">

{%for k in  campaigntotallist%}
<tr>
    <td style="border:none;">
        {{k}}
    </td>
</tr>
{%endfor%}

</table>


</td>



<td>
<table cellspacing="0" cellpadding="0" border="0" class="cent">

{%for k in  campaignnet%}
<tr>
    <td style="border:none;">
        {{k}}
    </td>
</tr>
{%endfor%}


</table>


</td>




</tr>



</tbody>
</table>

</div>

<div class="clear"></div>


</div>
{%endif%}

</div>


</div>
 
 
 
</div>

</div>

<!--FOOTER STARTS HERE-->
<div align="center" id="Footer">
<div class="Footer_inner">
{% include "affiliates/footer_affiliates.html" %}
</div>
</div>
<!--FOOTER ENDS HERE-->


</body>
</html>
