<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to </title>

<link href="/static_files/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/static_files/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static_files/js/jquery-1.8.3.min.js"></script>

</head>
<body class="aff_body">

<!--HEADER STARTS HERE-->


<div align="center">

{% include "affiliates/new_design/header-1.html" %}

</div>


</div>
<!--HEADER ENDS HERE-->

 <div align="center">
 


{%if not obj%}
<div id="Top_inner_page_body1" style="padding:90px 0px 0px !important; height:340px !important; ">
</p>{%endif%}

<script type="text/javascript">
$(document).ready(function(){
	
	var affiliate_login = "{{response}}";
	var affiliate_login_flag = "{{reset_status}}";

if(affiliate_login_flag == "true" ||affiliate_login_flag == "True")
{
	$('.affiliate_form h3').addClass('success_msg');
  
}
else if (affiliate_login != ""){
	
	$('.affiliate_form h3').addClass('error_msg');
}

});
</script>


<div id="Top_inner_page_body" >

<div class="main_Menu aff_menu">

{%if not obj%}
<p style="font-size: 24px; line-height: 48px;  margin-left: 20px;  padding-top: 10px;">Affiliate Login
</p>{%endif%}
<span>
</div>

<div class="affiliates_block">

<div class="main">

<div class="affiliate_form">

<h3>{{response}}</h3>
<form action='/affiliates/affiliate_passwordreset/' method='POST' name='signin'>
 {% csrf_token %}
 
 <table cellpadding="0" cellspacing="0" border="0">
 
 <tr><td align="right"><label>Email :</label></td><td align="left"><input type='text' name='email' value=''/></td></tr>
 <tr><td></td><td align="right"><input type="submit" value="Send Email" class="login" name="login"/></td></tr>
 
 </table> 
    
</form>

</div>
<div class="clear"></div>   

</div></div></div></div></div></div>
<!--FOOTER STARTS HERE-->
<div align="center" id="Footer">
<div class="Footer_inner">
{% include "affiliates/footer_affiliates.html" %}
</div>
</div>
<!--FOOTER ENDS HERE-->        
</body>


</html>