<div style="padding-top: 25px;margin-top: -5px;">
		
	<footer class="main-footer">
				
				<div class="footer-inner">
				
					<!-- Add your copyright text here -->
					<div class="footer-text" style="">
						&copy; 2017
						Fozil Partners
					</div>
					
					
					<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
					<!-- <div class="go-up">
					
						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>
						
					</div>
					 -->
				</div>
				
	</footer>
</div>

<script type="text/javascript">

$(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
        
        $('#back-to-top').tooltip('show');
		
});

</script>

