<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}} - Account Details</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	 <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<style>
	
	label{
	position: relative;
	cursor: pointer;
	color: #666;
	font-size: 14px;
}

input[type="radio"]{
	position: absolute;
	right: 9000px;
}



/*Radio box*/

input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px; font-size:20px; vertical-align:-2px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #0091e0;
	    font-size: 20px;
    vertical-align: -2px;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #ccc;
}


@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}


.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left: 25px;
}
	
	
	.paymentOptions {    width: auto;
    position: absolute;
    right: 34px;
    top: 13px;}

.pull-left {}	

.check {width:100%;}
  


.checkbox-inline {padding-left:0 !important;}

.checkboxD {vertical-align: -2px; cursor:pointer;
    margin-right: 8px !important;}

.paysDiv .check {display:none;}

.checkItem {display:none;}

.checkItem {color: #ff0000;
    position: absolute;
    clear: both;
    display: block;
    padding-top: 5px;}

.text-color {color:#000;}
	
	
	
	.table td, .table th {border-top:none;}
	.selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
	.form-control {height:36px !important;}
	.egcs_submit_button {margin-top: 5px;margin-left: 15px;}
	.form-control {font-size:14px;}
	
	.button-delete { width: 85px;
    padding: 5px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
	
	/****** CODE ******/

.file-upload{padding-top:0px; display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #e4e4e4;color: #34495e;cursor:pointer;height:32px;line-height:32px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#f2f2f2;padding:0 10px;display:inline-block;height:36px;line-height:36px;}
.file-upload .file-select .file-select-name{line-height:32px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select {height:40px;}

/****** CODE ******/

.form-horizontal .form-group { overflow: inherit;}





.bootstrap-select.btn-group .dropdown-menu li a span.text {color:#000;}
.bootstrap-select {width:100% !important;}
.bootstrap-select .dropdown-toggle:focus {outline:0 !important;}
.bootstrap-select>.dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1;
    height: 38px;
    border-radius: 0;
    background: #fff;
    border: 1px solid #e5e5e5;
    font-size: 14px;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    height: 160px; display:block;
    margin-top: -1px;
}

.bootstrap-select.btn-group .dropdown-menu.show {
   margin-top:-1px;
    padding-bottom: 0;
}

.dashboard-select > button:hover {border:1px solid #e5e5e5 !important;}

@media (max-width: 767px) {
	.paymentOptions {
    width: auto;
    position: relative;
    right: 0;
    top: 0;
    margin-left: 10px;
}
.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
margin-left:5px;
}

}

.infoLabel {font-size: 40px !important;
    width: 50px;
    height: 45px;
    display: flex !important;
    float: left;
    padding: 2px;}


	</style>

</head>
<style type="text/css">

</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
						<h3 class="text-primary">Add Payment Details</h3>
					</div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Marketing</a></li>
                        <li class="breadcrumb-item active">Add Payment Details</li>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                
<div class="table-toolbar">

<div class="" id="edit" style="display:none;">
									<div class="alert alert-success alert-success-msg">
                                            <center> <span>Payment details have been successfully updated.</span></center>
                                        </div>
								</div>
								
								<div class="alert alert-danger" id="bankError" style="display:none;">
                                            <center> <span>Plase check bank wire transfer validation.</span></center>
                                        </div>
								
								

                                
                                {%if data.message %}
                                <div class="row" id="success_message">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                
                                <div class="row">
                                    <div>
                                        <p class="pl-2 m-2 mb-3 radius alert ml-2 bg-light p-2" style="color:#67757c; font-size: 15px;margin-bottom:12px !important;margin-top: -5px !important;">
                                            <i class="fa fa-info-circle infoLabel" aria-hidden="true"></i>
                                            Please choose and enter details for any ONE of the following methods. Note: If you enter details for multiple
                                            methods, the details for the method you enter last before submitting this form will be the only ones recorded in
                                            the program.</p>
                                    
                                    </div>
                                    <div class="col-md-12 col-sm-12 p-l-0 p-r-0 top-space-adjust-sec">
                                        <div>
                                
                                            
                                        <div class="profile-edit-details">
										
											 
											 {%if data.call == 'POST'%}
                                        <form action="/admin/payment-details" method="POST" id="formValidation" enctype="multipart/form-data" class="form-horizontal">
                                        	<fieldset>
                                          {% else %}
                                          <form action="/admin/payment-details/{{data.id}}" id="formValidation" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" >
                                          	<fieldset>
                                          	
                                            {% endif %}
                                        
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
												
												 
												
												<legend class="heading-all-page">Affiliate Information</legend>
												
												<span class="loading" style="display:none;">Loading...</span>
												
												<div class="paymentOptions">
			
				
					<label class="checkbox-inline text-color">
					  <input type="radio" id="bank" class="payment checkboxD" checked="checked" value="">
					<span class="label-text">Bank Wire Transfer</span>
					</label>
					<label class="checkbox-inline text-color">
					  <input type="radio" id="pay" class="payment checkboxD" value="">
					<span class="label-text">Paypal</span>
					</label>
					<label class="checkbox-inline text-color">
                      <input type="radio" id="net" class="payment checkboxD" value="">
                      {% if partner != 'Maxi Affiliates'%}
                    <span class="label-text">Neteller</span>
                    {%endif%}
					</label>
					
	
			
			</div>
												
												
							<div class="paysDiv">					
									
									<span class="bank check">
												
												 <!-- <div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Affiliate ID</label>
													<input type="text" class="form-control" name="" value="{{data.fk_affiliateinfo}}" readonly id="aff_id" placeholder="">
												</div>
												
												 <div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label class="d-block">Affiliate</label>
													
											{% if data.fk_affiliateinfo %}
													{%for i in data.affiliates_list %}
			                                            {% if i.0 == data.fk_affiliateinfo %}
			                                            <input type="text" class="form-control" name="" value="{{i.1}}" readonly id="" placeholder="">
				                                            {% endif %}
				                                    {%endfor%}
				                                    
											{% else %}
													<select class="selectpicker dashboard-select" data-live-search="true" id="affiliate" name="fk_affiliateinfo" required="required" onchange="select_aff(this)">
													<option>Select Affiliate</option>
			                                        {%for i in data.affiliates_list %}
			                                            {% if i.0 == data.fk_affiliateinfo %}
			                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
			                                            {%else%}
			                                            <option value="{{i.0}}">{{i.1}}</option>
			                                            {% endif %}
			                                        {%endfor%}
			                                    </select>
                                    		{% endif %}
												</div> -->
												
												<div class="clear"></div>
												
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Account Number</label>
													<input type="number" class="form-control" required="required" name="accountnumber" value="{{data.accountnumber}}" id="" placeholder="" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
												</div>
												
												<div class="form-group col-md-4 col-sm-12" style="float:left;">
													<label>Beneficiary Name</label>
													<input type="text" class="form-control" required="required" name="accountname" value="{{data.accountname}}" id="" placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="">
													<label>Beneficiary Address</label>
													<input type="text" class="form-control" required="required" name="beneficiaryaddress" value="{{data.beneficiaryaddress}}" id="" placeholder="">
												</div>
												
												
												
												
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Bank Name</label>
													<input type="text" class="form-control" required="required" name="bankname" value="{{data.bankname}}" id="" placeholder="" />
												</div>
												
												<div class="form-group col-md-4 col-sm-12" style="float:left;">
													<label>Bank Address</label>
													<input type="text" class="form-control" required="required" required="required" name="bankaddress" value="{{data.bankaddress}}" id="" placeholder="" />
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Sort Code</label>
													<input type="text" class="form-control" required="required" name="sortcode" value="{{data.sortcode}}" id="" placeholder="" />
												</div>
																								
												
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>IBAN</label>
													<input type="text" class="form-control" required="required" name="iban" value="{{data.iban}}" id="" placeholder="" />
												</div>
												
												
												<div class="form-group col-md-4 col-sm-12" style="float:left;">
													<label>SWIFT</label>
													<input type="text" class="form-control" required="required" name="swift" value="{{data.swift}}" id="" placeholder="" />
												</div>
												
												</span> <!-- Bank -->
												
												
												<span class="pay check">
												
												
												
												 <div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Beneficiary Name</label>
													<input type="text" class="form-control" name="paypal_username" value="{{data.paypal_username}}" id="paypal_username" placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Email Address</label>
													<input type="text" class="form-control" name="paypal_email" value="{{data.paypal_email}}" id="paypal_email" placeholder="">
												</div>
												
												</span> <!-- Pay -->
												
												
												<span class="net check">
												
												
												
												 <div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Beneficiary Name</label>
													<input type="text" class="form-control" name="neteller_username" value="{{data.neteller_username}}" id="neteller_username" placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Email Address</label>
													<input type="text" class="form-control" name="neteller_email" value="{{data.neteller_email}}" id="neteller_email"  placeholder=""  pattern="^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Account Number</label>
													<input type="number" class="form-control" name="neteller_accountnumber" value="{{data.neteller_accountnumber}}" id="neteller_accountnumber" placeholder="">
												</div>
												
												</span> <!-- Net -->
												
												
												</div> <!-- End of paysDiv -->
												
            
												<div class="form-group input-group">
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                               
											    {%if data.call == 'POST'%}
											   <button class="btn btn-purple button-large button-web-get" title="Make a POST request " type="submit" value=""  >Submit</button>
                                            {% else %}
											<button class="btn btn-purple button-large button-web-get" onclick="call_valid();" type="button" value="" >Submit</button>
											</span>
											 {% endif %}
											 
											 </div>
											 
                                        </div>
												
												
											</fieldset>
											
											
											 
											
										
										
										</div>
										
										
										
                                                   
							
							
							
                          </div>
										
										 
										
                                        
                        </form>
                                       </div>
                                    </div>
                                </div>
                            </div>			
                            </div>
					</div>

					</div>
					
					
					
					
               
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
	
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
	
	  <script type="text/javascript">
	  $('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen..."); 
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
  }
});
</script>


<script type="text/javascript">


	function  select_aff(ele) {
		$('#aff_id').val($(ele).val());
	}

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#profile-img-tag').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#chooseFile").change(function(){
        readURL(this);
			$(".width-height").show();
    });
    $(document).ready(function() {
    	$('.itemd').removeClass("active");
    $('.itemd[href="/admin/payment-details"]').addClass("active");
    $('#settingsd').addClass("active");
          // var campaign_dict = '{{campaign_list|safe}}';
          $('form').ajaxForm();
          $('input').each(function (index, data) {
            if($(this).val() == 'None'){
                $(this).val('');
            }
        });
        });
</script>


<script>

//function isValidEmailAddress(paypal_email) {
  //  var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
  //  return pattern.test(paypal_email);
//}

	

//function call_valid(email) {
//  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
 /// return re.test(email);
//}

$.validator.methods.email = function( value, element ) {
  return this.optional( element ) || /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test( value );
}

function call_valid(){
	if ($('#formValidation').valid()){
		//data_d = $('#formValidation').serialize();
		// $('input:not(:visible)').each(function(){
		// 	if ($(this).val() == '' || $(this).attr('value')==''){
		// 		$(this).removeAttr("name");
		//    }
		// });
        onePayment();
		var form = $('#formValidation')[0];
		var data_d = new FormData(form);
		$.ajax({
		   url: $('#formValidation').attr('action'),
		   type: 'PUT',
		   enctype: 'multipart/form-data',
			processData: false,  // Important!
			contentType: false,
			cache: false,
		   data: data_d,
		   success: function(response) {
			$('#success_message').hide();
			//$('#bankError').hide();
			 $("#edit").show();
			 $('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');
		   }
		});
		

	};
}


$('.payment').change(function() {
  $('.payment').not(this).prop('checked', false);
});
							
							$(function() {
          var $divs = $('.paysDiv > .check');
          $divs.first().show()
          $('input[type=radio]').on('change',function() {
                  $divs.hide();
                  $divs.eq( $('input[type=radio]').index( this ) ).show();
				  $("#edit").hide();
           });
});

// Validation and Ajax action
        $('#formValidation').validate({
		     ignore: ":not(:visible)",
             rules: {

				  accountnumber: {
                      required: true,
                  },
				  
				  accountname: {
                      required: true,
                  },
				  
				  beneficiaryaddress: {
                      required: true,
                  },
				  
				  bankname: {
                      required: true,
                  },
				  
				  bankaddress: {
                      required: true,
                  },
				  
				  sortcode: {
                      required: true,
                  },
				  
				  iban: {
                      required: true,
                  },
				  
				  swift: {
                      required: true,
                  },
				  
				  paypal_username:{
                      required:true,
                  },
				  
				  paypal_email:{
                      required:true,
					  email: true,
                  },
				  
				  neteller_username:{
                      required:true,
                  },
				  neteller_email:{
                      required:true,
					  email: true,
                  },
				  
				  neteller_accountnumber:{
                      required:true,
					  number:true
                  },
	
              },

            messages: {
               
				
				accountnumber: {
                      required: 'Please enter your account number.'
                  },
				  
				  accountname: {
                      required: 'Please enter your account name.'
                  },
				  
				  beneficiaryaddress: {
                      required: 'Please enter your beneficiary address.'
                  },
				  
				  bankname: {
                      required: 'Please enter your bank name.'
                  },
				  
				  bankaddress: {
                      required: 'Please enter your bank address.'
                  },
				  
				  sortcode: {
                      required: 'Please enter your sort code.'
                  },
				  
				  iban: {
                      required: 'Please enter your IBAN.'
                  },
				  
				  paypal_username:{
                      required: 'Please enter your beneficiary name.'
                  },
				  paypal_email:{
                      required: 'Please enter a valid email address.'
                  },
				  neteller_username:{
                      required: 'Please enter your beneficiary name.'
                  },
				  neteller_email:{
                      required: 'Please enter a valid email address.'
                  },
				  neteller_accountnumber:{
                      required: 'Please enter your account number.'
                  },
				  
				  swift: {
                      required: 'Please enter your SWIFT.'
                  },
		
            },
			
			submitHandler: function (form) {
                if($('#nodata').is(":visible")==false){
                      form[0].submit();
					  
                    }
                }

        
              });
              //Method used to empty other payment mehtods after submitting
			  onePayment = function(){
                if ($('#bank').prop('checked') == true) {
                    $(".pay input, .net input").each(function () {
                        this.value = " ";
                    });
                }

                if ($('#pay').prop('checked') == true) {
                    $(".bank input, .net input").each(function () {
                        this.value = " ";
                    });
                }

                if ($('#net').prop('checked') == true) {
                    $(".bank input, .pay input").each(function () {
                        this.value = " ";
                    });
                }
}	  
			  </script>

</body>
</html>