<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />
  
    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <style>
  
 
  
  </style>

</head>
<style type="text/css">
.allText {display: block;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding-bottom: 10px;
    clear: both;
    padding-top: 14px;}
	
.font15 {font-size:15px !important;}
</style>
<body class="page-body">

  
  
   <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
  
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
    
        {% if data.pid != "new" %}
         {% include "partner/new_design/menubar-1.html" %}
        
        <!-- End Left Sidebar  -->
    
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
            <h3 class="text-primary">Add User</h3>
          </div>
		  <div class="col-md-7 align-self-center float-right">
        
        
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                        <li class="breadcrumb-item active">Add User</li>
                    </ol>	
		  
                
		{% else %}
		<div class="page-wrapper" style="margin-left: 0px; !important">
		
		
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-8 align-self-center">
                    
            <h3 class="text-primary">SET YOUR WYNTA ACCOUNT UP IN A JIFFY - 4 SUPER QUICK STEPS!</h3>
          
          </div>
            <div class="col-md-4 align-self-center float-right">
        
        
                    <ol class="breadcrumb">
              
            <li class="breadcrumb-item active"><a href="/admin/" class="skip-button"><strong><i class="fa fa-home"></i> Home</strong></a></li>
                    </ol>	
        
          {% endif %}
					
          <div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
                      <i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
        
          
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
        
      <div class="card">
      
      <div class="row">
      <div class="col-lg-12">
      <div class="card-title">
                
						<div class="table-toolbar">
                                <div id='error-msg' class="alert alert-danger alert-failure-msg" style="display: none;">
                                            <center> <span>Atleast one menu option checked is mandatory.</span></center>
                                        </div>
									
								<div class="" id="edit" style="display:none;">
									<div class="alert alert-success alert-success-msg">
                                            <center> <span>User details have been updated successfully. </span></center>
                                        </div>
								</div>	

								{%if Error %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   
                                        <div class="alert alert-danger alert-failure-msg">
                                            <center> <span>{{Error}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>								
									{%endif%}
									
                                {%if data.message %}
                                <div class="row" id="success_message">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                          {%if data.call == 'POST'%}
                                        <form action="/admin/add-new-user" method="POST" id="formValidation" enctype="multipart/form-data" class="form-horizontal">
                                          {% else %}
                                          <form action= "/admin/add-new-user/{{data.id}}" id="formValidation" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" class="form-horizontal">
                                            {% endif %}
                                        <fieldset>
                                       
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
										{% if data.pid == "new" %}
										<div class="profile-edit-details">
                    
                    
                       <div class="main-col">
                     
                     
                      <div class="row">
        <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bhoechie-tab-menu float-left">
              <div class="list-group">
                <a href="/admin/writedomain?pid=new" class="list-group-item">
                  <span class="steps-all">1</span>Domain & SSL
                </a>
                <a href="/admin/site-mapping/post?pid=new" class="list-group-item">
                  <span class="steps-all">2</span>Site Mapping
                </a>
                <a href="/admin/software-authentication/post?pid=new" class="list-group-item">
                  <span class="steps-all">3</span>Software Authentication
                </a>
                <a href="/admin/add-new-user/post?pid=new" class="list-group-item active">
                  <span class="steps-all">4</span>Add User
                </a>
                
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 bhoechie-tab float-right">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    
                     <div class="tt-form-wrapper">
  <div class="content-settings-form edit-wrapper">
    <div class="tt-form-group">
   
              {% endif %}                                  
                  
		<div class="profile-edit-details">
										
										
											 <fieldset>
											 
												<!-- <legend class="heading-all-page">Software Authentication</legend> -->
	
{% if data.pid == "new" %}
	
<legend class="heading-all-page-full">Add User</legend>
												 
		{% endif %}										
										

												<div class="form-group col-lg-6 col-md-6 col-sm-12 pull-left left-zero pl-0">
												 {% if not data.user %}
													<label>Email Address</label>
													<input type="email" placeholder="This email address must be of the primary user of this account" class="form-control full-input-width" name="email" required="required" value="" id="" placeholder="">
												 {% else %}
												 <label for="validationCustom01">User</label>
													<input type="text" placeholder="This email address must be of the primary user of this account" class="form-control full-input-width" name="site_domain" required="required" value="{{data.user}}" id="" placeholder="" readonly="readonly">
												{% endif %}
												
												</div>
												
												<div class="form-group col-lg-6 col-md-6 col-sm-12 pull-right left-zero pr-0">
													<label for="validationCustom01">Role</label>
													<input type="text" class="form-control full-input-width" name="role" required="required" value="{{data.role}}" id="role" placeholder="">
												</div>
												
												
												 <!-- {% for i, val in data.menu_items.items %} -->
                         <!-- <div class="form-group col-md-12 row" style=""> -->
						 
						 <!-- <p>Select the access you'd like this user to have</p> -->
                         <!-- <ul class="space-ul"> -->
    <!-- <li> -->
                                            <!-- {% if i in data.options %} -->
                                            
      <!-- <input type="checkbox" value="{{i}}" id="{{i}}" name="choice" checked class="checkbox option" style="width:20px !important; height:20px; vertical-align: top; z-index:9999; display:inline-block;" /><span class="checkmark"></span><label for="option" class="margin-right-space"> <strong class="color-black">{{i}}</strong> -->

      <!-- </label> -->
      <!-- {% else %} -->
      <!-- <input type="checkbox" value="{{i}}" id="{{i}}" name="choice"  class="checkbox option" style="width:20px !important; height:20px; vertical-align: top; z-index:9999; display:inline-block;" /><span class="checkmark"></span><label for="option" class="margin-right-space"> <strong class="color-black">{{i}}</strong> -->

      <!-- </label>{% endif %} -->
      <!-- <ul class="sublist"> -->
                                            <!-- {% for j in val %} -->
                                                      
                                                        <!-- <li> -->
                                                     <!-- {% if j in data.options %} -->
<!-- <input type="checkbox" name="choice" value="{{j}}" checked class="checkbox subOption {{i}}" tref="{{i}}" style="width:20px !important; height:20px; vertical-align: top; z-index:9999; display:inline-block;"><span class="checkmark"></span><label class="margin-right-space">{{j}}</label></li> -->
                                                          
                                                          <!-- {% else %} -->
<!-- <input type="checkbox" name="choice" value="{{j}}" class="checkbox subOption {{i}}" tref="{{i}}" style="width:20px !important; height:20px; vertical-align: top; z-index:9999; display:inline-block;"><span class="checkmark"></span><label class="margin-right-space">{{j}}</label></li> -->
                                                      
                                                        <!-- {% endif %} -->
                                                        
                                            <!-- {%endfor%} -->
                                            <!-- </ul> -->
  <!-- </div>     -->
                                                
                                        <!-- {%endfor%} -->
												
		
	<ul class="list-inline">
	<li class="mt-2 mb-2 allText">Select the access you'd like this user to have</li>	
        <li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="Dashboard" value='Dashboard' name="choice">
			<label class="custom-control-label" for="Dashboard">Dashboard</label>
		</div>
		
		</li>
        <li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="Affiliates" value='Affiliates' name="choice">
			<label class="custom-control-label Affiliates" for="Affiliates">Affiliates</label>
		</div>
		</li>
        <li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="Commissions" value='Commissions' name="choice">
			<label class="custom-control-label Commissions" for="Commissions">Commissions</label>
		</div>
		</li>
        <li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="Marketing"  value='Marketing' name="choice">
			<label class="custom-control-label Marketing" for="Marketing">Marketing Material</label>
		</div>		
		</li>
		<li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="Reports"  value='Reports' name="choice">
			<label class="custom-control-label Reports" for="Reports">Reports</label>
		</div>
		</li>
        <li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="Users"  value='Users' name="choice">
			<label class="custom-control-label Users" for="Users">Users</label>
		</div>
		</li>
        <li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="Settings"  value='Settings' name="choice">
			<label class="custom-control-label Settings" for="Settings">Settings</label>
		</div>
		</li>
        <li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="Messages"  value='Messages' name="choice">
			<label class="custom-control-label Messages" for="Messages">Messages</label>
		</div>
		</li>
		<!-- <li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="Whats"  value='Whats' name="choice">
			<label class="custom-control-label Whats" for="Whats">Whats New</label>
		</div>
		</li> -->
    </ul>	
	
	
	<!-- Affiliate Items -->

<div id="affiliateItems" style="display:none;">
<h4 class="text-dark mt-2 mb-2 font15">Affiliates</h4>
	<ul class="list-inline sublist">
        <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Affiliates" tref="Affiliates" id="sa"  value='Search Affiliate' name="choice">
				<label class="custom-control-label" for="sa">Search Affiliates</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Affiliates" tref="Affiliates" id="ma"  value='Manage Affiliates' name="choice">
				<label class="custom-control-label" for="ma">Manage Affiliates</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Affiliates" tref="Affiliates" id="aaa"  value='Add Affiliate' name="choice">
				<label class="custom-control-label" for="aaa">Add Affiliate</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Affiliates" tref="Affiliates" id="pa"  value='Pending Applications' name="choice">
				<label class="custom-control-label" for="pa">Pending Affiliates</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Affiliates" tref="Affiliates" id="ra"  value='Referral Affiliates' name="choice">
				<label class="custom-control-label" for="ra">Referral Affiliates</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Affiliates" tref="Affiliates" id="pd"  value='Account Details' name="choice">
				<label class="custom-control-label" for="pd">Payment Details</label>
			</div>
		</li>
	</ul>

</div>	

<!-- Affiliate Items Ends -->


<!-- Commissions Items -->

<div id="commissionItems" style="display:none;">
<h4 class="text-dark mt-2 mb-2 font15">Commissions</h4>
	<ul class="list-inline sublist">
        <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Commissions" tref="Commissions" id="df"  value='Default' name="choice">
				<label class="custom-control-label" for="df">Default</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Commissions" tref="Commissions" id="br"  value='Brand' name="choice">
				<label class="custom-control-label" for="br">Brand</label>
			</div>
		</li>
		<!-- <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Commissions" tref="Commissions" id="co"  value='Country' name="choice">
				<label class="custom-control-label" for="co">Country</label>
			</div>
		</li> -->
		
	</ul>

</div>	

<!-- Commissions Items Ends -->


<!-- Marketing Material Items -->

<div id="marketingItems" style="display:none;">
<h4 class="text-dark mt-2 mb-2 font15">Marketing Material</h4>

	<ul class="list-inline sublist">
        <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Marketing" tref="Marketing" id="lp"  value='Landing Pages' name="choice">
				<label class="custom-control-label" for="lp">Landing Pages</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Marketing" tref="Marketing" id="b"  value='Banners' name="choice">
				<label class="custom-control-label" for="b">Banners</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Marketing" tref="Marketing" id="tl"  value='Text Links' name="choice">
				<label class="custom-control-label" for="tl">Text Links</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Marketing" tref="Marketing" id="ss"  value='Screenshot' name="choice">
				<label class="custom-control-label" for="ss">Screenshot</label>
			</div>
		</li>
		<!-- <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Marketing" tref="Marketing" id="pp"  value='Page Peel' name="choice">
				<label class="custom-control-label" for="pp">Page Peels</label>
			</div>
		</li> -->
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Marketing" tref="Marketing" id="v"  value='Videos' name="choice">
				<label class="custom-control-label" for="v">Videos</label>
			</div>
		</li>
	</ul>

</div>	

<!-- Marketing Material Items Ends -->


<!-- Reports Items -->

<div id="reportsItems" style="display:none;">
<h4 class="text-dark mt-2 mb-2 font15">Reports</h4>

	<ul class="list-inline sublist">
        <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Reports" tref="Reports" id="er"  value='Earnings Report' name="choice">
				<label class="custom-control-label" for="er">Earnings Report</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Reports" tref="Reports" id="cor"  value='Conversions Report' name="choice">
				<label class="custom-control-label" for="cor">Conversions Report</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Reports" tref="Reports" id="cr"  value='Campaigns report' name="choice">
				<label class="custom-control-label" for="cr">Campaigns Report</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Reports" tref="Reports" id="dr"  value='Dynamic report' name="choice">
				<label class="custom-control-label" for="dr">Dynamic Report</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Reports" tref="Reports" id="pr"  value='Active Depositors' name="choice">
				<label class="custom-control-label" for="pr">Player Report</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Reports" tref="Reports" id="der"  value='Device Report' name="choice">
				<label class="custom-control-label" for="der">Device Report</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Reports" tref="Reports" id="sar"  value='Sub Affiliate Report' name="choice">
				<label class="custom-control-label" for="sar">Sub Affiliate Report</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Reports" tref="Reports" id="aa"  value='Affiliate Activity' name="choice">
				<label class="custom-control-label" for="aa">Affiliate Activity</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Reports" tref="Reports" id="bf"  value='Brand Report' name="choice">
				<label class="custom-control-label" for="bf">Brand Report</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Reports" tref="Reports" id="paymentr"  value='Payment Report' name="choice">
				<label class="custom-control-label" for="paymentr">Payment Report</label>
			</div>
		</li>
	
	</ul>

</div>	

<!-- Reports Items Ends -->



<!-- Settings Items -->

<div id="settingsItems" style="display:none;">
<h4 class="text-dark mt-2 mb-2 font15">Settings</h4>
	<ul class="list-inline sublist">
        <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Settings" tref="Settings" id="changep"  value='Change Password' name="choice">
				<label class="custom-control-label" for="changep">Change Password</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Settings" tref="Settings" id="spa"  value='Software Provider Authentication' name="choice">
				<label class="custom-control-label" for="spa">Software Provider Authentication</label>
			</div>
		</li>
		 <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Settings" tref="Settings" id="bm"  value='Brand Mapping' name="choice">
				<label class="custom-control-label" for="bm">Brand Mapping</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Settings" tref="Settings" id="dd"  value='Deductions' name="choice">
				<label class="custom-control-label" for="dd">Deductions</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Settings" tref="Settings" id="ts"  value='Tiered Structure' name="choice">
				<label class="custom-control-label" for="ts">Tiered Structure</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Settings" tref="Settings" id="logsP"  value='Logs' name="choice">
				<label class="custom-control-label" for="logsP">Logs</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Settings" tref="Settings" id="threshold"  value='Threshold' name="choice">
				<label class="custom-control-label" for="threshold">Threshold</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption Settings" tref="Settings" id="providerl"  value='Provider Logs' name="choice">
				<label class="custom-control-label" for="providerl">Provider Logs</label>
			</div>
		</li>
		
	</ul>

</div>	

<!-- Settings Items Ends -->


<script>
$("#Affiliates").click(function() {
    if($(this).is(":checked")) {
        $("#affiliateItems").show(100);
		$(".Affiliates").css("color","#0091e0");
    } else {
        $("#affiliateItems").hide(100);
		$(".Affiliates").css("color","");
    }
});

$("#Commissions").click(function() {
    if($(this).is(":checked")) {
        $("#commissionItems").show(100);
		$(".Commissions").css("color","#0091e0");
    } else {
        $("#commissionItems").hide(100);
		$(".Commissions").css("color","");
    }
});

$("#Marketing").click(function() {
    if($(this).is(":checked")) {
        $("#marketingItems").show(100);
		$(".Marketing").css("color","#0091e0");
    } else {
        $("#marketingItems").hide(100);
		$(".Marketing").css("color","");
    }
});

$("#Reports").click(function() {
    if($(this).is(":checked")) {
        $("#reportsItems").show(100);
		$(".Reports").css("color","#0091e0");
    } else {
        $("#reportsItems").hide(100);
		$(".Reports").css("color","");
    }
});

$("#Settings").click(function() {
    if($(this).is(":checked")) {
        $("#settingsItems").show(100);
		$(".Settings").css("color","#0091e0");
    } else {
        $("#settingsItems").hide(100);
		$(".Settings").css("color","");
    }
});
</script>













						
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                        

										{%if data.call == 'POST' %}
						  
										  {% if data.pid == "new" %}
											<button class="btn btn-purple button-large button-web-get ml-0" title="Make a POST request on the Affiliate Campaign List resource" type="submit" check="Verify" value="" style="">You're all done!</button>
										 {% else %}
											<button class="btn btn-purple button-large button-web-get submit-width ml-0" type="submit" value="" style="">Submit</button>
										{% endif %}
									{% else %}
									  <button class="btn btn-purple button-large button-web-get submit-width ml-0" onclick="call_valid();" type="button" value="" style="">Submit</button>
									  </span>
									   {% endif %}

					
                                        </div>
												
												
											</fieldset>
											
											</div>

      
  </div>
</div>
                    
                </div>
                <!-- train section -->
                
               
            </div>
        </div>
  </div>
        

                    </div>
										
										
										</div>            
  
  
                                      </fieldset>
                                        </form>
                      </form>
                                       
                                    </div>
                                </div>
                            </div>
                           
                        </div>       
                            </div>
          </div>

          </div>
          
          
          
          
               
      </div> <!-- First div card -->
      
      

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
       {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
  <!-- Page Loading Overlay -->
  <!-- <div class="page-loading-overlay">
    <div class="loader-2"></div>
    
  </div> -->
  

<script>
        $(document).ready(function() {
          $('.itemd').removeClass("active");
    $('.itemd[href="/admin/add-new-user"]').addClass("active");
    $('#userd').addClass("active");
          
          var datad = {{data.options | safe }};
		  console.log('options are '+datad);
		  if(datad){
			for(i=0;i<datad.length;i++){
				$('input[value="'+ datad[i] +'"]').prop('checked',true);
			//if ($('input[name="choice"]').is(':checked'))
			  // {
				//	$('input[value="'+ datad[i] +'"]').prop('checked',true);
			  // }				
			}
		  }
		  if(window.location.pathname.split('/')[3] != 'post'){
			

		if($("#Affiliates").is(":checked")) {
			$("#affiliateItems").show(100);
		}

		if($("#Commissions").is(":checked")) {
			$("#commissionItems").show(100);
		}

		if($("#Marketing").is(":checked")) {
			$("#marketingItems").show(100);
		}

		if($("#Reports").is(":checked")) {
			$("#reportsItems").show(100);
		}
		
		if($("#Settings").is(":checked")) {
			$("#settingsItems").show(100);
		}

		  }
          $('form').ajaxForm();
          $('form').submit(function () {
              var empty = false;
              // Get the Login Name value and trim it
              
              // Check if empty of not
              if ($("input:checkbox:checked").length  === 0 || empty == true) {
                  $('#error-msg').show();
				  $('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');
                  empty = false;
              }
              else{
                  $('#error-msg').hide();
                  empty = true;
              }
			return empty;
          });
        });
        $('input[type="checkbox"]').click(function() {
          if(this.checked) {
              $('.'+$(this).attr('id')).prop('checked', true);
              $('#'+$(this).attr('tref')).prop('checked', true);
          }
          else{
              if ($('input[tref="'+$(this).attr('tref')+'"]:checked').length == 0){
                  $('#'+$(this).attr('tref')).prop('checked', false);
              }
              $('.'+$(this).attr('id')).prop('checked', false);
          }       
    });
      </script>
	  
	  <script>
	  
	  function call_valid(){
	  
	if ($('#formValidation').valid()){
		//data_d = $('#formValidation').serialize();
		
		
		
		if ($("input:checkbox:checked").length  === 0) {
                  $('#error-msg').show();
				  $("#edit").hide();
				  $('html, body').animate({
			scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
		}, 'slow');
		  empty = false;
		}
		else{
		  $('#error-msg').hide();
		  empty = true;
		}
		if(empty == false){
			return false;
		}
		
		var form = $('#formValidation')[0];
		var data_d = new FormData(form);
        $("#remove-overlay").addClass("overlay");
        $(".preloader").show();
		$.ajax({
		   url: $('#formValidation').attr('action'),
		   type: 'PUT',
		   enctype: 'multipart/form-data',
			processData: false,  // Important!
			contentType: false,
			cache: false,
		   data: data_d,
		   success: function(response) {
		   $('#success_message').hide();
			 $("#edit").show();
			 $('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');
             $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
		   }
		});
	};
}

// Validation and Ajax action
        $('#formValidation').validate({
             rules: {

				  email: {
                      required: true,
                  },
				  
				  role: {
                      required: true,
                  },

              },

            messages: {
               
				
				email: {
                      required: 'Please enter the email address.'
                  },
				  
				  role: {
                      required: 'Please enter your role'
                  },
            },
			
			
			
			submitHandler: function (form) {
				if ($("input:checkbox:checked").length === 0) {
					$('#error-msg').hide();
					$('html, body').animate({
						scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
					}, 'slow');
					empty = false;
				}
				else {
					$('#error-msg').hide();
					empty = true;
				}
				if (empty == false) {
					return false;
				}
				if ($('#nodata').is(":visible") == false) {

					form[0].submit();
				}
			}


		});
			  
			  </script>
	  
</body>
</html>