<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{partner}}</title>
	
	<link rel="icon" href="/static_files/new_wynta/images/favicon-dash.ico" />
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">


<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />

  
    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
  

<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
	<style>
	
	
	
	.multiselect::after {margin-left:0.2rem;}
	
	label#multiple-checkboxes-error {    position: relative;
    top: 70px;
    left: -48px;}
	
	.delete-focus:focus {background:#ff0000 !important; border:none !important;}
	
	.multiselect-clear-filter, .multiselect-search {display:none;}
	
.btn-group {width:100%;}

.button-submit-one {    font-size: 14px !important;
    background: red;
    border: none;}
	
	.delete-focus, .delete-focus:hover {
	margin-left: 15px; background: red !important; border: none; height:32px;}
	
	
	
	.button-delete-one { font-size: 14px !important;
    background: #e6e6e6; height:32px;
    color: #000;
    border: none;}
	
	.button-delete-one:hover, .button-delete-one:focus {
	margin-top: 5px;
    margin-left: 15px; color:#000 !important; height:32px; background: #e6e6e6 !important; border:none !important;}


.btn-group>.btn:first-child {
    margin-left: 0;
    background: none;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    height: 38px;
    font-size: 14px;
    width: 100% !important;
    text-align: left;
	background: none !important;
    border: 1px solid #ccc !important;
}

.multiselect-container>li>a>label {padding-left:0px;}

select.form-control:not([size]):not([multiple]) {height: calc(2.09rem + 2px) !important;}

label.margin-bottom-space {}

.dropdown-toggle::after { margin-top:-12px;}
.multiselect-container {  width:100% !important;  position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 100%;
    color: rgb(0, 0, 0);}
	
	label.checkbox {    color: #000 !important;
    vertical-align: middle;
    padding-left: 0;
    text-transform: capitalize;
    display: block;
	}
	
	.multiselect-container>li>a>label>input[type=checkbox] {
    vertical-align: middle;
    margin-right: 2px; margin-bottom:0px;
}
	.ui-dialog{
  z-index: 999999 !important;
  top: 120px !important;
}
	ul.inner {display:block;}
	
	.bs-placeholder {width: 100%;
    height: 38px;
    border-radius: 0;
    background: none;
    border: 1px solid #ccc;
    font-size: 14px;}
	
	.table td, .table th {border-top:none;}
	.selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
	.form-control {}
	.egcs_submit_button {margin-top: 5px;margin-left: 15px;}
	
	.button-delete { width: 85px;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
	
	.button-delete:hover { width: 85px;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
	
	.delete-focus, .
	
	/****** CODE ******/

.file-upload{padding-top:0px; display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #e4e4e4;color: #34495e;cursor:pointer;height:32px;line-height:32px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#f2f2f2;padding:0 10px;display:inline-block;height:36px;line-height:36px;}
.file-upload .file-select .file-select-name{line-height:32px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select {height:40px;}

/****** CODE ******/

.im-field {    width: auto;
    }
	
	.payment-button {    margin-top: 10px;
    border-radius: 0px;
    padding: 10px;
    width: 150px;
    border: none;
    box-shadow: none;}
	
	.payment-button:hover {    margin-top: 10px;
    border-radius: 0px;
    padding: 10px;
    width: 150px;
    border: none;
    box-shadow: none;}
	
.ui-dialog {position:fixed !important;}
#cover {position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99999;
    width: 100%;
    height: 100%;
   }

   .multiselect-selected-text{color:#67757c;}
.dropdown-toggle::after {color:#67757c;}


@media (max-width: 767px) {

 .block-group {width:100% !important; display:inline-block;}
.mobile-bot {margin-bottom:10px;}
label#multiple-checkboxes-error {top:58px;left:0; bottom:-10px;}
.btn-group {width:97% !important;}
.card {padding-left:20px}
	.im-left {width:30%;}
	.skype-right {width:70%;}
	.button-large {
    margin-top: 40px; 
}
}

.multiselect-selected-text {width:97%;}

.multiselect-container {margin-top:-1px !important;height:150px; overflow-x:hidden; overflow-y:scroll;}

.btn-group>.btn:first-child {outline:0 !important;}

.label-block {display:block;}

.dashboard-select {width:100% !important;}

.bootstrap-select.btn-group .dropdown-menu.show {padding-top:0; padding-bottom:0;}

.bootstrap-select.btn-group .dropdown-menu li a span.text,
.bootstrap-select.btn-group .dropdown-toggle .filter-option {color:#000;}

 
 .bootstrap-select.btn-group .dropdown-menu.inner {
    display: block;
    max-height: 150px !important;
    overflow-x: hidden;
    min-height: 100px;
}
 
 .multiselect-filter {display:none;}
 
.closeMark {color: #fff;
    position: absolute;
    margin-top: 9px;
    background: #ff0000;
    padding: 3px;
    border-radius: 30px;
    line-height: 15px !important;
    text-align: center;
    font-size: 15px;
    z-index: 9;
    right: 24px;
    top: 0;
    font-size: 12px !important;
    width: 20px;
    height: 20px; cursor:pointer;}
	
	
	
	.add-circle {background: #0091e0;
    cursor: pointer;
    position: relative;
    top: 2px;
    color: #fff;
    padding: 3px;
    border-radius: 30px;
    line-height: 15px !important;
    text-align: center;
    font-size: 15px;
    z-index: 9;
    margin-left: 7px;
    top: -2px;
    font-size: 10px !important;
    width: 20px;
    height: 20px;
     cursor: pointer;}
	
	.optionBox {display:inline-table;}
	
	.block-group { width: 33.1%; display:inline-table;}	
	.spaceP {padding-right:30px !important;}
	
	
	
	
	.bootstrap-select {width:100% !important;}
.label-block {display:block;}
.bootstrap-select>.dropdown-toggle {
    width: 100%;
    font-size: 14px;
    padding-right: 25px;
    z-index: 1;
    background: #fff;
    border: 1px solid #ced4da;
    height: 50px;
    border-radius: 0 !important;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    display: block;
    max-height: 150px !important;
}

.dropdown-menu.show {margin-top:-1px;}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text,
.bootstrap-select.btn-group .dropdown-toggle .filter-option {color:#000;}


.bootstrap-select .dropdown-toggle:focus {outline:0 !important;}

.bootstrap-select.btn-group .dropdown-menu {padding-top:0; padding-bottom:0;}
	
	</style>

</head>

<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
						{% if data.call != 'POST' %}
                        <h3 class="text-primary">Edit Affiliate</h3>
                        {% else %}
                        <h3 class="text-primary">Add Affiliate</h3>
                        {% endif %}
					</div>
                <div class="col-md-7 align-self-center float-right">
				
				 
                    <ol class="breadcrumb">
                        
                        {% if data.call != 'POST' %}
                        <li class="breadcrumb-item active">
						<span class="pull-right"><button type="button" class="btn btn-success pl-3 pr-3" data-toggle="modal" data-target="#deductionLogs">Logs</button></span>
						</li>
                        {% else %}
						<li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Affiliate</a></li>
                        <li class="breadcrumb-item active">Add Affiliate</li>
                        {% endif %}
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                
<div class="table-toolbar">

<div class="" id="edit" style="display:none;">
									<div class="alert alert-success alert-success-msg">
                                            <center> <span>Affiliate details have been updated successfully.</span></center>
                                        </div>
                                </div>
<div class="" id="email-exists" style="display:none;">
									<div class="alert alert-danger alert-danger-msg">
                                            <center> <span>Email address has already been registered with us.</span></center>
                                        </div>
								</div>
                                
                                {%if data.message %}
                                <div class="row" id="success_message">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        {{data.message | safe}}
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row">
                                    <div class="col-lg-12 p-l-0 p-r-0 col-md-12 col-sm-12 top-space-adjust-sec">
                                        <div>
                                          {%if data.call == 'POST'%}
                                        <form action="/admin/add-affiliate" method="POST" id="formValidation" enctype="multipart/form-data" class="form-horizontal">
                                          {% else %}
                                          <form action= "/admin/add-affiliate/{{data.id}}" id="formValidation" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" >
                                            {% endif %}
                                        <fieldset>
                                        {%csrf_token%}
                                       
                                        <input type="hidden" value="{{data.id}}">
										
										<input type="hidden" name="username" value="" id="username" placeholder="">
										
                                       <div class="profile-edit-details">
										
										
											 <fieldset>
											 
												  
											 
												 
											 {% if data.call != 'POST' %}
											     <legend class="heading-all-page">Edit Affiliate
												
												 </legend>
												  
          <div class="breadcrumb-env1">
      
                
                                        <div class="col-md-12 full-width-submit" style="margin-left:-15px;">
                                    
                                    <input type="button" onclick="fcunlink()" value="Delete" class="btn-success egcs_submit_button button-delete"  style="
     background-color:#ff0000 !important; border:none; color:#fff !important;
    " />
	 
                                                    
                                </div>
                                      
            
        </div>
        <div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Affiliate ID</label>
													<input type="text" autocomplete="off" class="form-control" name="" value="{{data.id}}"  placeholder="" readonly />
												</div>
												<div class="col-md-4 col-sm-12 pull-right">
													<label>Affiliate Status</label>
													<select  class="selectpicker" id="affstatus" name="status" required="required">

                                                      {%for i in data.affiliate_status %}
                                            {% if i == data.status %}
                                            <option value="{{i}}" selected="selected">{{i}}</option>
                                            {%else%}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endif %}
                                        {%endfor%}

                                                    </select>
												</div>
												
													<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Registered on</label>
													<input type="text" autocomplete="off" class="form-control" name="" value="{{data.registeredon}}"  placeholder="" readonly />
												</div>
					
											 {% endif %}
											 
											
												
												 
												
												
												
									
										
										<div class="clear"></div>
										<input name="username" value="{{data.username}}" type="hidden" style="display: none;">
										<legend class="heading-all-page">Profile Details
										
										{% if data.login %}
                                                    
                                                        {{data.login | safe}}
											  
                                                    {% endif %}
										
										</legend>
										
										<div class="container">
											 
											 <div class="row">
										
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>First Name</label>
													<input type="text" autocomplete="off" class="form-control" name="contactname" value="{{data.contactname}}"  placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Last Name</label>
													<input type="text" autocomplete="off" class="form-control" name="lastname" value="{{data.lastname}}"  placeholder="">
												</div>
												
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Username/ Email</label>
													
													<input type="email" autocomplete="off" class="form-control" name="email" required="required" value="{{data.email}}" id="email" placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-left" style="float:left;">
													<label>Password</label>
													{% if data.call == 'POST' %}
													<input type="password" autocomplete="off" class="form-control" name="password" required="required" value=""  placeholder="">
													{% else %}
													<input type="password" autocomplete="off" class="form-control" name="password" value=""  placeholder="">
													{% endif %}
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Company Name</label>
													<input type="text" autocomplete="off" class="form-control" name="companyname" value="{{data.companyname}}"  placeholder="">
												</div>
												
												
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Phone Number</label>
													<input type="number" autocomplete="off" class="form-control number-control" name="telephone" required="required" value="{{data.telephone}}"  placeholder="">
												</div>
												
												
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Address1</label>
													<input type="text" autocomplete="off" class="form-control" name="address" value="{{data.address}}"  placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Address2</label>
													<input type="text" autocomplete="off" class="form-control" name="address2" value="{{data.address2}}"  placeholder="">
												</div>
												
												
												
												<div class="form-group col-md-4 col-sm-12 pull-right" >
													<label>City</label>
													<input type="text" autocomplete="off" class="form-control" name="city" placeholder="" value="{{data.city}}"  placeholder="">
												</div>
						
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>State</label>
													<input type="text" autocomplete="off" class="form-control" name="state" value="{{data.state}}"  placeholder="">
												</div>
												
											
												
												<div class="mobile-bot col-md-4 col-sm-12 pull-right">
													<label class="label-block">Country</label>
													<select name="country" v="{{data.country}}" class="selectpicker dashboard-select country-name" tabindex="-98" value={{data.country}}>
                                                {%for i in data.country_list %}
                                            {% if i.0|stringformat:"i" == data.country %}
                      
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                      
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                            </select>
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Postcode</label>
													<input type="text" autocomplete="off" class="form-control" name="postcode" required="required" value="{{data.postcode}}"  placeholder="">
												</div>
										
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Date of Birth</label>
													<input type="text" autocomplete="off" class="form-control" placeholder="DD-MM-YYYY" name="dob" required="required" value="{{data.dob}}" id="datepicker" autocomplete="off" >
												</div>
												
												
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													
													<div class="row">
													
														<div class="col-lg-2 col-sm-3 im-left">
															
															<label>IM</label>
															
															{% if data.im %} 
													<input type="checkbox" class="form-control im-field" name="im"  value='on' placeholder="" checked>
													{% else %}
													<input type="checkbox" class="form-control im-field" name="im"  value='on' placeholder="">
													{% endif %}
														
														</div>
														
														<div class="col-lg-10 col-sm-9 skype-right">
														
														<label>Skype</label>
														
														<input type="text" autocomplete="off" class="form-control" name="skype" value="{{data.skype}}"  placeholder="">
												
														
														</div>
													
													</div>
													
												
												</div>
											
											
											<div class="container">
											
													<div class="row" id="hideReject">
													
													<legend class="heading-all-page">URLs<span class="add"><i class="fa fa-plus add-circle"></i></span></legend>
													 
													 <div class="optionBox" style="width:100%;">

														{% if data.site_urls_list %}
															 {%for i in data.site_urls_list%}
															<div class="block block-group form-group col-md-4 col-sm-12">
																
																<input type="text" class="form-control spaceP" name="site_url" value="{{i.1}}" id="" placeholder="">
															<i class="fa fa-close closeMark"></i>
															</div>
														{%endfor%}
														{%else%}
														<div class="block block-group form-group col-md-4 col-sm-12">
																
																<input type="text" class="form-control spaceP" name="site_url" value="" id="" placeholder="">
															<i class="fa fa-close closeMark"></i>
															</div>
												{%endif%}

													 </div>
                                            
                                                   
                                                    
													</div>
													
												</div>
												
												
												
											<div class="container row">

                                                    {% if data.account_id %}
                                                    <div class="form-group col-md-12 col-sm-12 pull-left">
                                                        
														
														
                                                    {% if data.comm_page %}
                                                    
                                                      {{data.comm_page | safe}}
								 
                                                    {% endif %}
													
                                                        <a href="/admin/payment-details/{{data.account_id}}" class="btn btn-success payment-button rounded">Payment Details</a>
														
													
													{% if data.login %}
                                                    
                                                        {{data.login | safe}}
											  
                                                    {% endif %}
														
                                                    </div>
                                                    {% endif %}
                                                    
    
                                                    

												</div>
											
												
												<div class="clear"></div>
												
												
												
													
												
												</div>
												
												</div>
												
										
										<legend class="heading-all-page">Activity</legend>
												
												<div class="mobile-bot col-md-4 col-sm-12 pull-left">
													<label class="label-block">Super Affiliate</label>
													<select class="selectpicker dashboard-select" name="superaffiliate" data-live-search="true"  vald='{{data.fk_affiliateinfo}}'>
                            <option value="">Select</option>
                                        {%for i in data.affiliates_list %}
                                            {% if i.0 == data.superaffiliate %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
												</div>
												
												
												
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Campaign Limit</label>
													{% if data.campaignlimit %}
													<input type="number" class="form-control" name="campaignlimit" required="required" value="{{data.campaignlimit}}"  placeholder="5">
													{% else %}
													<input type="number" class="form-control" name="campaignlimit" required="required" value="100"  placeholder="100">
													{% endif %}
												</div>
												
												
												<div class="mobile-bot col-md-4 col-sm-12 pull-right">
													<label class="margin-bottom-space">Brands</label>
													<select id="multiple-checkboxes" class="form-control" multiple="multiple" tabindex="-98" name="siteid" required="required">

                                        {%for i in data.sites_list %}
                                        	{%if data.call == 'POST'%}
                                        		<option value="{{i.0}}" selected="selected">{{i.1}}</option>
											{% else %}

	                                            {% if i.0 in data.siteid %}
												
	                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
	                                            {%else%}
												
	                                            <option value="{{i.0}}">{{i.1}}</option>
	                                            {% endif %}
                                           {% endif %}
                                        {%endfor%}
                                    </select>
												</div>
										
												
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                               
											    {%if data.call == 'POST'%}
											   <button class="btn btn-purple button-large button-web-get" title="Make a POST request on the Affiliate List resource" type="submit" value="" style="">Submit</button>
                                            {% else %}
											<button class="btn btn-purple button-large button-web-get" onclick="call_valid();" type="button" value="" style="">Submit</button>
											</span>
											 {% endif %}
                                        </div>
												
												
											</fieldset>
											
											
											 
											
										
										
										</div>

                                    </fieldset>
                                        </form>
										
										</form>
                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                            
                        </div>

						
                            </div>
					</div>

					</div>
					
					
					
					
               
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  
	

	
	
	<div id="unlink-dialog" style="overflow: visible !important; display:none;">
  <center><strong><p style="margin: 0px !important;font-weight: normal;font-family:arial;
    font-size: 15px;position: relative;top: 10px;">Are you sure you want to delete this affiliate?</p></strong>
  <br>
  <form action= "/admin/add-affiliate/{{data.id}}" id="affFormd" data-method="Delete" enctype="multipart/form-data" name='affForm' role="form" >
                                       
		<div class="col-md-12 full-width-submit" style="margin-left:-15px;">
         
                                    
    <input type="submit" class="btn-success egcs_submit_button button-submit-one delete-focus" value="Delete">                                                  
                                      
									  </form>

<input type="button" onclick="unlink_wallet('close')" class="btn-success egcs_submit_button button-delete-one" value="Cancel" />

</center>
</div> 
</div>
	




<!-- LOGS -->

 <!-- The Modal -->
  <div class="modal" id="deductionLogs">
    <div class="modal-dialog modal-lg modal-dialog-centered mw-100 w-90">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Affiliate Logs</h4>
          <button type="button" class="close dismiss" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body container-fluid modalHeight">
			
			<div class="commissionLogs mt-0 mb-0 ml-3 mr-3" id="affiliateLogs">

			</div> <!-- logs Commissions  -->
			
        </div>
        
        
      </div>
    </div>
  </div>

<!-- LOGS ENDS -->	
	
	  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

	 
 <script>
		$(function () {
		if ($('#affstatus').val() == "Rejected"){
                $("#hideReject").hide();
            }
        $("#affstatus").change(function () {
            if ($(this).val() == "Rejected") {
                $("#hideReject").hide();
            } else {
                $("#hideReject").show();
            }
        });
    });
	</script>


<script>
        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
	
 <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

	
	   <script>
	   
	   document.querySelector(".number-control").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});

//paste this code under head tag or in a seperate js file.
// Wait for window load
$(window).load(function() {
    // Animate loader off screen
    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
});
</script> 
<script>
$("#multiple-checkboxes, #datepicker").change(function(){
$(this).siblings('label#multiple-checkboxes-error, label#datepicker-error').hide();
});
</script>
<script>
  function unlink_wallet(type1){
    if (type1 == "close"){
        $( "#unlink-dialog" ).dialog("close");
		$('body').css({"width": "100%", "position": "relative"});
		$('#cover').hide();
        return;
    }
  }
  function fcunlink(){
 $( "#unlink-dialog" ).dialog("open");
 $('body').css({"width": "100%", "position": "fixed"});
 $('#cover').show();
}
        $(document).ready(function() {
          $("#unlink-dialog").dialog({
            autoOpen: false
        });
          $(".ui-dialog-titlebar").hide();
          $('form').ajaxForm();
        });
      $('#affstatus').change(function() {
        if ($(this).val() == 'Rejected'){
            $('select[name="superaffiliate"]').prop('disabled', 'disabled');
            $('select[name="siteid"]').prop('disabled', 'disabled');
            // $('.selectpicker').selectpicker('refresh');
        }
        else{
            $('select[name="superaffiliate"]').prop('disabled', false);
            $('select[name="siteid"]').prop('disabled', false);
            // $('.selectpicker').selectpicker('refresh');
        }
      
    });
    $(window).on('load', function() {
   if("{{data.status}}" == 'Rejected'){
        $('select[name="superaffiliate"]').prop('disabled', 'disabled');
            $('select[name="siteid"]').prop('disabled', 'disabled');
            // $('.selectpicker').selectpicker('refresh');
      }
  });
      </script>
	  
	  <script type='text/javascript'>
$(document).ready(
 function() {
  $('div#unlink-dialog').dialog({
    resizable: false,
    draggable: false
  });
  }
);
    </script>

<script type="text/javascript">
    $(document).ready(function() {
       $('#multiple-checkboxes').multiselect({
        includeSelectAllOption: true,
		allSelectedText:'All Brands',
        enableFiltering: true,
        nonSelectedText: 'Select Brand'
    }, 'selectAll');
       
       $("#multiple-checkboxes").multiselect('updateButtonText');

    $("#multiple-checkboxes").multiselect('select', {{data.siteid|safe}});
			    });
	$('.selectpicker').selectpicker('refresh');
	$("#email").change(function(){
   $('#username').val($(this).val());
});
</script>

<script>

function call_valid(){
	if ($('#formValidation').valid()){
		//data_d = $('#formValidation').serialize();
		var form = $('#formValidation')[0];
		var data_d = new FormData(form);
        $("#edit").hide();
        $("#email-exists").hide();
		$.ajax({
		   url: $('#formValidation').attr('action'),
		   type: 'PUT',
		   enctype: 'multipart/form-data',
			processData: false,  // Important!
			contentType: false,
			cache: false,
		   data: data_d,
		   success: function(response) {
			// $('#success_message').hide();
            if(response.duplicate){
                $("#email-exists").show();
                $("#edit").hide();
            }
			else{$("#edit").show();
            $("#email-exists").hide();}
			 $('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');
		   }
		});
	};
}

// Validation and Ajax action
        $('#formValidation').validate({
             rules: {
                  
                  email: {
                      required: true,
                  },
                 media_type: {
                      required: true,
              },
                  sitename: {
                      required: true,
                  },
				  
				  dob: {
                      required: true,
                  },
				  
				   postcode: {
                      required: true,
                  },
				  
				  siteid: {
                      required: true,
                  },
				  
				  telephone: {
                      required: true,
                  },
				  
				  email: {
                      required: true,
                  },
				  
				  site_url: {
                      required: true,
                  },

				 

              },

            messages: {
                
                email: {
                  required: 'This field is required.'
                },
                media_type: {
                  required: 'Please select Media Type.'
                },
                sitename: {
                  required: 'Please select Site.'
                },
				
				postcode: {
                  required: 'Please enter your postcode.'
                },
				
				dob: {
                  required: 'Please enter your date of birth.'
                },
				
				siteid: {
                      required: 'Please select at least one brand.'
                  },
				  
				  telephone: {
                      required: 'Please enter your phone number.'
                  },
				  
				  
				  email: {
                      required: 'Please enter your email address.'
                  },
				  
				  site_url: {
                      required: 'Please enter site url. '
                  },
				
            },

            submitHandler: function (form) {
                if($('#nodata').is(":visible")==false){
                      form[0].submit();
                    }
                }
              });
			  
			  </script>
			  
			  <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>  
 
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <script src="//code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script>
  $( function() {
    $( "#datepicker" ).datepicker({changeYear: true,changeMonth:true,yearRange: "-100:+0", maxDate: "-18y",dateFormat: "dd-mm-yy",
	defaultDate: '01-01-1980'});
  } );
  </script>
 
<!-- <script> -->
  <!-- $( function() { -->
    <!-- $( "#dob" ).datepicker({changeYear: true,changeMonth:true,yearRange: "-100:+0", maxDate: "-18y",dateFormat: "dd-mm-yy",}); -->
  <!-- } ); -->
  <!-- </script> -->
  
  <script>
  
  $('.add').click(function() {
	if ($('.block:last').length == 0){
		$('.optionBox').html('<div class="block block-group form-group col-md-4 col-sm-12"><input type="text" class="spaceP form-control" name="site_url" /><span class="closeMark"><i class="fa fa-close"></i></span></div>');
	}
	else{
    $('.block:last').after('<div class="block block-group form-group col-md-4 col-sm-12"><input type="text" class="spaceP form-control" name="site_url" /><span class="closeMark"><i class="fa fa-close"></i></span></div>');
	}
	});

$('.optionBox').on('click','.closeMark',function() {
 	if ($('.block').length > 1) {
		$(this).parent().remove();	
	}
});

				//$('.closeMark').on("click",function(){ //user click on remove text
					//	$(this).parent('div').remove(); x--;
				//	});

							</script>
  
  <div id="cover" style="display:none;"></div>
  
  <script>
 $(document).ready(function() {
 console.log("Page location is " + window.location.href);
 url = window.location.href;
 id = (url.split('/'))[url.split('/').length-1];
 console.log('id in'+id);
 
 $.ajax({
	url: "http://dev-wynta.glserv.info/admin/get-logs/?object_id="+id+"&model=affiliateinfo", 
	method: 'GET',
	contentType: "json",
    success: function(data) {
         var commission = "";
		 logs = JSON.parse(data)['change_logs'];
		 console.log('type of data'+ typeof(data));
		 console.log('parsed data'+ JSON.parse(data));

if(logs.length>0) {

	// This Commission variable will have the results to be displayed in an array
		for (var i=0; i<logs.length; i++) {
		var message = "";
		for(var key in logs[i].diff){
		if(logs[i].diff[key][0] !="N/A" && logs[i].diff[key][1] !="N/A" ){
			message += " "+key+ " from "+ logs[i].diff[key][0]+ " to " +logs[i].diff[key][1];
			}
			}
			if (message){
		  commission += '<div class="p-3 bg-light border radius row mb-2">'+
						'<div class="col-md-10 pl-0">'+
							'<img class="pul-left pr-2" src="/static_files/new_wynta/images/wynta_circle_logo.svg" width="45" height="45" />'+
						'<p class="commissionContent">'+logs[i].user+' '+logs[i].action+'d '+ message +'</p>'+
						'</div>'+
						'<div class="col-md-2 commissionContent">'+
							'<p class="commissionTime pull-right">'+logs[i].time+'</p>'+
						'</div>'+
					'</div>'; 
					} 
		}
		document.getElementById("affiliateLogs").innerHTML = commission;
		
		}
		else {
			document.getElementById("affiliateLogs").innerHTML = "Nothing to see here... yet!";
		}
		
		}
		
		});
 });

</script>

</body>
</html>