{% extends "admin/base.html" %}
{% load i18n %}


{% block title %}{{ title }} | {% trans 'Fozil Partner Admin' %}{% endblock %}

{% block branding %}

<!-- <h1 id="site-name" >{% trans 'Fozil Partner ' %}</h1> -->
<div class="logo">
<img src="/static_files/images/fozilp-full-logo.png" width="200" alt="" />
</div>

{% endblock %}

{% block nav-global %}{% endblock %}