<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
    
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	 <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

	
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<style>

	#chooseFile-error {    clear: both;
    display: block;
    padding-top: 12px;}
	
	.table td, .table th {border-top:none;}
	.selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
	.form-control {height:38px !important;}
	.egcs_submit_button {
    margin-top: 5px;
    margin-left: 15px;
}
.button-submit-one {
    font-size: 14px !important;
    background: red !important;
    border: none !important;
}

.delete-focus, .delete-focus:hover {
	margin-left: 15px; background: red !important; border: none; height:32px;}
	
	
	
	.button-delete-one { font-size: 14px !important;
    background: #e6e6e6; height:32px;
    color: #000;
    border: none;}
	
	.button-delete-one:hover, .button-delete-one:focus {
	margin-top: 5px;
    margin-left: 15px; color:#000 !important; height:32px; background: #e6e6e6 !important; border:none !important;}


.egcs_submit_button:hover {background: red !important; border-color:red !important;}

.button-delete-one {
    font-size: 14px !important;
    background: #e6e6e6;
    color: #000;
    border: none; cursor:pointer;
}

.button-delete-one:hover {
    background: #e6e6e6 !important;
    border: none !important;
}
	.form-control {font-size:14px;}
	
	.button-delete { border-radius:0.25rem; width: 85px;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
	
	.button-delete:hover {border-radius:0.25rem; width: 85px;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
	
	/****** CODE ******/
.file-upload .file-select .file-select-name {padding-left:5px;}
.file-upload{padding-top:0px; display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 1px solid #ccc;color: #34495e;cursor:pointer;height:32px;line-height:32px;text-align:left;background:#FFFFFF;position:relative;}
.file-upload .file-select .file-select-button{background: #f2f2f2;
    padding: 0 10px;
    display: inline-block;
    line-height: 36px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;}
.file-upload .file-select .file-select-name{color: #495057;font-size:13px; line-height:32px;display: contents; }
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select {    height: 38px;
    border-radius: 0.25rem;}

/****** CODE ******/

.form-horizontal .form-group { overflow: inherit;}

.some-margin {margin-bottom:25px;}

.width-height-left {  clear:both;  padding-left: 30px;
    
  font-size:14px;     color: #67757c;} 
	
	.button-web-get {margin-top:0px;}
	.same-height { color: #495057; text-align: center;
    font-size: 14px; text-indent:0;}
	
	.delete-focus {cursor:pointer;}
	
	.delete-focus:hover {background:#ff0000 !important;}
	
	#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 999;
    width: 100%;
    height: 100%;
}
	
.ui-dialog {z-index:9999; top:135px !important;}


@media (max-width: 767px) {
	#chooseFile-error {margin-top:-20px;}
}
	
	
.bootstrap-select {width:100% !important;}
.label-block {display:block;}
.bootstrap-select>.dropdown-toggle {
    width: 100%; font-size:14px;
    padding-right: 25px;
    z-index: 1;
    background: #fff;
    border: 1px solid #e7e7e7;
    height: 38px;
    border-radius: 0;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    display: block;
    max-height: 150px !important;
}

.dropdown-menu.show {margin-top:-1px;}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text,
.bootstrap-select.btn-group .dropdown-toggle .filter-option {color:#000;}


.bootstrap-select .dropdown-toggle:focus {outline:0 !important;}

.bootstrap-select.btn-group .dropdown-menu {padding-top:0; padding-bottom:0;}


	</style>

</head>
<style type="text/css">

</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
						<h3 class="text-primary">Banners</h3>
					</div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Marketing</a></li>
                        <li class="breadcrumb-item active">Banners</li>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                
<div class="table-toolbar">

<div class="row" id="chooseformat" style="display: none;">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="display-msg alert alert-danger alert-danger-msg">
                                            <center> <span>Please upload files only in the following formats: gif/ png/ jpg/ jpeg</span></center>
                                        </div>
                                    
                                    </div>
                                </div>
								
								<div class="" id="edit" style="display:none;">
									<div class="alert alert-success alert-success-msg">
                                            <center> <span>Banner has been successfully edited.</span></center>
                                        </div>
								</div>
                                
                                {%if data.message %}
                                <div class="row" id="success_message">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 p-l-0 p-r-0 top-space-adjust-sec">
                                        <div>

                                        <div class="profile-edit-details">
										
											 {% if data.call == 'POST' %}
												 <legend class="heading-all-page">Add Banner</legend>
											 {% else %}
											     <legend class="heading-all-page">Edit Banner</legend>

												  
					
											 {% endif %}
											 {%if data.call != 'POST'%}
          <div class="breadcrumb-env1">
      
                <form action= "/admin/banners/{{data.id}}" id="affForm" data-method="Delete" enctype="multipart/form-data" name='affForm' role="form" >
                                        <div class="col-md-12 full-width-submit" style="margin-left:-15px;">
                                    
                                    <input type="button" onclick="fcunlink()" value="Delete" class="btn-success egcs_submit_button button-delete" style="
     background-color:#ff0000 !important; border:none; color:#fff !important;
    " />
                                                    
                                </div>
                                      </form>
            
        </div>
        {% endif %}
											 {%if data.call == 'POST'%}
                                        <form action="/admin/banners" method="POST" enctype="multipart/form-data" id="formValidation" class="form-horizontal">
                                        	<fieldset>
                                          {% else %}
                                          <form action= "/admin/banners/{{data.id}}" id="formValidation" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" autocomplete="off">
                                          	<fieldset>
                                          	<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Banner ID</label>
													<input type="text" class="form-control" name="banner" value="{{data.id}}" id="" placeholder="" readonly>
												</div>
                                            {% endif %}
                                        
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
												
												 
												
												<div class="form-group col-md-4 col-sm-12 pull-left some-margin">
													<label>Brands</label>
													<select class="selectpicker" name="siteid" id="siteid" required="required">
														<option value="">Select Brand</option>
                                        {%for i in data.sites_list %}
                                            {% if i.0 == data.siteid %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-left some-margin">
                                                    <label>Language</label>
                                                    <select class="selectpicker" name="language" id="language" el="{{data.language}}">											   
														{%for i in data.language_list %}
															{% if i == data.language %}
															<option value="{{i}}" selected="selected">{{i}}</option>
															{%else%}
															<option value="{{i}}">{{i}}</option>
															{% endif %}
														{%endfor%}
                                                       </select>
                                                </div>
												
										
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Title</label>
													<input type="hidden" name="media_type" value="B">
													<input type="text" class="form-control" autocomplete="off" name="title" value="{{data.title}}" id="" placeholder="" required="required">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Landing Page</label>
													
                          <select class="selectpicker" name="link" id="landingpage">
                                        <option value="">Home Page</option>
                                                       </select>

												</div>
												
												

												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Image</label>
													<div class="file-upload">
														<div class="file-select">
													
													<div class="file-select-button" id="fileName">Choose File</div>
													<div class="file-select-name" id="noFile"></div> 
                                                
                                                    <input name="banner" class="custom-file-input chooseFile" id="chooseFile" type="file" accept="image/x-png,image/gif,image/jpeg" />
                                                   
														</div>
													  </div>
												</div>
												
												
												
												<div class="form-group margin-adjust">
													
												
												<div class="images-block">
												
													<img src="" id="profile-img-tag" width="200px" style="padding-top:20px; width:100px; margin-left:15px; display:block; clear:both;"/>
													
													<div class="width-height" style="display:none; margin-top:8px;">
													
														<p class="row width-height-left">Width: <input type="text" name="width" style="width:50px;" autocomplete="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="same-height"/>&nbsp; &nbsp; Height: <input type="text" name="height" style="width:50px;" autocomplete="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="same-height"/> </p>
													</div>
													
												</div>	
													
													
													
													
													
													{% if data.banner %}
                                                      <div class="row" id="imageupdate">
													  
													  <span style="text-align:left" style=" width:50px" class="bold affinfo_col_data">
														<span class="" style="margin-left:30px; font-size:14px;">{{data.title}}</span>
													  <img src="{{data.banner}}" target="_blank" style=" width:100px; margin-top:20px;margin-bottom:20px; margin-left:30px; display:block; clear:both;" />
														  <div style="margin-top:10px;">
													  
														<p class="width-height-left">Width: <input type="text" autocomplete="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="{{data.width}}" style="width:50px;" readonly class="same-height"/>&nbsp; &nbsp; Height: <input type="text" value="{{data.height}}" autocomplete="off"  onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="width:50px;" readonly class="same-height"/> </p>
													  </div></span>
													</div>
													{% endif %}
                                                
					
                                
                                
                                
												</div>
												
										
									
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                               
											    {%if data.call == 'POST'%}
											   <button class="btn btn-purple button-large button-web-get" title="Make a POST request " type="submit" value="" style="">Submit</button>
                                            {% else %}
											<button class="btn btn-purple button-large button-web-get" onclick="call_valid();" type="button" value="" style="">Submit</button>
											</span>
											 {% endif %}
                                        </div>
												
												
											</fieldset>
											
											
											 
											
										
										
										</div>
										
										
										
                                                   
							
							
							
                          </div>
										
										 
										
                                        </form>
                                        
                        </form>
                                       </div>
                                    </div>
                                </div>
                            </div>			
                            </div>
					</div>

					</div>
					
					
					
					
               
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
	<div id="unlink-dialog" style="overflow: visible !important; display:none;">
  <center><strong><p style="margin: 0px !important;font-weight: normal;font-family: 'Open Sans', sans-serif;
    font-size: 15px;position: relative;top: 10px;">Are you sure you want to delete this banner?</p></strong>
  <br>
  <form action= "/admin/banners/{{data.id}}" id="affForm" data-method="Delete" enctype="multipart/form-data" name='affForm' role="form" >
                                       
		<div class="col-md-12 full-width-submit" style="margin-left:-15px;">
         
                                    
    <input type="submit" class="egcs_submit_button button-submit-one delete-focus" value="Delete">                                                  
                                      
									  </form>

<input type="button" onclick="unlink_wallet('close')" class="egcs_submit_button button-delete-one" value="Cancel" />

</center>
</div>  
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>


<script>
  function unlink_wallet(type1){
    if (type1 == "close"){
        $( "#unlink-dialog" ).dialog("close");
		$('body').css({"width": "100%", "position": "relative"});
		$('#cover').hide();
        return;
    }
  }
  function fcunlink(){
 $( "#unlink-dialog" ).dialog("open");
 $('body').css({"width": "100%", "position": "fixed"});
 $('#cover').show();
}

$(document).ready(function() {
          $("#unlink-dialog").dialog({
            autoOpen: false
        });
          $(".ui-dialog-titlebar").hide();
          $('form').ajaxForm();
        });

</script>


<script type='text/javascript'>
$(document).ready(
 function() {
 window.banner_d = '{{data.banner}}';
    $('.itemd').removeClass("active");
    $('.itemd[href="/admin/banners"]').addClass("active");
    $('#marketingli').addClass("active");
  $('div#unlink-dialog').dialog({
    resizable: false,
    draggable: false
  });
  }
);
    </script>

<script>
lp_links = {};
lp_link = '';
category_dict = {};
$('#siteid').on('change', function() {
    var aff = $('#siteid').val();
    $('#landingpage').html('<option value="">Home Page</option>');
    $('#media_category').html('');
    
    $.each(lp_links[aff], function (i, item) {
        option = '<option value="'+item[0]+'">'+item[1]+'</option>'
        if (lp_link == item[1]){
            option = '<option value="'+item[0]+'" selected>'+item[1]+'</option>'
        }
        // option = '<li onclick="clickcheck(this)"><input type="radio" name="bannerid" style="display: none;" value="'+item[2]+'"><a href="'+item[0]+'" target="_blank">'+item[1]+'</a></li>';
        $('#landingpage').append(option);
    }
    );
    $('.selectpicker').selectpicker('refresh');
    
});

        $(document).ready(function() {
		data_lp =  "{{data.link}}";
          $('option[value="B"]').prop('selected', 'selected');
          $('#siteid').trigger('change');
		if (data_lp){
		  $('option[value="'+data_lp+'"]').prop('selected', true)
		}
          $('form').ajaxForm();
        });
      </script>
	  
	  

<script type="text/javascript">
    lp_links = {{data.lp_links|safe}};
    lp_link = "{{data.lp_link|safe}}";
	getImageSize($('#profile-img-tag'), function(width, height){
		var img = $('#profile-img-tag');
    	$('input[name="width"]').val(img.prop('naturalWidth'));
    	$('input[name="height"]').val(img.prop('naturalHeight'));
	});


function getImageSize(img, callback){
    img = $(img);
    
    var wait = setInterval(function(){        
        var w = img.width(),
            h = img.height();
        
        if(w && h){
            done(w, h);
        }
    }, 0);
    
    var onLoad;
    img.on('load', onLoad = function(){
        done(img.width(), img.height());
    });
    
    
    var isDone = false;
    function done(){
        if(isDone){
            return;
        }
        isDone = true;
        
        clearInterval(wait);
        img.off('load', onLoad);
        
        callback.apply(this, arguments);
    }
}

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#profile-img-tag').attr('src', e.target.result);
				$('#profile-img-tag').css({"border": "1px solid #d9d9d9", "padding-top": "0", "padding": "5px"});
            }
            reader.readAsDataURL(input.files[0]);

        }
    }

    $("#chooseFile").change(function(){
        readURL(this);
        // getImageSize($('#profile-img-tag'), function(width, height){
        // var img = $('#profile-img-tag');
        // $('input[name="width"]').val(img.prop('naturalWidth'));
        // $('input[name="height"]').val(img.prop('naturalHeight'));
        // });
		$(".width-height").show();
        $('#profile-img-tag').load(function(){
            var img = $('#profile-img-tag');
            $('input[name="width"]').val(img.prop('naturalWidth'));
            $('input[name="height"]').val(img.prop('naturalHeight'));
        });
    });
</script>

<script type="text/javascript">
	  $('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if(filename == ''){
        $(".file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
        $('.margin-adjust').hide();
        return false;
  }
  if(filename.toLowerCase().indexOf('.png') <0 && filename.toLowerCase().indexOf('.jpg') <0 && filename.toLowerCase().indexOf('.jpeg') <0 && filename.toLowerCase().indexOf('.gif') <0){
      $('#chooseformat').show();
	  $('.margin-adjust').hide();
	  $('#noFile').html('');
      return false;
  }
  else {
    $('#chooseformat').hide();
	$('.margin-adjust').show();
}

  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen...");
		
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
  }
 
  
});

</script>


<script>

function call_valid(){
	if ($('#formValidation').valid()){
		//data_d = $('#formValidation').serialize();
		var form = $('#formValidation')[0];
		var data_d = new FormData(form);
        $("#remove-overlay").addClass("overlay");
        $(".preloader").show();
		$.ajax({
		   url: $('#formValidation').attr('action'),
		   type: 'PUT',
		   enctype: 'multipart/form-data',
			processData: false,  // Important!
			contentType: false,
			cache: false,
		   data: data_d,
		   success: function(response) {
		   $('#success_message').hide();
		   if($('#profile-img-tag').attr('src') != ''){
				$('#imageupdate').hide();
		   }
			 $("#edit").show();
			  $('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');
             $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
		   }
		});
	};
}

// Validation and Ajax action
        $('#formValidation').validate({
             rules: {

				  siteid: {
                      required: true,
                  },
				  
				  title: {
                      required: true,
                  },
				  
				  banner: {
                      required: {
                    depends: function(element) {
                      return (window.banner_d == '');
                    }
					}
                  },
				  
				
              },

            messages: {
               
				
				siteid: {
                      required: 'Please select brand.'
                  },
				  
				  title: {
                      required: 'Please enter title.'
                  },
				  
				  banner: {
                      required: 'Please choose image.'
                  },
		
            },
			
			submitHandler: function (form) {
                if($('#nodata').is(":visible")==false){
                      form.submit();
                    }
                }

        
              });
			  
			  </script>
			  
			  <script>
$("#chooseFile").change(function(){
$(this).siblings('label#chooseFile-error').hide();
});
</script>

<div id="cover" style="display:none;"></div>
</body>
</html>