<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Xenon Boostrap Admin Panel" />
    <meta name="author" content="" />

    <title>{{partner}} - Dashboard</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-core.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
    <link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
    <link rel="stylesheet" href="/static_files/assets/css/custom.css">
    <link href="/static_files/css/jquery.comiseo.daterangepicker.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="/static_files/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/static_files/assets/css/slick-theme.css">
    
       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!-- <link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/> -->
    <link href="/static_files/assets/jquery-daterange-picker.css" rel="stylesheet" type="text/css"/>
    <script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- <script src="/static_files/assets/js/jquery-1.11.1.min.js"></script> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
	
	.page-container .main-content {padding-top:50px;}
    
	.highlight a{
 background-color: #29f274 !important;
 color: #ffffff !important;
}
    
    
    .btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info
    {}
    
    
        .uppercase {left:-14px !important;}
    .calender-adjust { padding-right: 20px;}
    
    .daterangepicker {right: 277px !important;}
    .table>thead:first-child>tr:first-child>th {background:#19b8f8; font-size:12px;}
    #player_data_wrapper {padding:5px; background:#fff;}
    #player_data_length {display:none;}
    .top-adjust-some-space {position:relative; top:-7px;}
    .left-side-small-adjust {position:relative; left:20px;}
    .regi-one {padding-right:30px;}
    .label-right-green-white {text-align:center; margin:0 auto;}
    .text-size-dash-fozi-1 {font-size:9.2px !important;}
    .dash-blue-dot {background:#19b8f8; line-height:0; text-align:center; margin:0 auto; width:10px; height:10px; border-radius:20px;}
    .dash-green-dot {background:#93c83d;  line-height:0; text-align:center; margin:0 auto;  width:10px; height:10px; border-radius:20px;}
    .margin-center {margin:0 auto; text-align:center;}
    .color-blue-dash {-webkit-box-shadow: 0 0 10px #ccc;
        box-shadow: 0 0 10px #ccc;}
        
    .xe-widget.xe-counter .xe-label {padding-top:0px; padding-bottom:0px;}
    .text-center-one {margin:0 auto;}

    .hr-dotted {border:1px dotted #ccc; margin-top:5px; margin-bottom:5px;}
    .text-size-dash-fozi {font-size:20px;}
    .dash-quick-stat {}

    .highcharts-credits, .highcharts-button-symbol {display:none;}
    .padding-left-dash-adjust {padding-left:0;}

    .drop-icon-dash{position: absolute;
    z-index: 999;
    margin-left:210px;
    font-size: 15px;
    top: 7px;
    color: #19b8f8;}
    
    .xe-widget.xe-counter .xe-icon {padding:5px !important;}
    
    .drop-icon-dash1 { position: absolute;
    z-index: 999;
    left: 285px;
    font-size: 15px;
    top: 6px;
    color: #19b8f8;}
    
    .xe-widget.xe-counter .xe-label span {color:#000 !important; font-weight:bold; line-height:28px; text-align:center;}
    
        .xe-widget.xe-counter .xe-label .num, .xe-widget.xe-counter-block .xe-upper .xe-label .num, .xe-widget.xe-progress-counter .xe-upper .xe-label .num
    {font-size:36px; font-weight:bold; color:#000;}
    
    .dashboard-group {margin-bottom: -7px;
    margin-top: -7px;}
	select {-webkit-appearance: menulist !important; -moz-appearance: menulist;}
    select {-webkit-appearance: menulist !important; -moz-appearance: menulist;}
    select::-ms-expand {
    display: none;
}
.ct-grids {width:20% !important;}
    .left-origin {margin-left:0px !important;}
    .adjust-top-bottom-dash {    margin-bottom: -7px;
    margin-top: -7px;}
    .daterangepicker {}
    .applyBtn, .cancelBtn {padding: 5px 17px;}
    .dropdown-menu.daterangepicker .ranges ul li {padding:8px !important;}
    
    .xe-widget.xe-counter .xe-label .num, .xe-widget.xe-counter-block .xe-upper .xe-label .num, .xe-widget.xe-progress-counter .xe-upper .xe-label .num
    {font-size:20px; font-weight:bold;}
    
    @media screen and (max-width: 1199px) 
     .table-overlay {overflow-x:scroll;     white-space: nowrap;}
	 .full-four-section {}
	 .xe-widget.xe-counter .xe-label {display:block;}
	 
    {
    
    .xe-widget.xe-counter .xe-label .num, .xe-widget.xe-counter-block .xe-upper .xe-label .num, .xe-widget.xe-progress-counter .xe-upper .xe-label .num
    {font-size:25px; color:#000 !important; text-align:center; font-weight:bold;}
    .adjust-top-bottom-dash1 {position:relative;}
    .submit-allmobile {      width: 89px !important;
    
    /* margin-top: -18px; */
    margin-bottom: 10px;
    }
    .all-date-section-adjust {}
    
    
   

   }
   
   @media only screen and (min-width: 1199px) and (max-width:1280px) {
		.full-four-section {width:50%;}
   }
    
    
    
    @media only screen and (min-width: 1200px) and (max-width:1400px) {
    .xe-widget.xe-counter .xe-label .num, .xe-widget.xe-counter-block .xe-upper .xe-label .num, .xe-widget.xe-progress-counter .xe-upper .xe-label .num
    {font-size:20px; font-weight:bold; text-align:center; color:#000 !important;}
    .xe-widget.xe-counter .xe-label span {font-size:12px; text-align:center; color:#000 !important; font-weight:bold; line-height:28px;}
  

   }
   
   .caret {color:#36a9e1 !important;}
    
    .bootstrap-select>.dropdown-toggle.bs-placeholder {color:#000; background:#fff;box-shadow: none; border:1px solid #19b8f8;}
    .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {color:#000;box-shadow: none;}
    .padding-left-select { width:245px;}
    .open>.dropdown-menu {
    background: #fff;
}

.btn-info:focus, .btn-info, .btn-info.focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info 

{color:#000 !important; background:#fff !important; box-shadow: none; border:1px solid #19b8f8 !important;}

.bs-placeholder {margin-bottom:0;}

.float-right {float: right;
    margin-top: -12px;
    margin-right: -10px; }

.bouton-image {background: #eee;
    margin-right: 40px;
    color: black;
    text-transform: uppercase;}
    
    .bouton-image:hover {background: #ccc; color:#000; border:1px solid #ccc;}
    .bouton-image:focus, .bouton-image.active {background:#eee; border:1px solid #eee; color:#000;}
    
.bouton-image img {width:25px; vertical-align:middle;}

.left-side-section-fixed {display:none;}
    
.full-four-section {text-align:center !important;}

.highcharts-container  {width:100% !important; text-align:center !important;}

#daterange-picker-container {
display: block;
    position: absolute;
    z-index: 999;
    float: left;
    right: 15px;
    background: #f7f7f7; border:1px solid #ccc;
    margin: 1px; top:33px;
    padding: 10px;

}

#daterange {cursor:pointer;}
#daterange:hover {background:#f6f6f6;}

.ui-datepicker-inline {border:none; margin-top:10px;}

#drp-select-daterange {margin-left:12px;}

#daterange {width:245px; text-align:center; float:right;}
#drp-input-startdate, #drp-input-enddate, #drp-select-daterange {width:20%; display:inline-block; background:#fff;}
.drop-menu-icon1 {position: absolute;
    right: 28px;
    top: 6px;}

.left-side-section-fixed {background: #fff;
    right: 17px;
    padding: 12px;
    
    height: 100%; position:fixed;
    overflow: hidden;
    top: 81px;
    width: 24%;}
	
.right-panel-heading {font-size: 16px;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding-bottom: 13px;
    margin-top: 3px;}
 
 div.dataTables_wrapper {margin-top:0px !important;}

 .slick-slider {padding-bottom:19px;}
 .slick-prev, .slick-next {top:32%;}
 .media-body {
    position: relative;
    left: -10px;
    width: 220px;
    /* text-align: left; */
    vertical-align: middle;
}
.slick-slide img {
    display: block;
    width: 110px !important;
    border-right: 1px solid #ccc;
    padding-right: 23px;
}
.media-body {padding-left:20px !important;}
.media:first-child {margin-top:0px !important;}

.submit-allmobile {  
    float: right;
    margin-top: -32px !important;} 
	
	.all-four {margin-top:-35px;}
	
	
		.dropdown-menu.daterangepicker table>thead>tr>th, .dropdown-menu.daterangepicker table>thead>tr>td {border:none !important;}
	.dropdown-menu.daterangepicker .ranges ul li {
    background: #fff;
    border-color: #e4e4e4;
    color: #979898;
    padding: 6px 8px !important;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
}
.fa-chevron-left:before {
    content: "\f053" !important;
}

.fa-chevron-right:before {
    content: "\f054" !important;
}

.fa-calendar:before {
    content: "\f073" !important;
}

.daterangepicker {right:110px !important;}
 
    </style>


</head>
<body class="page-body">

    <div class="settings-pane">
            
        <a href="#" data-toggle="settings-pane" data-animate="true">
            &times;
        </a>
        
        <div class="settings-pane-inner">
            
            <div class="row">
                
                <div class="col-md-4">
                    
                    <div class="user-info">
                        
                        <div class="user-image">
                            <a href="extra-profile.html">
                                <img src="/static_files/assets/images/user-2.png" class="img-responsive img-circle" />
                            </a>
                        </div>
                        
                        <div class="user-details">
                            
                            <h3>
                                <a href="extra-profile.html">{{request.user.username}}</a>
                                
                                <!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
                                <span class="user-status is-online"></span>
                            </h3>
                            
                            <!-- <p class="user-title">Web Developer</p> -->
                            
                            <div class="user-links">
                                <a href="/affiliate/edit-profile/" class="btn btn-primary">Edit Profile</a>
                                <!-- <a href="extra-profile.html" class="btn btn-success">Upgrade</a> -->
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
                <!-- <div class="col-md-8 link-blocks-env">
                    
                    <div class="links-block left-sep">
                        <h4>
                            <span>Notifications</span>
                        </h4>
                        
                        <ul class="list-unstyled">
                            <li>
                                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk1" />
                                <label for="sp-chk1">Messages</label>
                            </li>
                            <li>
                                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk2" />
                                <label for="sp-chk2">Events</label>
                            </li>
                            <li>
                                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk3" />
                                <label for="sp-chk3">Updates</label>
                            </li>
                            <li>
                                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk4" />
                                <label for="sp-chk4">Server Uptime</label>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="links-block left-sep">
                        <h4>
                            <a href="#">
                                <span>Help Desk</span>
                            </a>
                        </h4>
                        
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <i class="fa-angle-right"></i>
                                    Support Center
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-angle-right"></i>
                                    Terms of Service
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                </div> -->
                
            </div>
        
        </div>
        
    </div>
    
    <div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            
        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
        {% include "admin/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "admin/new_design/header-1.html" %}
            
            <script type="text/javascript">
                jQuery(document).ready(function($)
                {
                    if( ! $.isFunction($.fn.dxChart))
                        $(".dx-warning").removeClass('hidden');
                });
            </script>
            
            <div class="full-section-div">
            
            <div class="full-div-main">
            
            <div class="page-title mobile-hide-div">
            
                <div class="title-env">
                
                <div class="breadcrumb-env">
            
                                <ol class="breadcrumb bc-1" >
                                    <li>
                            <a href="/affiliate/"><i class="fa-home"></i>Home</a>
                        </li>
                                <li class="active">
            
                                        <a href="">Dashboard</a>
                                </li>
                           
                                </ol>
                        
                </div>
                
                
                
                   
                </div>
            
                    <div class="float-right">
            
                               <button class="btn btn-primary bouton-image monBouton" onclick="show_intel();"><img src="/static_files/images/intellegence-icon-active.png" />Intellegence</button>  
                        
                </div>
                
            </div>
            
            <div class="table-toolbar django_form">
                                <div class="row">
                                
                                 <form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form">
                                
                                <div class="col-md-8 padding-left-dash-adjust">
                                
                                

                                    <div class="form-group dashboard-group adjust-top-bottom-dash">
                                   <!--  <label class="col-sm-2" for="field-1" class="field123" style="padding-top:7px; width:116px;">Select Brand</label> -->
             
				
                                    <div class="col-sm-5 padding-left-select">
                                    <!-- <i class="fa fa-sort-desc drop-icon-dash"></i> -->
                                    <div class="panel-heading1 panel-bg-no">
			                <h2><strong>Dashboard</h2>
			            </div>
                                    </div>
                                </div>
                                
                                
                                </div>
                                <div class="col-sm-5 padding-left-select">
                                    <!-- <i class="fa fa-sort-desc drop-icon-dash"></i> -->
                                    <select id="affiliateid" name="affiliateid" class="selectpicker dashboard-select" data-live-search="true" data-show-subtext="true" data-live-search="true" style="height:34px;border:1px solid #19b8f8;width:242px;position: relative;left: -14px;">
                                        <option value=""> Select Affiliate </option>
                                        {%for aff in affiliates_obj%}
                                            {% if aff.id == affiliate.id %}
                                            <option value="{{aff.id}}" selected>{{aff.username}}</option>
                                            {% else %}
                                            <option value="{{aff.id}}">{{aff.username}}</option>
                                            {% endif %}
                                        {%endfor%}
                                          </select>
                                    </div>
                                
                                    <div class="col-md-4">

                                       <div id="daterange" class="pull-right" style="    background: #fff;
    cursor: pointer;
    padding: 6px 10px;
    border: 1px solid #ccc;
    position: relative;
    left: -85px; width:290px;
    margin-top: -8px;">
    <i class="fa fa-calendar"></i>&nbsp;
    <span>{{from_date}} - {{to_date}}</span> <b class="caret"></b>
</div>                                
                                       <div class="submit-allmobile" style="">
                                                       
                                                      <input type="submit" value="Submit" class="btn  btn-success egcs_submit_button"/>
                                                                       
                                                   </div>
                                                <!-- <input class="raw" id="daterange"/>
<i class="fa fa-caret-down drop-menu-icon1 drop-menu-icon" aria-hidden="true"></i>
                <div id="daterange-picker-container" style="display: none;"></div> -->
                                                    
                                                </div> <!-- Second Row -->
												
												<!-- <div class="all-submit-button">
												
													<input type="submit" class="submit-button-sites">
												
												</div> <!-- Submit Button --> 
												
                                            </div>
                                                <br/> <!-- Second Row -->
                            
                                              
                                                <!-- SITE SELECTION -->
            <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <!-- <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <span> Filter Sites: </span>
                    </div>
                </div> -->
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
                                        
                                        
                                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        
                                            {%for j in siteid_list %}   
                                                <span class="player-details-tr"><input name="siteids" type="checkbox" value="{{j.id}}" {%if j.selected %}checked{%endif%} />{{j.name}}</span>
                                            {%endfor%}
                                                        
                                        </div> -->
                                        
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div><br/>

                        </form>
            <!-- END SAMPLE FORM PORTLET-->
                                                
                                                
                                             
                                            
                                    </div>
                                </div>
                            </div>
            
            <div class="clearfix"></div>
            <div class="row all-four">

              

            
                <!-- <div class="col-sm-3">
                    
                    <div class="xe-widget xe-counter color-blue-dash" >
                        <div class="xe-icon icon-dark-gray">
                            <i class="fa fa-thumbs-o-up fa-spin-hover" style="padding-left:11px;"></i>
                        </div>
                        <div class="xe-label label-right-gray-white">
                            <strong class="num">0</strong>
                            <span>Total Impressions</span>
                            <strong class="num">{{lt_clicks}}</strong>
                            <span>Total Clicks</span>
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-sm-3">
                    
                    <div class="xe-widget xe-counter color-orange-dash xe-counter-blue" >
                        
                            <div id="devicecontainer" class="main-charts-fozil" style=" height: 90px; width:90px;"></div>
                        </div>
                    </div>
                
                </div>
                
                <div class="col-sm-3">
                    
                    <div class="xe-widget xe-counter color-orange-dash xe-counter-blue" >
                        
                            <div id="activitycontainer" class="main-charts-fozil" style=" height: 90px; width:90px;"></div>
                        </div>
                    </div>
                
                </div>
                
                <div class="col-sm-3">
                    
                    <div class="xe-widget xe-counter color-dark-blue-dash xe-counter-red"  data-count=".num" data-from="0" data-to={{lt_earnings}} data-duration="5" data-easing="true" data-delay="1">
                        <div class="xe-icon icon-dark-green">
                            <i class="fa fa-eur" style="padding-left:15px;"></i>
                        </div>
                        <div class="xe-label label-right-green-white">
                            <strong class="num">{{lt_earnings}}</strong>
                            <span>Total Earnings</span>
                        </div>
                    </div>
                
                </div> -->
                <div class="full-four-section col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    
                  
                    
                    <div class="xe-widget xe-counter color-blue-dash" >
                        <div class="xe-label label-right-gray-white">
                        <span class="text-size-dash-fozi">Impressions</span>
                            <strong class="num">0</strong>
                            <img src="/static_files/images/graph-image-first.png" class="img-responsive text-center-one img-circle" />
                            <hr class="hr-dotted">
                            <span class="text-size-dash-fozi">Total Clicks</span>
                            <strong class="num">{{lt_clicks}}</strong>
                            <img src="/static_files/images/graph-image-two.png" class="img-responsive text-center-one img-circle" />
                            
                        </div>
                    </div>
                    
                
                    
                </div>
                
                <div class="full-four-section col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="xe-widget xe-counter color-blue-dash" >
                        <div class="xe-label label-right-gray-white">
                        <span class="text-size-dash-fozi">Registrations</span>
                <div id="devicetest" style="width:100%; height:140px;margin: 0 auto;" data-highcharts-chart="0">
                    </div>
                    
                </div>
                </div>
                
                </div>

              <!--  <div class="col-md-3 col-sm-3">
                    
                  
                    
                    <div class="xe-widget xe-counter color-blue-dash" >
                        <div class="xe-label label-right-gray-white">
                        <span class="text-size-dash-fozi">Clicks</span>
                            <strong class="num">0</strong><br/>
                            
                            <img src="/static_files/images/circle-graph-image-one.png" class="img-responsive text-center-one img-circle" />
                            <div id="devicecontainer" class="margin-center main-charts-fozil" style=" height: 90px; width:90px;"></div>
                            
                            <div class="col-md-6 text-center">
                                <span class="dash-blue-dot"></span>
                                <span class="text-size-dash-fozi-1">Web</span>
                                <strong class="num-1">0</strong>
                            </div>
                            
                            <div class="col-md-6 text-center">
                                <span class="dash-green-dot"></span>
                                <span class="text-size-dash-fozi-1">Tablet</span>
                                <strong class="num-1">0</strong>
                            </div>
                            
                            
                        </div>
                    </div>
                    
                
                    
                </div> -->
                
                <div class="full-four-section col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="xe-widget xe-counter color-blue-dash" >
                        <div class="xe-label label-right-gray-white">
                        <span class="text-size-dash-fozi">Recent Activity</span>
                <div id="registertest" style="width:100%; height:140px;margin: 0 auto;" data-highcharts-chart="0">
                    </div>
                    
                </div>
                </div>
                
                </div>
                <!-- <div class="col-md-3 col-sm-3">
                    
                  
                    
                    <div class="xe-widget xe-counter color-blue-dash" >
                        <div class="xe-label label-right-gray-white">
                        <span class="text-size-dash-fozi">Recent Activity</span>
                            <strong class="num">0</strong><br/>
                            
                            <img src="/static_files/images/circle-graph-image-one.png" class="img-responsive text-center-one img-circle" />
                             <div id="activitycontainer" class="margin-center main-charts-fozil" style=" height: 90px; width:90px;"></div>
                            
                            <div class="col-md-7 regi-one text-center">
                                <span class="dash-blue-dot"></span>
                                <span class="text-size-dash-fozi-1">Registrations</span>
                                <strong class="num-1">0</strong>
                            </div>
                            
                            <div class="col-md-5 text-center">
                                <span class="dash-green-dot"></span>
                                <span class="text-size-dash-fozi-1">FTD's</span>
                                <strong class="num-1">0</strong>
                            </div>
                            
                            
                        </div>
                    </div>
                    
                
                    
                </div> -->
                
                <div class="full-four-section col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    
                  
                    
                    <div class="xe-widget xe-counter color-blue-dash" >
                        <div class="xe-label label-right-gray-white">
                        <span class="text-size-dash-fozi">Revenue</span>
                            <strong class="num">{{revenue}}</strong><br/>
                            
                        <div class="top-adjust-some-space"><span>Earnings</span>
                                <strong class="num">{{lt_earnings}}</strong>
                                </div>
                                
                            <div style="padding-top:8px;">
                            
                            <div class="col-md-4 left-side-small-adjust text-center">
                                <span class="dash-blue-rectangles"></span>
                                <span class="text-size-dash-fozi-1">Payout</span>
                                <strong class="num-1">0</strong>
                            </div>
                            
                            <div class="col-md-8 left-side-small-adjust text-center">
                                <span class="dash-green-rectangles"></span>
                                <span class="text-size-dash-fozi-1">Lifetime Earnings</span>
                                <strong class="num-1">{{lt_earnings}}</strong>
                            </div>
                            
                            </div>
                            
                            
                        </div>
                    </div>
                    
                
                    
                </div>
                
                <!-- <div class="col-sm-3">
                
                    <div class="xe-widget xe-counter-block"  data-count=".num" data-from="0" data-to="{{lt_dep_amount}}" data-duration="2">
                        <div class="xe-upper">
                            
                            <div class="xe-icon">
                                <i class="linecons-money"></i>
                            </div>
                            <div class="xe-label">
                                <strong class="num">{{lt_dep_amount}}</strong>
                                <span>Total Deposited Amount</span>
                            </div>
                            
                        </div>
                        <div class="xe-lower">
                            <div class="border"></div>
                            
                        
                        </div>
                    </div>
                    
                </div> -->
                
                <!-- <div class="col-sm-3">
                
                    <div class="xe-widget xe-counter-block xe-counter-block-purple"  data-count=".num" data-from="0" data-to="{{lt_with_amount}}" data-duration="3">
                        <div class="xe-upper">
                            
                            <div class="xe-icon">
                                <i class="linecons-money"></i>
                            </div>
                            <div class="xe-label">
                                <strong class="num">{{lt_with_amount}}</strong>
                                <span>TOTAL WITHDRAWN AMOUNT</span>
                            </div>
                            
                        </div>
                        <div class="xe-lower">
                            <div class="border"></div>
                            
                            
                        </div>
                    </div>
                    
                </div> -->
                
                <!-- <div class="col-sm-3">
                
                    <div class="xe-widget xe-counter-block xe-counter-block-blue" data-count=".num" data-from="0" data-to={{revenue}} data-duration="4" data-easing="false">
                        <div class="xe-upper">
                            
                            <div class="xe-icon">
                                <i class="linecons-money"></i>
                            </div>
                            <div class="xe-label">
                                <strong class="num">{{revenue}}</strong>
                                <span>TOTAL REVENUE GENERATED</span>
                            </div>
                            
                        </div>
                        <div class="xe-lower">
                            <div class="border"></div>
                            
                        </div>
                    </div>
                    
                </div> -->
                <!-- <div class="col-sm-3">
                
                    <div class="xe-widget xe-counter-block xe-counter-block-dark-blue" data-count=".num" data-from="0" data-to={{lt_bonus}} data-duration="4" data-easing="false">
                        <div class="xe-upper xe-upper-dark-blue">
                            <div class="xe-icon">
                                <i class="linecons-money line-icon-dark-money"></i>
                            </div>
                            <div class="xe-label">
                                <strong class="num">{{lt_bonus}}</strong>
                                <span>TOTAL Bonus</span>
                            </div>
                            
                        </div>
                        <div class="xe-lower">
                            <div class="border"></div>
                        
                        </div>
                    </div>
                    
                </div> -->
                
                
                    
                </div>

                <!-- <div class="row">
            
                    <div class="col-sm-3">
                        <h4><strong>Mobile Revenue</strong></h4>
                        <div id="test-circle" data-percent={{mobile_revenue}}></div>
                        
                    </div>
                    
                    <div class="col-sm-3">
                        <h4><strong>Desktop Revenue</strong></h4>
                        <div id="test-circle1" data-percent={{web_revenue}}></div>
                    
                    </div>
                    
                    <div class="col-sm-3">
                        
                        <div id="test-circle2"></div>
                    
                    </div>
                    
                    <div class="col-sm-3">
                        
                        <div id="test-circle3"></div>
                    
                    </div>
            </div> -->
                
            
                <div class="row" style="margin-top:10px;">


                                    <div class="dash-quick-stat col-xs-12 col-sm-12 col-md-12">
                                        <div class="panel-heading1" style="background:#fff !important; border-bottom:none;">
                            <h2><strong>User Acquisition Trend</strong></h2>
                        </div>
                                    
                                    <div id="barcontainer" class="main-charts-fozil" style="height: 350px; width:100%;"></div>
                            </div>                      
                
                    
                    
                        
                        
                    </div>
                </br>
                    <div class="row" style="margin-top:10px;">

                        <div class="dash-quick-stat dash-quick-stat1 col-xs-12 col-sm-12 col-md-6"> 
        
                                    <div class="panel-heading1" style="background:#fff !important;border-bottom:none;">
                            <h2><strong>Device Statistics</strong></h2>

                        </div>
                        <div id="devicecircle" class="main-charts-fozil" style=" height: 350px; width:100%;"></div>

            
                        </div><!--/.row-->

                        <div class="dash-quick-stat dash-quick-stat1 col-xs-12 col-sm-12 col-md-6"> 
        
                                    <div class="panel-heading1" style="background:#fff !important;border-bottom:none;">
                            <h2><strong>Earnings Breakdown</strong></h2>

                        </div>
                        <div id="container" class="main-charts-fozil" style=" height: 350px; width:100%;"></div>

            
                        </div><!--/.row-->

                                                         
                
                    
                    
                        
                        
                    </div>
                    </br>
                    <div class="row" style="margin-top:10px;">
                        <div class="dash-quick-stat col-xs-12 col-sm-12 col-md-12">
                                        <div class="panel-heading1" style="background:#fff !important; border-bottom:none;">
                            <h2><strong>Quick Stats</strong></h2>
                        </div>
                                    
                                    <div id="statsc" class="main-charts-fozil" style=" width:100%; margin-top:-15px;">
                                        <table class="table table-responsive table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width: 98%; margin-left:12px; display: block; max-width: 100%;"></table>
                            
                                    </div>
                            </div> 
</div><br/>


<div class="row bottomadjust" style="margin-top:10px;">

                        <div class="dash-quick-stat dash-quick-stat1 col-xs-12 col-sm-12 col-md-6"> 
        
                                    <div class="panel-heading1" style="background:#fff !important;border-bottom:none;">
                            <h2><strong>Top Creatives</strong></h2>

                        </div>
                        <!-- <div id="stackedcontainer" class="main-charts-fozil" style=" height: 350px; width:100%;"> -->
                        
						<!--Table-->
						
						<div id="player_data_wrapper" class="dataTables_wrapper no-footer" style="    padding: 15px;
    margin-top: -15px !important;">
<table class="table table-creatives" style="margin-top:0px !important;">

    <!--Table head-->
    <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th>Name</th>
            <th>Brand</th>
            <th>Description</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr>
            <td>Sticky Slots</td>
            <td></td>
            <td>This is Sticky Slots.</td>
        </tr>
        <!-- <tr>
            <td>Slots Deck</td>
            <td>Thornton</td>
            <td>This is Slots Deck.</td>
        </tr> -->
        <!-- <tr>
            <td>Sticky Slots</td>
            <td>the Bird</td>
            <td>This is Sticky Slots.</td>
        </tr> -->
    </tbody>
    <!--Table body-->
</table>
<!--Table-->

</div>
                        
                        </div>

            
                  

                        <div class="dash-quick-stat dash-quick-stat1 col-xs-12 col-sm-12 col-md-6"> 
        
                                    <div class="panel-heading1" style="background:#fff !important;border-bottom:none;">
                            <h2><strong>Featured Offers</strong></h2>

                        </div>

						
						<section class="center">
						
						<!-- <div class="fo">
						<div class="media">
							<div class="media-left"><a href=""><img id="3" title="Banner Image" class="media-object" src="/media/sites/Slots Deck.png"></a></div>
						  <div class="media-body">
							  <h4 class="media-heading"><a href="">Slots Deck</a></h4>
							<p>First Mover Advantage.<br/> Category : Casino</p>
							 </div>
							</div>
							</div> -->
                            <div class="fo">
                        <div class="media">
                            <div class="media-left"><a href=""><img id="3" title="Banner Image" class="media-object" src="/media/sites/Sticky Slots.png"></a></div>
                          <div class="media-body">
                              <h4 class="media-heading"><a href="">Sticky Slots</a></h4>
                            <p></p>
                             </div>
                            </div>
                            </div>

							<div class="fo">
						<div class="media">
							<div class="media-left"><a href=""><img id="3" title="Banner Image" class="media-object" src="/media/sites/Sticky Slots.png"></a></div>
						  <div class="media-body">
							  <h4 class="media-heading"><a href="">Sticky Slots</a></h4>
							<p>Best Affiliate Platform in the Market Industry.</p>
							 </div>
							</div>
							</div>
							
						<!-- <div class="fo">
						<div class="media">
							<div class="media-left"><a href=""><img id="3" title="Banner Image" class="media-object" src="/media/sites/Slots Deck.png"></a></div>
						  <div class="media-body">
							  <h4 class="media-heading"><a href="">Slots Deck</a></h4>
							<p>First Mover Advantage.<br/> </p>
							 </div>
							</div>
							</div> -->
							
							
							
					</section>
					
					

            
                        </div><!--/.row-->

                                                         
                
                    
                    
                        
                        
                    </div>




<!-- <div class="row">
                                    <div class="dash-quick-stat col-xs-12 col-sm-12 col-md-8">
                                        <div class="panel-heading1" style="background:#fff !important; border-bottom:none;">
                            <h2><strong>Revenue Report</strong></h2>
                        </div>
                                    
                                    <div id="statsc" class="main-charts-fozil" style="height: 350px; width:100%;">
                                        <table class="table table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width: 100%; display: block; max-width: 100%;"></table>
                            
                                    </div>
                            </div>                      
                
                    
                    
                    </div> -->


                    
            
            
            <!-- Main Footer -->
            <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
            <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
            <!-- Or class "fixed" to  always fix the footer to the end of page -->
            
            </div> <!-- Full div main all -->
            
            
            <div class="left-side-section-fixed sidebar-nav-fixed affix col-md-3" data-spy="affix">
            
                <div class="">
				
					<h3 class="right-panel-heading">Right Side Pannel</h3>
					
					<p class="right-panel-para">
						Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.
					</p>
					
					<p class="right-panel-para">
						Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.
					</p>
					
					<p class="right-panel-para">
						Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.
					</p>
					
					<p class="right-panel-para">
						Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.
					</p>
					
					<p class="right-panel-para">
						Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.
					</p>
					
					<p class="right-panel-para">
						Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.
					</p>
					
				</div>
                
            </div>
            
    
            
            
         
</div>    <br/>   
    
    {% include "admin/new_design/footer-1.html" %}
    
    </div>
    
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
    
    
    
</div>




    <!-- Bottom Scripts -->

    <script src="/static_files/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <script type="text/javascript" src="/static_files/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>
<script src="/static_files/js/utils.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>

<script src="/static_files/assets/js/TweenMax.min.js"></script>
    <script src="/static_files/assets/js/resizeable.js"></script>
    <script src="/static_files/assets/js/joinable.js"></script>
    <script src="/static_files/assets/js/xenon-api.js"></script>
    <script src="/static_files/assets/js/xenon-toggles.js"></script>
    <!-- Imported scripts on this page -->
    <script src="/static_files/assets/js/xenon-widgets.js"></script>
    <script src="/static_files/assets/js/devexpress-web-14.1/js/globalize.min.js"></script>
    <script src="/static_files/assets/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
    <script src="/static_files/assets/js/toastr/toastr.min.js"></script>


    <!-- JavaScripts initializations and stuff -->
    <script src="/static_files/assets/js/xenon-custom.js"></script>

    <script src="/static_files/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
<!-- <script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script> -->
<!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
<script src="/static_files/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="/static_files/js/utils.js"></script>
<!-- HIGHCHARTS START-->
<script src="/static_files/js/jquery.circlechart.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- HIGHCHARTS END-->
<script>

$('.selectpicker').selectpicker({
  style: 'btn-info',
  size: 4
});

function addPlayerslistDataTable(headersList, dataList){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    $("#player_data").dataTable( {"iDisplayLength": 30,
       "data": dataList,
       "columns":headersList,
       //"scrollX": true,
       "ordering": false,
       paging: false,
       searching: false,
       info: false,
       "pageLength": 10,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
          });
   
    
}


function activitypie(){
     $('#activitycontainer').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        colorByPoint: true,
        data: [{
            name: '',
            color: '#0b99d7',
            y: 50,
            sliced: true,
            selected: true
        }, {
            name: 'FTD',
            y: 50
            
        }]
    }]
});
}

function devicepie(){
     $('#devicecontainer').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Devive',
        colorByPoint: true,
        data: [{
            name: 'Mobile',
            color: '#0b99d7',
            y: 25,
            sliced: true,
            selected: true
        }, {
            name: 'Web',
            
            y: 75
            
        }, {
            name: 'Tablet',
            color: '#93c83d',
            y: 0
        },
        {
            name: 'Telivision',
            color: '#93c83d',
            y: 0
        }]
    }]
});
}

function piechartdiv(){

    $('#container').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            size: '100%',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Earnings',
        colorByPoint: true,
        data: [{
            name: 'CPA',
            color: '#0b99d7',
            y: {{cpa}}/{{lt_earnings}},
            sliced: true,
            selected: true
        }, {
            name: 'CPR',
            color: '#7cb5ec',
            y: {{cpr}}/{{lt_earnings}}
            
        }, {
            name: 'RS',
            color: '#93c83d',
            y: {{rs}}/{{lt_earnings}}
        }]
    }]
});
}


function stackedbarchart(){
    
    $('#stackedcontainer').highcharts({
    chart: {
        type: 'bar',
        spacingLeft: 20,
        spacingRight: 30
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Web', 'Mobile', 'Tablet', 'TV']
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total Clicks, Registrations, FTD'
        }
       
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
 
    // plotOptions: {
    //     column: {
    //         stacking: 'normal',
    //         dataLabels: {
    //             enabled: true,
    //             color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
    //         }
    //     }
    // },
    series: {{device_report|safe}}
    });

}

function areachart(){
    var dates_list = {{bar_dates_list|safe}} ;
    var barchart_data = {{barchart|safe}} ;
    $('#areacontainer').highcharts({
    chart: {
        type: 'line'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: {{bar_dates_list|safe}},
    },
    yAxis: {
        title: {
            text: 'Revenue in EURO'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: {{area_chart|safe}}
    });

}

function barchartdiv(){
    var dates_list = {{bar_dates_list|safe}} ;
    var barchart_data = {{barchart|safe}} ;
    $('#barcontainer').highcharts({
    chart: {
        type: 'column',
        spacingTop: 10,
        spacingBottom: 15,
        spacingLeft: 20,
        spacingRight: 30
    },
    title: {
        text: ''
    },
 xAxis: {
        categories: {{bar_dates_list|safe}},
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Clicks, FTD, Registrations'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: {{barchart|safe}}
});
}

function circlecharts(){
    var deviedata = {{device_report|safe}};
    var device_data = {{device_data|safe}};
    $('#devicetest').highcharts({
            chart: {
                renderTo: 'container',
                type: 'pie'
                
            },
            title: {
                text: ''
            },
            yAxis: {
                title: {
                    text: 'Device Share'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    size: '100%'
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.y +' ';
                }
            },
            series: [{
                name: 'Browsers',
                data: [{name:"Mobile",y:deviedata[0]['data'][1], color: '#0b99d7'},{name:"Web",y:deviedata[0]['data'][0], color: '#93c83d'}],
                size: '100%',
                innerSize: '80%',
                showInLegend:true,
                dataLabels: {
                    enabled: false
                }
            }]
        } );

    $('#devicecircle').highcharts({
            chart: {
                renderTo: 'container',
                type: 'pie'
            },
            title: {
                text: ''
            },
            yAxis: {
                title: {
                    text: 'Revenue between Devices.'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    size: '100%'
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.y +'';
                }
            },
            series: [{
                name: 'Browsers',
                data: [
                        {name:"Mobile",y:device_data[0], color: '#0b99d7'},
                        {name:"Web",y:device_data[1], color: '#93c83d'},
                    ],
                size: '100%',
                innerSize: '70%',
                showInLegend:true,
                dataLabels: {
                    enabled: false
                }
            }]
        } );
    
    $('#registertest').highcharts({
            chart: {
                renderTo: 'container',
                type: 'pie'
            },
            title: {
                text: ''
            },
            yAxis: {
                title: {
                    text: 'Registration to FTD Share'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    size: '100%'
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.y +'';
                }
            },
            series: [{
                name: 'Browsers',
                data: [
                        {name:"Reg",y:{{lt_registrations|safe}}, color: '#7cb5ec'},
                        {name:"FTD",y:{{lt_ftd|safe}}, color: '#0b99d7'}
                    ],
                size: '100%',
                innerSize: '80%',
                showInLegend:true,
                dataLabels: {
                    enabled: false
                }
            }]
        } );
}

function highlightDays(date) {
                for (var i = 0; i < reminders.length; i++) {
                   if( (new Date(reminders[i].start).getTime()) 
                           <= date.getTime() 
                          &&  (date.getTime()) 
                           <= (new Date(reminders[i].end).getTime()))
                    {              
                       return [true, 'ui-state-highlight',reminders[i].unit];
                    }else{
                       return [true, ''];  
                    }
               }          
          }
	
//function showdaterange(){
  //  if ($('#daterange-picker-container').css('display')=='none'){
  //      $('#daterange-picker-container').show();
  //  }
  //  else{
  //      $('#daterange-picker-container').hide();
  //  }
  //  };

jQuery(document).ready(function() {
    circlecharts();
    barchartdiv();
   piechartdiv();
   stackedbarchart();
   areachart();
   circlecharts();
   devicepie();

   // $('#daterange1').daterangepicker({
   //  numberOfMonths : 3,
   //  initialText : 'Select period...',
   //  onSelect: function (date, obj) {
   //                  alert("You selected: " + date);
   //              },
   //  }
   //  );
 //   $('#daterange').dateRangePicker({
 //      container: '#daterange-picker-container',
 //    numberOfMonths: 3,
	// duration: 200,
 //    datepickerShowing: true,
 //    defaultDate: '-1D',
 //    format: 'MM/D/YYYY',
 //    beforeShowDay: highlightDays,
 //    defaultDateRange: 'Custom',
 //    maxDate: '-1D',
 //    minDate: new Date(2012, 12, 29),
 //    test: false,
 //    today: null
 //    }
 //    );
   Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   Index.init();
   // Index.initDashboardDaterange();
   // egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}');
   Index.initJQVMAP(); // init index page's custom scripts
   //Index.initCalendar(); // init index page's custom scripts
   //Index.initCharts(); // init index page's custom scripts
   //Index.initChat();
   Index.initMiniCharts();
   //Tasks.initDashboardWidget();
   //FormiCheck.init(); // init page demo  
   //egcsTools.initDashboardDaterange("left");
   egcsTools.initNavigation();
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var domain = '{{domain|safe}}'
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
       $('.digg_pagination').html(decoded);
    if (domain != 'None'){
       $('#siteselect').html(domain);
    }

   addPlayerslistDataTable(header_list, data_list);
   
   // fromdate = $.datepicker.formatDate('M dd, yy', new Date('{{from_date}}'))
   // todate = $.datepicker.formatDate('M dd, yy', new Date('{{to_date}}'))
   // $('#daterange').val(fromdate + ' - ' + todate);
   // $('#drp-input-startdate').val(fromdate);
   // $('#drp-input-enddate').val(todate);
   // $(".network_devices a").click(function(event){
   //      var channel = $(this).attr("channel");
   //      $("#ChannelID").val(channel);
   //      event.preventDefault();
   //      dashbord_submit_form();
        
   //  });
   // $("#drp-btn-apply").click(function(event){
   //      startdate = $.datepicker.formatDate('mm/dd/yy', new Date($('#drp-input-startdate').val()));
   //      enddate = $.datepicker.formatDate('mm/dd/yy', new Date($('#drp-input-enddate').val()));
   //      $('#daterange').html(startdate + ' - ' + enddate);
   //      $('#DashBoardFromDate').val(startdate);
   //      $('#DashBoardToDate').val(enddate);
        
   //  });

   $('#dashboard-report-range').find('span').attr('style', "display:'';" );
   $('#dashboard-report-range').find('span').removeClass('visible-lg-inline-block');
   $('rect').attr('rx',0);
});



$(window).resize(function(){
	if ($(window).width() <= 500){	
		
		
	}	
});

function show_sites(){
    //$("#siteFilter").toggle(850)
    if ($("#siteFilter").is(':visible')) {
        $("#siteFilter").slideUp('slow');
    }
    else{
        $("#siteFilter").slideDown('slow');
    }
}

function siteselectAll(){
    //var a = $("#SiteListDiv").find('input:checkbox');
    //$(a).attr('checked','checked');
    
    $("#SiteListDiv .icheckbox_minimal-grey").addClass('checked')
    $("input[name='siteids'").attr("checked", "checked");
}

function siteclearAll(){    
    //var a = $("#SiteListDiv").find('input:checkbox');
    //$(a).removeAttr('checked');
    
    $("#SiteListDiv .icheckbox_minimal-grey").removeClass('checked')
    $("input[name='siteids'").removeAttr("checked");
}
function dashbord_submit_form(){
    $("form[name=DashBoardForm]").submit();
}


function drawCanvas(text, context, textx, texty){
    context.fillStyle = "#A7A6AB";
    context.beginPath();
    var radius = 30; // for example
    context.arc(40, 35, radius, 0, Math.PI * 2);
    context.closePath();
    context.fill();
    context.fillStyle = "#fff"; // font color to write the text with
    var font = "bold 15px 'Open Sans', sans-serif";
    context.font = font;
    context.textBaseline = "top";
    context.fillText(text, textx-radius/4 ,texty-radius/2);
}


</script>
<!-- END JAVASCRIPTS -->

<script type="text/javascript">
$(function() {

     var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
        maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>
<script>

//paste this code under head tag or in a seperate js file.
// Wait for window load
$(window).load(function() {
    // Animate loader off screen
    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");;
});

function show_intel(){
if ($(".left-side-section-fixed").css('display') == "none"){
    $(".hidden-sm").find('a').click();
    $(".full-div-main").addClass("col-md-9").css({"margin-left": "-16px"});
	$(".page-container .main-content .page-title").css({"margin" : "0px" , "margin-bottom" : "19px"});
    $(".full-four-section").addClass("col-lg-3")
    $(".full-four-section").css({"width": "100%"});
    $(".left-side-section-fixed").addClass("col-md-3").show();
}
else{
    $(".full-div-main").removeClass("col-md-9").css({"margin-left": "0px"});
    $(".full-four-section").addClass("col-md-12")
	$(".page-container .main-content .page-title").css({"margin" : "-30px" , "margin-bottom" : "19px"});
    $(".full-four-section").css({"width": "50%"});
    $(".left-side-section-fixed").removeClass("col-md-3").hide();
    $(".hidden-sm").find('a').click();
}
}
</script>

<script src="/static_files/assets/js/slick.js" type="text/javascript" charset="utf-8"></script>

       <script type="text/javascript">
    $(document).ready(function(){
      $(".center").slick({
         slidesToShow: 1,
  slidesToScroll: 1,
  autoplay:false,
  autoplaySpeed: 4000,
      });
    });
  </script>
  
  <!-- Include Required Prerequisites -->





</body>
</html>