<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}} - Domain & SSL</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<style type="text/css">


.skip-button {background:#0091e0;
    padding: 5px;
    display: inline-block;
    width: 80px;
    text-align: center;
    color: #fff; text-transform:uppercase;}
	
	.skip-button:hover {color: #fff;background:#1788c5}

.tt-divider-header{font-size:16px; font-weight:bold;}
.tt-form-group {font-size:14px;}
label {display:block;}
.form-horizontal .form-group {margin-bottom:5px; height:88px;}
.tt-form-help-text, .tt-form-info-text {padding-left:15px;}
label.error { color: #ff0000 !important;
    line-height: 0;
    font-size: 14px;
    display: inline !important;
	}
	
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

.step1-first {
	width: 30px;
    text-align: center;
    display: inline-block;
    background: #0091e0;
    margin-left: 10px; margin-top:-2px;
    border-radius: 62px;
    vertical-align: middle;
    line-height: 30px;
    position: absolute;
    color: #fff;
    border: none;
	}
	
	.footer {left:0px !important;}	
	
	@media (max-width: 767px) {


	
		.page-titles .breadcrumb {
    padding: 0;
    background: transparent;
    font-size: 14px;
    /* float: right; */
    position: absolute;
    right: 5px;
    top: -32px;
}
	
	}
	
	
	
	
	
	
	
	
	
	
	
	
	/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
	width:100%;
	max-width:97%;
 
  margin-top: 20px;
  margin-left: 35px;
 
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0; font-size:16px; color:#000000; border:none; padding:20px;
  background:#f9f9f9; margin-bottom:10px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #0091e0;
  background-image: #0091e0;
  color: #ffffff; border-radius:0;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
  display:none;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  
  
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.heading-all-page-full {display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 20px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    padding-top: 1px;
	background:none;
    margin-left: 0px;
    font-weight: bold;
    color: #000;
	
	}
	
	.full-input-width {height: 50px !important;
    background: #f9f9f9;
    border: 1px solid #ccc;}
	
	.form-horizontal .form-group {padding-left:0px; padding-top:10px;}
	
	.card-title p {padding-left:0px;}
	
	.tt-form-help-text, .tt-form-info-text {padding-left:0px;}
	
	.card-title p {
    padding-left: 0px;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px; color:#919191;
}

.button-large {float:right; margin-right:20px; width:auto; padding-left:20px; padding-right:20px;}

div.bhoechie-tab-menu div.list-group>a:hover {box-shadow: 0 0 1px 0 rgba(0,0,0,.21), 0 10px 33px 0 rgba(0,0,0,.16);
    cursor: pointer;
    transform: scale(1.01);}
	
	div.bhoechie-tab-menu div.list-group{border-right:1px solid #ccc;}
	
	div.bhoechie-tab-menu div.list-group>a:last-child {margin-bottom:0px;}
	
	
	.steps-all {
	
	width:30px; height:30px; 
	background:#fff; color:#000; 
	text-align:center; line-height:30px; margin-right:10px;
	    border-radius: 20px;
    display: inline-block;
	}
	
	.page-titles h3 {font-weight:bold; color:#000 !important;}
	
	
	
	
	
	
	
	
	@media only screen and (max-width: 1200px) and (min-width: 768px) {
	
		div.bhoechie-tab-menu div.list-group>a {font-size:15px;}
		
		div.bhoechie-tab-menu div.list-group {width:300px;}
		
		div.bhoechie-tab-menu {max-width:300px;}
		
		.small-laptop {width:710px;}
	
	}
	
	
	@media (max-width: 767px) {
	
			div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    width: 100%;
    max-width: 94%;
    margin-top: 0;
    margin-left: 15px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

#ember1316 {margin-left:0px !important; margin-top:20px;}

div.bhoechie-tab-content {padding-left:0px;}
	
	}
	
	.button-web-get {    text-transform: uppercase;
    font-weight: bold;}
	
	label {font-size:16px; color:#000;}
	
	div.bhoechie-tab-menu div.list-group>a.active>span.steps-all {color:#0091e0;}

</style>
<body class="page-body">

  
  
   <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
  
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
    
        <!-- Left Sidebar  -->
        {% if pid != "new" %}
         {% include "partner/new_design/menubar-1.html" %}
        
        <!-- End Left Sidebar  -->
    
        <!-- Page wrapper  -->
        <div class="page-wrapper">
		<div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
            <h3 class="text-primary">Domain & SSL</h3>
          </div>
                <div class="col-md-7 align-self-center float-right">
        
        
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Settings</a></li>
                        <li class="breadcrumb-item active">Domain & SSL</li>
                    </ol>
		{% else %}
		<div class="page-wrapper" style="margin-left: 0px; !important">
		
		
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-8 align-self-center">
                    
            <h3 class="text-primary">SET YOUR AFFILIATE PROGRAM UP IN A JIFFY WITH WYNTA - 3 SUPER QUICK STEPS</h3>
          </div>
                <div class="col-md-4 align-self-center float-right">
        
        
                    <ol class="breadcrumb">
                        
                        <!-- <li class="breadcrumb-item active"><a href="/admin/site-mapping/post?pid=new" class="skip-button"><strong>Skip</strong></a></li> -->
                    </ol>
        
          {% endif %}
          
          <div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
                      <i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
        
          
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
        
      <div class="card">
      
      <div class="row">
      <div class="col-lg-12">

          <div class="card-title">
                                    
                                        

                            <div class="table-toolbar">
                                
                                {%if error %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-danger alert-success-msg">
                                            <center> <span>{{error}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                        <form action="/admin/writedomain/" method="POST" enctype="multipart/form-data" class="form-horizontal" id="formsValidate">
                                          
                                        <fieldset style="">
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
                                       
									   
									   <div class="main-col">
									   
									   
											<div class="row">
        <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bhoechie-tab-menu float-left">
              <div class="list-group">
                <a href="/admin/writedomain?pid=new" class="list-group-item active">
                  <span class="steps-all">1</span>Domain & SSL
                </a>
                <a href="/admin/brand-mapping/post?pid=new" class="list-group-item">
                  <span class="steps-all">2</span>Brand Mapping
                </a>
                <a class="list-group-item">
                  <span class="steps-all">3</span>Software Provider Authentication
                </a>
                <!-- <a href="/admin/add-new-user/post?pid=new" class="list-group-item"> -->
                  <!-- <span class="steps-all">4</span>Add User -->
                <!-- </a> -->
                
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 float-left small-laptop">
                <!-- flight section -->
                <div class="bhoechie-tab-content">
                    
                     <div class="tt-form-wrapper">
  <div class="content-settings-form edit-wrapper">
    <div class="tt-form-group">
     
<div id="ember1305" class="liquid-container ember-view" style=""><div id="ember1316" class="liquid-child ember-view" style="top: 0px; left: 0px; margin-left:12px;">                
<h2 class="tt-divider-header tt-divider-header--dark heading-all-page-full">1. Subdomain</h2>
        <div class="tt-form-group">
          <div id="ember1319" class="ember-view">
		  
		  <div id="ember1320" class="form-field form-field--dark ember-view">    
		  
		  
		  <div class="form-group col-md-12 col-sm-12">
													
													<input name="domain" placeholder="affiliates.yourprogram.com" class="form-control full-input-width" required="required" type="text" style="float:left; margin-top:5px; border-radius:0;" /></span>
												</div>
		  
		
<div id="ember1322" class="ember-view" style=""><div id="ember1323" class="ember-view" style="overflow: auto;">  <!---->

</div></div></div></div>
          <p class="tt-form-help-text" style="margin-top:-15px;margin-bottom:0px;">This domain name must support CNAME records and should have a subdomain. We recommend something like <code style="font-size:16px; font-family: sans-serif !important;color:#0091e0;">affiliates.yourprogram.com.</code></p>
        </div>
<br/>
        <h2 class="tt-divider-header tt-divider-header--dark heading-all-page-full">2. Point CNAME</h2>
        <div class="tt-form-group" style="padding-top:0px;">
          <p class="tt-form-info-text">Point a CNAME to <code style="font-size:16px; font-family: sans-serif !important;color:#0091e0;">ext.wynta.com </code>. Your webmaster, administrator or developer will help you with this.</p>
		  
        </div>
<br/>
        <h2 class="tt-divider-header  tt-divider-header--dark heading-all-page-full" style="">3. Verify Setup</h2>
        <div class="tt-form-group" style="padding-top:0px;">
          <p class="tt-form-info-text">Click the Verify button below to complete Step 1!</p>
		  
        </div>

      
</div></div>    </div>

      <input type="submit" check="Verify" value="VERIFY & MOVE TO THE NEXT STEP" class="btn-single button-large button-web-get" style="
     " />
  </div>
</div>
                    
                </div>
               
               
            </div>
        </div>
  </div>
        

										</div>
                                     
                                      </fieldset>
                                        </form>
                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="digg_pagination"></div><br/>  -->
                            
                      
             
              </div>
			  
			  
			     </div>
			  
			  
			  
          </div>
        </div>
      </div>
	  
      {% include "partner/new_design/footer-1.html" %}
      
      <!-- <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a> -->
      
    </div>
      
      
 
      
    </div>
  
  
  


<script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>

   <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->

<!-- END PAGE LEVEL SCRIPTS -->
<script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 

<script>

        $(document).ready(function() {
          // var campaign_dict = '{{campaign_list|safe}}';
          // category_dict = {{data.mediacategory_list|safe}};
          $('form').ajaxForm();
        });
      
	  </script>
	  
	  
	  <script>
	  
	  $('#formsValidate').validate({
             rules: {
                  
                  domain: {
                      required: true,
                  },
                
				    
              },

            messages: {
                
                domain: {
                  required: 'Please enter domain.'
                },
              
            },

            submitHandler: function (form) {
                if($('#nodata').is(":visible")==false){
                      form[0].submit();
                    }
                }
              });
			  
			  </script>
			  
			  
			 
	  
	  
</body>
</html>

