<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->

  <title>{{partner}} - Email Client Intergation</title>
  <link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

  <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
  <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
  <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
  <!-- Bootstrap Core CSS -->
  <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->

  <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <!-- Latest compiled and minified CSS -->


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">


</head>
<style type="text/css">
  #tabs {
    background: #007b5e;
    color: #eee;
  }

  #tabs h6.section-title {
    color: #eee;
  }

  #tabs .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #007bff;
    border: none;
  }

  .nav-tabs .nav-link {
    border: none;
    max-width: 15%;
    text-align: left;
    padding: 20px;
    background: #f9f9f9;
    text-align: center;
    padding-bottom: 15px;
    border-radius: 0;
    border-right: 2px solid #f5f5f5;
  }

  .nav-link:hover {}

  .nav-tabs .nav-link:focus,
  .nav-tabs .nav-link:hover {
    border-color: #f5f5f5;
  }


  .nav-tabs {
    border-bottom: none
  }

  #tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 5px;
    color: #eee;
    font-size: 20px;
  }

  .btn-lg {
    padding: 0.75rem 1.5rem;
  }

  .font15 {
    font-size: 14px;
  }
</style>

<body class="page-body">

  <!-- Main wrapper  -->
  <div id="main-wrapper">

    <!-- header header  -->
    {% include "partner/new_design/header-1.html" %}
    <!-- End header header -->

    <!-- Left Sidebar  -->
    {% include "partner/new_design/menubar-1.html" %}
    <!-- End Left Sidebar  -->

    <!-- Page wrapper  -->
    <div class="page-wrapper">
      <!-- Bread crumb -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">

          <h3 class="text-primary">Email Client Integration</h3>
        </div>
        <div class="col-md-7 align-self-center float-right">


          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Settings</a></li>
            <li class="breadcrumb-item active">Email Client Integration</li>
          </ol>





        </div>
      </div>
      <!-- End Bread crumb -->
      <!-- Container fluid  -->
      <div class="container-fluid">
        <!-- Start Page Content -->

        <div class="card">

          <form action="" id="formValidation" data-method="PUT" enctype="multipart/form-data" name='' role="form">


            <div class="container pl-0 pr-0">
                <div id="message" style="display: none;">
                    <div class="alert alert-success"><center> <span>Details Updated Successfully.</span></center></div>
                  </div>
              <div class="row">

                <nav class="w-100 pl-3 pt-1 pb-2">
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="gsuite" data-toggle="tab" href="#nav-home" role="tab"
                      aria-controls="nav-home" onclick="selected(this.id)">
                      <img src="/static_files/new_wynta/images/g-suite.png">
                      <span class="d-block pt-1 font15">G Suite</span>
                    </a>
                    <a class="nav-item nav-link" id="mailgun" data-toggle="tab" href="#nav-profile" role="tab"
                      aria-controls="nav-profile" onclick="selected(this.id)" aria-selected="false">
                      <img src="/static_files/new_wynta/images/mail-gun.png">
                      <span class="d-block pt-1 font15">Mailgun</span>
                    </a>

                  </div>
                </nav>
               
                <div class="tab-content py-3 px-3 px-sm-0 w-100" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <fieldset>
                      <div id="gsuitediv">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                          <label>Username</label>
                          <input type="text" autocomplete="off" class="input-lg form-control full-input-width"
                            name="username" id="username" placeholder="">
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                          <label>Password</label>
                          <input type="password" autocomplete="off" class="input-lg form-control full-input-width"
                            name="password" id="password" placeholder="">
                        </div>
                      </div>
                      <div id="mailgundiv">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                          <label>Domain</label>
                          <input type="text" autocomplete="off" class="input-lg form-control full-input-width"
                            name="domain" id="domain" placeholder="">
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                          <label>API KEY</label>
                          <input type="text" autocomplete="off" class="input-lg form-control full-input-width"
                            name="apikey" id="apikey" placeholder="">
                        </div>
                      </div>


                      <div class="form-group input-group">


                        <button class="btn btn-lg btn-purple button-large button-web-get submit-width" type="button"
                          onclick="postDetails()" style="">Submit</button>


                      </div>

                    </fieldset>



                  </div>

                </div>

              </div>

            </div>


          </form>




        </div> <!-- First div card -->



        <!-- End PAge Content -->
      </div>
      <!-- End Container fluid  -->
      <!-- footer -->
      {% include "partner/new_design/footer-1.html" %}

      <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
  </div>
  <!-- Page Loading Overlay -->
  <!-- <div class="page-loading-overlay">
    <div class="loader-2"></div>
    
  </div> -->

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

  <script>
    $(document).ready(function () {
      getDetails();
    });

    function postDetails() {
      var emailclient = $("body").find("a[aria-selected='true']").attr("id");
      if (emailclient == 'gsuite') {
        $('#domain').val('');
        $('#apikey').val('');
        data = {
          username: $('#username').val(),
          password: $('#password').val(),
          emailclient: emailclient,
          domain: null,
          apikey: null
        }
      } else {
        $('#username').val('');
        $('#password').val('');
        data = {
          username: null,
          password: null,
          emailclient: emailclient,
          domain: $('#domain').val(),
          apikey: $('#apikey').val()
        }
      }
      console.log('data dict' + JSON.stringify(data));
      $.ajax({
        url: '/admin/email-client-service/',
        method: 'POST',
        dataType: 'json',
        data: JSON.stringify(data),
        success: function (data) {
          if(data.status == "success"){
            $("#message").show();
          }
        }
      });
    }
    function getDetails() {
      $.ajax({
        url: '/admin/email-client-service/',
        type: 'get',
        async: 'false',
        success: function (data) {
          data = JSON.parse(data);
          console.log('data is emailcleint' + data.emailclient);
          if (data.emailclient == null) {
            $('#gsuite').attr('aria-selected', true);
            $('#mailgun').attr('aria-selected', false);
            $('#gsuitediv').show();
            $('#mailgundiv').hide();
          }
          if(data.emailclient == 'gsuite'){
            $('#gsuite').attr('aria-selected', true);
            $('#mailgun').attr('aria-selected', false);
            $('#gsuitediv').show();
            $('#mailgundiv').hide();
          }if(data.emailclient == 'mailgun'){
            $('#gsuite').attr('aria-selected', false);
            $('#mailgun').attr('aria-selected', true);
            $('#gsuitediv').hide();
            $('#mailgundiv').show();
          }
          if(data.emailclient){
            $('#username').val(data.username),
            $('#password').val(data.password),
            $('#domain').val(data.domain),
            $('#apikey').val(data.apikey)
          }
        }
      });
    }

    selected = function (id) {
      if (id == 'gsuite') {
        $('#gsuite').attr('aria-selected', true);
        $('#mailgun').attr('aria-selected', false);
        $('#gsuitediv').show();
        $('#mailgundiv').hide();
        // $("#username").prop('required', true);
        // $("#password").prop('required', true);
        // $("#domain").prop('required', false);
        // $("#apikey").prop('required', false);

      }
      if (id == 'mailgun') {
        $('#gsuite').attr('aria-selected', false);
        $('#mailgun').attr('aria-selected', true);
        $('#gsuitediv').hide();
        $('#mailgundiv').show();
        // $("#username").prop('required', false);
        // $("#password").prop('required', false);
        // $("#domain").prop('required', true);
        // $("#apikey").prop('required', true);
      }
    }
  </script>

</body>

</html>