<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    
    <title>{{partner}}</title>
	<link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	

    <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />
  
    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
  
  
 
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<style>

.table-even-odd > thead > tr > th:last-child {
    border-right: 1px solid #d3d3d3;
    border-color: #dee2e6;
}

.table-even-odd tbody tr:hover {
    background-color: rgba(0,0,0,.075) !important;
}

.daterangepicker {width:auto;}

.table_header_background {margin-left:0px;}

#brand_data_wrapper {
    min-height: 10px;
    max-height: 200px;}

@media screen and (min-width: 769px) and (max-width: 805px) 

	{
		.daterangepicker {left:80px !important;}
		.800-screen {margin-top:50px;}
	}
	
	
	
.egcs_submit_button {float: right;background: #1976d2;
    padding: 0px;
    font-size: 14px;
    width: 90px;
    color: #fff;
    padding: 5px; height:auto;
    margin-top: -4px;
    float: none;
    border: none;
    box-shadow: none;
    margin-left: 10px;
    border-radius: 0;
 }
 
 .egcs_submit_button:hover {
 width: 90px;
    color: #fff;
    padding: 5px; height:auto;
    margin-top: -4px;
    float: none;
    border: none;
    box-shadow: none;
    margin-left: 10px;
    border-radius: 0;
 }
 
	.date-range-class {}
  .view-edit{
    color: #fff;
    background: #0091e0;
    border: 1px solid #0091e0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
    box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 14px;
  }
  
   #brand_data {width: 100%;max-width: 100%; margin-left:0;}
   .dataTables_wrapper {width:100%;}
   
   @media (max-width: 767px) {
		.table-bordered {margin: 0px;margin-left: 0; max-width:100% !important;}
		.dataTables_wrapper {padding-right:0px !important;}
   }

   
   
    .btn-circle.btn-lg {
           width: 24px !important;
    height: 24px !important;
    padding: 2px 6px;
    font-size: 14px !important;
    line-height: 1.5;
    border-radius: 30px;
    margin-left: 0px; 
    line-height: 1.5 !important;
      }
	  
	  .btn-circle.btn-lg.active {color:#fff; background-color:#2585c7; border:none;}
	  
	  .symbol-buttons {    position: relative;
    margin-top: -5px;
    top: 4px;}
	
	input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.screen {margin-top:-48px;}
  
</style>
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
		</svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
		<form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <div data-toggle="buttons" currency="{{currency}}" class="symbol-buttons float-left" id="load-data">
          {% if currency == "£" %}
		  <label class="btn btn-default btn-circle btn-lg active"><input type="radio" class="currency" name="currency" value="gbp" checked="checked"><i class="fa fa-gbp"></i></label>
          <label class="btn btn-default btn-circle btn-lg"><input type="radio" class="currency" name="currency" value="euro"><i class="fa fa-euro"></i></label>
		  {% else %}
		  <label class="btn btn-default btn-circle btn-lg "><input type="radio" class="currency" name="currency" value="gbp"><i class="fa fa-gbp"></i></label>
		  <label class="btn btn-default btn-circle btn-lg active"><input type="radio" class="currency" name="currency" value="euro" checked="checked"><i class="fa fa-euro"></i></label>
		  {% endif %}
		  
		  <!-- <label class="btn btn-default btn-circle btn-lg"><input type="radio" class="currency" name="currency" value="dollar"><i class="fa fa-dollar"></i></label> -->
        </div>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			

			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                                <h4>Quick Stats : Last 7 Days</h4>
								
                            </div>
					</div>

					</div>
				
               <div class="row tile_count">
			   
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<div class="count">{{lt_clicks}}</div>
              <span class="count_top">Clicks</span> 
			  {% if clicks_percent %}
              <span class="count_bottom" title="compare to previous 7 days">
                {% if clicks_percent < 0 %}
                  <span class="red">
                    {% else %}
                <span class="green">
                  {% endif %}
                {{clicks_percent}}% change</span></span>
			  {% else %}
			  <span class="count_bottom" title="compare to previous 7 days">No Data</span>
              {% endif %}
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<div class="count">{{lt_registrations}}</div>
              <span class="count_top">Registrations</span>
             {% if registrations_percent %}
              <span class="count_bottom" title="compare to previous 7 days">
                {% if registrations_percent < 0 %}
                  <span class="red">
                    {% else %}
                <span class="green">
                  {% endif %}
                {{registrations_percent}}% change</span> </span>
              {% else %}
              <span class="count_bottom" title="compare to previous 7 days">No Data</span>
              {% endif %}
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<div class="count">{{lt_ftd}}</div>
              <span class="count_top">FTD</span>
              {% if ftd_percent %}
              <span class="count_bottom" title="compare to previous 7 days">
                {% if '-' in ftd_percent %}
                  <span class="red">
                    {% else %}
                <span class="green">
                  {% endif %}
                {{ftd_percent}}% change</span> </span>
              {% else %}
              <span class="count_bottom" title="compare to previous 7 days">No Data</span>
              {% endif %}
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			 <div class="count">{{lt_dep_amount}}</div>
              <span class="count_top">Deposit</span>
              {% if dep_percent %}
              <span class="count_bottom" title="compare to previous 7 days">
                {% if '-' in dep_percent %}
                  <span class="red">
                    {% else %}
                <span class="green">
                  {% endif %}{{dep_percent}}% change</span> </span>
              {% else %}
              <span class="count_bottom" title="compare to previous 7 days">No Data</span>
              {% endif %}
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			 <div class="count">{{lt_revenue}}</div>
              <span class="count_top">Revenue</span>
			  {% if revenue_percent %}
               <span class="count_bottom" title="compare to previous 7 days">
                 {% if '-' in revenue_percent %}
                  <span class="red">
                    {% else %}
                <span class="green">
                  {% endif %}
               {{revenue_percent}}% change</span></span>
              {% else %}
              <span class="count_bottom" title="compare to previous 7 days">No Data</span>
              {% endif %}
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count no-border">
			 <div class="count">{{lt_earnings}}</div>
              <span class="count_top">Payout</span>
			  {% if earnings_percent %}
               <span class="count_bottom" title="compare to previous 7 days">
                {% if '-' in earnings_percent %}
                  <span class="red">
                    {% else %}
                <span class="green">
                  {% endif %}
               {{earnings_percent}}% change</span></span>
              {% else %}
              <span class="count_bottom" title="compare to previous 7 days">No Data</span>
              {% endif %}
            </div>
			
			
          </div> <!-- First Row -->
		  
		 
		  
		  </div> <!-- First div card -->
		  
		  


<input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />

                <div class="card">
			
			<div class="card-title">
                                <h4 class="">Our Brands</h4>
								
								<div class="pull-right 800-screen screen">
								
								<div class="pull-right date-range-class" id="daterange" style="">
							&nbsp; 
							<span>{{from_date}} - {{to_date}}</span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> 
						 
						 </div>
						 <input type="submit" value="Submit" class="btn  btn-success egcs_submit_button">
                             </div>
							
							</div>
				<div id="statsc" class="table-responsive main-charts-fozil" style=" width:100%;">
                                        <table class="table table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="brand_data" style=""></table>
                            
                                    </div>
           
		  
		  </div> <!-- Second div card -->
		  
		  
		  <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
            
                <div class="portlet-body form">
                                        
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>

                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
		  
		   
		  
				 <div class="card">
			
			<div class="card-title">
                                <h4>User Acquisition Trend</h4>
                            </div>
				
               <div class="row tile_count">
			   
			<div id="barcontainer" class="main-charts-fozil" style="height: 350px; width:100%;"></div>
			
          </div> <!-- Third Row -->
		  
		  </div> <!-- Third div card -->

                <div class="card">
			
			<div class="card-title">
                                <h4>Top Affiliates</h4>
                            </div>
				<div id="statsc" class="main-charts-fozil" style=" width:100%;">
                                        <table class="table table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width:100%; max-width: 100%;"></table>
                            
                                    </div>
              
		  
		  </div> <!-- Fourth div card -->
		  
		  
		   
			
			
               <div class="row">
			   
			   <div class="col-lg-6">
			   
			   <div class="card full-height-card">
			   
					<div class="card-title">
                                
								<h4>Pending Affiliates</h4>
								
					</div>
					
					<div id="player_data_wrapper" class="dataTables_wrapper no-footer dash-fotter-scroll">
					<table class="table table-hover table-bordered table-margin-none mobile-responsive-table table-even-odd" id="dataTable" style="display:inline-table !important;">
    <thead>
      <tr>
        <th>Affiliate ID</th>
        <th>Company Name</th>
        <th>View/Edit</th>
      </tr>
    </thead>
    <tbody>
	{% if pending_affiliates %}
      {% for i in pending_affiliates %}
      <tr class="">
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td><a href="/admin/add-affiliate/{{i.0}}"><span class="btn btn-success">View/Edit</span></a>
</td>
      </tr>
      {% endfor %}
	  {% else %}
            <tr class="odd"><td valign="top" colspan="8" class="dataTables_empty">There are no pending affiliates requests</td></tr>
        {% endif %}
	  
	
     
    </tbody>
  </table>
  </div>
  
  </div>
			   
			   </div> 
			   
			   <div class="col-lg-6 padding-left-none">
			   
			   <div class="card">
			   
					<div class="card-title">
                               
							   <h4>Affiliate Status</h4>
							   
					</div>
					
					<div id="devicecircle" class="main-charts-fozil" style=" height: 350px; width:100%;"></div>
			   
			   </div>
			   
			   </div> 
			   
			
				
			
          </div> <!-- Fifth Row -->
		  
		 
</form>

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
  

<!-- Charts Ends -->



<script type="text/javascript">
  function addPlayerslistDataTable(ids, headersList, dataList){
    $('#'+ids+':has(tbody)').dataTable().fnDestroy();
    $("#"+ids).dataTable( {"iDisplayLength": 30,
       "data": dataList,
       "columns":headersList,
       // "scrollX": true,
       "ordering": false,
       paging: false,
       searching: false,
       info: false,
       "scrollX":false,
       "pageLength": 10,
       "autoWidth": false,
       "language": {
            "emptyTable": "Nothing to see here... yet!"
        }
          });
   
    
}

function barchartdiv(){
    var dates_list = {{bar_dates_list|safe}} ;
    var barchart_data = {{barchart|safe}} ;
    $('#barcontainer').highcharts({
    chart: {
        type: 'column',
        spacingTop: 10,
        spacingBottom: 15,
        spacingLeft: 20,
        spacingRight: 30
    },
    title: {
        text: ''
    },
 xAxis: {
        categories: {{bar_dates_list|safe}},
        crosshair: true
    },
    yAxis: {
        min: 0,
        
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: {{barchart|safe}}
});
}
  function circlecharts(){
    var device_data = {{affiliate_status|safe}};
    $('#devicecircle').highcharts({
            chart: {
                renderTo: 'container',
                type: 'pie'
            },
            title: {
                text: ''
            },
            yAxis: {
                title: {
                    text: 'Affiliates Status.'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    size: '100%'
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.y +'';
                }
            },
            series: [{
                name: 'Status',
                data: [
                        {name:"Pending",y:device_data[0], color: '#000000'},
                        {name:"Approved",y:device_data[1], color: '#0090df'},
                        {name:"Rejected",y:device_data[2], color: '#999999'},
                    ],
                size: '100%',
                innerSize: '70%',
                showInLegend:true,
                dataLabels: {
                    enabled: false
                }
            }]
        } );
    
    
}


jQuery(document).ready(function() {



//$(".sidebar-nav > ul > li").addClass("active");

    circlecharts();
    barchartdiv();

    Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   Index.init();
   egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}');
   Index.initJQVMAP(); // init index page's custom scripts

   Index.initMiniCharts();
   var c = {{pending_affiliates|safe}};
   egcsTools.initNavigation();
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var data_b_list = {{data_b_list|safe}};
   var header_b_list = {{header_b_list|safe}};
   var domain = '{{domain|safe}}'
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
       $('.digg_pagination').html(decoded);
  
    addPlayerslistDataTable('brand_data', header_b_list, data_b_list);
   addPlayerslistDataTable('player_data', header_list, data_list);
  });

</script>

<!-- Date Pickers -->




<script type="text/javascript">

  $('input[type=radio]').on('change', function() {
    if ($('.currency[value="euro"]').closest('label').hasClass('active') == false){
      // $(this).closest("form").submit();
      $('.egcs_submit_button').click();
    }
});
$(function() {

    var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		locale: {
			format: 'DD/MM/YYYY'
    },
        maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});

$(document).ready(function()
{
  //for table row
  $(".table-even-odd tr:odd").css("background-color", "rgba(0,0,0,.05);");
  $(".table-even-odd tr:even").css("background-color", "#ffffff");
});

</script>

</body>

</html>