<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    
    <title>Wynta</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

    <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	 <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<style>
.egcs_submit_button {float: right;
    margin-top: -53px;}
	.date-range-class {margin-right:100px; float:right !important;     margin-top: -53px !important;}
</style>
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			<form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form">
			
			<div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <!-- <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <span> Filter Sites: </span>
                    </div>
                </div> -->
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>

                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                                <h4>Quick Stats</h4>
								<div class="pull-right date-range-class" id="daterange" style="">
							&nbsp; 
							<span>{{from_date}} - {{to_date}}</span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> 
						 </div> 
						 
						 <input type="submit" value="Submit" class="btn  btn-success egcs_submit_button">
                            </div>
					</div>

					</div>
				
               <div class="row tile_count">
			   
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<div class="count">{{lt_clicks}}</div>
              <span class="count_top">Clicks</span> 
			  {% if lt_clicks %}
              <span class="count_bottom" title="compare to previous 7 days"><span class="green">{{clicks_percent}}</span> change</span>
			  {% else %}
			  <span class="count_bottom" title="compare to previous 7 days">No Data</span>
              {% endif %}
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<div class="count">{{lt_registrations}}</div>
              <span class="count_top">Conversions</span>
             {% if lt_registrations %}
              <span class="count_bottom" title="compare to previous 7 days"><span class="red">{{registrations_percent}} </span>% change</span>
              {% else %}
              <span class="count_bottom" title="compare to previous 7 days">No Data</span>
              {% endif %}
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<div class="count">{{revenue}}</div>
              <span class="count_top">€ Revenue</span>
              {% if revenue %}
              <span class="count_bottom" title="compare to previous 7 days"><span class="green">{{revenue_percent}} </span>% change</span>
              {% else %}
              <span class="count_bottom" title="compare to previous 7 days">No Data</span>
              {% endif %}
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			 <div class="count">{{revenue}}</div>
              <span class="count_top">£ Revenue</span>
              {% if revenue %}
              <span class="count_bottom" title="compare to previous 7 days"><span class="green">{{revenue_percent}} </span>% change</span>
              {% else %}
              <span class="count_bottom" title="compare to previous 7 days">No Data</span>
              {% endif %}
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			 <div class="count">{{lt_earnings}}</div>
              <span class="count_top">€ Profit</span>
			  {% if lt_earnings %}
               <span class="count_bottom" title="compare to previous 7 days"><span class="green"></span>{{earnings_percent}} </span>% change</span>
              {% else %}
              <span class="count_bottom" title="compare to previous 7 days">No Data</span>
              {% endif %}
            </div>
			
			
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count no-border">
			 <div class="count">{{lt_earnings}}</div>
              <span class="count_top">£ Profit</span>
			  {% if lt_earnings %}
               <span class="count_bottom" title="compare to previous 7 days"><span class="green">{{earnings_percent}} </span>% change</span>
              {% else %}
              <span class="count_bottom" title="compare to previous 7 days">No Data</span>
              {% endif %}
            </div>
			
			
          </div> <!-- First Row -->
		  
		  </form>
		  
		  </div> <!-- First div card -->
		  
		  

                <div class="card">
			
			<div class="card-title">
                                <h4>Our Brands</h4>
                            </div>
				<div id="statsc" class="main-charts-fozil" style=" width:100%;">
                                        <table class="table table-responsive table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="brand_data" style="width:100%; display: block; max-width: 100%;"></table>
                            
                                    </div>
               <!-- <div class="row tile_count">
			   
			<table class="table table-bordered">
    <thead>
      <tr>
        <th>Merchant</th>
        <th>Impressions</th>
        <th>Clicks</th>
		<th>Net Revenue</th>
        <th>% Commission</th>
        <th>CPA Commission</th>
		<th>Referel Commission</th>
        <th>Total Commission</th>
      </tr>
    </thead>
    <tbody>
      <tr class="">
        <td>Bingo Scope</td>
        <td>1134</td>
        <td>225</td>
		<td>€2757.37</td>
        <td>€57.37</td>
		<td>€27.37</td>
        <td>€5.37</td>
		<td>€47.37</td>
       
      </tr>
      <tr class="odd">
        <td>Slotsdeck</td>
        <td>1134</td>
        <td>225</td>
		<td>€2757.37</td>
		<td>€27.37</td>
        <td>€5.37</td>
		<td>€47.37</td>
        <td>€57.37</td>
		
      </tr>
      <tr class="">
        <td>Taj Rummy</td>
        <td>1134</td>
        <td>225</td>
		<td>€2757.37</td>
		<td>€47.37</td>
		<td>€57.37</td>
		<td>€27.37</td>
        <td>€5.37</td>
      </tr>
    </tbody>
  </table>
		
			
          </div> --> <!-- Second Row -->
		  
		  </div> <!-- Second div card -->
		  
		  
		  
				 <div class="card">
			
			<div class="card-title">
                                <h4>User Acquisition Trend</h4>
                            </div>
				
               <div class="row tile_count">
			   
			<div id="barcontainer" class="main-charts-fozil" style="height: 350px; width:100%;"></div>
			
          </div> <!-- Third Row -->
		  
		  </div> <!-- Third div card -->

                <div class="card">
			
			<div class="card-title">
                                <h4>Top Affiliates</h4>
                            </div>
				<div id="statsc" class="main-charts-fozil" style=" width:100%;">
                                        <table class="table table-responsive table-overlay table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width:100%; display: block; max-width: 100%;"></table>
                            
                                    </div>
               <!-- <div class="row tile_count">
			   
			<table class="table table-bordered">
    <thead>
      <tr>
        <th>Affiliate ID</th>
        <th>Username</th>
        <th>Email Address</th>
		<th>Website</th>
        <th>Clicks</th>
        <th>Deposits</th>
		<th>Net Revenue</th>
        <th>Total Commission</th>
      </tr>
    </thead>
    <tbody>
      <tr class="">
        <td>222</td>
        <td>Pariekshit</td>
        <td>pariekshit@gridlogic.in</td>
		<td>www.bingo.com</td>
        <td>225</td>
		<td>€2757.37</td>
        <td>€357.37</td>
		<td>€47.37</td>
       
      </tr>
      <tr class="odd">
        <td>321</td>
        <td>Shravan</td>
        <td>shravan@gridlogic.in</td>
		<td>www.poker.com</td>
        <td>125</td>
		<td>€757.37</td>
        <td>€37.37</td>
		<td>€147.37</td>
		
      </tr>
      <tr class="">
        <td>122</td>
        <td>Srikanth</td>
        <td>srikanth@gridlogic.in</td>
		<td>www.casino.com</td>
        <td>215</td>
		<td>€2057.37</td>
        <td>€157.37</td>
		<td>€327.37</td>
      </tr>
	  <tr class="odd">
        <td>212</td>
        <td>Vanessa</td>
        <td>vanessa@gridlogic.in</td>
		<td>www.slots.com</td>
        <td>121</td>
		<td>€757.37</td>
        <td>€35.37</td>
		<td>€471.37</td>
		
      </tr>
	  <tr class="">
        <td>321</td>
        <td>Chinnababu</td>
        <td>chinnababu@gridlogic.in</td>
		<td>www.rummy.com</td>
        <td>125</td>
		<td>€57.37</td>
        <td>€27.37</td>
		<td>€7.37</td>
      </tr>
    </tbody>
  </table>
		
			
          </div> --> <!-- Fourth Row -->
		  
		  </div> <!-- Fourth div card -->
		  
		  
		   
			
			
               <div class="row">
			   
			   <div class="col-lg-6">
			   
			   <div class="card">
			   
					<div class="card-title">
                                
								<h4>Pending Affiliates</h4>
								
					</div>
					
					<table class="table table-bordered table-margin-none" style="display:inline-table;">
    <thead>
      <tr>
        <th>Program</th>
        <th>Pending</th>
      </tr>
    </thead>
    <tbody>
      <tr class="">
        <td>Slots Games</td>
        <td>222</td>
      </tr>
	  
      <tr class="odd">
        <td>Casino Star</td>
        <td>323</td>
      </tr>
	  <tr class="">
        <td>Slots Games</td>
        <td>222</td>
      </tr>
	  
      <tr class="odd">
        <td>Casino Star</td>
        <td>323</td>
      </tr>
	  <tr class="">
        <td>Slots Games</td>
        <td>222</td>
      </tr>
	  
      <tr class="odd">
        <td>Casino Star</td>
        <td>323</td>
      </tr>
	  <tr class="">
        <td>Slots Games</td>
        <td>222</td>
      </tr>
	  
      <tr class="odd">
        <td>Casino Star</td>
        <td>323</td>
      </tr>
	  
     
    </tbody>
  </table>
  
  </div>
			   
			   </div> 
			   
			   <div class="col-lg-6 padding-left-none">
			   
			   <div class="card">
			   
					<div class="card-title">
                               
							   <h4>Affiliate Status</h4>
							   
					</div>
					
					<div id="devicecircle" class="main-charts-fozil" style=" height: 350px; width:100%;"></div>
			   
			   </div>
			   
			   </div> 
			   
			
				
			
          </div> <!-- Fifth Row -->
		  
		 


                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="/static_files/new_wynta/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static_files/new_wynta/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="/static_files/new_wynta/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static_files/new_wynta/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="/static_files/new_wynta/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/static_files/new_wynta/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>


    <script src="/static_files/new_wynta/js/lib/datamap/d3.min.js"></script>
    <script src="/static_files/new_wynta/js/lib/datamap/topojson.js"></script>
    <script src="/static_files/new_wynta/js/lib/datamap/datamaps.world.min.js"></script>
    <script src="/static_files/new_wynta/js/lib/datamap/datamap-init.js"></script>

    <script src="/static_files/new_wynta/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="/static_files/new_wynta/js/lib/weather/weather-init.js"></script>
    <script src="/static_files/new_wynta/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="/static_files/new_wynta/js/lib/owl-carousel/owl.carousel-init.js"></script>


    <script src="/static_files/new_wynta/js/lib/chartist/chartist.min.js"></script>
    <script src="/static_files/new_wynta/js/lib/chartist/chartist-plugin-tooltip.min.js"></script>
    <script src="/static_files/new_wynta/js/lib/chartist/chartist-init.js"></script>
    <!--Custom JavaScript -->
    <script src="/static_files/new_wynta/js/scripts.js"></script>
	
	<!-- Charts -->
	
	<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- HIGHCHARTS START-->
<script src="/static_files/js/jquery.circlechart.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- HIGHCHARTS END-->

<!-- DATA TABLES -->

<script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<!-- DATA TABLES ENDS -->

<!-- Charts Ends -->

<script type="text/javascript">
  function addPlayerslistDataTable(ids, headersList, dataList){
    $('#'+ids+':has(tbody)').dataTable().fnDestroy();
    $("#"+ids).dataTable( {"iDisplayLength": 30,
       "data": dataList,
       "columns":headersList,
       // "scrollX": true,
       "ordering": false,
       paging: false,
       searching: false,
       info: false,
       "pageLength": 10,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
          });
   
    
}

function barchartdiv(){
    var dates_list = {{bar_dates_list|safe}} ;
    var barchart_data = {{barchart|safe}} ;
    $('#barcontainer').highcharts({
    chart: {
        type: 'column',
        spacingTop: 10,
        spacingBottom: 15,
        spacingLeft: 20,
        spacingRight: 30
    },
    title: {
        text: ''
    },
 xAxis: {
        categories: {{bar_dates_list|safe}},
        crosshair: false
    },
    yAxis: {
        min: 0,
        
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: {{barchart|safe}}
});
}
  function circlecharts(){
    var device_data = {{affiliate_status|safe}};
    $('#devicecircle').highcharts({
            chart: {
                renderTo: 'container',
                type: 'pie'
            },
            title: {
                text: ''
            },
            yAxis: {
                title: {
                    text: 'Affiliates Status.'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    size: '100%'
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.y +'';
                }
            },
            series: [{
                name: 'Status',
                data: [
                        {name:"Pending",y:device_data[0], color: '#000000'},
                        {name:"Approved",y:device_data[1], color: '#0090df'},
                        {name:"Rejected",y:device_data[2], color: '#999999'},
                    ],
                size: '100%',
                innerSize: '70%',
                showInLegend:true,
                dataLabels: {
                    enabled: false
                }
            }]
        } );
    
    
}


jQuery(document).ready(function() {
    circlecharts();
    barchartdiv();

    Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   Index.init();
   egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}');
   Index.initJQVMAP(); // init index page's custom scripts

   Index.initMiniCharts();

   egcsTools.initNavigation();
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var data_b_list = {{data_b_list|safe}};
   var header_b_list = {{header_b_list|safe}};
   var domain = '{{domain|safe}}'
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
       $('.digg_pagination').html(decoded);
  
    addPlayerslistDataTable('player_data', header_b_list, data_b_list);
   addPlayerslistDataTable('brand_data', header_list, data_list);
  });

</script>

<!-- Date Pickers -->

<!-- Include Required Prerequisites -->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<!-- Date Picker Ends -->


<script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>


</body>

</html>