<html>

<head>
    <style>

    </style>
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <table style="width:100%">
        <tr>
            <th align="left"><img style = "width: 150px; height: 80px;" src={{logo}}>
            </th>
            <th align="center">{{aff_company}}<br>
                &nbsp;{{aff_address}}<br>
                {{aff_address2}}<br>
                {{aff_city}}, {{aff_state}}<br>
                {{aff_country}}
            </th>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <table style="width:100%">
        <tr>
            <th align="left">
                Invoice #   : {{invoice_id}}<br>
                Invoice Date: {{invoice_date}}<br>
                Balance Due (GBP) : {{balance}} </th>
            <th align="char">{{partner}}<br></th>
        </tr>
    </table>
    <br>
    <br>
    <table border=1 style="width:100%">
        <tr>
            <th align="center">S.No</th>
            <th align="center">Description</th>
            <th align="center">Rate</th>
            <th align="center">Quantity</th>
            <th align="center">Line Total</th>
        </tr>
        <tr>
            <td align="center">1.</td>
            <td align="center">Affiliate Marketing Services For {{month}}, {{year}}</td>
            <td align="center">{{balance}}</td>
            <td align="center">1</td>
            <td align="center">{{balance}}</td>
        </tr>
    </table>
    <br>
    <br>
    <table align="right" style="width:50%">
        <tr>
            <th align="left">TOTAL<br>
                Amount Paid<br>
                Balance Due (GBP)</th>
            <th align="right">&nbsp;--<br>
                &nbsp;--<br>
                &nbsp;--
            </th>
            <th align="right">0.00<br>
                0.00<br>
                {{balance}}
            </th>
            <th align="right">&nbsp;<br>
                &nbsp;<br>
                &nbsp;
            </th>
        </tr>
    </table>
    <br><br>
    <b>Terms:</b><br>
    <p>[To be preset by the admin]</p><br>
    <b>Notes:</b><br>
    <p>Payment Method: {{account_type}}</p>
    
    {% if account_type == 'Bank Wire Transfer'%}
    <p>Payment details:<br></p>
    <table border=1 style="width:100%">
        <tr>
            <th align="center">Account Number</th>
            <th align="center">Bank Name</th>
            <th align="center">Bank Address</th>
        </tr>
        <tr>
            <td align="center">{{accountnumber}}</td>
            <td align="center">{{bankname}}</td>
            <td align="center">{{bankaddress}}</td>
        </tr>
    </table>
    {%endif%}
    {% if account_type == 'PAYPAL'%}
    <p>Payment details:<br></p>
    <table border=1 style="width:100%">
        <tr>
            <th align="center">Paypal Username</th>
            <th align="center">Paypal Email</th>
        </tr>
        <tr>
            <td align="center">{{paypal_username}}</td>
            <td align="center">{{paypal_email}}</td>
        </tr>
    </table>
    {%endif%}
    {% if account_type == 'NETELLER'%}
    <p>Payment details:<br></p>
    <table border=1 style="width:100%">
        <tr>
            <th align="center">Account Number</th>
            <th align="center">Neteller Email</th>
            <th align="center">Neteller Username</th>
        </tr>
        <tr>
            <td align="center">{{neteller_accountnumber}}</td>
            <td align="center">{{neteller_email}}</td>
            <td align="center">{{neteller_username}}</td>
        </tr>
    </table>
    {%endif%} 

</body>

</html>