<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="" />

    <title>{{partner}} - Last Data Dump</title>
    <link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">


    <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <script src="//code.jquery.com/jquery-1.12.4.js"></script>


    <link href="/static_files/new_wynta/css/reports.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style type="text/css">
    #player_data_paginate {
        bottom: -10px !important;
        right: -5px;
    }
</style>

<body class="page-body">



    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">

        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->

        <!-- Left Sidebar  -->
        {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->

        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">

                    <h3 class="text-primary">Provider Logs</h3>

                </div>
                <div class="col-md-7 align-self-center float-right">


                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Settings</a></li>
                        <li class="breadcrumb-item active">Provider Logs</li>
                    </ol>

                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="card">
                    <select id='brand_list'>
                        <option value='' ></option>
                        {%for i in sites_list %}
                        {% if i.0 in siteid %}
                        <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                        {%else%}
                        <option value="{{i.0}}">{{i.1}}</option>
                        {% endif %}
                        {%endfor%}
                    </select>
                    <div id="daterange1">
                        <span id='dates'></span>
                        <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i>
                    </div>
                    <button  class="btn  btn-success egcs_submit_button" onclick="getProviderLogs()">Submit</button>
                </div>
                <div class="card">

                    <div class="row p-l-r-10">
                        <div class="col-lg-12 p-l-0 p-r-0">
                            <div class="card-title">
                                <span id="error">{{error}}</span>

                                <div class="row p-l-r-10">

                                    <!-- <div class="table-responsive">

                                        <table
                                            class="table-cont table table-striped table-bordered table-hover fixed_header table_header_background"
                                            cellspacing="0" width="100%" id="player_data" style=""></table>

                                    </div> -->
                                    <div class="table table-responsive">
                                        <!-- Table to view Feature Request Details -->
                                        <table
                                            class="table-cont table table-striped table-bordered table-hover fixed_header table_header_background"
                                            cellspacing="0" width="100%" style="" id="provider_logs_table">
                                        </table>
                                    </div>
                                    <nav class="mobile-pagination-display"
                                        style="float: right;display: block;position: relative;top: -25px;">
                                        <ul class="pagination" style="margin: 5px 0 10px 0">
                                        </ul>
                                    </nav>
                                </div> <!-- First Row -->
                            </div> <!-- First div card -->
                            <!-- End PAge Content -->
                        </div>
                        <!-- End Container fluid  -->
                        <!-- footer -->
                        <!-- End footer -->
                    </div>
                    <!-- End Page wrapper  -->
                </div>


            </div>

            {% include "partner/new_design/footer-1.html" %}

        </div>

</body>
<script>
    $(document).ready(function () {
        // getProviderLogs();
        dateRangePicker(moment(new Date()).startOf('month'), moment(new Date()));
        showLogs([{ "title": "Brand" }, { "title": "Date" }, { "title": "File" }], [])
    });


    dateRangePicker = function (start_d, end_d) {
        start = start_d
        end = end_d
        console.log('insidde start' + start + end)
        function cb(start, end) {
            $('#daterange1 span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            console.log('insidde  functon start' + moment(start).format('YYYY-MM-DD') + '  end' + moment(end).format('YYYY-MM-DD'));
            sessionStorage.setItem('startDate',moment(start).format('YYYY-MM-DD'));
            sessionStorage.setItem('endDate',moment(end).format('YYYY-MM-DD'));
        }

        $('#daterange1').daterangepicker({
            startDate: start,
            endDate: end,
            maxDate: new Date(),
            alwaysShowCalendars: true,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);

    }
    getProviderLogs = function () {
        siteid = $('#brand_list').val();
        fromDate = sessionStorage.getItem('startDate');
        toDate = sessionStorage.getItem('endDate');
        console.log('siteid is'+siteid);
        $.ajax({
            method: 'GET',
            url: '/admin/get-provider-logs/',
            data: {'siteid': siteid, 'fromDate': fromDate, 'toDate': toDate},
            success: function (data) {
                console.log(typeof(data));
                data = JSON.parse(data);
                if (data.status == "Success") {
                    $('#provider_logs_table').dataTable().fnDestroy();
                    showLogs(data.header_list,data.data_list);
                }
            }

        });
    }
    showLogs = function(headersList, dataList) {
        $("#provider_logs_table").dataTable({
            "iDisplayLength": 30,
            "data": dataList,
            "columns": headersList,
            // "scrollX": true,
            "ordering": false,
            "searching" : false,
            paging: true,
            info: false,
            "scrollX": false,
            "autoWidth": false,
            "language": {
                "emptyTable": "Nothing to see here... yet!"
            },
            "pageLength": 10,
            "lengthChange": false
        });
    }

</script>


</html>