<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	 <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<style type="text/css">

</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
						<h3 class="text-primary">{{page}}</h3>
					</div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">{{mainp}}</a></li>
                        <li class="breadcrumb-item active">{{page}}</li>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card-come">
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                                
					Page is Not valid for the email. Please contact the Programme Manager.			
								
                            </div>
					</div>

					</div>
					
					
					
					
					
					
				
               
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
	
	<!-- Bootstrap tether Core JavaScript -->
    <script src="/static_files/new_wynta/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="/static_files/new_wynta/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static_files/new_wynta/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="/static_files/new_wynta/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/static_files/new_wynta/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <!--Custom JavaScript -->
    <script src="/static_files/new_wynta/js/scripts.js"></script>
	

   


<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>


   <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->

<!-- END PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="/static_files/js/utils.js"></script>

</body>
</html>