<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
     <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    
    <!-- Custom CSS -->
<link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
   <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />
    
<link href="/static_files/new_wynta/css/reports.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<style type="text/css">

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    font-size: 16px !important;
    padding-left: 5px;
    border-radius: 5px;
}

.z-indexAll {z-index:9999;}

.btn-group>.btn:first-child {
    color: #000;
    background: #fff;
    height: 35px;
    border: 1px solid #ccc;
    font-size: 14px;
}
.existC {font-size:15px;}
	.top25 {top:25%;}
	.viewC {
		    padding: 5px;
    font-size: 15px;
    box-shadow: none !important;
    width: 90px;
    text-align: center;
	    background: #0091e0 !important;
	}
	
	.viewC:hover { box-shadow: none !important;
	background: #1788c5 !important;
	}
	
	.closeC {padding: 10px !important;
    font-size: 15px !important;
    box-shadow: none;
    padding-left: 15px !important;
    padding-right: 15px !important;
    background-color: #ff0000 !important;
    color: #fff !important;
    text-shadow: none;
    opacity: 1;
    width: 80px;
    font-weight: normal;}  
.bootstrap-select.btn-group .dropdown-menu {width:100%;}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width:110px;}

.selectpicker {    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14px;}

.dt-buttons {top:70px;}
#daterange {    padding-left: 5px;
    padding-top: 16px;
    margin-right: 12px;}
#player_data_wrapper {margin-top:5px;}

.adjustments {padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    width: 100px;}
	
.picker {
    display: block !important;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
	background: url(/static_files/new_wynta/images/drop-arrow.png) #fff no-repeat 98% 50%;
    padding-left: 10px;
    width: 115px; height:auto !important;}

.daterangepicker.ltr {z-index:11 !important;}
	
#player_data_wrapper thead tr th {z-index:11;}
.btn-group.show .dropdown-toggle::after {    margin-left: .255em;}

#ui-monthpicker-div {z-index:99 !important;}

#player_data tr td input {padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px; text-align:center;
    height: auto !important;}
</style>
<body class="page-body">

  
  
   <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
  
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
    
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
    
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
        
            <h3 class="text-primary">Payment Report</h3>
          
          </div>
                <div class="col-md-7 align-self-center float-right">
        
        
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Reports</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Payment Report</a></li>
                    </ol>
        

          <!-- <div class="dropdown dash-dropdown"> -->
                                    <!-- <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name -->
                      <!-- <i class="fa fa-chevron-right font-small-dash"></i></button> -->
                                    <!-- <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;"> -->
                                        <!-- <li><a href="#">Fozil Partners</a></li> -->
                                        <!-- <li><a href="#">VCommission</a></li> -->
                                        <!-- <li><a href="#">Taj Rummy</a></li> -->
                                    <!-- </ul> -->
                                <!-- </div> -->
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
        
      <div class="card">
      
      <div class="row p-l-r-10">
      <div class="col-lg-12 p-l-0 p-r-0">
      <div class="card-title">
                                
                
                                        <form action= "/admin/payment-report" method="GET" id="DashBoardFormID" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();" style="display:none;">
							
										  <div class="container-fluid bottom20">
               
                                          <div class="row">

          
                                <div class="col-lg-3 col-md-3 col-sm-12 pl-lg-0 pl-md-0">
                
                                    <select id="subaff_id" name="aff_id" txt="{{aff_id}}" class="form-group selectpicker dashboard-select" data-live-search="true" data-show-subtext="true" data-live-search="true" style="" tabindex="-98">
                                        <option value=""> Select Affiliate </option>
                                        {% for aff in aff_list %}
                                            {% if aff.id|stringformat:"i" == aff_id|stringformat:"i" %}
                                            <option value="{{aff.id}}" selected="selected">{{aff.username}}</option>
                                            {% else %}
                                            <option value="{{aff.id}}">{{aff.username}}</option>
                                            {% endif %}
                                        {%endfor%}
                                          </select>
    
                                          
                                          </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 p-l-0">   
                    
									<span><input value="" id="fromdate" placeholder="Select from month" name="fromdate" autocomplete="off" class="form-control daterangeP" type="text">
					
									</span>
                 
								</div>
								
								<div class="col-lg-2 col-md-2 col-sm-12 p-l-0">   
                    
									<span>
										<input id="todate" placeholder="Select to month" name="todate" autocomplete="off" class=" form-control daterangeP" type="text">
									</span>
                 
								</div>
								
								
								<div class="col-lg-2 col-md-2 col-sm-12 p-l-0">
									<input type="submit" value="Submit" class="btn  btn-success egcs_submit_button">
								</div>
							
					
					 
					
					<div class="form-group col-lg-3 col-md-3 col-sm-6 mobile-50 mobile-50-15 pr-lg-0 pr-md-0">
                                    <span class="float-right btn-export-all-one"><img src="/static_files/images/Share_Icon_AI.svg" width="15" style="vertical-align:text-top;"> Export</span>
                                </div>

                    
                                
                                
                        
                                                
                                                <!-- <input type="hidden" id="sitename" name="sitename" value="All" required="True"/> -->
                                                  <input type="hidden" name="format" value="json" />
                                                  <input type="hidden" name="customid" value="Custom" required="True"/>

          
		  </div>
		  
		  </div> <!-- Container Bootom -->
		  
		  </div>
		  
                        </form>
            <!-- END SAMPLE FORM PORTLET-->
                                                
                                              
                                            
                                    </div>
                                </div>
          
          
        
               <div class="row p-l-r-10">
    
<div class="table-responsive">    
<table class="table-cont table table-striped table-bordered table_header_background" cellspacing="0" width="100%" id="player_data" style=""></table>
</div>
                <br/>
<nav class="mobile-pagination-display" style="float: right;
    display: block;
    position: relative;
    top: -25px;">
                  <ul class="pagination" style="margin: 5px 0 10px 0">
  
</ul>

                </nav>
      
          </div> <!-- First Row -->
      
      </div> <!-- First div card -->
      
      

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
       {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
  <!-- Page Loading Overlay -->
  <!-- <div class="page-loading-overlay">
    <div class="loader-2"></div>
    
  </div> -->

  <div class="modal fade modal-check" id="countryModal" style="height: 100%;width: 100%;" role="dialog">
    <div class="modal-dialog top25 modal-dialog-centered z-indexAll">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" id="countryBody">
        </div>
        <div class="modal-footer" id="countryFooter">
        </div>
      </div>
    </div>
  </div>
<script>
    $(function () {
    $(".close").on('click', function() {
        $('#countryModal').modal('hide');
    });
});
</script>
  
   <script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>

<script>
$('#DashBoardFormID').validate({
             rules: {

				  fromdate: {
                      required: true,
                  },
              },

            messages: {

				fromdate: {
                  required: 'Please select month.'
                },
                
				
            },
			
			});
        </script>
        
<script>
    closeModal = function(){
        //alert('isnde the close modal');
        $('#countryModal.in').modal('hide');
        $('.modal-backdrop').hide();
        $('.modal-content').hide();
        $('.modal-check').hide();
 
    }
 </script>

<script>
  $(document).ready(function() {
  
$('.itemd').removeClass("active");
// $('.itemd[href="/admin/manage-affiliates"]').addClass("active");
// $('#manageaff').addClass("active");
});
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
 <script src="/static_files/new_wynta/js/jquery.ui.monthpicker.js" rel="stylesheet">
        </script>

<script type="text/javascript">

function addPlayerslistDataTable(headersList, dataList){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    // var header_s = ""
    // $.each(headersList, function( index, value ) {
    //     header_s = header_s + '<th></th>';
    // });
    // $("#player_data").append('<thead>'+header_s+'</thead><tfoot>'+header_s+'</tfoot>');
    $("#player_data").dataTable({
        "data": dataList,
       "columns":headersList,
       dom: 'Bfrtip',
        buttons: [
            'csv'
        ],
        fixedHeader: true,
        "iDisplayLength": 30,
       "createdRow": function( row, data, dataIndex ) {
               $(row).attr('id', 'order_'+data[0]);
           },
       //"scrollX": true,
       paging: true,
       searching: false,
       "order": [[ 0, "desc" ]],
       info: false,
       fixedHeader: {
            header: true,
            footer: true
        },
        dom: 'Bfrtip',
        buttons: [
            'csv',
            'excelHtml5',
            'pdfHtml5'
        ],
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
          });
   
    
}

function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
  };

function getcode(ele){
  url = $(ele).attr('hrefs')
  $.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                  $('#link-code').val(data.linkurl);
                    $('#get-code').show();
                    $("#cover").show();
                }
          }
    });
    return false;

}

function savestatus(ele){
  
   status = $(ele).closest('tr').find('select').val();
   url = $(ele).attr('hrefs');
  status = status;
  earnings = parseFloat($(ele).closest('tr').find('td').eq(5).html());
  carr_amt = parseFloat($(ele).closest('tr').find('td').eq(4).html());
  adjustments = $(ele).closest('tr').find('input[class="adjustments"]').val();
  if (status == 'paid'){
      balance_amt = 0;
  }
  //else if(adjustments =='' || !isNaN(adjustments)){
//				balance_amt = earnings + carr_amt;	
  //}
  else{
      balance_amt = earnings + carr_amt + parseFloat(adjustments);
  }
  
  tr_id = $(ele).closest('tr').attr('id');
  console.log('trid>>>>>>>>'+tr_id);
  url = url + '&status=' + status;
  console.log('url is>>>>>>>>>>'+url);
  $.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                  $('#'+tr_id).find('td').eq(7).html(balance_amt);
                  $('#updated').html('Successfully updated status.');
                  $( "#unlink-dialog" ).dialog("close");
                  $( ".message-bottom" ).css({"padding": "10px", "margin-bottom": "20px"});
                  if(status == 'pay'){
                    $('#countryModal').modal('show').addClass('show');
					$('.modal-backdrop').addClass('show');
                    Html= '<h5 class="existC"><b>Do you want to generate an Invoice?</b></h5>';
                    buttons = '<button type="button" class="btn btn-info viewC" onclick="invoice('+tr_id.split('_')[1] +')" >Yes</button><button type="button" class="close btn btn-default closeC" onclick="closeModal()" data-dismiss="modal">No</button>'
                    $('#countryBody').html(Html);
                    $('#countryFooter').html(buttons);
                    
                  }
                }
				
				
          }
    });
    return false;

}

invoice = function(id){
    closeModal();
    window.open('http://new-wynta.glserv.info/admin/invoice/?pid='+id);
}

// raiseInvoice = function(pid){
//     window.open('http://'+localhost:800)
// }

function ajaxsubmitFormData(){
	//alert("Value of From Date:"+ $("input[name='fromdate']").val());
	// $("input[name='todate']").val($("input[name='fromdate']").val());
    var search_form = $("#DashBoardFormID");
    // if(!siteselected){
    //     alert("Please select at least one site.");
    //     return false;
    // }
    if(window.siteload == true){
        return true;
    }
    data_set = search_form.serialize()
    data_set = data_set.replace('sitename','');
    // ajaxBlockUI($(".page-content"))
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: data_set,
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    $('.pagination').html("");
                    //var decoded = $('<div />').html(data.pagination_div).text();
                    $('.pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list);
                    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
                }
					
          }
    });
    return false;
}


jQuery(document).ready(function() { 
  
  $('#multiple-checkboxes').multiselect({
        includeSelectAllOption: true,
        enableFiltering: true,
    allSelectedText:'All Brands',
    enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Select Brand'
    }, 'selectAll');
    // $("#multiple-checkboxes").multiselect('selectAll', false);
    $("#multiple-checkboxes").multiselect('updateButtonText');

    Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
    egcsTools.initNavigation();
   egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}');
   Index.initJQVMAP(); // init index page's custom scripts 
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var currency = '{{currency|safe}}'
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
   $('.digg_pagination').html(decoded);

   addPlayerslistDataTable(header_list, data_list, currency);
   $("option[value='{{aff_id}}']").prop('selected', 'selected');
   $('.selectpicker').selectpicker('refresh');
});


$(document).ready(function(){
$('#DashBoardFormID').show();

    $(".btn-export-all-one").click(function(){
        $(".dt-buttons").toggle();

    });
});

</script>
              
			 
              <script>
$(function () {
	 $('#fromdate, #todate').val((new Date().getMonth()+1) + '/' + (new Date().getFullYear()) );
    $('.daterangeP').monthpicker({
	changeMonth: true,
    changeYear: true,
	minDate:new Date(2018, 1 - 1, 1),	
	maxDate: "+0 Y" 
	});
});
</script>

 

<div id="cover" style="display:none;"> </div>
</body>
</html>