<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->

  <title>{{partner}} - Registration Fields</title>
  <link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

  <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
  <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
  <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
  <!-- Bootstrap Core CSS -->
  <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->

  <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <!-- Latest compiled and minified CSS -->


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">


</head>
<style type="text/css">
  .allText {display: block;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding-bottom: 10px;
    clear: both;
    padding-top: 14px;}
	
.font15 {font-size:15px !important;}

</style>

<body class="page-body">

  <!-- Main wrapper  -->
  <div id="main-wrapper">

    <!-- header header  -->
    {% include "partner/new_design/header-1.html" %}
    <!-- End header header -->

    <!-- Left Sidebar  -->
    {% include "partner/new_design/menubar-1.html" %}
    <!-- End Left Sidebar  -->

    <!-- Page wrapper  -->
    <div class="page-wrapper">
      <!-- Bread crumb -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">

          <h3 class="text-primary">Registration Fields</h3>
        </div>
        <div class="col-md-7 align-self-center float-right">


          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Settings</a></li>
            <li class="breadcrumb-item active">Registration Fields</li>
          </ol>





        </div>
      </div>
      <!-- End Bread crumb -->
      <!-- Container fluid  -->
      <div class="container-fluid">
        <!-- Start Page Content -->

        <div class="card">
		
		<div class="card-title">
			<div class="" id="success" style="display:none;">
				<div class="alert alert-success alert-success-msg">
						<center> <span>Register Page Settings have been updated successfully. </span></center>
					</div>
			</div>
          <ul class="list-inline">
	<li class="mt-2 mb-2 allText">Select the access you'd like this user to have</li>	
        <li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="account-login-details" value='Account Login Details' name="choice">
			<label class="custom-control-label" for="account-login-details">Account Login Details</label>
		</div>
		
		</li>
        <li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="payment-details" value='Payment Details' name="choice">
			<label class="custom-control-label Payment Details" for="payment-details">Payment Details</label>
		</div>
		</li>
        <li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="contact" value='Contact' name="choice">
			<label class="custom-control-label Contact" for="contact">Contact</label>
		</div>
		</li>
        <li class="list-inline-item">
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input checkbox option" id="account-profile-details"  value='Account Profile Details' name="choice">
			<label class="custom-control-label Account Profile Details" for="account-profile-details">Account Profile Details</label>
		</div>		
		</li>
        
    </ul>


<!--Account Login Details Items -->

<div id="accountLoginItems" style="display:none;">
<h4 class="text-dark mt-2 mb-2 font15">Account Login Details</h4>
	<ul class="list-inline sublist">
        <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-login-details" tref="account-login-details" id="first-name"  value='First Name' name="choice">
				<label class="custom-control-label" for="first-name">First Name</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-login-details" tref="account-login-details" id="last-name"  value='Last Name' name="choice">
				<label class="custom-control-label" for="last-name">Last Name</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-login-details" tref="account-login-details" id="email-address"  value='Email Address' name="choice">
				<label class="custom-control-label" for="email-address">Email Address</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-login-details" tref="account-login-details" id="password"  value='Password' name="choice">
				<label class="custom-control-label" for="password">Password</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-login-details" tref="account-login-details" id="confirm-password"  value='Confirm Password' name="choice">
				<label class="custom-control-label" for="confirm-password">Confirm Password</label>
			</div>
		</li>
		
	</ul>

</div>	

<!-- Account Login Details Ends -->


<!--Payment Details Items -->

<div id="paymentItems" style="display:none;">
<h4 class="text-dark mt-2 mb-2 font15">Payment Details</h4>
	<ul class="list-inline sublist">
        <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details" tref="payment-details" id="bank-wire-tranfer"  value='Bank Wire Transfer' name="choice">
				<label class="custom-control-label" for="bank-wire-tranfer">Bank Wire Transfer</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details" tref="payment-details" id="paypal"  value='PayPal' name="choice">
				<label class="custom-control-label" for="paypal">PayPal</label>
			</div>
		</li>
		{% if partner != 'Maxi Affiliates'%}
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details" tref="payment-details" id="neteller"  value='Neteller' name="choice">
				<label class="custom-control-label" for="neteller">Neteller</label>
			</div>
		</li>
		{%endif%}
	</ul>

</div>	

<!-- Bank Wire Items -->

<div id="bankWireItems" style="display:none;">
<h4 class="text-dark mt-2 mb-2 font15">Bank Wire Transfer</h4>
	<ul class="list-inline sublist">
        <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details bank-wire-tranfer" tref="bank-wire-tranfer" id="b-account-number"  value='Account Number' name="choice">
				<label class="custom-control-label" for="b-account-number">Account Number</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details bank-wire-tranfer" tref="bank-wire-tranfer" id="b-name"  value='Beneficiary Name' name="choice">
				<label class="custom-control-label" for="b-name">Beneficiary Name</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details bank-wire-tranfer" tref="bank-wire-tranfer" id="b-address"  value='Beneficiary Address' name="choice">
				<label class="custom-control-label" for="b-address">Beneficiary Address</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details bank-wire-tranfer" tref="bank-wire-tranfer" id="bank-name"  value='Bank Name' name="choice">
				<label class="custom-control-label" for="bank-name">Bank Name</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details bank-wire-tranfer" tref="bank-wire-tranfer" id="bank-address"  value='Bank Address' name="choice">
				<label class="custom-control-label" for="bank-address">Bank Address</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details bank-wire-tranfer" tref="bank-wire-tranfer" id="sort-code"  value='Sort Code' name="choice">
				<label class="custom-control-label" for="sort-code">Sort Code</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details bank-wire-tranfer" tref="bank-wire-tranfer" id="iban"  value='IBAN' name="choice">
				<label class="custom-control-label" for="iban">IBAN</label>
			</div>
		</li>

		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details bank-wire-tranfer" tref="bank-wire-tranfer" id="SWIFT"  value='SWIFT' name="choice">
				<label class="custom-control-label" for="swift">SWIFT</label>
			</div>
		</li>
		
	</ul>

</div>

<!-- Bank Wire Items Ends -->


<!--Paypal Items -->

<div id="paypalItems" style="display:none;">
<h4 class="text-dark mt-2 mb-2 font15">Paypal</h4>
	<ul class="list-inline sublist">
        <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details paypal" tref="paypal" id="paypal-beneficiary-name"  value='Beneficiary Name P' name="choice">
				<label class="custom-control-label" for="paypal-beneficiary-name">Beneficiary Name</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details paypal" tref="paypal" id="paypal-email-address"  value='Email Address P' name="choice">
				<label class="custom-control-label" for="paypal-email-address">Email Address</label>
			</div>
		</li>
		
	</ul>

</div>	

<!-- Paypal Details Ends -->


<!--Neteller Items -->
{% if partner != 'Maxi Affiliates'%}
<div id="netellerItems" style="display:none;">
<h4 class="text-dark mt-2 mb-2 font15">Neteller</h4>
	<ul class="list-inline sublist">
        <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details neteller" tref="neteller" id="neteller-beneficiary-name"  value='Beneficiary Name N'  name="choice">
				<label class="custom-control-label" for="neteller-beneficiary-name">Beneficiary Name</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details neteller" tref="neteller" id="neteller-email-address"  value='Email Address N' name="choice">
				<label class="custom-control-label" for="neteller-email-address">Email Address</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption payment-details neteller" tref="neteller" id="neteller-account-number"  value='Account Number N' name="choice">
				<label class="custom-control-label" for="neteller-account-number">Account Number</label>
			</div>
		</li>
		
	</ul>

</div>	
{%endif%}
<!-- Neteller Details Ends -->


<!-- Payment Details Ends -->



<!--Contact Details Items -->

<div id="contactItems" style="display:none;">
<h4 class="text-dark mt-2 mb-2 font15">Contact</h4>
	<ul class="list-inline sublist">
        <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption contact" tref="contact" id="email"  value='Email' name="choice">
				<label class="custom-control-label" for="email">Email</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption contact" tref="contact" id="phone"  value='Phone' name="choice">
				<label class="custom-control-label" for="phone">Phone</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption contact" tref="contact" id="im"  value='IM' name="choice">
				<label class="custom-control-label" for="im">IM</label>
			</div>
		</li>
		
	</ul>

</div>	

<!-- Contact Details Ends -->



<!--Account Profile Details Items -->

<div id="accountProfileItems" style="display:none;">
<h4 class="text-dark mt-2 mb-2 font15">Account Profile Details</h4>
	<ul class="list-inline sublist">
        <li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-profile-details" tref="account-profile-details" id="url"  value='URL' name="choice">
				<label class="custom-control-label" for="url">URL</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-profile-details" tref="account-profile-details" id="company-name"  value='Company Name' name="choice">
				<label class="custom-control-label" for="company-name">Company Name</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-profile-details" tref="account-profile-details" id="p-number"  value='Phone Number' name="choice">
				<label class="custom-control-label" for="p-number">Phone Number</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-profile-details" tref="account-profile-details" id="address-1"  value='Address 1' name="choice">
				<label class="custom-control-label" for="address-1">Address 1</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-profile-details" tref="account-profile-details" id="address-2"  value='Address 2' name="choice">
				<label class="custom-control-label" for="address-2">Address 2</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-profile-details" tref="account-profile-details" id="city"  value='City' name="choice">
				<label class="custom-control-label" for="city">City</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-profile-details" tref="account-profile-details" id="state"  value='State' name="choice">
				<label class="custom-control-label" for="state">State</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-profile-details" tref="account-profile-details" id="postcode"  value='Postcode' name="choice">
				<label class="custom-control-label" for="postcode">Postcode</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-profile-details" tref="account-profile-details" id="country"  value='Country' name="choice">
				<label class="custom-control-label" for="country">Country</label>
			</div>
		</li>
		
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-profile-details" tref="account-profile-details" id="dob"  value='DOB' name="choice">
				<label class="custom-control-label" for="dob">DOB</label>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input checkbox subOption account-profile-details" tref="account-profile-details" id="skype-id"  value='Skype Id' name="choice">
				<label class="custom-control-label" for="skype-id">Skype Id</label>
			</div>
		</li>
		
	</ul>

</div>	

<!-- Account Profile Details Ends -->


	
	
          <button class="ml-0 btn btn-purple button-large button-web-get submit-width" type="submit" value="" onclick="sendData()" style="">Submit</button>

		</div> 
		
        </div> <!-- First div card -->



        <!-- End PAge Content -->
      </div>
      <!-- End Container fluid  -->
      <!-- footer -->
      {% include "partner/new_design/footer-1.html" %}

      <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
  </div>
  <!-- Page Loading Overlay -->
  <!-- <div class="page-loading-overlay">
    <div class="loader-2"></div>
    
  </div> -->

 <script>

 
$("#account-login-details").click(function() {
    if($(this).is(":checked")) {
        $("#accountLoginItems").show(100);
		$(".account-login-details").css("color","#0091e0");
    } else {
        $("#accountLoginItems").hide(100);
		$(".account-login-details").css("color","");
    }
});
$("#payment-details").click(function() {
    if($(this).is(":checked")) {
        $("#paymentItems, #bankWireItems, #paypalItems, #netellerItems").show(100);
		$(".payment-details").css("color","#0091e0");
    } else {
        $("#paymentItems, #bankWireItems, #paypalItems, #netellerItems").hide(100);
		$(".payment-details").css("color","");
    }
});

$("#bank-wire-tranfer").click(function() {
    if($(this).is(":checked")) {
        $("#bankWireItems").show(100);
		$(".bank-wire-tranfer").css("color","#0091e0");
    } else {
        $("#bankWireItems").hide(100);
		$(".bank-wire-tranfer").css("color","");
    }
});

$("#paypal").click(function() {
    if($(this).is(":checked")) {
        $("#paypalItems").show(100);
		$(".paypal").css("color","#0091e0");
    } else {
        $("#paypalItems").hide(100);
		$(".paypal").css("color","");
    }
});

$("#neteller").click(function() {
    if($(this).is(":checked")) {
        $("#netellerItems").show(100);
		$(".neteller").css("color","#0091e0");
    } else {
        $("#netellerItems").hide(100);
		$(".neteller").css("color","");
    }
});

$("#contact").click(function() {
    if($(this).is(":checked")) {
        $("#contactItems").show(100);
		$(".contact").css("color","#0091e0");
    } else {
        $("#contactItems").hide(100);
		$(".contact").css("color","");
    }
});
$("#account-profile-details").click(function() {
    if($(this).is(":checked")) {
        $("#accountProfileItems").show(100);
		$(".account-profile-details").css("color","#0091e0");
    } else {
        $("#accountProfileItems").hide(100);
		$(".account-profile-details").css("color","");
    }
});

$('input[type="checkbox"]').click(function() {
          if(this.checked) {
              $('.'+$(this).attr('id')).prop('checked', true);
              $('#'+$(this).attr('tref')).prop('checked', true);
          }
          else{
              if ($('input[tref="'+$(this).attr('tref')+'"]:checked').length == 0){
                  $('#'+$(this).attr('tref')).prop('checked', false);
              }
              $('.'+$(this).attr('id')).prop('checked', false);
          }       
    });

sendData = function(){
	var selected = [];
	$('input[type="checkbox"]').each(function () {
		if ($(this).is(":checked")) {
			selected.push($(this).val());
		}
	});
	
	$.ajax({
		type: "POST",
		url: '/admin/reg-page-edit-service/',
		data: JSON.stringify({"options": selected}),
		dataType: 'json',
		success: function (res) {
			console.log('response' + res);
			if(res.status == "success"){
				$('#success').show();
			}
		},
	});
	console.log('selected values'+selected);
}

$(document).ready(function() {
	$.ajax({
		type: "GET",
		url: '/admin/reg-page-edit-service/',
		success: function (res) {
			console.log('response' + JSON.parse(res).options);
			options = JSON.parse(res).options
			if(options){
			for(i=0;i<options.length;i++){
				$('input[value="'+ options[i] +'"]').prop('checked',true);
			//if ($('input[name="choice"]').is(':checked'))
			  // {
				//	$('input[value="'+ datad[i] +'"]').prop('checked',true);
			  // }				
			}
			
			if($("#account-login-details").is(":checked")) {
				$("#accountLoginItems").show(100);
				$(".account-login-details").css("color","#0091e0");
			}
	
			if($("#payment-details").is(":checked")) {
				$("#paymentItems, #bankWireItems, #paypalItems, #netellerItems").show(100);
				$(".payment-details").css("color","#0091e0");
			}
	
			if($("#bank-wire-tranfer").is(":checked")) {
				$("#bankWireItems").show(100);
				$(".bank-wire-tranfer").css("color","#0091e0");
			}
	
			if($("#paypal").is(":checked")) {
				$("#paypalItems").show(100);
				$(".paypal").css("color","#0091e0");
			}
			
			if($("#neteller").is(":checked")) {
				$("#netellerItems").show(100);
				$(".neteller").css("color","#0091e0");
			}
			if($("#contact").is(":checked")) {
				$("#contactItems").show(100);
				$(".contact").css("color","#0091e0");
			}
			if($("#account-profile-details").is(":checked")) {
				$("#accountProfileItems").show(100);
				$(".account-profile-details").css("color","#0091e0");
			}
		  }
		},
	});
});

</script>

</body>

</html>