<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="//code.jquery.com/jquery-1.12.4.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<style type="text/css">
/* hiding DT_RowId in table */
#player_data td:nth-child(2), #player_data th:nth-child(2) {display: none;}
/* for pop notificaion after changing brands */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.8s 4.5s;
  animation: fadein 0.5s, fadeout 0.8s 4.5s;
}

@-webkit-keyframes fadein {
  from {left: 0; opacity: 0;} 
  to {left: 30px; opacity: 1;}
}

@keyframes fadein {
  from {left: 0; opacity: 0;}
  to {left: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {left: 30px; opacity: 1;} 
  to {left: 0; opacity: 0;}
}

@keyframes fadeout {
  from {left: 30px; opacity: 1;}
  to {left: 0; opacity: 0;}
}
</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
						<h3 class="text-primary">Brand Mapping</h3>
					</div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Settings</a></li>
                        <li class="breadcrumb-item active">Brand Mapping</li>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                                
					<div class="col-lg-6 pull-left">
					
					<a href="/admin/brand-mapping/post" class="buttons-gray add-affiliate"><span class="fa fa-plus-circle" style=""> </span><span style="font-size: 14px;">&ensp;Add New Brand Details</span> </a>
					
						
					</div>	

					<div class="col-lg-6 pull-right export-buttons"> 
          
            <ul>
              
              <li><button type="button" class="buttons-gray btn-export-all btn btn-default btn-sm">
              <i class="fa fa-external-link"></i>&nbsp; Export</button></li>
            </ul>

          </div>  			
								
                            </div>
					</div>

					</div>
					
					
					
					<div class="row">
                                    <div class="col-md-12" style="display:none;">
                                        
                                        <form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();">
                                               
                                                
                                                <!-- <input type="hidden" id="sitename" name="sitename" value="All" required="True"/> -->
                                                  <input type="hidden" name="format" value="json" />
                                                
                                                
                                                <div class="row date-right-mobile-none mobile-left-date" style="margin-bottom: -15px;float:right;">
                                                <div class="col-md-12 form-group adjust-top-bottom-dash adjust-top-bottom-dash1">
                                                
                                                   
                                                    
                                                </div> 
												

                                            </div>
                                                
                                      
                                                <!-- SITE SELECTION -->
   
           	<div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <div class="portlet-title">
                    
                </div>
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
                                        
                                        
                                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        
                                            {%for j in siteid_list %}   
                                                <span class="player-details-tr"><input name="siteids" type="checkbox" value="{{j.id}}" {%if j.selected %}checked{%endif%} />{{j.name}}</span>
                                            {%endfor%}
                                                        
                                        </div> -->
                                        
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
           <br/>
                        </form>
            <!-- END SAMPLE FORM PORTLET-->
                                                
                                              
                                            
                                    </div>
                                </div>
					
					
				
               <div class="row" style="">
			   
<table class="table table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width:100%; max-width: 99%;overflow-x:scroll;display: block;"></table>

				        <br/>
<nav class="mobile-pagination-display" style="float: right;
    display: block;
    position: relative;
    top: -25px;">
                  <ul class="pagination" style="margin: 5px 0 10px 0">
  
</ul>

                </nav>
                <div id="snackbar">Brand Order Updated Successfully..</div>
                      </div> <!-- First Row -->
		  
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->

<script type="text/javascript">
snackbar = function() {
  var x = document.getElementById("snackbar");
  x.className = "show";
  //setting time as 4 sec for notification
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 4000);
  sessionStorage.removeItem('brandOrderModified');
}




function addPlayerslistDataTable(headersList, dataList){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    // var header_s = ""
    // $.each(headersList, function( index, value ) {
    //     header_s = header_s + '<th></th>';
    // });
    // $("#player_data").append('<thead>'+header_s+'</thead><tfoot>'+header_s+'</tfoot>');
    $("#player_data").dataTable({
        "data": dataList,
       "columns":headersList,
       dom: 'Bfrtip',
        buttons: [
            'csv'
        ],
        fixedHeader: true,
        "iDisplayLength": 30,
       "createdRow": function( row, data, dataIndex ) {
               $(row).attr('id', 'order_'+data[0]);
           },
       // "scrollX": true,
       paging: false,
       searching: false,
       info: false,
       fixedHeader: {
            header: true,
            footer: true
        },
        dom: 'Bfrtip',
        buttons: [
            'csv',
            'excelHtml5',
            'pdfHtml5'
        ],
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "<h3>NO RESULTS FOUND</h3>"
        },
        select: true,
        "order": [[ 0, "asc" ]],
          });
}

function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
  };

function getcode(ele){
	url = $(ele).attr('hrefs')
	$.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                	$('#link-code').val(data.linkurl);
                    $('#get-code').show();
                    $("#cover").show();
                }
          }
    });
    return false;

}


function ajaxsubmitFormData(){
    var search_form = $("#DashBoardFormID");
    // if(!siteselected){
    //     alert("Please select at least one site.");
    //     return false;
    // }
    if(window.siteload == true){
        return true;
    }
    data_set = search_form.serialize()
    data_set = data_set.replace('sitename','');
    // ajaxBlockUI($(".page-content"))
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: data_set,
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    $('.pagination').html("");
                    //var decoded = $('<div />').html(data.pagination_div).text();
                    $('.pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list);
                }
          }
    });
    return false;
}


jQuery(document).ready(function() { 


	Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
	egcsTools.initNavigation();
   egcsTools.initDashboardDaterange();    
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
   $('.pagination').html(decoded);

   addPlayerslistDataTable(header_list, data_list);
   if (screen.width <= 1680){
      $('#player_data').css('display', 'block');
      //$('.btn-sm').css('margin-right', '24px');
   }
   else{
      $('#player_data').css('display', '');
      $('.btn-sm').css('margin-right', '38px');
   }
   
   $('#dashboard-report-range').find('span').attr('style', "display:'';" );
   $('#dashboard-report-range').find('span').removeClass('visible-lg-inline-block');
});

		function toggleSampleChatWindow()
		{
			var $chat_win = jQuery("#sample-chat-window");
	
			$chat_win.toggleClass('open');
	
			if($chat_win.hasClass('open'))
			{
				var $messages = $chat_win.find('.ps-scrollbar');
	
				if($.isFunction($.fn.perfectScrollbar))
				{
					$messages.perfectScrollbar('destroy');
	
					setTimeout(function(){
						$messages.perfectScrollbar();
						$chat_win.find('.form-control').focus();
					}, 300);
				}
			}
	
			jQuery("#sample-chat-window form").on('submit', function(ev)
			{
				ev.preventDefault();
			});
		}
	
		jQuery(document).ready(function($)
		{
			$(".footer-sticked-chat .chat-user, .other-conversations-list a").on('click', function(ev)
			{
				ev.preventDefault();
				toggleSampleChatWindow();
			});
	
			$(".mobile-chat-toggle").on('click', function(ev)
			{
				ev.preventDefault();
	
				$(".footer-sticked-chat").toggleClass('mobile-is-visible');
			});
		});
		</script>
		
		
		<!-- Include Required Prerequisites -->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<!-- Date Picker Ends -->


<script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
              $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
    if(sessionStorage.getItem('brandOrderModified')){
        snackbar();
    }
});
// Function used for drag and drop and reorder
$(function () {
        var originals;
        $("#player_data tbody").sortable({
            cursor: "move",
            placeholder: "sortable-placeholder",
            helper: function (e, tr) {
                originals = tr.children();
                var $helper = tr.clone();
                $helper.children().each(function (index) {
                    // Set helper cell sizes to match the original sizes
                    $(this).width(originals.eq(index).width());
                });
                return $helper;
            },
        });

        $("#player_data tbody").droppable({
            accept: "tbody tr",
            drop: function (event, ui) {
                checkRow(originals[0]._DT_CellIndex.row);
            }
        });

    });
    // Function with reorder logic
    checkRow = function (row) {
        var order = [];
        var id = [];
        $("#player_data tr").each(function () {
            order.push($(this).find("td:first").text());
            id.push($(this).children().eq(1).text());
        });
        modifiedRows = [];
        var replacedPosition;
        for (i = 1; i < order.length; i++) {
            changedRow = {
                "id": '',
                "order": ''
            }
            if (order[i] != i) {
                replacedPosition = i;
                if (replacedPosition < row + 1) {

                    changedRow.id = parseInt(id[order.length - 1])
                    changedRow.order = parseInt(i);
                } else {
                    replacedPosition = i - 1;
                    changedRow.id = parseInt(id[order.length - 1])
                    changedRow.order = parseInt(i) - 1;
                }
                modifiedRows.push(changedRow);
                break
            }
        }

        if (replacedPosition < row + 1) {
            for (i = replacedPosition + 1; i <= row + 1; i++) {
                changedRow = {
                    "id": '',
                    "order": ''
                }
                changedRow.order = parseInt(order[i]) + 1;
                changedRow.id = parseInt(id[i]);
                modifiedRows.push(changedRow);
            }
        }
        if (replacedPosition > row + 1) {
            for (i = row + 2; i <= replacedPosition; i++) {
                changedRow = {
                    "id": '',
                    "order": ''
                }
                changedRow.order = parseInt(order[i]) - 1;
                changedRow.id = parseInt(id[i]);
                modifiedRows.push(changedRow);
            }
        }
        // making an ajax call with modified rows
        if (modifiedRows.length > 0) {
            $.ajax({
                url: '/admin/brand-order/',
                type: "POST",
                data: JSON.stringify(modifiedRows),
                dataType: 'json',
                success: function (data) {
                    if (data.result == "success") {
                        sessionStorage.setItem('brandOrderModified',true);
                        window.location.reload();
                    }
                }
            });
        }

    } 
              </script>
<div id="cover" style="display:none;"> </div>
</body>
</html>