<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="" />

	<title>Wynta - Thanks</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-core-partner.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
	<link rel="stylesheet" href="/static_files/assets/css/custom.css">
	
	<link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

	<script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>
	

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

<style>

.preloader {
  position: fixed;
  border:none !important;
  border-radius:0 !important;
      animation: inherit !important;
    left: 0px;
    top: -80px;
    width: 100%;
    height: 130%;
    z-index: 9999;
background: url(/static_files/images/Wynta_loder_blue_gif_thanks.gif) center no-repeat #fff !important; 
	background-size:10% !important;
}


.form-control:focus, .form-control:active {border:none !important;}
.privacy-over-div {}
.login-page {font-family:sans-serif !important;}
.footer-text {    margin-right: 20px;
    color: #000;
    font-size: 14px;
    position: absolute;
    width: 99%;
    bottom: 15px;}
	
.footer-left-links ul li {display:inline;}
.footer-left-links ul li a {color:#000; padding:10px; font-size:14px;}
.footer-left-links ul li a:hover {text-decoration:underline;}

input {color:#000;}

::placeholder {
    color: #000;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #000;
}

.left-right-adjust {
    padding-top: 30px;
}

.input-group-addon {top:7px;font-size:15px; color:#dddddd;background: #f5f5f5 !important;}

.login-box .input-group-addon:after {border:none;}

.login-page .login-form .form-group .form-control {    font-size: 10pt;
    border: none;
    background: #f5f5f5;
    height: 50px; color:#000;}
	
	.login-box {width:80%; margin:0 auto; text-align:center;}
	
	.page-404 {    line-height: 12px;
    position: absolute;
    top: 18%;
    bottom: 50%;
    left: 0;
    right: 0;}
	
	.affiliate-text {    color: #343c49;
    font-weight: bold;
    font-size: 28px;}

.login-wynta-logo {display:block; margin:0 auto; display: block;
    margin: 0 auto;
    margin-left: 0px;
    margin-top: 3px;}
.input-group[class*=col-]
{float:none;}
label.error {
  z-index: 999 !important;
  color: #2c2e2f !important;
}
body {background:#fff !important;}

.footer-bottom-privacy {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.footer-bottom-text {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.page-logo.my-logo {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.top-header-fozil {
	background-color: #343c49 !important;
	color:{{ partner_obj.bgtext }} !important;
	height:60px; z-index:9999;
}

.top-header-fozil .navbar-brand {margin-left:-14px;}

.navbar-header .navbar-brand {
    padding-top: 5px;
}

.dropdown-toggle {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.egcs_submit_button {
	border:1px solid #b8b8b8;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(184, 184, 184, 0.1) 70%, rgba(184, 184, 184, 0.2) 100%) !important;
    background-color: #fff !important;
    color: #2585c7 !important;
    border-color: #b8b8b8 !important;
    font-weight: normal;
}

.login-register-btn, .egcs_submit_button:hover { background-color: #edf3f7 !important;
  border-color: #858585 !important;
  color: #0f3753; 
}

.login-register-btn {
	background: #0091e0 !important;
    color: #fff !important;
    border-radius: 0px !important;
    border: none;
    height: 55px;
	
}

.login-register-btn:hover {
	background: #0a88cd !important;
    color: #fff !important;
    border-radius: 0px !important;
    border: none;
    height: 55px;
	
}


.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td
{
	background-color: {{ partner_obj.tablecolor }} !important;
    color: {{ partner_obj.tabletext }} !important;
}

@media only screen and (max-width: 700px) {


    .width-block-mobile {width:100%;}
	.middle-login-reg {width:90%;}
	.login-page {padding-top:5px !important;}
	.page-404 {position:relative;}
	.footer-text {
    margin-right: 20px;
    color: #000;
    font-size: 14px;
    position: relative;
    width: 100%;
    bottom: 15px; }
	
}



.input-group[class*=col-]
{float:none;}
body {background:#3f4a56 !important;}


.mobile-text {width: 75%;
    margin: 0 auto;
    line-height: 30px;
    padding-bottom: 15px;
    color: #000;}

.thanks-anchor {background: #0091e0;
    color: #fff !important;
    padding: 12px;
    margin-top: 10px;
    display: inline-block;}
	
	.thanks-anchor:hover {background:#1788c5;}
	
	.page-404 {width:98%;}
	
	.heading-steps {text-transform:uppercase; font-weight:bold; color:#000; font-size:20px;}
	
	
	.step1-first {
	    width: 60px;
    text-align: center;
    display: inline-block;
    background: #0091e0;
    margin-right: 10px;
    margin-top: -2px;
    border-radius: 62px;
    vertical-align: middle;
    line-height: 60px;
    color: #fff;
    border: none;
    margin-top: -80px;
	}
	
	.width-space {    width: 30%;
    background: #f8f8f8; 
    margin-left: 32px;
    padding: 20px;}
	
	.steps-setup {margin-top:60px;}
	
	.steps-all {    color: #000;
    }
	
	@media screen and (max-width: 767px) {
	
	.page-titles .breadcrumb {
    padding: 0;
    background: transparent;
    font-size: 14px;
    /* float: right; */
    position: absolute;
    right: 5px;
    top: -32px;
}

.mobile-text {line-height:28px;}

.steps-setup {margin-top:40px;}

.preloader {background-size:20% !important;}
.thanks-content {
    margin-top: -7% !important;
}
    
	.width-space {width:100%; margin-bottom:50px; margin-left:10px;}
	.middle-login-reg {width:90%;}
	.login-page {padding-top:5px !important;}
	.page-404 {margin-top:20%;}
	
	.affiliate-text {font-size:22px;}
	
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
	
	.footer {position:relative;}
	
	.width-space {    width: 30%;
    background: #f8f8f8;
    margin-left: 30px;
    padding: 20px;}

}

.footer {left:0px !important;}

.thanks-content {
    margin-top: -65%;
}
	
</style>
	
</head>
<body class="page-body login-page" style="background: #ffffff !important;">

 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader" id="preloader" style="display:none;">
	
	<center><h3 class="thanks-content">Signing you up in a moment...</h3></center>
       
	</div>

<header class="top-header-fozil" style="">
	<div class="navbar-header" style="height: 55px; width: 240px">
                    
                        <!-- Logo icon -->
                        <!-- <b><img src="/static_files/new_wynta/images/wynta-logo.svg" alt="homepage" class="dark-logo logo" style="height: 55px; width: 120px; margin-top: -4px;" /></b> -->
                        <!--End Logo icon -->
                        <!-- Logo text -->
                       <!-- <span><img src="/static_files/new_wynta/images/wynta-logo-icon.svg" alt="homepage" class="dark-logo" /></span>  -->
                   <a class="navbar-brand">
                        <!-- Logo icon -->
                        <b><img src="/static_files/new_wynta/images/wynta-logo.svg" alt="homepage" class="dark-logo logo"></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                       <span class="mobile-display" style="display: inline;"><img src="/static_files/new_wynta/images/wynta-logo-text.svg" alt="homepage" class="dark-logo logo-text"></span> 
                    </a>
					
					<br/></br>
                </div>
</header>
	
	<div class="login-container">
	
		<div class="row left-right-adjust">
	
			<div class="middle-login-reg login-box">
	
				<!-- Errors container -->
				<div class="errors-container">
	
					
				</div>
	<script type="text/javascript">
// window.setTimeout(function() {
//     window.location.href = '/admin/writedomain?pid=new';
// }, 10000);
</script>
				<div class="col-md-12 page-404">
		<h3 class="affiliate-text" style="color: #343c49">Thank you for signing up with Wynta!</h3> <br/>
		<p style="font-size:16px;" class="mobile-text">Our 5-minute Integration process does exactly that - allows you to get your program/ network up and running in 5 minutes (or less!) on the best platform on this planet. The best bit though? You can do it yourself and at top speed - it is THAT easy!</p>
		<a href="/admin/writedomain?pid=new" style="    color: #0091e0;
    text-decoration: underline;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;" class="thanks-anchor">
                                    <span class="">Start Now: Step 1 - Domain & SSL</span>
                                </a>
								
								
				<div class="steps-setup">
				
				<h3 class="heading-steps">SET YOUR ACCOUNT UP IN 3 SUPER QUICK STEPS!</h3><br/><br/><br/><br/>
								
									<div class="row">
									
										<div class="col-lg-4 col-md-4 col-sm-12 width-space">
										
										<h4 class="steps-all"><span class="step1-first">1</span><br/>Domain & SSL</h3>
										
										</div>
										
										<div class="col-lg-4 col-md-4 col-sm-12 width-space">
										
										<h4 class="steps-all"><span class="step1-first">2</span><br/>Brand Mapping</h3>
										
										</div>
										
										<div class="col-lg-4 col-md-4 col-sm-12 width-space">
										
										<h4 class="steps-all"><span class="step1-first">3</span><br/>Software Provider Authentication</h3>
										
										</div>
										
										<!-- <div class="col-lg-3 col-md-3 col-sm-12 width-space"> -->
										
										<!-- <h4 class="steps-all"><span class="step1-first">4</span><br/>Add User</h3> -->
										
										<!-- </div> -->
									
									</div>
								
								</div>
				
					

	
	</div>
	
	
			
			</div>
	
		</div>
	
	</div>



	<!-- Bottom Scripts -->
	<script src="/static_files/assets/js/bootstrap.min.js"></script>
	<script src="/static_files/assets/js/TweenMax.min.js"></script>
	<script src="/static_files/assets/js/resizeable.js"></script>
	<script src="/static_files/assets/js/joinable.js"></script>
	<script src="/static_files/assets/js/xenon-api.js"></script>
	<script src="/static_files/assets/js/xenon-toggles.js"></script>
	<script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
	<script src="/static_files/assets/js/toastr/toastr.min.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="/static_files/assets/js/xenon-custom.js"></script>
<script src="/static_files/assets/admin/pages/scripts/login.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {     

Login.init();
});

setTimeout(function(){        
    $('#preloader').delay(150).fadeOut('slow');
}, 5000);
</script>


<br/>

<footer class="">

<div class="container-fluid">

<div class="privacy-over-div">

<div class="row">

<!-- <div class="pull-left"> -->

	<!-- <div class="footer-left-links"> -->
	
		<!-- <ul> -->
			<!-- <li><a href="">Customer Support</a></li> -->
			<!-- <li><a href="">Terms of Use</a></li> -->
			<!-- <li><a href="">Trust & Status</a></li> -->
			<!-- <li><a href="">Privacy</a></li> -->
			<!-- <li><a href="">Patent & Other IP</a></li> -->
		<!-- </ul> -->
	
	<!-- </div> -->

<!-- </div> -->

<div class="text-center">

<div class="footer-text">
	{% include "partner/new_design/footer-1.html" %}
</div>

</div>

</div> <!-- Row Div -->
					
</div>

</div>

</footer>


</body>
</html>