<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{{partner}} - Threshold</title>
    
    <link rel="icon" href="/static_files/new_wynta/images/favicon-dash.ico" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
     <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />

  
    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
  

<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <style>

        .select-class-one {font-size: 13px; margin-bottom: 0 !important;
    margin-top: 0 !important;}

        .font-small {padding-left: 15px;
    margin-bottom: 5px !important;}
    
    .to-from-date {padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;}
    
    .start-end {
    padding-top: 8px;
    }
    

   .button-large {margin-left:30px !important;} 
    
    
    label#multiple-checkboxes-error {    position: relative;
    top: 70px;
    left: -48px;}
    
    .delete-focus:focus {background:#ff0000 !important; border:none !important;}
    
   
    
.btn-group {width:100%;}

.button-submit-one {    font-size: 14px !important;
    background: red;
    border: none;}
    
    .delete-focus, .delete-focus:hover {
    margin-left: 15px; background: red !important; border: none; height:32px;}
    
    
    
    .button-delete-one { font-size: 14px !important;
    background: #e6e6e6; height:32px;
    color: #000;
    border: none;}
    
    .button-delete-one:hover, .button-delete-one:focus {
    margin-top: 5px;
    margin-left: 15px; color:#000 !important; height:32px; background: #e6e6e6 !important; border:none !important;}

    .main-brand {margin-bottom: 10px;
    display: inline-block;}


.btn-group>.btn:first-child {
    margin-left: 0;
    background: none;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    height: 38px;
    font-size: 14px;
    text-align: left;
    background: none !important;
    border: 1px solid #ccc !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;}

.multiselect-container>li>a>label {padding-left:0px;}

select.form-control:not([size]):not([multiple]) {height: calc(2.09rem + 2px) !important;}

label.margin-bottom-space {}

.dropdown-toggle::after { margin-top:-12px;}
.multiselect-container {  width:98.5%;  position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 100%;
    color: rgb(0, 0, 0);}
    
    label.checkbox {    color: #000 !important;
    vertical-align: middle;
    padding-left: 0;
    text-transform: capitalize;
    display: block;
    }
    
    .multiselect-container>li>a>label>input[type=checkbox] {
    vertical-align: middle;
    margin-right: 2px; margin-bottom:0px;
}
    .ui-dialog{
  z-index: 999999 !important;
  top: 120px !important;
}
    ul.inner {display:block;}
    
    .bs-placeholder {width: 100%;
    height: 38px;
    border-radius: 0;
    background: none;
    border: 1px solid #ccc;
    font-size: 14px;}
    
    .table td, .table th {border-top:none;}
    .selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
    .form-control {}
    .egcs_submit_button {margin-top: 5px;margin-left: 15px;}
    
    .button-delete { width: 85px;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
    
    .button-delete:hover { width: 85px;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
    
    .delete-focus, .
    
    /****** CODE ******/

.file-upload{padding-top:0px; display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #e4e4e4;color: #34495e;cursor:pointer;height:32px;line-height:32px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#f2f2f2;padding:0 10px;display:inline-block;height:36px;line-height:36px;}
.file-upload .file-select .file-select-name{line-height:32px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select {height:40px;}

/****** CODE ******/

.im-field {    width: auto;
    margin-top: 10px;}
    
    .payment-button {    margin-top: 10px;
    border-radius: 0px;
    padding: 10px;
    width: 200px;
    border: none;
    box-shadow: none;}
    
    .payment-button:hover {    margin-top: 10px;
    border-radius: 0px;
    padding: 10px;
    width: 200px;
    border: none;
    box-shadow: none;}
    
.ui-dialog {position:fixed !important;}
#cover {position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99999;
    width: 100%;
    height: 100%;
   }
   
   .select-class-one {margin-top:15px;}

   .multiselect-selected-text{color:#67757c;}
.dropdown-toggle::after {color:#67757c;}




.multiselect-selected-text {width:97%;}

.multiselect-container {margin-top:-1px !important;overflow-x:hidden; overflow-y:scroll;}

.btn-group>.btn:first-child {outline:0 !important;}

.label-block {display:block;}

.dashboard-select {width:100% !important;}

.bootstrap-select.btn-group .dropdown-menu.show {padding-top:0; padding-bottom:0;}

.bootstrap-select.btn-group .dropdown-menu li a span.text,
.bootstrap-select.btn-group .dropdown-toggle .filter-option {color:#000;}

.bootstrap-select.btn-group .dropdown-menu.show, .bootstrap-select.btn-group .dropdown-menu.inner
 { margin-top:-1px;}
 
 .bootstrap-select.btn-group .dropdown-menu.inner {
    display: block;
    max-height: 200px !important;
    overflow-x: hidden;
    min-height: 100px;
}

.select-class-one {padding-left:10px;}

.bootstrap-select.btn-group .dropdown-menu {}
 
 .rev-question .tooltiptext {
    font-family: sans-serif;
    visibility: hidden;
    width: 275px;
    background-color: #e9e9e9;
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    right: -131px;
    font-size: 13px;
    padding: 10px;
    line-height: 21px;
}

.rev-question:hover .tooltiptext {
    visibility: visible;
}

.rev-question {
    position: relative;
    display: inline-block;
}
.rev-question {
    font-size: 16px;
}

.referal-help {
    position: relative;
    display: inline-block;
}
.referal-help {
    margin-left: 2px;
    font-size: 18px;
    color: #0091e0;
    cursor: pointer;
    top: 0px;
}

.referal-help:hover .tooltiptext {
    visibility: visible;
}
.referal-help .tooltiptext {
    font-family: sans-serif;
    visibility: hidden;
    width: 285px;
    background-color: #e9e9e9;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -76px;
    font-size: 13px;
    left: 150%;
    padding: 10px;
    line-height: 21px;
    text-align: left;
}

label.margin-bottom-space {
    width: 100px;
    text-align: left;
    float: left;
    display: inline;
}

.mobile-100 {width:100px; display:inline;}

.cam-input {width:80%;}

.aff-cam, .main-brand, .main-cam {width:100px;}

span.multiselect-native-select {width:100%;}

.form-inline .multiselect-container label.checkbox {padding-left:20px;}


@media (max-width: 767px) {

.referal-help .tooltiptext {
       background-color: #e9e9e9;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 28px;
    font-size: 13px;
    left: -192px;
    padding: 10px;
    line-height: 21px;
    text-align: left;
}

.fa-info-circle:before {
       content: "\f05a";
    right: 0;
    top: -19px;
}

.footer {position:relative;}

body { -webkit-overflow-scrolling: touch;}

.cam-input {width:98%;}

.btn-group>.btn:first-child {width:100%;}

.page-titles .breadcrumb {font-size:12px;}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.mobile-100 {width:100%; padding-right:0; display:block;}

.mobile-bot {margin-bottom:10px;}
label#multiple-checkboxes-error {top:58px;left:0; bottom:-10px;}
.btn-group {width:97% !important;}
.card {padding-left:20px}
    .im-left {width:30%;}
    .skype-right {width:70%;}
    .button-large {
    margin-top: 40px; 
}
}

label.error {
    color: #ff0000 !important;
    position: absolute;
    line-height: 1;
    font-size: 14px;
    margin-bottom: 7px;
    display: block;
    margin-top: 2px;
}

.font-small {font-size:13px;}

.pointerEvents {pointer-events:none;}
    
    </style>

</head>
<style type="text/css">

</style>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
    
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
        
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
                        <h3 class="text-primary">Threshold</h3>
                    </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Settings</a></li>
                        <li class="breadcrumb-item active">Threshold</li>
                    </ol>

                
                    
                </div>
            </div>
            <!-- End Bread crumb -->
           
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
                
 <div class="table-toolbar">
                            
                                
                                {% if message or error_message %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        {% if error_message %}
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>error_message</span></center>
                                        </div>
                                        {% else %}
                                        <div class="alert alert-danger alert-error-msg">
                                            <center> <span>message</span></center>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                <br/>

                                {% if data.affiliate_exist %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    
                                    <div class="alert alert-danger alert-error-msg">
                                            <center> <span>{{data.affiliate_exist}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-12 search-options">
                                        <div>
                                        <form action="/admin/threshold/" data-method="POST" method="POST" id="affForm" enctype="multipart/form-data" class="form-horizontal" novalidate="">
                                          
                                        <fieldset>
                                        
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
                                        
                                        <span class="net check">
                                                
                                                
                                                
                                                 <div class="form-group col-md-4 col-sm-12 pull-left">
                                                    <label>Bank Wire Transfer</label>
                                                    {% if data.bankwire %}
                                                    <input type="text" class="form-control" name="bankwire" value="{{data.bankwire}}" id="bankwire"  placeholder="" readonly>
                                                    {% else %}
                                                    <input type="text" class="form-control" name="bankwire" id="bankwire"  placeholder="">
                                                    {% endif %}
                                                </div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
                                                    <label>Paypal</label>
                                                    {% if data.paypal %}
                                                    <input type="text" class="form-control" name="paypal" value="{{data.paypal}}" id="paypal"  placeholder="" readonly>
                                                    {% else %}
                                                    <input type="text" class="form-control" name="paypal" id="paypal"  placeholder="">
                                                    {% endif %}
                                                </div>
                                                
                                                
                                                <div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
                                                    <label>Neteller</label>
                                                    {% if data.neteller %}
                                                    <input type="text" class="form-control" name="neteller" value="{{data.neteller}}" id="neteller"  placeholder="" readonly>
                                                    {% else %}
                                                    <input type="text" class="form-control" name="neteller" id="neteller"  placeholder="">
                                                    {% endif %}
                                                </div>
                                                
                                                
                                                </span>
                                        </div>
                                    
                                        
                                        
                                             <fieldset>
                                          
                                                <div class="row submit-endb">
                                                
                                                
                                                <div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                                {%if data.call == 'POST'%}
                                               <button class="btn btn-purple button-large button-web-get submit-endb-hide" title="" type="submit" value="" style="">Submit</button>
                                            {% else %}
                                            <button class="btn btn-purple button-large button-web-get submit-endb-hide disabled pointerEvents" type="submit" value="" onclick="return check_valid()" style="">Submit</button>
                                            
                                             {% endif %}
                                            </span>
                                        </div>
                                        
                                        </div> <!-- Submit button div -->
                                                
                                                
                                            </fieldset>
                                            
                                            
                                        
                                        
                                        </div>
                                      </fieldset>
                                        </form>
                                                              
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </div>
                        
                            </div>
                    </div>

                    </div>
                    
                    
                    
                    
               
          </div> <!-- First div card -->
          
          

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
             {% include "partner/new_design/footer-1.html" %}

           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  
    

    
    
     
</div>
    

<script>


        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
    
 <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    
       <script>

//paste this code under head tag or in a seperate js file.
// Wait for window load
$(window).load(function() {
    // Animate loader off screen
    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
});
</script> 

<script>

              
              </script>
              
              <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>  
 
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <script src="//code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  
 <script>
$('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');


function check_valid(){
    $('#validation-div').hide();
    $("#remove-overlay").addClass("overlay");
    $('.preloader').show();   
    $('form').submit(); 
}
  </script>
  

  
  <div id="cover" style="display:none;"></div>

</body>
</html>