<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	 <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<style>
	
	.container-left {padding-left:15px;}
	
	#chooseFile-error {    clear: both;
    display: block;
    padding-top: 12px;}
	
	.table td, .table th {border-top:none;}
	.selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
	.form-control {height:38px !important;}
	.egcs_submit_button {
    margin-top: 5px;
    margin-left: 15px;
}
.button-submit-one {
    font-size: 14px !important;
    background: red !important;
    border: none !important;
}

.delete-focus, .delete-focus:hover {
	margin-left: 15px; background: red !important; border: none; height:32px;}
	
	
	
	.button-delete-one { font-size: 14px !important;
    background: #e6e6e6; height:32px;
    color: #000;
    border: none;}
	
	.button-delete-one:hover, .button-delete-one:focus {
	margin-top: 5px;
    margin-left: 15px; color:#000 !important; height:32px; background: #e6e6e6 !important; border:none !important;}



.egcs_submit_button:hover {background: red !important; border-color:red !important;}

.button-delete-one {
    font-size: 14px !important;
    background: #e6e6e6;
    color: #000;
    border: none; cursor:pointer;
}

.button-delete-one:hover {
    background: #e6e6e6 !important;
    border: none !important;
}
	.form-control {font-size:14px;}
	
	.button-delete { width: 85px; border-radius:0.25rem;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
	
	.button-delete:hover { width: 85px;
    padding: 5px; height:32px; border-radius:0.25rem;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
	
	 /****** CODE ******/
.file-upload .file-select .file-select-name {padding-left:5px;}
.file-upload{padding-top:0px; display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 1px solid #ccc;color: #34495e;cursor:pointer;height:32px;line-height:32px;text-align:left;background:#FFFFFF;position:relative;}
.file-upload .file-select .file-select-button{background: #f2f2f2;
    padding: 0 10px;
    display: inline-block;
    line-height: 36px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;}
.file-upload .file-select .file-select-name{line-height: 32px;display: inline-table;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select {height: 38px;
    border-radius: 0.25rem;}

/****** CODE ******/

.width-height-left {  clear:both;  padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 15px; font-size:14px;     color: #67757c;} 

.button-web-get {margin-top:0px;}
	.same-height { color: #495057; text-align: center;
    font-size: 14px; text-indent:0;}
	
	.delete-focus {cursor:pointer;}
	
	.delete-focus:hover {background:#ff0000 !important;}
	
	#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 999;
    width: 100%;
    height: 100%;
}
	
.ui-dialog {z-index:9999; top:135px !important;}




.bootstrap-select {width:100% !important;}
.label-block {display:block;}
.bootstrap-select>.dropdown-toggle {
    width: 100%; font-size:14px;
    padding-right: 25px;
    z-index: 1;
    background: #fff;
    border: 1px solid #e7e7e7;
    height: 38px;
    border-radius: 0;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    display: block;
    max-height: 150px !important;
}

.dropdown-menu.show {margin-top:-1px;}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text,
.bootstrap-select.btn-group .dropdown-toggle .filter-option {color:#000;}


.bootstrap-select .dropdown-toggle:focus {outline:0 !important;}

.bootstrap-select.btn-group .dropdown-menu {padding-top:0; padding-bottom:0;}


#tab-button {
  display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 25px;
    padding-top: 15px;
    font-size: 15px;
}
#tab-button li {
  display: table-cell;
  width: 40%;
}
#tab-button li a {
  display: block;
    padding: .8em;
    text-align: center;
    color: #000;
    text-decoration: none;
}

#tab-button li a:hover {background: #f7f7f7;
    color: #000;}

#tab-button li:not(:first-child) a {
  border-left: none;
}

#tab-button .is-active a {
    background: #f7f7f7;
    color: #0091e0;

}


.tab-contents {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {

  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
 
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}

@media (max-width:768px){
	.container-left {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}
}
	</style>

</head>
<style type="text/css">

</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
						<h3 class="text-primary">Videos</h3>
					</div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Marketing</a></li>
                        <li class="breadcrumb-item active">Videos</li>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                
<div class="table-toolbar">

								<div class="row" id="chooseformat" style="display: none;">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-danger alert-danger-msg">
                                            <center> <span>Please upload files only in the following formats: mp4/ x.mp4v</span></center>
                                        </div>
                                    
                                    </div>
                                </div>
								
								<div class="" id="edit" style="display:none;">
									<div class="alert alert-success alert-success-msg">
                                            <center> <span>Video has been successfully edited.</span></center>
                                        </div>
								</div>
                                
                                {%if data.message %}
                                <div class="row" id="success_message">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 p-l-0 p-r-0 top-space-adjust-sec">
                                        <div>
                                            {% if data.call == 'POST' %}
                                                 <legend class="heading-all-page">Add Video</legend>
                                             {% else %}
                                                 <legend class="heading-all-page">Edit Video</legend>
                                            
                                                  {%if data.call != 'POST'%}
          <div class="breadcrumb-env1">
      
                <form action= "/admin/videos/{{data.id}}" id="affForm" data-method="Delete" enctype="multipart/form-data" name='affForm' role="form" >
                                        <div class="col-md-12 full-width-submit" style="margin-left:-15px;">
                                    
                                    <input type="button" onclick="fcunlink()" value="Delete" class="btn-success egcs_submit_button button-delete" style="
     background-color:#ff0000 !important; border:none; color:#fff !important;
    " />
                                                    
                                </div>
                                      </form>
            
        </div>
        {% endif %}
                    
                                             {% endif %}
                                          {%if data.call == 'POST'%}
                                        <form action="/admin/videos" method="POST" id="formValidation" enctype="multipart/form-data" class="form-horizontal">
                                            <div class="profile-edit-details">
                                        
                                        
                                             <fieldset>
                                          {% else %}
                                          <form action= "/admin/videos/{{data.id}}" id="formValidation" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" >
                                            <div class="profile-edit-details">
                                        
                                        
                                             <fieldset>
                                           
                                                 
                                            {% endif %}
                                        <fieldset>
                                        {%csrf_token%}
                                        
                                        <input type="hidden" value="{{data.id}}" style="display: none;">
						
                                        
										<div class="container-left">
										
										<div class="tabs">
  <div class="tab-button-outer">
    <ul id="tab-button">
      <li id="showTopliFirst"><a href="#uploadvideo"><img src="/static_files/images/videos.png"><span class="d-block pt-2 font-weight-bold">Video</span></a></li>
      <li id="showTopli"><a href="#uploadvideo"><img src="/static_files/images/text-link.png"><span class="d-block pt-2 font-weight-bold">Link</span></a></li>
    </ul>
  </div>
  
  
  

  <div id="uploadvideo" class="tab-contents">
   <div class="row">
											 
											 <div class="col-md-4 col-sm-12 pb-4">
													<label>Brands</label>
													<select class="selectpicker" name="siteid" id="siteid" required="required">
                                        <option value="">Select Brand</option>
										{%for i in data.sites_list %}
                                            {% if i.0 == data.siteid %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
												</div>
												
												
												</div>
												
												<div class="row">
												
												<div class="col-md-4 col-sm-12 pull-left some-margin">
                                                    <label>Language</label>
                                                    <select class="selectpicker" name="language" id="language" el="{{data.language}}">
                                                        <option value="">Select Language</option>
                                        <!-- <option value="English">English</option>
                                        <option value="German">German</option>
                                        <option value="Swedish">Swedish</option> -->
                                        {%for i in data.language_list %}
                                            {% if i == data.language %}
                                            <option value="{{i}}" selected="selected">{{i}}</option>
                                            {%else%}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
                                                </div>
												
													<div class="form-group col-md-4 col-sm-12">
													<label>Title</label>
													<input type="text" autocomplete="off" class="form-control" name="title" value="{{data.title}}" id="" placeholder="" required="required">
												</div>
												
											
												<div class="form-group col-md-4 col-sm-12 pull-left chooseVideo">
													<label>Video</label>
													<div class="file-upload">
														<div class="file-select">
													
													<div class="file-select-button" id="fileName">Choose Video</div>
													<div class="file-select-name" id="noFile"></div>

                                                       <input name="video" autocomplete="off" class="custom-file-input chooseFile" id="chooseFile" type="file" accept="video/mp4,video/x-m4v,video/*" />
													   
														</div>
													  </div> 
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-left linkVideo" style="display:none;">
													<label>Video Link</label>
													<input type="text" autocomplete="off" class="form-control" name="link" id="linkVideo" value="{{data.link}}" placeholder="" required="required">
												</div>
												
												<div class="form-group col-md-12 col-sm-12 pull-left" style="margin-bottom:0px;">
                                                     
													  
							<span style="text-align:left" style="" class="bold affinfo_col_data">
                                {%if data.call != 'POST' and data.link == ''%}
                                <video width="250" height="250" controls style="">\
                           <source src="{{data.video}}" type="video/mp4" />\
                         </video>
                         {% endif %}
                         {%if  data.link %}
                         <!-- <video width="250" height="250" controls style="">\
                               <source src="{{data.link}}" type="video/mp4" />\
                             </video> -->
                            <iframe width="250" height="250" src="{{data.link}}">
                            </iframe>
                             {% endif %}
									 
									 </span>
													  
                           
                          </div>
										
												
												</div>
  </div> <!--  Upload Video -->
 
</div>

<script>



$(function() {

$('li#showTopli').click(function(){
	$('.chooseVideo').hide();
	$('.linkVideo').show();
});

$('li#showTopliFirst').click(function(){
	$('.chooseVideo').show();
	$('.linkVideo').hide();
});

  var $tabButtonItem = $('#tab-button li'),
      $tabSelect = $('#tab-select'),
      $tabContents = $('.tab-contents'),
      activeClass = 'is-active';

  $tabButtonItem.first().addClass(activeClass);
  $tabContents.not(':first').hide();

  $tabButtonItem.find('a').on('click', function(e) {
    var target = $(this).attr('href');

    $tabButtonItem.removeClass(activeClass);
    $(this).parent().addClass(activeClass);
    $tabSelect.val(target);
    $tabContents.hide();
    $(target).show();
    e.preventDefault();
  });


});
</script>
										
										
												
												
												</div>
											
											
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                               
											    {%if data.call == 'POST'%}
											   <button class="btn btn-purple button-large button-web-get" title="Make a POST request" type="submit" value="" style="">Submit</button>
                                            {% else %}
											<button class="btn btn-purple button-large button-web-get" onclick="call_valid();" type="button" value="" style="">Submit</button>
											</span>
											 {% endif %}
                                        </div>
										
										
										
										
																	
												
											</fieldset>
											
											
										
										
										</div>
										
										
										
										
										
                                      </fieldset>
                                        </form>
                       
                    </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="digg_pagination"></div><br/>  -->
                            
                        </div>			
                            </div>
					</div>

					</div>
					
					
					
					
               
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
	
	<div id="unlink-dialog" style="overflow: visible !important; display:none;">
  <center><strong><p style="margin: 0px !important;font-weight: normal;font-family: 'Open Sans', sans-serif;
    font-size: 15px;position: relative;top: 10px;">Are you sure you want to delete this video?</p></strong>
  <br>
  <form action= "/admin/videos/{{data.id}}" id="affForm" data-method="Delete" enctype="multipart/form-data" name='affForm' role="form" >
                                       
		<div class="col-md-12 full-width-submit" style="margin-left:-15px;">
         
                                    
    <input type="submit" class="egcs_submit_button button-submit-one delete-focus" value="Delete">                                                  
                                      
									  </form>

<input type="button" onclick="unlink_wallet('close')" class="egcs_submit_button button-delete-one" value="Cancel" />

</center>
</div> 
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>



<script>
  function unlink_wallet(type1){
    if (type1 == "close"){
        $( "#unlink-dialog" ).dialog("close");
		$('body').css({"width": "100%", "position": "relative"});
		$('#cover').hide();
        return;
    }
  }
  function fcunlink(){
 $( "#unlink-dialog" ).dialog("open");
 $('body').css({"width": "100%", "position": "fixed"});
 $('#cover').show();
}

$(document).ready(function() {
          $("#unlink-dialog").dialog({
            autoOpen: false
        });
          $(".ui-dialog-titlebar").hide();
          $('form').ajaxForm();
        });

</script>


<script type='text/javascript'>
$(document).ready(
 function() {
 window.video_d = '{{data.video}}';
    $('.itemd').removeClass("active");
    $('.itemd[href="/admin/videos"]').addClass("active");
    $('#marketingli').addClass("active");
  $('div#unlink-dialog').dialog({
    resizable: false,
    draggable: false
  });
  }
);
    </script>
	
<script>

category_dict = {};
$('#siteid').on('change', function() {
    var aff = $('#siteid').val();
    $('#media_category').html('');
    $.each(category_dict[aff], function (i, item) {
        $('#media_category').append($('<option>', { 
            value: item[0],
            text : item[1] 
        }));
    });
    
})

        $(document).ready(function() {
          // var campaign_dict = '{{campaign_list|safe}}';
          $('form').ajaxForm();
        });
      </script>
	  
	  <script type="text/javascript">
	  $('#chooseFile').change(function () {
  var filename = $("#chooseFile").val();
  if(filename == ''){
        $(".file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
        $('.margin-adjust').hide();
        return false;
  }
  if(filename.toLowerCase().indexOf('.mp4') < 0 && filename.toLowerCase().indexOf('.x-m4v') < 0){
      $('#chooseformat').show();
	  $('#noFile').html('');
      return false;
  }
  else {
    $('#chooseformat').hide();
}
  
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen..."); 
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
  }
});
</script>


<script>

function call_valid(){
	if ($('#formValidation').valid()){
		//data_d = $('#formValidation').serialize();
		var form = $('#formValidation')[0];
		var data_d = new FormData(form);
        $("#remove-overlay").addClass("overlay");
        $(".preloader").show();
		$.ajax({
		   url: $('#formValidation').attr('action'),
		   type: 'PUT',
		   enctype: 'multipart/form-data',
			processData: false,  // Important!
			contentType: false,
			cache: false,
		   data: data_d,
		   success: function(response) {
		   $('#success_message').hide();
		   if($('#profile-img-tag').attr('src') != ''){
				$('#imageupdate').hide();
		   }
			 $("#edit").show();
			 $('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');
             $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
		   }
		});
	};
}

// Validation and Ajax action
        $('#formValidation').validate({
             rules: {

				  siteid: {
                      required: true,
                  },
				  
				  title: {
                      required: true,
                  },
				  
				  video: {
                      required: {
                    depends: function(element) {
                      return (window.video_d == '');
                    }
					}
                  },
				  
				
              },

            messages: {
               
				
				siteid: {
                      required: 'Please select brand.'
                  },
				  
				  title: {
                      required: 'Please enter title.'
                  },
				  
				  video: {
                      required: 'Please choose video.'
                  },
		
            },
			
			submitHandler: function (form) {

                if($('#nodata').is(":visible")==false && $('#chooseformat').css('display')=="none"){
                      form[0].submit();
                    }
                }

        
              });
			  
			  </script>
			  
			  <script>
$("#chooseFile").change(function(){
$(this).siblings('label#chooseFile-error').hide();
});
</script>

<div id="cover" style="display:none;"></div>
</body>
</html>