<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{{partner}}</title>

    <link rel="icon" href="/static_files/new_wynta/images/favicon-dash.ico" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />


    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>


    <script src="/static_files/js/ajax-form.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <style>
	
	.msearchComm {display:none;}
	
       .existC {font-size:15px;}
	.top25 {top:25%;}
	.viewC {
		    padding: 5px;
    font-size: 15px;
    box-shadow: none !important;
    width: 90px;
    text-align: center;
	    background: #0091e0 !important;
	}
	
	.viewC:hover { box-shadow: none !important;
	background: #1788c5 !important;
	}
	
	.closeC {padding: 10px !important;
    font-size: 15px !important;
    box-shadow: none;
    padding-left: 15px !important;
    padding-right: 15px !important;
    background-color: #ff0000 !important;
    color: #fff !important;
    text-shadow: none;
    opacity: 1;
    width: 80px;
    font-weight: normal;}
	
	.mleft-80 {margin-left:-80px;}
    
    .to-from-date {
       margin-left:-15px;
    }
    
    .start-end {
  
    }
    

   .button-large {margin-left:30px !important;} 
    
    
    label#multiple-checkboxes-error {    position: relative;
    top: 70px;
    left: -48px;}
    
    .delete-focus:focus {background:#ff0000 !important; border:none !important;}
    
    .multiselect-clear-filter, .multiselect-search {display:none;}
    
.btn-group {
    width:100%;
    }

.button-submit-one {    font-size: 14px !important;
    background: red;
    border: none;}
    
    .delete-focus, .delete-focus:hover {
    margin-left: 15px; background: red !important; border: none; height:32px;}
    
    
    
    .button-delete-one { font-size: 14px !important;
    background: #e6e6e6; height:32px;
    color: #000;
    border: none;}
    
    .button-delete-one:hover, .button-delete-one:focus {
    margin-top: 5px;
    margin-left: 15px; color:#000 !important; height:32px; background: #e6e6e6 !important; border:none !important;}


.btn-group>.btn:first-child {
    margin-left: 0;
    background: none;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    height: 38px;
    font-size: 14px;
    text-align: left;
    background: none !important;
    border: 1px solid #ccc !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;}

.multiselect-container>li>a>label {padding-left:0px;}

select.form-control:not([size]):not([multiple]) {height: calc(2.09rem + 2px) !important;}

label.margin-bottom-space {}

.dropdown-toggle::after { margin-top:-12px;}
.multiselect-container {  width:98.5%;  position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 100%;
    color: rgb(0, 0, 0);}
    
    label.checkbox {    color: #000 !important;
    vertical-align: middle;
    padding-left: 0;
    text-transform: capitalize;
    display: block;
    }
    
    .multiselect-container>li>a>label>input[type=checkbox] {
    vertical-align: middle;
    margin-right: 2px; margin-bottom:0px;
}
    .ui-dialog{
  z-index: 999999 !important;
  top: 120px !important;
}
    ul.inner {display:block;}
    
    .bs-placeholder {width: 100%;
    height: 38px;
    border-radius: 0;
    background: none;
    border: 1px solid #ccc;
    font-size: 14px;}
    
    .table td, .table th {border-top:none;}
    .selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
    .form-control {}
    .egcs_submit_button {margin-top: 5px;margin-left: 15px;}
    
    .button-delete { width: 85px;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
    
    .button-delete:hover { width: 85px;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
    
    .delete-focus, .
    
    /****** CODE ******/

.file-upload{padding-top:0px; display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #e4e4e4;color: #34495e;cursor:pointer;height:32px;line-height:32px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#f2f2f2;padding:0 10px;display:inline-block;height:36px;line-height:36px;}
.file-upload .file-select .file-select-name{line-height:32px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select {height:40px;}

/****** CODE ******/

.im-field {    width: auto;
    margin-top: 10px;}
    
    .payment-button {    margin-top: 10px;
    border-radius: 0px;
    padding: 10px;
    width: 200px;
    border: none;
    box-shadow: none;}
    
    .payment-button:hover {    margin-top: 10px;
    border-radius: 0px;
    padding: 10px;
    width: 200px;
    border: none;
    box-shadow: none;}
    
.ui-dialog {position:fixed !important;}
#cover {position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99999;
    width: 100%;
    height: 100%;
   }

   #countryBody {
       max-height: 400px;
       overflow: auto;
   }
   .select-class-one {margin-top:15px;}

   .multiselect-selected-text{color:#67757c;}
.dropdown-toggle::after {color:#67757c;}




.multiselect-selected-text {width:97%;}

.multiselect-container {margin-top:-1px !important;overflow-x:hidden; overflow-y:scroll;}

.btn-group>.btn:first-child {outline:0 !important;}

.label-block {display:block;}

.dashboard-select {width:100% !important;}

.bootstrap-select.btn-group .dropdown-menu.show {padding-top:0; padding-bottom:0;}

.bootstrap-select.btn-group .dropdown-menu li a span.text,
.bootstrap-select.btn-group .dropdown-toggle .filter-option {color:#000;}

.bootstrap-select.btn-group .dropdown-menu.show, .bootstrap-select.btn-group .dropdown-menu.inner
 { margin-top:-1px;}
 
 .bootstrap-select.btn-group .dropdown-menu.inner {
    display: block;
    max-height: 200px !important;
    overflow-x: hidden;
    min-height: 100px;
}

.select-class-one {padding-left:10px;}

.bootstrap-select.btn-group .dropdown-menu {}
 
 .rev-question .tooltiptext {
    font-family: sans-serif;
    visibility: hidden;
    width: 275px;
    background-color: #e9e9e9;
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    right: -131px;
    font-size: 13px;
    padding: 10px;
    line-height: 21px;
}

.rev-question:hover .tooltiptext {
    visibility: visible;
}

.rev-question {
    position: relative;
    display: inline-block;
}
.rev-question {
    font-size: 16px;
}

.referal-help {
    position: relative;
    display: inline-block;
}
.referal-help {
    margin-left: 2px;
    font-size: 18px;
    color: #0091e0;
    cursor: pointer;
    top: 0px;
}

.referal-help:hover .tooltiptext {
    visibility: visible;
}
.referal-help .tooltiptext {
    font-family: sans-serif;
    visibility: hidden;
    width: 285px;
    background-color: #e9e9e9;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -76px;
    font-size: 13px;
    left: 150%;
    padding: 10px;
    line-height: 21px;
    text-align: left;
}

label.margin-bottom-space {
    width: 100px;
    text-align: left;
    float: left;
    display: inline;
}



.cam-input {width:80% !important;}


span.multiselect-native-select {width:100%;}

.form-inline .multiselect-container label.checkbox {padding-left:20px;}


@media (max-width: 767px) {

.msearchComm {display:block;}

.wsearchComm {display:none;}

.search-options {padding-right:5px;}

#searchComm {margin-right:12px;}

.plus-minus-circle {
    font-size: 24px;
    margin-left: -20px;
    margin-top: 6px;
}

.tyreM {padding-left:0; padding-right:0;}

.mleft-80 {margin-left:-15px;}
.start-end {padding-left:0; padding-bottom:0px !important}
legend {width:98% !important;}

 {margin-left:0px;}

.referal-help .tooltiptext {
       background-color: #e9e9e9;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 28px;
    font-size: 13px;
    left: -192px;
    padding: 10px;
    line-height: 21px;
    text-align: left;
}

.fa-info-circle:before {
       content: "\f05a";
    right: 0;
    top: -19px;
}

.footer {position:relative;}

body { -webkit-overflow-scrolling: touch;}

.cam-input {width:98% !important;}

.btn-group>.btn:first-child {width:100%;}

.page-titles .breadcrumb {font-size:12px;}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.mobile-100 {width:100%; padding-right:0; padding-top:10px;}

.mobile-bot {margin-bottom:10px;}
label#multiple-checkboxes-error {top:58px;left:0; bottom:-10px;}
.btn-group {width:97% !important;}
.card {padding-left:20px}
    .im-left {width:30%;}
    .skype-right {width:70%;}
    .button-large {
    margin-top: 40px; 
}
}

label.error {
    color: #ff0000 !important;
    position: absolute;
    line-height: 1;
    font-size: 14px;
    margin-bottom: 7px;
    display: block;
    margin-top: 2px;
}

.font-small {font-size:13px;}

.hidden-none {visibility:hidden;}  

.plus-circle {color:#0091e0;}
.minus-circle {color:#ff0000;position: absolute;
    right: 3px;}

.plus-minus-circle {font-size: 24px;
    margin-left: -20px;
    margin-top: 6px;}
	
.commissionContent {line-height: 45px;
    display: inline-block; color:#333; margin-bottom:0;}

.commissionTime {vertical-align: middle;
    height: 45px;
    line-height: 45px; color:#777 !important;
    font-size: 15px; margin-bottom:0;}


#searchComm {height: 38px;
    margin-top: 5px;
    box-shadow: none;}
	
.btn-info {    padding: 4px 8px;
font-size:14px;
box-shadow:none;}

.table-cont {}

.card {min-height:445px;}

.dataTables_wrapper .dataTables_paginate {
    position: absolute;
    right: 15px;
    margin-top: 10px;
}

    </style>

</head>

<body class="page-body">



    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">

        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->

        <!-- Left Sidebar  -->
        {% include "partner/new_design/menubar-1.html" %}
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">

                    <h3 class="text-primary">View Commissions</h3>
                </div>
                <div class="col-md-7 align-self-center float-right">


                    <ol class="breadcrumb">
                        <li>
                            <!-- <button type="button" class="btn btn-success pl-3 pr-3" data-toggle="modal"
                                data-target="#deductionLogs">
                                Logs
                            </button> -->
                        </li>
                    </ol>



                </div>
            </div>
            <!-- End Bread crumb -->

            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->

                <div class="card">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-title">
                                <div class="table-toolbar">
                                    <div class="row">
                                        <div class="col-md-12 search-options">
                                            <div>
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="pl-0 form-group-all form-inline col-lg-12 col-md-12 col-sm-12 pull-left" style="display:none;">
                                                            <div class="form-group-all form-inline col-lg-12 col-md-12 col-sm-12 pull-left pl-0 pr-0 mb-3" style="display:none;">
                                                               <div class="mobile-100 col-lg-3 col-sm-12">
                                                                    <span class="aff-cam d-block pb-2">Type :</span>
                                                                    <select
                                                                        class="selectpicker dashboard-select typeSelect"
                                                                        tabindex="-98" name="type" id="comm_type">
                                                                        <option value="default">Program level </option>
                                                                        <option value="brand">Brand level</option>
                                                                        <option value="affiliate">Affiliate Level
                                                                        </option>
                                                                        <option value="affiliateplusbrand">Affiliate
                                                                            + Brand Level</option>
                                                                        <option value="campaign">Campaign Level</option>
                                                                        <option value="campaignplusbrand">Campaign +
                                                                            Brand Level</option>
                                                                    </select>
                                                                </div>


                                                                <div class="mobile-100 col-lg-3 col-sm-12 show-div">
                                                                    <span class="aff-cam d-block pb-2">Country :</span>

                                                                    <select id="multiple-checkboxes"
                                                                        class="form-control dashboard-select"
                                                                        multiple="multiple" tabindex="-98"
                                                                        name="country">
                                                                        {%for i in country_list %}
                                                                        <option value="{{i.0}}">{{i.1}}</option>
                                                                        {%endfor%}
                                                                    </select>
                    
                                                                </div>

                                                                <div class=" mobile-100 col-lg-6 col-sm-12 show-div pr-0 mt-4">
                                                                    <button type="button"
                                                                        class="btn btn-success pl-3 pr-3 pull-right"
                                                                        id='searchComm'>
                                                                        View Commissions
                                                                    </button>
                                                                </div>
                                                                
                                                                <div class="clear"></div>
                                                                <br />

                                                            </div>

                                                            <div
                                                                class="mb-3 mobile-100 col-lg-3 col-md-3 col-sm-12 affiliate affiliateplusbrand"
                                                                style="display: none;">
                                                                <span class="aff-cam d-block pb-2">Affiliate :</span>
                                                                <!-- <input type="text" class="form-control aff-input-one" value="{{data.affiliate}}" id="" placeholder="" readonly> -->
                                                                <select id="subaff_id" name="fk_affiliateinfo"
                                                                    
                                                                    class="selectpicker dashboard-select"
                                                                    data-live-search="true" data-show-subtext="true"
                                                                    data-live-search="true"
                                                                    style="height:34px;border:1px solid #19b8f8;width:240px; font-size:14px;position: relative;"
                                                                    tabindex="-98">
                                                                    <option class="short" value="">Select Affiliate</option>
                                                                    {% for aff in affiliates_list %}
                                                                    <option class="short" value="{{aff.0}}">{{aff.1}}</option>
                                                                    {%endfor%}
                                                                </select>
                                                            </div>
															
                                                            <div
                                                                class="mb-3 mobile-100 col-lg-3 col-md-3 col-sm-12 brand affiliateplusbrand"
                                                                style="display: none;">
                                                                <span class="main-brand d-block pb-2">Brands :</span>
                                                                <!-- <input type="text" class="form-control brand-input" value="{{data.brand}}" id="" placeholder="" readonly> -->
                                                                <select class="form-control dashboard-select"
                                                                     data-live-search="true"
                                                                     multiple="multiple"
                                                                    name="siteid" id="siteid">
                                                                    {%for i in sites_list %}
                                                                    <option value="{{i.0}}">{{i.1}}</option>
                                                                    {%endfor%}
                                                                </select>
                                                            </div>
															
                                                            <div class="mb-3 mobile-100 col-lg-3 col-md-3 col-sm-12 campaign"
                                                                style="display: none;">

                                                                <span class="main-cam d-block pb-2">Campaign :</span>
                                                                <!-- <input type="text" class="form-control cam-input" value="" id="" placeholder="" readonly></label> -->

                                                                <!-- <input type="hidden" class="form-control cam-input" name="fk_campaign" value="" id="" placeholder=""> -->

                                                                <select class="selectpicker dashboard-select"
                                                                    name="fk_campaign" id="campaign">

                                                                </select>
                                                            </div>



                                                        </div>

                                                    </div>


                                                    <div class="profile-edit-details">

                                                        <div class="to-from-date form-inline pl-0 mb-4">

                                                            <div class="col-md-3 mobile-100">
                                                                <label for="from" class="start-end d-block pb-2">Start Date:</label>
                                                                <input type="text" id="start_date" name="start_date"
                                                                    value="{{data.start_date}}"
                                                                    class="w-100 form-control checkbox-all">
                                                            </div>

                                                            <div class="col-md-3 mobile-100">
                                                                <label for="to" class="start-end d-block pb-2">End Date: </label>
                                                                <input type="text" id="end_date" name="end_date"
                                                                    value="{{data.end_date}}"
                                                                    class="w-100 form-control checkbox-all">
                                                            </div>
															
															
															


                                                        </div> <!-- End of To from date -->

                                                    </div>
                                                </fieldset>
                                                </form>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
	
	

<div class="row p-l-r-10">

			<div id='commDiv' class="table-responsive"
				style="display: none;">
				<table class="table-cont table table-striped table-bordered table_header_background" cellspacing="0" width="100%" id="commTable" >
				</table>
			</div>
			
			<nav class="mobile-pagination-display" style="float: right;
    display: block;
    position: relative;
    top: -25px;">
                  <ul class="pagination" style="margin: 5px 0 10px 0">
  
</ul>

                </nav>
	</div>



                </div>


				
					


            </div> <!-- First div card -->



            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        {% include "partner/new_design/footer-1.html" %}


        <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->






    </div>


    <!-- LOGS -->

   

    <!-- LOGS ENDS -->

    <div class="modal" id="countryModal" role="dialog"
	role="dialog" aria-labelledby="countryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Countries</h4>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeModal()">&times;</button>
                </div>
                <div class="modal-body" id="countryBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="close btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

<script>
    $(function () {
    $(".close").on('click', function() {
        $('#countryModal').modal('hide');
    });
});
</script>

    <script>



        $(function () {
            $(".typeSelect").change(function () {
                var val = $(this).val();

                if (val === "default") {
                    $(".brand, .affiliate, .campaign").hide();
                }

                if (val === "brand") {
                    $(".brand").show();
                    $(".affiliate").hide();
                }
                else if (val === "affiliate") {
                    $(".affiliate").show();
                    $(".brand").hide();
                }
                else if (val === "affiliateplusbrand") {
                    $(".brand, .affiliate").show();
                    $(".campaign").hide();
                }
                else if (val === "campaign") {
                    $(".campaign, .affiliate").show();
                    $(".brand").hide();
                }
                else if (val === "campaignplusbrand") {
                    $(".campaign, .brand").show();
                    $(".affiliate").hide();
                }

            });
        });


    </script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>


    <script>

        //paste this code under head tag or in a seperate js file.
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".preloader").fadeOut("slow"); $("#remove-overlay").removeClass("overlay");
        });
    </script>
    <script>
        $("#multiple-checkboxes, #datepicker").change(function () {
            $(this).siblings('label#multiple-checkboxes-error, label#datepicker-error').hide();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#multiple-checkboxes').multiselect({
             includeSelectAllOption: true,
             enableFiltering: true,
             enableCaseInsensitiveFiltering: true,
             nonSelectedText: 'Select Country'
         }, 'selectAll');

         $("#multiple-checkboxes").multiselect('updateButtonText');
         $('#siteid').multiselect({
             includeSelectAllOption: true,
             enableFiltering: true,
             allSelectedText:'All Brands',
		    enableCaseInsensitiveFiltering: true,
            nonSelectedText: 'Select Brand'
         }, 'selectAll');
         $('.form-group-all').show();

            $('#comm_type').on('change', function () {
                $('#campaign option').each(function () { $(this).remove() });
                // $('#siteid').val('');
                // $('#subaff_id').val('');
                $('.selectpicker').selectpicker('refresh');
            });
            $("#searchComm").click(function () {
                $('.selectpicker').selectpicker('refresh');
                console.log('commission type  ' + $('#comm_type').val());
                sendData = {
                    'country': $('#multiple-checkboxes').val(),
                    'start_date': $('#start_date').val(),
                    'end_date': $('#end_date').val(),
                    'type': 'default'
                };

                if ($('#comm_type').val() === "brand") {
                    sendData.brand = $('#siteid').val();
                    sendData.type = "brand"
                }
                else if ($('#comm_type').val() === "affiliate") {
                    sendData.subaff_id = $('#subaff_id').val();
                    sendData.type = "affiliate"
                }
                else if ($('#comm_type').val() === "affiliateplusbrand") {
                    sendData.brand = $('#siteid').val();
                    sendData.subaff_id = $('#subaff_id').val();
                    sendData.type = "affiliateplusbrand"
                }
                else if ($('#comm_type').val() === "campaign") {
                    sendData.campaign = $('#campaign').val();
                    sendData.subaff_id = $('#subaff_id').val();
                    sendData.type = "campaign"
                }
                else if ($('#comm_type').val() === "campaignplusbrand") {
                    sendData.brand = $('#siteid').val();
                    sendData.campaign = $('#campaign').val();

                    sendData.type = "campaignplusbrand"
                }
                console.log('send date ' + JSON.stringify(sendData));
                if (sendData) {
                    $.ajax({
                        type: "POST",
                        url: '/admin/search-commission/',
                        data: JSON.stringify(sendData),
                        dataType: 'json',
                        success: function (res) {
                            console.log('response' + res);
                            comm_list(res.header_list, res.data_list);
                        },
                    });
                }
                $('#commDiv').show();
            });


            comm_list = function (headersList, dataList) {

                if ($.fn.DataTable.isDataTable('#commTable')) {
                    $('#commTable').dataTable().fnClearTable();
                    $('#commTable').dataTable().fnDestroy();
                    $('#commTable').find('thead tr th').remove()
                    // $('#commTable:has(tbody)').dataTable().fnDestroy();
                }

                $("#commTable").dataTable({
                    "data": dataList,
                    "columns": headersList,
                    'ordering': false,
                    paging: true,
                    searching: false,
                    info: false,
                    dom: 'Bfrtip',
                    buttons: [
                        'csv',
                        'excelHtml5',
                        'pdfHtml5'
                    ],
                    "pageLength": 20,
                    "autoWidth" : false,
                    "language": {
                        "emptyTable": "Nothing to see here... yet!"
                    }
                });
            }

            // setMonthStart();
            $('#subaff_id').on('change', function () {
                console.log('inside the sub affiliate id')
                if ($('#comm_type').val() == 'campaign' || $('#comm_type').val() == 'campaignplusbrand') {
                    $('#siteid').val('');
                }
                if ($('#comm_type').val() == 'campaign') {
                    $('#campaign').html('');

                    id = $('#subaff_id').val();
                    campaignList = {{campaign_list|safe}};
                    campHTML = '';
                    for (i = 0; i < campaignList.length; i++) {
                        if (campaignList[i][3] == id) {
                            campHTML = campHTML + '<option value="' + campaignList[i][0] + '"> ' + campaignList[i][1] + ' </option>';
                            console.log('inside the campaign list options' + campaignList[i][0]);
                        }
                    }
                    $('#campaign').html(campHTML);

                }
                $('.selectpicker').selectpicker('refresh');
            });

            $('#siteid').on('change', function () {
                if ($('#comm_type').val() == 'campaign' || $('#comm_type').val() == 'campaignplusbrand') {
                    $('#subaff_id').val('');
                }
                // $('#subaff_id').val('');
                if ($('#comm_type').val() == 'campaignplusbrand') {
                    $('#campaign').html('');
                }
                id = $('#siteid').val();
                campaignList = {{campaign_list|safe}};
                console.log('insie site id' + id);
                campHTML = '';
                for (i = 0; i < campaignList.length; i++) {
                    if (campaignList[i][2] == id) {
                        campHTML = campHTML + '<option value="' + campaignList[i][0] + '"> ' + campaignList[i][1] + ' </option>';
                    }
                }
                console.log('camphtml' + campHTML);
                $('#campaign').html(campHTML);
                $('.selectpicker').selectpicker('refresh');
            });

           if(sessionStorage.getItem('multiple-commissions')){
               par = JSON.parse(sessionStorage.getItem('multiple-commissions'))
               sendData = par[0]
               response = par[1]
               if (sendData.type === "brand") {
                    $('#siteid').val(sendData.brand);
                    $('#comm_type').val("brand")
                    $(".brand").show();
                    $(".affiliate").hide();
                }
                else if (sendData.type === "affiliate") {
                    $('#subaff_id').val(sendData.subaff_id);
                    $('#comm_type').val("affiliate")
                    $(".affiliate").show();
                    $(".brand").hide();
                }
                else if (sendData.type === "affiliateplusbrand") {
                    $('#siteid').val(sendData.brand).closest( "li" ).toggleClass("active");
                    $('#subaff_id').val(sendData.subaff_id);
                    $('#comm_type').val("affiliateplusbrand");
                    $(".brand, .affiliate").show();
                    $(".campaign").hide();
                }
                else if (sendData.type === "campaign") {
                    $('#campaign').val(sendData.campaign);
                    $('#subaff_id').val(sendData.subaff_id);
                    $('#comm_type').val("campaign")
                    $(".campaign, .affiliate").show();
                    $(".brand").hide();
                }
                else if (sendData.type === "campaignplusbrand") {
                    $('#siteid').val(sendData.brand);
                    $('#campaign').val(sendData.campaign);
                    $('#comm_type').val("campaignplusbrand");
                    $(".campaign, .brand").show();
                    $(".affiliate").hide();
                }else{
                    $('#comm_type').val("default")
                    $(".brand, .affiliate, .campaign").hide();

                }
                $('#multiple-checkboxes').val(sendData.country);
                $('#start_date').val(sendData.start_date);
                $('#end_date').val(sendData.end_date);
                comm_list(response.header_list, response.data_list)
                $('#commDiv').show();
                $('.selectpicker').selectpicker('refresh');
           }

        });

        setMonthStart = function () {
            if (!(window.location.href).includes('/admin/affiliatecommission/')) {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();
                if (mm < 10) {
                    mm = '0' + mm;
                }
                var today = '01' + '-' + mm + '-' + yyyy;
                var today1 = dd + '-' + mm + '-' + yyyy;
                console.log('inside the otday' + today);
                $('#start_date').val(today);
                $('#end_date').val(today1);
            }
        }
        $('#subaff_id option[value="{{data.fk_affiliateinfo}}"]').prop('selected', true);
        $('.selectpicker').selectpicker('refresh');
        showCountries = function (commId) {
            data = {
                'id': commId
            };
            $.ajax({
                type: "POST",
                url: '/admin/search-country/',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (res) {
                    if (res.country_list) {
                        country_list_html = '';
                        for (i = 0; i < res.country_list.length; i++) {
                            country_list_html = country_list_html + '<li>' + res.country_list[i] + '</li>';
                        }
                        country_list_html = '<ul>' + country_list_html + '</ul>';
                        $('#countryBody').html(country_list_html);
                        $('#countryModal').modal();
                    }
                },
            });
        }
        // $('#countryBody').html('<p>'+ countryList +'</p>');
        //function closeModal() {
        //    $("#countryModal").modal('hide');
        //  }

    </script>




    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet"
        type="text/css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <script src="//code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- <script>
  $(document).ready(function() {
		$('.itemd').removeClass("active");
		$('.itemd[href="/admin/commissions-default/c#"]').addClass("active");
		//$('#commissionsadmin').addClass("active");
	});
</script> -->

    <script>
        $(function () {
            var dateFormat = "dd-M-yy",
                from = $("#start_date")
                    .datepicker({
                        //defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 1,
                        dateFormat: "dd-mm-yy",
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#end_date").datepicker({
                    // defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd-mm-yy",
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });
    </script>

    <!-- <script> -->
    <!-- $( function() { -->
    <!-- $( "#dob" ).datepicker({changeYear: true,changeMonth:true,yearRange: "-100:+0", maxDate: "-18y",dateFormat: "dd-mm-yy",}); -->
    <!-- } ); -->
    <!-- </script> -->

    <div id="cover" style="display:none;"></div>

</body>

</html>