<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title>
    <link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

    <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/editor.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


    <script src="//code.jquery.com/jquery-1.12.4.js"></script>



    <script src="/static_files/new_wynta/js/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/static_files/new_wynta/js/tinymce/js/tinymce/init-tinymce.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<style type="text/css">
    .tox .tox-mbtn__select-label {
        font-family: arial;
    }

    .multiselect {
        padding: .375rem .75rem;
    }

    .control-label {
        color: #000;
        width: 100%;
    }

    .tox a {
        display: none;
    }

    .btn-group>.btn-group:not(:last-child)>.btn,
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .btn-group-vertical>.btn,
    .btn-group>.btn {
        position: relative;
        float: left;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

    .Editor-editor:hover,
    .Editor-editor:focus {
        background: none !important
    }

    .btn {
        height: auto;

    }

    .modal-header {
        display: inline;
    }

    .modal-header .close {
        padding: 1rem;
        margin: -1rem -1rem -1rem auto;
    }

    .errorM {
        color: #ff0000 !important;
    }

    .mainMessage p {
        font-size: 14px;
        color: #000;
        margin-bottom: 0;
        padding: 7px 0px 7px 0px;
        border-radius: 5px;
    }

    .dateTime {
        font-size: 14px;
        color: #67757c;
    }
</style>

<body class="page-body">



    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->

        <!-- Left Sidebar  -->
        {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->

        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">

                    <h3 class="text-primary">What's New</h3>
                </div>
                <div class="col-md-7 align-self-center float-right">


                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                        <li class="breadcrumb-item active">What's New</li>
                    </ol>


                    <div class="dropdown dash-dropdown">
                        <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown"
                            aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
                            <i class="fa fa-chevron-right font-small-dash"></i></button>
                        <ul class="dropdown-menu" x-placement="top-start"
                            style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <li><a href="#">Fozil Partners</a></li>
                            <li><a href="#">VCommission</a></li>
                            <li><a href="#">Taj Rummy</a></li>
                        </ul>
                    </div>


                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                {% if acc_manager == '7' %}
                <!-- Start Page Content -->
                <form id='DashBoardFormID'>
                    <div class="card">


                        <div class="row">
                            <div class="col-md-12" style="display:none !important;">



                                <div class="row date-right-mobile-none mobile-left-date"
                                    style="margin-bottom: -15px;float:right;">
                                    <div class="col-md-12 form-group adjust-top-bottom-dash adjust-top-bottom-dash1">



                                    </div>


                                </div>


                                <!-- SITE SELECTION -->


                                <br />

                                <!-- END SAMPLE FORM PORTLET-->


                            </div>
                        </div>


                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <!-- <input type="hidden" id="sitename" name="sitename" value="All" required="True"/> -->
                        <input type="hidden" name="format" value="json" />


                        <div class="" id="editM" style="display:none;">
                            <div class="alert alert-success alert-success-msg">
                                <center> <span>Notification has been updated successfully.</span></center>
                            </div>
                        </div>
                        <div class="" id="submitM" style="display:none;">
                            <div class="alert alert-success alert-success-msg">
                                <center> <span>Notification has been submitted successfully.</span></center>
                            </div>
                        </div>
                        <div class="row p-l-r-10">

                            <div class="col-md-12 col-sm-12 p-l-0 p-r-0 top-space-adjust-sec">


                                <span class="replyHide">



                                    <div class="form-group col-lg-12 col-md-12">
                                        <label class="control-label">Select Type</label>
                                        <div class="col-md-12 pl-0 pr-0">

                                            <select class="form-control" name="select_type" id="select_type"
                                                required="required">
                                                <option value="F">New Feature</option>
                                                <option value="A">Announcement</option>
                                                <option value="R">New Release</option>
                                            </select>

                                        </div>

                                    </div>

                                    <div class="form-group col-lg-12 col-md-12">

                                        <label class="control-label">Title</label>
                                        <div class="col-md-12 pl-0 pr-0">
                                            <input type="text" value="" placeholder="" id="title" name="title"
                                                class="form-control">
                                        </div>
                                    </div>



                                    <div class="form-group col-lg-12 col-md-12">
                                        <label class="control-label">Content</label>
                                        <div class="col-md-12 pl-0 pr-0">
                                            <textarea rows="5" cols="30" class="form-control" id="content"
                                                name="content" style="height:auto;"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-12 col-md-12">

                                        <label class="control-label">Redirect URL</label>
                                        <div class="col-md-12 pl-0 pr-0">
                                            <input type="text" value="" placeholder="Ex: https://... or http://..."
                                                id="redirectURL" name="redirectURL" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-12 col-md-12">
                                        <label class="control-label">Category</label>
                                        <div class="col-md-12 pl-0 pr-0">

                                            <select class="form-control" name="category" id="category"
                                                required="required">
                                                <option value="Admin">Admin</option>
                                                <option value="Affiliate">Affiliate</option>
                                                <option value="Both">Both</option>
                                            </select>
                                        </div>
                                </div>

                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-12 pl-0">

                                            <button class=" btn-send button-large button-web-get" type="button"
                                                onclick="ajaxsubmitFormData('create')" id='submit'>Submit</button>

                                            <button class=" btn-send button-large button-web-get" type="button"
                                                onclick="ajaxsubmitFormData('edit')" id='edit'
                                                style="display: none;">Edit</button>

                                            <button class=" btn-send button-large button-web-get" type="button"
                                                onclick="formReset()" id='cancel' style="display: none;">Cancel</button>

                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div> <!-- First div card -->
                </form>
                {%endif%}
                <div class="card">
                    <table class="table table-overlay table-striped table-bordered table-hover table_header_background"
                        cellspacing="0" width="100%" style="width:100%; max-width: 100%;" id='notificaitonsTable'>
                    </table>
                </div>

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->


            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->

        {% include "partner/new_design/footer-1.html" %}
    </div>
    <!-- Page Loading Overlay -->
    <!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>



    <script type="text/javascript">
        function showNotifications(headersList, dataList) {
            $("#notificaitonsTable").dataTable({
                "iDisplayLength": 30,
                "data": dataList,
                "columns": headersList,
                // "scrollX": true,
                "ordering": false,
                paging: false,
                searching: false,
                info: false,
                "scrollX": false,
                "pageLength": 10,
                "autoWidth": false,
                "language": {
                    "emptyTable": "Nothing to see here... yet!"
                }
            });


        }

        getRow = function (ele) {
            var $row = $(ele).closest("tr");
            $tds = $row.find("td");
            i = 0
            $.each($tds, function () {
                console.log($(this).text() + i);
                if (i == 0) {
                    if ($(this).text() == 'New Feature') {
                        $('#select_type').val('F');
                    }
                    if ($(this).text() == 'Announcement') {
                        $('#select_type').val('A');
                    }
                    if ($(this).text() == 'New Release') {
                        $('#select_type').val('R');
                    }
                }
                if (i == 1) {
                    $('#title').val($(this).text());
                }
                if (i == 2) {
                    $('#content').val($(this).text());
                }
                if (i == 3) {
                    if ($(this).text() == 'Click Here') {
                        $('#redirectURL').val($(this).find('a').attr('href'));
                    }
                }
                if (i == 5) {
                    if ($(this).text() == 'View/Edit') {
                        sessionStorage.setItem('noificationId', $(this).find('button').attr('id'));
                    }
                }
                i += 1;
            });
            $('#submit').hide();
            $('#edit').show();
            $('#cancel').show();
            $('html, body').animate({
                scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
            }, 'slow');
        }

        formReset = function () {
            $('#DashBoardFormID').trigger('reset');
            $('#submit').show();
            $('#edit').hide();
            $('#cancel').hide();
        }

        function ajaxsubmitFormData(action) {

            if ($('#DashBoardFormID').valid()) {

                var search_form = $("#DashBoardFormID");
                data_set = search_form.serialize()
                // data_set = data_set + '&content=' + $('#content').val();
                // ajaxBlockUI($(".page-content"))
                if (action == 'edit') {
                    data_set = data_set + '&id=' + sessionStorage.getItem('noificationId');
                    sessionStorage.setItem('action','edit');
                }else{
                    sessionStorage.setItem('action','submit');
                }
                console.log('data set' + data_set)
                $.ajax({
                    type: 'POST',
                    url: '/admin/whats-new/',
                    data: data_set,
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == "Success") {
                            window.location.reload();
                        }
                    }

                });
                return false;

            }
        }


        jQuery(document).ready(function () {

            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            //TableManaged.init();
            egcsTools.initNavigation();
            egcsTools.initDashboardDaterange();
            $(".page-sidebar-menu li").eq(3).addClass("active");
            $('#submit').show();
            $('#edit').hide();
            $('#cancel').hide();
            if(sessionStorage.getItem('action')=='submit'){
                $('#submitM').show();
                sessionStorage.removeItem('action');
            }
            if(sessionStorage.getItem('action')=='edit'){
                $('#editM').show();
                sessionStorage.removeItem('action');
            }
            headersList = {{ header_list | safe }};
            dataList = {{ data_list | safe }};
            showNotifications(headersList, dataList);
        });

        function toggleSampleChatWindow() {
            var $chat_win = jQuery("#sample-chat-window");

            $chat_win.toggleClass('open');

            if ($chat_win.hasClass('open')) {
                var $messages = $chat_win.find('.ps-scrollbar');

                if ($.isFunction($.fn.perfectScrollbar)) {
                    $messages.perfectScrollbar('destroy');

                    setTimeout(function () {
                        $messages.perfectScrollbar();
                        $chat_win.find('.form-control').focus();
                    }, 300);
                }
            }

            jQuery("#sample-chat-window form").on('submit', function (ev) {
                ev.preventDefault();
            });
        }

        jQuery(document).ready(function ($) {
            $(".footer-sticked-chat .chat-user, .other-conversations-list a").on('click', function (ev) {
                ev.preventDefault();
                toggleSampleChatWindow();
            });

            $(".mobile-chat-toggle").on('click', function (ev) {
                ev.preventDefault();

                $(".footer-sticked-chat").toggleClass('mobile-is-visible');
            });
        });
    </script>


    <script>

        $("#DashBoardFormID").validate({
            rules: {

                redirectURL: {
                    required: true,
                },

                title: {
                    required: true,
                },
                content: {
                    required: true,
                },

            },

            messages: {

                redirectURL: {
                    required: 'Please enter valid URL.'
                },
                title: {
                    required: 'Please enter your title.'
                },
                content: {
                    required: 'Please enter your message.'
                },

            },


            submitHandler: function (form) {
                if ($('#nodata').is(":visible") == false) {
                    form.submit();

                }
            }

        });

    </script>

    <div id="cover" style="display:none;"> </div>
</body>

</html>