<style>

#mySidenav {}
.sidenav1 {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 999999;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    padding-top: 0px;  display:none;
	transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	
}

.sidenav1 a {
   padding: .75rem 1.25rem 0.1em;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav1 a:hover>.btn-lg {
    transition: 0.5s;
    	}


.sidenav1 a:hover {
    color: #f1f1f1;
}


#sideopen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
}

@media screen and (max-height: 450px) {
  /*.sidenav1 {padding-top: 15px;}
  .sidenav1 a {font-size: 18px;}*/
}







.material-switch { 
	position: relative;
	top: 5px;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: #d2d2d2;
    
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
 
    
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    content: '';
    height: 20px;
    left: -5px;
    margin-top: -6px;
    position: absolute;
    top: -4px;
    width: 20px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
 width: 25px;
    height: 25px;
    font-size: 18px;
    line-height: 0;
    border-radius: 25px;
    margin-top: 17px;
}

.side-block { }
.top-space-one {    margin-top: 16px;
    float: right;
    color: green;
    font-size: 25px;}

.names-head {width:88%;}
.names-head h3 {font-size: 16px;margin-bottom: 3px;}
.names-head p  { padding-left:52px !important;font-size: 12px; white-space:nowrap;}
.green-color {color:#59b50f;}

.side-block ul li {
	height:75px;
    border-bottom: 1px solid #ccc;
    background: #fbfbfb; cursor:pointer;
}

.side-block ul li:hover>.names-head h3 {
  color:#fff;
}

.side-block ul li a:hover>.image-right {
    transition: 0.5s;
    	 }

.side-block ul li:hover {
	
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .2s ease-in;
    background: #fff;
	
}

ul.list-group li.border-zero1  {height:auto;}

.side-block ul li {border-bottom:1px solid #ccc;}

.affiliates-onboard {cursor:pointer;padding: .75rem 1.25rem 0.1em; text-transform:uppercase; font-size: 16px;
    font-weight: bold; color:#000;}
	
	.border-zero{ background: #f3f3f3;
    color: #000;
    border-right: 0;
    border-left: 0;
    border-radius: 0px !important;
    font-weight: bold;
    padding: 1rem 1.25rem;}
	
	.border-zero1 { background: #f3f3f3 !important;
    color: #000;
    border-right: 0;
    border-left: 0;
    border-radius: 0px !important;
    font-weight: bold;
    padding: 1rem 1.25rem 0.1rem;}

	.image-right { cursor:pointer; 
    font-size: 16px;
    height: 28px;
    margin-top: 17px;
    line-height: 0;
    background: #1976d2;
    border: none; display:block; text-align:center;
    color: #fff; justify-content: center;
    border-radius: 3px;
    font-size: 15px;}
	
	.top-margin {margin-top:15px;height: 320px; scroll-behavior: smooth;
    overflow: hidden;
    overflow-y: scroll;}
	
	#click-button:hover> #myImg {}
	


.font-small {font-size:12px;}

.aff-images {float: left;
    vertical-align: unset;
    display: inline-block;
    width: 40px;
    margin-right: 10px;
    padding-top: 5px;}

@media (max-width: 767px) {

.max-height-aff {    width: 100%;
    overflow: auto !important;
    min-height: 10px !important;
    max-height: 150px !important;}

.top-margin {height:240px !important;}

	.admin-side-bar {width:380px; float:right; max-width:100%;}
	.names-head p {
    padding-left: 52px;
    font-size: 12px;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.border-zero {font-size:14px;}
}	
	
	
	.max-height-aff {    width: 100%;
    overflow: auto;
    min-height: 10px;
    max-height: 200px;}
	
	.loader-none {float:right;
	float: right;
    background: url(/static_files/images/loader-w-feature.gif) no-repeat;
    display: block;
    height: 35px;
	display:none;
    width: 9%;
    background-size: 22px;
	}
	
	
</style>

 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	 <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
	
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
	

    <!-- Custom CSS -->
    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
<div class="overlay" id="remove-overlay"></div>
<div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                {% if partner == 'vCommission UK Partners' %}
                <div class="navbar-header" style="background: #ffffff;">
                    <a class="navbar-brand" href="/affiliate/dashboard">
                        <!-- Logo icon -->
                        
                        <b><img src="/static_files/new_wynta/images/vcommlogo.png" alt="homepage" class="vcom_logo dark-logo" /></b>
						<span class="display-mobile"><img src="/static_files/new_wynta/images/vcommlogo_small.png" alt="homepage" class="dark-logo logo-text" /></span>
                        {% else %}
                        <div class="navbar-header">
                    <a class="navbar-brand" href="/affiliate/dashboard">
                        <b><img src="/static_files/new_wynta/images/wynta-logo.svg" alt="homepage" class="dark-logo logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                       <span class="display-mobile"><img src="/static_files/new_wynta/images/wynta-logo-text.svg" alt="homepage" class="dark-logo logo-text-wynta" /></span>
                       {% endif %}   
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item mobile-none"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10 mobile-none"> <a class="nav-white nav-link sidebartoggler hidden-sm-down text-muted space-padding" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
						<li class="nav-item mobile-none">
						
						<!-- <div class="inner-addon right-addon"> -->
          <!-- <i class="fa fa-search search-image"></i> -->
          <!-- <input type="text" class="form-control input-search-head" placeholder="Search..." /> -->
        <!-- </div> -->
						
						</li>
                        <!-- Messages -->
                        
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
					
					<li class="nav-item">
                            <a class="nav-link text-muted" id="click-button" href="#">
							<!-- <i class="fa fa-th"></i> -->
							<img src="/static_files/new_wynta/images/wynta-logo-icon.svg" id="myImg" width="30"/>
							</a>
                            
                        </li>

                        <!-- Search -->
                        <!-- <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a> -->
                            <!-- <form class="app-search"> -->
                                <!-- <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a> </form> -->
                        <!-- </li> -->
						
						<!-- Messages -->
                        <li class="nav-item dropdown mobile-none ">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-question"></i>
								<div class="notify">  </div>
							</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="dropdown-user">
                                    
                                    <li><a href="/affiliate/contact/"><i class="fa fa-envelope"></i> Contact Support</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Messages -->
						
						
                        <!-- Comment -->
                        <li class="nav-item mobile-none">
                            <a class="nav-link text-muted text-muted  " href="/affiliate/messages/"> <i class="fa fa-envelope"></i>
								<div class="notify"> </div>
							</a>
                            
                        </li>
                        <!-- End Comment -->
                        
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-user"></i>
							</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="dropdown-user">
                                    <li><a href="/affiliate/edit-profile/"><i class="ti-user"></i> Profile</a></li>
                                    <li><a href="/affiliate/logout/"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
						
						
						
						<li class="nav-item mobile-display"> <a class="nav-link nav-toggler hidden-md-up text-muted body-hidden" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
						 <li class="nav-item m-l-10 mobile-display"> <a class="nav-white nav-link sidebartoggler hidden-sm-down text-muted " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
						
						
                    </ul>
                </div>
            </nav>
        </div>
		

		<div id="mySidenav" class="sidenav1">
  <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
	
	<div class="admin-side-bar" id="accordion">
	
	 <ul class="list-group">
		 <li class="border-zero">
                        Be accessible to other programs on Wynta?
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
                            <label for="someSwitchOptionPrimary" class="label-primary"></label>
                        </div>
		  </li>
	  </ul>
	
	<div class="side-block" id="available-prog">
	
	<div class="max-height-aff">
	<ul class="aff_avail">
		<!-- <li><div class="">
			  <a href="">
			  <p class="float-right font-small">Earnings : <span class="green-color">£120</span></p>
			  <div class="content-heading names-head">
			  <img src="/static_files/new_wynta/images/fp-aff-image.png" class="aff-images"/> 
			  <h3>Fozil Partners</h3>
			  <p>Software Providers : Dragonfish, Jumpman, ProgressPlay</p>
			  </div>	</a> 
        </div></li>
		
		<li><div class="">
			  <a href="">
			  <p class="float-right font-small">Earnings : <span class="green-color">£210</span></p>
			  <div class="content-heading names-head">
			  <img src="/static_files/new_wynta/images/icon-aff-image.png" class="aff-images"/> 
			  <h3>Icon Affiliates</h3>
			  <p>Software Providers : ProgressPlay</p>
			  </div></a>	 
        </div></li>
		
		<li><div class="">
			  <a href="">
			  <p class="float-right font-small">Earnings : <span class="green-color">£350</span></p>
			  <div class="content-heading names-head">
			  <img src="/static_files/new_wynta/images/amirite-aff-image.png" class="aff-images"/> 
			  <h3>Amirite Affiliates</h3>
			  <p>Software Providers : ProgressPlay, Dragonfish</p>
			  </div></a>	 
        </div></li> -->
		
	</ul>
	</div>
	
	<ul class="list-group">
		 <li class="border-zero1">
                        TOTAL EARNINGS
                        <div class="material-switch1 pull-right">
                            <p class="green-color" id="total-eranings"></p>
                        </div>
		  </li>
	  </ul>
	
	</div> <!-- End of Block div -->
	
	<div class="clear"></div>
	
	<!-- Second section start -->
	
	<div class="side-block" id="invite_aff_prog">
	<h3 class="affiliates-onboard accordion-toggle">AFFILIATE PROGRAMS
	<span class="loader-none"></span></h3>
	

	
	<ul class="accordion-content max-height-aff">
		<!-- <li><div class="">
			  <a href=""><button type="button" class="btn-info image-right float-right">Register</button>
			  <div class="content-heading names-head">
			  <img src="/static_files/new_wynta/images/click-bank-aff-image.png" class="aff-images"/> 
			  <h3>Click Bank</h3>
			  <p>Software Providers : Click Affiliate</p>
			  </div>	</a> 
        </div></li>
		
		<li><div class="">
			  <a href=""><button type="button" class="btn-info image-right float-right">Register</button>
			  <div class="content-heading names-head">
			  <img src="/static_files/new_wynta/images/affili-aff-image.png" class="aff-images"/> 
			  <h3>Affilinet</h3>
			  <p>Software Providers : Affilinets, Progressplay</p>
			  </div></a>	 
        </div></li>
		
		<li><div class="">
			  <a href=""><button type="button" class="btn-info image-right float-right">Register</button>
			  <div class="content-heading names-head">
			   <img src="/static_files/new_wynta/images/com-junc-aff-image.png" class="aff-images"/> 
			  <h3>Commission Junction</h3>
			  <p>Software Providers : Commission</p>
			  </div></a>	 
        </div></li>
		
		<li><div class="">
			  <a href=""><button type="button" class="btn-info image-right float-right">Register</button>
			  <div class="content-heading names-head">
			  <img src="/static_files/new_wynta/images/aff-fut-aff-image.png" class="aff-images"/>
			  <h3>Affiliate Future</h3>
			  <p>Software Providers : Future Affiliates</p>
			  </div></a>	 
        </div></li>
		 -->
		
	</ul>
	

	
	</div> <!-- End of Block div -->
	
	
	</div> <!-- Admin Side Bar -->
 
</div>




<div id="sideopen-overlay" style="display:none;"></div>
	
	<script>

    $('#someSwitchOptionPrimary').change(function () {
         $.ajax({
              url: '/affiliate/set-accessible/',
              dataType: 'json',
              method: 'POST',
              async: false,
              data: {csrfmiddlewaretoken: "{{ csrf_token }}", 'access': $('#someSwitchOptionPrimary').prop('checked')},
              success: function(data) {
                  console.log(data);
              }
        });
        return true;
    });
	function getcategory(){
        $.ajax({
              url: '/affiliate/affp-list/',
              dataType: 'json',
              method: 'GET',
              async: false,
              data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
              success: function(data) {
                    $.each(data.avv_aff_prog, function (i, item) {
                        ul_div = '<li><div class="">'
                        if (item[7].toLowerCase() != 'self'){
                            ul_div +=  '<a href="/affiliate/redirect-aff-prog/?aid='+item[6]+'">'
                        }
                        else{
                            ul_div +=  '<a>'
                        }
                        ul_div += '<p class="float-right font-small">Earnings : <span class="green-color">'+item[5]+'</span></p>\
                          <div class="content-heading names-head">\
                          <img src="'+item[2]+'" class="aff-images"/> \
                          <h3>'+item[1]+'</h3>'

                        if (item[3].toLowerCase() != 'approved'){
                            ul_div += '<p>Status : '+item[3]+'</p>\
                              </div>    </a> </div></li>'
                        }
                        else{
                            ul_div += '<p>Software Providers : '+item[4]+'</p></div>    </a> </div></li>'
                        }
                            
                        $('#available-prog').find('ul.aff_avail').append(ul_div);
                    });

                    $.each(data.display_aff_prog, function (i, item) {
                        ul_div = '<li><div class="">\
                          <a>\
                          <button type="button" class="btn-info image-right float-right" onclick="subscribeaffp('+item[0]+')">Register</button>\
                          <div class="content-heading names-head">\
                          <img src="'+item[2]+'" class="aff-images"/> \
                          <h3>'+item[1]+'</h3>\
                          <p>Software Providers : '+item[3]+'</p>\
                          </div>    </a> </div></li>'
        
                        $('#invite_aff_prog').find('ul').append(ul_div);
                    });
                    $('#total-eranings').html(data.aff_total_earnings);
                    if (data.accessible == true)
                    $('#someSwitchOptionPrimary').prop('checked', true)
                    else
                    $('#someSwitchOptionPrimary').prop('checked', false)  
              }
        });
        return true;
        
    }
	$(document).ready(function(){


    getcategory()
    $('#click-button').click( function(e) {
	
		if($('#mySidenav').css('width') === '0px'){
			e.preventDefault(); // stops link from making page jump to the top
			e.stopPropagation(); // when you click the button, it stops the page from seeing it as clicking the body too
			$('#mySidenav').show();
			$('#mySidenav').css('width','450');
			document.getElementById("sideopen-overlay").style.display = "block";
			document.body.style.position = "fixed";
			document.getElementById("myImg").src = "/static_files/new_wynta/images/wynta-logo-icon-blue.svg";
			
		}
		else{
			$('#mySidenav').hide();
			document.getElementById("sideopen-overlay").style.display = "none";
			document.body.style.position = "relative";
			document.getElementById("myImg").src = "/static_files/new_wynta/images/wynta-logo-icon.svg";
			e.preventDefault(); // stops link from making page jump to the top
			e.stopPropagation(); // 
			$('#mySidenav').css('width','0');
		}
        
        /*e.preventDefault(); // stops link from making page jump to the top
        e.stopPropagation(); // when you click the button, it stops the page from seeing it as clicking the body too
        $('#mySidenav').toggle();
		$('#mySidenav').css('width','400');
		document.getElementById("sideopen-overlay").style.display = "block";
		document.body.style.position = "fixed";
		document.getElementById("myImg").src = "/static_files/new_wynta/images/wynta-logo-icon-blue.svg";
        */
	
		
    });
    
    $('#mySidenav').click( function(e) {
        
        e.stopPropagation(); // when you click within the content area, it stops the page from seeing it as clicking the body too
       
    });
    
    $('body').click( function(e) {
       
        //if($('#mySidenav').css('visibility') === 'visible'){
			$('#mySidenav').hide();
			document.getElementById("sideopen-overlay").style.display = "none";
			document.body.style.position = "relative";
			document.getElementById("myImg").src = "/static_files/new_wynta/images/wynta-logo-icon.svg";
			//e.preventDefault(); // stops link from making page jump to the top
			//e.stopPropagation(); //
			$('#mySidenav').css('width','0');
		//}

        
    });
    
});

function subscribeaffp(apid){

        $.ajax({
		
              url: '/affiliate/requestap?apid='+apid,
              dataType: 'json',
              method: 'GET',
              async: false,
              data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
              success: function(data) {
                    getcategory();

              }
			  
        });
        return true;     
    }

</script>

