<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<meta name="author" content="" />

	<title>{{partner}} - Account Details</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">


	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	 <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  
    


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style type="text/css">

#affiliate {height:35px !important;}
	
</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
						<h3 class="text-primary">Add Payment Details</h3>
				
				</div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Settings</a></li>
                        <li class="breadcrumb-item active">Add Payment Details</li>
                    </ol>
				
					
					
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
			
			<div class="table-toolbar">
                                
                                {%if message %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    
                                        <div class="alert alert-success-msg">
                                            <center> <span>{{message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div>
                                          {%if data.call == 'POST'%}
                                        <form action=" /admin/accountdetails" method="POST" enctype="multipart/form-data" class="form-horizontal">
                                          {% else %}
                                          <form action= " /admin/accountdetails/{{data.id}}" id="affForm" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" >
                                            {% endif %}
                                        <fieldset>
                                        {%csrf_token%}
                                       
                                        <input type="hidden" value="{{data.id}}">
										
										
										<div class="profile-edit-details">
											 
												<legend class="heading-all-page">Affiliate Information</legend>
												
												 <div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Account ID</label>
													<input type="text" class="form-control" name="" value="{{data.id}}" readonly id="" placeholder="">
												</div>
												
												 <div class="form-group col-md-4 col-sm-12 pull-right" style="float:left;">
													<label>Affiliate</label>
													<select class="form-control" id="affiliate" name="fk_affiliateinfo">
													<option>Select Affiliate</option>
                                        {%for i in data.affiliates_list %}
                                            {% if i.0 == data.fk_affiliateinfo %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
												</div>
												
												<div class="clear"></div>
												
												<legend class="heading-all-page">Affiliate Payment Information</legend>

												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Account Number</label>
													<input type="tel" class="form-control" name="accountnumber" value="{{data.accountnumber}}" id="" placeholder="" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Beneficiary Address</label>
													<input type="text" class="form-control" name="beneficiaryaddress" value="{{data.beneficiaryaddress}}" id="" placeholder="">
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Account Name</label>
													<input type="text" class="form-control" required="required" name="accountname" value="{{data.accountname}}" id="" placeholder="">
												</div>
												
												
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>Bank Name</label>
													<input type="text" class="form-control" required="required" name="bankname" value="{{data.bankname}}" id="" placeholder="" />
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Sort Code</label>
													<input type="text" class="form-control" required="required" name="sortcode" value="{{data.sortcode}}" id="" placeholder="" />
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Bank Address</label>
													<input type="text" class="form-control" required="required" required="required" name="bankaddress" value="{{data.bankaddress}}" id="" placeholder="" />
												</div>												
												
												
												<div class="form-group col-md-4 col-sm-12 pull-left">
													<label>IBAN</label>
													<input type="text" class="form-control" required="required" name="iban" value="{{data.iban}}" id="" placeholder="" />
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>Currency</label>
													<select class="form-control" name="currency" >
													{%for i in data.currency_list %}
                                            {% if i.0 == data.currency %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
												</div>
												
												<div class="form-group col-md-4 col-sm-12 pull-right">
													<label>SWIFT</label>
													<input type="text" class="form-control" required="required" name="swift" value="{{data.swift}}" id="" placeholder="" />
												</div>
												
												
												
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                                {%if data.call == 'POST'%}
											   <button class="btn btn-purple button-large button-web-get" title="Make a POST request " type="submit" value="" style="">Submit</button>
                                            {% else %}
											<button class="btn btn-purple button-large button-web-get" type="submit" >Submit</button>
											
											 {% endif %}
                                            </span>
                                        </div>
												
												
											</fieldset>
											
											
										</form>
										
										</div>
										
                                        

                      
                                        </div>
                                    </div>
                                </div>
                            </div>

								
								
                            </div>
							
                                </div>
					
					
				
               
		  
		  </div> <!-- First div card -->
		  

								
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
	
	
<!-- <script> -->
        <!-- $(document).ready(function() { -->
          <!-- $('form').ajaxForm(); -->
        <!-- }); -->
      <!-- </script> -->


<div id="cover" style="display:none;"> </div>
</body>
</html>