<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />
  
    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <style>
  
  .left-zero {padding-left:0; }
  
  .skip-button {background:#0091e0;
    padding: 5px;
    display: inline-block;
    width: 80px;
    text-align: center;
    color: #fff;}
	
	.skip-button:hover {color: #fff;background:#1788c5}
  
  .table td, .table th {border-top:none;}
  .selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
  .form-control {height:36px;}
  .egcs_submit_button {margin-top: 5px;margin-left: 15px;}
  
   /* Hide the browser's default checkbox */
.checkbox {
 
    opacity: 0;
    cursor: pointer; position:relative;
}

/* Create a custom checkbox */
.checkmark {
       position: absolute;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-left: -20px;
    border: 1px solid #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
   left: 7px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


	ul {list-style-type:none;}
	ul.sublist li {display:inline-block; margin-right:12px; vertical-align:sub; }
	
	ul.sublist {padding-left:0px; margin-top:10px;}
	.margin-bottom-space {margin-bottom: 12px;
    margin-top: 15px;
    margin-left: -14px; padding-right:0px;}
  .color-black {color:#000000; font-size:14px;}
  
  .margin-right-space { padding-left:12px;}
  
  .space-ul {padding: 18px;
    background: #f9f9f9;
    padding-bottom: 10px;
    display: block;
    width: 100%;
    }
	
	@media (max-width: 767px) {
	
	.margin-right-space {font-size:14px;}
	
	.page-titles .breadcrumb {
    padding: 0;
    background: transparent;
    font-size: 14px;
    /* float: right; */
    position: absolute;
    right: 5px;
    top: -32px;
}
	
		ul.sublist li {display:block;}
		.card { padding-right:5px;}
	
	}
	
	.card {padding-right:5px;}
	.step1-first {
	width: 30px;
    text-align: center;
    display: inline-block;
    background: #0091e0;
    margin-left: 10px; margin-top:-2px;
    border-radius: 62px;
    vertical-align: middle;
    line-height: 30px;
    position: absolute;
    color: #fff;
    border: none;
	}
	
	
	
	
	
	
	
	
	
	/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
	width:100%;
	max-width:97%;
 
  margin-top: 20px;
  margin-left: 35px;
 
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0; font-size:16px; color:#000000; border:none; padding:20px;
  background:#f9f9f9; margin-bottom:10px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #0091e0;
  background-image: #0091e0;
  color: #ffffff; border-radius:0;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
  display:none;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 10px;
  
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.heading-all-page-full {display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 20px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    padding-top: 1px;
	background:none;
    margin-left: 0px;
    font-weight: bold;
    color: #000;
	
	}
	
	.full-input-width {height: 50px !important;
    background: #f9f9f9;
    border: 1px solid #ccc;}
	
	.form-horizontal .form-group {padding-left:0px; padding-top:10px;}
	
	.card-title p {padding-left:0px;}
	
	.tt-form-help-text, .tt-form-info-text {padding-left:0px;}
	
	.card-title p {
    padding-left: 0px;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px; color:#919191;
}

.button-large {float:right; margin-right:20px;}

.button-web-get {text-transform:capitalize !important;
font-weight:normal !important;}

div.bhoechie-tab-menu div.list-group>a:hover {box-shadow: 0 0 1px 0 rgba(0,0,0,.21), 0 10px 33px 0 rgba(0,0,0,.16);
    cursor: pointer;
    transform: scale(1.01);}
	
	div.bhoechie-tab-menu div.list-group{border-right:1px solid #ccc;}
	
	div.bhoechie-tab-menu div.list-group>a:last-child {margin-bottom:0px;}
	
	
	.steps-all {
	
	width:30px; height:30px; 
	background:#fff; color:#000; 
	text-align:center; line-height:30px; margin-right:10px;
	    border-radius: 20px;
    display: inline-block;
	}
	
	.page-titles h3 {font-weight:bold; color:#000 !important;}
	.skip-button {
    background: #0091e0;
    padding: 5px;
    display: inline-block;
    width: 80px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.skip-button:hover {
    color: #fff;
    background: #1788c5;
}
	
	
	
	
	
	
	
	@media only screen and (max-width: 1200px) and (min-width: 768px) {
	
	
	}
	
	
	@media (max-width: 767px) {
	
			div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    width: 100%;
    max-width: 94%;
    margin-top: 0;
    margin-left: 15px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

.tt-form-wrapper {margin-left:0px !important; margin-top:20px;}

div.bhoechie-tab-content {padding-left:0px;}
	
	}
	
	.full-width-submit {width:100%; float:right;}
	
.button-web-get {    text-transform: uppercase;
    width: auto;
    font-weight: bold;}
	
		label {font-size:16px; color:#000;}
		
		div.bhoechie-tab-menu div.list-group>a.active>span.steps-all {color:#0091e0;}
		
.submit-width {width: 120px;
    float: left;
    margin-left: 0;
    margin-top: 0;}
  
  </style>

</head>
<style type="text/css">

</style>
<body class="page-body">

  
  
   <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
  
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
    
        {% if data.pid != "new" %}
         {% include "partner/new_design/menubar-1.html" %}
        
        <!-- End Left Sidebar  -->
    
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
            <h3 class="text-primary">Add User</h3>
          </div>
		  <div class="col-md-7 align-self-center float-right">
        
        
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                        <li class="breadcrumb-item active">Add User</li>
                    </ol>	
		  
                
		{% else %}
		<div class="page-wrapper" style="margin-left: 0px; !important">
		
		
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-8 align-self-center">
                    
            <h3 class="text-primary">SET YOUR WYNTA ACCOUNT UP IN A JIFFY - 4 SUPER QUICK STEPS!</h3>
          
          </div>
            <div class="col-md-4 align-self-center float-right">
        
        
                    <ol class="breadcrumb">
              
            <li class="breadcrumb-item active"><a href="/admin/" class="skip-button"><strong><i class="fa fa-home"></i> Home</strong></a></li>
                    </ol>	
        
          {% endif %}
					
          <div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
                      <i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
        
          
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
        
      <div class="card">
      
      <div class="row">
      <div class="col-lg-12">
      <div class="card-title">
                
						<div class="table-toolbar">
                                <div id='error-msg' class="alert alert-danger alert-failure-msg" style="display: none;">
                                            <center> <span>Atleast one menu option checked is mandatory.</span></center>
                                        </div>
									
								<div class="" id="edit" style="display:none;">
									<div class="alert alert-success alert-success-msg">
                                            <center> <span>User details have been updated successfully. </span></center>
                                        </div>
								</div>	

								{%if Error %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   
                                        <div class="alert alert-danger alert-failure-msg">
                                            <center> <span>{{Error}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>								
									{%endif%}
									
                                {%if data.message %}
                                <div class="row" id="success_message">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                          {%if data.call == 'POST'%}
                                        <form action="/admin/add-new-user" method="POST" id="formValidation" enctype="multipart/form-data" class="form-horizontal">
                                          {% else %}
                                          <form action= "/admin/add-new-user/{{data.id}}" id="formValidation" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" class="form-horizontal">
                                            {% endif %}
                                        <fieldset>
                                       
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
										{% if data.pid == "new" %}
										<div class="profile-edit-details">
                    
                    
                       <div class="main-col">
                     
                     
                      <div class="row">
        <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bhoechie-tab-menu float-left">
              <div class="list-group">
                <a href="/admin/writedomain?pid=new" class="list-group-item">
                  <span class="steps-all">1</span>Domain & SSL
                </a>
                <a href="/admin/site-mapping/post?pid=new" class="list-group-item">
                  <span class="steps-all">2</span>Site Mapping
                </a>
                <a href="/admin/software-authentication/post?pid=new" class="list-group-item">
                  <span class="steps-all">3</span>Software Authentication
                </a>
                <a href="/admin/add-new-user/post?pid=new" class="list-group-item active">
                  <span class="steps-all">4</span>Add User
                </a>
                
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 bhoechie-tab float-right">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    
                     <div class="tt-form-wrapper">
  <div class="content-settings-form edit-wrapper">
    <div class="tt-form-group">
   
              {% endif %}                                  
                  
		<div class="profile-edit-details">
										
										
											 <fieldset>
											 
												<!-- <legend class="heading-all-page">Software Authentication</legend> -->
	
{% if data.pid == "new" %}
	
<legend class="heading-all-page-full">Add User</legend>
												 
		{% endif %}										
										

												<div class="form-group col-lg-12 col-md-12 col-sm-12 pull-left left-zero">
												 {% if not data.user %}
													<label>Email Address</label>
													<input type="email" placeholder="This email address must be of the primary user of this account" class="form-control full-input-width" name="email" required="required" value="" id="" placeholder="">
												 {% else %}
												 <label for="validationCustom01">User</label>
													<input type="text" placeholder="This email address must be of the primary user of this account" class="form-control full-input-width" name="site_domain" required="required" value="{{data.user}}" id="" placeholder="" readonly="readonly">
												{% endif %}
												
												</div>
												
												<div class="form-group col-lg-12 col-md-12 col-sm-12 pull-right left-zero">
													<label for="validationCustom01">Role</label>
													<input type="text" class="form-control full-input-width" name="role" required="required" value="{{data.role}}" id="role" placeholder="">
												</div>
												
												
												 {% for i, val in data.menu_items.items %}
                         <div class="form-group col-md-12 row" style="">
						 
						 <p>Select the access you'd like this user to have</p>
                         <ul class="space-ul">
    <li>
                                            {% if i in data.options %}
                                            
      <input type="checkbox" value="{{i}}" id="{{i}}" name="choice" checked class="checkbox option" style="width:20px !important; height:20px; vertical-align: top; z-index:9999; display:inline-block;" /><span class="checkmark"></span><label for="option" class="margin-right-space"> <strong class="color-black">{{i}}</strong>

      </label>
      {% else %}
      <input type="checkbox" value="{{i}}" id="{{i}}" name="choice"  class="checkbox option" style="width:20px !important; height:20px; vertical-align: top; z-index:9999; display:inline-block;" /><span class="checkmark"></span><label for="option" class="margin-right-space"> <strong class="color-black">{{i}}</strong>

      </label>{% endif %}
      <ul class="sublist">
                                            {% for j in val %}
                                                      
                                                        <li>
                                                     {% if j in data.options %}
<input type="checkbox" name="choice" value="{{j}}" checked class="checkbox subOption {{i}}" tref="{{i}}" style="width:20px !important; height:20px; vertical-align: top; z-index:9999; display:inline-block;"><span class="checkmark"></span><label class="margin-right-space">{{j}}</label></li>
                                                          
                                                          {% else %}
<input type="checkbox" name="choice" value="{{j}}" class="checkbox subOption {{i}}" tref="{{i}}" style="width:20px !important; height:20px; vertical-align: top; z-index:9999; display:inline-block;"><span class="checkmark"></span><label class="margin-right-space">{{j}}</label></li>
                                                      
                                                        {% endif %}
                                                        
                                            {%endfor%}
                                            </ul>
  </div>    
                                                
                                        {%endfor%}
												
												
												
												
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                        

										{%if data.call == 'POST' %}
						  
										  {% if data.pid == "new" %}
											<button class="btn btn-purple button-large button-web-get" title="Make a POST request on the Affiliate Campaign List resource" type="submit" check="Verify" value="" style="">You're all done!</button>
										 {% else %}
											<button class="btn btn-purple button-large button-web-get submit-width" type="submit" value="" style="">Submit</button>
										{% endif %}
									{% else %}
									  <button class="btn btn-purple button-large button-web-get submit-width" onclick="call_valid();" type="button" value="" style="">Submit</button>
									  </span>
									   {% endif %}

					
                                        </div>
												
												
											</fieldset>
											
											</div>

      
  </div>
</div>
                    
                </div>
                <!-- train section -->
                
               
            </div>
        </div>
  </div>
        

                    </div>
										
										
										</div>            
  
  
                                      </fieldset>
                                        </form>
                      </form>
                                       
                                    </div>
                                </div>
                            </div>
                           
                        </div>       
                            </div>
          </div>

          </div>
          
          
          
          
               
      </div> <!-- First div card -->
      
      

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
       {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
  <!-- Page Loading Overlay -->
  <!-- <div class="page-loading-overlay">
    <div class="loader-2"></div>
    
  </div> -->
  

<script>
        $(document).ready(function() {
          $('.itemd').removeClass("active");
    $('.itemd[href="/admin/add-new-user"]').addClass("active");
    $('#userd').addClass("active");
          
          var datad = '{{data.options}}';
          $('form').ajaxForm();
          $('form').submit(function () {
              var empty = false;
              // Get the Login Name value and trim it
              
              // Check if empty of not
              if ($("input:checkbox:checked").length  === 0 || empty == true) {
                  $('#error-msg').show();
				  $('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');
                  empty = false;
              }
              else{
                  $('#error-msg').hide();
                  empty = true;
              }
			return empty;
          });
        });
        $('input[type="checkbox"]').click(function() {
          if(this.checked) {
              $('.'+$(this).attr('id')).prop('checked', true);
              $('#'+$(this).attr('tref')).prop('checked', true);
          }
          else{
              if ($('input[tref="'+$(this).attr('tref')+'"]:checked').length == 0){
                  $('#'+$(this).attr('tref')).prop('checked', false);
              }
              $('.'+$(this).attr('id')).prop('checked', false);
          }       
    });
      </script>
	  
	  <script>
	  
	  function call_valid(){
	  
	if ($('#formValidation').valid()){

		//data_d = $('#formValidation').serialize();
		
		
		
		if ($("input:checkbox:checked").length  === 0) {
                  $('#error-msg').show();
				  $("#edit").hide();
				  $('html, body').animate({
			scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
		}, 'slow');
		  empty = false;
		}
		else{
		  $('#error-msg').hide();
		  empty = true;
		}
		if(empty == false){
			return false;
		}
		
		var form = $('#formValidation')[0];
		var data_d = new FormData(form);
        $("#remove-overlay").addClass("overlay");
        $(".preloader").show();
		$.ajax({
		   url: $('#formValidation').attr('action'),
		   type: 'PUT',
		   enctype: 'multipart/form-data',
			processData: false,  // Important!
			contentType: false,
			cache: false,
		   data: data_d,
		   success: function(response) {
		   $('#success_message').hide();
			 $("#edit").show();
			 $('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');
             $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
		   }
		});
	};
}

// Validation and Ajax action
        $('#formValidation').validate({
             rules: {

				  email: {
                      required: true,
                  },
				  
				  role: {
                      required: true,
                  },

              },

            messages: {
               
				
				email: {
                      required: 'Please enter the email address.'
                  },
				  
				  role: {
                      required: 'Please enter your role'
                  },
            },
			
			
			
			submitHandler: function (form) {
			if ($("input:checkbox:checked").length  === 0) {
                  $('#error-msg').hide();
				  $('html, body').animate({
			scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
		}, 'slow');
		  empty = false;
		}
		else{
		  $('#error-msg').hide();
		  empty = true;
		}
		if(empty == false){
			return false;
		}
                if($('#nodata').is(":visible")==false){
				
                      form[0].submit();
                    }
                }

        
              });
			  
			  </script>
	  
</body>
</html>