<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />

    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<style>
	
	.height-specify {height:36px !important;}
	
	#affiliate {height:35px !important;}
	
	.table td, .table th {border-top:none;}
	.selectpicker {}
	.form-control {height:36px;}
	.egcs_submit_button {margin-top: 5px;margin-left: 15px;}
	
	
	 /* Hide the browser's default checkbox */
.checkbox {
 
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
       position: absolute;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-left: -20px;
    border: 1px solid #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
   left: 7px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.select-class-one {color:#67757c;margin:10px; padding:10px; padding-left:0; margin-top:-5px;}

.bg-success {
    background-color: #28a745!important;
}

.font-small {  font-style:italic;width:160px;  line-height: 18px;
    font-size: 13px}
	
	.col-md-3 {margin-right:15px !important;}
	
	.button-web-get {margin-top:25px;}
	.card {padding-bottom:10px;}
	.main-cam {width: 83px;}
	.main-brand {width:53px;}
	.aff-cam {width:60px;}
	.cam-input {width:170px !important;}
	.aff-input-one {width:186px !important;}
	.brand-input {width:190px !important;}
	</style>

</head>
<style type="text/css">

</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
						<h3 class="text-primary">{{data.c_type}}</h3>
					</div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Commissions</a></li>
                        <li class="breadcrumb-item active">{{data.c_type}}</li>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- <select name="fk_affiliateinfo" id="affiliate" class="form-control" data-show-subtext="true" data-live-search="true" style="">
                                        <option value="">Select </option>
                                        {%for i in data.affiliates_list %}
                                            {% if i.0 == data.fk_affiliateinfo %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select> -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                
 <div class="table-toolbar">
                                
                                {%if data.message %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}

                                {% if data.affiliate_exist %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    
									<div class="alert alert-danger alert-error-msg">
                                            <center> <span>{{data.affiliate_exist}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-12 search-options">
                                        <div>
                                          {%if data.call == 'POST'%}
                                        <form action=" /admin/affiliatecommission" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">
                                          {% else %}
                                          <form action= " /admin/affiliatecommission/{{data.id}}" id="affForm" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" novalidate>
                                            {% endif %}
                                        <fieldset>
                                        
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
										
										<div class="row">
										
											<div class="form-group form-inline col-md-4 col-sm-12 pull-left">
													
                                                {% if data.fk_affiliateinfo %}
                                                    <label><span class="aff-cam">Affiliate :</span> <input type="text" class="form-control aff-input-one" value="{{data.affiliate}}" id="" placeholder="" readonly></label>
													
                                    <input type="hidden" class="form-control aff-input-one" name="fk_affiliateinfo" value="{{data.fk_affiliateinfo}}" id="" placeholder="">
                                    
                                    
                                    {% elif data.fk_campaign %}
                                                    <label><span class="main-cam">Campaign :</span> <input type="text" class="form-control cam-input" value="{{data.campaign}}" id="" placeholder="" readonly></label>
                                                    
                                    <input type="hidden" class="form-control cam-input" name="fk_campaign" value="{{data.fk_campaign}}" id="" placeholder="">
                                    
                                    
                                    {% elif data.siteid %}
                                                    <label><span class="main-brand">Brand :</span> <input type="text" class="form-control brand-input" value="{{data.brand}}" id="" placeholder="" readonly></label>
                                                    
                                    <input type="hidden" class="form-control brand-input" name="siteid" value="{{data.siteid}}" id="" placeholder="">
                                   
                                    
                                    {% elif data.account_manager %}
                                                    
                                    {% endif %}
												</div>
										
										</div>
										
										
                                       <div class="profile-edit-details">
									   
									
											 <p class="select-class-one">Select the type(s) of commission (check appropriate boxes), set triggers and relevant values where applicable:
												 </p>
										
											 <fieldset>
											 
									
									
												<legend class="heading-all-page">
												{% if data.revshare %} 
                                                        <input type="checkbox" class="checkbox" name="revshare" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    ">
														<span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox" name="revshare" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    ">
														<span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
												Revshare
												</legend>
										
										<div class="clear"></div>
										
												<div class="form-group col-md-3 col-sm-12 pull-left" style="">
													<label>Revshare Percentage</label>
													<input type="number" class="form-control" name="revsharepercent" value="{{data.revsharepercent}}" id="" placeholder="">
												</div>
												
												
                                                <div class="form-group col-md-3 col-sm-12 pull-right" style="float:left;">
                                                    <label>
													{% if data.pocdeduction == True %} 
                                                        <input type="checkbox" class="checkbox" name="pocdeduction" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% elif data.pocdeduction == False %}
                                                        <input type="checkbox" class="checkbox" name="pocdeduction" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox" name="pocdeduction" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
													POCT Deduction
													
													</label><br/>
                                                    <p class="font-small">You may choose to exclude this by unchecking the box</p>
                                                    </div>
													
														
												
													
												<div class="clear"></div>

												
												<legend class="heading-all-page">
												{% if data.cpachoice %} 
                                                        <input type="checkbox" class="checkbox" name="cpachoice" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    ">
														<span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox" name="cpachoice" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
   ">
														<span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
												CPA
												</legend>
												
												
												<div class="clear"></div>
												
												<div class="row" style="margin-left:0px;">
												<div class="form-group col-md-3 col-sm-12 pull-left" style="float:left;">
													<label>CPA Criterion</label>
													<select class="form-control affinfo_col_data height-specify" name="criteriaacquisition">
      
                                                        <option value="">Select </option>
                                                      {%for i in data.criteria_list %}
                                            {% if i == data.criteriaacquisition %}
                                            <option value="{{i}}" selected="selected">{{i}}</option>
                                            {%else%}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endif %}
                                        {%endfor%}

                                                    </select>
												</div>
												
												<div class="form-group col-md-3 col-sm-12 pull-left">
													<label>Baseline</label>
													<input type="number" class="form-control" name="criteriavalue" value="{{data.criteriavalue}}" id="" placeholder="">
												</div>
												
												<div class="form-group col-md-3 col-sm-12 pull-left">
													<label>CPA Amount</label>
													<input type="number" class="form-control" name="cpacommissionvalue" value="{{data.cpacommissionvalue}}" id="" placeholder="">
												</div>
												
													
												
												</div> <!-- Row -->
								
												<div class="clear"></div>
											
												
												<legend class="heading-all-page" style="margin-top:25px;">
												 {% if data.referalchoice %} 
                                                        <input type="checkbox" class="checkbox" name="referalchoice" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
  ">
														<span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox" name="referalchoice" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
   ">
														<span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
												Referral Affiliates
												</legend>
												

												<div class="form-group col-md-3 col-sm-12 pull-right" style="float:left;">
													<label>Revshare Percentage</label>
													<input type="number" class="form-control" name="referalcommissionvalue" value="{{data.referalcommissionvalue}}" id="" placeholder="">
												</div>
												
												
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                                {%if data.call == 'POST'%}
											   <button class="btn btn-purple button-large button-web-get" title="Make a POST request " type="submit" value="" style="">Submit</button>
                                            {% else %}
											<button class="btn btn-purple button-large button-web-get" type="submit" value="" style="">Submit</button>
											
											 {% endif %}
                                            </span>
                                        </div>
												
												
											</fieldset>
											
											
										
										
										</div>
                                      </fieldset>
                                        </form>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </div>
						
                            </div>
					</div>

					</div>
					
					
					
					
               
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->

<script>
        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>
</body>
</html>