<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{{partner}}</title>
    
    <link rel="icon" href="/static_files/new_wynta/images/favicon-dash.ico" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
     <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />

  
    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
  

<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <style>
    
    .to-from-date {padding-left: 10px;
    padding-top: 25px;}
    
    .start-end {
    width: 95px;
    padding-left: 20px;
    padding-top: 8px;
    }
    

   .button-large {margin-left:30px !important;} 
    
    
    label#multiple-checkboxes-error {    position: relative;
    top: 70px;
    left: -48px;}
    
    .delete-focus:focus {background:#ff0000 !important; border:none !important;}
    
    .multiselect-clear-filter, .multiselect-search {display:none;}
    
.btn-group {width:100%;}

.button-submit-one {    font-size: 14px !important;
    background: red;
    border: none;}
    
    .delete-focus, .delete-focus:hover {
    margin-left: 15px; background: red !important; border: none; height:32px;}
    
    
    
    .button-delete-one { font-size: 14px !important;
    background: #e6e6e6; height:32px;
    color: #000;
    border: none;}
    
    .button-delete-one:hover, .button-delete-one:focus {
    margin-top: 5px;
    margin-left: 15px; color:#000 !important; height:32px; background: #e6e6e6 !important; border:none !important;}


.btn-group>.btn:first-child {
    margin-left: 0;
    background: none;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    height: 38px;
    font-size: 14px;
    width: 245px;
    text-align: left;
    background: none !important;
    border: 1px solid #ccc !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;}

.multiselect-container>li>a>label {padding-left:0px;}

select.form-control:not([size]):not([multiple]) {height: calc(2.09rem + 2px) !important;}

label.margin-bottom-space {}

.dropdown-toggle::after { margin-top:-12px;}
.multiselect-container {  width:98.5%;  position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 100%;
    color: rgb(0, 0, 0);}
    
    label.checkbox {    color: #000 !important;
    vertical-align: middle;
    padding-left: 0;
    text-transform: capitalize;
    display: block;
    }
    
    .multiselect-container>li>a>label>input[type=checkbox] {
    vertical-align: middle;
    margin-right: 2px; margin-bottom:0px;
}
    .ui-dialog{
  z-index: 999999 !important;
  top: 120px !important;
}
    ul.inner {display:block;}
    
    .bs-placeholder {width: 100%;
    height: 38px;
    border-radius: 0;
    background: none;
    border: 1px solid #ccc;
    font-size: 14px;}
    
    .table td, .table th {border-top:none;}
    .selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
    .form-control {}
    .egcs_submit_button {margin-top: 5px;margin-left: 15px;}
    
    .button-delete { width: 85px;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
    
    .button-delete:hover { width: 85px;
    padding: 5px; height:32px;
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: -6px;}
    
    .delete-focus, .
    
    /****** CODE ******/

.file-upload{padding-top:0px; display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #e4e4e4;color: #34495e;cursor:pointer;height:32px;line-height:32px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#f2f2f2;padding:0 10px;display:inline-block;height:36px;line-height:36px;}
.file-upload .file-select .file-select-name{line-height:32px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select {height:40px;}

/****** CODE ******/

.im-field {    width: auto;
    margin-top: 10px;}
    
    .payment-button {    margin-top: 10px;
    border-radius: 0px;
    padding: 10px;
    width: 200px;
    border: none;
    box-shadow: none;}
    
    .payment-button:hover {    margin-top: 10px;
    border-radius: 0px;
    padding: 10px;
    width: 200px;
    border: none;
    box-shadow: none;}
    
.ui-dialog {position:fixed !important;}
#cover {position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99999;
    width: 100%;
    height: 100%;
   }
   
   .select-class-one {margin-top:15px;}

   .multiselect-selected-text{color:#67757c;}
.dropdown-toggle::after {color:#67757c;}




.multiselect-selected-text {width:97%;}

.multiselect-container {margin-top:-1px !important;overflow-x:hidden; overflow-y:scroll;}

.btn-group>.btn:first-child {outline:0 !important;}

.label-block {display:block;}

.dashboard-select {width:100% !important;}

.bootstrap-select.btn-group .dropdown-menu.show {padding-top:0; padding-bottom:0;}

.bootstrap-select.btn-group .dropdown-menu li a span.text,
.bootstrap-select.btn-group .dropdown-toggle .filter-option {color:#000;}

.bootstrap-select.btn-group .dropdown-menu.show, .bootstrap-select.btn-group .dropdown-menu.inner
 { margin-top:-1px;}
 
 .bootstrap-select.btn-group .dropdown-menu.inner {
    display: block;
    max-height: 200px !important;
    overflow-x: hidden;
    min-height: 100px;
}

.select-class-one {padding-left:10px;}

.bootstrap-select.btn-group .dropdown-menu {}
 
 .rev-question .tooltiptext {
    font-family: sans-serif;
    visibility: hidden;
    width: 275px;
    background-color: #e9e9e9;
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    right: -131px;
    font-size: 13px;
    padding: 10px;
    line-height: 21px;
}

.rev-question:hover .tooltiptext {
    visibility: visible;
}

.rev-question {
    position: relative;
    display: inline-block;
}
.rev-question {
    font-size: 16px;
}

.referal-help {
    position: relative;
    display: inline-block;
}
.referal-help {
    margin-left: 2px;
    font-size: 18px;
    color: #0091e0;
    cursor: pointer;
    top: 0px;
}

.referal-help:hover .tooltiptext {
    visibility: visible;
}
.referal-help .tooltiptext {
    font-family: sans-serif;
    visibility: hidden;
    width: 285px;
    background-color: #e9e9e9;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -76px;
    font-size: 13px;
    left: 150%;
    padding: 10px;
    line-height: 21px;
    text-align: left;
}

label.margin-bottom-space {
    width: 100px;
    text-align: left;
    float: left;
    display: inline;
}

.mobile-100 {width:100px; display:inline;}

.cam-input {width:80%;}

.aff-cam, .main-brand, .main-cam {width:100px;}

span.multiselect-native-select {width:100%;}

.form-inline .multiselect-container label.checkbox {padding-left:20px;}


@media (max-width: 767px) {

.referal-help .tooltiptext {
       background-color: #e9e9e9;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 28px;
    font-size: 13px;
    left: -192px;
    padding: 10px;
    line-height: 21px;
    text-align: left;
}

.fa-info-circle:before {
       content: "\f05a";
    right: 0;
    top: -19px;
}

.footer {position:relative;}

body { -webkit-overflow-scrolling: touch;}

.cam-input {width:98%;}

.btn-group>.btn:first-child {width:100%;}

.page-titles .breadcrumb {font-size:12px;}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.mobile-100 {width:100%; padding-right:0; display:block;}

.mobile-bot {margin-bottom:10px;}
label#multiple-checkboxes-error {top:58px;left:0; bottom:-10px;}
.btn-group {width:97% !important;}
.card {padding-left:20px}
    .im-left {width:30%;}
    .skype-right {width:70%;}
    .button-large {
    margin-top: 40px; 
}
}

label.error {
    color: #ff0000 !important;
    position: absolute;
    line-height: 1;
    font-size: 14px;
    margin-bottom: 7px;
    display: block;
    margin-top: 2px;
}

.font-small {font-size:13px;}
    
    </style>

</head>
<style type="text/css">

</style>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
    
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
        
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
                        <h3 class="text-primary">{{data.c_type}}</h3>
                    </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Commissions</a></li>
                        <li class="breadcrumb-item active">{{data.c_type}}</li>
                    </ol>
                
                    
                    
                    <div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
                                            <i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
                
                    
                </div>
            </div>
            <!-- End Bread crumb -->
           
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
                
 <div class="table-toolbar">
                            <div class="row" id="validation-div" style="display: none;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-danger alert-error-msg">
                                            <center> <span>Please add the values for commission you have checked. </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                
                                {%if data.message %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}

                                {% if data.affiliate_exist %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    
                                    <div class="alert alert-danger alert-error-msg">
                                            <center> <span>{{data.affiliate_exist}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-12 search-options">
                                        <div>
                                          {%if data.call == 'POST'%}
                                        <form action="/admin/affiliatecommission" data-method="POST" method="POST" id="affForm" enctype="multipart/form-data" onsubmit="return check_valid()" class="form-horizontal" novalidate="">
                                          {% else %}
                                          <form action="/admin/affiliatecommission/{{data.id}}" id="affForm" data-method="PUT" enctype="multipart/form-data" onsubmit="return check_valid()" name='affForm' role="form">
                                            {% endif %}
                                        <fieldset>
                                        
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
                                        
                                        <div class="row">
                                        
                                            <div class="form-group-all form-inline col-lg-12 col-md-12 col-sm-12 pull-left" style="display:none;">
                                                    
                                                {% if data.fk_affiliateinfo %}
                                                    <label class="mobile-100 col-lg-4 col-sm-12"><span class="aff-cam">Affiliate :</span> 
                                                        <!-- <input type="text" class="form-control aff-input-one" value="{{data.affiliate}}" id="" placeholder="" readonly> -->
                                                    <select id="subaff_id" name="fk_affiliateinfo" txt="{{data.fk_affiliateinfo}}" class="selectpicker dashboard-select" data-live-search="true" data-show-subtext="true" data-live-search="true" style="height:34px;border:1px solid #19b8f8;width:240px; font-size:14px;position: relative;" tabindex="-98">
                                        <option value=""> Select Affiliate </option>
                                        {% for aff in data.affiliates_list %}
                                            {% if aff.0|stringformat:"i" == data.fk_affiliateinfo|stringformat:"i" %}
                                            <option class="short" value="{{aff.0}}" selected="selected">{{aff.1}}</option>
                                            {% else %}
                                            <option class="short" value="{{aff.0}}">{{aff.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                          </select>
                                                    </label>
                                                    
                                                    <label class="mobile-100 col-lg-4 col-sm-12"><span class="main-brand">Brands :</span> 
                                                        <!-- <input type="text" class="form-control brand-input" value="{{data.brand}}" id="" placeholder="" readonly> -->
                                                    <select class="selectpicker dashboard-select" val="{{data.siteid}}" data-live-search="true" name="siteid" id="siteid">
                                                        <option value="">Select Brand</option>
                                        {%for i in data.sites_list %}
                                            {% if i.0|stringformat:"i" == data.siteid|stringformat:"i" %}
                                            <option class="short" data-limit='15' value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option class="short" data-limit='15' value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
                                                    </label>
                                                    
                                                    
                                                    
                                    <!-- <input type="hidden" class="form-control aff-input-one" name="fk_affiliateinfo" value="{{data.fk_affiliateinfo}}" id="" placeholder=""> -->
                                    
                                    
                                    {% elif data.fk_campaign %}
                                                    <label class="mobile-100 col-lg-4 col-sm-12"><span class="main-cam">Campaign :</span> <input type="text" class="form-control cam-input" value="{{data.campaign}}" id="" placeholder="" readonly></label>
                                                    
                                    <input type="hidden" class="form-control cam-input" name="fk_campaign" value="{{data.fk_campaign}}" id="" placeholder="">
                                    
                                    
                                    {% elif data.siteid %}
                                                    <label class="mobile-100 col-lg-4 col-sm-12"><span class="main-brand">Brands :</span> 
                                                        <!-- <input type="text" class="form-control brand-input" value="{{data.brand}}" id="" placeholder="" readonly> -->
                                                    <select class="selectpicker dashboard-select" val="{{data.siteid}}" name="siteid" id="siteid" required="required"  />
                                                        <option value="">Select Brand</option>
                                        {%for i in data.sites_list %}
                                            {% if i.0|stringformat:"i" == data.siteid|stringformat:"i" %}
                                            <option class="short" data-limit='15' value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option class="short" data-limit='15' value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
                                                    </label>
                                                    
                                                    
                                                    
                                    <!-- <input type="hidden" class="form-control brand-input" name="siteid" value="{{data.siteid}}" id="" placeholder=""> -->
                                   
                                    
                                    {% elif data.account_manager %}
                                                    
                                    {% endif %}
                                    <label class="mobile-100 col-lg-4 col-sm-12 show-div">
                                    <span class="aff-cam">Country :</span>
                                    
                                                    <select id="multiple-checkboxes" class="form-control dashboard-select" multiple="multiple" tabindex="-98" name="country">

                                        {%for i in data.country_list %}
                                                {% if i.0 in data.country %}
                                                
                                                <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                                {%else%}
                                                
                                                <option value="{{i.0}}">{{i.1}}</option>
                                                {% endif %}

                                        {%endfor%}
                                    </select>
                                    </label>
                                                
                                                </div>
                                        
                                        </div>
                                        
                                        
                                       <div class="profile-edit-details">
                                       
                                        
                                        <div class="to-from-date row">
                                                         
                                                        <div class="col-md-5 row">                         
                                                            <label for="from" class="start-end">Start Date</label>
                                                            <input type="text" id="start_date" name="start_date" value="{{data.start_date}}" class="col-md-7 form-control checkbox-all">
                                                        </div> 
                                                        
                                                        <div class="col-md-5 row">
                                                            <label for="to" class="start-end">End Date</label>
                                                            <input type="text" id="end_date" name="end_date" value="{{data.end_date}}" class="col-md-7 form-control checkbox-all">
                                                        </div>
                                                    
                                                    </div> <!-- End of To from date -->
                                        
                                        <p class="select-class-one">Select the type(s) of commission (check appropriate boxes), set triggers and relevant values where applicable:
                                                 <i class="fa fa-question-circle rev-question">
                                                 
                                                 <span class="tooltiptext">
                                                 
                                                 Choose to set commissions/ deals for your affiliates from a variety of options:<br/>
                                                 Revenue share (Revshare), Cost per Acquisition (CPA) or Revshare-CPA hybrids<br/><br/>
                                                 
                                                
                                                 
                                                 <a href="http://blog.wynta.com/" target='_blank' style="    color: #000;
    font-weight: bold;
    text-decoration: underline !important;transition: inherit;">Read how to do this in our Help Centre</a>
                                                 
                                                 </span>
                                                 </i></p>
                                        
                                             <fieldset>
                                             
                                    
                                    
                                                <legend class="heading-all-page">
                                                {% if data.revshare %} 
                                                        <input type="checkbox" class="checkbox checkbox-all" name="revshare" main="rev" id="revshare-checkbox" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox checkbox-all" name="revshare" main="rev" id="revshare-checkbox" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
                                                 Revenue share
                                                </legend>
                                        
                                        <div class="clear"></div>
                                        
                                        <div class="row rev-main" style="margin-left:0px;">
                                        
                                                <div class="form-group col-md-3 col-sm-12 pull-left" style="">
                                                    <label class="mb-3">Revenue share Percentage</label>
                                                    <input type="number" class="form-control rev-save" name="revsharepercent" value="{{data.revsharepercent}}" id="percent-rev" placeholder="" />
                                                </div>
												
												<div class="form-group col-md-9 col-sm-12 pull-right" style="float:left;" dal="{{data.ringfence}}" d="{{data.fk_campaign}}">
                                                    <label>
                                                    {% if data.ringfence == True %} 
                                                        <input type="checkbox" class="checkbox rev-save checkbox-all" name="ringfence" id="ringfence" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% elif data.ringfence == False %}
                                                        <input type="checkbox" class="checkbox rev-save checkbox-all" name="ringfence" id="ringfence" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox rev-save checkbox-all" name="ringfence" id="ringfence" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
                                                    Ring-fence
                                                    
                                                    </label><br/>

                                                    
                                                    <p class="font-small">Ring-fencing means protecting your affiliates from negative revenue. When this box is checked, if an affiliate generates negative revenue for a given month, it will be neutralized, i.e. zero-ed out. In case of a hybrid deal, ring-fencing would allow your affiliates to earn the CPA amount they are eligible for. Unchecking the box would mean the negative would affect their Revenue share.</p>
                                                    
                                                    </div>
                                                
                                                
                                                    {% if not data.fk_campaign %}
													
													 <div class="form-group col-md-3 col-sm-12 pull-left" style="">
															<label class="mb-3">Deductions</label>
															<input type="number" class="form-control rev-save" name="revsharepercent" value="{{data.revsharepercent}}" id="percent-rev" placeholder="" />
													 </div>
                                                    
													
													
                                                <div class="form-group col-md-9 col-sm-12 pull-right" style="float:left;" dal="{{data.pocdeduction}}">
                                                    <label>
                                                    {% if data.pocdeduction == True %} 
                                                        <input type="checkbox" class="checkbox rev-save checkbox-all" name="pocdeduction" id="pocdeduction" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% elif data.pocdeduction == False %}
                                                        <input type="checkbox" class="checkbox rev-save checkbox-all" name="pocdeduction" id="pocdeduction" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox rev-save checkbox-all" name="pocdeduction" id="pocdeduction" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
                                                    POCT Deduction
                                                    
                                                    </label><br/>
                                                    <p class="font-small">POCT is the Point of Consumption Tax deducted by the Gambling Commission you are licensed with. When this box is checked, you are deducting the affiliate's contribution towards it, and it will be minused further from the Revenue share percentage you have set here. You may choose to exclude this deduction by unchecking the box.</p>
                                                    
                                                    
                                                    
                                                    </div>
                                                    
													
                                                    {% endif %}
                                                    
                                             
                                                    
                                                
                                                    
                                                    
                                                        
                                                </div> <!-- Rev share first -->
                                                    
                                                <div class="clear"></div>

                                                
                                                <legend class="heading-all-page">
                                                {% if data.cpachoice %} 
                                                        <input type="checkbox" id="cpa-checkbox" class="checkbox checkbox-all" name="cpachoice" main="cpa" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
   
    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox"  id="cpa-checkbox" class="checkbox checkbox-all" name="cpachoice" main="cpa" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
   ">
                                                        <span class="checkmid="cpa-checkbox" ark"></span>
                                                        {% endif %} &nbsp;&nbsp;
                                                CPA
                                                </legend>
                                                
                                                
                                                <div class="clear"></div>
                                                
                                                <div class="row cpa-main" style="margin-left:0px;">
                                                
                                                <div class="form-group col-md-3 col-sm-12 pull-left" style="float:left;">
                                                    <label>CPA Criterion</label>
                                                    <select class="form-control affinfo_col_data height-specify cpa-save" id="select-criteria" name="criteriaacquisition">
      
                                                        <option value="">Select </option>
                                                      {%for i in data.criteria_list %}
                                            {% if i == data.criteriaacquisition %}
                                            <option value="{{i}}" selected="selected">{{i}}</option>
                                            {%else%}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endif %}
                                        {%endfor%}

                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3 col-sm-12 pull-left">
                                                    <label>Currency</label>
                                                    <select name="currency" class="form-control  cpa-save">
                                                    {% if data.currency == 'euro' %}
                                                    <option value="gbp">GBP</option>
                                                    <option value="euro" selected="selected">Euro</option>
                                                    {% else %}
                                                    <option value="gbp" selected="selected">GBP</option>
                                                    <option value="euro">Euro</option>
                                                    {% endif %}
                                                    
                                                </select>
                                                </div>
                                                <div class="form-group col-md-3 col-sm-12 pull-left">
                                                    <label>Baseline </label>
                                                    {% if data.criteriavalue == 0 %}
                                                    <input type="number" class="form-control cpa-save" name="criteriavalue" value="0.00" id="baseline-cpa" placeholder="0.00">
                                                    {% else %}
                                                    <input type="number" class="form-control cpa-save" name="criteriavalue" value="{{data.criteriavalue}}" id="baseline-cpa" placeholder="0.00">
                                                    {% endif %}
                                                </div>
                                                
                                                <div class="form-group col-md-3 col-sm-12 pull-left">
                                                    <label>CPA Amount </label>
                                                    <input type="number" class="form-control cpa-save" id="cpa-amount" name="cpacommissionvalue" value="{{data.cpacommissionvalue}}" id="" placeholder="0.00">
                                                </div>
                                                
                                                    
                                                    
                                                    
                                                
                                                </div> <!-- Row -->
                                                
                                                
                                                <div class="form-group col-md-12 col-sm-12 pull-right  mt-2 exclude_data" dal="{{data.exclude_rev}}">
                                                    <label>
                                                    {% if data.exclude_rev == True %} 
                                                        <input type="checkbox" class="checkbox checkbox-all" name="exclude_rev" id="exclude_rev" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% elif data.exclude_rev == False %}
                                                        <input type="checkbox" class="checkbox checkbox-all" name="exclude_rev" id="exclude_rev" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox checkbox-all" name="exclude_rev" id="exclude_rev" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
                                                    Exclude Revenue share for qualifying first deposit
                                                    
                                                    </label><br/>
                                                    
                                                    <p class="font-small">NB: Applicable only on CPA-Revenue share Hybrid deals (both sections above must be activated)
If you would like to exclude Revenue share for the first deposit of a player (which triggered the CPA), please leave this box checked. Unchecking it will award your affiliate both the CPA amount as well as the Revenue share for that deposit. Revenue share for subsequent deposits by the same player will not be affected either way.</p>
                                                    
                                                    </div>
                                                    
                                
                                                <div class="clear"></div>
                                            
                                                
                                                <legend class="heading-all-page" style="margin-top:25px;">
                                                 {% if data.referalchoice %} 
                                                        <input type="checkbox" class="checkbox checkbox-all" name="referalchoice" main="ref" id="referal-checkbox" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
  ">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox checkbox-all" name="referalchoice" main="ref" id="referal-checkbox" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;

    display: inline-block;
    position: relative;
   ">
                                                        <span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
                                                Referral Affiliates 
                                                <i class="fa fa-info-circle referal-help">
                                                <p class="tooltiptext">You can choose to pay your affiliates an additional component for referring other affiliates to sign up. When the referred affiliates start generating revenue, you can award the referring affiliate a percentage of the earnings of the referred affiliates. You could, however, choose not to use this option.</p>
                                                </i>
                                                </legend>
                                                
                                            <div class="row ref-main" style="margin-left:0px;"> 

                                                <div class="form-group col-md-3 col-sm-12 pull-right" style="float:left;">
                                                    <label>Revshare Percentage</label>
                                                    <input type="number" class="form-control ref-save" name="referalcommissionvalue" value="{{data.referalcommissionvalue}}" id="percent-ref" placeholder="">
                                                </div>
                                                
                                                </div> <!-- Rev referal div ends -->
                                                
                                                
                                                <div class="row submit-endb">
                                                
                                                
                                                <div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                                {%if data.call == 'POST'%}
                                               <button class="btn btn-purple button-large button-web-get submit-endb-hide" title="" type="submit" value="" style="">Submit</button>
                                            {% else %}
                                            <button class="btn btn-purple button-large button-web-get submit-endb-hide" type="submit" value="" onclick="return check_valid()" style="">Submit</button>
                                            
                                             {% endif %}
                                            </span>
                                        </div>
                                        
                                        </div> <!-- Submit button div -->
                                                
                                                
                                            </fieldset>
                                            
                                            
                                        
                                        
                                        </div>
                                      </fieldset>
                                        </form>
                                        
                                        </form>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </div>
                        
                            </div>
                    </div>

                    </div>
                    
                    
                    
                    
               
          </div> <!-- First div card -->
          
          

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
             {% include "partner/new_design/footer-1.html" %}

           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  
    

    
    
     
</div>
    

<script>

document.querySelector(".rev-save").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});
        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
    
 <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    
       <script>

//paste this code under head tag or in a seperate js file.
// Wait for window load
$(window).load(function() {
    // Animate loader off screen
    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
});
</script> 
<script>
$("#multiple-checkboxes, #datepicker").change(function(){
$(this).siblings('label#multiple-checkboxes-error, label#datepicker-error').hide();
});
</script>

<script type="text/javascript">
    $(document).ready(function() {
       $('#multiple-checkboxes').multiselect({
        includeSelectAllOption: true,
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Select Country'
    }, 'selectAll');
       
       $("#multiple-checkboxes").multiselect('updateButtonText');
        $('.form-group-all').show();
    $("#multiple-checkboxes").multiselect('select', {{data.country|safe}});
                });
    $('#subaff_id option[value="{{data.fk_affiliateinfo}}"]').prop('selected', true);
    $('.selectpicker').selectpicker('refresh');
    
</script>

<script>

              
              </script>
              
              <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>  
 
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <script src="//code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script>
  $(document).ready(function() {
		$('.itemd').removeClass("active");
		$('.itemd[href="/admin/commissions-default/c#"]').addClass("active");
		//$('#commissionsadmin').addClass("active");
	});
</script>
  
 <script>
$('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');


function check_valid(){

     
     $('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');

    if ($('#revshare-checkbox').prop('checked')== true && $('#percent-rev').val()==''){
        $('#validation-div').show();
        return false;
    }
    if ($('#referal-checkbox').prop('checked')== true && $('#percent-ref').val()==''){
        $('#validation-div').show();
        return false;
    }
    if ($('#cpa-checkbox').prop('checked')== true && ($('#select-criteria').val()=='' || $('#cpa-amount').val()=='' || $('#baseline-cpa').val()=='')){
        $('#validation-div').show();    
        return false;
    }
    
    $('#validation-div').hide();	
    return true;
	$('.preloader').show();
}
  $(document).ready(function(){
    
    $('.submit-endb-hide').prop('disabled', true);
    {% if data.cpachoice and data.revshare %} 
        $('.exclude_data, #exclude_rev').prop('disabled', false);
        $('.exclude_data').css('opacity', '1');
    {% else %}
        $('.exclude_data, #exclude_rev').prop('disabled', true);
        $('.exclude_data').css('opacity', '0.5');
    {% endif %}
    {% if not data.revshare %} 
        $('.rev-save').prop('disabled', true);
        $('.rev-main').css('opacity', '0.5');
    {% endif %}
    {% if not data.cpachoice %} 
        $('.cpa-save').prop('disabled', true);
        $('.cpa-main').css('opacity', '0.5');
    {% endif %}
    {% if not data.referalchoice %}
        $('.ref-save').prop('disabled', true);
        $('.ref-main').css('opacity', '0.5');
    {% endif %}
    
    $('.ref-save, .cpa-save, .rev-save').keyup(function() {
        $('.submit-endb-hide').prop('disabled', false);
    });
    
    $('select').change(function() {
    
        $('.submit-endb-hide').prop('disabled', false);
    });
    
    $('.multiselect-item').addClass('checkbox-all');

     $('.checkbox-all').click(function(){

        
         if($('.checkbox-all:checked').length==0 && $('#affForm').attr('data-method') == 'POST') 
         {
         $('.submit-endb-hide').prop('disabled', true);
        }
         else{
               $('.submit-endb-hide').prop('disabled', false);
         }
        
        if($(this).is(':checked')){
            $('.'+$(this).attr('main')+'-save').prop('disabled', false);   
             $('.'+$(this).attr('main')+'-main').css('opacity', '1');
         }
         else{
            $('.'+$(this).attr('main')+'-save').prop('disabled', true);
            $('.'+$(this).attr('main')+'-save').val('');
             $('.'+$(this).attr('main')+'-main').css('opacity', '0.5');
       }
       if ($('input[name="cpachoice"]').is(':checked') && $('input[name="revshare"]').is(':checked'))
       {
            $('.exclude_data, #exclude_rev').prop('disabled', false);
            $('.exclude_data').css('opacity', '1');
       }
	   
	   else{
			$('.exclude_data, #exclude_rev').prop('disabled', true);
         $('.exclude_data').css('opacity', '0.5');
	  }
        
    });
  
});

  </script>
  
 <script>
    $( function() {
        var dateFormat = "dd-M-yy",
            from = $( "#start_date" )
                .datepicker({
                    //defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd-mm-yy",
                })
                .on( "change", function() {
                    to.datepicker( "option", "minDate", getDate( this ) );
                }),
            to = $( "#end_date" ).datepicker({
               // defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: "dd-mm-yy",
            })
            .on( "change", function() {
                from.datepicker( "option", "maxDate", getDate( this ) );
            });

        function getDate( element ) {
            var date;
            try {
                date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
                date = null;
            }

            return date;
        }
    } );
    </script>
 
<!-- <script> -->
  <!-- $( function() { -->
    <!-- $( "#dob" ).datepicker({changeYear: true,changeMonth:true,yearRange: "-100:+0", maxDate: "-18y",dateFormat: "dd-mm-yy",}); -->
  <!-- } ); -->
  <!-- </script> -->
  
  <div id="cover" style="display:none;"></div>

</body>
</html>