<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />


    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 

<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
	


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<style>
	
	.form-group-all {margin-bottom:10px;}
	
	.btn-group>.btn:first-child, span.multiselect-native-select {outline:0 !important;
	width:100%;}
	
	.multiselect::after {margin-left:-4px;}
	
	.open {
    max-height: 200px !important;
    transform: inherit !important;
    /* top: 40px !important; */
}
.btn-group {
    width: 100% !important;
}

.multiselect {
    height: 35px !important;
    /* padding-right: 25px !important; */
    line-height: 20px !important;
    font-size: 14px !important;
    margin-left: -1px !important;
    width: 100% !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;
    position: relative;
    /* top: 6px; */
    background: none;
    border: 1px solid #0091e0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}


.multiselect-container {
    position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 100%;
    color: rgb(0, 0, 0);
    margin-top: 0 !important;
    margin-left: 0px !important;
}
	
.bs-searchbox {display:none;}
	
	.dashboard-select > button {
    
   height: 35px !important;
    /* padding-right: 25px !important; */
    line-height: 20px !important;
    font-size: 14px !important;
    margin-left: -1px !important;
    width: 100% !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;
    position: relative;
    /* top: 6px; */
    background: #1976d2;
    border: 1px solid #1976d2;
    -webkit-box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
	border-radius: 0;
	background: none; color:#000000 !important;
    border: 1px solid #0091e0 !important;

}

.bootstrap-select.btn-group .dropdown-menu.inner {
    display: block;
    max-height: 200px !important;
    overflow:hidden;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    color: #000;
}

.dropdown-menu.show {
        display: block;
    margin-top: 34px;
    padding-top: 0;
    padding-bottom: 0px;
    margin-left: -1px;
}

.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio
 {color:#000 !important; 
  }
  .multiselect-container>li>a {padding-left:25px;}
  
  .multiselect-container>li>a>label {text-align:left !important; padding-left:0 !important;
  justify-content:left;}
	.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio]
	{margin-right:5px;}

.multiselect-clear-filter {display:none;}
	
	
	@media (device-height: 1024px) and (device-width: 768px) and (orientation: portrait)
	{
		.aff-cam {width: 90px !important;}
	}
	
	.mobile-100 {color:#000;}
	select {
  width: 160px;
}
option {
  width: 160px;
}
	
	.height-specify {height:36px !important;}
	
	#affiliate {height:35px !important;}
	
	.table td, .table th {border-top:none;}
	.selectpicker {}
	.form-control {height:36px;}
	.egcs_submit_button {margin-top: 5px;margin-left: 15px;}
	
	
	 /* Hide the browser's default checkbox */
.checkbox {
 
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
       position: absolute;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-left: -20px;
    border: 1px solid #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
   left: 7px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.select-class-one {color:#67757c;margin:10px; padding:10px; padding-left:0; margin-top:-5px;}

.bg-success {
    background-color: #28a745!important;
}

.font-small {  font-style:italic;  line-height: 18px;
    font-size: 13px}
	
	.col-md-3 {margin-right:15px !important;}
	
	.button-web-get {margin-top:25px;}
	.card {padding-bottom:10px;}
	.main-cam {width: 100px;}
	.main-brand {width:85px;}
	.aff-cam {width:85px; }
	.cam-input {width:170px !important;}
	.aff-input-one {width:186px !important;}
	.brand-input {width:190px !important;}
	.disabled {cursor: not-allowed;}
	.cpa-main, .ref-main {margin-top:20px;}
	.submit-endb {margin-left:0;}
	
	.referal-help {     margin-left: 2px;
    font-size: 18px;
    color: #0091e0;
    cursor: pointer;
    top: 0px;}
	.rev-question {font-size:16px;}
	
	
	
	
	
	.referal-help {
    position: relative;
    display: inline-block;
   
}

.referal-help .tooltiptext {
	font-family: sans-serif;
    visibility: hidden;
    width: 285px;
    background-color: #e9e9e9;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -76px;
    font-size: 13px;
    left: 150%;
    padding: 10px;
    line-height: 21px;
    text-align: left;
}

.referal-help .tooltiptext::after {
	font-family: sans-serif;
     content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #e9e9e9 transparent transparent;
}

.referal-help:hover .tooltiptext {
     visibility: visible;
}









.rev-question{
     position: relative;
    display: inline-block;
    
}

.rev-question .tooltiptext {
	    font-family: sans-serif;
    visibility: hidden;
    width: 275px;
    background-color: #e9e9e9;
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    right: -131px;
    font-size: 13px;
    padding: 10px;
    line-height: 21px;
}

.rev-question .tooltiptext::after {
	font-family: sans-serif;
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #e9e9e9 transparent;
}

.rev-question:hover .tooltiptext {
     visibility: visible;
}



@media (max-width: 767px) {

.btn-group {
    width: 100% !important;
}

.select-class-one {font-size:12.5px;}


.rev-question .tooltiptext {
        font-family: sans-serif;
    visibility: hidden;
    width: 280px;
    background-color: #e9e9e9;
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    right: -111px;
    font-size: 13px;
    padding: 10px;
    line-height: 21px;

}


.referal-help {
    position: relative;
    display: inline-block;
    
}

.referal-help .tooltiptext {
    visibility: hidden;
    width: 285px;
    background-color: #e9e9e9;
    color: #000;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 160%;
    left: -193px;
    font-size: 13px;
    padding: 10px;
    line-height: 21px;
    
}

.rev-question .tooltiptext::after {
    display:none;
}

.referal-help .tooltiptext::after {
    display:none;
}

.referal-help:hover .tooltiptext {
    visibility: visible;
}


.aff-cam {width:100%; display:block;}

.mobile-100 {width:100%; padding:10px; padding-bottom:0;}

#subaff_id, #siteid {width:100% !important; margin-top:10px; left:0px !important;}

.button-web-get {margin-left:0px;}

.slimScrollDiv { overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /*MAKES OVERFLOWN OBJECTS HAVE INERTIA SCROLLING*/
    -webkit-transform: translateZ(0px); /*HELPS THE ABOVE WORK IN IOS5*/}

}

	
	</style>
	
	

</head>
<style type="text/css">

</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
						<h3 class="text-primary">{{data.c_type}}</h3>
					</div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Commissions</a></li>
                        <li class="breadcrumb-item active">{{data.c_type}}</li>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
           
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                
 <div class="table-toolbar">
                                
                                {%if data.message %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}

                                {% if data.affiliate_exist %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    
									<div class="alert alert-danger alert-error-msg">
                                            <center> <span>{{data.affiliate_exist}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-12 search-options">
                                        <div>
                                          {%if data.call == 'POST'%}
                                        <form action=" /admin/affiliatecommission" data-method="POST" method="POST" id="affForm" enctype="multipart/form-data" class="form-horizontal" novalidate="">
                                          {% else %}
                                          <form action= " /admin/affiliatecommission/{{data.id}}" id="affForm" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" novalidate>
                                            {% endif %}
                                        <fieldset>
                                        
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
										
										<div class="row">
										
											<div class="form-group-all form-inline col-lg-12 col-md-12 col-sm-12 pull-left" style="display:none;">
													
                                                {% if data.fk_affiliateinfo %}
                                                    <label class="mobile-100 col-lg-4 col-sm-12"><span class="aff-cam">Affiliate :</span> 
                                                        <!-- <input type="text" class="form-control aff-input-one" value="{{data.affiliate}}" id="" placeholder="" readonly> -->
                                                    <select id="subaff_id" name="fk_affiliateinfo" txt="{{data.fk_affiliateinfo}}" class="selectpicker dashboard-select" data-live-search="true" data-show-subtext="true" data-live-search="true" style="height:34px;border:1px solid #19b8f8;width:240px; font-size:14px;position: relative;" tabindex="-98">
                                        <option value=""> Select Affiliate </option>
                                        {% for aff in data.affiliates_list %}
                                            {% if aff.0|stringformat:"i" == data.fk_affiliateinfo|stringformat:"i" %}
                                            <option class="short" value="{{aff.0}}" selected="selected">{{aff.1}}</option>
                                            {% else %}
                                            <option class="short" value="{{aff.0}}">{{aff.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                          </select>
                                                    </label>
													
													<label class="mobile-100 col-lg-4 col-sm-12"><span class="main-brand">Brand :</span> 
                                                        <!-- <input type="text" class="form-control brand-input" value="{{data.brand}}" id="" placeholder="" readonly> -->
                                                    <select class="selectpicker dashboard-select" val="{{data.siteid}}" data-live-search="true" name="siteid" id="siteid">
                                                        <option value="">Select Site</option>
                                        {%for i in data.sites_list %}
                                            {% if i.0|stringformat:"i" == data.siteid|stringformat:"i" %}
                                            <option class="short" data-limit='15' value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option class="short" data-limit='15' value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
                                                    </label>
													
													
													
                                    <!-- <input type="hidden" class="form-control aff-input-one" name="fk_affiliateinfo" value="{{data.fk_affiliateinfo}}" id="" placeholder=""> -->
                                    
                                    
                                    {% elif data.fk_campaign %}
                                                    <label class="mobile-100 col-lg-4 col-sm-12"><span class="main-cam">Campaign :</span> <input type="text" class="form-control cam-input" value="{{data.campaign}}" id="" placeholder="" readonly></label>
                                                    
                                    <input type="hidden" class="form-control cam-input" name="fk_campaign" value="{{data.fk_campaign}}" id="" placeholder="">
                                    
                                    
                                    {% elif data.siteid %}
                                                    <label class="mobile-100 col-lg-4 col-sm-12"><span class="main-brand">Brand :</span> 
                                                        <!-- <input type="text" class="form-control brand-input" value="{{data.brand}}" id="" placeholder="" readonly> -->
                                                    <select class="selectpicker dashboard-select" val="{{data.siteid}}" name="siteid" id="siteid">
                                                        <option value="">Select Site</option>
                                        {%for i in data.sites_list %}
                                            {% if i.0|stringformat:"i" == data.siteid|stringformat:"i" %}
                                            <option class="short" data-limit='15' value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option class="short" data-limit='15' value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
                                                    </label>
													
													
                                                    
                                    <!-- <input type="hidden" class="form-control brand-input" name="siteid" value="{{data.siteid}}" id="" placeholder=""> -->
                                   
                                    
                                    {% elif data.account_manager %}
                                                    
                                    {% endif %}
									<label class="mobile-100 col-lg-4 col-sm-12">
									<span class="main-brand">Country :</span> 
													<select id="multiple-country" multiple="multiple" class="form-control" tabindex="-98" name="country" style="display: none;">
                                                        <option value="">Select Country</option>
                                        {%for i in data.country_list %}
                                            {% if i in data.country %}
                                            
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
									</label>
												</div>
										
										</div>
										
										
                                       <div class="profile-edit-details">
									   
									
											 <p class="select-class-one">Select the type(s) of commission (check appropriate boxes), set triggers and relevant values where applicable:
												 <i class="fa fa-question-circle rev-question">
												 
												 <span class="tooltiptext">
												 
												 Choose to set commissions/ deals for your affiliates from a variety of options:<br/>
												 Revenue share (Revshare), Cost per Acquisition (CPA) or Revshare-CPA hybrids<br/><br/>
												 
												
												 
												 <a href="http://blog.wynta.com/" target='_blank' style="    color: #000;
    font-weight: bold;
    text-decoration: underline !important;transition: inherit;">Read how to do this in our Help Centre</a>
												 
												 </span>
												 </i></p>
										
										
										
										
										
										
											 <fieldset>
											 
									
									
												<legend class="heading-all-page">
												{% if data.revshare %} 
                                                        <input type="checkbox" class="checkbox checkbox-all" name="revshare" main="rev" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    ">
														<span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox checkbox-all" name="revshare" main="rev" id="revshare-checkbox" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    ">
														<span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
												 Revenue share
												</legend>
										
										<div class="clear"></div>
										
										<div class="row rev-main" style="margin-left:0px;">
										
												<div class="form-group col-md-3 col-sm-12 pull-left" style="">
													<label>Revenue share Percentage</label>
													<input type="number" class="form-control rev-save" name="revsharepercent" value="{{data.revsharepercent}}" id="" placeholder="" />
												</div>
												
												
                                                <div class="form-group col-md-8 col-sm-12 pull-right" style="float:left;">
                                                    <label>
													{% if data.pocdeduction == True %} 
                                                        <input type="checkbox" class="checkbox rev-save" name="pocdeduction" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% elif data.pocdeduction == False %}
                                                        <input type="checkbox" class="checkbox rev-save" name="pocdeduction" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox rev-save" name="pocdeduction" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    ">
                                                        <span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
													POCT Deduction
													
													</label><br/>
                                                    <p class="font-small">POCT is the Point of Consumption Tax deducted by the Gambling Commission you are licensed with. When this box is checked, you are deducting the affiliate's contribution towards it, and it will be minused further from the Revenue share percentage you have set here. You may choose to exclude this deduction by unchecking the box.</p>
                                                    </div>
													
														
												</div> <!-- Rev share first -->
													
												<div class="clear"></div>

												
												<legend class="heading-all-page">
												{% if data.cpachoice %} 
                                                        <input type="checkbox" class="checkbox checkbox-all" name="cpachoice" main="cpa" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
    ">
														<span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox"  id="cpa-checkbox" class="checkbox checkbox-all" name="cpachoice" main="cpa" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
   ">
														<span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
												CPA
												</legend>
												
												
												<div class="clear"></div>
												
												<div class="row cpa-main" style="margin-left:0px;">
												
												<div class="form-group col-md-3 col-sm-12 pull-left" style="float:left;">
													<label>CPA Criterion</label>
													<select class="form-control affinfo_col_data height-specify cpa-save" id="" name="criteriaacquisition">
      
                                                        <option value="">Select </option>
                                                      {%for i in data.criteria_list %}
                                            {% if i == data.criteriaacquisition %}
                                            <option value="{{i}}" selected="selected">{{i}}</option>
                                            {%else%}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endif %}
                                        {%endfor%}

                                                    </select>
												</div>
												
												<div class="form-group col-md-3 col-sm-12 pull-left">
													<label>Baseline (&pound;)</label>
                                                    {% if data.criteriavalue == 0 %}
                                                    <input type="number" class="form-control cpa-save" name="criteriavalue" value="0.00" id="" placeholder="0.00">
                                                    {% else %}
													<input type="number" class="form-control cpa-save" name="criteriavalue" value="{{data.criteriavalue}}" id="" placeholder="0.00">
                                                    {% endif %}
												</div>
												
												<div class="form-group col-md-3 col-sm-12 pull-left">
													<label>CPA Amount (&pound;)</label>
													<input type="number" class="form-control cpa-save" name="cpacommissionvalue" value="{{data.cpacommissionvalue}}" id="" placeholder="0.00">
												</div>
												
													
												
												</div> <!-- Row -->
								
												<div class="clear"></div>
											
												
												<legend class="heading-all-page" style="margin-top:25px;">
												 {% if data.referalchoice %} 
                                                        <input type="checkbox" class="checkbox checkbox-all" name="referalchoice" main="ref" value="true" checked style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
  ">
														<span class="checkmark"></span>
                                                        {% else %}
                                                        <input type="checkbox" class="checkbox checkbox-all" name="referalchoice" main="ref" id="referal-checkbox" value="true" style="width: 20px !important;
    height: 20px;
    vertical-align: top;
    z-index: 9999;
    display: inline-block;
    position: relative;
   ">
														<span class="checkmark"></span>
                                                        {% endif %} &nbsp;&nbsp;
												Referral Affiliates 
												<i class="fa fa-info-circle referal-help">
												<p class="tooltiptext">You can choose to pay your affiliates an additional component for referring other affiliates to sign up. When the referred affiliates start generating revenue, you can award the referring affiliate a percentage of the earnings of the referred affiliates. You could, however, choose not to use this option.</p>
												</i>
												</legend>
												
											<div class="row ref-main" style="margin-left:0px;">	

												<div class="form-group col-md-3 col-sm-12 pull-right" style="float:left;">
													<label>Revshare Percentage</label>
													<input type="number" class="form-control ref-save" name="referalcommissionvalue" value="{{data.referalcommissionvalue}}" id="" placeholder="">
												</div>
												
												</div> <!-- Rev referal div ends -->
												
												
												<div class="row submit-endb">
												
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                                {%if data.call == 'POST'%}
											   <button class="btn btn-purple button-large button-web-get submit-endb-hide" title="Make a POST request " type="submit" value="" style="">Submit</button>
                                            {% else %}
											<button class="btn btn-purple button-large button-web-get submit-endb-hide" type="submit" value="" style="">Submit</button>
											
											 {% endif %}
                                            </span>
                                        </div>
										
										</div> <!-- Submit button div -->
												
												
											</fieldset>
											
											
										
										
										</div>
                                      </fieldset>
                                        </form>
										
										</form>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </div>
						
                            </div>
					</div>

					</div>
					
					
					
					
               
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
	
	<!-- <script> -->
	
			<!-- $(".button-web-get").click(function(){ -->
    <!-- if($('form').find('input[type=checkbox]:checked').length == 0) -->
    <!-- { -->
        <!-- alert('Please select atleast one checkbox'); -->
		<!-- return false; -->
    <!-- } -->
	<!-- return true; -->
<!-- }); -->

	
	<!-- </script> -->
	
	<script>
        $(document).ready(function() {
		
          $('form').ajaxForm();
        });
      </script>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

	<script>
		$(document).ready(function() {
			 $('#multiple-country').multiselect({			 
        includeSelectAllOption: true,
        enableFiltering: true,
        allSelectedText:'All Countries',
		selectAllText: true,
        nonSelectedText: 'Select Country'
    }, 'selectAll');
    // $("#multiple-checkboxes").multiselect('selectAll', false);
    $("#multiple-country").multiselect('updateButtonText');
	$("#multiple-country, .group-by-all").show();
	$("#multiple-country").multiselect('select', {{data.country|safe}});
	$('.form-group-all').show();
		});
	</script>
	<script>

	$(document).ready(function(){
	
    $('.submit-endb-hide').prop('disabled', true);
        {% if not data.revshare %} 
    $('.rev-save').prop('disabled', true);
    $('.rev-main').css('opacity', '0.5');
    {% endif %}
    {% if not data.cpachoice %} 
    $('.cpa-save').prop('disabled', true);
    $('.cpa-main').css('opacity', '0.5');
    {% endif %}
    {% if not data.referalchoice %}
    $('.ref-save').prop('disabled', true);
    $('.ref-main').css('opacity', '0.5');
    {% endif %}
    
	
	
	$('.checkbox-all').click(function(){
        
        if($('.checkbox-all:checked').length==0 && $('#affForm').attr('data-method') == 'POST') 
        {
		$('.submit-endb-hide').prop('disabled', true);
        }
		else{
		      $('.submit-endb-hide').prop('disabled', false);
		}
		
		if($(this).is(':checked')){
			$('.'+$(this).attr('main')+'-save').prop('disabled', false);
			
			$('.'+$(this).attr('main')+'-main').css('opacity', '1');
		}
		else{
			$('.'+$(this).attr('main')+'-save').prop('disabled', true);
		    $('.'+$(this).attr('main')+'-save').val('');
			$('.'+$(this).attr('main')+'-main').css('opacity', '0.5');
		}
		
    });

    <!-- $('#cpa-checkbox').click(function(){ -->
        <!-- if($(this).is(':checked')) -->
        <!-- { -->
           <!-- $('.cpa-save').prop('disabled', false); -->
		   
			<!-- $('.cpa-main').css('opacity', '1'); -->
        <!-- } -->
        <!-- else -->
        <!-- { -->
		
		 <!-- $('.cpa-save').prop('disabled', true); -->
		
		 <!-- $('.cpa-main').css('opacity', '0.5'); -->
            
        <!-- } -->
    <!-- }); -->
	
	<!-- $('#referal-checkbox').click(function(){ -->
        <!-- if($(this).is(':checked')) -->
        <!-- { -->
           <!-- $('.ref-save').prop('disabled', false); -->
		   <!-- $('.submit-endb-hide').prop('disabled', false); -->
			<!-- $('.ref-main').css('opacity', '1'); -->
        <!-- } -->
        <!-- else -->
        <!-- { -->
		
		 <!-- $('.ref-save').prop('disabled', true); -->
		 <!-- $('.submit-endb-hide').prop('disabled', true); -->
		 <!-- $('.ref-main').css('opacity', '0.5'); -->
            
        <!-- } -->
    <!-- }); -->
	
	
});

</script>


	  
</body>
</html>