<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<meta name="author" content="" />

	<title>{{partner}} - Affiliate Activity</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">


	  <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
     <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
   <link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/bootstrap-multiselect.css" />
    
<link href="/static_files/new_wynta/css/reports.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style type="text/css">
    
</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
						<h3 class="text-primary">Affiliate Activity</h3>
				
				</div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Reports</a></li>
                        <li class="breadcrumb-item active">Affiliate Activity</li>
                    </ol>
				
					
					
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			
			<div class="row p-l-r-10">
			<div class="col-lg-12 p-l-0 p-r-0">
			<div class="card-title">
                              
							  <form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();">  
					
							
							<div class="container-fluid bottom20">
					
						<div class="row">
						
						<div class="col-lg-1 p-l-0 p-r-0 m-minus-15">
						
						<span class="width-small">Group By</span>
						</div>
						
								<div class="form-group col-lg-2 col-md-3 col-sm-12 size-width p-l-0">
									
									<select class="brand-group multiple-groupby form-group selectpicker dashboard-select" name="groupby" id="multiple-groupby" style="display:block !important;">	
										<option value="brand">Brand</option>
                                            <option value="affiliate">Affiliate</option>
                                            <option value="campaign">Campaign</option>
                                            <option value="dynamic">Dynamic</option>
                                            <option value="daily">Daily</option>
                                            <option value="month">Monthly</option>
                                            <option value="yearly">Yearly</option>
									</select>
								</div>
								
								<div class="form-group col-lg-2 col-md-3 col-sm-12 size-width p-l-0">
                                    <button type="button" class="btn btn-default filter-button collapsed" id='hideshow' data-toggle="collapse" data-target="#demo"><span class="select-filter"><!--<i class="fa fa-filter"></i>--> Filters</span></button>
                                </div>
								
								<div class="form-group col-lg-2 col-md-2 d-none d-lg-block d-md-block p-l-0">
									<input type="submit" value="Submit" class="btn  btn-success egcs_submit_button">
								</div>	
								
								<div class="form-group col-lg-6 col-md-6 col-sm-6 mobile-50 date-mobile p-l-0" style="display:none;">   
 
									<div id="daterange1">
									<span>{{from_date}} - {{to_date}}</span> 
									<i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i>
									</div> 
									<input type="submit" value="Submit" class="btn  btn-success egcs_submit_button">
									 
								</div>
                                
                                <div class="form-group col-lg-5 col-md-3 col-sm-6 mobile-50 mobile-50-15 pr-lg-0 pr-md-0">
                                    <span class="float-right btn-export-all-one"><img src="/static_files/images/Share_Icon_AI.svg" width="15" style="vertical-align:text-top;"> Export</span>
                                </div>

						</div>
						
						<div id="demo" class="collapse mobile-view">
							<a class="close-tag d-sm-block d-md-none" id="close-div"><i class="fa fa-close"></i></a>
							<div class="row">
                                    <!-- <i class="fa fa-sort-desc drop-icon-dash"></i> -->
                                    
                                    <div class="col-lg-3 col-md-3 col-sm-12 pl-lg-0 pl-md-0">
                
                                    <select id="subaff_id" name="aff_id" txt="{{aff_id}}" class="form-group selectpicker dashboard-select" data-live-search="true" data-show-subtext="true" data-live-search="true" style="" tabindex="-98">
                                        <option value=""> Select Affiliate </option>
                                        {% for aff in aff_list %}
                                            {% if aff.id|stringformat:"i" == aff_id|stringformat:"i" %}
                                            <option value="{{aff.id}}" selected="selected">{{aff.username}}</option>
                                            {% else %}
                                            <option value="{{aff.id}}">{{aff.username}}</option>
                                            {% endif %}
                                        {%endfor%}
                                          </select>
    
                                          
                                          </div>
										  
										  
                                          <div class="col-lg-3 col-md-3 col-sm-12 pl-lg-0 pl-md-0">
                            
                                <select id="multiple-groupby" class="form-group form-control" tabindex="-98" name="currency" class="dashboard-select" data-live-search="true" data-show-subtext="true" data-live-search="true" style="" tabindex="-98">
                                            
                                            <option value="euro">Euro</option>
                                            <option value="gbp">GBP</option>
                                    </select>
                                          </div>

                     
                       <div class="col-lg-3 col-md-3 col-sm-12 pl-lg-0 pl-md-0">
                            
                                <select id="multiple-checkboxes" multiple="multiple" class="form-group form-control" tabindex="-98" name="siteid" style="display: none;">
                                                       
                                        {%for i in sites_list %}
                                            {% if i.0 in siteid %}
                                            
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
                                          </div>
										  
                        <div class="col-lg-3 col-md-3 col-sm-12 pl-lg-0 pl-md-0">
                            
                                <select id="multiple-country" multiple="multiple" class="form-group form-control" tabindex="-98" name="country">
											<!-- <option value="">Select Country</option> -->
                                        {%for i in country_list %}
                                            {% if i in country %}
                                            
                                            <option value="{{i}}" selected="selected">{{i}}</option>
                                            {%else%}
                                            
                                            <option value="{{i}}">{{i}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
                                          </div>
                                          
                                  <br/>
                                                
                      <input type="hidden" name="format" value="json" />

                    <div class="form-group col-lg-12 col-md-12 col-sm-12 top-bottom p-l-0">   
                    
    
                         <div class="pull-left date-range-class" id="daterange" style="">
                            &nbsp; 
                            <span>{{from_date}} - {{to_date}}</span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> 
                         </div> 
                         
                         <!-- <input type="submit" value="Submit" class="btn  btn-success egcs_submit_button submit-button-view"> -->
                         
                    </div>
                    
                      </div>

							</div>
					
					</div> <!-- Contianer -->
							
							
								
                            </div>
					</div>

					</div>
					
					
					
					<div class="row">
                                    <div class="col-md-12" style="display:none;">
                                        
                                       
                                               
                                                
                                                <input type="hidden" id="sitename" name="sitename" value="All" required="True"/>
                                                  <input type="hidden" name="format" value="json" />
                                                
                                                
                                                <div class="row date-right-mobile-none mobile-left-date" style="margin-bottom: -15px;float:right;">
                                                <div class="col-md-12 form-group adjust-top-bottom-dash adjust-top-bottom-dash1">
                                                
                                                   
                                                    
                                                </div> 
												

                                            </div>
                                                
                                      
                                                <!-- SITE SELECTION -->
   
           	<div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <div class="portlet-title">
                    
                </div>
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
                                        
                                  
                                    
                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
           <br/>
                        </form>
            <!-- END SAMPLE FORM PORTLET-->
                                                
                                              
                                            
                                    </div>
                                </div>
					
					
				
               <div class="row p-l-r-10">
			   
			   <div class="table-responsive">
			   
<table class="table-cont table table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style=""></table>

</div>
				<nav class="mobile-pagination-display" style="float: right;
    display: block;
    position: relative;
    top: -25px;">
                  <ul class="pagination" style="margin: 5px 0 10px 0">
  
</ul>

                </nav>
			
          </div> <!-- First Row -->
		  
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
	
	<div class="row" id="get-code" style="display:none;width: 420px;background: #ffffff;height: 155px;position: fixed;top: 50%;z-index: 999;left: 42%;">
                <div class="col-sm-12">
            
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Campiagn</h3>
                            <div class="panel-options">
                                <a href="#" data-toggle="panel">
                                    <span class="collapse-icon">&ndash;</span>
                                    <span class="expand-icon">+</span>
                                </a>
                                <a hrefs="" data-toggle="remove" onclick="checknothanks(this)">
                                    &times;
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
            
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="field-1">Text Link</label>
            
                                    <div class="col-sm-10">
                            <input type="text" id="link-code" style="width:300px;" maxlength="300" readonly/>
                                    </div>
                                </div>
            
                              
                                
            
                            </div>
                    </div>
                </div>
            </div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>


<script>
  $(document).ready(function() {
$('.itemd').removeClass("active");
$('.itemd[href="/admin/affiliate-activity/"]').addClass("active");
$('#reportsadmin').addClass("active");
});
</script>

<script type="text/javascript">

function get_str(eTotal){
    res = '';
    for (var key in eTotal) {
    if (eTotal.hasOwnProperty(key)) {
        res += key+ eTotal[key].toFixed(2) + '<br/>';
        }
    }
    return res.slice(0,-5);
}

var intVal = function ( i ) {
    return typeof i === 'string' ?
        i.replace(/[\€,\$,\£,\₹]/g, '')*1 :
        typeof i === 'number' ?
            i : 0;
};


function get_sum_value(a, b){
    currency = b.replace(/\d+([,.]\d+)?/g, '').replace('-','');
    if (a[currency] == undefined){
        a[currency] = parseFloat(intVal(b));
    }
    else{
        a[currency] += parseFloat(intVal(b));
    }
    return a; 
}

function addPlayerslistDataTable(headersList, dataList, currency){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    if($("#player_data").find('tfoot').length == 0 && dataList.length>0){
        var header_s = ""
        $.each(headersList, function( index, value ) {
            header_s = header_s + '<th></th>';
        });
        $("#player_data").append('<tfoot>'+header_s+'</tfoot>');
    }
	else {
		//$("#player_data").find('tfoot').remove();
	}
    $("#player_data").dataTable({
        "data": dataList,
       "columns":headersList,
       dom: 'Bfrtip',
        buttons: [
            'csv'
        ],
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // converting to interger to find total
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\€,\$,\£,\₹]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
 
            // computing column Total of the complete result 
            var aTotal = api
                .column( 1 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(a) + parseFloat(b);
                }, 0 );
                
        var bTotal = api
                .column( 2 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(a) + parseFloat(b);
                }, 0 );
                
            var cTotal = api
                .column( 3 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(intVal(a)) + parseFloat(intVal(b));
                }, 0 );
                
         var dTotal = api
                .column( 4 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(intVal(a)) + parseFloat(intVal(b));
                }, 0 );
                
         //var eTotal = api
              //  .column( 5 )
                //.data()
               // .reduce( function (a, b) {
               //     return get_sum_value(a, b);
               // }, {} );
        var fTotal = api
                .column( 5 )
                .data()
                .reduce( function (a, b) {
                    return get_sum_value(a, b);
                }, {} );
        var gTotal = api
                .column( 6 )
                .data()
                .reduce( function (a, b) {
                    return get_sum_value(a, b);
                }, {} );
        var hTotal = api
                .column( 7 )
                .data()
                .reduce( function (a, b) {
                    return get_sum_value(a, b);
                }, {} );
        var iTotal = api
                .column( 8 )
                .data()
                .reduce( function (a, b) {
                    return get_sum_value(a, b);
                }, {} );
        var jTotal = api
                .column( 9 )
                .data()
                .reduce( function (a, b) {
                    return get_sum_value(a, b);
                }, {} );
        var kTotal = api
                .column( 10 )
                .data()
                .reduce( function (a, b) {
                    return get_sum_value(a, b);
                }, {} );
        
            
                
            // Update footer by showing the total with the reference of the column index 
        $( api.column( 0 ).footer() ).html('Total');
            $( api.column( 1 ).footer() ).html(aTotal);
            $( api.column( 2 ).footer() ).html(bTotal);
            $( api.column( 3 ).footer() ).html(cTotal);
            $( api.column( 4 ).footer() ).html(dTotal);
            //$( api.column( 5 ).footer() ).html(get_str(eTotal));
            $( api.column( 5 ).footer() ).html(get_str(fTotal));
            $( api.column( 6 ).footer() ).html(get_str(gTotal));
            $( api.column( 7 ).footer() ).html(get_str(hTotal));
            $( api.column( 8 ).footer() ).html(get_str(iTotal));
            $( api.column( 9 ).footer() ).html(get_str(jTotal));
            $( api.column( 10 ).footer() ).html(get_str(kTotal));
        },
        fixedHeader: true,
        "iDisplayLength": 30,
       "createdRow": function( row, data, dataIndex ) {
               $(row).attr('id', 'order_'+data[0]);
        },
       //"scrollX": true,
       paging: true,
       searching: false,
       info: false,
       fixedHeader: {
            header: true,
            footer: true
        },
        dom: 'Bfrtip',
        buttons: [
            'csv',
            'excelHtml5',
            'pdfHtml5'
        ],
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
          });

}

function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
  };

function getcode(ele){
    url = $(ele).attr('hrefs')
    $.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                    $('#link-code').val(data.linkurl);
                    $('#get-code').show();
                    $("#cover").show();
                }
          }
    });
    return false;

}

function ajaxsubmitFormData(){
    var search_form = $("#DashBoardFormID");
    // if(!siteselected){
    //     alert("Please select at least one site.");
    //     return false;
    // }
    if(window.siteload == true){
        return true;
    }
	$(".preloader").show();
    data_set = search_form.serialize()
    data_set = data_set.replace('sitename','');
    // ajaxBlockUI($(".page-content"))
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: data_set,
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    $('.digg_pagination').html("");
                    //var decoded = $('<div />').html(data.pagination_div).text();
                    $('.digg_pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list, data.currency);
					$(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
                }
				
				if  ($('td.dataTables_empty').is(":visible")) {
            $(".table > tfoot > tr > th").hide();
             }
			 else {
				$(".table > tfoot > tr > th").show();
			 }
          }
    });
    return false;
}


jQuery(document).ready(function() { 
    $('#multiple-checkboxes').multiselect({
        includeSelectAllOption: true,
        enableFiltering: true,
		allSelectedText:'All Brands',
		enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Select Brand'
    }, 'selectAll');
    // $("#multiple-checkboxes").multiselect('selectAll', false);
    $("#multiple-checkboxes").multiselect('updateButtonText');
    $("#multiple-checkboxes, .group-by-all").show();
    $("#multiple-checkboxes").multiselect('select', {{siteid|safe}});
    $('#multiple-country').multiselect({
        includeSelectAllOption: true,
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Select Country'
    }, 'selectAll');
    // $("#multiple-checkboxes").multiselect('selectAll', false);
    $("#multiple-country").multiselect('updateButtonText');


    Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
    egcsTools.initNavigation();
   egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}');
   Index.initJQVMAP(); // init index page's custom scripts 
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var currency = '{{currency|safe}}'
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
   $('.digg_pagination').html(decoded);

   addPlayerslistDataTable(header_list, data_list, currency);
   var device = "{{d}}";
   $("option[value='{{aff_id}}']").prop('selected', 'selected');
   $('.selectpicker').selectpicker('refresh');
   // $('option[value="'+device+'"]').prop('selected', true);
   //$('select[name="player_data_length"] option:eq(0)').prop('selected', true);
 
   // $("#player_data2").dataTable();
   
   // fromdate = $.datepicker.formatDate('M dd, yy', new Date('{{from_date}}'))
   // todate = $.datepicker.formatDate('M dd, yy', new Date('{{to_date}}'))
   // $('#daterange').val(fromdate + ' - ' + todate);
   // $('#drp-input-startdate').val(fromdate);
   // $('#drp-input-enddate').val(todate);
   // $(".network_devices a").click(function(event){
   //      var channel = $(this).attr("channel");
   //      $("#ChannelID").val(channel);
   //      event.preventDefault();
   //      dashbord_submit_form();
        
   //  });
   // $("#drp-btn-apply").click(function(event){
   //      startdate = $.datepicker.formatDate('mm/dd/yy', new Date($('#drp-input-startdate').val()));
   //      enddate = $.datepicker.formatDate('mm/dd/yy', new Date($('#drp-input-enddate').val()));
   //      $('#daterange').html(startdate + ' - ' + enddate);
   //      $('#DashBoardFromDate').val(startdate);
   //      $('#DashBoardToDate').val(enddate);
        
   //  });
   $('rect').attr('rx',0);
   
   $('#dashboard-report-range').find('span').attr('style', "display:'';" );
   $('#dashboard-report-range').find('span').removeClass('visible-lg-inline-block');
});

        function toggleSampleChatWindow()
        {
            var $chat_win = jQuery("#sample-chat-window");
    
            $chat_win.toggleClass('open');
    
            if($chat_win.hasClass('open'))
            {
                var $messages = $chat_win.find('.ps-scrollbar');
    
                if($.isFunction($.fn.perfectScrollbar))
                {
                    $messages.perfectScrollbar('destroy');
    
                    setTimeout(function(){
                        $messages.perfectScrollbar();
                        $chat_win.find('.form-control').focus();
                    }, 300);
                }
            }
    
            jQuery("#sample-chat-window form").on('submit', function(ev)
            {
                ev.preventDefault();
            });
        }
    
        jQuery(document).ready(function($)
        {
            $(".footer-sticked-chat .chat-user, .other-conversations-list a").on('click', function(ev)
            {
                ev.preventDefault();
                toggleSampleChatWindow();
            });
    
            $(".mobile-chat-toggle").on('click', function(ev)
            {
                ev.preventDefault();
    
                $(".footer-sticked-chat").toggleClass('mobile-is-visible');
            });
        });
        </script>
		
		<!-- Include Required Prerequisites -->



<script type="text/javascript">
$(function() {

	var start = moment('{{from_date}}');
    var end = moment('{{to_date}}');

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange, #daterange1').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
		alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
							$(document).ready(function(){
    $(".btn-export-all-one").click(function(){
        $(".dt-buttons").toggle();

    });
});
							</script>
							
							<script>
							
							$(document).ready(function(){
							
							 $(window).on("resize", function (e) {
								checkScreenSize();
							 });
							 
							 checkScreenSize();

							function checkScreenSize(){
								
								var newWindowWidth = $(window).width();
								
								if (newWindowWidth < 600) { 
								
									$('#hideshow').on('click', function(event) {        
									 $('.mobile-view').fadeIn(600);
									 $('#cover').fadeIn(600);
									 $('html').css('overflow','hidden');
								});
								
								$('.close-tag').on('click', function(event) {        
									 $('.mobile-view').fadeOut(400);
									 $('#cover').fadeOut(400);
									 $('html').css('overflow','auto');
								});
								
								}
								
								else {
									return false;
									
								}
								
								$("form").submit(function(e) {
									$('.mobile-view, #cover').hide();
									$('html').css('overflow','auto');
								});
									
							}
								
							});
	
	</script>
							
<script>
// Code goes here
'use strict'
window.onload = function(){
  var tableCont = document.querySelector('#player_data')
  /**
   * scroll handle
   * @param {event} e -- scroll event
   */
  function scrollHandle (e){
    var scrollTop = this.scrollTop;
    this.querySelector('thead').style.transform = 'translateY(' + scrollTop + 'px)';
  }
  
  tableCont.addEventListener('scroll',scrollHandle)
}
</script>


<div id="cover" style="display:none;"> </div>
</body>
</html>