{% extends "admin/base_site.html" %}
{% load admin_urls admin_static admin_list i18n %}

{% load staticfiles %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin' %}/css/changelists.css" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin' %}/css/forms.css" />
  {% endif %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      
      
      
      <!--<a href="/home">-->
      <!--  {% trans "Home" %}-->
      <!--</a>-->
      <!-- &rsaquo; -->
      <!-- <a href="../">-->
      <!--   {{ app_label|capfirst }}-->
      <!--</a>-->
      <!--&rsaquo; -->
      <!--{{ cl.opts.verbose_name_plural|capfirst }}-->
      <!---->
    
    <table>
    <tr>
      <td><a href="/admin/admin/">Home</a></td>
      <td><a href="/admin/affiliate/">{% trans 'Affiliates' %}</a></td>
      <td><a href="/admin/connectors/">{% trans 'Connectors' %}</a></td>
<!-- #azeem -->
<td><a href="/affiliate/marketingmaterials/">{% trans 'Marketing Materials' %}</a></td>
					  <!-- #azeem -->

</tr>
</table>
    
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    
    
 {% block object-tools %}
      
      
    
      
      
      {% if has_add_permission %}
     
     
     
 
        
<ul class="object-tools">
<li>
<a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
</a>
</li>
</ul>
     
     
      {% endif %}
      
      
      
      
    {% endblock %}
    
    
    
    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}



        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}
      
    
    
      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
        {{ cl.formset.management_form }}
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    
    
    
    
    </div>
  </div>
{% endblock %}