{% extends "admin/base_site.html" %}
{% load i18n admin_modify admin_urls admin_static %}

{% block extrahead %}{{ block.super }}

{% url 'admin:jsi18n' as jsi18nurl %}

{% load staticfiles %}






<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}

<script type="text/javascript">
django.jQuery(window).load(function() {
    django.jQuery('.timelist').each(function(num, el) {
        time_format = get_format('TIME_INPUT_FORMATS')[0];
        django.jQuery(el).html('');
        for (i=0; i<24; i++) {
          var time = new Date(1970,1,1,i,0,0);
          lnk = "javascript:DateTimeShortcuts.handleClockQuicklink(" + num + ", '" + time.strftime(time_format) + "');"
          /*django.jQuery(el).append('<li><a href="'lnk'">' + time.strftime('%H:%M') + '</a></li>');*/
          django.jQuery(el).append('<li><a href="' + lnk + '">' + time.strftime(time_format) + '</a></li>');
        }

    });
});
</script>


{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin' %}/css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs" style="font-size: medium;">




                  <table>
                    <tr><td><a href="/admin/admin/">Home</a></td>
                      <td><a href="/admin/affiliate/">{% trans 'Affiliates' %}</a></td>
                      <td><a href="/admin/connectors/">{% trans 'Connectors' %}</a></td>
					  <!-- #azeem -->
					  <!-- #azeem -->
            <td><a href="/affiliate/marketingmaterials/">{% trans 'Marketing Materials' %}</a></td>

                    </tr>
                  </table>

  
     {% if has_change_permission %}<a href="../">See All {{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
    


     <!---->
     <!--{% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}-->
     <!---->
     <!---->




</div>


{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}





    
    
    
    
{% for fieldset in adminform %}


      {% include "admin/includes/fieldset.html" %}


{% endfor %}








{% block after_field_sets %}{% endblock %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}




{% if opts.verbose_name == "support" %}
      
    {%else%}
{% submit_row %}
{%endif%}


{% if adminform and add %}
<script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}
{# JavaScript for prepopulated fields #}


{% prepopulated_fields_js %}



</div>
</form>
</div>
{% endblock %}