<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
		 
  <style>
  
#ui-datepicker-div .ui-state-highlight { 
    background: #f6f6f6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x scroll 50% 50%;
    color: #555555;
    border: 1px solid #D3D3D3;
}

#ui-datepicker-div .ui-state-active {
    border: 1px solid #aaaaaa;
    background: #007fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #ffffff;
}

  
  #ui-datepicker-div {z-index:9999 !important;}
  .table td, .table th {border-top:none;}
  .selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
  .form-control {height:36px !important;}
  .egcs_submit_button {margin-top: 5px;margin-left: 15px;}
  #siteid, #affiliate {height:35px !important;}
  
  /****** CODE ******/

.file-upload{padding-top:0px; display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 1px solid #e4e4e4;color: #34495e;cursor:pointer;height:32px;line-height:32px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#f2f2f2;padding:0 10px;display:inline-block;height:36px;line-height:36px;}
.file-upload .file-select .file-select-name{line-height:32px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select {height:36px;}

/****** CODE ******/


#id_excel-error {float: left;
    padding-left: 10px;
    line-height: 28px;}
  
  </style>

</head>
<style type="text/css">

</style>
<body class="page-body">

  
  
   <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
  
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
    
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
    
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
            <h3 class="text-primary">Proprietary</h3>
          </div>
                <div class="col-md-7 align-self-center float-right">
        
        
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Settings</a></li>
                        <li class="breadcrumb-item active">Proprietary</li>
                    </ol>
        
          
          
          <div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
                      <i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
        
          
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
        
      <div class="card">
      
      <div class="row">
      <div class="col-lg-12 p-l-0 p-r-0">
      <div class="card-title">
                
						<div class="table-toolbar">
                                <div class="row" id="chooseformat" style="display: none;">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-danger alert-danger-msg">
                                            <center> <span>Choose file in .xlsx or .xls format</span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                {%if data.message %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div> 
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row row-right">
                                    <div class="col-md-12 col-sm-12 left-side-space">
                                        <div>
                                          {%if data.call == 'POST'%}
                                        <form action="/admin/proprietary" method="POST" enctype="multipart/form-data" id="formsValidate" class="form-horizontal">
                                          {% else %}
                                          <form action= "/admin/proprietary/{{data.id}}" id="affForm" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form" >
                                            {% endif %}
                                        <fieldset>
                                        {%csrf_token%}
                                       
                                        <input type="hidden" value="{{data.id}}">
										
									
                                        <div class="profile-edit-details">
										
										
											 <fieldset>
											 
												
												 <legend class="heading-all-page">Proprietary Details</legend>
												
												
												 <div class="form-group col-md-6 col-sm-12 float-left">
													<label>Item ID</label>
													<input type="text" class="form-control" name="" value="{{data.id}}" id="" placeholder="" readonly>
												</div>
												
												<div class="form-group col-md-6 col-sm-12 float-right">
													<label>Affiliate</label>
													<select class="form-control" name="affiliate" id="affiliate">
													
                                        {%for i in data.affiliates_list %}
                                            {% if i.0 == data.affiliate %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                    </select>
												</div>
												
												
												<div class="form-group col-md-6 col-sm-12 float-right">
													<label>Date</label>
                          {% if data.date %}
                          <input type="text"  autocomplete="off" readonly class="form-control" name="date" required="required" value="{{data.date}}" id="" placeholder="Date">
                          {% else %}
													<input type="text" autocomplete="off" placeholder="DD-MM-YYYY" class="form-control" name="date" required="required" value="{{data.date}}" id="datepicker" >
                          {% endif %}
												</div>
												
											
												
									
										

												<div class="form-group col-md-6 col-sm-12 float-left">
													<label>Excel File</label>
													<div class="file-upload">
														<div class="file-select">
													
													<div class="file-select-button" id="fileName">Choose File</div>
													<div class="file-select-name" id="noFile"></div> 
                                                       <input id="id_excel" name="excel" class="custom-file-input chooseFile" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"  />
													   
														</div>
													  </div> <a href="{{data.excel}}">{{data.excel}}</a>
												</div>
												
												
												
										
												
												<div class="form-group col-md-6 col-sm-12 pull-left">
													<label>Site</label>
													<select class="form-control" name="siteid" id="siteid">
                            <option value="">Select Brand</option>
                                        {%for i in data.sites_list %}
                                            {% if i.0 == data.siteid %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}} ({{i.0}})</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}} ({{i.0}})</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
												</div>
												
										
									
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                                               
											    {%if data.call == 'POST'%}
											   <button class="btn btn-purple button-large button-web-get" title="Make a POST request on the Affiliate Campaign List resource" type="submit" value="" style="">Submit</button>
                                            {% else %}
											<button class="btn btn-purple button-large button-web-get" type="submit" value="" style="">Submit</button>
											</span>
											 {% endif %}
                                        </div>
												
												
											</fieldset>
											
											
										
										
										</div>

                                    </fieldset>
                                        </form>
										
										</form>
                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="digg_pagination"></div><br/>  -->
                            
                        </div>        
                            </div>
          </div>

          </div>
          
          
          
          
               
      </div> <!-- First div card -->
      
      

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
       {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
  <!-- Page Loading Overlay -->
  <!-- <div class="page-loading-overlay">
    <div class="loader-2"></div>
    
  </div> -->
  
 
  


<script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>

   <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->


<script>
        $(document).ready(function() {
          $('.itemd').removeClass("active");
    $('.itemd[href="/admin/proprietary"]').addClass("active");
    $('#settingsd').addClass("active");
          $('form').ajaxForm();
        });
      </script>
	  	   <script type="text/javascript">
	  $('.chooseFile').bind('change', function () {
  var filename = $(".chooseFile").val();
  if(filename == ''){
        $(".file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
        $('.margin-adjust').hide();
        return false;
  }
  if(filename.toLowerCase().indexOf('.xlsx') <0 && filename.toLowerCase().indexOf('.xls') < 0){
      $('#chooseformat').show();
	  $('.margin-adjust').hide();
      return false;
  
  }
  
  else {
    $('#chooseformat').hide();
	$('.margin-adjust').show();
}
  
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen..."); 
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
  }
});
</script>

<script>
	  
	  $('#formsValidate').validate({
	  
   focusInvalid: false,
  
             rules: {
                  
                  affiliate: {
                      required: true,
                  },
                  excel: {
                      required: true,
              },
                  date: {
                      required: true,
                  },
				  
				  siteid: {
                      required: true,
                  },
				    
              },

            messages: {
                
                affiliate: {
                  required: 'Please select Affiliate.'
                },
                excel: {
                  required: 'Please choose file.'
                },
                date: {
                  required: 'Please enter date.'
                },
				
				siteid: {
                  required: 'Please select site.'
                },
            },
		
            submitHandler: function (form) {
					
                if($('#nodata').is(":visible")==false){
                      form[0].submit();
                    }
                }
              });
			  
			  </script>
			  
		<script>
$("#id_excel, #datepicker").change(function(){
$(this).siblings('label#id_excel-error, label#datepicker-error').hide();
});
</script>

<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>  
 
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <script src="//code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script>
  $( function() {
  
    $( "#datepicker" ).datepicker({changeYear: true,changeMonth:true,yearRange: "-100:+0", dateFormat: "dd-mm-yy"});
  } );
 
  </script>
  
  <script>
  
</script>
</body>
</html>