
{% load i18n %}




<style>
body{
/*background:url(/static_files/images/tajrummy_egcs_logo.png) no-repeat;*/
background-color: #CBCBF7;
}*/
</style>

{% block content %}
    
    
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}


<p class="errornote">
{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>




{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
{{ error }}
</p>
{% endfor %}
{% endif %}

<img src="/static_files/images/egcslogo.jpg" style="padding-left: 426px; width:172px ">   

<div id="content-main" style="padding-left: 400px; padding-top: 20px;">


<table>
<tr>
<td>
<form action="{{ app_path }}" method="post" id="login-form">
{% csrf_token %}

<div class="form-row">
{% if not form.this_is_the_login_form.errors %}
{{ form.username.errors }}
{% endif %}
<label for="id_username" class="required">
<b>{% trans 'Username:' %}&ensp;&ensp;&ensp;</b>
</label>
{{ form.username }}
</div><br/>
<div class="form-row">
{% if not form.this_is_the_login_form.errors %}
{{ form.password.errors }}
{% endif %}
<label for="id_password" class="required">
<b>{% trans 'Password:' %}&ensp;&ensp;&ensp;</b>
</label>
{{ form.password }}
<input type="hidden" name="this_is_the_login_form" value="1" />
<input type="hidden" name="next" value="{{ next }}" />
</div><br/>
<div class="submit-row">
<label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
&nbsp;<a href="/aadmin/reset/">Forgot Password</a>

</div>
</form>
</td></tr></table>
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>


<img src="/static_files/images/egcsfooter.jpg" style="padding-left: 50px; padding-top: 277px;">   

</div>



{% endblock %}