<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
	
	 <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	 <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

	
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<style>
	
	
	</style>

</head>
<style type="text/css">

</style>
<body class="page-body">

	
	
	 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
	
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->
		
        <!-- Left Sidebar  -->
         {% include "partner/new_design/menubar-1.html" %}
        <!-- End Left Sidebar  -->
		
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
						<h3 class="text-primary">Change Password</h3>
					</div>
                <div class="col-md-7 align-self-center float-right">
				
				
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Settings</a></li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
				
					
					
					<div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
											<i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
				
					
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
				
			<div class="card">
			
			<div class="row">
			<div class="col-lg-12">
			<div class="card-title">
                
<div class="table-toolbar" style="margin-top: 0px;position:relative; left:-8px;top:2px;">
                                             
                                {%if message %}
                                <div class="row" id="success_message">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        {% if status == 'Success'%}
										<div class="alert alert-success alert-success-msg">
										{% else %}
										<div class="alert alert-danger alert-success-msg">
										{% endif %}
                                            <center> <span>{{message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                
                                <div class="row">
                                  
                                       <div class="profile-details" style="margin-top: 0px;position:relative; left:8px;top:-5px;">
                              
										<div>
												 
                                        <form action="." method="POST" enctype="multipart/form-data" id="formValidation" class="form-horizontal">
                                        	<fieldset>
                                          <input class="form-control form-control-solid placeholder-no-fix"  type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                    
										<!-- <div class="form-group col-md-4 col-sm-12" style="float:left;"> -->
													<!-- <label>Current Password</label> -->
													<!-- <input type="password" class="form-control" autocomplete="off" name="currentpass" value="" id="currentpass" placeholder="Current Password" required="required" aria-required="true"> -->
												<!-- </div> -->
												
												<div class="form-group col-md-5 col-sm-12 pb-2">
													<label>New Password</label>
													<input type="password" class="form-control" autocomplete="off" name="newpass" value="" id="newpass" placeholder="New Password" required="required" aria-required="true">
												</div>
												
												<div class="form-group col-md-5 col-sm-12">
													<label>Confirm New Password</label>
													<input type="password" class="form-control" autocomplete="off" name="confirmpass" value="" id="confirmpass" placeholder="Confirm New Password" required="required" aria-required="true">
												</div>
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
											   <button class="btn btn-purple button-large button-web-get" type="submit" value="" style="">Submit</button>
                                            </span>
											 
                                        </div>
												
												
											</fieldset>
											
											
											 
											
										
										
										</div>
										
										
										
                                                   
							
							
							
                          </div>
										
										 
										
                                        </form>
                                        
                      
                                       
                                    </div>
                                </div>
                           		
                            </div>
					</div>

					</div>
					
					
					
					
               
		  </div> <!-- First div card -->
		  
		  

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
			 {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
	<!-- Page Loading Overlay -->
	<!-- <div class="page-loading-overlay">
		<div class="loader-2"></div>
		
	</div> -->
	

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>


<script>

// Validation and Ajax action
        $('#formValidation').validate({
             rules: {

				  /*currentpass: {
                      minlength: 5,
                      required: true,
                      maxlength:15,
                  },*/
				  
				  newpass: {
                      minlength: 5,
                      required: true,
                      maxlength:15,
                  },
				  
				  confirmpass: {
                      minlength: 5,
                      required: true,
                      maxlength:15,
                      equalTo: "#newpass",
                  },
				  
              },

            messages: {
               
				
				/*currentpass: {
                    required: 'Please enter your password.'
                },*/
				  
				  newpass: {
                    required: 'Please enter your password.'
                },
				  
				  confirmpass: {
                  required: 'Please confirm entered password.',
				  equalTo: " Please enter the same password again."
                },
		
            },
			
			submitHandler: function (form) {

                      form.submit();
                }

        
              });
			  
			  </script>
			  
			  <script>
$("#chooseFile").change(function(){
$(this).siblings('label#chooseFile-error').hide();
});
</script>

<div id="cover" style="display:none;"></div>
</body>
</html>