<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>{{partner}}</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">
  
   <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
   <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static_files/new_wynta/css/daterangepicker.css" />
  
    <script src="/static_files/new_wynta/js/jquery-1.12.4.js"></script>
    <script src="/static_files/js/utils.js"></script>
<script src="/static_files/js/ajax-form.js"></script> 


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <style>
  
  .skip-button {background:#0091e0;
    padding: 5px;
    display: inline-block;
    width: 80px;
    text-align: center;
    color: #fff; text-transform:uppercase;}
	
	.skip-button:hover {color: #fff;background:#1788c5}
  
  .table td, .table th {border-top:none;}
  .selectpicker {padding: 7px;
    width: 210px; border-color:#ccc;}
  .form-control {}
  #networkid {}
  .egcs_submit_button {margin-top: 5px;margin-left: 15px;}
  
   /****** CODE ******/
.file-upload .file-select .file-select-name {line-height:50px !important;}
.file-upload{padding-top:0px; display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 1px solid #e4e4e4;color: #34495e;cursor:pointer;height:50px;line-height:50px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{width:150px; text-align:center;background:#f2f2f2;padding:0 10px;display:inline-block;height:50px;line-height:50px;}
.file-upload .file-select .file-select-name{line-height:32px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #0091e0;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select {height:50px;}

/****** CODE ******/
.hover_img i { position:relative; }
.hover_img i span { position:absolute; display:none; 
    height: 56px;
    position: fixed;
    top: 25%;
    z-index: 999;
    left: 40%; }
.hover_img i:hover span { display:block; }


.step1-first {
	width: 30px;
    text-align: center;
    display: inline-block;
    background: #0091e0;
    margin-left: 10px; margin-top:-2px;
    border-radius: 62px;
    vertical-align: middle;
    line-height: 30px;
    position: absolute;
    color: #fff;
    border: none;
	}
	
	@media (max-width: 767px) { 
	
		.page-titles .breadcrumb {
    padding: 0;
    background: transparent;
    font-size: 14px;
    /* float: right; */
    position: absolute;
    right: 5px;
    top: -32px;
}
	
	}
	
	
	/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
	width:100%;
	max-width:97%;
 
  margin-top: 20px;
  margin-left: 35px;
 
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0; font-size:16px; color:#000000; border:none; padding:20px;
  background:#f9f9f9; margin-bottom:10px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #0091e0;
  background-image: #0091e0;
  color: #ffffff; border-radius:0;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
  display:none;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 10px;
  
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.heading-all-page-full {display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 20px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    padding-top: 1px;
	background:none;
    margin-left: 0px;
    font-weight: bold;
    color: #000;
	
	}
	
	.full-input-width {height: 50px !important;
 
    border: 1px solid #ccc;}
	
	.form-horizontal .form-group { padding-top:10px;}
	
	.card-title p {padding-left:0px;}
	
	.tt-form-help-text, .tt-form-info-text {padding-left:0px;}
	
	.card-title p {
    padding-left: 0px;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px; color:#919191;
}

.button-large {float:right; margin-right:20px; width:auto; padding-left:20px; padding-right:20px;}

div.bhoechie-tab-menu div.list-group>a:hover {box-shadow: 0 0 1px 0 rgba(0,0,0,.21), 0 10px 33px 0 rgba(0,0,0,.16);
    cursor: pointer;
    transform: scale(1.01);}
	
	div.bhoechie-tab-menu div.list-group{border-right:1px solid #ccc;}
	
	div.bhoechie-tab-menu div.list-group>a:last-child {margin-bottom:0px;}
	
	
	.steps-all {
	
	width:30px; height:30px; 
	background:#fff; color:#000; 
	text-align:center; line-height:30px; margin-right:10px;
	    border-radius: 20px;
    display: inline-block;
	}
	
	.page-titles h3 {font-weight:bold; color:#000 !important;}
	.skip-button {
    background: #0091e0;
    padding: 5px;
    display: inline-block;
    width: 80px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

#id_image-error {float: left;
    padding-left: 10px;
    line-height: 40px;}
	

	
	@media only screen and (max-width: 1200px) and (min-width: 768px) {
	
	div.bhoechie-tab-menu div.list-group>a {font-size:15px;}
		
		div.bhoechie-tab-menu div.list-group {width:300px;}
		
		div.bhoechie-tab-menu {max-width:300px;}
		
		.small-laptop {width:710px;}
	
	}
	
	
	@media (max-width: 767px) {
	
	.submit-width {font-size:14px !important;}
	
	.page-titles .breadcrumb {position:relative; top:0; right:0;}
	
			div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    width: 100%;
    max-width: 94%;
    margin-top: 0;
    margin-left: 15px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

.tt-form-wrapper {margin-left:0px !important; margin-top:20px;}

div.bhoechie-tab-content {padding-left:0px;}
	
	}
	
	.full-width-submit {width:100%; float:right;}
	
	.button-web-get {    text-transform: uppercase;
    width: auto;
    font-weight: bold;}
	
		label {font-size:16px; color:#000;}
		
		div.bhoechie-tab-menu div.list-group>a.active>span.steps-all {color:#0091e0;}
		
		.alert-success {   
   }
	
	.submit-width {width: 120px;
    float: left;

    margin-top: 0;
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;}
	
	.bottom-space-need {margin-bottom: -22px !important;}
	.first-bottom-space-need {margin-bottom: -5px !important;}

	.sitemap-logo {margin-top:22px; width:120px;}
	

  </style>

</head>
<style type="text/css">

</style>
<body class="page-body">

  
  
   <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
  
        <!-- header header  -->
        {% include "partner/new_design/header-1.html" %}
        <!-- End header header -->

     
					<!-- Left Sidebar  -->
        {% if data.pid != "new" %}
         {% include "partner/new_design/menubar-1.html" %}
        
        <!-- End Left Sidebar  -->
    
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    
            <h3 class="text-primary">Brand Mapping</h3>
          </div>
                <div class="col-md-7 align-self-center float-right">
        
        
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Settings</a></li>
                        <li class="breadcrumb-item active">Brand Mapping</li>
                    </ol>
        
		{% else %}
		<div class="page-wrapper" style="margin-left: 0px; !important">
		
		
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-8 align-self-center">
                    
            <h3 class="text-primary">SET YOUR AFFILIATE PROGRAM UP IN A JIFFY WITH WYNTA - 3 SUPER QUICK STEPS</h3>
          </div>
                <div class="col-md-4 align-self-center float-right">
        
        
                    <ol class="breadcrumb">
                        
                        <!-- <li class="breadcrumb-item active"><a href="/admin/add-new-user/post?pid=new" class="skip-button"><strong>Skip</strong></a></li> -->
                    </ol>
        
          {% endif %}
		  
		 
          <div class="dropdown dash-dropdown">
                                    <button class="btn dropdown-toggle drop-sitename" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe globe-dash"></i> Site Name
                      <i class="fa fa-chevron-right font-small-dash"></i></button>
                                    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -113px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="#">Fozil Partners</a></li>
                                        <li><a href="#">VCommission</a></li>
                                        <li><a href="#">Taj Rummy</a></li>
                                    </ul>
                                </div>
        
          
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
        
      <div class="card">
      
      <div class="row">
      <div class="col-lg-12">
      <div class="card-title">
                
						<div class="table-toolbar">
						
						<div class="" id="edit" style="display:none;">
									<div class="alert alert-success alert-success-msg">
                                            <center> <span>Brand details have been updated successfully.</span></center>
                                        </div>
								</div>
						
						<div class="alert text-center alert-danger text-message-show" style="display:none;"></div>
                         
                                
                                {%if data.message %}
                                <div class="row" id="success_message">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <h4><span class="fa fa-check" style="font-size: 27px;color:green;"> </span><span class="success_form" style="font-weight: bold;"> {{message}}</span> </h4>-->
                                        <div class="alert alert-success alert-success-msg">
                                            <center> <span>{{data.message}} </span></center>
                                        </div>
                                    
                                    </div>
                                </div>
                                <br/>
                                {%endif%}
                                <div class="row left-sec ">
                                    <div class="col-md-12 p-l-0 p-r-0">
                                        <div>
                                          {%if data.call == 'POST'%}
                                        <form action=" /admin/brand-mapping" method="POST" enctype="multipart/form-data" class="form-horizontal" id="formsValidate">
                                          {% else %}
                                          <form action= "/admin/brand-mapping/{{data.id}}" id="formsValidate" data-method="PUT" enctype="multipart/form-data" name='affForm' role="form">
                                            {% endif %}
                                        <fieldset>
                                       
                                        {%csrf_token%}
                                        <input type="hidden" value="{{data.id}}">
										
										{% if data.domainsuccess %}
										<div class="row">
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    
                                        <div class="alert alert-success alert-success-msg">
										
										<img src="/static_files/images/thumb-icon.png" style="
    width: 55px;
    padding:  10px;
    display:  block;
    float:  left;
    padding-top: 4px;
    /* padding-left:  2px; */
">
                                             <span style="
    text-align:  left;
    line-height: 30px;
    position: relative;
    top: 2px;
    color: #6b6868;
    "><span style="color:#000; font-weight:bold;">Everything is up and running</span><br>{{data.message}}</span>
                                        </div>
                                    
                                    </div>
                                </div>
								{% endif %}
										{% if data.pid == "new" %}
										<div class="profile-edit-details">
										
				
										
											 <div class="main-col">
									   
									   
											<div class="row">
        <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bhoechie-tab-menu float-left">
              <div class="list-group">
                <a href="/admin/writedomain?pid=new" class="list-group-item">
                  <span class="steps-all">1</span>Domain & SSL
                </a>
                <a href="/admin/brand-mapping/post?pid=new" class="list-group-item active">
                  <span class="steps-all">2</span>Brand Mapping
                </a>
                <a class="list-group-item">
                  <span class="steps-all">3</span>Software Provider Authentication
                </a>
               
                
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 bhoechie-tab float-left small-laptop">
			
			
			
			
			
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    
                     <div class="tt-form-wrapper">
  <div class="content-settings-form edit-wrapper">
    <div class="tt-form-group">
   
{% endif %}
   
<div class="profile-edit-details">



											 <fieldset>
											 
												
												
												 <div class="form-group col-lg-12 col-md-12 col-sm-12">
													
													<select class="form-control full-input-width networkid" name="networkid" id="networkid" required>
                                                      <option value="">Select your Software Provider</option>
														{%for i in data.providers %}
															{% if i.0 == data.networkid %}
															<option value="{{i.0}}" selected="selected">{{i.1}}</option>
															{%else%}
															<option value="{{i.0}}">{{i.1}}</option>
															{% endif %}
														{%endfor%}
													</select>
												</div>
												
												 <div class="clear"></div>
												 
														 
												 {% if data.pid == "new" %}
												 
						
												 <legend class="heading-all-page-full">Brand Mapping Details</legend>

												
												{% endif %}
												
												{% if not data.siteid %}
										

												<div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>Enter your Site name</label>
													<input type="text" autocomplete="off" class="form-control full-input-width" name="site_name" value="" id="" placeholder="">
												<p class="first-bottom-space-need">This is the brand name you'd like your site to be referred to as. For e.g. If your site is called mycasino.com, please enter My Casino in the field above.</p>
												
												</div>
												
												
												
												<div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>Domain</label>
													<input type="text" autocomplete="off" class="form-control full-input-width" name="site_domain" value="" id="" placeholder="">
												</div>
												
												{% else %}
												
												<div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>Site</label>
													<select class="form-control full-input-width" name="siteid" id="siteid">
                                                        <option value="">--------</option>
                                        {%for i in data.sites_list %}
                                            {% if i.0 == data.siteid %}
                                            <option value="{{i.0}}" selected="selected">{{i.1}}</option>
                                            {%else%}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                            {% endif %}
                                        {%endfor%}
                                                       </select>
												</div>
												
												{% endif %}
												
												<div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>Upload your Logo</label>
													<div class="file-upload">
														<div class="file-select">
													
													<div class="file-select-button" id="fileName">Choose logo file</div>
													<div class="file-select-name" id="noFile"></div> 
                                                       <input id="id_image" autocomplete="off" name="image" onchange="checkPhoto(this)" class="custom-file-input chooseFile full-input-width" type="file" />
													  
														</div>
														 <p class="text-left bottom-space-need">Acceptable formats: jpg/ png/ gif; Dimensions: 120x60px</p>
													  </div>
													  
													    <img src="{{data.logo}}" target="_blank" style="" class="sitemap-logo"/>
													  
												</div>
									
												
												
												<div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>Enter the Redirection Link</label>
													<input type="text" autocomplete="off" class="form-control full-input-width" required="required" name="sp_track_url" value="{{data.sp_track_url}}" id="" placeholder="">
												<p>This information is available in the technical kit you've received from your software provider.</p>
												</div>
												
												<div class="form-group col-lg-12 col-md-12 col-sm-12">
                          <label>Currency</label>
                          <select class="form-control full-input-width" name="currency" id="currency">
                            <option value="">Select Currency</option>
                          {%for i in data.currency_list %}
                                      {% if i.1 == data.currency %}
                                      <option value="{{i.1}}" selected="selected">{{i.1}}</option>
                                      {%else%}
                                      <option value="{{i.1}}">{{i.1}}</option>
                                      {% endif %}
                                  {%endfor%}
                              </select>
                        </div>
												
												<div id="dfdata" style="display: none;">
												
													<div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>Skin ID</label>
													<input type="text" autocomplete="off" class="form-control full-input-width" required="required" name="whitelabelid" value="{{data.whitelabelid}}" id="" placeholder="">
												</div>
												
												</div> <!-- Dragon fish div -->
												
											
												<div class="" id="jmdata" style="display: none;">
											
												</div> <!-- Jumpman div -->
												
												
												<div id="ppdata" style="display: none;"> 
												<div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>White Label ID </label>
                            <div class="hover_img" style="display:inline;    z-index: 9999;
    position: relative;"><i class="fa fa-question-circle">
     <span><img src="/static_files/images/ppmapping.png" class="image-resize-hover" style="width: 68%; border:1px solid #ccc;" /></span></i>
</div>
                                    
                          
													<input type="number" autocomplete="off" class="form-control full-input-width number-allow" required="required" name="whitelabelid" value="{{data.whitelabelid}}" id="ppwhite" placeholder="">
												</div>
												
														
												<div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>Start Limit</label>
													<input type="number" autocomplete="off" class="form-control full-input-width number-allow" required="required" name="start_limit" value="{{data.start_limit}}" id="" placeholder="">
												</div>
												
												<div class="form-group col-lg-12 col-md-12 col-sm-12">
													<label>End Limit</label>
													<input type="number" autocomplete="off" class="form-control full-input-width number-allow" required="required" name="end_limit" value="{{data.end_limit}}" id="" placeholder="">
												</div>
										
                      </div>
												
												<div class="form-group input-group">
            
                                            <span class="input-group-btn full-width-submit" style="text-align:center;">
                              

					{%if data.call == 'POST' %}
						  
						  {% if data.pid == "new" %}
							<button class="btn btn-purple button-large button-web-get" title="Make a POST request on the Affiliate Campaign List resource" type="submit" check="Verify" value="" style="">SAVE & MOVE TO THE NEXT STEP</button>
                         {% else %}
							<button class="btn btn-purple button-large button-web-get submit-width" type="submit" value="" style="">Submit</button>
						{% endif %}
					{% else %}
                      <button class="btn btn-purple button-large button-web-get submit-width" onclick="call_valid();" type="button" value="" style="">Submit</button>
                      </span>
                       {% endif %}

				
                                        </div>
												
												
											</fieldset>
											
											
										
										
										</div>    </div>

      
  </div>
</div>
                    
                </div>
                <!-- train section -->
                
               
            </div>
        </div>
  </div>
        

										</div>
										
										
										</div>
										
										
										
                                      </fieldset>
                                        </form>

                      </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </div>       
                            </div>
          </div>

          </div>
          
          
          
          
               
      </div> <!-- First div card -->
      
      

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
       {% include "partner/new_design/footer-1.html" %}
           
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
  <!-- Page Loading Overlay -->
  
<script>
        $(document).ready(function() {
		
		window.logo_d = '{{data.logo}}';
		
          $('.itemd').removeClass("active");
    $('.itemd[href="/admin/brand-mapping"]').addClass("active");
    $('#settingsd').addClass("active");
          $('form').ajaxForm();
        });
      </script>
	  
	  
 <script type="text/javascript">
	  $('.chooseFile').bind('change', function () {
  var filename = $(".chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen..."); 
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
  }
});

    $('#networkid').on('change', function() {
      if ($(this).val() == 1){
			$('#currency option:eq(1)').prop('selected', true);
            $('#ppdata').show();
      }
      else{
        $('#ppdata').hide();
      }
      
    });
	
	$('#networkid').on('change', function() {
      if ($(this).val() == 4){
            $('#jmdata').show();
      }
      else{
        $('#jmdata').hide();
      }
      
    });
	
	$('#networkid').on('change', function() {
      if ($(this).val() == 3){
            $('#dfdata').show();
            $('#ppwhite').attr('name', '');
      }
      else{
        $('#dfdata').hide();
        $('#ppwhite').attr('name', 'whitelabelid');
      }
      
    });
	
	
    
</script>

<script>

function call_valid(){
	if ($('#formsValidate').valid()){
		//data_d = $('#formsValidate').serialize();
		var form = $('#formsValidate')[0];
		var data_d = new FormData(form);
        $("#remove-overlay").addClass("overlay");
        $(".preloader").show();
		$.ajax({
		   url: $('#formsValidate').attr('action'),
		   type: 'PUT',
		   enctype: 'multipart/form-data',
			processData: false,  // Important!
			contentType: false,
			cache: false,
		   data: data_d,
		   success: function(response) {
		   $('#success_message').hide();
			 $("#edit").show();
			 
			 $('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');
             $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
		   }
		});
	};
}
	  
	  $('#formsValidate').validate({
             rules: {
                  
                  networkid: {
                      required: true,
                  },
                  site_name: {
                      required: true,
              },
                  site_domain: {
                      required: true,
                  },
				  
				  image: {
                      required: {
                    depends: function(element) {
                      return (window.logo_d == '');
                    }
					}
                  },
				  
				  sp_track_url: {
                      required: true,
                  },
				  
				   whitelabelid: {
                  required: true,
                },
				  start_limit: {
                  required: true,
                },
				
				  end_limit: {
                  required: true,
                },
				
								
				currency: {
                  required: true,
                },


              },

            messages: {
                
                networkid: {
                  required: 'Please select software provider.'
                },
                site_name: {
                  required: 'Please enter the site name.'
                },
                site_domain: {
                  required: 'Please enter the domain name.'
                },
				image: {
                  required: 'Please choose logo.'
                },
				
				sp_track_url: {
                  required: 'Please enter redirection link.'
                },
				
				 whitelabelid: {
                  required: 'Please enter white label ID.'
                },
				start_limit: {
                  required: 'Please choose start limit.'
                },
				
				end_limit: {
                  required: 'Please enter end limit.'
                },
				
				currency: {
                  required: 'Please select currency.'
                },
            },

            submitHandler: function (form) {
                if($('#nodata').is(":visible")==false){
                      form[0].submit();
                    }
                }
              });
			  
			  </script>
			  
			  <script type="text/javascript">
              $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
});
              </script>
			  
			  
			  
			  <script>

$(document).ready(function () {
  var networkid = "{{data.networkid}}";
  if (networkid == "1"){
    $('#ppdata').show();
    $('#ppwhite').attr('name', 'whitelabelid');
  }
   else if(networkid == "4"){
      $('#jmdata').show();
   }
   else if(networkid == "3"){
    $('#dfdata').show();
    $('#ppwhite').attr('name', '');
   }
  //called when key is pressed in textbox
  $(".number-allow").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        //$("#errmsg").html("Digits Only").show().fadeOut("slow");
               return false;
    }
   });
});

</script>
<script>
	var _URL = window.URL || window.webkitURL;

$("#id_image").change(function(e) {
    var file, img;


    if ((file = this.files[0])) {
        img = new Image();
        img.onload = function() {
		
		var height = this.height;
		var width = this.width;
		
		
		if (width > 120 || height > 60) {
		$(".text-message-show").text("Your logo needs to be in the gif/ png/ jpg format and 120x60px to be rendered perfectly everywhere it is displayed.").fadeIn();
                            //alert("Your logo needs to be in the gif/ png/ jpg format and 120x60px to be rendered perfectly everywhere it is displayed."); 
							$('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');
						
							$(".submit-width").prop('disabled', true);
							return false;
                        }
                       $(".submit-width").prop('disabled', false);
                    };
		
    
        img.onerror = function() {
		$(".text-message-show").text("File format is invalid please choose gif/ png/ jpg formats").fadeIn();
            //alert( "not a valid file: " + file.type);
			$(".submit-width").prop('disabled', true);
			$('html, body').animate({
        scrollTop: $('#main-wrapper').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
    }, 'slow');
        };
        img.src = _URL.createObjectURL(file);
		
    }

});
			  </script>
			  
			  <script>
$("#id_image").change(function(){
$(this).siblings('label#id_image-error').hide();
});
</script>


<script>
//$(document).ready(function(){
   // $("select").mouseenter(function(){
      //  $(this).css("background", "url(/static_files/new_wynta/images/drop-arrow-up.png) no-repeat 98% 50%");
   // });
   // $("select").mouseleave(function(){
    //    $(this).css("background", "url(/static_files/new_wynta/images/drop-arrow.png) no-repeat 98% 50%");
    //});
	
//});
</script>

</body>
</html>