<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="author" content="" />

    <title>{{partner}} - Sub Affiliate Report</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">


     <link href="/static_files/new_wynta/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static_files/new_wynta/css/lib/owl.theme.default.min.css" rel="stylesheet" />
     <link href="/static_files/new_wynta/css/spinners.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/animate.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/static_files/new_wynta/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="/static_files/new_wynta/css/helper.css" rel="stylesheet">
    <link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  

    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> 
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.32/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script> 
    <script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style type="text/css">
.bootstrap-select>select {
    position: absolute!important;
    bottom: 0;
    left: 50%;
    display: block!important;
    width: .5px!important;
    height: 100%!important;
    padding: 0!important;
    opacity: 0!important;
    border: none;
}

.bs-placeholder {
    height: 35px !important;
    padding-right: 25px !important;
    margin-bottom: 10px !important;
    line-height: 20px !important;
    font-size: 14px !important;
	}
	
	.bootstrap-select {
    width: 100%;
    display: block;
    clear: both;
    padding: 0px;
}

.device-date {float: right;
    margin-top: -48px;
    position: relative;
    left: 5px;}
	
	.dt-buttons {margin-top:-53px;}
	
	.margin-adjust {
    top: 4px;
    margin-top: -14px !important;
    position: relative;
    left: -5px;
}

@media (max-width: 767px) {

.margin-adjust {
    margin-top: -3px !important;
    padding-right: 0 !important; padding-left:0px !important;
    width: 100% !important;
}

	.device-date {
    display: inline-block;
    padding-left: 1px !important;
    padding-top: 13px !important;
}

.sub-device-date {
    float: right !important;
    margin-right: -15px !important;
    display: block !important;
    width: 100% !important;
    margin-top: -9px;
}

.select-size {
    padding-left: 0px;
    width: 104% !important;
    margin-left: 12px;
    padding-right: 1px;
    margin-right: 0px;
}


.export-buttons {
    margin-top: -25px !important;
    width: auto;
}

.btn-group>.btn:first-child {width:100%;}

.dropdown-toggle::after {
	
	float: right;
    margin-top: 8px;
    margin-right: -15px;
}

.export-buttons {
    margin-top: -25px;
    width: auto;
}

.dropdown-menu {width:96% !important;}

.pull-left-mobile {
    float: inherit !important; width:100%;
}
	
}
    
</style>
<body class="page-body">

    
    
     <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            
        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
        {% include "affiliates/new_design/menubar-1.html" %}
    
         <div class="main-content">
                    
             {% include "affiliates/new_design/header-1.html" %}
             <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                   
                        <h3 class="text-primary">Sub Affiliate Reports</h3>
                
                </div>
                <div class="col-md-7 align-self-center float-right">
                
                
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Reports</a></li>
                        <li class="breadcrumb-item active">Sub Affiliate Reports</li>
                    </ol>
                
                    
                    
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
            <div class="card">
            
            <div class="row">
            <div class="col-lg-12">
            <div class="card-title">
                              
                              <form action= "." method = "POST" id="DashBoardFormID" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();">  
                    
                    <!-- <input type="hidden" id="sitename" name="sitename" value="All" required="True"/> -->
                                                
                      <input type="hidden" name="format" value="json" />
                                
                                    
                                   <!--  <label class="col-sm-2" for="field-1" class="field123" style="padding-top:7px; width:116px;">Select Brand</label> -->
            
                                    
                                
                               <div class="col-lg-6 pull-left margin-adjust">
                                <div class="pull-left pull-left-mobile">
                              <select id="subaff_id" name="subaff_id" class="selectpicker dashboard-select" data-live-search="true" data-show-subtext="true" data-live-search="true" style="height:34px;border:1px solid #19b8f8;width:242px;position: relative;left: -14px;">
                                        <option value=""> Select Sub Affiliate </option>
                                        {%for subaff in subaff_list%}
                                            <option value="{{subaff.id}}">{{subaff.username}}</option>
                                        {%endfor%}
                                          </select>
                                      </div>
									  
								<div class="device-date sub-device-date">	  
									  
                         <div class="pull-left date-range-class" id="daterange" style="">
                            &nbsp; 
                            <span>{{from_date}} - {{to_date}}</span> <i class="glyphicon glyphicon-calendar fa fa-calendar calender-main"></i><i class="fa fa-caret"></i> 
                         </div> 
                         
                         <input type="submit" value="Submit" class="btn  btn-success egcs_submit_button">
                        
						</div>
						
                    </div>  

                    <div class="col-lg-6 pull-right export-buttons">    
                    
                        <ul>
                            <!-- <li><a href="" class="buttons-gray"><i class="fa fa-save"></i>&nbsp; Save as</a></li> -->
                            <li><button type="button" class="buttons-gray btn-export-all btn btn-default btn-sm">
                            <i class="fa fa-external-link"></i>&nbsp; Export</button></li>
                        </ul>

                    </div>                  
                                
                            </div>
                    </div>

                    </div>
                    
                    
                    
                    <div class="row">
                                    <div class="col-md-12" style="display:none;">
                                        
                                       
                                               
                                                
                                                <input type="hidden" id="sitename" name="sitename" value="All" required="True"/>
                                                  <input type="hidden" name="format" value="json" />
                                                
                                                
                                                <div class="row date-right-mobile-none mobile-left-date" style="margin-bottom: -15px;float:right;">
                                                <div class="col-md-12 form-group adjust-top-bottom-dash adjust-top-bottom-dash1">
                                                
                                                   
                                                    
                                                </div> 
                                                

                                            </div>
                                                
                                      
                                                <!-- SITE SELECTION -->
   
            <div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
                <div class="portlet-title">
                    
                </div>
                <div class="portlet-body form">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
                        <div class="form-body">
                            <div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
                                <div class="col-md-10">
                                    
                                        <input type="hidden" name="customid" value="Custom" required="True"/>
                                        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
                                        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
                                        
                                        
                                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        
                                            {%for j in siteid_list %}   
                                                <span class="player-details-tr"><input name="siteids" type="checkbox" value="{{j.id}}" {%if j.selected %}checked{%endif%} />{{j.name}}</span>
                                            {%endfor%}
                                                        
                                        </div> -->
                                        
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
           <br/>
                        </form>
            <!-- END SAMPLE FORM PORTLET-->
                                                
                                              
                                            
                                    </div>
                                </div>
                    
                    
                
               <div class="row">
               
<table class="table table-responsive table-striped table-bordered table-hover table_header_background" cellspacing="0" width="100%" id="player_data" style="width: 99%;"></table>

                <nav style="float: right">
                  
                  <ul class="pagination" style="margin: 5px 0 10px 0"></ul>

                </nav>
            
          </div> <!-- First Row -->
          
          </div> <!-- First div card -->
          
          

                <!-- End PAge Content -->
            </div>
                
                
                {% include "affiliates/new_design/footer-1.html" %}
                
            </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- Page Loading Overlay -->
    <!-- <div class="page-loading-overlay">
        <div class="loader-2"></div>
        
    </div> -->
    
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static_files/new_wynta/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="/static_files/new_wynta/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static_files/new_wynta/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="/static_files/new_wynta/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/static_files/new_wynta/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <!--Custom JavaScript -->
    <script src="/static_files/new_wynta/js/scripts.js"></script>
    
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>
   


<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>


   <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->

<!-- END PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="/static_files/js/utils.js"></script>

<script type="text/javascript">


// function getsubaff(){
//  var sitename = $('#sitename').val();
    // $.ajax({
    //       url: '/affiliate/getcategory/',
    //       dataType: 'json',
    //       method: 'POST',
    //       async: false,
    //       data: {csrfmiddlewaretoken: "{{ csrf_token }}",sitename: sitename},
    //       success: function(data) {
    //              categorys = data.categorys
    //             if (data.status == 'Error'){
    //                 //$("#error_spanID").html("Username already registered with Us.");
    //                 //$("#error_divID").show();
    //                 //$('#signupsubmit').attr('disabled','disabled');
    //                 $('#errorspan').html('Error in retrieving Media cateogorys.')
    //                 // var element = $("#username");
    //                 // $(element).closest( ".form-group" ).removeClass("has-success").addClass("has-error");
    //                 // var icon = $(element).parent().parent('.input-icon').children('i');
    //                 // icon.removeClass('fa-check').addClass("fa-warning");  
    //                 // icon.attr("data-original-title", "Username already registered with us.").tooltip({'container': 'body'});
    //             }
    //             else{
                    
    //                 $.each(categorys, function (i, item) {
                //      $('#category').append($('<option>', { 
                //          value: item,
                //          text : item 
                //      }));
                //  });
    //             }
    //       }
    // });
    // return true;
    
// }

function addPlayerslistDataTable(headersList, dataList, currency){
    $('#player_data:has(tbody)').dataTable().fnDestroy();
    if($("#player_data").find('tfoot').length == 0){
        var header_s = ""
        $.each(headersList, function( index, value ) {
            header_s = header_s + '<th></th>';
        });
        $("#player_data").append('<thead>'+header_s+'</thead><tfoot>'+header_s+'</tfoot>');
    }
    $("#player_data").dataTable({
        "data": dataList,
       "columns":headersList,
       fixedHeader: true,
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // converting to interger to find total
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\€,\$,\£,\₹]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
 
            // computing column Total of the complete result 
            var aTotal = api
                .column( 2 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(a) + parseFloat(b);
                }, 0 );
                
        var bTotal = api
                .column( 3 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(a) + parseFloat(b);
                }, 0 );
                
            var cTotal = api
                .column( 4 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(intVal(a)) + parseFloat(intVal(b));
                }, 0 );
                
         var dTotal = api
                .column( 5 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(intVal(a)) + parseFloat(intVal(b));
                }, 0 );
                
         var eTotal = api
                .column( 6 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(intVal(a)) + parseFloat(intVal(b));
                }, 0 );
        var fTotal = api
                .column( 7 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(intVal(a)) + parseFloat(intVal(b));
                }, 0 );
        var gTotal = api
                .column( 8 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(intVal(a)) + parseFloat(intVal(b));
                }, 0 );
        var hTotal = api
                .column( 9 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(intVal(a)) + parseFloat(intVal(b));
                }, 0 );
        var iTotal = api
                .column( 10 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(intVal(a)) + parseFloat(intVal(b));
                }, 0 );
        var jTotal = api
                .column( 11 )
                .data()
                .reduce( function (a, b) {
                    return parseFloat(intVal(a)) + parseFloat(intVal(b));
                }, 0 );

        // var kTotal = api
        //         .column( 12 )
        //         .data()
        //         .reduce( function (a, b) {
        //             return parseFloat(intVal(a)) + parseFloat(intVal(b));
        //         }, 0 );
        
            
                
            // Update footer by showing the total with the reference of the column index 
        $( api.column( 0 ).footer() ).html('Total');
            $( api.column( 2 ).footer() ).html(aTotal);
            $( api.column( 3 ).footer() ).html(bTotal);
            $( api.column( 4 ).footer() ).html(cTotal);
            $( api.column( 5 ).footer() ).html(dTotal);
            $( api.column( 6 ).footer() ).html(currency + eTotal.toFixed(2));
            $( api.column( 7 ).footer() ).html(currency + fTotal.toFixed(2));
            $( api.column( 8 ).footer() ).html(currency + gTotal.toFixed(2));
            $( api.column( 9 ).footer() ).html(currency + hTotal.toFixed(2));
            $( api.column( 10 ).footer() ).html(currency + iTotal.toFixed(2));
            $( api.column( 11 ).footer() ).html(currency + jTotal.toFixed(2));
            // $( api.column( 12 ).footer() ).html(currency + kTotal.toFixed(2));
        },
        fixedHeader: true,
        "iDisplayLength": 30,
       "createdRow": function( row, data, dataIndex ) {
               $(row).attr('id', 'order_'+data[0]);
           },
       //"scrollX": true,
       paging: true,
       searching: false,
       info: false,
       fixedHeader: {
            header: true,
            footer: true
        },
        dom: 'Bfrtip',
        buttons: [
            'csv',
            'excelHtml5',
            'pdfHtml5'
        ],
       "pageLength": 20,
       "autoWidth": false,
       "language": {
            "emptyTable":     "Nothing to see here... yet!"
        }
          });
    
}

function checknothanks(ele){
      $('#get-code').hide();
      $("#cover").hide();
  };

function getcode(ele){
    url = $(ele).attr('hrefs')
    $.ajax({
          type: 'GET',
          url: url,
          data: {},
          dataType: 'json',
          success: function(data) {
                if (data.status == "Success"){
                    $('#link-code').val(data.linkurl);
                    $('#get-code').show();
                    $("#cover").show();
                }
          }
    });
    return false;

}

function ajaxsubmitFormData(){
    var search_form = $("#DashBoardFormID");
    // if(!siteselected){
    //     alert("Please select at least one site.");
    //     return false;
    // }
    if(window.siteload == true){
        return true;
    }
    $(".preloader").show();
    data_set = search_form.serialize()
    data_set = data_set.replace('sitename','');
    // ajaxBlockUI($(".page-content"))
    $.ajax({
          type: search_form.attr('method'),
          url: search_form.attr('action'),
          data: data_set,
          dataType: 'json',
          success: function(data) {
                if (data.status == "success"){
                    $('.digg_pagination').html("");
                    //var decoded = $('<div />').html(data.pagination_div).text();
                    $('.digg_pagination').html(data.pagination_div);
                    addPlayerslistDataTable(data.header_list, data.data_list, data.currency);
                    $(".preloader").fadeOut("slow");$("#remove-overlay").removeClass("overlay");
                }
          }
    });
    return false;
}


jQuery(document).ready(function() { 
    var today = new Date();
    var tomorrow = new Date(today.getTime() + 24 * 60 * 60 * 1000);
    // $('#daterange').dateRangePicker({
    //   container: '#daterange-picker-container',
    // numberOfMonths: 3,
    // duration: 200,
    // datepickerShowing: true,
    // "autoUpdateInput": false,
    // format: 'MM/D/YYYY',

    //  MONTH_TO_DATE
    //    YEAR_TO_DATE
    //    LAST_WEEK
    //    LAST_MONTH
    //    LAST_7_DAYS
    //    LAST_30_DAYS 
    // defaultDateRange: 'Custom',
    // maxDate: new Date(),
    // minDate: new Date(2015, 30, 29),
    // // minDate: new Date(2012, 12, 29),
    // test: false,
    // today: null
    // }
    // );
    
    Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
    egcsTools.initNavigation();
   egcsTools.initDemoDaterange('{{from_date}}', '{{to_date}}');    
   $(".page-sidebar-menu li").eq(3).addClass("active");
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var currency = '{{currency|safe}}'
   var pagination_str = '{{pagination_div}}';
   var decoded = $('<div />').html(pagination_str).text();
   $('.digg_pagination').html(decoded);

   addPlayerslistDataTable(header_list, data_list, currency);
   // $('select[name="player_data_length"] option:eq(0)').prop('selected', true);
 
   // $("#player_data2").dataTable();
   
   $('.selectpicker').selectpicker({
  style: 'btn-info',
  size: 4
});

   
   $('#dashboard-report-range').find('span').attr('style', "display:'';" );
   $('#dashboard-report-range').find('span').removeClass('visible-lg-inline-block');
});

        function toggleSampleChatWindow()
        {
            var $chat_win = jQuery("#sample-chat-window");
    
            $chat_win.toggleClass('open');
    
            if($chat_win.hasClass('open'))
            {
                var $messages = $chat_win.find('.ps-scrollbar');
    
                if($.isFunction($.fn.perfectScrollbar))
                {
                    $messages.perfectScrollbar('destroy');
    
                    setTimeout(function(){
                        $messages.perfectScrollbar();
                        $chat_win.find('.form-control').focus();
                    }, 300);
                }
            }
    
            jQuery("#sample-chat-window form").on('submit', function(ev)
            {
                ev.preventDefault();
            });
        }
    
        jQuery(document).ready(function($)
        {
            $(".footer-sticked-chat .chat-user, .other-conversations-list a").on('click', function(ev)
            {
                ev.preventDefault();
                toggleSampleChatWindow();
            });
    
            $(".mobile-chat-toggle").on('click', function(ev)
            {
                ev.preventDefault();
    
                $(".footer-sticked-chat").toggleClass('mobile-is-visible');
            });
        });
        </script>


<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<!-- Date Picker Ends -->


<script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#DashBoardFromDate').val(start.format('MM/D/YYYY'));
        $('#DashBoardToDate').val(end.format('MM/D/YYYY'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
		maxDate: new Date(),
        alwaysShowCalendars: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment(new Date()).startOf('month'), moment(new Date()).endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
</script>

<script type="text/javascript">
                            $(document).ready(function(){
    $(".btn-export-all").click(function(){
        $(".dt-buttons").toggle();

    });
});
                            </script>


<div id="cover" style="display:none;"> </div>
</body>
</html>