<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="" />

	<title>Wynta - Thanks</title><link href="/static_files/new_wynta/images/favicon-dash.ico" rel="icon">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="/static_files/assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static_files/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-core-partner.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-forms.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-components.css">
	<link rel="stylesheet" href="/static_files/assets/css/xenon-skins.css">
	<link rel="stylesheet" href="/static_files/assets/css/custom.css">
	
	<link href="/static_files/new_wynta/css/style.css" rel="stylesheet">

	<script src="/static_files/assets/js/jquery-1.11.1.min.js"></script>
	

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

<style>

.preloader {
  position: fixed;
  border:none !important;
  border-radius:0 !important;
      animation: inherit !important;
    left: 0px;
    top: -40px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/static_files/new_wynta/images/Wynta_loder_blue_gif_thanks.gif) center no-repeat #fff !important;
	background-size:20% !important;
	display:none !important;
}


.form-control:focus, .form-control:active {border:none !important;}
.privacy-over-div {}
.login-page {font-family:sans-serif !important;}
.footer-text {    margin-right: 20px;
    color: #000;
    font-size: 14px;
    position: absolute;
    width: 99%;
    bottom: 15px;}
	
.footer-left-links ul li {display:inline;}
.footer-left-links ul li a {color:#000; padding:10px; font-size:14px;}
.footer-left-links ul li a:hover {text-decoration:underline;}

input {color:#000;}

::placeholder {
    color: #000;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #000;
}

.left-right-adjust {
    padding-top: 30px;
}

.input-group-addon {top:7px;font-size:15px; color:#dddddd;background: #f5f5f5 !important;}

.login-box .input-group-addon:after {border:none;}

.login-page .login-form .form-group .form-control {    font-size: 10pt;
    border: none;
    background: #f5f5f5;
    height: 50px; color:#000;}
	
	.login-box {width:80%; margin:0 auto; text-align:center;}
	
	.page-404 {    line-height: 12px;
    position: absolute;
    top: 35%;
    bottom: 50%;
    left: 0;
    right: 0;}
	
	.affiliate-text {    color: #343c49;
    font-weight: bold;
    font-size: 28px;}

.login-wynta-logo {display:block; margin:0 auto; display: block;
    margin: 0 auto;
    margin-left: 0px;
    margin-top: 3px;}
.input-group[class*=col-]
{float:none;}
label.error {
  z-index: 999 !important;
  color: #2c2e2f !important;
}
body {background:#fff !important;}

.footer-bottom-privacy {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.footer-bottom-text {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.page-logo.my-logo {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.top-header-fozil {
	background-color: #343c49 !important;
	color:{{ partner_obj.bgtext }} !important;
	height:60px; z-index:9999;
}

.top-header-fozil .navbar-brand {margin-left:-14px;}

.navbar-header .navbar-brand {
    padding-top: 5px;
}

.dropdown-toggle {
	background-color: {{ partner_obj.bgcolor }} !important;
	color:{{ partner_obj.bgtext }} !important;
}

.egcs_submit_button {
	border:1px solid #b8b8b8;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(184, 184, 184, 0.1) 70%, rgba(184, 184, 184, 0.2) 100%) !important;
    background-color: #fff !important;
    color: #2585c7 !important;
    border-color: #b8b8b8 !important;
    font-weight: normal;
}

.login-register-btn, .egcs_submit_button:hover { background-color: #edf3f7 !important;
  border-color: #858585 !important;
  color: #0f3753; 
}

.login-register-btn {
	background: #0091e0 !important;
    color: #fff !important;
    border-radius: 0px !important;
    border: none;
    height: 55px;
	
}

.login-register-btn:hover {
	background: #0a88cd !important;
    color: #fff !important;
    border-radius: 0px !important;
    border: none;
    height: 55px;
	
}


.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td
{
	background-color: {{ partner_obj.tablecolor }} !important;
    color: {{ partner_obj.tabletext }} !important;
}

@media only screen and (max-width: 700px) {


    .width-block-mobile {width:100%;}
	.middle-login-reg {width:90%;}
	.login-page {padding-top:5px !important;}
	.page-404 {position:relative;}
	.footer-text {
    margin-right: 20px;
    color: #000;
    font-size: 14px;
    position: relative;
    width: 100%;
    bottom: 15px; }
	
}



.input-group[class*=col-]
{float:none;}
body {background:#3f4a56 !important;}


.mobile-text {width: 75%;
    margin: 0 auto;
    line-height: 30px;
    padding-bottom: 15px;
    color: #000;}

.thanks-anchor {background: #0091e0;
    color: #fff !important;
    padding: 12px;
    margin-top: 10px;
    display: inline-block;}
	
	.thanks-anchor:hover {background:#1788c5;}
	
	.page-404 {width:98%;}
	
	.heading-steps {text-transform:uppercase; font-weight:bold; color:#000; font-size:20px;}
	
	
	.step1-first {
	    width: 60px;
    text-align: center;
    display: inline-block;
    background: #0091e0;
    margin-right: 10px;
    margin-top: -2px;
    border-radius: 62px;
    vertical-align: middle;
    line-height: 60px;
    color: #fff;
    border: none;
    margin-top: -80px;
	}
	
	.width-space {    width: 22%;
    background: #f8f8f8; 
    margin-left: 36px;
    padding: 20px;}
	
	.steps-setup {margin-top:60px;}
	
	.steps-all {    color: #000;
    }
	
	@media screen and (max-width: 767px) {
	
	.page-titles .breadcrumb {
    padding: 0;
    background: transparent;
    font-size: 14px;
    /* float: right; */
    position: absolute;
    right: 5px;
    top: -32px;
}

.mobile-text {line-height:28px;}

.steps-setup {margin-top:40px;}

.preloader {background-size:60% !important;}
    
	.width-space {width:100%; margin-bottom:50px; margin-left:10px;}
	.middle-login-reg {width:90%;}
	.login-page {padding-top:5px !important;}
	.page-404 {margin-top:20%;}
	
	.affiliate-text {font-size:22px;}
	
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
	
	.width-space {    width: 22%;
    background: #f8f8f8;
    margin-left: 30px;
    padding: 20px;}

}

.progress {
    height: 30px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}

.progress-bar.active, .progress.active .progress-bar {
    animation: 1s linear 0s normal none infinite running progress-bar-stripes;
}




	/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
	width:100%;
	max-width:97%;
 
  margin-top: 20px;
  margin-left: 35px;
 
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0; font-size:16px; color:#000000; border:none; padding:20px;
  background:#f9f9f9; margin-bottom:10px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #0091e0;
  background-image: #0091e0;
  color: #ffffff; border-radius:0;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
  display:none;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 10px;
  
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.heading-all-page-full {display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 20px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    padding-top: 1px;
	background:none;
    margin-left: 0px;
    font-weight: bold;
    color: #000;
	
	}
	
	.full-input-width {height: 50px !important;
    background: #f9f9f9;
    border: 1px solid #ccc;}
	
	.form-horizontal .form-group {padding-left:0px; padding-top:10px;}
	
	.card-title p {padding-left:0px;}
	
	.tt-form-help-text, .tt-form-info-text {padding-left:0px;}
	
	.card-title p {
    padding-left: 0px;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px; color:#919191;
}

.button-large {float:right; margin-right:20px;}

div.bhoechie-tab-menu div.list-group>a:hover {box-shadow: 0 0 1px 0 rgba(0,0,0,.21), 0 10px 33px 0 rgba(0,0,0,.16);
    cursor: pointer;
    transform: scale(1.01);}
	
	div.bhoechie-tab-menu div.list-group{border-right:1px solid #ccc;}
	
	div.bhoechie-tab-menu div.list-group>a:last-child {margin-bottom:0px;}
	
	
	.steps-all {
	
	width:30px; height:30px; 
	background:#fff; color:#000; 
	text-align:center; line-height:30px; margin-right:10px;
	    border-radius: 20px;
    display: inline-block;
	}
	
	.page-titles h3 {font-weight:bold; color:#000 !important;}
	.skip-button {
    background: #0091e0;
    padding: 5px;
    display: inline-block;
    width: 80px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.skip-button:hover {
    color: #fff;
    background: #1788c5;
}
	
	
	
	
	
	
	
	@media only screen and (max-width: 1200px) and (min-width: 768px) {
	
	div.bhoechie-tab-menu div.list-group>a {font-size:15px;}
		
		div.bhoechie-tab-menu div.list-group {width:300px;}
		
		div.bhoechie-tab-menu {max-width:300px;}
		
		.small-laptop {width:710px;}
	
	}
	
	
	@media (max-width: 767px) {
	
			div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    width: 100%;
    max-width: 94%;
    margin-top: 0;
    margin-left: 15px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

.tt-form-wrapper {margin-left:0px !important; margin-top:20px;}

div.bhoechie-tab-content {padding-left:0px;}
	
	}
	
	.full-width-submit {width:100%; float:right;}
	
.button-web-get {    text-transform: uppercase;
    width: auto;
    font-weight: bold;}
	
		label {font-size:16px; color:#000;}

	.page-404 {  width:100%;  line-height: 12px;
    position: absolute; text-align:center;
    top: 36%;
    bottom: 50%;
    left: 0;
    right: 0;}	
		
.progress {
    height: 30px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}

.progress-bar.active, .progress.active .progress-bar {
    animation: 1s linear 0s normal none infinite running progress-bar-stripes;
}

.affiliate-text {    color: #343c49;
    font-weight: bold;
    font-size: 20px;}
	
	.footer {left:0px !important; display:none;}

	
	@media (max-width: 767px) {
	.progress {width:90%;} 
	.page-404 {top:20%;}
	
	}

	
</style>
	
</head>
<body class="page-body login-page" style="background: #ffffff !important;">

 <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader" id="preloader">
        
   
	</div>

<header class="top-header-fozil" style="">
	<div class="navbar-header" style="height: 55px; width: 240px">
                    
                        <!-- Logo icon -->
                        <!-- <b><img src="/static_files/new_wynta/images/wynta-logo.svg" alt="homepage" class="dark-logo logo" style="height: 55px; width: 120px; margin-top: -4px;" /></b> -->
                        <!--End Logo icon -->
                        <!-- Logo text -->
                       <!-- <span><img src="/static_files/new_wynta/images/wynta-logo-icon.svg" alt="homepage" class="dark-logo" /></span>  -->
                   <a class="navbar-brand">
                        <!-- Logo icon -->
                        <b><img src="/static_files/new_wynta/images/wynta-logo.svg" alt="homepage" class="dark-logo logo"></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                       <span class="display-mobile" style="display: inline;"><img src="/static_files/new_wynta/images/wynta-logo-text.svg" alt="homepage" class="dark-logo logo-text"></span> 
                    </a>
					
					<br/></br>
                </div>
</header>
	
	<div class="login-container">
	
		<div class="row left-right-adjust">
	
			<div class="middle-login-reg login-box">
	
				<!-- Errors container -->
				<div class="errors-container">
	
					
				</div>
	
				 <div class="area-hide">
		
		<div class="col-md-12 page-404">
		<h3 class="affiliate-text" style="color: #343c49">Thank you for completing the steps leading up to the creation of your awesome new Affiliate Program! <br/>Give us just a few minutes to make it ready for you!</h3> <br/>

		
					<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
  </div>
</div> <!-- Loader -->					
				
	</div>
	
	</div>
	
	
			
			</div>
	
		</div>
	
	</div>



	<!-- Bottom Scripts -->
	<script src="/static_files/assets/js/bootstrap.min.js"></script>
	<script src="/static_files/assets/js/TweenMax.min.js"></script>
	<script src="/static_files/assets/js/resizeable.js"></script>
	<script src="/static_files/assets/js/joinable.js"></script>
	<script src="/static_files/assets/js/xenon-api.js"></script>
	<script src="/static_files/assets/js/xenon-toggles.js"></script>
	<script src="/static_files/assets/js/jquery-validate/jquery.validate.min.js"></script>
	<script src="/static_files/assets/js/toastr/toastr.min.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="/static_files/assets/js/xenon-custom.js"></script>
<script src="/static_files/assets/admin/pages/scripts/login.js" type="text/javascript"></script>



<br/>

<footer class="">

<div class="container-fluid">

<div class="privacy-over-div">

<div class="row">

<!-- <div class="pull-left"> -->

	<!-- <div class="footer-left-links"> -->
	
		<!-- <ul> -->
			<!-- <li><a href="">Customer Support</a></li> -->
			<!-- <li><a href="">Terms of Use</a></li> -->
			<!-- <li><a href="">Trust & Status</a></li> -->
			<!-- <li><a href="">Privacy</a></li> -->
			<!-- <li><a href="">Patent & Other IP</a></li> -->
		<!-- </ul> -->
	
	<!-- </div> -->

<!-- </div> -->

<div class="text-center">

<div class="footer-text">
	{% include "partner/new_design/footer-1.html" %}
</div>

</div>

</div> <!-- Row Div -->
					
</div>

</div>

</footer>


</body>
</html>