/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/

.col-lg-twice,
.col-lg-twice,
.col-lg-twice,
.col-lg-twice {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.green-bg { background:#4ca756;} .orange-bg { background:#e35b5a;} .violet-bg { background:#8775a7;}
.nav-bar-style li {float: left;
    margin-bottom: -1px;
    padding: 7px;
    margin: 5px;
    margin-right: 0px;
    color: #fff;}

.col-text-big { width:40%;}
	.text-left { text-align:left !important;}
.text-right { text-align:right !important;}
.gray-bg { background:#f5f5f5;}
.text-left-sidetext { padding-left:20px !important;}
.table-border-layouttbody>tr>td { border-top:none;}
.text-control-with-bg {padding-left:40px;}
.hr-line {    border-top: 1px solid #E0D0D0;
    margin: 5px 0px 6px 0px !important;
    width: 100%; }
	.portlet-adjust { padding-left:10px; padding-top:12px; padding-bottom:15px;}
	.form-control-text-val { height:103px !important;}
	.two-col-size-reduce-right {}
	.two-col-size-reduce {  padding-right:0px;}
	.player-details-tr {   display: inline-block;
    padding: 20px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px; font-weight:600; color:#333;}
	.top-setting { margin-top:3px;}
	.form-md-line-text-left { padding-top:5px !important; margin-left:-30px !important;}
	#player_data_length { display:none;}
.table-feature-stats { border:1px solid #eee !important;}
.table-feature-stats tr td {text-align:left;}
.header-section { background:#f1f1f1;}
.header-section tr th { text-align:left;}
.number-rights { text-align:right !important; padding-right:10px;}


@media (min-width: 768px) {
    .col-lg-twice {
        width: 100%;
        float: left;
    }
	.nav-bar-style li {float: left;
    margin-bottom: -1px;
    padding: 7px;
    margin: 5px;
    margin-right: 0px;
    color: #fff;}
	.green-bg { background:#4ca756;} .orange-bg { background:#e35b5a;} .violet-bg { background:#8775a7;}
	.col-text-big { width:40%;}
	.text-left { text-align:left !important;}
.text-right { text-align:right !important;}
.gray-bg { background:#f5f5f5;} .table-border-layout { border:none;}
.table-border-layouttbody>tr>td { border-top:none;}
.text-left-sidetext { padding-left:20px !important;}
.text-control-with-bg {padding-left:40px;}
.hr-line {    border-top: 1px solid #E0D0D0;
    margin: 5px 0px 6px 0px !important;
    width: 100%; }
	.portlet-adjust { padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 8px;}
	.form-control-text-val { height:auto;} 
	.two-col-size-reduce-right {}
	.two-col-size-reduce {  padding-right:0px;}
		.player-details-tr {     display: inline-block;
    padding: 20px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px; font-weight:600; color:#333;}
	.top-setting { margin-top:3px;}
	.form-md-line-text-left { padding-top:5px !important; margin-left:-30px !important;}
	#player_data_length { display:none;}
	.table-feature-stats { border:1px solid #eee !important;}
.table-feature-stats tr td {text-align:left;}
.header-section { background:#f1f1f1;}
.header-section tr th { text-align:left;}
.number-rights { text-align:right !important; padding-right:10px;}

}

@media (min-width: 992px) {
    .col-lg-twice {
        width: 100%;
        float: left;
    }
	.nav-bar-style li {float: left;
    margin-bottom: -1px;
    padding: 7px;
    margin: 5px;
    margin-right: 0px;
    color: #fff;}
	.green-bg { background:#4ca756;} .orange-bg { background:#e35b5a;} .violet-bg { background:#8775a7;}
	.col-text-big { width:40%;}
	.text-left { text-align:left !important;}
.text-right { text-align:right !important;}
.gray-bg { background:#f5f5f5;} .table-border-layout { border:none;}
.table-border-layouttbody>tr>td { border-top:none;}
.text-left-sidetext { padding-left:20px !important;}
.text-control-with-bg {padding-left:40px;}
.hr-line {    border-top: 1px solid #E0D0D0;
    margin: 5px 0px 6px 0px !important;
    width: 100%; }
	.portlet-adjust { padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 8px;}
	.form-control-text-val { height:103px;}
	.two-col-size-reduce-right {}
	.two-col-size-reduce {  padding-right:0px;}
		.player-details-tr {    display: inline-block;
   padding: 20px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px; font-weight:600; color:#333;}
	.top-setting { margin-top:3px;}
	.form-md-line-text-left { padding-top:5px !important; margin-left:-30px !important;}
	#player_data_length { display:none;}
	.table-feature-stats { border:1px solid #eee !important;}
.table-feature-stats tr td {text-align:left;}
.header-section { background:#f1f1f1;}
.header-section tr th { text-align:left;}
.number-rights { text-align:right !important; padding-right:10px;}

}

@media (min-width: 1200px) {
    .col-lg-twice {
        width: 20%;
        float: left;
    }
	.nav-bar-style li {float: left;
    margin-bottom: -1px; margin-top:0px;
    padding: 7px;
    margin: 5px;
    margin-right: 0px;
    color: #fff;}
	.green-bg { background:#4ca756;} .orange-bg { background:#e35b5a;} .violet-bg { background:#8775a7;}
	.col-text-big { width:40%;}
	.text-left { text-align:left !important;}
.text-right { text-align:right !important;}
.gray-bg { background:#f5f5f5;} .table-border-layout tr td { border:none;}
.table-border-layouttbody>tr>td { border-top:none;}
.text-left-sidetext { padding-left:20px !important;}
.text-control-with-bg {padding-left:40px;}
.hr-line {    border-top: 1px solid #E0D0D0;
    margin: 5px 0px 6px 0px !important;
    width: 100%; }
	.portlet-adjust { padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 8px;}
	.form-control-text-val { height:103px;}
	.two-col-size-reduce-right {}
	.two-col-size-reduce {  padding-right:0px;}
		.player-details-tr {    display: inline;
    padding: 10px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px; font-weight:600; color:#333;}
	.top-setting { margin-top:3px;}
	.form-md-line-text-left { padding-top:5px !important; margin-left:-30px !important;}
	#player_data_length { display:none;}
	.table-feature-stats { border:1px solid #eee !important;}
.table-feature-stats tr td {text-align:left;}
.header-section { background:#f1f1f1;}
.header-section tr th { text-align:left;}
.number-rights { text-align:right !important; padding-right:10px;}


}





.dt-buttons{
    float: right !important;
    padding: 6px;
    background: #525e64 !important;
    margin-bottom: 8px;
}
.dt-buttons:hover{
    
    background: #262C2F !important;
    }

.buttons-csv span{
    padding: 30px;
}
a.dt-button{
    color:white !important;
    text-decoration: none;
}

.affiliate-create {
	margin-top: 18px;
    padding-left: 105px;
}

.affiliate_checkbox_span{
	line-height: 45px;
}
.error_form{
	color:red;
}
.success_form{
	color:green;
}
.django_form .row{
	
	margin-bottom:4px;
}


.input-icon.right > i {
    right: 21px;
    top: 8px;
    float: right;
}
.input-icon.right.rightalign > i{
	 right: 9px !important;
}

.submitbtn{
	line-height: 1.3 !important;
}

.margin_left{
	/*margin-left:12px;*/
	
}
.category{
    margin-left: -34px;
}

.django_form .form-control .checkbox_width{
	width: 20px !important;
}



.django_form .form-control{
	width:200px;
	display: inline-block;
	/*margin-left:12px;*/
	margin-top: 10px;
}
.date_filter_margin{
	margin-top:10px ;
}
.filter_span{
	/*margin-left:12px;*/
}
td, th {
	text-align: center ;
    vertical-align: middle !important;}

.btn-success{
  background-color: #428bca !important;
  border-color: #428bca !important;
  color:#fff;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
    color: #fff;
    background-color: #286090 !important;
    border-color: #23527c;
}

.btn-select-all{
	color: #fff;
	background-color:#726EAF;
	border-color:#726EAF;
	
}

.btn-select-all:hover, .btn-select-all:focus, .btn-select-all:active, .btn-select-all.active{
	background-color:#302C73;
	border-color:#302C73;
	color: #fff;
}
/*searchpage*/
#search_table td{
	height: 35px;
	text-align: left;
}
.django_form .form-control{
	border-radius: 0px !important;
}
#search_table span{
    /*float: left;*/
    /*margin-left: 14px;*/
    margin-bottom: 8px; line-height:35px;
    /*margin-top: 10px;*/

}
#search_result_table thead{
	background-color: #A7A6AB;
	color:#fff;
}



.page_form_align span{
    float: left;
    margin-left: 14px;
    margin-bottom: 8px;
    margin-top: 10px;

}
.page_form_align thead{
	background-color: #A7A6AB;
	color:#fff;
}

.table_header_background thead{
	background-color: #A7A6AB;
	color:#fff;
}

.add_tracker{
	color: white !important;
    background-color: #35aa47;
    padding: 0px 0px 0px 15px;
    margin-right: -9px;
    text-decoration: none;
    width:200px;
    height:34px;
    margin-top: 10px;
}
.affinfo_col_data{
	color: #1684DE;
    font-weight: 600;
}

.add_tracker:hover{
	background-color: #3a8546!important;	
}
.add_tracker a{
	color: white !important;
    
}
.add_tracker a:hover{
	text-decoration: none !important;
}
.alert{
	border-radius:0px !important;
	margin-bottom: 2px !important;
}
.alert-success-msgamamsas{
    background-color: #abe7ed;
    border-color: #abe7ed;
    color: #27a4b0;
    font-size:16px;
}

.alert-success-msg{
	background-color: #51981b;
    /* border-color: #abe7ed; */
    color: white;
    font-size: 16px;
    /* height: 33px; */
    padding: 6px !important;
}
.alert-error-msg{
	background-color: #DEA1A1;
    border-color: #E0A2A2;
    color: white;
    font-size: 16px;
	
}
.table_footer_background tfoot{
	background-color: #8AE0E8;
	color: black;
    font-weight: bold;
}
.dashboard_table_header_background thead{
	background-color: #E4E4E4;
}
/*searchpage*/
.egcs_submit_button{
	width: 100px !important;
}

.portlet.box.noborder{
	border: 0px;
}
hr{
	border-top: 1px solid #E0D0D0;
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #284AA9;
    color: white;
    border: 1px solid #284AA9; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.chart{
	overflow-x:auto !important;
}

.daterangepicker .ranges li{
	border-radius:0px !important;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/static_files/images/Preloader_21.gif) center no-repeat #fff;
}

.btn{
	border-radius: 0px !important;
}
.portlet{
	border-radius: 0px !important;
}

.caption_div{
	background-color: #A7A6AB;
    margin-bottom: 16px;
    padding: 1px;
    font-size: 14px;
    color: #fff;
}
.blockUI{
	background-color: #fff !important;
}

.daterangepicker_input .input-mini {
    width: 112px !important;
 }
 .daterangepicker_input .fa-calendar {
    top: 13px !important;
    left: 84px !important;
 }
 
 .daterangepicker_input{
 	padding-top: 6px;
    padding-left: 77px;
    
 }
 .daterangepicker .calendar{
 
 margin-left:3px;
 border:1px solid #d6cdcd;
 
 }
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  padding-right: 25px !important;

}
