<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>eGCS | Affiliate Reports</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>

<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="/static_files/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="/static_files/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="/static_files/assets/admin/layout/css/themes/egcs_blue.css" rel="stylesheet" type="text/css"/>
<link href="/static_files/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>

<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
<style type="text/css">
@media (min-width: 1200px) {
.decrease-adjust-width {width:23%;}
.increase-adjust-width {width:27%;}
}

</style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content ">
<!-- BEGIN HEADER -->
<!-- BEGIN HEADER -->
{% include "affiliates/new_design/header.html" %}
<!-- END HEADER -->
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	{% include "affiliates/new_design/menubar.html" %}
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<!--<h3 class="page-title">
			Home <small>Players Game Transactions</small>
			</h3> -->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="/affiliate/home/">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="/affiliate/reports/">Reports</a>
						<i class="fa fa-angle-right"></i>
					</li>
				</ul>
			</div> 
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box lgreen">
						<div class="portlet-title">
							<div class="caption">
								Reports
							</div>
						</div>
						<div class="portlet-body" style="min-height: 493px;">
							<div class="table-toolbar django_form">
							<form action= "." id="DashBoardFormID" method="POST" name='DashBoardForm' role="form" onsubmit="return ajaxsubmitFormData();">
							<input type="hidden" name="format" value="json" /><br/>
							{%csrf_token%}
							
							<div class="row">
        
						        <div class="decrease-adjust-width col-lg-3 col-md-6 col-sm-12 col-xs-12">
						         <span class="filter_span">Select Campaign:</span> <br/>
						          <select name="campaign_id">
						           <option value="all">All Campaigns</option>
						           {%for cam in campaign_list %}
						            <option value="{{cam.id}}">{{cam.name}} - {{cam.id}}</option>
						           {%endfor%}
						          </select>
						        </div>
						        
						        
						        <div class="increase-adjust-width col-lg-3 col-sm-6 col-xs-12">
						         <span>Bonus Code: </span> <br/> <input type="text" name="bonuscode" value="All" style="color: #ad9f9f;"/>
						        </div>
						        
						        <!-- <div class="decrease-adjust-width col-lg-3 col-md-6 col-sm-12 col-xs-12" >
						         <span>Select Player Type :</span> <br/>
						         <select name="playertype">
						           <option value="any">Any</option>
						           <option value="cash" selected>Cash</option>
						           <option value="free">Free</option>
						          </select>
						        </div> -->
						
						        
						        
						        <div class="decrease-adjust-width col-lg-3 col-md-3 col-sm-6 col-xs-12">
						         <span class="filter_span">Select Player Type:</span><br/><br/>
						          <span class="player-details-tr"><input type="checkbox" name="cash_players" class="checkboxgroup1" {%if playertype == "cash_players" or playertype == "all_players"%} checked="checked"{%endif%}/ style="width:19px;">Cash</span>
						          <span class="player-details-tr"><input type="checkbox" name="free_players" class="checkboxgroup1" {%if playertype == "free_players" or playertype == "all_players"%} checked="checked"{%endif%}/ style="width:19px;">Free</span>
						          <span class="player-details-tr"><input type="checkbox" name="all_players" id="Allcheckbox" onchange="checkAll(this,'1')" {%if playertype == "all_players" %} checked="checked"{%endif%}/>Any</span>
						        </div>
						        
						        <div class="increase-adjust-width col-lg-3 col-md-3 col-sm-6 col-xs-12">
						          <span class="filter_span">Select Register Type:</span><br/><br/>
						          <span class="player-details-tr"><input type="checkbox" name="newusers" class="checkboxgroup2" {%if registertype == "newusers" or registertype == "any" %} checked="checked"{%endif%}/>New Users</span>
						          <span class="player-details-tr"><input type="checkbox" name="oldusers" class="checkboxgroup2" {%if registertype == "oldusers" or registertype == "any"%} checked="checked"{%endif%}/ style="width:19px;">Old Users</span>
						          <span class="player-details-tr"><input type="checkbox" name="any" id="Allcheckbox1" onchange="checkAll(this,  '2')" {%if registertype == "any" or registertype == "any"%} checked="checked"{%endif%}/ style="width:19px;">Any</span>
						        </div>

						        <input type="hidden" name="customid" value="Custom" required="True"/>
						        <input type="hidden" name="fromdate" value="{{ui_from_date}}" id="DashBoardFromDate" required="True"/>
						        <input type="hidden" name="todate" value="{{ui_to_date}}" id="DashBoardToDate" required="True"/>
					        
					       </div>
							
							<!-- <div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<span class="filter_span">Select Register Type:</span><br/><br/>
										<span class="player-details-tr"><input type="checkbox" name="newusers" {%if registertype == "newusers" or registertype == "any" %} checked="checked"{%endif%}/>New Users</span>
										<span class="player-details-tr"><input type="checkbox" name="oldusers" {%if registertype == "oldusers" or registertype == "any"%} checked="checked"{%endif%}/ style="width:19px;">Old Users</span>
										<span class="player-details-tr"><input type="checkbox" name="any" {%if registertype == "any" or registertype == "any"%} checked="checked"{%endif%}/ style="width:19px;">Any</span>
								</div>
							</div> -->
							<br/>
							<div class="row">
								
								<div class="col-lg-4 col-md-9 col-sm-12 col-xs-12" >
									<span>Select Date Range:</span> <br/>
									<div id="dashboard-report-range" class="tooltips btn btn-sm btn-default date_filter_margin" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
									<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block">{{from_date}} - {{to_date}}</span>&nbsp; <i class="fa fa-angle-down"></i>
									</div>&ensp;&ensp;
								</div>
								
								<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
									<span class="filter_span">Select Device:</span><br/>
									<select name="channel" class="date_filter_margin">
									{%for i in channels_list %}
										<option value="{{i}}" {%if channel == i %}selected="selected"{%endif%}>{{i}}</option>
									{%endfor%}
									</select>
								</div>
								
								<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12 margin_left">
										<span>Select Site:</span> <br/>
									<div id="" class="tooltips btn btn-sm btn-default date_filter_margin click-plus-minus" data-container="body" style="width:250px;" onclick="show_sites()">
									<i class="fa fa-globe top-setting" style="float:left;"></i>&nbsp; <span class="" style="font-weight:600 !important; margin-left:-130px; text-transform:capitalize !important;">Select Site</span>&nbsp; <span class="" style="float:right; margin-left:-11px;"><i style="" class="fa fa-plus top-setting"></i></span>
									</div>&ensp;&ensp;   
									
								</div>
								
							
							</div>
							<div class="portlet light bordered" style="display:none; border:none !important; padding-left:0px; margin-bottom:0px; padding-bottom:0px;" id="siteFilter">
								<div class="portlet-title">
									<div class="caption font-green-haze">
										<span> Filter Sites: </span>
									</div>
								</div>
								<div class="portlet-body form">
									
										{%csrf_token%}							
										<div class="form-body">
											<div class="form-md-line-text-left form-group form-md-line-input form-md-line-text-left" id="SiteListDiv">
												<div class="col-md-10">
													
														
															<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
																{%for j in siteid_list %}	
																	<span class="player-details-tr"><input name="siteids" type="checkbox" value="{{j.id}}" {%if j.selected %}checked{%endif%} />{{j.name}}</span>
																{%endfor%}
															</div>
													
												</div>
										</div>
										</div>
										
		
									
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
									<input type="submit" value="Search" class="btn  btn-success egcs_submit_button"/> <input type="reset" value="Cancel" class="btn  grey-mint egcs_submit_button" id="RESET"/>
								</div>
							</div>
							<hr>
							</form>
							</div>
							<center><p><b>&ensp;NC: </b>New Cash Player&ensp;<b>OC: </b>Old Cash Player <b>&ensp;NF: </b>New Free Player<b>&ensp;OF: </b>Old Free Player </p></center>
							<p id="Count">Total Count: {{count}}</p>
							<table class="table table-striped table-bordered table-hover table_header_background table_footer_background" id="player_data">
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{% include "affiliates/new_design/footer.html" %}
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/static_files/assets/global/plugins/respond.min.js"></script>
<script src="/static_files/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="/static_files/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/static_files/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/static_files/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="/static_files/assets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
 <script src="//cdn.datatables.net/buttons/1.1.1/js/dataTables.buttons.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.1/js/buttons.html5.min.js"></script> 

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static_files/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="/static_files/assets/admin/pages/scripts/table-managed.js"></script>
<script src="/static_files/js/egcs_new_design_common.js"></script>
<script src="/static_files/js/utils.js"></script>
<script>




function addPlayerslistDataTable(headersList, dataList, sumList){
	$('#player_data:has(tbody)').dataTable().fnDestroy();
	
	$("#player_data").dataTable({
		   "data": dataList,
		   "columns": headersList,
	       //"processing": true,
	       //"serverSide": true,
	       "createdRow": function( row, data, dataIndex ) {
	           $(row).attr('id', 'order_'+data[0]);
	           //$(row).attr('username', data[1]);
	          // var html_str  = '<a href="/playerinfosave/'+data[2]+'"  target="_blank">'+data[0]+'</a>';
	           //$($(row).find('td')[0]).html(html_str);
	           //console.log(dataIndex);
	       },
	       
	       "rowCallback": function( row, data ) {
	           //if ( $.inArray( $(row).attr('id'), selected_from_group) !== -1 ) {
	            //   $(row).addClass('selected');
	           //}
	       },
	       
	       "fnFooterCallback": function( nFoot, aData, iStart, iEnd, aiDisplay ) {
	    	   $(this).find("tfoot").remove();
	    	   if (dataList.length != 0){
	    	   		$(this).append("<tfoot><tr><td>"+sumList[0]+"</td><td>"+sumList[1]+"</td><td>"+sumList[2]+"</td><td>"+sumList[3]+"</td><td>"+sumList[4]+"</td><td>"+sumList[5]+"</td><td>"+sumList[6]+"</td></tr></tfoot>");
	    	   }
	         },
	       searching: false,
	       ordering:true,
	       info: false,
	       paging:false,
	       "processing": true,
	       "order": [[ 0, "asc" ]],
	       iDisplayLength: -1,
	       dom: 'Bfrtip',
	       buttons: [
	  	           'csv'
	  	       ],
	      
	});
	
	//$("#RESET").click();
	setTimeout(ajaxUnBlockUI($(".page-content")), 2000);
	
}

function ajaxsubmitFormData(){
	var search_form = $("#DashBoardFormID");
	ajaxBlockUI($(".page-content"))
	$.ajax({
		  type: search_form.attr('method'),
		  url: search_form.attr('action'),
		  data: search_form.serialize(),
		  dataType: 'json',
		  success: function(data) {
				if (data.status == "success"){
					//$('.digg_pagination').html("");
					//var decoded = $('<div />').html(data.pagination_div).text();
					//$('.digg_pagination').html(data.pagination_div);
					$("#Count").text("Total Count: "+data.count)
					addPlayerslistDataTable(data.header_list, data.data_list, data.sum_list);
				}
				else{
					setTimeout(ajaxUnBlockUI($(".page-content")), 2000);
				}
		  },
		  error: function(XMLHttpRequest, textStatus, errorThrown) { 
			  setTimeout(ajaxUnBlockUI($(".page-content")), 2000);
		        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
		    } 
	});
	return false;
}


function checkAll(ele, groupID) {
    var checkboxes = document.getElementsByClassName('checkboxgroup'+groupID);
    if (ele.checked) {
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox') {
                $(checkboxes[i]).attr("checked","checked");
                $(checkboxes[i]).parent().addClass("checked");
            }
        }
    } else {
        for (var i = 0; i < checkboxes.length; i++) {
            console.log(i)
            if (checkboxes[i].type == 'checkbox') {
             $(checkboxes[i]).removeAttr("checked");
             $(checkboxes[i]).parent().removeClass("checked");
            }
        }
    }
}

jQuery(document).ready(function() {       
   Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
   //TableManaged.init();
   egcsTools.initNavigation();
   egcsTools.initDashboardDaterange();
   
   var data_list = {{data_list|safe}};
   var header_list = {{header_list|safe}};
   var sum_list = {{sum_list|safe}};
   //var pagination_str = '{{pagination_div}}';
   //var decoded = $('<div />').html(pagination_str).text();
   //$('.digg_pagination').html(decoded);
   addPlayerslistDataTable(header_list, data_list, sum_list);
   
   
   $(".checkboxgroup1").change(function() {
	   var checkboxes = $(".checkboxgroup1");
	   var all_flag = true;
	      for (var i = 0; i < checkboxes.length; i++) {
	           if (checkboxes[i].checked == false) {
	              all_flag = false;
	          }
	      }
	      if (all_flag){
	       $("#Allcheckbox").prop("checked",true).attr("checked","checked").parent().addClass("checked");;
	      }
	      else{
	       $("#Allcheckbox").prop("checked",false).removeAttr("checked").parent().removeClass("checked");;
	      }
	});
   
   $(".checkboxgroup2").change(function() {
	   var checkboxes = $(".checkboxgroup2");
	   var all_flag = true;
	      for (var i = 0; i < checkboxes.length; i++) {
	           if (checkboxes[i].checked == false) {
	              all_flag = false;
	          }
	      }
	      if (all_flag){
	       $("#Allcheckbox1").prop("checked",true).attr("checked","checked").parent().addClass("checked");;
	      }
	      else{
	       $("#Allcheckbox1").prop("checked",false).removeAttr("checked").parent().removeClass("checked");;
	      }
	});
   
   
});
</script>


</body>
<!-- END BODY -->
</html>